.ats-firstname {
    /*max-width: 342px !important;*/
    border:1px solid #d2d2d2 !important;
    border-radius: 0px !important;
}
.ats-lastname {
    /*max-width: 342px !important;*/
    border:1px solid #d2d2d2 !important;
    border-radius: 0px !important;
}
.ats-email {
    /*max-width: 342px !important;*/
    border:1px solid #d2d2d2 !important;
    border-radius: 0px !important;
    height: 42px !important;
}
.ats-phone {
    /*max-width: 342px !important;*/
    border:1px solid #d2d2d2 !important;
    border-radius: 0px !important;
}
.ats {
    max-width: 342px ;
}
.ats-12 {
    max-width: 705px !important;
}
form.cmxform {
    margin-left: 15px;
    margin-right: 15px;
}
.ats-right {
    margin-right: 15px;
}
label {
    padding-left: 0px !important;
}
.ats-btn {
    margin-right: 0px;
    padding-right: 0px;
    text-align: right;
}
