
div.sticky-container
{
    padding: 5px;
    margin: 3px;
}
.on-win{
    right: 3%;
    position: absolute;
    top: 0;
    background: #fff;
    text-align: center;
    /*border: 1px solid;*/
    padding: 2px;
    /*box-shadow: 3px 4px #888888;*/
}

.tooltip {
    position: relative;
    display: block;
    opacity: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555!important;
    position: absolute;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    bottom: 125%;
    left: 20%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    width: 50%;
    padding: 1%!important;
    min-height: 35px!important;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.on-hire{
    position: absolute;
    top: 0;
    left: 3%;
    background: #fff;
    text-align: center;
    /*border: 1px solid;*/
    padding: 2px;
    /*box-shadow: 3px 4px #888888;*/
}
.img-jb-ctner{
    padding: 15px;
    background: #F2F2F2;
    width: -webkit-fill-available;
}
.jb-header-main
{
    background: #FFF;
    padding: 15px;
    margin: 15px;
    overflow-wrap: break-word;
    position: relative;
}
.tsp-title
{
    color: #000;
    font-weight: 700;
    font-size: 20px;
}
.on-hire-left{
    position: absolute;
    /*bottom: 55px;*/
    background: #fff;
    padding: 7px;
    text-align: center;
    /*border: 1px solid;*/
    padding: 2px;
    /*box-shadow: 3px 4px #888888;*/
}

.on-hire-right{
    position: absolute;
    /*bottom: 55px;*/
    background: #fff;
    padding: 7px;
    text-align: center;
    /*border: 1px solid;*/
    padding: 2px;
    /*box-shadow: 3px 4px #888888;*/
    left: 0px;
    top: 0px;
}
.bounty {
    padding: 1em;
    background: white;
    height: 4.5em;
    width: 4em;
    box-shadow: 0 8px 6px -6px black;
}
.bounty > .fa-gift {
    font-size: 29px;
    color: #74da74;
}
.bounty > .fa-bookmark {
    font-size: 29px;
    color: #3AC5D9;
}

.bounty > p {
    flex-wrap: unset;
    font-size: 12px;
    white-space: nowrap;
    margin-top: -3px;
    margin-left: -7px;
}

.icon:hover {
    color: #008dff !important;
    cursor: pointer;

}

.icon {
    font-size: 24px;

}

.love , .fa-star{
    font-size: 24px;
    color: #1FB5AD;
}

.green , .fa-facebook-f{
    font-size: 24px;
    color: green;
}

.sidebar-toggle-box
{
    display: none;
}

.fas, .far, .fab{
    font-family: unset;
}

.right-menu.share {
    /*color: orange!important;*/
    font-size: 22px;
    font-weight: 700;
    height: 25px;
}

.sticky-container >p{
    margin-top: 20px;
}

.job-sidebar {
    background: #f1f2f7;
    position: fixed;
    top: 0;
    right: 0;
    width: 10em;
    text-align: center;
    margin-top: 60px;
    bottom: 0px;

}

.job-recommend-box-applied-job .job-sidebar-box {
    width: fit-content;

}

.job-alert-box-recommend {
    background: transparen!important;
    width: fit-content!important;

}



.___white {
    display: none;
}
#container {
    height: auto;

}

#search-bar .rewards-home > * .pub {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background: #f4f5f5;
    padding: 0px;
    margin: 0px;
    max-height: 152px;
    box-shadow: none !important;
    position: relative;
    min-height: 152px;
}

#search-bar .rewards-home > * .pub img {
    background: none;
    margin: 0px;
    width: 100%;
    height: 100%;
    box-shadow: none !important;
    max-height: 152px;
    padding-top: 2em;
}

#search-bar .rewards-home > div {
    margin-right: 3% !important;
    margin-bottom: 3%;
    max-width: 300px;
}

#search-bar .rewards-home > * .br-content > * {
    text-align: left;
    /* font-family: semibold; */
    font-size: 18px;
    color: #7dcc93;
    line-height: 19px;
    white-space: nowrap;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    line-height: 38.4px;
    position: relative;
    /* margin: 10px 0; */
    color: #555;
    width: 300px;
}

#search-bar .rewards-home > * .br-content {
    padding: 6px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    min-height: fit-content;
    height: 30px;
    /* min-width: auto; */
    min-width: -moz-available;
    max-width: 300px;
    width: 300px;
    display: table;
}


#search-bar .rewards-home > div {
    margin-right: 3% !important;
    margin-bottom: 3%;
    max-width: 300px;
    max-height: 331px;
}

.card-profile {
    width: 100%;
    background: white;
    box-shadow: 0 3px 19px 4px #CCC;
    max-width: 300px;
    margin: 1%;
    text-align: left;
    position: relative;
    text-overflow: ellipsis;
    min-width: 20%;
    /* display: table; */
}

#content {
    display: inline-grid;
    width: 93%;
}

.card-profile .title {
    color: grey;
    font-size: 18px;
}

.set > h2 {
    margin-left: 2%;
    white-space: nowrap;

    overflow: hidden;
    text-overflow:ellipsis;
    color: white;
}

.bounty > .fa-gift {
    font-size: 29px;
    color: #74da74;
}

.wrapper {
    background: #555;
}

.bounty > p {
    flex-wrap: unset;
    font-size: 12px;
    white-space: nowrap;
    /*margin-top: -11px;*/
    margin-left: -7px;
}

.job-header-icon{
    font-size:22px;
    margin-right: 5px;
}

.bounty {
    padding: 1em;
    background: white;
    height: 4.5em;
    width: 4em;
    box-shadow: 0 8px 6px -6px black;
}

.cao1 {
    left: 0px;
    float: left;
    /*position: absolute;*/

}

.cao {

    float: right;
    right: 0;
    /*position: absolute;*/
    right: 0px;
    text-align: right;
}

.card-topp {
    height: 2em;
}

.card-profile button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: left;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card-profile a {
    text-decoration: none;
    font-size: 22px;
    margin-left: 5px;

    color: #555;
}

.caomgiar {
    white-space: nowrap;
    text-transform:capitalize;
    overflow: hidden;
    text-overflow:ellipsis;
}

.caomgiar > i
{
    font-size: 26px;
}

._share {
    display: flex;
    width: -webkit-fill-available;
}
.card-profile a:hover {

    color: #34C3D8;
}

#head > div {
    display: flex;
    margin: auto;
    width: 75%;
}

._share a i {
    color: #555;
}

._share a i:hover {
    color: #1FB5AD!important;
}

.card-profile button:hover, a:hover {
    opacity: 0.7;
}

.social {
    display: none;
    margin-left: 22px;

    position: absolute;
}

.social a {
    margin-left:5px;
}

._share:hover .social {
    display: block;
}

.set-job {
    display:  flex;
}

.idk {
    display: flex;
}

.poi {
    text-align: right;width: 100%;
}

.poi a {
    font-size: 12px;
}

.www {
    position: absolute;
    float: right;
    text-align: right;
    right: 0;
    color: #1FB5AD;
}
.www svg , .ww svg{
    color: #1FB5AD;
    border-radius: 50%;
    border: 5px solid #1FB5AD;
    opacity: 0.5;
}

.www:hover svg {
    opacity: 1;
}

#head {
    height: 27em;
    margin-top: 5em;
    background: url(\resources\frontend\css\theme\content\circle_network.png) center center no-repeat;
}

.sidebar-toggle-box .fa-bars {
    display: none;
}

.wrapper {
    margin-top: 0px;
}

#head > div > div {
    width: auto;
    margin-left:1em ;
    margin-top: 9em;

}

.fa-arrow-right, .fa-arrow-left {
    font-size: -webkit-xxx-large;
    color: aliceblue;
    margin-top: 155px;
    cursor: pointer;
}

.ww {
    position: absolute;
    float: left;
    text-align: left;
    left: 0;
    opacity: 0.6;
    color: #1FB5AD;
}


#skills {
    width: 5em;
}

html, body {
    width: 100%;
    height: 100%;
}

.bg-img {
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    position: relative;
}
.bg-img:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 14.2em;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, #55555512, #555 100%);
    height: 13em;
}


.set:first-child {
    margin-top: -5%;

}

.lll {
    width: 10em;
    font-size: 20px;
    height: 2em;
}

#search {
    height: 3em;
    width: 150px!important;
}


._active {
    color: #1FB5AD!important;
}

.fa-star{
    cursor: pointer;
}

.set {

    margin-left: 10px;
}

@media screen and (max-width: 992px) {
    .set-job {
        display: block;
    }

    .card-profile {
        margin: 0 auto;
        margin-top: 10px;
    }
    #head > div {
        display: block;
        margin: 0 auto;
        margin-left: 6em;
        margin-top: 0em;
    }
    #head > div > div {
        width: auto;
        margin-left: 1em;
        margin: 0 auto;
        margin-top: 1em;
    }
    #search {
        height: 3em;
        width: 14em!important;
        height: 41px!important;
    }


}

select {
    zoom: 1.1;
}

.bounty > .fa-bookmark {
    font-size: 29px;
    color: #3AC5D9;
}

.fa-facebook-f{
    /*content: url("/resources/files/svg/facebook-f-brands.svg");*/
    /*width: 25px;*/
    /*filter: invert(34%) sepia(0%) saturate(2624%) hue-rotate(326deg) brightness(91%) contrast(91%);*/
    /*height: 23px;*/
}
.fa-twitter{
    /*content: url("/resources/files/svg/twitter-brands.svg");*/
    /*width: 25px;*/
    /*margin-top: 3px;*/
    /*filter: invert(34%) sepia(0%) saturate(2624%) hue-rotate(326deg) brightness(91%) contrast(91%);*/
    /*height: 23px;*/
}
.fa-linkedin{
    /*content: url("/resources/files/svg/linkedin-brands.svg");*/
    /*width: 25px;*/
    /*filter: invert(34%) sepia(0%) saturate(2624%) hue-rotate(326deg) brightness(91%) contrast(91%);*/
    /*height: 23px;*/
}
.fa-dribbble{
    /*content: url("/resources/files/svg/city-solid.svg");*/
    /*width: 25px;*/
    /*height: 23px;*/
    /*filter: invert(34%) sepia(0%) saturate(2624%) hue-rotate(326deg) brightness(91%) contrast(91%);*/
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-dribbble:hover {
    filter: invert(51%) sepia(94%) saturate(323%) hue-rotate(128deg) brightness(95%) contrast(104%);
}
#container {
    height: auto !important;
}

.fa-facebook-f{
    color: #3b5998!important;
}


.fa-twitter{
    color: #00acee!important;
}


.fa-linkedin-in{
    color: #0e76a8!important;
}


.fa-whatsapp{
    color: #25D366!important;
}


.fa-envelope{
    color: #555555!important;
}


.fa-upload{
    color: #d4769b!important;
}

#facebokkShare{
    background: transparent!important;
}

.fa-sms{
    color: #330033!important;
}
.fa-copy{
    color: firebrick!important;
}

.asdfaf {
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}

.asdfaf:hover {
    color:white;
}

.zap-edit{
    font-size: 24px;
    color: orange!important;
}

.gamification-actions {
    counter-reset:hash;
    list-style-type: none;
}

.gamification-actions >li:before{
    counter-increment:hash;
    content:"Action #" counter(hash) ". ";
}

.zap-edit:hover {
    color: white;
}

.job-recommend-box-apply-job {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #7dcc93;
    text-align: center;
    border: 0px;
    color: #3ac5d9;

}

.job-recommend-box-apply-job:hover {
    cursor: pointer;
    background: #7dcc9303 !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
body {
    background: #f1f2f7;
}

