@media (max-width: 1680px) {
    .blue-center-search {
        padding: 40px 80px;
        max-width: 950px;
        width: 100%;
    }
}
@media (max-width: 1366px) {
    .blue-center-search {
        padding: 40px 80px;
        max-width: 950px;
        width: 100%;
    }
}
@media (max-width: 1280px) {
    .blue-center-search {
        padding: 40px 80px;
        max-width: 900px;
        width: 100%;
    }
    .hp-top-search {
        padding: 130px 0px;
    }
    .sign_in_1 .inner h1,
    .sign_in_1 .inner h2 {
        font-size: 40px;
    }
}
@media (max-width: 1024px) {
    .blue-center-search {
        padding: 40px 80px;
        max-width: 790px;
        width: 90%;
        margin: 0 auto;
    }
    .hp-top-search {
        padding: 110px 0px;
        background-size: 120%;
    }
    .job-client-info .client-star-rating img {
        max-width: 18px;
    }
    .job-client-info-name {
        padding-left: 15px;
    }
    .sign_in_1 .inner h1,
    .sign_in_1 .inner h2 {
        font-size: 30px;
    }
    .nav-tabs.nav-justified > li.active {
        height: 60px;
    }
    .nav-tabs.nav-justified > li > a,
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
}
@media (max-width: 1200px) and (min-width: 768px) {
    #navbar .col-md-4 {
        margin-left: 0px;
    }
    #header-quick-acces li a,
    #header-quick-links li a {
        font-size: 16px;
    }
    .container-language-selector {
        max-width: 95px;
    }
    #navbar .col-md-offset-3 {
        margin-left: 10%;
    }
    #navbar .col-md-3 {
        width: 30%;
    }
    #sign-in-company input[type="email"],
    .company-first form {
        width: 100%;
        max-width: 100%;
    }
    #sign-in-company input[type="text"],
    #sign-in-company input[type="password"] {
        width: 100%;
        max-width: 49%;
    }
    #sign-in-company input[type="email"] {
        max-width: 98.6%;
    }
    #sign-up-company {
        max-width: 98.6%;
    }
    .company-first input[type="text"],
    .company-first input[type="password"] {
        margin-bottom: 7px;
        width: 100%;
        max-width: 100%;
    }
    .company-first {
        padding: 100px 0px;
    }
}
@media (max-width: 990px) {

    .profile .col-right-profile hr {
        display:block;
    }

    .job-similar-box .job-single-similar img {
        margin:0 auto;
    }

    .job-similar-box .job-single-similar span {
        width:40%;
    }

    .job-similar-box span.job-position-similar,
    .job-similar-box .job-single-similar span {
          display: block;
          overflow: hidden;
          float: left;
          width: 40%;
    }

    #pricing_plan .column-block-1 {
        min-height:317px;
    }


    .add_extra .quantity-job-result, .add_extra .quantity-cv-result {
        font-size:22px;
    }

    .price-column .column-block-2 ul li {
        min-height: 109px;
    }

    .job-testimonial-content {
        margin-top:30px;
    }

    .cian-box-keyword a {
        left:5%;
    }

    .hp-news-content .radio-inline, .hp-news-content .checkbox-inline {
        margin-left:0px;
        margin-right:10px;
    }
    #gif-loader {
        background-size: 100%;
    }
	.modal-dialog {
		width:100%;
		padding:20px;
		margin:0px;
	}

    .avatar-small-20 {
        max-width: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }
    #header-quick-links li.custom-dropdown-container {
        float: left;
    }
    #header-quick-links ul.custom-drop-down a,
    #header-quick-links li {
        width: 100%;
        display: block;
        max-width: 100%;
    }
    .navbar-toggle {
        margin-top: 10px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #navbar .container-quick-links {
        display: none;
    }
    #navbar.in .container-quick-links {
        display: block;
        margin: 0px;
    }
    #header-quick-acces li.notifications {
        margin-right: 30px;
        float: right;
    }
    .notifications ul {
        right: 0px;
    }
    .notifications ul::before {
        top: -18px;
        left: 87%;
    }
    .hp-load-more {
        border: 1px solid #666;
        border-radius: 5px; 
    }
    /* .blue-center-search .tab-content .select2-container {
        max-width: 75%!important;
        width: 100%!important;
    } */


    .profile hr {
        display: none;
    }
}
@media (max-width: 769px) {



    .pricing-boxes h2 {
        text-align: center;
    }
    .prices .ligh-grey a {
        margin-top: 50px;
    }
    .prices .column-block-3 {
        max-width: 70%;
        margin: 0 auto;
    }
    #nurturing_pack .promo-block {
        position: static;
        max-width: 100%;
    }
    .price-column {
        margin-top: 30px;
    }
    .news-box {
        max-width: 100%;
    }
    .hp-filter-area select {
        margin-bottom: 10px;
        background: #fff;
    }
    .hp-body-job-offers .hp-body-single-offer {
        padding-right: 0px;
    }
    .hp-body-job-offers .hp-offer-inner ul li:first-child a {
        text-align: center;
    }
    #sign_in form {
        margin: auto;
        width: 100%;
    }
    .sign-up form input[type='submit'] {
        margin-top: 26px;
    }
    .sign_in_1 .inner {
        padding: 15px 30px;
    }

    .hp-top-search {
        padding: 40px 0px;
    }
    .blue-center-search {
        padding: 40px 30px;
        max-width: 100%;
        width: 100%;
        margin-left: 0%;
    }
    .hp-top-search {
        background-size: 180%;
    }
    #header-quick-links li {
        width: 100%;
        display: block;
    }
    .container-quick-acces {
        float: right;
        border: none;
        max-width: 230px;
        width: 100%;
    }
    #navbar div,
    #navbar {
        padding: 0px;
    }
    #header-quick-links li a {
        margin: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #header-quick-links li a:hover,
    #header-quick-links li a:focus {
        background: #fff;
        color: #27588b;
    }
    #header-quick-acces li.notifications {
        position: static;
    }
    .notifications ul {
        width: 100%;
        left: 0px;
        top: 54px;
        background: #fff;
    }
    .notifications ul li {
        width: 100%;
    }
    #header-quick-acces .notifications ul li a {
        color: #333;
    }
    .container-quick-acces {
        margin-top: 4px;
    }
    .select2-container {
        margin-bottom: 10px;
    }
    .job-sidebar .job-sidebar-box {
        overflow: hidden;
        margin-bottom: 25px;
    }
    .job-skills {
        overflow: hidden;
    }
    #header-quick-acces li.notifications {
        margin-right: 10px;
    }
    .sign-in_2-lvl2 ul li {
        margin-bottom: 15px;
    }
    .company-first form {
        width: 100%;
        max-width: 100%;
    }
    #sign-in-company input[type="text"],
    #sign-in-company input[type="email"],
    #sign-in-company input[type="password"],
    #sign-in-company input[type="email"] {
        width: 100%;
        max-width: 96%;
    }
    .company-first h2,
    .company-first h1 {
        text-align: center;
    }
    .company-first h2 {
        padding-top: 30px;
    }
    .header-cont,
    #navbar,
    .logo {
        padding-left: 15px;
    }
    .news-sidebar {
        margin-top: 30px;
    }
    .wrapper-title-news h1 {
        font-size: 20px;
    }
    .thumbnail img {
        width: 100%;
    }
    .job-testimonial-details {
        margin-bottom: 30px;
    }
}
@media (max-width: 1024px)  {

    .job-company-criteria-box img {
        width:4%;
    }

    .hp-siderbar-salary img {
        width:100%;
    }

    .modal input {
        margin-bottom:10px;
    }

	.info-bullets .level-2, .info-bullets .level-1 {
		text-align:center;
	}

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    #job-history td,
    #contacts td { 
        border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
  min-height: 40px;
  vertical-align: middle;
    }
    
    td:before { 
         position: absolute;
  top: 9px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
    }
    
    /*
    Label the data
    */
    #contacts td:nth-of-type(1):before { content: "Name"; }
    #contacts td:nth-of-type(2):before { content: "Job Title"; }
    #contacts td:nth-of-type(3):before { content: "Anonymus"; }
    #contacts td:nth-of-type(4):before { content: "Type"; }
    #contacts td:nth-of-type(5):before { content: "Date"; }
    #contacts td:nth-of-type(6):before { content: "Status"; }

    
    #job-history td:nth-of-type(1):before { content: "Job Title"; }
    #job-history td:nth-of-type(2):before { content: "Company"; }
    #job-history td:nth-of-type(3):before { content: "Date"; }
    #job-history td:nth-of-type(4):before { content: "Status"; }
    #job-history td:nth-of-type(5):before { content: "Action"; }

}
@media (max-width: 736px) {
    .job-client-info .job-client-profile-photo img.img-thumbnail {
        position: static;
        width: 100%;
        padding-top: 25px;
    }
    .job-client-info .client-star-rating {
        max-width: 210px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .job-client-info .client-star-rating img {
        max-width: 37px;
    }
    .job-client-info {
        padding-bottom: 25px;
    }
    .sign_in_1 .inner h1,
    .sign_in_1 .inner h2 {
        text-align: center;
    }
    .sign_in_1 .inner a {
        text-align: center;
        margin: 0 auto;
        display: block;
        overflow: hidden;
        max-width: 200px;
    }
}
@media (max-width: 660px) {

    

    #sign_in_1_right,
    #sign_in_1_left {
        height:35em;
    }

    .cian-box-keyword a {
        left:2%;
        top:9%;
    }
    .customer-sign-in ul {
        padding-bottom:50px;
    }
    .navbar-toggle {
        float: left;
        margin-left: 10px;
    }
    .navbar-brand img {
        max-height: 48px;
    }
    #sign_up {
        margin-top: 25px;
        border-top: 1px solid #fff;
    }
    .sign-up-label,
    .sign-in-label,
    .sign-in-opt-right,
    .sign-in-opt-left {
        text-align: center;
    }
    .sign-up form {
        width: 78%;
        margin: 0 auto;
    }
    .sign-up-social span {
        padding-top: 25px;
    }
    .sign-up-2-linkedin {
        margin: 0 auto;
        width: 70%;
    }
    .container-quick-acces {
        position: static;
        padding: 5px;
        width: auto;
    }
    .navbar-header {
        position: relative;
    }
    .navbar-brand {
        width: 70%;
        margin: 0 auto;
        display: block;
    }
    .navbar-brand img {
        margin: 0 auto;
        display: block;
    }
    #header-quick-acces li.notifications {
        margin-top: 5px;
    }
    #header-quick-acces li.notifications span {
        top: 5px;
    }
    .notifications ul::before {
        left: 90%;
    }
    .profile .profile-graph img {
        height: auto;
        max-width: 100%;
        max-height: 5000px;
    }
    .profile .profile-points {
        margin-top: 50px;
    }
    .profile-avatar {
        float: right;
    }
    .skill-chart >li ul li {
        width: 15px;
    }
    .profile .white {
        padding: 0px;
    }
    .skill-chart >li span {
        margin-left: 23%;
    }
    .skill-chart li.odd ul li,
    .skill-chart li.even ul li {
        width: 9%;
        margin-bottom: 15px;
    }
    .skill-chart >li ul {
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .profile .profile-avatar img {
        margin-top: 20%;
    }
    .profile .profile-details-1 h2 {
        font-size: 16px;
    }
    .company-first {
        padding: 40px 0px;
    }
    .company-first input[type="text"],
    .company-first input[type="password"] {
        width: 100%;
        margin-bottom: 10px;
    }
    #sign-up-company button {
        width: 135px;
    }
    .sign-in-company {
        border-top: 1px solid #fff;
        margin-top: 50px;
    }
    .company-first h2,
    .company-first h1 {
        font-size: 35px;
    }
    .profile .panel-body .white,
    #overview .cert,
    #overview .edu {
        padding: 20px;
    }
    .profile .need-padding {
        padding: 0px;
    }
}
@media (max-width: 460px) {
    .navbar-brand {
        width: 60%;
    }
    .sign-up form {
        width: 100%;
        margin: 0 auto;
    }
    .sign_in_1 .inner h1,
    .sign_in_1 .inner h2 {
        text-align: center;
    }
    .sign_in_1 .inner a {
        display: block;
        text-align: center;
    }
    #hp-tabs-search {
        max-width: 98%;
        padding: 0px;
        margin: 0px;
    }
    .blue-center-search .tab-content .select2-container {
    max-width:80%;
    float:left;
	}
    .blue-center-search .tab-content form input[type='submit'] {
        width: 20%;
        background-size: 40%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .location-blue-search {
        width: 75%;
    }
    .blue-center-search .tab-content .select2-container--default .select2-selection--single,
    .blue-center-search .tab-content form input[type="search"] {
        width: 100%;
    }
    .blue-center-search .tab-content form input[type="search"] {

        margin-bottom:10px;
    }
    .hp-filter-area input[type="submit"] {
        margin-right: 0px;
    }
    .navbar-brand {
        padding: 0px;
    }
    .blue-center-search {
        padding: 10px 10px;
        margin: 0px;
    }
    .blue-center-search h1 {
        font-size: 20px;
    }
    .hp-top-search {
        background-size: 190%;
        padding: 20px 0px;
    }
    #header-quick-acces ul li:hover {
        background: #27588b;
    }
    #header-quick-acces .notifications ul li a:hover,
    #header-quick-acces .notifications ul li:hover a {
        color: #fff;
    }
    .hp-body-single-offer {
        padding-right: 0px;
    }
    .hp-body-job-offers .hp-offer-inner ul li:first-child a {
        text-align: center;
    }
    .job-full-description .apply-to-job {
        position: static;
        display: block;
        margin-top: 25px;
    }
    .job-client-info .job-client-profile-photo img.img-thumbnail {
        width: 100%;
        margin-top: 25px;
        position: static;
    }
    .job-client-info .client-star-rating {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 210px;
    }
    .job-client-info .client-star-rating img {
        max-width: 38px;
    }
    .job-client-info-name,
    .job-client-info .job-client-profile-photo {
        width: 100%;
    }
    .job-client-info-name {
        text-align: center;
    }
    .job-applications {
        width: 100%;
    }
    .notifications ul::before {
        left: 87%;
    }
}
@media (max-width: 340px) {
    .container-quick-acces {
        padding: 5px;
    }
    #header-quick-acces li.notifications {
        margin-top: 0px;
    }
    #header-quick-acces li.notifications {
        float: right;
    }
    #header-quick-acces {
        padding-top: 5px;
    }
    #header-quick-acces li.notifications span {
        top: 10px;
    }
}