<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
                <?php
                if(!empty($this->error))
                {
                    echo $this->translate->_("Complete Profile");
                } else
                {
                     echo $this->translate->_("apply-to") ." ". $this->job['title'];?> @ <?php echo $this->job['company_title'];
                }

                ?></h4>
        </div>


        <div class="modal-body">
            <?php if (!Zend_Auth::getInstance()->hasIdentity()):?>
            <div class="row register-form">
                <div class="col-md-6 border-head" style="height:224px;border:1px solid #ececec">
                    <br />
                    <h3><?php echo $this->translate->_("has-account");?></h3>
                    <form method="POST" class="form-horizontal ajaxify" action="/apply/<?php echo $this->job['slug'];?>/?id=<?php echo $this->job['id'];?>">
                        <div class="form-row">
                            <div class="col-md-6 no-margin">
                                <input name="email" class="form-control" type="text" required="" placeholder="<?php echo $this->translate->_("email");?>" />
                            </div>
                            <div class="col-md-6">
                                <input name="password" class="form-control" type="password" required="" placeholder="<?php echo $this->translate->_("password");?>" />
                            </div>                            
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 no-margin">
                                <hr />
                                <button type="submit" class="btn btn-primary"><?php echo $this->translate->_("login-apply");?></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 border-head">
                    <h3><?php echo $this->translate->_("no-account");?></h3>
                    <form method="POST" class="form-horizontal ajaxify" action="/apply/<?php echo $this->job['slug'];?>/?id=<?php echo $this->job['id'];?>">
                        <div class="form-group">
                            <div class="col-md-6">
                                <input name="email" class="form-control" type="text" required="" placeholder="<?php echo $this->translate->_("email");?>" />
                            </div>
                            <div class="col-md-6">
                                <input name="password" class="form-control" type="password" required="" placeholder="<?php echo $this->translate->_("password");?>" />
                            </div>                                                      
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input name="firstname" class="form-control" type="text" required="" placeholder="<?php echo $this->translate->_("firstname");?>" />
                            </div>  
                            <div class="col-md-6">
                                <input name="lastname" class="form-control" type="text" required="" placeholder="<?php echo $this->translate->_("lastname");?>" />
                            </div>  
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 no-margin">
                                <hr />
                                <button type="submit" class="btn btn-primary"><?php echo $this->translate->_("register-apply");?></button>
                                <a href="/apply-linkedin/<?php echo $this->job['slug'];?>" class="apply_linkedin btn btn-primary"><?php echo $this->translate->_("apply-with");?> <img height="19" src="/resources/frontend/images/linkedin_small.png" alt="<?php echo WebApp_Tools::getImageAlt("linkedin_small.png");?>" /></a>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row register-user-form hidden">
                <div class="col-md-12 border-head">
                    <h3><?php echo $this->translate->_("register-step-2");?></h3>
                    <p><?php echo $this->translate->_("fill-profile");?></p>
                    <form method="POST" class="form-horizontal ajaxify" action="/apply/<?php echo $this->job['slug'];?>/?id=<?php echo $this->job['id'];?>">
                        <div class="form-group">
                            <div class="col-md-4">
                                <input name="phone" class="form-control" type="phone" required="" placeholder="<?php echo $this->translate->_("phone");?>" />
                            </div>
                            <div class="col-md-4">
                                <input name="title" class="form-control" type="text" required="" placeholder="<?php echo $this->translate->_("title");?>" />
                            </div>
                            <div class="col-md-4">
                                <input name="company" class="form-control" type="text" required="" placeholder="<?php echo $this->translate->_("company");?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <textarea name="summary" class="form-control" required="" placeholder="<?php echo $this->translate->_("summary");?>"></textarea>
                            </div>
                            <div class="col-md-4">
                                <input name="start" class="form-control default-date-picker" type="text" required="" placeholder="<?php echo $this->translate->_("start");?>" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 no-margin">
                                <hr />
                                <button type="submit" class="btn btn-primary"><?php echo $this->translate->_("register-apply");?></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <?php else:?>
        <div class="row">
            <div class="col-md-12">
                <h5><?php echo $this->msg;?></h5>
                <?php if (Zend_Auth::getInstance()->hasIdentity()) : ?>
                    <?php if (!empty($this->error)) : ?>
                        <section style="">
                            <?php echo $this->partial('errors.phtml', ['errors' => $this->error]); ?>
                        </section>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
        </div>
        <?php endif;?>
    </div>
</div>
<script>
$(function(){
    $('.default-date-picker').datepicker({
        format: 'mm/dd/yyyy'
    });
    
    <?php if (isset($this->redir)):?>
     setTimeout(function(){ window.location.href = '<?php echo $this->redir;?>'; }, 2000);
    <?php endif;?>        
});
<?php echo $this->js ; ?>
</script>