<?php
if (Zend_Auth::getInstance()->hasIdentity() && !empty($this->error)) :?>
    <style>
        #job-detail {
            margin-top: 0px !important;
            width: 100%;
        }
        @media only screen and (max-width: 500px) {
            #job-detail {
                padding-left:0!important;
            }
        }
    </style>
<?php endif; ?>
<?php $actual_link = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? "https" : "http") . "://{$_SERVER['HTTP_HOST']}.{$_SERVER['REQUEST_URI']}"; ?>
<?php if (Zend_Auth::getInstance()->hasIdentity()) : ?>
    <?php if (!empty($this->error)) : ?>
        <section style="padding-left: 200px;margin-top: 60px;    background: red;">
            <?php echo $this->partial('errors.phtml', ['errors' => $this->error]); ?>
        </section>
    <?php endif; ?>
<?php endif; ?>
<section id="job-detail"
         class="<?php echo (!Zend_Auth::getInstance()->hasIdentity()) ? 'user-logged' : 'not-logged' ?> <?php echo (!Zend_Auth::getInstance()->hasIdentity()) ? '' : 'left-padded job-detail-section' ?> ">
    <div class="row jb-header-main" style="">
        <?php echo $this->render('index/details_layout/job_header.phtml') ?>
    </div>
    <div class="row">
        <div class="col-md-6">
            <?php if(Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type !=9) : ?>
            <?php if($this->job['bounty_title'] != "") :?>
                <div class="row jb-header-main">
                    <?php echo $this->render('index/details_layout/campaign_win.phtml') ; ?> <!-- BOUNTY NEEDED HERE-->
                </div>
            <?php endif; ?>
            <?php endif; ?>

            <div class="row jb-header-main">
                <?php echo $this->render('index/details_layout/job_role.phtml') ; ?>
            </div>

            <div class="row jb-header-main">
                <?php echo $this->render('index/details_layout/job_description.phtml') ; ?>
            </div>


            <div class="row jb-header-main ">
                <?php echo $this->render('index/details_layout/job_structure.phtml') ; ?>
            </div>


        </div>

        <div class="col-md-6">
            <?php if($this->job['in_campaign']) :?>
                <div class="row jb-header-main">
                    <?php echo $this->render('index/details_layout/campaign_details.phtml') ; ?>
                </div>
            <?php endif; ?>
            <div class="row jb-header-main">
                <?php echo $this->render('index/details_layout/job_requirement.phtml') ; ?>
            </div>
        </div>

    </div>
    <div class="row jb-header-main">
        <div class="col-md-12">
            <?php echo $this->render('index/details_layout/about_us.phtml') ; ?>
        </div>
    </div>
    <?php if($this->job['in_campaign'] && count($this->job['other_jobs_campaign']) > 0) :?>
        <div class="row jb-header-main">
            <div class="col-md-12">
                <?php echo $this->render('index/details_layout/other_jobs_in_campaign.phtml') ; ?>
            </div>
        </div>
    <?php endif; ?>
    <div class="sticky-alert<?php if (empty($this->error)): echo '-no'; endif; ?>">
        <?php echo $this->render('index/details_layout/sticky_menu.phtml') ?>
    </div>
</section>

<?php //if ($this->fingerPrint) : ?>
    <script type="text/javascript">
        window.onload = function () {
            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };
            $(document).ready(function () {

                var fingerprint = window.fingerprint.md5hash;
                var url = window.location.href;
                var b = url.split('jobs')[1];
                var c = b.split('/');
                var id_job = c[1];

                $.ajax({
                    url: '/fingerprint',
                    type: 'POST',
                    data: {fingerprint: fingerprint, url: url, id_job: id_job}
                });
                return false;
            })
        }
    </script>
<?php //endif; ?>

<style>
    @media only screen and (max-width: 600px) {
        .job-detail-section.left-padded{
            padding-left: 0px !important;
            width: 100%;
        }

        .job-sidebar {
            width: fit-content!important;
            margin-left: 10em!important;
            position: absolute!important;
            margin-top: 2em!important;
            right: 0!important;
            top: 0!important;
            margin-right: -6.5em!important;
        }
        #footer {
            display: none;
        }
    }

</style>