    <section id="container">
    <!--main content start-->
    <section id="main-content" style="margin-left: 0 !important;">
        <section class="wrapper" style="margin-top: 0 !important;">            
            <div class="row">
                <?php if (!empty($this->jobs)):?>
                <?php foreach ($this->jobs as $job):?>
                <div class="col-md-3">
                    <section class="panel">
                        <div class="panel-title job">
                            <h1 class="job"><a target="_blank" href="<?php echo APPLICATION_URL;?>/<?php echo WebApp_Tools::createJobSlug($job);?>"><?php echo $job['title'];?></a></h1>
                            <h5 class="job"><a target="_blank" href="<?php echo APPLICATION_URL;?>/<?php echo WebApp_Tools::createJobSlug($job);?>"><?php echo $job['location'][@key($job['location'])];?>&nbsp;</a></h5>
                        </div>
                        <div class="panel-body">
                            <a target="_blank" href="<?php echo APPLICATION_URL;?>/jobs/company~<?php echo $job['company_slug'];?>"><img src="<?php echo APPLICATION_URL;?>/resources/files/companies/list/<?php echo $job['company_logo'];?>" <?php echo WebApp_Tools::getImageAlt("company_photo", $job);?>/></a><br /> 
                            <a target="_blank" href="<?php echo APPLICATION_URL;?>/jobs/company~<?php echo $job['company_slug'];?>"><?php echo $job['company_title'];?></a><br /><br />
                            <div class="tagline">
                                <?php echo $job['tagline'];?>
                            </div>                            
                        </div>
                    </section>
                </div> 
                <?php endforeach;?>              
                <?php else:?>
                
                <?php endif;?>
            </div>            
        </section>
    </section>
</section>