<section id="find-jobs">
        <div class="container">
            <div class="box-filters">
                <h1>Help your friends and network get hired and earn rewards</h1>
                <div class="form-wrap">
                    <form class="search-jobs" name="" method="POST" action="/search">
                        <div class="search-wrap clearfix">
                            <input type="text" placeholder="Find jobs" name="search" value="<?php echo $this->filters['search'][0];?>">
                            <input type="submit" value="Search">
                        </div>
                        <div class="options-wrap select-placeholder">
                            <div class="custom-select-wrap select1">
                                <div class="custom-select">
                                    <select id="filter-by-country" name="id_country[]">
                                        <option value="" class="drop-placeholder" selected>Filter by Country</option>
                                        <?php foreach ($this->countries as $key => $value):?>
                                        <option value="<?php echo $key;?>"<?php echo (@in_array($key, $this->filters['id_country'])) ? ' selected="selected"' : '';?>><?php echo $value;?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                            </div>
                            <div class="custom-select-wrap select2">
                                <div class="custom-select">
                                    <select id="filter-by-city" name="id_city[]">
                                        <option value="" class="drop-placeholder" selected>Filter by City</option>
                                        <?php foreach ($this->cities as $key => $value):?>
                                        <option value="<?php echo $key;?>"<?php echo (@in_array($key, $this->filters['id_city'])) ? ' selected="selected"' : '';?>><?php echo $value;?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                            </div>
                            <div class="custom-select-wrap select3">
                                <div class="custom-select">
                                    <select id="filter-by-department" name="id_department[]">
                                        <option value="" class="drop-placeholder" selected>Filter by Department</option>
                                        <?php foreach ($this->domains as $key => $value):?>
                                        <option value="<?php echo $key;?>"<?php echo (@in_array($key, $this->filters['id_department'])) ? ' selected="selected"' : '';?>><?php echo $value;?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                            </div>
                            <div class="custom-select-wrap select4">
                                <div class="custom-select">
                                    <select id="filter-by-industries" name="id_industry[]">
                                        <option value="" class="drop-placeholder" selected>Filter by Industries</option>
                                        <?php foreach ($this->industries as $key => $value):?>
                                        <option value="<?php echo $key;?>"<?php echo (@in_array($key, $this->filters['id_industry'])) ? ' selected="selected"' : '';?>><?php echo $value;?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                            </div>
                            <div class="custom-select-wrap select5">
                                <div class="custom-select">
                                    <select id="filter-by-skills" name="id_skill[]">
                                        <option value="" class="drop-placeholder" selected>Filter by Skills</option>
                                        <?php foreach ($this->skills as $key => $value):?>
                                        <option value="<?php echo $key;?>"<?php echo (@in_array($key, $this->filters['id_skill'])) ? ' selected="selected"' : '';?>><?php echo $value;?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="info-numbers">
        <div class="container clearfix">
            <div class="number-wrap">
                
            </div>
        </div>
    </section>
    <section id="jobs">
        <div class="container clearfix">
            <?php if (!empty($this->jobs)):?>
            <ul class="job-list">                
                <?php foreach ((array) $this->jobs as $job):?>
                <li>
                    <div class="job-wrap">
                        <div class="job-header clearfix">
                            <?php /* <a href="/<?php echo WebApp_Tools::createJobSlug($job);?>"><img class="job-comapany-logo " alt="job-comapany-logo" src="/constrain-image/?url=<?php echo base64_encode("/companies/original/".$job['company_logo']);?>&width=90&height=90&pos=left"></a> */ ?>
                            <div class="job-title">
                                <h2 style="font-weight:bold; "><a style="font-size:18px;" href="/<?php echo WebApp_Tools::createJobSlug($job);?>"><?php echo WebApp_Tools::strTrim($job['title'], 70, "...", 15);?></a></h2>
                                <div class="job-location"><?php echo $job['location'][@key($job['location'])];?>&nbsp;</div>
                            </div>
                        </div>
                        <div class="job-text">
                            <p><?php echo WebApp_Tools::strTrim($job['tagline'], 105, "...", 15, true);?></p>
                        </div>
                        <div class="job-reward">
                            <p><strong id="reward-label">Reward: </strong><span id="reward-sum"><?php echo round($job['bounty']);?>&euro;</span></p>
                        </div>
                        <div class="job-buttons clearfix">
                            <a class="recommend" data-target="#preview-modal" data-toggle="modal" href="/recommend/<?php echo $job['slug'];?>?id=<?php echo $job['id'];?>&noredir">Recommend</a>
                            <a class="share" data-target="#preview-modal" data-toggle="modal" href="/share/<?php echo $job['slug'];?>">Share</a>
                        </div>
                    </div>
                </li>
                <?php endforeach;?>                                
            </ul>
            <?php else:?>
            <strong>Sorry, there are no jobs available at this moment. Try other searches.</strong>
            <?php endif;?>
        </div>
    </section>
    </section>