<?php $model = new models_Jobs ; ?>
<div class="modal-content mcntr" style="margin: 70px auto;padding: 15px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title rec-title"><?php echo $this->translate->_('Upload Cv') ?><h4>
                </div>
<!--                <div class="modal-body white">-->
<!--                    <div class="row">   -->
<!---->
<!--                        <div class=" col-md-12">-->
<!--                            <div>-->
<!--                                <p class="unique_url">-->
<!--                                    --><?php //echo $this->translate->_('unique_url') ?>
<!--                                </p>-->
<!--                            </div>-->
<!--                            <div class="input-group">-->
<!--                                <input id="url" type="text" class="form-control br-co">-->
<!--                                <span class="input-group-btn">-->
<!--                                    <button class="btn btn-default btn-cp" type="button" id="clipboard-copy">--><?php //echo $this->translate->_('copy') ?><!--</button>-->
<!--                                </span>-->
<!--                            </div><!-- /input-group -->
<!---->
<!---->
<!---->
<!--                        </div>-->
<!--                        <div class="clearfix"></div>-->
<!--                        <div class="col-md-12 border-head single-news-article dyydter_">-->
<!--                            <div style="text-align: center; margin-bottom: 30px;" class="social-sharing">-->
<!--                                --><?php //foreach ($this->social as $key => $canal)  :?>
<!--                                    --><?php //if($canal['title'] == "whatsapp") : ?>
<!--                                        <li class="dynamic-social" data-id-social="--><?//= $canal['id']?><!--" style="display: inline-block;margin-left: 20px">-->
<!--                                            <a href="--><?//= $canal['url'] ?><!--?text=--><?php //echo rawurlencode($this->job_url.'&source='.$model->getSocilaMediaIdByType('whatsapp')); ?><!--"-->
<!--                                               target="_blank" >-->
<!--                                                <img style=";max-width: 30px" src="/resources/admin/css/theme/icons/--><?//= strtolower($canal['title']) ?><!--.png"></a></li>-->
<!--                                    --><?php //elseif($canal['title'] == "sms") : ?>
<!--                                    <li class="dynamic-social"-->
<!--                                        data-id-social="--><?//= $canal['id']?><!--" style="display: inline-block;margin-left: 20px"><a href="--><?//= $canal['url'] ?><!--?body=--><?php //echo rawurlencode($this->job_url.'&source='.$model->getSocilaMediaIdByType('sms')); ?><!--" target="_blank" ><img style=";max-width: 30px" src="/resources/admin/css/theme/icons/--><?//= strtolower($canal['title']) ?><!--.png"></a></li>-->
<!--                                    --><?php //else : ?>
<!--                                        <li class="dynamic-social" data-id-social="--><?//= $canal['id']?><!--" style="display: inline-block;margin-left: 20px"><a href="--><?//= $canal['url'] ?><!--" target="_blank" ><img style=";max-width: 30px" src="/resources/admin/css/theme/icons/--><?//= strtolower($canal['title']) ?><!--.png"></a></li>-->
<!--                                    --><?php //endif ; ?>
<!--                                --><?php //endforeach; ;?>
<!--                            </div>-->
<!--                            <div class="social-sharing">-->
<!--                                <ul class="diifuyghjh">-->
<!--                                    <!--<li class="social"><a id="twitter-button" data="twitter" target="_blank" href="--><?php //// echo WebApp_Tools::createSharingUrl("{$this->job_url}", "twitter");    ?><!--" title="Share this on Twitter"><img src="/resources/frontend/css/theme/icons/twitter-2.png" alt="Twitter Share News" class="duureyrtte" /></a></li>-->
<!--                                    <!--<li class="social"><button  target="_blank" data="facebook" id="facebokkShare" title="Share this on Facebook" class="facebook-link duueyrtod"><img src="/resources/frontend/css/theme/icons/facebook-2.png" alt="Facebook Share News" class="duureyrtte" /></button></li>-->
<!--                                    <!--<li class="social"><a id="linkedin-button" data="linkedin" target="_blank" href="--><?php //// echo WebApp_Tools::createSharingUrl("{$this->job_url}", "linkedin", array("title" => $this->job['company_title'] . ":" . $this->job['title'], "description" => $this->job['zl']));    ?><!--" title="Share this on Linkedin"><img class="duureyrtte" src="/resources/frontend/css/theme/icons/linkedin-2.png" alt="Linkedin Share News" /></a></li>-->
<!--                                    <li class="social" data="twitter"><a id="twitter-button" target="_blank" data-url="--><?php //echo WebApp_Tools::createSharingUrl("{$this->job_url}", "twitter"); ?><!--" href="javascript:;" title="Share this on Twitter"><img src="/resources/frontend/css/theme/icons/twitter-2.png" alt="Twitter Share News" class="duureyrtte" /></a></li>-->
<!--                                    <li class="social" data="facebook"><button  target="_blank"  id="facebokkShare" title="Share this on Facebook" class="facebook-link duueyrtod"><img src="/resources/frontend/css/theme/icons/facebook-2.png" alt="Facebook Share News" class="duureyrtte" /></button></li>-->
<!--                                    <li class="social" data="linkedin"><a id="linkedin-button"  target="_blank" data-url="--><?php //echo WebApp_Tools::createSharingUrl("{$this->job_url}", "linkedin", array("title" => $this->job['company_title'] . ":" . $this->job['title'], "description" => $this->job['zl'])); ?><!--" href="javascript:;" title="Share this on Linkedin"><img class="duureyrtte" src="/resources/frontend/css/theme/icons/linkedin-2.png" alt="Linkedin Share News" /></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="share-actions col-md-12" style="display: none">-->
<!--                            <div class="arrow-container">-->
<!--                                <div class="arrow-down-actions"></div>-->
<!--                                <div class="share-actions-links">-->
<!--                                    <div class="mixtin"><a class="share" href="javascript:;">Share now</a></div>-->
<!--                                    <div class="mixtin"><a class="autopost" data-toggle="collapse" data-target="#auto-p-text" id="Fb-autopost" href="javascript:;">--><?php //echo $this->translate->_('autopost_job') ?><!--</a></div>-->
<!--                                </div>-->
<!--                            </div> -->
<!--                        </div>-->
<!--                        <div id="auto-p-text" class="collapse">-->
<!--                            <div class="col-md-12 auto-p-text">-->
<!--                                <p>To maximize your chance of attracting candidates for this job , it will be posted </p>-->
<!--                                <p>automatically on your profile once per week for 1 month </p>-->
<!--                                <div>-->
<!--                                    <a class="auto-post-button autopost-action" href="javascript:;">Start Posting</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p style="margin-top: 15px " class="fb-graph-response"></p>-->
<!---->
<!--                        </div>-->
<!--                        <h2 class="ln"><span class="sp"> --><?php //echo $this->translate->_('or'); ?><!-- </span></h2>-->
<!---->
<!--                        <div class=" col-md-12 margin-bottom">-->
<!--                            <form id="mySharedForm" action="/ajax/index/recommend-email" method="POST">-->
<!--                                <div class=" form-group">-->
<!--                                    <label class="shared">--><?php //echo $this->translate->_('share_by_email') ?><!--</label>-->
<!--                                    <input type="text" name="email[]" id="email" class=" form-control br-co" required="required" />-->
<!--                                </div>-->
<!--                                <div id="new"></div>-->
<!--                                <a href="#" id="more" class="more">+ --><?php //echo $this->translate->_('add_another_email_address') ?><!--</a>-->
<!--                                <input type="hidden" id="brurl" name="job_url" value="--><?php //echo $this->job_url; ?><!--" />-->
<!--                                <input type="hidden" id="brurl" name="id_job" value="--><?php //echo $this->id_job; ?><!--" />-->
<!--                                <button class=" btn btn-success btn-block btn-rec">--><?php //echo $this->translate->_('recommend') ?><!--</button>-->
<!--                            </form>-->
<!---->
<!--                        </div>-->
<!--                        --><?php //if($this->company['upload_cv']) : ?>
<!--                        <h2 class="ln"><span class="sp"> --><?php //echo $this->translate->_('or'); ?><!-- </span></h2>-->
<!--                        --><?php //endif;?>
<!---->
<!--                    </div>-->
<!--                </div>-->
                <?php if($this->company['upload_cv']) : ?>
<!--                <div class="upload-cv-rec rec_iruyt">-->
<!--                    <a class="upload branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius" href="javascript:;">--><?php //echo $this->translate->_('recommend_my_connections'); ?><!--</a>-->
<!--                </div>-->
<!--                <div class="upload-cv-rec up_iiud">-->
<!---->
<!--                    <a class="upload branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius" href="javascript:;">--><?php //echo $this->translate->_('upload_friend_cv'); ?><!--</a>-->
<!--                </div>-->
                <?php endif;?>
                <div class="upload-cv-container" style="">
                    <div class="arrow-down"></div>
                    <div class="recommend-container">
                        <form action="/users/index/upload-process" method="POST" enctype="multipart/form-data">
<!--                            <div style="text-align: center;text-align: center; background-color: #f7f7f7cc; padding-top: 15px; padding-bottom: 15px; margin-top: -30px; margin-bottom: 15px; ">-->
<!--                                <span><strong style="color: grey; font-weight: 400;">Please enter your candidate info</strong></span>-->
<!--                            </div>-->
                            <div style="padding-top:2em" class=" form-group">
                                <label class=""><?php echo $this->translate->_('upload_friend_cv_fullname') ?></label>
                                <input type="text" name="full_name" id="full_name" class=" form-control br-co" required="required" />
                            </div>
                            <div style="margin-bottom: -1em" class=" form-group">
                                <label class=""><?php echo $this->translate->_('upload_friend_cv_email') ?></label>
                                <input type="text" name="mail" id="mail" class=" form-control br-co" required="required" />
                            </div>
                            <!--                            <div class=" form-group">
                                                            <label class=""></label>
                                                            <input type="file" name="user-file" id="user-file" class=" form-control br-com" required="required" />
                                                        </div>-->
                            <div class="box">
                                <input type="file" name="file" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple required="required" style=""/>
<!--                                <label class="udyt_090_" for="file-1"><span>--><?php //echo $this->translate->_('select_file') ?><!--</span></label>&nbsp; <span class="udyt_090_file_name"></span>-->
                            </div>
                            <input type="hidden" name="job_url" value="<?= $this->job_url; ?>" />
                            <input type="hidden" name="id_recommender" value="<?= Zend_Auth::getInstance()->getIdentity()->id; ?>" />
                            <input type="hidden" name="id_job" value="<?= $this->id_job ?>" />
                            <button style="width: 100%" class=" btn branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius" style="margin-left: 0px !important" class=" btn btn-success btn-block btn-rec"><?php echo $this->translate->_('upload_friend_cv_button') ?></button>
                        </form>
                    </div>
                </div>


                <div class="upload-container" style="display: none">
                    <div class="arrow-down-rec"></div>
                    <div class="recommend-container_">
                        <div class="table-preview" style="height: 235px;">
                            <input type="text"  id="myInput" onkeyup="myFunction()" placeholder="Search" />
                            <table class="rec-tbl" id="myTable">
                                <tbody id="fbody">
                                    <?php
                                    if(!empty($this->users)) {
                                    $count = 0;
                                    foreach ($this->users as $key => $user) {
                                        if ($count % 3 == 0) {
//                                            echo "<tr></tr>";
                                        }
                                        echo '<tr>';
                                        echo "<td> <div class='checkbox checkbox-primary chek_uuyyet'>
        <input value='{$user['id']}' name='options[]' data-table='users' data-id-user='{$user['id']}}' id='checkbox{$user['id']}' class='styled' type='checkbox'>
        <label for='checkbox{$user['id']}'>
        </label>
    </div></td>";
                                        if ($user['pictures'] != "") {
                                            echo "<td> <img class='_red998050' src='/resources/files/user/{$user['pictures']}' alt='' /></td>";
                                        } else {
                                            echo "<td> <img class='_red998050' src='/resources/admin/images/no-picture.jpg' alt='' /></td>";
                                        }
                                        echo "<td class='nm'>" . ucfirst($user['firstname']) . " " . ucfirst($user['lastname']) . "</td>";
                                        echo '</tr>';

                                        $count++;
                                    }
                                    }
                                    if(!empty($this->linkedinConnections)) {
                                    foreach ($this->linkedinConnections as $key => $user) {
                                        if ($count % 3 == 0) {
//                                            echo "<tr></tr>";
                                        }
                                        echo '<tr>';
                                        echo "<td> <div class='checkbox checkbox-primary chek_uuyyet'>
        <input value='{$user['id']}' name='options[]' data-table='linkedin_connections' data-id-user='{$user['id']}}' id='checkbox{$user['id']}' class='styled' type='checkbox'>
        <label for='checkbox{$user['id']}'>
        </label>
    </div></td>";

                                            echo "<td> <img class='_red998050' src='/resources/admin/images/no-picture.jpg' alt='' /></td>";

                                        echo "<td class='nm'>" . ucfirst($user['firstname']) . " " . ucfirst($user['lastname']) . "</td>";

                                        $count++;
                                        echo '</tr>';
                                    }
                                    }
                                    ?>
                                </tbody>
                            </table>
                        </div>

                        <button  class=" btn btn-success btn-block btn-rec btn-re-action"><?php echo $this->translate->_('recommend_friends') ?></button>
                    </div>
                </div>

                </div>

                <script type="text/javascript" src="//platform.linkedin.com/in.js">
                  api_key: 86px1s351ck420
                  authorize: true
//                  onLoad: onLinkedInLoad
                </script>

                <script type="text/javascript">
                    
                    function PopupCenter(url, title, w, h) {
    // Fixes dual-screen position                         Most browsers      Firefox
    var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
    var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

    var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
    var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

    var left = ((width / 2) - (w / 2)) + dualScreenLeft;
    var top = ((height / 2) - (h / 2)) + dualScreenTop;
    var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

    // Puts focus on the newWindow
    if (window.focus) {
        newWindow.focus();
    }
}


                    function fb_share() {
                        FB.ui({
                            method: 'feed',
                            name: "<?php echo $this->company_title . " : " . $this->job_facebook_title ?>",
                            link: "<?php echo $this->job_facebook_link ?>",
                            picture: "<?php echo $this->job_company_logo ?>",
                            caption: "<?php echo $this->job_caption ?>",
                            description: "<?php echo str_replace('"', "'", $this->job_facebook_description) ?>"
                        }, function (response) {
                            console.log(response);
                            if (typeof response !== 'undefined') {
                                // ajax call to save response
                                var id_user = "<?php echo Zend_Auth::getInstance()->getIdentity()->id ?>"
                                var link = document.location.href;
                                var id_job = link.split('/')[4];
                                var url = $(this).data('url');
                                $.ajax({
                                    url: "/cshare",
                                    type: "POST",
                                    data: {id_user: id_user, id_job: id_job,url:"<?php echo $this->job_facebook_link ?>"}
                                })
                            }
                        });

                    }

//                    FB.getLoginStatus(function(response) {
//                    console.log(response.status);
//                    })

                    function copyToClipboard(elem) {
                        // create hidden text element, if it doesn't already exist
                        var targetId = "_hiddenCopyText_";
                        var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
                        var origSelectionStart, origSelectionEnd;
                        if (isInput) {
                            // can just use the original source element for the selection and copy
                            target = elem;
                            origSelectionStart = elem.selectionStart;
                            origSelectionEnd = elem.selectionEnd;
                        } else {
                            // must use a temporary form element for the selection and copy
                            target = document.getElementById(targetId);
                            if (!target) {
                                var target = document.createElement("textarea");
                                target.style.position = "absolute";
                                target.style.left = "-9999px";
                                target.style.top = "0";
                                target.id = targetId;
                                document.body.appendChild(target);
                            }
                            target.textContent = elem.textContent;
                        }
                        // select the content
                        var currentFocus = document.activeElement;
                        target.focus();
                        target.setSelectionRange(0, target.value.length);

                        // copy the selection
                        var succeed;
                        try {
                            succeed = document.execCommand("copy");
                        } catch (e) {
                            succeed = false;
                        }
                        // restore original focus
                        if (currentFocus && typeof currentFocus.focus === "function") {
                            currentFocus.focus();
                        }

                        if (isInput) {
                            // restore prior selection
                            elem.setSelectionRange(origSelectionStart, origSelectionEnd);
                        } else {
                            // clear temporary content
                            target.textContent = "";
                        }
                        return succeed;
                    }

                    $(document).ready(function () {

                        setInterval(function () {
                            $('input#searchInput').attr('style', 'width:' + $('.rec-tbl').width() + 'px !important;');
                        }, 100)


                        $(window).resize(function () {
                            $('input#searchInput').attr('style', 'width:' + $('.rec-tbl').width() + 'px !important;');
//                             $('.aaaaaaaaa').width($('.rec-tbl').width());
                        });
                        var url = document.location.href;
                        var new_url = "<?php $model = new models_Jobs; echo $this->job_url . "&source=" . $model->getSocilaMediaIdByType("website"); ?>";
                        $('#url').val(new_url);
                        $('#brurl').val(url);
                        //       console.log(url);
                        $('#clipboard-copy').on('click', function () {
                            copyToClipboard(document.getElementById("url"));
                            alert('url copied');
                        });
                        var counter = 1;
                        $('#more').on('click', function (e) {
                            e.preventDefault();
                            var input = '<div class="form-group"><input type="text" name="email[' + counter + ']" id="email-' + counter + '" class=" form-control br-co" required="required" /><img class="delete_email_svg removeClickElem" src="/resources/frontend/images/delete_email.svg" alt="" /></div>';
                            $('#new').append(input);
                            counter++;
                        });
                        $('#facebokkShare').one('click', function () {

                        });
//                        $('button.facebook-link').on('click', fb_share);

                        $(document).on("click", ".removeClickElem", function () {
                            $this = $(this);
                            $this.parent().remove();
                        })

                        $("a#twitter-button").on('click', function () {
                            var id_user = "<?php echo Zend_Auth::getInstance()->getIdentity()->id ?>"
                            var link = document.location.href;
                            var id_job = link.split('/')[4];
                            var url = $(this).data('url');
                            $.ajax({
                                url: "/cshare",
                                type: "POST",
                                data: {id_user: id_user, id_job: id_job,url:url}
                            })
                        });
                        $("a#linkedin-button").on('click', function () {
                            var id_user = "<?php echo Zend_Auth::getInstance()->getIdentity()->id ?>"
                            var link = document.location.href;
                            var id_job = link.split('/')[4];
                            var url = $(this).data('url');
                            $.ajax({
                                url: "/cshare",
                                type: "POST",
                                data: {id_user: id_user, id_job: id_job,url:url}
                            })
                        });
                        $("div.up_iiud").click(function () {
                            $(".upload-cv-container").slideToggle("slow");
                            var rec_con = $('.upload-container').css('display');
                            if (rec_con == 'block') {
                                $('.upload-container').slideUp();
                            }
                        });
                        $("div.rec_iruyt").click(function () {
                            var up_cv = $('.upload-cv-container').css('display');
                            if (up_cv == "block") {
                                $('.upload-cv-container').slideUp();
                            }
                            $(".upload-container").slideToggle("slow");
                        });
                        $("#searchInput").keyup(function () {
                            //split the current value of searchInput
                            var data = this.value.split(" ");
                            //create a jquery object of the rows
                            var jo = $("#fbody").find("tr");
                            if (this.value == "") {
                                jo.show();
                                return;
                            }
                            //hide all the rows
                            jo.hide();
                            //Recusively filter the jquery object to get results.
                            jo.filter(function (i, v) {
                                var $t = $(this);
                                for (var d = 0; d < data.length; ++d) {
                                    if ($t.is(":contains('" + data[d] + "')")) {
                                        return true;
                                    }
                                }
                                return false;
                            })
                                    //show the rows that match.
                                    .show();
                        }).focus(function () {
                            this.value = "";
                            $(this).css({
                                "color": "black"
                            });
                            $(this).unbind('focus');
                        }).css({
                            "color": "#C0C0C0"
                        });
                        var users = [];
                        var $checkboxes = $('td input[type="checkbox"]');
                        $checkboxes.change(function () {
                            users = $.map($('input[type="checkbox"]:checked'), function (e, i) {
                                var object = {};
                                object.table = $(e).data('table');
                                object.id_user = $(e).data('id-user');
                                var json = JSON.stringify(object)
//                                console.log(e.value);
//                                console.log($(e).data('table'));
//                                return +e.value;
                                return json;
                            });
                        });
                        $('button.btn-re-action').on('click', function () {
                            $.ajax({
                                url: "/ajax/index/recommend",
                                data: {"users": users, "id_job": "<?php echo $this->id_job ?>"},
                                "type": "POST",
                                success: function (data) {
                                    $('.close').click();
                                }
                            })
                        })

                        $('li.social').click(function () {


                            var selector = '.diifuyghjh li';
                            $(selector).removeClass('active');
                            $(this).addClass('active');
                            var $share = $('.share-actions');
                            var actions_container = $share.css('display');
                            var left;
                            var share_type = $(this).attr('data');
                            switch (share_type) {
                                case('twitter'):
                                    left = 35;
                                    break;
                                case('facebook'):
                                    left = 50;
                                    break;
                                case('linkedin'):
                                    left = 65;
                                    break;
                            }
                            $('.arrow-down-actions').css({'left': left + "%"});
                            if (actions_container == "none") {

                                $share.slideToggle();
                            } else {

                            }
                        });
                        $('a.share').on('click', function () {
                            var social_share = $('.diifuyghjh').find('.active').attr('data');
                            switch (social_share) {
                                case('facebook'):
                                    fb_share();
                                    break;
                                case('twitter'):
                                    //
                                    window.open($("#twitter-button").data('url'));
                                    break;
                                case('linkedin'):
                                    //
                                    window.open($("#linkedin-button").data('url'));
                                    break;
                            }

                            copyToClipboard(document.getElementById("url"));

                        })

                        $('.autopost-action').click(function () {
                            var social_share = $('.diifuyghjh').find('.active').attr('data');
                            switch (social_share) {
                                case('facebook'):
                                    console.log('fb autopost');
                                FB.login(function (response) {
                                var access_token = FB.getAuthResponse()['accessToken'];
                                $.ajax({
                                    url: "/ajax/index/fb-graph",
                                    type: "POST",
                                    data: {access_token: access_token,id_job:"<?php echo $this->id_job ?>"},
                                    success: function (data) {
                                        data = $.parseJSON(data);
                                        $('.fb-graph-response').html(data.msg);
//                                        console.log(data);
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        alert("Status: " + textStatus);
                                        alert("Error: " + errorThrown);
                                    }
                                });
                            }, {scope: "publish_actions"})
                                    break;
                                case('twitter'):
                                    //
                                    console.log('twitter autopost');
                                    break;
                                case('linkedin'):
                                    //
                                    console.log('linkedin autopost');
                                    PopupCenter('/users/index/linkedin-signup?job='+"<?php echo $this->id_job ?>",'linkedin-share-window',600,300);
//                                    onLinkedInLoad();
//                                    shareContent();
                                    
                                    break;
                            }
                            
                            
                            
//                            fb_share();
                        });
                        $("input:file").change(function () {
                            var fileName = $(this).val();
                            fileName = fileName.split("\\").splice(-1, 1);
                            $(".udyt_090_file_name").html(fileName);
                        });
                        $("#Fb-autopost").on('click', function () {

                        });

                        $('.dynamic-social').on('click',function () {
                            var id_social = $(this).data('id-social');
                            var url = "<?php $model = new models_Jobs; echo $this->job_url ."&ts=".uniqid(time()). "&source="?>"+id_social;
                            $('input#url').val(url);
                            copyToClipboard(document.getElementById("url"));
                            var id_user = "<?php echo Zend_Auth::getInstance()->getIdentity()->id ?>"
                            var link = document.location.href;
                            var id_job = link.split('/')[4];
                            var url = url;
                            $.ajax({
                                url: "/cshare",
                                type: "POST",
                                data: {id_user: id_user, id_job: id_job,url:url}
                            })
                        })
                    })
                    
                    function onLinkedInLoad() {
                        IN.Event.on(IN, "auth", shareContent);
                      }

                    // Handle the successful return from the API call
                    function onSuccess(data) {
                      console.log(data);
                    }

                    // Handle an error response from the API call
                    function onError(error) {
                      console.log(error);
                    }

                    // Use the API call wrapper to share content on LinkedIn
                    function shareContent() {

                      // Build the JSON payload containing the content to be shared
                      var payload = {
                          "content" : {
                              "title": "<?php echo $this->company_title . " : " . $this->job_facebook_title ?>",
                              "description": "<?php echo str_replace('"', "'", $this->job_facebook_description) ?>",
                              "submitted-url": "<?php echo $this->job_facebook_link ?>",
                              "submitted-image-url": "<?php echo $this->job_company_logo ?>"
                          }, 
                        "visibility": { 
                          "code": "anyone"
                        } 
                      };

                      IN.API.Raw("/people/~/shares?format=json")
                        .method("POST")
                        .body(JSON.stringify(payload))
                        .result(onSuccess)
                        .error(onError);
                    }
                </script>
                <script type="in/Login">
                                                        
                </script>
                <script type="text/javascript">

    function onLinkedInLoad() {
        IN.UI.Authorize().place();      
        IN.Event.on(IN, "auth", function () { onLogin(); });
        IN.Event.on(IN, "logout", function () { onLogout(); });
    }

    function onLogin() {
            IN.API.Profile("me").result(displayResult);
    }  
    function displayResult(profiles) {
        console.log(profiles);
        member = profiles.values[0];
        if(member) {
            shareContent();
            console.log(IN.ENV.auth);
            console.log(IN.ENV);
            var access_token = IN.ENV.auth.oauth_token;
            var id_job = "<?php echo $this->id_job ?>";
//            console.log('ajax here for access token:  '+IN.ENV.auth.oauth_token);
            $.ajax({
                url: "/ajax/index/linkedin-graph",
                type: "POST",
                data: {access_token: access_token,id_job:id_job},
                success: function (data) {
//                    data = $.parseJSON(data);
//                    $('.fb-graph-response').html(data.msg);
////                                        console.log(data);
                }
            });
        }
//        alert(member.id + " Hello " +  member.firstName + " " + member.lastName);
    }  
    function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
//      
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>