<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p class="modal-title"><?php echo $this->translate->_("recommend");?> <?php echo $this->job['title'];?> @ <?php echo $this->job['company_title'];?></p>
        </div>
        <div class="modal-body">
            <?php if (!Zend_Auth::getInstance()->hasIdentity()):?>
            <div class="row register-form">                    
                <div class="col-md-12">
                    <strong><?php echo $this->translate->_("recommend_info");?></strong><br /><br />
                </div>                    
                <div class="col-md-6 border-head">
                    <h3><?php echo $this->translate->_("has-account");?></h3>
                    <form method="POST" class="form-horizontal recommendForm" action="/recommend/<?php echo $this->job['slug'];?>/?id=<?php echo $this->job['id'];?>">
                        <div class="form-row">
                            <div class="col-md-6 no-margin">
                                <input name="email" class="form-control" type="email" required="" placeholder="<?php echo $this->translate->_("email");?>" />
                            </div>
                            <div class="col-md-6">
                                <input name="password" class="form-control" type="password" required="" placeholder="<?php echo $this->translate->_("password");?>" />
                            </div>                            
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 no-margin">
                                <hr />
                                <input name="id" type="hidden" value="<?php echo $this->job['id'];?>" />
                                <button type="submit" class="btn btn-primary"><?php echo $this->translate->_("login");?></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 border-head">
                    <h3><?php echo $this->translate->_("no-account");?></h3>
                    <form method="POST" class="form-horizontal recommendForm" action="/recommend/<?php echo $this->job['slug'];?>/?id=<?php echo $this->job['id'];?>">
                        <div class="form-group">
                            <div class="col-md-6">
                                <input name="email" class="form-control" type="email" required="" placeholder="<?php echo $this->translate->_("email");?>" />
                            </div>
                            <div class="col-md-6">
                                <input name="firstname" class="form-control" type="text" required="" placeholder="<?php echo $this->translate->_("firstname");?>" />
                            </div>                                                      
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input name="lastname" class="form-control" type="text" required="" placeholder="<?php echo $this->translate->_("lastname");?>" />
                            </div>  
                            <div class="col-md-6">
                                <input name="phone" class="form-control" type="text" placeholder="<?php echo $this->translate->_("phone");?>" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 no-margin">
                                <hr />
                                <input name="id" type="hidden" value="<?php echo $this->job['id'];?>" />
                                <button type="submit" class="btn btn-primary"><?php echo $this->translate->_("register");?></button>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row register-user-form hidden">
                <div class="col-md-12 border-head">
                    <h3><?php echo $this->translate->_("register-step-2");?></h3>
                    <p><?php echo $this->translate->_("fill-profile");?></p>
                    <form method="POST" class="form-horizontal ajaxify" action="/apply/<?php echo $this->job['slug'];?>/?id=<?php echo $this->job['id'];?>">
                        <div class="form-group">
                            <div class="col-md-4">
                                <input name="phone" class="form-control" type="phone" required="" placeholder="<?php echo $this->translate->_("phone");?>" />
                            </div>
                            <div class="col-md-4">
                                <input name="title" class="form-control" type="text" required="" placeholder="<?php echo $this->translate->_("title");?>" />
                            </div>
                            <div class="col-md-4">
                                <input name="company" class="form-control" type="text" required="" placeholder="<?php echo $this->translate->_("company");?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <textarea name="summary" class="form-control" required="" placeholder="<?php echo $this->translate->_("summary");?>"></textarea>
                            </div>
                            <div class="col-md-4">
                                <input name="start" class="form-control default-date-picker" type="text" required="" placeholder="<?php echo $this->translate->_("start");?>" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 no-margin">
                                <hr />
                                <button type="submit" class="btn btn-primary"><?php echo $this->translate->_("register-apply");?></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <?php else:?>
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#default" aria-controls="default" role="tab" data-toggle="tab"><?php echo $this->translate->_("recommend_email");?></a></li>
                    <!--<li role="presentation"><a href="#linkedin" aria-controls="linkedin" role="tab" data-toggle="tab"><?php echo $this->translate->_("recommend_linkedin");?></a></li>-->
                    <li role="presentation"><a href="#share" aria-controls="share" role="tab" data-toggle="tab"><?php echo $this->translate->_("share");?></a></li>
                </ul>
                
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="default">                                                    
                        <div class="form">
                            <form class="recommend_email" action="/ajax/index/recommend-email" method="POST" enctype="multipart/form-data" onsubmit="return emailRecommend(this);">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="error"><?php echo $this->translate->_("name");?>*</label>
                                        <input name="name[]" class="form-control" type="text" required="" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="error"><?php echo $this->translate->_("email");?>*</label>
                                        <input name="email[]" class="form-control" type="email" required="" />
                                    </div>
                                    <div class="col-md-4">
                                        <label><?php echo $this->translate->_("phone");?></label>
                                        <input name="phone[]" class="form-control" type="phone"/>
                                    </div>
                                    <div class="clearfix"><hr /></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label><?php echo $this->translate->_("name");?>*</label>
                                        <input name="name[]" class="form-control" type="text"/>
                                    </div>
                                    <div class="col-md-4">
                                        <label><?php echo $this->translate->_("email");?>*</label>
                                        <input name="email[]" class="form-control" type="email"/>
                                    </div>
                                    <div class="col-md-4">
                                        <label><?php echo $this->translate->_("phone");?></label>
                                        <input name="phone[]" class="form-control" type="phone"/>
                                    </div>
                                    <div class="clearfix"><hr /></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label><?php echo $this->translate->_("name");?>*</label>
                                        <input name="name[]" class="form-control" type="text"/>
                                    </div>
                                    <div class="col-md-4">
                                        <label><?php echo $this->translate->_("email");?>*</label>
                                        <input name="email[]" class="form-control" type="email"/>
                                    </div>
                                    <div class="col-md-4">
                                        <label><?php echo $this->translate->_("phone");?></label>
                                        <input name="phone[]" class="form-control" type="phone"/>
                                    </div>
                                    <div class="clearfix"><hr /></div>
                                </div>
                                <div class="form-group">
                                    <label><?php echo $this->translate->_("recommend_anonymous");?></label>
                                    <input name="anonymous" type="checkbox" value="1"/>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <input name="id_job" value="<?php echo $this->job['id'];?>" id="id_job" type="hidden" />
                                        <button class="btn btn-primary" type="submit"><?php echo $this->translate->_("submit");?></button>
                                        <button class="btn btn-default close-modal" type="button"><?php echo $this->translate->_("cancel");?></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="message_email hidden"></div>
                        <div class="clearfix"></div>                        
                    </div>
                    <div role="tabpanel" class="tab-pane" id="linkedin">
                        <div class="row">
                            <div class="panel-body">
                                <div class="adv-table">
                                    <div class="send_message hidden"><a href="#" class="send_linkedin_message btn btn-success"><?php echo $this->translate->_("recommend_on_linkedin_message");?></a></div>
                                    <div class="send_message space10 hidden">&nbsp;</div>
                                    <?php if (!empty($this->connections)):?>
                                    <table class="table table-striped table-hover table-bordered" id="dynamic-table" style="float: left;">
                                        <thead>
                                            <tr>
                                                <th><?php echo $this->translate->_("select_contact");?></th>
                                                <th><?php echo $this->translate->_("name");?></th>
                                                <th><?php echo $this->translate->_("title");?></th>                                        
                                                <th><?php echo $this->translate->_("industry");?></th>
                                                <th><?php echo $this->translate->_("location");?></th>
                                                <th><?php echo $this->translate->_("relevance");?></th>
                                            </tr>
                                        </thead>
                                        <tbody>                                                
                                        </tbody>
                                    </table>
                                    <?php else:?>
                                    <p><?php echo $this->translate->_("no_linkedin_connections");?></p>
                                    <?php endif;?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="share">
                        <div class="row">   
                            <div class="col-md-12 border-head single-news-article" style="margin-top: 0;">
                                <h3><?php echo $this->translate->_("share-where");?></h3>
                                <div class="social-sharing">
                                    <ul style="float: left;">
                                        <li><a target="_blank" href="<?php echo WebApp_Tools::createSharingUrl("{$this->job_url}", "linkedin", array("title" => $this->job['title'], "description" => $this->job['zl']));?>" title="Share this on Linkedin"><img style="max-width: 50px;" src="/resources/frontend/images/icon-in.png" alt="Linkedin Share News" /></a></li>
                                        <li><a target="_blank" href="<?php echo WebApp_Tools::createSharingUrl("{$this->job_url}", "facebook");?>" title="Share this on Facebook"><img src="/resources/frontend/images/icon-fb.png" alt="Facebook Share News" style="max-width: 50px;" /></a></li>
                                        <li><a target="_blank" href="<?php echo WebApp_Tools::createSharingUrl("{$this->job_url}", "twitter");?>" title="Share this on Twitter"><img src="/resources/frontend/images/icon-tw.png" alt="Twitter Share News" style="max-width: 50px;" /></a></li>
                                        <li><a target="_blank" href="<?php echo WebApp_Tools::createSharingUrl("{$this->job_url}", "gplus");?>" title="Share this on Google Plus"><img src="/resources/frontend/images/icon-g.png" alt="Google Plus Share News" style="max-width: 50px;" /></a></li>
                                    </ul>
                                </div>                                 
                            </div>            
                        </div>
                    </div>
                </div>
            </div>
            <?php endif;?>
        </div>
    </div>
</div>
<script>

$(document).ready(function() {

    


} );
$("body").on("click", ".message_check", function()
{
   $(".send_message").removeClass("hidden"); 
});

$("body").on("click", ".send_linkedin_message", function()
{
   if (!$(this).hasClass("hidden"))
   {
        var connections = [];
        $(".message_check").each(function()
        {
            if ($(this).prop("checked"))
            {
                connections.push($(this).attr("value"));     
            }            
        });
        
        $.post("/ajax/index/recommend-linkedin", {"connections": connections, "id_job": <?php echo $this->job['id'];?>}, function(data)
        {
            $(".space10").html(data.msg);
        }, 'json');
        
        console.log(connections);
   } 
});


function emailRecommend(obj)
{
    var action = $(obj).attr("action");
    var form = $(obj).serializeArray();
    
    $.post(action, form, function(data)
    {
        $(".recommend_email").addClass("hidden");
        $(".message_email").removeClass("hidden").text(data.msg);
    }, 'json');
    return false;
}

</script>