<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p class="modal-title"><?php echo $this->translate->_("share");?> <?php echo $this->job['title'];?> @ <?php echo $this->job['company_title'];?></p>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 border-head single-news-article" style="margin-top: 0;">
                    <h3><?php echo $this->translate->_("share-where");?></h3>
                    <div class="social-sharing">
                        <ul style="float: left;">
                            <li><a target="_blank" href="<?php echo WebApp_Tools::createSharingUrl("{$this->job_url}", "linkedin", array("title" => $this->job['title'], "description" => $this->job['zl']));?>" title="Share this on Linkedin"><img style="max-width: 50px;" src="/resources/frontend/images/icon-in.png" alt="Linkedin Share News" /></a></li>
                            <li><a target="_blank" href="<?php echo WebApp_Tools::createSharingUrl("{$this->job_url}", "facebook");?>" title="Share this on Facebook"><img src="/resources/frontend/images/icon-fb.png" alt="Facebook Share News" style="max-width: 50px;" /></a></li>
                            <li><a target="_blank" href="<?php echo (WebApp_Tools::createSharingUrl("{$this->job_url}", "twitter", array("type" => "job"))).'&text='.$this->translate->_("Check out this great Job posted on Talentspotting:").':'.$this->job['title'];?>" title="Share this on Twitter"><img src="/resources/frontend/images/icon-tw.png" alt="Twitter Share News" style="max-width: 50px;" /></a></li>
<!--                            $this->translate->_("Check out this great Job posted on Talentspotting:").':'.-->
                            <li><a target="_blank" href="<?php echo WebApp_Tools::createSharingUrl("{$this->job_url}", "gplus");?>" title="Share this on Google Plus"><img src="/resources/frontend/images/icon-g.png" alt="Google Plus Share News" style="max-width: 50px;" /></a></li>
                        </ul>
                    </div>                                 
                </div>                
            </div>
    </div>
</div>