<style type="text/css">.dash_left_mg{margin-left: 0px !important}.terms-condition-content {
    margin: 60px auto;
    /* overflow: scroll; */
    width: 100%;
    max-width: 800px;
    box-shadow: none;
    border-radius: 0px !important;
    border-color: aliceblue;
}</style>
<div class="modal-content terms-condition-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Terms & Conditions</h4>
        </div>
        <div class="modal-body terms-condition">
          <p><?= $this->content ?></p>
        </div>
        <div class="modal-footer">
            <form method="POST" id="term-form" action="">
                <input style="padding: 5px;
    background-color: #CCC;" type="submit" value="I accept" />
                <input type="hidden" name="link" value="asadasd" />
                <input type="hidden" name="agree" value="1" />
            </form>
        </div>
</div>

<script>
    // if ( $( "form#term-form" ).length > 0 ) {
    //     var link = window.location.href;
    //     $('form#term-form').attr('action','/term?link='+Base64.encode(link)+'&agree=1');
    // }
</script>