
    <div class="container">
		<div class="row client-single">
			<div class="col-md-9" itemscope itemtype="http://schema.org/Organization">
				<div class="job-client-info col-md-12">
					<div class="col-md-12 job-cover-photo hidden-xs">
                        <?php $key = array_rand($this->covers, 1);?>
						<img src="/resources/files/companies/cover/<?php echo $this->covers[$key];?>" alt="client-1-cover-photo" />
					</div>
					<div class="col-md-12">
						<div class="col-md-3 job-client-profile-photo col-xs-6">
							<img src="/constrain-image/?url=<?php echo base64_encode("/companies/original/".$this->company['logo']);?>&width=164&height=164" alt="<?php echo WebApp_Tools::getImageAlt("company_photo", array("job" => $this->company));?>" class="img-thumbnail">							
						</div>
						<div class="col-md-2 job-client-info-name col-xs-6">
							<div class="job-client" itemprop="name"><?php echo $this->company['title'];?></div>
							<div class="job-industry"><?php echo $this->translate->_("industry");?>: <span><?php echo $this->company['industry'];?></span></div>
							<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <div class="job-country"><?php echo $this->translate->_("country");?>: <span itemprop="addressCountry"><?php echo $this->company['country'];?></span></div>
                                <div class="city"><?php echo $this->translate->_("city");?>: <span itemprop="addressLocality"><?php echo $this->company['city'];?></span></div>
                            </span>
						</div>
						<div class="col-md-3 col-xs-6 job-applications">
                            <ul class="list-group">
                                <li class="list-group-item orange">
                                    <span class="badge"><?php echo (int) $this->recommendations;?></span><?php echo $this->translate->_("recommendations");?>
                                </li>
                                <li class="list-group-item turcoaz">
                                    <span class="badge"><?php echo (int) $this->applications;?></span><?php echo $this->translate->_("applications");?>                                   
                                </li>
                                <li class="list-group-item gray"><?php echo $this->translate->_("posted");?>: <?php echo date("d F Y", strtotime($this->company['created']));?></li>
                            </ul>
                        </div>
						<div class="col-md-4 job-short-description col-xs-12">
							<p><?php echo WebApp_Tools::strTrim($this->company['description'], 150, "(...)");?></p>
                        </div>
					</div>
				</div>
				<div class="col-md-12 job-full-description">					
					<h1><?php echo $this->company['title'];?> Info</h1>
					<h2><?php echo $this->translate->_("description");?></h2>
					<article>
                        <span itemprop="description">
                            <?php echo $this->company['long_description'];?>
                        </span>
                    </article>
				</div>				                 
                </div>        
                    <div class="col-md-3 job-sidebar">    				        				    
                        <div class="job-similar-box job-sidebar-box col-md-12">
                            <span class="job-title-box"><?php echo $this->translate->_("company_jobs");?></span>
                            <?php foreach ((array)$this->jobs as $job):?>
                            <div class="job-single-similar col-md-12 col-sm-6 col-xs-12">
                                <a href="/<?php echo WebApp_Tools::createJobSlug($job);?>">
                                    <span class="job-thumbnail-small">
                                        <img src="/constrain-image/?url=<?php echo base64_encode("/companies/original/".$job['company_logo']);?>&width=100&height=52" alt="<?php echo WebApp_Tools::getImageAlt("company_photo", array("job" => $job));?>" class="img-responsive"/>
                                    </span>
                                    <span class="job-position-similar"><?php echo $job['title'];?></span>
                                    <span class="job-client-similar"><?php echo $job['company_title'];?> - <?php echo $job['location'][$job['id_city']];?></span>
                                </a>
                            </div>
                            <?php endforeach;?>
                        </div>
                    </div>
                </div>
            </div>
        </div>