<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><?php echo $this->translate->_("rate");?> <?php echo $this->company['title'];?></h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal ajaxify" method="POST" type="alert" action="/rate?id=<?php echo $this->company['id'];?>&id_job=<?php echo $this->id_job;?>" enctype="multipart/form-data">                        
                        <div class="col-md-6">
                            <h4>Total rating</h4>
                            <div class="client-star-ratin rating-stars"></div>
                            <h4><?php echo $this->translate->_("work_environment");?></h4>
                            <div class="client-star-rating-work rating-stars"></div>
                            <h4><?php echo $this->translate->_("career_opportunities");?></h4>
                            <div class="client-star-rating-career rating-stars"></div>
                            <h4><?php echo $this->translate->_("comp_benefits");?></h4>
                            <div class="client-star-rating-comp rating-stars"></div>
                            <h4><?php echo $this->translate->_("work_life_balance");?></h4>
                            <div class="client-star-rating-life rating-stars"></div>
                        </div>
                        <div class="col-md-6">
                            <h4><?php echo $this->translate->_("job_title");?></h4>
                            <input name="job_title" class="form-control" required=""/>                            
                            <h4><?php echo $this->translate->_("rating_content");?></h4>
                            <textarea name="content" class="form-control" rows="4" required=""></textarea>
                            <h4><?php echo $this->translate->_("anonymous");?></h4>
                            <input name="anonymous" type="checkbox" value="1" />
                            <h4><?php echo $this->translate->_("worked_there");?></h4>
                            <input name="worked" type="checkbox" value="1" />
                        </div>
                        <div class="col-md-12" style="text-align: right;">
                            <br />
                            <input name="sumbit" type="submit" class="btn btn-warning" value="<?php echo $this->translate->_("submit");?>" />
                        </div>
                    </form>
                </div>                
            </div>  
        </div>      
    </div>
</div>
<script>
$(document).ready(function()
{
   $('.client-star-ratin').raty({half: true, score: <?php echo $this->score;?>, scoreName: 'scoretotal'}); 
   $('.client-star-rating-work').raty({half: true, scoreName: 'scorework'});
   $('.client-star-rating-career').raty({half: true, scoreName: 'scorecareer'});
   $('.client-star-rating-comp').raty({half: true, scoreName: 'scorecomp'});
   $('.client-star-rating-life').raty({half: true, scoreName: 'scorelife'});
});
</script>