<?php
$translate = Zend_Registry::get("Zend_Translate");
$modelJobs = new models_Jobs;
?>
<div class="row">
    <div class="col-sm-6 pad">

        <div class="form-group ">
            <label for="title" class=" control-label brain-left-label"><?php echo $translate->_("job_title"); ?> <span class="cus-required">*</span></label>
            <?php echo $this->element->title; ?>
        </div>
        <div class="form-group ">

            <label for="coutries" class=" control-label brain-left-label"><?php echo $translate->_("Countries"); ?> <span class="cus-required">*</span></label>
            <?php echo $this->element->countries ?>
        </div>
        <div class="form-group ">

            <label for="counties" class=" control-label brain-left-label"><?php echo $translate->_("Counties"); ?> <span class="cus-required">*</span></label>
            <?php echo $this->element->counties ?>
        </div>
        <div class="form-group ">

            <label for="cities" class=" control-label brain-left-label"><?php echo $translate->_("cities"); ?> <span class="cus-required">*</span></label>
            <?php echo $this->element->cities ?>
        </div>
<!--        --><?php //if($this->company['job_departments']) : ?>
        <div class="form-group ">

            <label for="departments" class=" control-label brain-left-label"><?php echo $translate->_("departments"); ?> <span class="cus-required">*</span></label>
            <?php echo $this->element->departments ?>
        </div>
<!--        --><?php //endif ;?>
        <div class="form-group ">
            <label for="departments" class=" control-label brain-left-label"><?php echo $translate->_("sub_departments"); ?>
                </label>
            <?php echo $this->element->sub_departments ?>
        </div>
        <div class="form-group ">
            <label for="departments" class=" control-label brain-left-label"><?php echo $translate->_("sub_sub_departments"); ?>
                </label>
            <?php echo $this->element->sub_sub_departments ?>
        </div>

        <div class="form-group ">
            <label for="departments" class=" control-label brain-left-label"><?php echo $translate->_("projects"); ?>
            </label>
            <?php echo $this->element->projects ?>
        </div>

        <div class="form-group ">
            <label for="departments" class=" control-label brain-left-label"><?php echo $translate->_("job_headcount"); ?>
            </label>
            <?php echo $this->element->job_headcount ?>
        </div>
        <div class="form-group col-sm-6 no-pad-2">

            <label for="type" class=" control-label brain-left-label"><?php echo $translate->_("type"); ?> <span class="cus-required">*</span></label>
            <?php echo $this->element->type ?>
            <span style="display:none"class="brain-back-drop-multiple branding-border-color-buttons
 branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"></span>
        </div>
        <div class="form-group col-sm-6 kfjggg">
            <label for="career" class=" control-label brain-left-label"><?php echo $translate->_("career"); ?> <span class="cus-required">*</span></label>
            <?php echo $this->element->career_level ?>
            <span style="display:none" class="brain-back-drop-multiple branding-border-color-buttons
 branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"></span>
        </div>

        <div class="form-group no-pad djjdhf">
            <label for="job_ad_lifetime" class=" control-label brain-left-label"><?php echo $translate->_("start"); ?> <span class="cus-required">*</span></label>
            <?php echo $this->element->start; ?>
        </div>
        <div class="form-group no-pad djjdhf" >
            <label for="job_ad_lifetime" class=" control-label brain-left-label"><?php echo $translate->_("end"); ?> <span class="cus-required">*</span></label>
            <?php echo $this->element->end; ?>
        </div>
        <?php if($this->settings['ats']) :?>
        <?php if(Zend_Auth::getInstance()->getIdentity()->type ==2 || Zend_Auth::getInstance()->getIdentity()->type ==3) :?>
        <div class="form-group ">
            <label for="cities" class=" control-label brain-left-label"><?php echo $translate->_("Assign recruiters"); ?> <span class=""></span></label>
            <?php echo $this->element->recruiters ?>
        </div>
        <?php endif ;?>
        <?php endif ;?>


    </div>
    <div class="col-sm-6 pad">
        <?php if($this->company['job_skills']) : ?>
        <div class="form-group col-sm-12">
            <label for="skills" class=" control-label brain-left-label"><?php echo $translate->_("skills"); ?> <span class="cus-required">*</span></label>
            <?php echo $this->element->skills ?>
        </div>
        <?php endif; ?>



        <div class="form-group col-sm-6 no-pad dofgf">

            <label for="bounty" class=" control-label brain-left-label"><?php echo $translate->_("_bounty"); ?></label>
            <?php echo $this->element->bounty ?>
        </div>
        <div class="form-group col-sm-6 no-pad">
            <label for="bounty_requirements" class=" control-label brain-left"><?php echo $translate->_("bounty_requirements"); ?></label>
            <?php echo $this->element->bounty_requirements ?>
        </div>
        <div class="form-group col-sm-12 no-pad">
            <label for="bounty_requirements" class=" control-label brain-left"><?php echo $translate->_("bounty_file"); ?></label>
            <input id="job_upload_input" name="bounty_file" type="file" class="form-control" />
            <div id="image-job-ext" ><img src="" alt="" height="60" width="60"><span onclick="removeJobPicture()" class="delete-edit-btn"></span></div>
        </div>

        <div class="form-group col-sm-12 no-pad">
            <label for="job_public_image" class=" control-label brain-left"><?php echo $translate->_("job_public_image"); ?></label>
            <input id="job_public_image" name="job_public_image" type="file" class="form-control" />
            <div id="job-public-image-ext" ><img src="" alt="" height="60" width="60"><span onclick="removeJobSharePicture()" class="delete-edit-btn"></span></div>
        </div>

        <div class="form-group col-sm-12" style="display: none">
            <label for="skills" class=" control-label brain-left-label"><?php echo $translate->_("due_date"); ?></label>
            <?php echo $this->element->job_ad_lifetime ?>
        </div>

        <div class="form-group col-sm-12">
            <label class=" control-label brain-left-label"><?php echo $translate->_("requirements"); ?> <span class="cus-required">*</span></label>
            <!--<textarea name="requirements" id="editor1" class="ckeditor" cols="70" rows="70"><?php echo $this->element->requirements->getValue(); ?></textarea>-->
            <?php echo $this->element->requirements ?>
            <?php echo $this->element->id ?>

        </div>


    </div>

</div>


<!--///////////////////////////-->






<script type="text/javascript">
    $(document).ready(function () {


        function formatDate(date,added = null) {
            var monthNames = [
                "January", "February", "March",
                "April", "May", "June", "July",
                "August", "September", "October",
                "November", "December"
            ];

            var day = date.getDate() + added;
            var monthIndex = date.getMonth()+1;
            var year = date.getFullYear();
            return day + '-' + monthIndex + '-' + year;
        }

        // console.log(formatDate(new Date()));




        $("#start").daterangepicker({
            "drops": "up",
            singleDatePicker: true,
            minDate: formatDate(new Date()),
            locale: {
                format: 'DD-MM-YYYY',
            }
        });
        $("#end").daterangepicker({
            "drops": "up",
            singleDatePicker: true,
            minDate: formatDate(new Date(),1),
            locale: {
                format: 'DD-MM-YYYY',
            }

        });
        
        var selected_job_id = "<?= $this->job_params['id'] ;?>";
        console.log();
        if(selected_job_id) {
            var stdt = "<?php echo $this->job_params['start'] ?>";
            var eddt = "<?php echo $this->job_params['end'] ?>";
           $("#start").val(stdt); 
           $("#end").val(eddt); 
        }
        if ($('#editor1').length > 0) {
            //Add it to the dom
            CKEDITOR.replace('editor1', {
                toolbar:
                        [
                            {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                            {name: 'basicstyles', items: ['Bold', 'Italic']},
//          { name: 'paragraph', items : [ 'NumberedList','BulletedList' ] },
                            {name: 'tools', items: ['Maximize', '-', 'About']}
                        ]
            });

            $.fn.modal.Constructor.prototype.enforceFocus = function () {
                modal_this = this
                $(document).on('focusin.modal', function (e) {
                    if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length
                            // add whatever conditions you need here:
                            &&
                            !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select') && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
                        modal_this.$element.focus()
                    }
                })
            };

        }
        var c_select = $("select.countries");
        c_select.select2({
            width: "auto",
            dropdownAutoWidth: true
        });
        c_select.on('change', function(e) {
            // Access to full data
            e.preventDefault();
            var data = $(this).select2('data');
            localStorage.setItem("countries", JSON.stringify(data));
            callServer();
            e.stopPageScriptExecution;
        });

        var sub_departments = $("select.sub_departments");
        var sub_sub_departments = $("select.sub_sub_departments");
        sub_departments.select2({
            width: "auto",
            dropdownAutoWidth: true
        });
        sub_sub_departments.select2({
            width: "auto",
            dropdownAutoWidth: true
        });

        sub_departments.on('change', function(e) {
            // Access to full data
            e.preventDefault();
            var data = $(this).select2('data');
            localStorage.setItem("sub_departments", JSON.stringify(data));
            callSubDepartmentsServer();
            e.stopPageScriptExecution;
        });

        function callSubDepartmentsServer()
        {
            var data = localStorage.getItem('sub_departments');
            console.log(data);
            console.log('call sub_departments server');
            $.ajax({
                'url' : '/content/index/get-sub-sub-departments',
                'type' : 'POST',
                'data': {data:data},
                success : function(data)
                {
                    data = JSON.parse(data);
                    var toAppend = '';
                    $('select.sub_sub_departments').empty();
                    $.each(data, function(i,o){
                        toAppend += '<option value="'+ o.id +'">'+o.title+'</option>';
                    });
                    $('select.sub_sub_departments').append(toAppend);
                    // $('select.counties').select2({data: data});
                }
            })
        }


        function callServer()
        {
            var data = localStorage.getItem('countries');
            console.log(data);
            console.log('call server');
            $.ajax({
                'url' : '/content/index/get-job-countries',
                'type' : 'POST',
                'data': {data:data},
                success : function(data)
                {
                    data = JSON.parse(data);
                    var toAppend = '';
                    $('select.counties').empty();
                    $.each(data, function(i,o){
                        toAppend += '<option value="'+ o.id +'">'+o.title+'</option>';
                    });
                    $('select.counties').append(toAppend);
                    // $('select.counties').select2({data: data});
                }
            })
        }

        $('select.counties').on('change', function(e) {
            // Access to full data
            e.preventDefault();
            var data = $(this).select2('data');
            localStorage.setItem("counties", JSON.stringify(data));
            callServerCounties();
            e.stopPageScriptExecution;
        });

        function callServerCounties()
        {
            var data = localStorage.getItem('counties');
            console.log(data);
            console.log('call server');
            $.ajax({
                'url' : '/content/index/get-job-city',
                'type' : 'POST',
                'data': {data:data},
                success : function(data)
                {
                    data = JSON.parse(data);
                    var toAppend = '';
                    $('select.city').empty();
                    $.each(data, function(i,o){
                        toAppend += '<option value="'+ o.id +'">'+o.title+'</option>';
                    });
                    $('select.city').append(toAppend);
                    // $('select.counties').select2({data: data});
                }
            })
        }
        $("select.city").select2({
            width: "auto",
            dropdownAutoWidth: true
        });
        $("select.counties").select2({
            width: "auto",
            dropdownAutoWidth: true
        });
        $("select.projects_select").select2({
            width: "auto",
            dropdownAutoWidth: true
        });

        $("select.custom_skills").select2({
            width: "auto",
            dropdownAutoWidth: true,
            // formatNoMatches: function () {
            //     return "No Results Found <a onClick='customDrop(" + 'skills' + ")' href='javascript:;' class='btn btn-danger add-br pull-right'>Add New</a>";
            // },
        });
        var custom_departments = $("select.custom_departments");
        custom_departments.select2({
            width: "auto",
            dropdownAutoWidth: true,
        });
        custom_departments.on('change', function(e) {
            // Access to full data
            e.preventDefault();
            var data = $(this).select2('data');
            localStorage.setItem("custom_departments", JSON.stringify(data));
            callCustomDepartmentsServer();
            e.stopPageScriptExecution;
        });

        function callCustomDepartmentsServer()
        {
            var data = localStorage.getItem('custom_departments');
            console.log(data);
            console.log('call sub_departments server');
            $.ajax({
                'url' : '/content/index/get-sub-departments',
                'type' : 'POST',
                'data': {data:data},
                success : function(data)
                {
                    data = JSON.parse(data);
                    var toAppend = '';
                    $('select.sub_departments').empty();
                    $.each(data, function(i,o){
                        toAppend += '<option value="'+ o.id +'">'+o.title+'</option>';
                    });
                    $('select.sub_departments').append(toAppend);
                    // $('select.counties').select2({data: data});
                }
            })
        }

        $("form.edit-job").submit(function (e) {
            var $formData = $(this).serializeArray();
//            console.log($formData);


//            var $description = $("#description").val();
//            var $requirement = $("#requirements").val();
//            var $aaa = $("body.cke_editable_themed").html();
            var requirement = CKEDITOR.instances['editor1'].getData();
            var description = CKEDITOR.instances['editor2'].getData();
            if (requirement == "") {
                $("div.cke_editor_editor1").addClass("requi-empty");
                e.preventDefault();
                return false;
            }
            if (description == "") {
                $("div.cke_editor_editor2").addClass("requi-empty");
                $("div#detail").removeClass("active in");
                $("div#description").addClass("active in");
                e.preventDefault();
                return false;
            }

        })

    })

    function Notify() {
        var data = CKEDITOR.instances.editor1.getData();
        var Base64 = {_keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=", encode: function (e) {
                var t = "";
                var n, r, i, s, o, u, a;
                var f = 0;
                e = Base64._utf8_encode(e);
                while (f < e.length) {
                    n = e.charCodeAt(f++);
                    r = e.charCodeAt(f++);
                    i = e.charCodeAt(f++);
                    s = n >> 2;
                    o = (n & 3) << 4 | r >> 4;
                    u = (r & 15) << 2 | i >> 6;
                    a = i & 63;
                    if (isNaN(r)) {
                        u = a = 64
                    } else if (isNaN(i)) {
                        a = 64
                    }
                    t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a)
                }
                return t
            }, decode: function (e) {
                var t = "";
                var n, r, i;
                var s, o, u, a;
                var f = 0;
                e = e.replace(/[^A-Za-z0-9\+\/\=]/g, "");
                while (f < e.length) {
                    s = this._keyStr.indexOf(e.charAt(f++));
                    o = this._keyStr.indexOf(e.charAt(f++));
                    u = this._keyStr.indexOf(e.charAt(f++));
                    a = this._keyStr.indexOf(e.charAt(f++));
                    n = s << 2 | o >> 4;
                    r = (o & 15) << 4 | u >> 2;
                    i = (u & 3) << 6 | a;
                    t = t + String.fromCharCode(n);
                    if (u != 64) {
                        t = t + String.fromCharCode(r)
                    }
                    if (a != 64) {
                        t = t + String.fromCharCode(i)
                    }
                }
                t = Base64._utf8_decode(t);
                return t
            }, _utf8_encode: function (e) {
                e = e.replace(/\r\n/g, "\n");
                var t = "";
                for (var n = 0; n < e.length; n++) {
                    var r = e.charCodeAt(n);
                    if (r < 128) {
                        t += String.fromCharCode(r)
                    } else if (r > 127 && r < 2048) {
                        t += String.fromCharCode(r >> 6 | 192);
                        t += String.fromCharCode(r & 63 | 128)
                    } else {
                        t += String.fromCharCode(r >> 12 | 224);
                        t += String.fromCharCode(r >> 6 & 63 | 128);
                        t += String.fromCharCode(r & 63 | 128)
                    }
                }
                return t
            }, _utf8_decode: function (e) {
                var t = "";
                var n = 0;
                var r = c1 = c2 = 0;
                while (n < e.length) {
                    r = e.charCodeAt(n);
                    if (r < 128) {
                        t += String.fromCharCode(r);
                        n++
                    } else if (r > 191 && r < 224) {
                        c2 = e.charCodeAt(n + 1);
                        t += String.fromCharCode((r & 31) << 6 | c2 & 63);
                        n += 2
                    } else {
                        c2 = e.charCodeAt(n + 1);
                        c3 = e.charCodeAt(n + 2);
                        t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);
                        n += 3
                    }
                }
                return t
            }};

    }
</script>