<?php $translate = Zend_Registry::get("Zend_Translate");
$modelJobs = new models_Jobs;
?>
<form class="cmxform form-horizontal" id="commentForm" method="POST" action="">


    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-6 brain-no-pad">
                <label for="title" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("campaign_title"); ?></label>
                <?php echo $this->element->title ;  ?>
            </div>

            <div class="col-md-6 brain-no-pad">
                <label for="recommander" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("select_recommender"); ?></label>
                <?php echo $this->element->recommader ?>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-6 brain-no-pad">
                <label for="job" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("select_job"); ?></label>
                <?php echo $this->element->jobs ; ?>
            </div>

            <div class="col-md-6 brain-no-pad">
                <label for="message" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("message"); ?></label>
                <input type="text" class="form-control brain-width" id="message" placeholder="">
            </div>
        </div>
    </div>
     <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-6 brain-no-pad">
                <label for="cities" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("cities"); ?></label>
                <?php echo $this->element->cities;?>
            </div>

            <div class="col-md-6 brain-no-pad">
                <label for="reward" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("reward"); ?></label>
               <?php echo $this->element->reward ; ?>
                <span class="abc"></span>
            </div>
        </div>
    </div>
     <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-6 brain-no-pad">
                <label for="domain" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("domain_departments"); ?></label>
                <?php echo $this->element->departments;?>
            </div>

            <div class="col-md-6 brain-no-pad">
                <label for="gamified" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("actions_to_be_gamified"); ?></label>
                <?php echo $this->element->gamification ; ?>
            </div>
        </div>
    </div>
     <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-6 brain-no-pad">
                <label for="campaign" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("campaign_duration"); ?></label>
                <?php echo $this->element->duration ; ?>
                <span class="icn"></span>
            </div>
        </div>
    </div>
</form>