<?php $translate = Zend_Registry::get("Zend_Translate");?>
<form class="cmxform form-horizontal" id="commentForm" method="POST" action="/edit-user">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="form-group ">
                <label for="firstname" class="control-label"><?php echo $translate->_("first_name"); ?>*</label>
                <div>
                    <?php echo $this->element->firstname; ?>
                </div>
            </div>
            <div class="form-group ">
                <label for="lastname" class="control-label"><?php echo $translate->_("last_name"); ?>*</label>
                <div>
                    <?php echo $this->element->lastname; ?>
                </div>
            </div>
            <div class="form-group ">
                <label for="lastname" class="control-label"><?php echo $translate->_("email"); ?>*</label>
                <div>
                    <?php echo $this->element->email; ?>
                </div>
            </div>
            <div class="form-group ">
                <label for="type" class="control-label"><?php echo $translate->_("type"); ?>*</label>
                <div class="">
                    <?php echo $this->element->type; ?>
                </div>
            </div> 
     <div class="form-group ">
                <label for="" class="control-label"><?php echo $translate->_("_department"); ?></label>
                <div class="">
                    <?php echo $this->element->department; ?>
                </div>
            </div> 
            <div class="form-group ">
                <label for="phone" class="control-label"><?php echo $translate->_("phone"); ?></label>
                <div class="">
                    <?php echo $this->element->phone; ?>
                </div>
            </div> 
        </div>
    </div>
    <div class="col-lg-12">
        <hr />
        <div class="form-group">
            <div class="pull-right">
                <?php echo $this->element->id; ?>
                <button class="btn btn-cancel" data-dismiss="modal" type="button"><?php echo $translate->_("cancel"); ?></button>
                <button class="btn btn-submit" type="submit"><?php echo $translate->_("save"); ?></button>
            </div>
        </div>
    </div>
</form>