
  <!-- Modal -->

  <div class="modal-dialog" id="myModalAts">
    {
      <!-- Modal content-->
      <div class="modal-content" style="width:100% !important">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Set New Status</h4>
        </div>
        <div class="modal-body">
            <!--<div flash-message="3000" ></div>-->
            <div class="row">
                <class class="col-md-12">
                    <div class="dropdown">
                        <button id="status-selected" class="btn btn-primary dropdown-toggle" type="button" data-status-selected='{{status_value}}' data-toggle="dropdown">{{status_name}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="(status,val) in job_details_status">
                                <a ng-click="populate_status(status,val)" data-status="{{status}}" href="javascript:;">{{val}}</a>
                            </li>
                        </ul>
                    </div>
                </class>
            
             
            </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6 ats-np-left">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 txt-right">      
                                    <a href="javascript:;" class="btn btn-default ats-status-close" ng-click="close()" >Close</a>
                                </div>
                                <div class="col-md-6 txt-right">
                                    <a href="javascript:;" class="btn btn-default ats-status-save" ng-click="changeBulkStatus()">Save</a>
                                </div>
                            </div>
                          
                        </div>
                    </div>
        </div>
      </div>
      
    </div>

