  <!-- Modal -->

  <div class="modal-dialog" id="myModalAts">
    
      <!-- Modal content-->
      <div class="modal-content" style="width:100% !important">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Set New Status</h4>
        </div>
        <div class="modal-body">
            <!--<div flash-message="3000" ></div>-->
            <div class="row">
                <class class="col-md-12">
                    <div class="dropdown">
                        <button id="status-selected" class="btn btn-primary dropdown-toggle" type="button" data-status-selected='{{status_value}}' data-toggle="dropdown">{{status_name}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="(status,val) in all_status">
                                <a ng-click="populate_status(status,val)" data-status="{{status}}" href="javascript:;">{{val}}</a>
                            </li>
                        </ul>
                    </div>
                </class>
            
             
            </div>
                <hr />
               <div class="row">
                    <div class="col-md-12">
                        <h4>Current aplication and status history</h4>
                        <div ng-repeat="application in applications">
                            <p class="ats-job-app">
                                <a ng-click="getJobaStatus(application.job_application_id)" class="ats-job-link" href="javascript:;">
                                    <element ng-if="application.modified_id > 0">
                                        Job : {{application.title}} - ( Status : {{application.application_status}} - {{application.updated_application}} by {{application.modified_user}})
                                    </element>
                                    <element ng-if="application.modified_id == null">
                                        Job : {{application.title}} - ( Application Date : {{application.application_date}})
                                    </element>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6 ats-np-left">
                            <class class="row">
                                <div class="col-md-12">
                                    <div class="dropdown">
                                        <button id="job_status_change" class="btn btn-primary btn-primary-custom dropdown-toggle" type="button" data-applicationID="{{application_job.job_application_id}}" data-jobID="{{application_job.id}}" data-toggle="dropdown">{{application_job.title}}
                                            <span class="caret"></span></button>
<!--                                        <ul class="dropdown-menu">
                                            <li ng-repeat="ap in application_job">
                                                <a ng-click="populate_job_name(ap.title,ap.id,ap.job_application_id)"  href="javascript:;">{{ap.title}}</a>
                                            </li>
                                        </ul>-->
                                    </div>
                                </div>
                            </class>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 txt-right">      
                                    <a href="javascript:;" class="btn btn-default ats-status-close" ng-click="close()" >Close</a>
                                </div>
                                <div class="col-md-6 txt-right">
                                    <a href="javascript:;" class="btn btn-default ats-status-save" ng-click="saveStatus()">Save</a>
                                </div>
                            </div>
                          
                        </div>
                    </div>
        </div>
      </div>
      
    </div>

