
<!-- Modal -->

<div class="modal-dialog" id="myModalAts">

    <!-- Modal content-->
    <div class="modal-content" style="width:100% !important">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Emails History</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-1">Subject</div><div class="col-md-11"> : {{email_h.subject}}</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1">Sender</div><div class="col-md-11"> <span class="add_personalize">{{email_h.firstname}} {{email_h.lastname}}</span>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                         <div ng-bind-html="content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


