<!-- Modal -->
<style type="text/css">
    .no-radius {border-radius: 0px;}
    #myModalAts .modal-content .modal-body {padding: 0px !important;}
</style>
<div class="modal-dialog" id="myModalAts">

    <!-- Modal content-->
    <div class="modal-content" style="width:800px !important">
        <div class="modal-header no-radius">
            <button type="button" class="close" ng-click="closebulk()" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Upload CVs</h4>
        </div>
        <div class="modal-body">
            <div class="sppsdod99d8f">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/users/admin/import" class="dropzone" method="POST" enctype="multipart/form-data">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-2 col-md-offset-7 note-close" ng-click="closebulk()">Cancel</div>
            <div class="col-md-2 note-save" ng-click="uploadBulkCv()">upload</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("form.dropzone").dropzone({
        url: "/ats/admin/import-cv",
        paramName: "file",
        dictDefaultMessage: "<div class='brain-msg' style='    margin: 100px auto auto auto;font-size: 13px;font-family: inherit;'>Drag and Drop the file here or use the button below</div>" +
            "<div>" +
            "<a href='javascript:;' " +
            "class='btn btn-brain   btn btn-rs-sv branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius'>" +
            "<span class='spn'>Select file</span>" +
            "</a>" +
            "</div>",
    });

    $("#flat").spectrum({
        flat: true,
        showInput: true,
        preferredFormat: "hex",
    });
</script>
