<!-- Modal -->
<style type="text/css">
    .no-radius {border-radius: 0px;}
    #myModalAts .modal-content .modal-body {padding: 0px !important;}
</style>
<div class="modal-dialog" id="myModalAts">

    <!-- Modal content-->
    <div class="modal-content" style="width:800px !important">
        <div class="modal-header no-radius">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Send Mail</h4>
        </div>
        <div class="modal-body">
            <!--<div flash-message="3000" ></div>-->
                        <hr />
            <div class="row">
                <div class="col-md-1">Subject</div><div class="col-md-11"> <input type="text" name="subject" class="form-control" value="{{subject}}"/></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1">Sender</div><div class="col-md-11"> <span class="add_personalize">{{sender}}</span></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1">To</div><div class="col-md-11"> <span ng-repeat=" to in to "><span class="add_personalize">{{to}}</span>&nbsp;&nbsp;</span></div>
            </div>
            <hr />
            <div class="row">
                <input id="editor3" type="textarea" row='5' />
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1">Tags</div>
                <div class="col-md-11">
                    <span class="add_personalize" ><span smarty-target="{$signature}">Signature&nbsp;</span></span>
                    <span class="add_personalize" ><span smarty-target="{$candidate_name}">Candidate Name&nbsp;</span></span>
                    <span class="add_personalize" ><span smarty-target="{$company}">Company Name&nbsp;</span></span>
                </div>
            </div>
            <hr />
        </div>
        <div class="modal-footer">
            <div class="col-md-2 col-md-offset-7 note-close" ng-click="close()">Cancel</div>
            <div class="col-md-2 note-save" ng-click="sendatsmail()">Send</div>
        </div>
    </div>
</div>
<element id="angMailContent" data-message="{{message}}"></element>
<script type="text/javascript">
//    CKEDITOR.replace('content',
//{
//        filebrowserBrowseUrl : '/resources/ckfinder/ckfinder.html',
//        filebrowserImageBrowseUrl : '/resources/ckfinder/ckfinder.html?type=Images',
//        filebrowserFlashBrowseUrl : '/resources/ckfinder/ckfinder.html?type=Flash',
//        filebrowserUploadUrl : '/resources/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
//        filebrowserImageUploadUrl : '/resources/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
//        filebrowserFlashUploadUrl : '/resources/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'
//});

</script>
<script type="text/javascript">
$(document).ready(function() {
            if ($('#editor3').length > 0) {
                
            CKEDITOR.replace('editor3', {
                height: 450,
        toolbar:
                [
                    {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                    {name: 'basicstyles', items: ['Bold', 'Italic']},
                    {name: 'tools', items: ['Maximize', '-', 'About']}
                ]
    });
    if($("#angMailContent").attr('data-message'))
    setTimeout(function() {
           CKEDITOR.instances['editor3'].setData($("#angMailContent").attr('data-message'));
    },1000)
    }
    


    
    $(document).on( "click",".add_personalize", function() {
        for(var instanceName in CKEDITOR.instances){
              var editor = CKEDITOR.instances[instanceName];
          }
       var content = editor.getData();
       editor.setData(content+' '+$(this).find("span").attr('smarty-target'));
    });


})
</script>


