  <!-- Modal -->
  <style type="text/css">
      #myModalAts .modal-content .modal-body {
          padding: 0px !important;
      }
      #myModalAts .modal-content .modal-body .row .col-md-12 {
          padding-right: 0px !important;
      }
      hr {
          margin-top: 0px !important;
          margin-bottom: 0px !important;
      }
      .oieyrttry {
          padding: 15px ;
      }
  </style>
  <div class="modal-dialog" id="myModalAts">
    
      <!-- Modal content-->
      <div class="modal-content" style="width:100% !important">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Note</h4>
        </div>
        <div class="modal-body">
            <!--<div flash-message="3000" ></div>-->
            <div class="row">
                <div class="col-md-12">
                    <textarea class="form-control" name="descriere" rows="10" cols="80" required="required"></textarea>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <form id="upload_form" enctype="multipart/form-data">
                        <input onchange="angular.element(this).scope().uploadFile(this.files)" type="file" name="file" id="file" class="form-control" />
                    </form>
                    
                </div>
            </div>
            <hr />
            <div class="oieyrttry">
                <div class="row">
                    <div class="col-md-1">
                        <input type="checkbox" ng-model="general.value" id="general" ng-true-value="1" ng-false-value="0"/>
                    </div>
                    <div class="col-md-11">
                        <label>This is a general note about the candidate</label>
                    </div>
                </div>
                 
            </div>
            
            <hr />
            <div class="row oieyrttry">
                <div class="col-md-2">
            <element ng-if="general.value == '0'">
                 <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{status_job_name}}
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-click="setSelected(item)" ng-repeat="(k,item) in user_applications"><a href="javascript:;">{{item.title}}</a></li>
                        </ul>
                    </div>
            </element>
                    <input type="hidden" data-hash="{{user_email}}" ng-model="data_hash" value="{{user_email}}" />

                </div>

                <div class="col-md-2 col-md-offset-5 note-close" ng-click="close()">Cancel</div>
                <div class="col-md-2 note-save" ng-click="saveNote()">Save</div>
            </div>
        </div>
      </div>
      
    </div>


<script type="text/javascript">
if($('#editor1').length > 0) CKEDITOR.replace('editor1', {
                toolbar:
                        [
                            {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                            {name: 'basicstyles', items: ['Bold', 'Italic']},
//			{ name: 'paragraph', items : [ 'NumberedList','BulletedList' ] },
                            {name: 'tools', items: ['Maximize', '-', 'About']}
                        ]
            });
//config.removeButtons = 'Underline,JustifyCenter';

</script>