<!-- Modal -->
<style type="text/css">
    .no-radius {border-radius: 0px;}
    #myModalAts .modal-content .modal-body {padding: 0px !important;}
    #myModalAts {
        margin: 200px auto !important;
        margin-left: -210px !important;
        /* margin-right: -16px !important; */
    }
    .zoomContainer {
        z-index: 999999 !important;
    }
    table {
        box-shadow:none !important;
    }
    .col-md-6 {
        padding: 0px;
    }
</style>
<div class="modal-dialog" id="myModalAts" style="width: 1080px;">

    <!-- Modal content-->
    <div class="modal-content" style="">
        <div class="modal-header no-radius">
            <button type="button" class="close" ng-click="closebulk()" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Upload CVs</h4>
        </div>
        <div class="modal-body">
            <div class="sppsdod99d8f">
                <div class="row">
                    <div class="col-md-6">
                        <table id="BulkCvTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                    <th>Source</th>
                                    <th>Last job</th>
                                    <th>CV</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="candidate in cvs" ng-click="previewCv(candidate.file_preview_path)">
                                    <td><input data-name="firstname" type="text" name="firstname" /></td>
                                    <td><input data-name="lastname" type="text" name="lastname" /></td>
                                    <td><input data-name="email" type="text" name="email" /></td>
                                    <td>
                                            <select ng-model="selectedSocial" ng-init="filterSources='0'">
                                                <option value="{{v.id}}"
                                                        ng-repeat="( k , v ) in sources"
                                                        ng-selected="{{v.id == 0}}">{{v.title}}
                                                </option>
                                            </select>
                                        <input class="hidden" data-name="source" type="text" name="source" value="{{selectedSocial}}" />
                                    </td>
                                    <td><input data-name="last_job" type="text" name="last_job" /></td>
                                    <td><input data-name="files" type="hidden" value="{{candidate}}" /><img  src="/resources/files/images/doc.png" alt="" data-preview="{{candidate.file_preview_path}}" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Preview CV</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img id="zoom_mw" src="{{view_cv}}" style="width: 100%;" data-zoom-image="{{view_cv}}"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                         <div class="dropdown">
                        <button id="status-selected" class="btn btn-primary dropdown-toggle" type="button" data-status-selected='{{job_cv_name}}' data-toggle="dropdown">{{job_cv_name}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="(status,val) in up_cv_jobs">
                                <a ng-click="populate_job_cv_name(val.title,val.id)" data-status="{{val.id}}" href="javascript:;">{{val.title}}</a>
                            </li>
                        </ul>
                    </div>
                        
<!--                        <select>
                            <option ng-repeat="item in up_cv_jobs" ng-click="bulkApplyJob(item)" value="{{item.id}}">{{item.title}}</option>
                        </select>-->
                        
<!--                         <select ng-options="item.title for item in up_cv_jobs" ng-model="bulkApplyJobSelected" ng-change='bulkApplyJob({{item.id}})'>
                         </select>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-2 col-md-offset-7 note-close" ng-click="closebulk()">Cancel</div>
            <div class="col-md-2 note-save" ng-click="saveBulkCV()">upload</div>
        </div>
    </div>
</div>
<div ng-bind-html="script"></div>
