<ul class="nav pull-left top-menu">
    <li style="height: 60px;" class="how-it-works">
        <a style="height: 60px;" href="/default/admin/hwroks" data-toggle="modal" data-target="#preview-modal" class="how-it-works-popup"><?php echo $this->translate->_('how_it_works') ?></a>
    </li>
</ul>