<?php $bootstrap = Zend_Controller_Front::getInstance()->getParam('bootstrap')->getOptions(); ?>
<ul class="nav pull-left top-menu">
    <li class="dropdown language">
        <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle _100" href="#">
            <img class="lang_img" src="/resources/admin/images/flags/<?php echo APPLICATION_LOCALE; ?>.png" alt="<?php echo WebApp_Tools::getImageAlt(APPLICATION_LOCALE . ".png"); ?>">
            <span class="username mg_iuu"><?php echo strtoupper(APPLICATION_LOCALE); ?></span>
            <b class="caret fix-1px-flag"></b>
        </a>
        <ul class="dropdown-menu language-dropdownmenu">
            <?php foreach ($bootstrap['resources']['Settings']['languages_names'] as $key => $value): ?>
                <li><a href="/<?php echo $key; ?>"><img width="20px" src="/resources/admin/images/flags/<?php echo $key; ?>.png" alt="<?php echo WebApp_Tools::getImageAlt($key . ".png"); ?>"> <?php echo $value; ?></a></li>
            <?php endforeach; ?>
        </ul>
    </li>
</ul>