<ul class="nav pull-right top-menu">
    <li>
        <a style="padding: 15px 0px;
    margin: 1px;
    font-size: 20px;background: transparent;" class="sign-in-br" href="/login"><?php echo $this->translate->_("Sign In"); ?></a>
    </li>
</ul>