<div class="brand dash_brand branding-navbar-background-color" style="top: 0px">
    <a class="logo branding-navbar-background-color" href="/home">
        <div class="logo-nav-bar"
             style=" background-image: url(/resources/frontend/landing/files/icons/logo.png);">
        </div>
    </a>


</div>


<style>
    .mobmenu {
        position: absolute;
        z-index: 99999;
        margin-top: -1.5em;
        display: none!important;
        width: 100%;
        font-size: 30px;
        color: black;
        right: 0;
        text-align: right;
        margin-right: 1.8em;
    }

    @media only screen and (max-width: 720px) {
        .mobmenu {
            display: contents!important;
        }
    }

    .user-guest {
        display: none;
    }
</style>