<div class="nav notify-row" id="top_menu">
    <ul class="nav top-menu">
        <li id="header_inbox_bar" class="dropdown">
            <ul class="dropdown-menu extended inbox">
                <li><p class="red"><?php echo sprintf($this->translate->_("msg_total_applications"), count($applications)); ?></p></li>
                <?php foreach ((array) $applications as $application): ?>
                    <li>
                        <a href="/job-details?id=<?php echo $application['id_job']; ?>&id_app=<?php echo $application['id_app']; ?>">
                                                    <span class="photo">
                                                        <?php if ($application['image'] != ""): ?>
                                                            <?php if (stripos($application['image'], "licdn") !== false): ?>
                                                                <img alt="avatar" src="<?php echo $application['image']; ?>" />
                                                            <?php else: ?>
                                                                <img alt="avatar" src="/resources/files/user/<?php echo $application['image']; ?>" />
                                                            <?php endif; ?>
                                                        <?php else: ?>
                                                            <img alt="avatar" src="/resources/admin/images/no-picture.jpg">
                                                        <?php endif; ?>
                                                    </span>
                            <span class="subject">
                                                        <span class="from"><?php echo $application['firstname']; ?> <?php echo $application['lastname']; ?></span>
                                                        <span class="time"><?php echo WebApp_Tools::calculateTimeAgo($application['date']); ?></span>
                                                    </span>
                            <span class="message"><?php echo $application['title']; ?></span>
                        </a>
                    </li>
                <?php endforeach; ?>
                <?php if (count($applications) > 0): ?>
                    <li><a href="/view-jobs"><?php echo $this->translate->_("view_jobs"); ?></a></li>
                <?php endif; ?>
            </ul>
        </li>

        <?php echo $this->partial("partials/sublayouts/notification.phtml",['notification'=>$notification,'translate' => $this->translate]) ?>
    </ul>
</div>