<?php
$user_image = 'no-picture.jpg';
$has_image = false;
if (Zend_Auth::getInstance()->getIdentity()->image != "")
{
     $user_image = Zend_Auth::getInstance()->getIdentity()->image;
     $has_image = true;
}

if($has_image)
{
    if(!file_exists(ABSOLUTE_PATH.DS.'public'.DS.'resources'.DS.'files'.DS.'user'.DS.$user_image))
    {
        $has_image = false;
        $user_image = 'no-picture.jpg';
    }
}

?>
<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle dash_stter" href="#">
        <?php if ($has_image): ?>
            <img alt="" src="/resources/files/user/<?php echo Zend_Auth::getInstance()->getIdentity()->image; ?>" />
        <?php else: ?>
            <img alt="" src="/resources/admin/images/no-picture.jpg"/>
        <?php endif; ?>
        <span class="username dash_sttdtf"><span class="dash_ttdrfr"><?php echo Zend_Auth::getInstance()->getIdentity()->firstname; ?></span> <span class="_eegdhyy4" ><strong class="dash_rtterw"><?php echo Zend_Auth::getInstance()->getIdentity()->lastname; ?></strong></span></span>
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu extended logout br-mn">
        <li><a href="/profile"><?php echo $this->translate->_("profile"); ?></a></li>
        <?php if (Zend_Auth::getInstance()->getIdentity()->type == 2 ||
            Zend_Auth::getInstance()->getIdentity()->type == 3): ?>
            <li><a href="/dashboard"><?php echo $this->translate->_("Admin"); ?></a></li>
            <li><a href="/home">
                    <?php echo $this->translate->_("jobs"); ?></a></li>
        <?php endif; ?>
        <li><a href="/logout">
                <?php echo $this->translate->_("logout"); ?></a></li>
    </ul>
</li>