@import "variables.less";
@import url(https://fonts.googleapis.com/css?family=Roboto:500,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
body {
    background: #f1f2f7;
}
.dropdown-menu {
    overflow: hidden ;
}
#search-bar {

    /*max-height: 610px;*/
    height: 100%;
    width: 100%;
    background:rgba(51, 51, 51, 0.4);
    /*margin-top: 90px;*/
    text-align : right ;
    background-image : url("/resources/frontend/css/theme/images/talent.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .wor {
        margin: 0px;
        background:rgba(51, 51, 51, 0.4);
        height: 110px;
        padding-top: 35px;
        width:100%;
        /*        max-width:1170px ;
                margin:0 auto ;*/

        #container-brain {
            max-width: 1170px;
            margin: 0 auto;

        }

        div {

            h1.front-title {

                margin: 0px;
                padding: 0px;
                font-family:semibold;
                font-size:20px;
                color:#ffffff;
                line-height:27px;
                text-align: left ;
            }

        }
        #filters-area {
            padding-right:0px;
            .search-link {
                position: relative ;
                &:hover , &:focus {
                    color: transparent;
                }
                .input-search {
                    display: none;
                    position: absolute ;
                    right: 47px;
                    height: 42px;
                    border-radius: none;
                    background:rgba(255,255,255,0.10);
                    border:1px solid #cccccc;
                    border-radius:3px 0px 0px 3px;
                    width:305px;

                }
            }
            .active {
                margin-left: 30px;
                &:before {
                    opacity: 0.6;
                    background: #333333;
                    content: "";
                    left: 128px;
                    /*margin-left: 30px;*/
                    width: 103px;
                    height: 110px;
                    display: inline-block;
                    position: absolute;
                    bottom: -34px;
                }


            }
        }
        .search {
            background:#7dcc93;
            .border-radius(2px);
            width:42px;
            height:42px;
            display: inline-block ;

            &:before {
                content: "";
                display: inline-block;
                background-image: url("/resources/admin/css/theme/icons/search-white.png");
                background-repeat: no-repeat;
                background-size: 100%;
                width: 17px;
                height: 17px;
                position: relative;
                top: 6px;
                vertical-align: middle;
                text-align: center;
                right: 11px;
            }
        }
        .filter {
            background:#7dcc93;
            .border-radius(2px);
            width:42px;
            height:42px;
            display: inline-block ;
            position:relative;
            &:before {
                content: "";
                display: inline-block;
                background-image: url("/resources/admin/css/theme/icons/filter-white.png");
                background-repeat: no-repeat;
                background-size: 100%;
                width: 17px;
                height: 17px;
                position: relative;
                top: 6px;
                vertical-align: middle;
                text-align: center;
                right: 11px;
            }
        }
    }
    .rewards-home {

        max-width: 1200px;
        margin: 0 auto ;
        text-align: center ;
        margin-top: 30px;
        margin-bottom: 30px;
        & > * {
            &:last-child {
                .pub {
                    background: #4F5C69;
                }

            }
            padding: 0px;
            margin: 15px;
            background:#fafafa;
            box-shadow:0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
            border-radius:2px;
            width:369px;
            height:349px;
            .pub {
                background: #007B70;
                padding: 0px;
                margin: 0px;
                max-height: 179px;
                box-shadow: none !important;
                img {
                    background: none;
                    margin: 0px;
                    width: 100%;
                    height: 100%;
                    box-shadow: none !important;
                    /*                    max-height: 179px;
                                        background: red;*/
                }
                .br-head {
                    position: absolute;
                    top: 15px;
                    left: 50%;
                    margin-left: -50px;
                    font-family:semibold;
                    font-size:40px;
                    color:#fafafa;
                    line-height:55px;
                }
                .br-para {
                    position: absolute;
                    top: 95px;
                    padding: 0 1px;
                    font-family:'Open Sans', sans-serif;
                    font-size:20px;
                    color:#fafafa;
                    line-height:27px;
                }
                .br-middle {
                    position: absolute;
                    top: 125px;
                    font-family:semibold;
                    font-size:21px;
                    color:#fafafa;
                    line-height:27px;
                    left: 22%;
                }
            }
            .br-content {
                padding: 6px 20px;
                border-bottom:1px solid rgba(0,0,0,0.12);
                & > * {
                    text-align: left;
                }
                h2 {
                    font-family:semibold;
                    font-size:18px;
                    color:#7dcc93;
                    line-height:19px;
                }
                p {
                    opacity:0.69;
                    font-family:'Open Sans', sans-serif;
                    font-size:14px;
                    color:#333333;
                    line-height:19px;
                    text-align:left;
                }
            }
            .br-detail {
                padding: 20px 20px;
                .br-location {
                    width: 50%;
                    float: left;
                    .br-location-icon {
                        content: "";
                        display: inline-block;
                        background-image: url("/resources/frontend/css/theme/icons/location.png");
                        background-repeat: no-repeat;
                        background-size: 100%;
                        width: 10px;
                        height: 14px;
                        position: relative;
                        top: 1px;
                        vertical-align: middle;
                        text-align: center;
                        float: left;
                        margin-right: 15px;

                    }
                    p{
                        opacity:0.4;
                        font-family:'Open Sans', sans-serif;
                        font-size:14px;
                        color:#333333;
                        line-height:19px;
                        text-align:left;

                    }
                }
                .br-link-detail {
                    width: 50%;
                    float: right;
                    text-align: right;
                    a{
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        font-size:14px;
                        color:#7dcc93;
                        line-height:19px;
                        text-align:right;
                    }
                }
            }
        }
    }
}
#filter-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto ;
}
.search-filters-input {
    display: none ;
    margin: 0 auto ;
    /*opacity:0.6;*/
    background:rgba(51, 51, 51, 0.6);
    width: 100%;
    height:110px;
}

#jobs {
    .rewards-home {

        max-width: 1200px;
        margin: 0 auto ;
        text-align: center ;
        margin-top: 30px;
        margin-bottom: 30px;
        & > * {
            &:last-child {
                .pub {
                    background: #4F5C69;
                }

            }
            padding: 0px;
            margin: 15px;
            background:#fafafa;
            box-shadow:0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
            border-radius:2px;
            width:369px;
            height:349px;
            .pub {
                background: #007B70;
                padding: 0px;
                margin: 0px;
                max-height: 179px;
                box-shadow: none !important;
                img {
                    background: none;
                    margin: 0px;
                    width: 100%;
                    height: 100%;
                    box-shadow: none !important;
                    /*                    max-height: 179px;
                                        background: red;*/
                }
                .br-head {
                    position: absolute;
                    top: 15px;
                    left: 50%;
                    margin-left: -50px;
                    font-family:semibold;
                    font-size:40px;
                    color:#fafafa;
                    line-height:55px;
                }
                .br-para {
                    position: absolute;
                    top: 95px;
                    padding: 0 1px;
                    font-family:'Open Sans', sans-serif;
                    font-size:20px;
                    color:#fafafa;
                    line-height:27px;
                }
                .br-middle {
                    position: absolute;
                    top: 125px;
                    font-family:semibold;
                    font-size:21px;
                    color:#fafafa;
                    line-height:27px;
                    left: 22%;
                }
            }
            .br-content {
                padding: 6px 20px;
                border-bottom:1px solid rgba(0,0,0,0.12);
                & > * {
                    text-align: left;
                }
                h2 {
                    font-family:semibold;
                    font-size:18px;
                    color:#7dcc93;
                    line-height:19px;
                }
                p {
                    opacity:0.69;
                    font-family:'Open Sans', sans-serif;
                    font-size:14px;
                    color:#333333;
                    line-height:19px;
                    text-align:left;
                }
            }
            .br-detail {
                padding: 20px 20px;
                .br-location {
                    width: 50%;
                    float: left;
                    .br-location-icon {
                        content: "";
                        display: inline-block;
                        background-image: url("/resources/frontend/css/theme/icons/location.png");
                        background-repeat: no-repeat;
                        background-size: 100%;
                        width: 10px;
                        height: 14px;
                        position: relative;
                        top: 1px;
                        vertical-align: middle;
                        text-align: center;
                        float: left;
                        margin-right: 15px;

                    }
                    p{
                        opacity:0.4;
                        font-family:'Open Sans', sans-serif;
                        font-size:14px;
                        color:#333333;
                        line-height:19px;
                        text-align:left;

                    }
                }
                .br-link-detail {
                    width: 50%;
                    float: right;
                    text-align: right;
                    a{
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        font-size:14px;
                        color:#7dcc93;
                        line-height:19px;
                        text-align:right;
                    }
                }
            }
        }
    }
}
#showAll {
    div{
        text-align: center;
        a{
            /*            margin: 0 auto; 
                        float: left;
                        width: 50%;
                        margin-left: 116px;
                        width: 232px; 
                        top: 12px;
                        position: relative;*/
            font-family:semibold;
            font-size:14px;
            color:#ffffff;
            line-height:19px;
            background:#7dcc93;
            .border-radius(2px);
            padding: 5px 15px;
            width:221px;
            height:30px;
            position: relative;
            top:10px;

        }
    }

}
.select2-container-multi .select2-choices {
    .border-radius(2px);
    border:1px solid #cccccc;
}
.select2-container {
    height: 42px;
    border: 0px;
    background: transparent;
}
.select2-input {
    height: 42px;

}
.select2-search-choice {
    background:#3ac5d9 !important;
    .border-radius(2px);
    width:115px;
    height:28px;
}

div#profile-sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    background: #2c3d51;
    top: 0px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 2;
    .br-profile-avatar {
        text-align: center ;
        margin-top:40px;
        img {
            width: 150px;
            height: 150px;
            border: 5px solid #3ac5d9;
        }
    }
    .br-profile-user-information {
        text-align: center;
        h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size:18px;
            color:#3ac5d9;
            line-height:19px;
        }
        span {
            font-family:'Open Sans', sans-serif;
            font-weight: 300;
            font-size:14px;
            color:#3ac5d9;
            line-height:19px;
            text-align:center;
        }
    }
    .br-navigation {
        text-align:left;
        margin-top : 35px;
        nav {
            ul {
                padding:0px;
                li {
                    cursor:  pointer;
                    list-style: none;
                    padding: 18px 0 18px 25px ;
                    display: block;
                    width: 100%;
                    font-family:'Open Sans', sans-serif;
                    font-weight: 600 ;
                    font-size:14px;
                    color:#297e8e;
                    line-height:19px;
                    text-align:left;
                    padding-left: 30px;
                    border:1px solid rgba(99,116,132,0.50);
                    a {
                        color:#297e8e;
                    }
                    &:hover:not(.active) {
                        background: rgba(58, 197, 217, 0.1) ;
                        transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                    }

                }
                .active {
                    background: rgba(58, 197, 217, 0.3) ;
                    border-left: 3px solid #3ac5d9;
                    color: #FFF !important;
                    a {
                        color: #FFF !important;
                        text-decoration: none;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
#br-profile-search {
    background:#dfe4eb;
    height:93px;
    padding-top: 25px;
    margin-right:0px;
    .up-cv {
        float: right;
        background:#7dcc93;
        .border-radius(2px);
        width:150px;
        text-align: center;
        line-height:42px;
        display: block;
        color : #FFFFFF;
        font-family:'Open Sans', sans-serif;
        font-weight: 600 ;
        .caret {
            position: relative;
            left: 20px;

        }

    }
    &:last-child {
        .search {
            background:#7dcc93;
            .border-radius(2px);
            width:42px;
            height:42px;
            display: inline-block ;

            &:before {
                content: "";
                display: inline-block;
                background-image: url("/resources/admin/css/theme/icons/search-white.png");
                background-repeat: no-repeat;
                background-size: 100%;
                width: 17px;
                height: 17px;
                position: relative;
                top: 9px;
                vertical-align: middle;
                text-align: center;
                right: 0px;
            }
        }
    }

}

.br-profile-title {
    margin: 0px;
    margin-left: 15px;
    font-family:'Open Sans', sans-serif;
    font-weight: 600 ;
    font-size:20px;
    color:#333333;
    line-height:19px;
}
#resume-header {
    margin-top: 15px;
    .col-sm-3 {
        /*background: red;*/
        /*padding: 0px;*/
        /*margin-left: 15px;*/
        /*margin-right: 15px;*/
        /*width: 23%;*/
        .border-radius(2px);
        min-height:120px;
        &:last-child {
            /*margin-right: 0px;*/
        }
    }
    div {

        .resume-content {
            border:1px solid #dfe4eb;
            .border-radius(2px) ; 
            background: #FFF ;

            .br-header {
                .place {
                    float: right;
                    position: relative;
                    right: 3%;
                    /* border: 21px; */
                    bottom: 20px;
                    font-family:'Open Sans', sans-serif;
                    font-size: 30px; 
                    font-weight: 300;
                    color:#333333;
                    opacity: 1;
                    strong {
                        font-size:35px;
                        font-weight: 700;
                    }
                }
                h2 {
                    padding: 15px 15px;
                    font-family:'Open Sans', sans-serif;
                    font-weight: 600 ;
                    font-size:13px;
                    color:#333333;
                    line-height:19px;
                    text-align:left;
                    margin: 0px;
                }
                p {
                    opacity:0.4;
                    font-family:'Open Sans', sans-serif;
                    font-weight: 700 ;
                    font-size:11px;
                    color:#2c3d51;
                    line-height:19px;
                    padding: 0px 15px
                }
                border-bottom: 1px solid #dfe4eb;
            }

            .br-resume-content {
                /*padding: 15px;*/
                .lead-button {
                    font-family:'Open Sans', sans-serif;
                    font-weight: 700 ;
                    line-height: 26px;
                    display: block;
                    text-align: center;
                    width: 85%;
                    margin: 0px auto;
                    position: relative;
                    top: 25%;
                    color :#7dcc93;
                    border:1px solid #7dcc93;
                    .border-radius(2px);
                    &:hover {
                        background: #7dcc93;
                        color : #FFF;
                        text-decoration: none;
                        transition: all 0.5s ease;
                        -webkit-transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                    }
                }
                .n-fix {
                    /*bottom: 35px !important ;*/
                    font-family:'Open Sans', sans-serif;
                    font-weight: 600 ;
                    font-size:13px;
                    color:#333333;
                    line-height:16px;
                    text-align:left;
                }
                .br-fix{
                    position: relative ;
                    right: 30px;
                    float: right;
                }
                height:60px;
                div {
                    &:first-child {
                        width: 50%;
                        float: left;
                        padding-left: 15px;
                        strong {
                            font-family:'Open Sans', sans-serif;
                            font-weight: 600 ;
                            font-size:35px;
                            color:#333333;
                            line-height:53px;
                            text-align:center;

                        }
                        span {
                            display: block;
                            width: 44px;
                            word-break: break-all;
                            position: relative;
                            left: 45px;
                            bottom: 44px;
                        }

                    }
                    &:last-child {
                        padding-top: 15px;
                        width: 50%;
                        float: right;
                        text-align: center ;
                        .checked {
                            content: "";
                            display: inline-block;
                            background-image: url("/resources/frontend/css/theme/icons/checked.png");
                            background-repeat: no-repeat;
                            background-size: 100%;
                            width: 36px;
                            height: 27px;
                            position: relative;
                            top: 3px;
                        }
                        a {
                            font-family:'Open Sans', sans-serif;
                            font-weight: 600 ;
                            border:1px solid #7dcc93;
                            .border-radius(2px);
                            width:127px;
                            display: block;
                            line-height: 28px;
                            color:#7dcc93 ;
                            &:hover {
                                cursor: auto ;
                                background: #7dcc93;
                                color: #FFFFFF;
                                text-decoration: none;
                                transition: all 0.5s ease;
                                -webkit-transition: all 0.5s ease;
                                -moz-transition: all 0.5s ease;
                            }
                        }
                    }
                }

            }

        }

    }
}
.glyphicon-plus-fix {
    background:#7dcc93;
    .border-radius(2px);
    width:32px;
    height:32px;
    display: inline-block ;
    margin-top:10px;
    &:before {
        top: 8px;
        color: #FFF;
        position: relative;
        text-align: center;
        display: block;
        right:0px;
    }
}
.profile-input {
    border: 0px;
    outline: none;
    box-shadow: none;
    border:0px;
    border-bottom: 2px solid #CCC;
    border-radius: 0px !important;
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border:0px !important;
        border-bottom: 2px solid #CCC !important;
        border-radius: 0px !important;
    }
}
/*textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    bo
}*/

.centers {
    text-align: right;
    right: 25px;
}
.br-profile-title-page {
    font-family:'Open Sans', sans-serif;
    font-weight: 600 ;
    font-size:20px;
    color:#333333;
    line-height:19px;
    padding:0px 25px;
}
.hr-profile{
    margin-left: 25px;
    width: 92%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity:0.2;
    border:1px solid #979797;
}
nav#profile-skills {
    ul {
        display : bloxk ;
        li {
            list-style: none;
            float: left;
            background:#3ac5d9;
            .border-radius(2px);
            padding: 4px 10px;
            margin: 3px;
            color: #FFF;
            font-family:'Open Sans', sans-serif;
            font-weight: 600 ;
            font-size: 14px;


        }
    }
}
.br-job-his-ttle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
    padding: 0px 25px;
}
.br-job-his-date {
    opacity:0.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size:11px;
    color:#2c3d51;
    line-height:19px;
    padding: 0px 25px;
}
.green-pen {
    background:#FFF;
    border:2px solid #7dcc93;
    .border-radius(2px);
    width:24px;
    height:24px;
    display: inline-block ;
    margin-left:10px;

    &:before {
        content: "";
        display: inline-block;
        background-image: url("/resources/frontend/css/theme/icons/green-pen.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 12px;
        height: 12px;
        position: relative;
        top: 0px;
        vertical-align: middle;
        text-align: center;
        right: -4px;
    }
}
#br-profile-jobs-fix-col {

    min-height: 260px;

}
.profile-control {
    label {
        opacity:0.4;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size:11px;
        color:#2c3d51;
        line-height:19px;
    }
    input {
        background:#ffffff;
        border:1px solid #cccccc;
        .border-radius(3px);
        height:40px;
    }
    max-width: 85%;
    margin-left: 25px;
    &:nth-child(2) {
        margin-right: 3px;
    }
}
.range-cal{
    background:#7dcc93;
    border:2px solid #7dcc93;
    .border-radius(2px);
    width:28px;
    height:28px;
    display: inline-block ;
    margin-left:10px;
    position: absolute;
    top: 33px;
    right: 5px;
    &:before {
        content: "";
        display: inline-block;
        background-image: url("/resources/frontend/css/theme/icons/cal.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 12px;
        height: 12px;
        position: relative;
        top: 2px;
        vertical-align: middle;
        text-align: center;
        right: -7px;

    }
}
.hr-lg {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 15px;
    opacity: 0.2;
    border: 1px solid #979797;
}
.padd-left-25 {
    padding: 0px 25px;
}
.download-pdf {
    content: "";
    display: inline-block;
    background-image: url("/resources/frontend/css/theme/icons/download-pdf.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 42px;
    margin-right:20px;

}
.download-txt {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size:13px;
    color:#333333;
    line-height:19px;
}
.download-file {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size:14px;
    color:#3ac5d9;
    line-height:19px;
    text-align:left;
}

#setting-layout {
    padding : 0 25px;
    hr {
        margin-top: 20px;
        margin-bottom: 20px; 
        border: 0;
        border-top: 0px; 
    }
    .row {
        .form-group {
            select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
        }

        .brain-back-drop{
            &:after {
                background-clip: padding-box;
                background-color: #7dcc93;
                border-radius: 3px;
                content: url("/resources/admin/css/theme/icons/crt.png");
                display: block;
                height: 28px;
                padding: 4px 16px 3px 9px;
                position: relative;
                top: -34px;
                visibility: visible;
                width: 28px;
                float: right;
                right: 5px;
            }
        }
        h2 {
            padding: 0 13px;
            opacity:0.4;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size:11px;
            color:#2c3d51;
            line-height:19px;
        }
        div {
            .form-group  {
                label {
                    font-family: 'Open Sans', sans-serif;
                    opacity:0.8;
                    font-weight: 700;
                    font-size:14px;
                    color:#333333;
                    line-height:19px;
                    text-align:left;
                }
                select, input[type="text"],input[type="password"] {
                    height:40px;
                }
                .dropzone {
                    min-height : 193px;
                    border:2px dashed #cccccc;
                    .border-radius(8px) ;
                    background-color:rgba(215,215,215,0.10) !important;

                    .brain-msg {
                        p {
                            &:first-child {
                                max-width: 333px;
                                margin: 0 auto;
                                font-family: 'Open Sans', sans-serif;
                                font-size:13px;
                                color:#333333;
                                line-height:19px;

                            }
                            &:last-child {
                                opacity:0.6;
                                font-family: 'Open Sans', sans-serif;
                                font-size:11px;
                                color:#333333;
                                line-height:19px;
                                text-align:center;
                            }
                        }

                    }
                }
            }
        }
        .btn-brain {
            background: #FFFFFF;
            border: 2px solid #7dcc93;
            width:116px;
            .border-radius(2px);
            &:hover {
                background: #7dcc93;
                color: #FFFFFF;
                .spn {
                    color: #FFFFFF;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 600;
                }
            }
            .spn {
                color: #7dcc93;
                line-height: 20px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size:14px;
                color:#7dcc93;
                line-height:24px !important;
                text-align:center;

            }
        }
        .btn {
            background:#7dcc93;
            .border-radius(2px);
            border : 2px solid #7dcc93;
            max-width:279px;
            width:100%;
            /*height:42px;*/
            position: relative;
            top: 20px;
            &:hover {
                background:#FFF;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
            }
        }
        .btn-default {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size:14px;
            color:#ffffff;
            line-height:28px;
            text-align:center;
            &:hover {
                color:#7dcc93;
            }
        }
        &:last-child {
            p {
                font-family: 'Open Sans', sans-serif;
                font-size:13px;
                color:#333333;
                line-height:19px;

                a {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    font-size:14px;
                    color:#3ac5d9;
                    line-height:19px;
                    text-align:left;
                }
            }
        }
        table, th, td {
            border-left: none;
            border-right: none;
        }

        table {
            /*background: #FFF ;*/
            thead {
                border-top: 1px solid #FFF;
                tr {
                    th {
                        background: #FFF;
                        opacity:0.4;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 700;
                        font-size:11px;
                        color:#2c3d51;
                        line-height:19px;
                    }
                }
            }
            tbody {
                tr {
                    &:not(:first-child) {
                        td {
                            border-left:0px;
                            border-right:0px;
                            vertical-align:middle;

                            &:first-child {
                                padding-left: 30px;
                                font-family: 'Open Sans', sans-serif;
                                font-weight: 700;
                                font-size:13px;
                                color:#333333;
                                line-height:19px;
                            }
                            &:nth-child(2) {
                                font-family: 'Open Sans', sans-serif;
                                font-size:13px;
                                color:#333333;
                                line-height:19px;
                            }
                        }

                    }
                    &:last-child {
                        td {
                            /*border-bottom: 1px solid #FFF*/
                            border-bottom: 1px solid transparent;
                        }

                    }
                }
            }
            tr {
                &:nth-of-type(odd) {
                    background: #FFFFFF;
                }
                &:nth-of-type(even) {
                    background: #FFFFFF;
                }
            }

        }
    }
}
.reward-data {
    width: 89%;
    margin: 0 auto ;
    padding: 10px 0px;
    background: #FFF;
    .border-radius(2px);
    border:1px solid #dfe4eb;
    overflow: hidden;
    padding : 30px 0px;

    div {
        &:first-child {
            width: 15%;
            float:left;
            text-align: center ;
            strong {
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size:40px;
                color:#333333;
                line-height:53px;
                text-align:center;
                padding-left: 10px;
            }

        }
        &:nth-child(2) {
            width: 30%;
            float:left;
            text-align: center;
            margin-top: 7px;
            p {
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size:13px;
                color:#333333;
                line-height:19px;

            }

        }
        &:last-child{
            width: 55%;
            float:left;
            text-align: center;
            margin-top: 17px;

            .btn-brain{
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                border: 1px solid #7dcc93;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                max-width: 141px;
                width: 100%;
                line-height: 22px;
                color: #7dcc93;

                &:hover {
                    color: #FFFFFF;
                    background:  #7dcc93;
                    transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                }
            }

        }
    }
}
.check-valid {
    &:after {
        background-clip: padding-box;
        border-radius: 3px;
        content: url("/resources/frontend/css/theme/icons/check-valid.png");
        display: block;
        height: 28px;
        padding: 4px 16px 3px 9px;
        position: relative;
        /*top: -34px;*/
        visibility: visible;

        right: 5px;
    }
}
.check-not-valid{
    &:after {
        background-clip: padding-box;
        border-radius: 3px;
        content: url("/resources/frontend/css/theme/icons/check-not-valid.png");
        display: block;
        height: 28px;
        padding: 4px 16px 3px 9px;
        position: relative;
        /*top: -34px;*/
        visibility: visible;
        ;
        right: 5px;
    }

}
.redsi-tbl {
    width:16%;
    text-align: center ;

}
.redsi-tbl-lst {
    width:10%;
    text-align: center ;
}
#application-layout {
    .row {
        margin-right:0px;
        .col-sm-6 {
            min-height: 104px;
            &:first-child {
                background:#f7b17e;
            }
            &:last-child {
                background:#7dcc93;
            }
            h2 {
                text-align: center ;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                font-size:50px;
                color:#ffffff;
                line-height:68px;
                margin: 0px;
            }
            p {
                text-align: center ;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size:16px;
                color:#ffffff;
                line-height:22px;
            }

        }
    }
}
#application-layout-tbl {
    table, th, td {
        border-left: none;
        border-right: none;
    }

    table {
        /*background: #FFF ;*/
        thead {
            border-top: 1px solid #FFF;
            tr {
                th {
                    background: #FFF;
                    opacity:0.4;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    font-size:11px;
                    color:#2c3d51;
                    line-height:19px;
                }
            }
        }
        tbody {
            tr {
                /*                &:not(:first-child) {*/
                td {
                    height: 30px;
                    border-left:0px;
                    border-right:0px;
                    vertical-align:middle;
                    &:first-child {
                        font-family: 'Open Sans', sans-serif;
                        font-size:13px;
                        color:#333333;
                        line-height:19px;
                    }
                    &:not(:first-child) {
                        opacity:0.6;
                        font-family: 'Open Sans', sans-serif;
                        font-size:13px;
                        color:#333333;
                        line-height:19px;
                    }
                }

                /*}*/
                &:last-child {
                    td {
                        /*border-bottom: 1px solid #FFF*/
                        border-bottom: 1px solid transparent;
                    }

                }
            }
        }
        tr {
            &:nth-of-type(odd) {
                background: #FFFFFF;
            }
            &:nth-of-type(even) {
                background: #FFFFFF;
            }
        }

    }

}


#recommendations-layout {
    .row {
        margin-right:0px;
        .col-sm-4 {
            min-height: 104px;
            &:first-child {
                background:#f7b17e;
            }
            &:nth-child(2) {
                background:#3ac5d9;
            }
            &:last-child {
                background:#7dcc93;
            }
            h2 {
                text-align: center ;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                font-size:50px;
                color:#ffffff;
                line-height:68px;
                margin: 0px;
            }
            p {
                text-align: center ;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size:16px;
                color:#ffffff;
                line-height:22px;
            }

        }
    }
}


#recommendations-layout-tbl {
    table, th, td {
        border-left: none;
        border-right: none;
    }

    table {
        /*background: #FFF ;*/
        thead {
            border-top: 1px solid #FFF;
            tr {
                th {
                    background: #FFF;
                    opacity:0.4;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    font-size:11px;
                    color:#2c3d51;
                    line-height:19px;
                }
            }
        }
        tbody {
            tr {
                /*                &:not(:first-child) {*/
                td {
                    .reminder {
                        .border-radius(3px);
                        border:1px solid #7dcc93;
                        line-height: 30px;
                        color: #000;
                        padding: 5px 20px;
                        &:hover {
                            text-decoration: none;
                            background: #7dcc93 ;
                            transition: all 0.5s ease;
                            -webkit-transition: all 0.5s ease;
                            -moz-transition: all 0.5s ease;
                            -o-transition: all 0.5s ease;
                        }
                    }
                    height: 30px;
                    border-left:0px;
                    border-right:0px;
                    vertical-align:middle;
                    font-family: 'Open Sans', sans-serif;
                    font-size:13px;
                    color:#333333;
                    line-height:19px;
                    &:not(:first-child):not(:nth-child(2)) {
                        opacity:0.6;
                        font-family: 'Open Sans', sans-serif;
                        font-size:13px;
                        color:#333333;
                        line-height:19px;
                    }
                }
                &:last-child {
                    td {
                        /*border-bottom: 1px solid #FFF*/
                        border-bottom: 1px solid transparent;
                    }

                }
            }
        }
        tr {
            &:nth-of-type(odd) {
                background: #FFFFFF;
            }
            &:nth-of-type(even) {
                background: #FFFFFF;
            }
        }

    }

}


#reminder-popup {
    background: #ffffff;
    border-radius: 3px;
    width: 612px;
    /* height: 556px; */
    margin: 120px auto;
    .modal-header {
        border:0px;
        .modal-title {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size:20px;
            color:#333333;
            line-height:19px;
        }
    }

    .hr-popup {
        opacity:0.3;
        border:1px solid #979797;
        box-shadow:0px 1px 2px 0px rgba(0,0,0,0.20);
        width:612px;
        height:0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .modal-body {
        .btn-popup {
            width: 100% !important;
            background:#7dcc93;
            .border-radius(2px);
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size:14px;
            color:#ffffff;
            line-height:28px;
            text-align:center;
        }
    }
}

#camp-layout {
    .row {
        margin-right:0px;
        .col-half-offset{
            margin-left:-0.833333%;
        }
        .col-sm-2 {
            width: 20.666667%;
            min-height: 104px;
            &:first-child {
                background:#f7b17e;
                span {
                    font-size: 38px;
                }
            }
            &:nth-child(2) {
                background:#3ac5d9;
            }
            &:nth-child(3) {
                background:#f581a8;
            }
            &:nth-child(4) {
                background:#7dcc93;
            }
            &:last-child {
                background:#637484;
            }
            h2 {
                text-align: center ;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                font-size:50px;
                color:#ffffff;
                line-height:68px;
                margin: 0px;
            }
            p {
                text-align: center ;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size:16px;
                color:#ffffff;
                line-height:22px;
            }

        }
    }
}

.alert-greeen-pen {
    float: right;
    position: relative;
    right: 3%;
    /* border: 21px; */
    bottom: 20px;
}

#camp-layout-tbl {

    table, th, td {
        border-left: none;
        border-right: none;
    }

    table {
        /*background: #FFF ;*/
        thead {
            border-top: 1px solid #FFF;
            tr {
                th {
                    background: #FFF;
                    opacity:0.4;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    font-size:11px;
                    color:#2c3d51;
                    line-height:19px;
                    &:last-child {
                        width: 15%;
                        text-align: center;
                    }
                    &:not(:first-child):not(:last-child) {
                        text-align: center;
                    }

                }
            }
        }
        tbody {
            tr {
                /*                &:not(:first-child) {*/
                td {
                    height: 30px;
                    border-left:0px;
                    border-right:0px;
                    vertical-align:middle;
                    &:first-child {
                        font-family: 'Open Sans', sans-serif;
                        font-size:13px;
                        color:#333333;
                        line-height:19px;
                    }
                    &:not(:first-child) {
                        opacity:0.6;
                        font-family: 'Open Sans', sans-serif;
                        font-size:13px;
                        color:#333333;
                        line-height:19px;
                    }
                    &:not(:first-child):not(:last-child) {
                        text-align: center;
                    }
                    &:last-child {
                        text-align: right;
                    }
                }

                /*}*/
                &:last-child {
                    td {
                        /*border-bottom: 1px solid #FFF*/
                        border-bottom: 1px solid transparent;
                    }

                }
            }
        }
        tr {
            &:nth-of-type(odd) {
                background: #FFFFFF;
            }
            &:nth-of-type(even) {
                background: #FFFFFF;
            }
        }

    }
}

.col-sm-search {
    /*    text-align: center;
        position: relative;
        left: 90px;
        width: 10%*/
    text-align: center;
    position: absolute;
    right: 9px;
    width: 7%
}#dynamic-table_wrapper {
    .bottom {
        position: relative;
        height: 60px;
        width: 100%;
        div {
            position: absolute;
        }
        #dynamic-table_paginate{
            right: 10px;
            top: 20px;
            ul {
                .prev {
                    a {
                        visibility: hidden;
                        &:before {
                            display: inline-block;
                            width: 0;
                            height: 0;
                            /* margin-left: 0px; */
                            vertical-align: middle;
                            border-right: 6px solid;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            color: #FFF;
                            visibility: visible;
                            content: "";
                            text-align: center;
                            left: 5px;
                            position: relative;
                        }
                    }
                }
                .next {
                    a {
                        visibility: hidden;
                        &:before {
                            display: inline-block;
                            width: 0;
                            height: 0;
                            /* margin-left: 0px; */
                            vertical-align: middle;
                            border-left: 6px solid;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            color: #FFF;
                            visibility: visible;
                            content: "";
                            text-align: center;
                            left: 15px;
                            position: relative;
                        }
                    }
                }
                li {
                    &:not(:first-child):not(:last-child) {
                        display: none;
                    }

                    background: #7DCC93;
                    margin:0px;
                    border: 0px;
                    border-radius: 0px;

                    a {

                        /*background: #7DCC93;*/
                        .active {
                            /*background: #7DCC93;*/
                            &:hover {
                                /*background: #7DCC93;*/

                            }
                        }
                    }
                    &:hover {
                        /*background: #7DCC93 ;*/
                    }
                }
            }
        }
        #dynamic-table_info {
            right: 90px;
            top: 14px;

        }
        #dynamic-table_length {
            .abc {
                position: absolute;
                background: #7DCC93;
                height: 20px;
                width: 20px;
                display: block;
                top: 23px;
                right: 19px;
                .border-radius(3px);
                &:after {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: 4px;
                    vertical-align: middle;
                    border-top: 6px solid;
                    border-left: 6px solid #7DCC93;
                    border-right: 6px solid #7DCC93;
                    color: #FFFFFF;
                    content: "";
                    visibility: visible;
                    background: #FFF;
                }
            }
            right:  180px; 
            select {
                width: 100%;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
            }
        }
    }
}
.daterangepicker {
    .left, .right {
        .calendar-table {
            table {
                thead {
                    tr {
                        background: #FFF !important;
                    }
                }

                tbody {
                    tr {
                        &:nth-of-type(odd) {
                            background: transparent;
                        }
                        td {
                            .in-range {
                                background:#7dcc93 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
#job-detail {
    background:rgba(44, 61, 81, 0.89);
    width:100%;
    min-height:280px;
    height: 100%;
    .container {
        .row {
            .col-sm-8 {
                .job-detail-info {
                    padding: 30px 0px;
                    overflow: hidden;
                    .job-detail-title {
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 500;
                        font-size:30px;
                        color:#ffffff;
                        line-height:41px;
                    }
                    .job-detail-type {
                        font-family: 'Open Sans', sans-serif;
                        font-size:16px;
                        color:rgba(255, 255, 255, 0.5);
                        line-height:19px;
                        text-align:left;
                    }
                    .job-detail-expiredate {
                        font-family: 'Open Sans', sans-serif;
                        font-size:12px;
                        color:rgba(241, 244, 248, 0.69);
                        line-height:17px;
                        text-align:left;
                    }
                    .job-detail-hr {
                        opacity:0.2;
                        border:1px solid #979797;
                        width:75%;
                        height:1px;
                        /*float: left;*/
                    }
                    .job-detail-info-loc {
                        span {
                            float:left;
                            &:first-child {
                                padding-left: 0px;
                            }
                            padding: 0px 20px;
                            font-family: 'Open Sans', sans-serif;
                            font-size:16px;
                            color:rgba(255, 255, 255, 0.69);
                            line-height:19px;
                            text-align:left;


                        }
                        .loc {
                            &:before {
                                content: url("/resources/frontend/css/theme/icons/loc.png");
                                height: 16px;
                                margin-right: 7px;
                                position: relative;
                                top: 2px;
                                width: 11px;
                            }

                        }
                        .avaibility {
                            &:before {
                                content: url("/resources/frontend/css/theme/icons/avaibility.png");
                                height: 16px;
                                margin-right: 7px;
                                position: relative;
                                top: 4px;
                                width: 11px;
                            }

                        }
                        .experience {
                            &:before {
                                content: url("/resources/frontend/css/theme/icons/experience.png");
                                height: 16px;
                                margin-right: 7px;
                                position: relative;
                                top: 4px;
                                width: 11px;
                            }

                        }

                    }


                }
            }
            .col-sm-4 {
                background: url('/resources/frontend/css/theme/images/scooter.png') no-repeat;
                background-size: 160%;
                min-height:280px;
                height: 100%;

                .reward-scooter {

                }
            }

        }
    }
}
.client-single {
    padding-top: 0px;
}
.job-sidebar {
    padding: 0px;
}
.job-alert-box-recommend {
    background:#7dcc93 !important;
    border-radius: 0px !important;
    text-align : center ;
    &:hover {
        cursor: pointer;
        background:#6ab37e !important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

    }

    .job-recommend-icn {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size:20px;
        color:#ffffff;
        line-height:71px;
        text-align:center;
        &:before {
            content: url("/resources/frontend/css/theme/icons/share.png");
            height: 16px;
            margin-right: 7px;
            position: relative;
            top: 4px;
            width: 11px;
        }
    }
}
.job-alert-box-time-recommend {
    background: #FFF !important;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:rgba(51, 51, 51, 0.5);
    line-height:19px;
    margin : 0px !important ;
    padding :0px;
}
.job-recommend-box-apply-job {
    .border-radius(2px);
    border:2px solid #7dcc93;
    text-align: center ;
    span {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size:14px;
        color:#7dcc93;
        line-height:19px;
        text-align:cente
    }
    &:hover {
        cursor: pointer ;
        background: #7dcc93 !important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        span {
            color:#FFFFFF;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
    }

}
.job-similar-box  {
    background: rgba(241, 244, 248, 0.69) !important;
    .job-title-box {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size:20px;
        color:#333333;
        line-height:19px;
        text-align:left;
        margin-bottom: 35px;
        margin-top: 10px;
        
    }
    .anchor-container{
        display: block;
        height: 100%;
        overflow: hidden;
        div {
            &:first-child {
                .job-similar-box-title {
                    display: block;
                    float: left ;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    font-size:16px;
                    color:#333333;
                    line-height:22px;
                    width: 60%;
                   
                }
                .job-thumbnail-expire {
                    float: right;
                    opacity:0.5;
                    font-family: 'Open Sans', sans-serif;
                    font-size:12px;
                    color:#333333;
                    line-height:17px;
                    text-align:left;
                }
            }
            &:nth-child(2) {
                .job-thumbnail-department {
                    opacity:0.5;
                    font-family: 'Open Sans', sans-serif;
                    font-size:14px;
                    color:#333333;
                    line-height:19px;
                    text-align:left;
                    width: 60%;
                }
                .job-thumbnail-expiredate {
                    opacity:0.5;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    font-size:12px;
                    color:#333333;
                    line-height:17px;
                    text-align:left;
                    float: right;
                }
            }
        }
    }
}
.job-skills {
    padding: 0px;
}
.all-my-skills {
    .skills {
        li {
            margin : 0px;
            &:first-child {
                span {
                      margin-left: 0px;
                }
              
            }
            span {
               
                background:#3ac5d9;
                .border-radius(2px);
                &:hover {
                    background:#3ac5d9;
                }
                span {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    font-size:14px;
                    color:#ffffff;
                    line-height:19px;
                    text-align:left;
                }
            }
        }
    }
}

#myDropDown {
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}