@import "variables.less";

section#log-in{


    background:#2c3d51;
    .box-login{
        background: none;
        position: relative;

        .box-login-head-password{
            h1 {

                font-family:semibold !important;
                font-size:34px;
                color:#ffffff;
                line-height:46px;
                text-align:center;
                margin-bottom: 15px;
            }
            h2 {
                font-family:semibold !important;
                font-size:14px;
                color:#FFFFFF;
                line-height:19px;
                text-align:center;

            }
        }


        .box-login-head {
            h1 {

                font-family:semibold !important;
                font-size:34px;
                color:#ffffff;
                line-height:46px;
                text-align:center;;

            }
            h2 {
                font-family:semibold !important;
                font-size:14px;
                color:#3ac5d9;
                line-height:19px;
                text-align:center;
            }
        }
        .form-wrap {
            .username {
                border-bottom-left-radius: none;
                border-bottom-right-radius: none;
            }
            input[type="text"] ,input[type="password"]{
                width: 100%;
                height: 42px;
                .border-radius(3px);
                max-width:  none;
                background:#ffffff;
                border:1px solid #cccccc;
            }

            .form-group {
                text-align: left ;
                label {
                    font-family:semibold;
                    font-size:14px;
                    color:#ffffff;
                    line-height:19px;
                }
            }
            .signin{
                font-family:semibold;
                font-size:14px;
                color:#ffffff;
                line-height:19px;
                text-align:center;
            }
            .checkbox-inline {
                font-family:OpenSans;
                font-size:14px;
                color:#ffffff;
                line-height:19px;
                text-align:left;
                float: left;
            }
            .signin-mobile {
                text-align: center;
                padding-top: 50px;
                clear: both;
                .signin {
                    background:#7dcc93;
                    .border-radius(2px);
                    width:100%;
                    max-width:335px;
                    line-height: 14px;
                    vertical-align: middle;
                }
            }
            .forgot-pass-mb {
                float: right;
                font-family: semibold;
                font-size: 14px;
                color: #3ac5d9;
                line-height: 19px;
                position: absolute;
                text-align: center;
                /* width: 100%; */
                display: inline-table;
                right: 20px;
            }
            .no-account {
                font-family:semibold;
                font-size:14px;
                color:#3ac5d9;
                line-height:19px;
                text-align:center;
                position: relative ;
                top: 70px;
            }
        }
        .register-btn {
            background:#7dcc93 !important;
            .border-radius(2px);
            width:335px;
            width: 100%;
            max-width: 335px;
            line-height: 14px;
            vertical-align: middle;
        }
        #register-btn {
            position: relative;
            top:35px;
        }
    }

}
@media screen and (max-width: 750px){
    @font-face {
        font-family: semibold;
        src: url(OpenSans-Semibold.ttf);
    }
    section#log-in {
        padding: 100px 0 60px !important;
    }
}
@media screen and (max-width: 320px){
    section#log-in {
        .box-login {
            .box-login-head-password{
                h1 {
                    font-size: 32px;
                }
                h2 {
                    /*color: red;*/
                }
            }
            #remembermelogin {
                  font-size: 12px !important;
            }
            .forgot-pass-mb {
                font-size: 12px !important;
            }
        }
    }
    /*.box-login-head-password {
         h2 {
                        color: red;
                    }
    }*/

}
@media screen and (max-width: 363px){
    #log-in {
        .box-login {
            .box-login-head {
                .register {
                    font-size: 28px;
                }
            }
        }
    }
}