v    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Bounty Documents List
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>                        
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <div class="clearfix">
                                <div class="btn-group">
                                    <a href="/edit-document" class="btn btn-primary">
                                        Add New Document <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="btn-group pull-right">
                                    
                                </div>
                            </div>
                            <div class="space15"><hr /></div>
                            <table class="table table-striped table-hover table-bordered" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Download</th>
                                        <th>Modified</th>
                                        <th>Modified by</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ((array) $this->items as $item):?>
                                    <tr class="">
                                        <td><?php echo $item['id'];?></td>
                                        <td><?php echo $item['title'];?></td>
                                        <td><a href="/download-document/?id=<?php echo $item['id'];?>">Download</a></td>
                                        <td><?php echo date("d F Y, H:i", strtotime($item['date']));?></td>
                                        <td><?php echo $item['name'];?></td>                                        
                                        <td><a class="edit" href="/edit-document/?id=<?php echo $item['id'];?>">Edit</a></td>
                                        <td><a class="delete delete_item" href="/delete-document/?id=<?php echo $item['id'];?>">Delete</a></td>
                                    </tr>                                
                                    <?php endforeach;?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        </section>
    </section>
</section>