<section id="main-content">
        <section class="wrapper">
<!--mini statistics start-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">Add/Edit Bounty Document</header>
                    <div class="panel-body">
                        <div class=" form">
                            <?php echo $this->form;?>
                        </div>
                        <div class="col-sm-12">
                            
                            

                        </div>
                    </div>
                    
                </section>
            </div>
        </div>
        
        <!-- page end-->
        </section>
        
    </section>
    

</section>