    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Cities List
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>                        
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <div class="clearfix">
                                <div class="btn-group">
                                    <a href="/edit-city" class="btn btn-primary">
                                        Add New City <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="/view-cities/?export-pdf">Save as PDF</a></li>
                                        <li><a href="/view-cities/?export">Export to Excel</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="space15"><hr /></div>
                            <table class="table table-striped table-hover table-bordered" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>                                        
                                        <th>Country</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ((array) $this->items as $item):?>
                                    <tr class="">
                                        <td><?php echo $item['id'];?></td>
                                        <td><?php echo $item['title'];?></td>
                                        <td><?php echo $item['country'];?></td>
                                        <td><a class="edit" href="/edit-city/?id=<?php echo $item['id'];?>">Edit</a></td>
                                        <td><a class="delete delete_item" href="/delete-city/?id=<?php echo $item['id'];?>">Delete</a></td>
                                    </tr>                                
                                    <?php endforeach;?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        </section>
    </section>
</section>