.bounty {
    margin: 15px auto;
    .col-sm-4 {
        &:first-child {
            div {
                padding: 7px;
                background:#F7B17E;
                text-align: center;
                span {
                    font-family:'Open Sans', sans-serif;
                    font-size:50px;
                    color:#FFFFFF;
                    line-height:68px;
                    text-align:center;
                }
                p {
                    font-family:'Open Sans', sans-serif;
                    font-size:16px;
                    color:#FFFFFF;
                    line-height:22px;
                    text-align:center;
                }
            }

        }
        &:nth-child(2) {
            div {
                padding: 7px;
                background:#3AC5D9;
                text-align: center;
                span {
                    font-family:'Open Sans', sans-serif;
                    font-size:50px;
                    color:#FFFFFF;
                    line-height:68px;
                    text-align:center;
                }
                p {
                    font-family:'Open Sans', sans-serif;
                    font-size:16px;
                    color:#FFFFFF;
                    line-height:22px;
                    text-align:center;
                }
            }

        }
        &:nth-child(3) {
            div {
                padding: 7px;
                background:#F581A8;
                text-align: center;
                span {
                    font-family:'Open Sans', sans-serif;
                    font-size:50px;
                    color:#FFFFFF;
                    line-height:68px;
                    text-align:center;
                }
                p {
                    font-family:'Open Sans', sans-serif;
                    font-size:16px;
                    color:#FFFFFF;
                    line-height:22px;
                    text-align:center;
                }
            }

        }
    }
}
#wsdase {
    background:#DFE4EB;
    /*height:93px;*/
    padding: 22px;
    margin-top: 60px;
    .b-title {
        font-family:semibold;
        font-size:20px;
        color:#333333;
        line-height:19px;
    }
    .search-brain {
        background: #7DCC93;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        width: 42px;
        height: 42px;
        display: block;
        .glyphicon-search {
            font-size: 20px;
            top: 9px;
            text-align: center;
            vertical-align: middle;
            color: #FFF;
        }
    }
}

.mrg-btm {
    padding-bottom: 20px
}
.add {
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/add.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
}
.direction {
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/direction.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
}
