@import "variables.less";
.bottom-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-top: 6px solid;
    border-left: 6px solid #7DCC93;
    border-right: 6px solid #7DCC93;
    color: #FFFFFF;
    content: "";
    visibility: visible;
    position: absolute;
    bottom: 21px;
    background: #FFF;
    left: 129px;
    top: 30px;
}
.left-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-right: 5px solid ;
    border-top :5px solid transparent;
    border-bottom :5px solid transparent;
    color : #FFF ;
}
.right-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-left: 5px solid ;
    border-top :5px solid transparent;
    border-bottom :5px solid transparent;
    color : #FFF ;
}
div #dynamic-table_paginate {
    ul {
        li {
            padding: 5px ;
            background:#7DCC93;
            border : 1px solid #7DCC93 ; 
            .border-radiuses(0,0,3px,3px);
            a {
                background-color: #7DCC93 ;
                background : #7DCC93 ;
                visibility: hidden ;
                &:hover {
                    background-color: #7DCC93 ;
                    background : #7DCC93 ;
                }
                &:active {
                    background: #7DCC93 ;
                }
                &:focus {
                    background-color: #7DCC93 ;
                    background: #7DCC93 ;
                }
            }
            &:first-child {
                .border-radiuses(0,0,3px,3px);
                a {
                    &:before {
                        .left-caret();
                        visibility: visible;
                        content: "";
                    }
                }
                &:after {
                    visibility: visible;
                    content: "|";
                    position: relative;
                    top: 0px;
                    right: -8px;
                    color: #FFFFFF;
                }
            }
            &:last-child {
                .border-radiuses(3px,3px,0,0);
                a {

                    &:after {
                        .right-caret();
                        visibility: visible;
                        content: "";
                    }
                }
            }
        }
    }
}
div #dynamic-table_length {
    span.abc {
        top: 20px;
        border-radius: 3px;
        right: 17px;
        float: left;
        background: #7DCC93;
        width: 25px;
        height: 25px;
        position: absolute;
    }
    select {
        background: #FFFFFF;
        font-size: 15px;
        width: 165px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        option {
            font-weight: bold !important;
        }
    }
    &:after {
        .bottom-caret();
        content: "";
        visibility: visible;
        position: absolute;
        bottom: 21px;
        background: #FFF;
        left: 140px;
    }
}
div {

    .model-content {
        display: table ;
    }
} 

#filter-area {
    height: 135px;
    background: #FFF;
}
.no-pad {
    padding: 0px;
}
#filter {
}
.filter-clicked {
    background: #FFF;
    display: block;
    position: absolute;
    width: 84px;
    height: 93px;
    top: 0px;
    right: -1px;
    &:after {
        content: url("/resources/admin/css/theme/icons/opened.png");
        background-color: #7DCC93;
        padding: 17px 11px 4px 13px;
        visibility: visible;
        position: relative;
        top: 32px;
        right: 22px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;

    }
}