@import "variables";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
.brn-panel {
    background: #FFFFFF;
    height: 330px;
}
.bdy-height-footer{
    /*background: #FFFFFF;*/
    height: 75px;
}
.caret-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 10px solid;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    color:#EF924E;
    width:21px;
    height:15px;
}
.caret-up {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 10px solid;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    color:#7DCC93;
    width:21px;
    height:15px;
}
.brain-heading {
    background:#2FB0C2;
    span.br-title {
        font-family:semibold;
        font-size:16px;
        color:#FFFFFF;
        line-height:19px;
    }
}

.table-bordered {
    border: 0px;
}
.table-bordered thead tr {
    border-top : 2px solid #FFF ;
    td {
        border-top: 0px !important;
    }
}
.table-bordered tbody tr {
    &:last-child {
        td {
            border-bottom: 0px !important;
        }
        /*        border-bottom : 2px solid #FFF ; */
    }

}
.table-bordered tbody tr td {
/*    border: 1px solid #979797!important;
    opacity: 0.3;*/
    border-left: 0 none !important;
    border-right: 0 none !important;
    &:first-child {
        font-family:'Open Sans', sans-serif;;
        font-size:16px;
        color:#333333;
        line-height:19px;
    }
    &:nth-child(2) {
        font-family:'Open Sans', sans-serif;
        font-size:16px;
        color:#333333;
        line-height:19px;
        text-align:right;
    }
    &:last-child {
        font-family:'Open Sans', sans-serif;;
        font-size:16px;
        color:#4697CE;
        line-height:19px;
        text-align:right;
    }
    &:not(:first-child) {
        text-align: right;
    }
}
.table-bordered thead tr td {
    border-left: 0 none !important;
    border-right: 0 none !important;
    opacity:0.4;
    font-family:semibold;
    font-size:11px;
    color:#2C3D51;
    line-height:19px;
    &:not(:first-child) {
        text-align: right ;
    }
}
#section-2  {
    div {
        &:not(:first-child) {
            .panel-body {
                padding-top: 35px;
            }

        }
    }

}
.panel-heading {
    text-transform: none;
}

.panel-footer {
    background-color: #FFFFFF;
    border: 0px ;
    div {
        text-align: center ;
    }
    button {
        font-family: semibold;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 19px;
        max-width: 504px;
        vertical-align: middle;
        height: 43px;
        text-align: center;
    }
    .btn {
        &:hover {
            background: #40a55d !important;;
            color: #FFF;
            text-decoration: none;
        }
        &:focus {
            background: #40a55d !important;;
            color: #FFF;
            text-decoration: none;
        }
    }
}
.view-btn {
    background:#7DCC93;
    .border-radius(2px);
    width:100%;
    text-align: center;
    &:hover {
        background: #40a55d !important;;
    }
}
.table-stat tbody tr td {
    border-top: 0px !important; 
    border-left: 0px !important; 
    /*border-right: 0px !important;*/ 
    /*border-bottom: 0px !important;*/ 

    height: 120px ;
    text-align: center;
    width: 50%;
    vertical-align: middle;
    &:nth-child(2) {
        border-left: 1px solid #e8edf1;
        border-right: 0px !important; 
    }

}
.table-stat tbody tr {
    &:first-child {
        border-top: 2px solid #FFF ;
    }

    &:nth-child(2) {
        td {
            border-bottom: 0px !important;
        }
    }
}
.num {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size:34px;
    color:#333333;
    line-height:46px;
    text-align:center;
}
.data {
    opacity:0.5;
    font-family:semibold;
    font-size:12px;
    color:#333333;
    line-height:16px;
    text-align:center;
}
.lead-title {
    height: 120px;
    background:#2FB0C2;
    padding: 25px 0px 0px 25px;
    h3 {
        font-family:semibold;
        font-size:20px;
        color:#FFFFFF;
        line-height:19px;
        margin-bottom: 5px;
    }
    p{
        opacity:0.69;
        font-family:semibold;
        font-size:12px;
        color:#FFFFFF;
        line-height:16px;
        text-align:left;
    }
}
.bar-content {
    height: 120px;
    background:#FFFFFF;
    padding: 25px 25px 25px 25px;
    font-family:'Open Sans', sans-serif;
    font-size:34px;
    color:#333333;
    line-height:46px;
    text-align:center ;

    /*    &:after {
            content: '|';
            
        }*/
    h3 {
        margin: 0px;
        font-family:'Open Sans', sans-serif;
        font-size:34px;
        color:#333333;
        line-height:46px;
    }
    span {
        display: inline-table;
        width: 19px;
        height: 42px;
        /* color: red; */
        background: rgba(151, 151, 151, 0.3);
        position: relative;
        bottom: 72px;
        width: 3px;
        height: 68px;
        left: 109px;
    }
    p {
        opacity:0.5;
        font-family:semibold;
        font-size:12px;
        color:#333333;
        line-height:16px;
    }
}
.table-content {
    height: 80px !important;
}
#leadboarder {
    .col-md-3 {
        &:first-child {
            padding-right: 0px !important;
        }
        &:last-child {
            padding-left: 0px !important;
        }

    }
    .col-md-2 {
        padding-left: 0px ;
        padding-right: 0px ;
    }

}
.view-all-btn {
    border:2px solid #7DCC93;
    .border-radius(3px);
    width:100%;
    background-color: #FFF ;
    font-size:14px;
    color:#7DCC93;
    line-height:19px;
    text-align:center;
    font-family: semibold;
    &:hover {
        background-color: #40a55d !important ;
        border:2px solid #40a55d !important;
        color: #FFF !important;
    }

}
.bar-content-btn {
    height: 120px;
    background:#FFFFFF;
    padding: 30px 25px 25px 25px;
    font-family:'Open Sans', sans-serif;
    font-size:34px;
    color:#333333;
    line-height:46px;
    text-align:center ;
    .btn {
        &:hover {
            color:#7DCC93;
            background:#FFF;
            font-family: semibold;
        }
        &:focus {
            color:#7DCC93;
            background:#FFF;
            font-family: semibold;
        }
    }
}
@media screen and (max-width: 991px) {
    .bar-content,.bar-content-btn {
        margin-top: 10px;
    }
    #leadboarder {
        .col-md-3 {
            &:first-child {
                padding-right: 15px !important;
            }
            &:last-child {
                padding-left: 15px !important;
            }

        }
        .col-md-2 {
            padding-left: 15px ;
            padding-right: 15px ;
        }

    }
}
.emplye-tbl tbody tr {
    td {
        border-radius: 0px !important;
        border: 0px !important ;
        display: block;
        /*float: left;*/
    }
    &:first-child {
        text-align: center;
        vertical-align: middle;
        background:#F7B17E;
        height: 105px !important;
        .percent{
            font-family:'Open Sans', sans-serif;
            font-size:60px;
            color:#FFFFFF;
            line-height:82px;
            text-align:right;
        }
    }
    &:nth-child(2) {
        td {
            border: 0px !important ;
            border-radius: 0px !important;
            height:8px;
            &:first-child {
                width: 50% !important;
                background:#D28246;  
                float: left;
            }
            &:nth-child(2) {
                width: 50% !important;
                background:#F0934E;
                float: left;
            }
        }
    }
    &:last-child {
        text-align: center;
        vertical-align: middle;
        td {
            float: left;
            width: 50%;
            width: 50%;
            text-align: center;
            vertical-align: middle;
        }
    }

}
.no-pad {
    padding: 0px;
}
.no-marg {
    margin: 0px !important;
    border: 0px !important;
}
.correct {
    font-size: 30px;
}
.add-m-user {
    width: 80%;
    background-color: #FFF;
    color : #7DCC93 !important;

    &:hover {
        background-color: #40a55d !important ;
        border:2px solid #40a55d !important;
        color: #FFF !important;
    }

    &:focus {
        background-color: #FFF !important;
        color: #7DCC93;
    }
}
.linkedin-icon {
    background-image: url(icons/in.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.mail-icon {
    background-image: url(icons/mail.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.fb-icon {
    background-image: url(icons/fb.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.cont {
    /*    padding: 10px;*/
}
.table-channel {
     margin-top: 30px;
}
.table-channel tbody tr {

    &:first-child {
        td {
            border-top: 0px !important;  
        }

    } 

}
.font-crt {
    font-family:'Open Sans', sans-serif;
    font-size:16px;
    color:#666666;
    line-height:19px;
}
.table-most-viewd tbody  {
    tr {
        &:first-child {
            td {
                border-top: 0px !important; 
            }
        }
    }  

    td {

        &:first-child {
            width: 50%;
            opacity:0.5;
            font-family:'Open Sans', sans-serif !important;
            font-size:14px !important;
            color:#2C3D51;
            line-height:19px;
        }
        &:nth-child(2) {
            font-family:semibold !important;
            font-size:16px;
            color:#2C3D51 !important;
            line-height:19px;
            text-align:right;
        }
    }
}
.table-view tbody tr {

    td {
        width: 33% !important;
        border-bottom: 0px !important;
        &:first-child {
            div.num {
                font-family:'Open Sans', sans-serif !important;
                font-weight: bolder;
                font-size:18px;
                color:#677d92;
                line-height:24px;
            }
            div.data {
                font-family:'Open Sans', sans-serif !important;
                font-size:34px;
                color:#677d92;
                line-height:46px;
            }
        }
        &:nth-child(2) {
            border-right: 1px solid rgba(151, 151, 151, 0.13)!important;
            div.num {
                font-family:'Open Sans', sans-serif !important;
                font-weight: bolder;
                font-size:18px;
                color:#7dcc93;
                line-height:24px;
                text-align:center;
            }
            div.data {
                font-family:'Open Sans', sans-serif !important;
                font-size:34px;
                color:#7dcc93;
                line-height:46px;
            }
        }

        &:nth-child(3) {
            border-right : 0px !important;
            div.num {
                font-family:'Open Sans', sans-serif !important;
                font-weight: bolder;
                font-size:18px;
                color:#677d92;
                line-height:24px;
            }
            div.data {
                font-family:'Open Sans', sans-serif !important;
                font-size:34px;
                color:#677d92;
                line-height:46px;


            }
        }
    }

}
.table-app tbody tr {
    td {
        height: 50px;
        padding: 6px !important;
        div {
            span.result {
                opacity:0.5;
                font-family:semibold;
                font-size:12px;
                color:#333333;
                line-height:16px;
                text-align:left;
            }

        }
    }

}
.table-skills tbody {
    tr {
        &:first-child {
            border-top : 0px !important ;
        }
    }
}
.table-skills thead tr td {

    &:first-child {
        border-top : 0px !important ;
    }

}
.table-skills tbody tr {
    &:first-child {
        /*background: red;*/
        border-top: 1px solid #FFF;
    }
    td {

        &:nth-child(2) {
            border-right: 2px solid #FFF !important;
        }
        text-align: left !important ;
        padding: 4px;
        font-family:'Open Sans', sans-serif !important;
        font-size:16px !important;
        color:#333333 !important;
        line-height:22px !important;
        border-right : 1px solid #e8edf1 !important ;
        span.dig {
            display: inline-block;
            font-family:'Open Sans', sans-serif !important;
            font-weight: bolder;
            font-size:16px;
            color:#7dcc93;
            line-height:22px;
            margin-right: 15px;
        }
        span.strg {
            font-family:'Open Sans', sans-serif !important;
            font-size:16px;
            color:#333333;
            line-height:22px;
        }
    }    
}
.table-exp tbody tr {
    td {
        font-family:'Open Sans', sans-serif !important;
        font-size:16px;
        color:#2c3d51 !important;
        line-height:19px;
        text-align:left;
    }

}
.table-exp {
    thead {
        tr {
            width: 50%;
            opacity:0.3;
            background:#d8d8d8 !important;

            th {
                background:#d8d8d8;
                &:first-child {
                    border-right: 1px solid #e8edf2 !important;
                    
                    /*background: red;*/
                }
                text-align: center;
                color:#2c3d51;
            }
        }
    }
    tbody {
        tr {
            td {

                font-family:'Open Sans', sans-serif !important;
                font-size:16px;
                color:#2c3d51 !important;
                line-height:19px;
                text-align:center !important;
                border-bottom : 1px solid transparent !important;

                &:after {
                    content: "";
                    visibility: visible;
                    position: relative;                 
                    display: block;                   
                    opacity:0.3;
                    border:1px solid #979797;
                    width:89px;
                    height:1px;
                    top:11px;
                    right: -18px;
                }
            }
        }
    }
}
.no-pad {
    padding: 0px;
}
#wsdase {
    background: #DFE4EB;
    height: 93px; 
    padding: 22px;
    margin-top: 60px;
}

.search-brain {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 99;
    width: 40px;
    padding: 9px;
    height: 42px;
    width: 42px;
    background: #7DCC93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    .glyphicon-search {
        color: #FFF;
        font-size: 20px;
    }
}
.filter-clicked-7 {
    background: #FFF;
    display: block;
    position: absolute;
    width: 84px;
    height: 93px;
    top: -22px;
    right: -22px;
    z-index: 4;
}
#search-cont {
    height: 135px;
    background: #FFF;
    padding: 25px;
}
.b-title {
    font-family: semibold;
    padding-left: 30px;
    font-size: 20px;
    color: #333333;
    line-height: 19px;
    top: 30px;
}
bordered>thead>tr>td {
    border: 0px;
}
#analytics {
    .panel-body {
        min-height: 330px;   
    }
}
.white-bk {
        background-color: #FFF ;

}
.modal-header{
    padding-bottom: 0px;
}