@import "variables" ;
.br-title {
    font-family:semibold !important;
    font-size:20px;
    color:#333333;
    line-height:19px;
}
.modal-content {
    .modal-header {
        text-align: left ;
        background-color: #FFF ;

    }
    .modal-body {
        background-color: #FFF ;
    }
    .modal-footer {
        background-color: #FFF ;
    }

}
.dropzone {
    min-height: 215px ;
    border-width: 2px;
    border-style: dashed;
    .border-radius(8px);
    outline:  none ;
    background:rgba(215,215,215,0.10);
}
.modal-content {
    width: 1170px;
}
.brain-msg {
    max-width: 333px;
    margin: 0 auto;
    font-family:semibold;
    font-size:11px;
    color:#333333;
    line-height:19px;
    text-align:center;


}
.dropzone {
    .dz-default {
        span {
            div {
                button.btn {
                    margin: 10px ;
                    background-color: transparent !important;

                    border:2px solid #7DCC93;
                    .border-radius(3px);
                    width:120px;


                    span.spn {

                        font-family:semibold;
                        font-size:14px;
                        color:#7DCC93;
                        text-align:center;
                    }
                }
            }
        }
    }
}
.sp-container  {
    border: none ;
}
.sp-picker-container {
    background-color: #FFF ;

}
.semibold {
    font-family: semibold !important ;
}
.top50 {
    margin-top: 50px ;
}
.prev-brain {
    background:rgba(215,215,215,0.40);
    width:1170px;
    height:239px;
    margin-left: -20px;
}
.box {
    float: left;
    margin: 0 5px;
    position: relative;
    top: 42px;
    background:#FFFFFF;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.07);
    .border-radius(3px);
    width:233px;
    height:153px;
}
div.brain-cont-data {
    padding: 20px;
    margin : 0 auto ;
    position : relative ;
    top : 42px ;
    padding: 30px;
    h4{
        .brain-cont-data-h {
            font-family: semiblod !important;
            font-size:14px;
            color:#333333;
            line-height:19px;
            text-align:left;
        }
        font-family: semiblod !important;
        font-size:14px;
        color:#333333;
        line-height:19px;
        text-align:left;
    } 
    p {
        .brain-cont-data-h {
            font-size:13px;
            color:#333333;
            line-height:19px;
            text-align:left;
        }
        font-size:13px;
        color:#333333;
        line-height:19px;
        text-align:left;
    }
}
button.btn-rs-def {
    &:hover {
        background-color: transparent ;
        color:#7DCC93;
    }
    &:focus {
        background-color: transparent ;
        color:#7DCC93;
    }
    background-color: #FFF ;
    border:2px solid #7DCC93;
    .border-radius(3px);
    width:186px;
    font-size:14px;
    color:#7DCC93;
    line-height:19px;
    text-align:center;
    font-family: semibold ;
    /*        font-size:14px;
            color:#7DCC93;
            line-height:19px;
            text-align:center;*/


}
button.btn-rs-sv {
    &:hover {
        background-color: #7DCC93 ;
        color:#FFF;
    }
    &:focus {
        background-color: #7DCC93 ;
        color:#FFF;
    }
    background-color: #7DCC93 ;
    border:2px solid #7DCC93;
    .border-radius(3px);
    width:186px;
    font-size:14px;
    color:#FFF;
    line-height:19px;
    text-align:center;
    font-family: semibold ;
}
.sp-button-container {
    display: none ;
}