
#wsdase {
    background: #f1f2f7;
    /* height: 93px; */
    padding: 22px;
    margin-top: 60px;
    .b-title {
        font-family: semibold;
        font-size: 20px;
        color: #333333;
        line-height: 19px;
    }
}

tabel#dynamic-table {
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.16);
}
#dynamic-table_length {
    right: 244px;
    position: absolute;
    bottom: 58px !important;
    margin: 0px 15px 0px 15px;
    &:after {
        left:157px;
    }
}
.tbl-leader tbody tr td {
    &:nth-child(2) {
        text-align: center;
    }
}
#dynamic-table_length span.abc {
    top: 19px;
    border-radius: 3px;
    right: 29px;
    float: left;
    background: #7DCC93;
    width: 25px;
    height: 25px;
    position: absolute;
}
#dynamic-table_info {
    position: absolute;
    right: 182px !important;
    bottom: 85px !important;
}
.bs-example {
    padding: 0px;
    position: relative;
    top: 31px;
    text-align: center;
    left: 97px;
    ul {
        .active {
            border-bottom: 3px solid #3AC5D9 ;
            a {
                color : #3AC5D9;
            }

        }
        padding-left:0px;
        li {

            /*                            margin-right: 20px;*/
            width: 120px;
            text-align: center;
            padding: 15px;
            list-style:none;
            display: inline-block;
            a {
                font-family:semibold;
                font-size:14px;
                color:rgba(0,0,0,0.40);
                line-height:19px;
                text-align:center;

            }
        }
    }
}