@import "variables";
.brain-header {
    display: inline-block;
    margin-top: 60px;
    padding: 15px;
    width: 100%;
    background:#DFE4EB;
    height: 93px;
}
.title {
    font-family:semibold;
    font-size:20px;
    color:#333333;
    line-height:19px;
    padding: 15px;
}
.panel-heading {
    background:#2FB0C2;
    border-radius:3px 3px 0px 0px;
    height:48px;
    font-family: semibold !important;
    font-size:20px;
    color:#FFFFFF;
    line-height:19px;
}
.wrapp {
    margin-top: 20px;
}
.bs-example {
    ul {
        li {
            list-style: none ;
            display: inline-block;
            padding: 3px;
            width: 63px;
        }
    }
}
.brain-left-label {
    float: left ;
    font-family:semibold;
    padding: 5px;
    font-size:14px;
    color:#333333;
    line-height:19px;
    text-align:left;
}
.panel-footer {
    background-color: #FFF ;
    height: 85px;
}
.dropzone {
    border-width: 2px;
    border-style: dashed;
    border-color: #CCCCCC;
    .border-radius(8px);
    .dz-message {
        span {
            .brain-msg {
                p {
                    margin:0px ;
                    &:first-child {
                        font-size:13px;
                        color:#333333;
                        line-height:19px;
                    }
                    &:last-child {
                        opacity:0.6;
                        font-family:OpenSans;
                        font-size:12px;
                        color:#333333;
                        line-height:19px;
                    }
                }
            }
            &:not(.brain-msg) {
                button {
                    border:2px solid #7DCC93;
                    .border-radius(3px);
                    width:120px;
                    background: transparent;
                    span {

                        font-family:semibold;
                        font-size:14px;
                        color:#7DCC93;
                        line-height:19px;
                        text-align:center;

                    }
                    &:hover , &:focus {
                        background: transparent;
                    }
                }
            }
        }
    }
}
.form-horizontal .form-group {
    margin-left: 0px; 
    margin-right: 0px; 
}
.btn-save {
    &:hover , &:focus {
        background: #7DCC93;
        color: #FFF ;
    }
    color: #FFF;
    font-family: semibold;
    background:#7DCC93;
    .border-radius(2px);
    width:120px;    
}
.radio-primary {
    position: absolute;
    left: 27px;
    top: 34px;
}
section {
    .brain-header {
        div.row {
            /*padding : 20px;*/
            &:last-child {
                @media screen {
                    @media (max-width: 768px) {
                        .bs-example {
                            margin-top: 4px !important;
                        }
                    }

                }
                .bs-example {
                   margin-top: 25px;
                    padding: 0px;
                    ul {
                        .active {
                            border-bottom: 3px solid #3AC5D9 ;

                        }
                        padding-left:0px;
                        li {

                            /*                            margin-right: 20px;*/
                            width: 120px;
                            text-align: center;
                            padding: 15px;
                            a {
                                font-family:semibold;
                                font-size:14px;
                                color:rgba(0,0,0,0.40);
                                line-height:19px;
                                text-align:center;

                            }
                        }
                    }
                }

            }
        }
    }
}
.brain-back-drop {
    float: right;
    display: block;
    width: 28px;
    height: 28px;
    background: red;
    position: relative;
    top: -32px;
    background:#7DCC93;
    text-align: center;
    right: 3px;
    .border-radius(2px);
    width:28px;
    height:28px;
    .caret{
        margin-top: 7px;
        color: #FFF;
    }
}
#CompanyForm {
    input ,select {
        /*height: 42px !important;*/
    }
}
.brn-drp-li {
    &:after {
        right: 3px !important ;
    }
 
}
.btn-brain {
    background: red ;
}