@import "variables";
.bottom-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-top: 6px solid;
    border-left: 6px solid #7DCC93;
    border-right: 6px solid #7DCC93;
    color: #FFFFFF;
    content: "";
    visibility: visible;
    position: absolute;
    bottom: 21px;
    background: #FFF;
    left: 129px;
    top: 30px;
}
.left-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-right: 5px solid ;
    border-top :5px solid transparent;
    border-bottom :5px solid transparent;
    color : #FFF ;
}
.right-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-left: 5px solid ;
    border-top :5px solid transparent;
    border-bottom :5px solid transparent;
    color : #FFF ;
}
#navigation {
    #right {
        div {
            .counter {
                span {

                }
            }
            .action{
                background:rgba(255,255,255,0.70);
                border:1px solid #B5B5B5;
                .border-radius(3px);
                color: #000000;
                font-family: semibold;
                font-size: 0.875em;
                span {
                    &:after {
                        content:url("/resources/admin/css/theme/icons/crt.png");
                        background-color: #7DCC93; 
                        padding: 4px 9px 4px 9px;
                        visibility: visible;
                        display: block;
                        position: absolute;
                        top: 7px;
                        right: 25px;
                        .border-radius(3px);
                    }
                }
            }
            .import {
                border:1px solid #B5B5B5;
                .border-radius(3px);
                background-color: transparent;
                font-family:semibold;
                font-size:0.875em;
                color:#333333;
                line-height:19px;
                text-align:center;
            }
            .add {
                background:#7DCC93;
                .border-radius(3px);
                color: #FFF;
                font-size: 0.875em;
                font-family: semibold;
            }
        }
    }
    margin-top: 60px;
    background:#DFE4EB;
    padding-left: 0px;
    padding-right: 0px;
    height: 93px;
    /*    padding-top: 38px;
        padding-bottom: 38px;*/
    .brain-title {
        position: relative;
        font-family: semibold;
        /* padding-top: 129px; */
        padding-left: 30px;
        font-size: 20px;
        color: #333333;
        line-height: 19px;
        top: 30px;
    }
    .search-brain {
        background:#7DCC93;
        .border-radius(2px);
        width:42px;
        height:42px;
        display: block;
        &:hover {
            background: #40a55d !important;
        }
        i {
            top: 12px;
            display: block;
            text-align: center;

            &:before {
                color:#FFFFFF;
                font-size: 18px;
            }
        }
    }
}
.brain-wrap {
    display: inline-block;
    margin-top: 0px;
    padding: 0px 15px;
    width: 100%;
}
.btn-height {
    height: 42px;
}

/*###############
Table Layout 
*/

// hide search
#dynamic-table_filter{
    display: none ;
}
// hide pagination 
#dynamic-table_paginate {
    ul {
        li {
            &:not(:first-child):not(:last-child) {
                display: none;
            }
        }
    }
}
table#dynamic-table {
    background: #FFF ;
    /*    box-shadow:0px 1px 20px 0px rgba(0,0,0,0.16);*/
    border: 0px;
    .border-radius(3px);
}
table#dynamic-table + .footer {
    background: #FFF;
    /*box-shadow: 10px 9px 6px -5px rgba(0, 0, 0, 0.16), -11px 0 8px -4px rgba(0, 0, 0, 0.16);*/
}
.table-bordered {
    tbody {
        tr {
            td {
                border-left: 0 none !important;
                border-right: 0 none !important;
                vertical-align: middle;
                .not-avaible {
                    display: block;
                    width: 3px;
                    height: 32px;
                    background:#e06e94;
                    float: left;
                    position: relative;
                    left: -15px;          
                    .border-radius(2px);

                }
                .avaible {
                    display: block;
                    width: 3px;
                    height: 32px;
                    float: left;
                    position: relative;
                    left: -15px;          
                    .border-radius(2px);
                    background:#7dcc93;
                }
            }
            &:hover {
                -webkit-transition:all .3s ease-in-out;
                -moz-transition:all .3s ease-in-out;
                -o-transition:all .3s ease-in-out;
                transition:all .3s ease-in-out;
                background:#fffde1;
            }
            .link {
                font-family:semibold;
                font-size:13px;
                color:#333333;
                line-height:19px;
            }
        }
    }
}

.wrpbw{
    display: inline-block;
    margin-top: 0px;
    padding: 15px;
    width: 100%;
}

.pnt {
    display: block;
    background: transparent;
    width: 24px;
    height: 24px;
    border:1px solid #7DCC93;
    .border-radius(3px);
}
.ptn-icn {
    background-image: url("icons/pnt.png");
    position: absolute;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    margin-left: 9px;
    margin-top: 2px;
}
.drp-mn{
    right: 4px;
    padding: 4px;
    left: auto;
    box-shadow: 0 0px 5px rgba(0,0,0,0.8) !important;
}
.pen {
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/pen.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;

}
.msg {
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/msg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;

}
.del {
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/del.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;

}
/*.dataTables_paginate.paging_bootstrap.pagination {
    float: right;
    margin-top: -94px;
    margin-right: 44px;
     margin-bottom: 15px; 
}
#dataTables_info {
    position: absolute;
    right: 150px;
    bottom: 65px;
}*/
/////////////////////////////////////////////////////////////////////////////////////////////////////////////

#dynamic-table_filter {
    display: none ;
}
#dynamic-table_paginate ul li:not(:first-child):not(:last-child) {
    display: none !important;
}
div #dynamic-table_paginate {
    position: relative;
    right: 44px;
    top: -49px !important;
    ul {
        li {
            padding: 5px ;
            margin: 0 0 0 0 ;
            background:#7DCC93;
            border : 1px solid #7DCC93 ; 
            .border-radiuses(0,0,3px,3px);
            a {
                background-color: #7DCC93 ;
                background : #7DCC93 ;
                visibility: hidden ;
                &:hover {
                    background-color: #7DCC93 ;
                    background : #7DCC93 ;
                }
                &:active {
                    background: #7DCC93 ;
                }
                &:focus {
                    background-color: #7DCC93 ;
                    background: #7DCC93 ;
                }
            }
            &:first-child {
                .border-radiuses(0,0,3px,3px);
                a {
                    &:before {
                        .left-caret();
                        visibility: visible;
                        content: "";
                    }
                }
                &:after {
                    visibility: visible;
                    content: "";
                    position: relative;
                    top: 0px;
                    right: -8px;
                    color: #FFFFFF;
                }
            }
            &:last-child {
                .border-radiuses(3px,3px,0,0);
                a {

                    &:after {
                        .right-caret();
                        visibility: visible;
                        content: "";
                    }
                }
            }
        }
    }
}
#dynamic-table_info {
    position: absolute;
    right: 182px !important;
    bottom: 106px !important;

}
#dynamic-table_length {
    right: 236px;
    position: absolute;
    bottom: 95px ;
    margin: 0px 15px 0px 15px;
    span.abc {
        top: 19px;
        border-radius: 3px;
        right: 15px;
        float: left;
        background: #7DCC93;
        width: 25px;
        height: 25px;
        position: absolute;
    }
    select {
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 5px 8px;
        width: 165px !important;
        background: #FFFFFF;
        font-size: 15px;
        width: 165px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        option {
            font-weight: bold !important;
        }
    }
    &:after {
        .bottom-caret();
        content: "";
        visibility: visible;
        position: absolute;
        bottom: 21px;
        background: #FFF;
        left: 142px;
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////

.brain-wrap{
    display: inline-block;
    margin-top: 0px;
    padding: 0px 15px;
    width: 100%;
}
.no-back {
    background: transparent ;
}
.application {
    background:#E06E94;
    .border-radius(2px);
    width:15px;
    height:18px;
    margin-left: 8px ;
    display: inline-block;
    color: #FFF ;
    text-align: center;
    font-family: semibold ;
}

.add-br {
    background:#7DCC93;
    .border-radius(3px);
    font-size: 0.875em;
    font-family: semibold !important;
    font-size:14px;
    color:#FFFFFF;
    line-height:19px;
    text-align:center;
    width:170px;
    line-height: 26px;
    &:hover, &:focus {
        color:#FFFFFF;
        background:#40a55d !important;

    }
    &:before {
        top: 3px;
        content: "";
        left: -35px;
        position: absolute;
        display: block;
        widows: 2px;
        width: 2px;
        height: 90%;
        background: #979797 !important;
        opacity:0.4;

    }
}
.brn-drp-li {
    &:after {
        content:url("/resources/admin/css/theme/icons/crt.png");
        background-color: #7DCC93; 
        padding: 6px 10px 6px 10px;
        visibility: visible;
        /*display: block;*/
        position: relative;
        top: 1px;
        right: -22px;
        width: 28px;
        /*height: 28px;*/
        .border-radius(3px);

    }
    &:hover:after {
        background-color: #40a55d !important;
    }

}
.btn-width {
    height: 42px;
    background:#DFE4EB !important;
    border:1px solid #B5B5B5;
    .border-radius(3px);
    width:189px;
    line-height: 26px;
    color: #000 !important ;
    font-family: semibold ;
    .open ,&:hover, &:focus {
        background:#DFE4EB !important;
        color: #000 !important;
    }
}
#circle-green {
    width: 12px;
    height: 12px;
    background: #7dcc93;
}
#circle-red{
    width: 12px;
    height: 12px;
    background: #E06E94;
}
.circle {
    border-radius: 50%;}
.edit-icon {
    border-radius: 2px;
    width: 24px !important;
    height: 24px !important;
    background: #7dcc93;
    &:after {
        content: "";
        display: inline-block;
        background-image: url("/resources/admin/css/theme/icons/pix.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 12px;
        height: 12px;
        top: 1px;
        right: -6px;
        vertical-align: middle;
        text-align: center;
        position: relative;
    }
}
.open>.dropdown-menu {
    display: block;
    width: auto;
    /*height: 265px*/
}
.brain-dropdown {
    font-size: 15px;
    color: #4D4D4E;
    line-height: 20px;
}
.dropdown-menu li a .notification {
    display: inline-block;
    background-image: url("icons/notification.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
}
.dropdown-menu li a .boost {
    display: inline-block;
    background-image: url("icons/boost.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 18px;
    height: 18px;
}
.dropdown-menu li a .copy {
    display: inline-block;
    background-image: url("icons/copy.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 19px;
    height: 22px;
}
.dropdown-menu li a .activate {
    display: inline-block;
    background-image: url("icons/activate.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 17px;
}
.dataTables_wrapper .pagination ul {
    li {
        &:first-child {
            &:after {
                content: "";
                top: 18px !important;
                right: 40px !important;
                color: #FFFFFF;
                display: block; 
                width: 1px !important;
                height: 26px !important;
                /* float: right; */
                position: absolute !important;
                /* left: -15px; */
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                -moz-background-clip: padding;
                /* -webkit-background-clip: padding-box; */
                /* background-clip: padding-box; */
                background: #ffffff;
                opacity:0.4;
                width:1px;
                height:16px;

            }
        }
    }
    box-shadow: none;
    font-size: 7px !important;
    padding: 0;
}
select {
    min-height: 32px;
}
#dynamic-table_length select {
    height: 32px !important;
    .abc {
        top:19px !important;
    }
}
/*div #dynamic-table_paginate ul li:hover {
    background: #40a55d !important;
    border: 1px solid #40a55d ;
}*/

#search-cont {
    height: 135px;
    background: #FFF;
    padding: 25px;
}
.no-pad {
    padding: 0px;
}
.filter-clicked-2 {
    background: #FFF;
    display: block;
    position: absolute;
    width: 84px;
    height: 93px;
    top: -25px;
    right: -20px;
    z-index: -1;
}
.filter-clicked-3 {
    background: #FFF;
    display: block;
    position: absolute;
    width: 84px;
    height: 93px;
    top: -22px;
    right: -22px;
    z-index: 0;
}
.filter-clicked-6 {
    background: #FFF;
    display: block;
    position: absolute;
    width: 84px;
    height: 93px;
    top: -22px;
    right: -22px;
    z-index: -1;

}
.mytable {
    tbody tr {
        td {
            padding: 2px !important ;
            vertical-align: middle;
            min-height: 50px !important;
            height: 50px !important;
        }
    }
    theady {
        tr {
            th {
            }
        }
    }
}
#my-table-fix tbody tr {
    border : 0px !important;
    td {
        border : 0px !important;
    }

}
.add-brr {
    border:1px solid #B5B5B5;
    .border-radius(3px);
    background-color: transparent;
    font-family:semibold;
    font-size:0.875em;
    color:#333333;
    line-height:19px;
    text-align:center;
    border:1px solid #b5b5b5;
    border-radius:3px;
    width:187px;
    height:40px;
    background: transparent !important ;
    &:hover ,&:focus {
        background: transparent !important ;
    }

}
@media (max-width: 1024px){
    .import, .add , .action{
        font-size:0.875em
    }
}
@media (max-width: 867px){
    .import, .add , .action{
        font-size:0.875em
    }
    #contain {
        width: 130% !important;
        float: right;
        position: absolute;
        top: -23px;
        left: 14px;
    }
    .brain-title, .counter {
        display: none; 
    }
}
@media (min-width: 768px) and (max-width: 1200px){
    .import, .add , .action{
        font-size:0.775em;
    }
    #contain {
        width: 232% !important;
        float: left;
        position: absolute;
        top: -23px;
        left: -256px;
    }
    .brain-title, .counter {
        display: none; 
    }
}
@media (max-width: 500px){
    #contain {
        width: 130% !important ;
    }
}
@media (min-width: 1280px){
    #contain {
        width: 118% !important;
        float: left;
        position: absolute;
        left: -125px;
    }
}
@media (max-width: 320px){
    #contain {
    }
    #act {
        width: 36% !important;
        position: absolute;
        top: 52px;

    }
    #sear {
        width: 36% !important;
        position: absolute;
        left: 243px;
        top: 52px;
    }
    #add {
        width: 36% !important;
    }
    #imp {
        width: 36% !important;
    }
    #navigation {
        padding-bottom: 80px;
        margin-top: 0px;
    }
    #right {
        div {
            .action{
                span {
                    &:after {
                        padding: 2px 6px 2px 6px !important;
                        top: 9px !important;
                        right: 19px !important;
                    }
                }
            }
        }
    }
}
@media (max-width: 480px){
    #contain {
        width: 143% !important;
    }
    #right {
        div {
            .action{
                span {
                    &:after {
                        padding: 2px 6px 2px 6px !important;
                        top: 9px !important;
                        right: 19px !important;
                    }
                }
            }
        }
    }
}
@media (max-width: 600px){
    #right {
        div {
            .action{
                span {
                    &:after {
                        padding: 2px 6px 2px 6px !important;
                        top: 9px !important;
                        right: 19px !important;
                    }
                }
            }
        }
    }
}
@media (max-width: 1440px){
    #navigation {
        .dropdown {
            position: absolute;
            right: 6px !important;
        }
        .add-br {
            line-height: 26px;
            vertical-align: middle;
            /* height: 42px; */
            top: 25px;
            position: relative;
            float: right;
            right: -47px;
            height: 42px;
            &:before {

                left: -18px;
            }

        }
    }
}
@media (max-width: 1280px){
    #navigation {
        .dropdown {
            /*position: absolute;*/
            right: 38px !important;
        }
    }
}
@media (max-width: 1475px){
    #navigation {
        .dropdown {
            right: -20px !important;
        }
    }
}