<style>

    input[type="date"], input[type="time"] {
        padding: 1%!important;
    }

    .table > thead > tr > th , .table > tbody > tr > td{
            border: 2px solid #555!important;
            height: 4.5em;      
            text-align: center;
    }

    thead tr th i {
        font-size: 25px;
        cursor: pointer;
        margin-left: 10px;
    }

    thead tr th {
        text-align: center;
    }

    thead tr th i:hover {
        color: #008dff !important;
    }

    .oui {
        font-size: 24px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .b-title {
        font-family: semibold;
    font-size: 20px;
    color: #333333;
    line-height: 19px;
    }

        .pui {
        display: flex;
            padding: 2%;

    }

.pui p {
    min-width: 9em;
    height: 2.7em;
    border-radius: 5px;
    border: 1px solid #555;
    width: fit-content;
}

.pui p {
    height: 2.2em;
    padding-top: 5px;
    min-width: 9em;
    font-size: 16px;
    text-align: center; 
}

    .xsjdhft {
        position: relative;
    float: right;    width: 10.5em!important;

    right: -12px;
    }

    body {
    background: #f1f2f7;}

</style>


<?php
$end = date('Y-m-d');
$start = date('Y-m-d', strtotime('-3 month'));
?>

<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">
    <div id="wsdase" class="col-sm-12">
   <div class=" col-sm-12 ">
      <h3 class="b-title pull-left capitalized">
          <div id="winner-result" style="display: none">

          </div>
      </h3>
      <br>
   </div>
</div>
<div class="col-sm-12">
   <div class="col-sm-7 pui">
      <p style="cursor: pointer;" onclick="javascript:window.history.back();">General score</p>
      <p id="nauognaounfao" class="branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"><?= $this->title ?></p>
   </div>
   <div class="col-sm-5" style="display: flex;padding:2%">
      <p class="oui">From: </p>
      <input id="_start" onchange="fetch_leaderboard()" type="date" name="" value="<?php echo $start; ?>" >
      <p class="oui">To: </p>
      <input onchange="fetch_leaderboard()" id="_end" type="date" name="" value="<?php echo $end; ?>" >
      <button class="btn xsjdhft branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"><?php echo $this->translate->_('Export'); ?></button>
   </div>
</div>

    <?php echo $this->campaign_report ; ?>
</section>
</section>
<script>
    $(document).ready(function () {
        $.ajax({
            'url' : '/users/admin/campaign-winner',
            'type' : 'POST',
            'data' : {id:"<?php echo $this->id; ?>"},
            success : function (data) {
                console.log(data.user);
                if(data)
                    if(data.user)
                        if(data.user.user && data.user.total)
                var template = data.user.user+" is on first position with "+ parseInt(data.user.total)+" points collected\n";
                $('#winner-result').append(template);
                $('#winner-result').show();
            }
        })
    })
</script>



