<style type="text/css">
    .dataTables_length {
        display: none;
    }
    .dataTables_filter {
        display: none;
    }
</style>
<table class="table table-bordered tbl-leader tbl-spa tbl-spa-2 spa-dynamic-table">
    <thead>
        <tr>
            <th class="_diidufyyg"><?php echo $this->translate->_("campaign"); ?></th>
            <th class="_diiduddfdffyyg"><?php echo $this->translate->_("recommenders"); ?></th>
        </tr>
    </thead>
    <tbody>
        <?php
        foreach ($this->campaigns as $campaign): ?>
            <tr>
                <td> <a class="link" href="#campaign/<?php echo $campaign['id_campaign']; ?>"><?php echo $campaign['title']; ?></a></td>
                <td><?php echo $campaign['active_users']; ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">
var dataTable = $('.spa-dynamic-table').dataTable({
       "filter": false,
            destroy: true,
            searching: true,
            "aaSorting": [[1, "desc"]],
});

</script>
                       
