<div class="modal-dialog _eeuufi">
    <div class="modal-content popup_profile _eeuufi">
        <div class="modal-header">
            <div class="row">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            
            <h4 class="modal-title">
                <div class="row container">
                     <?php if (!empty($this->user)): ?>
                    <a href="/export-cv?id=<?php echo $this->user['id']; ?>"><?php echo $this->user['firstname']; ?> <?php echo $this->user['lastname']; ?>'s <?php echo $this->translate->_("profile"); ?></a>
                <?php else: ?>
                    <?php echo $this->translate->_("profile"); ?>
                <?php endif; ?>            
                <a class="btn btn-primary pull-right export" href="/export-cv?id=<?php echo $this->user['id']; ?>"> <?php echo $this->translate->_("export_cv"); ?></a>
                <?php if ($this->user['linkedin_link']) : ?>
                    <a class="btn btn-primary pull-right export" href="<?php echo $this->user['linkedin_link']; ?>" target="_blank"> <?php echo $this->translate->_("linkedin_profile"); ?></a>
                <?php endif; ?>
                </div>
                <?php if($this->permission) : ?>
                <div class="row container">
                    <div class="custom-select">
                <select name="status" class="pull-right export" id="status_change">
                    <?php foreach($this->status as $key => $status) : ?>
                    <option value="<?= $key ?>"<?php echo ($this->application['status'] == $key) ? ' selected="selected"' : '' ?>><?php echo $this->translate(str_replace('_',' ',ucfirst($status))); ?></option>
                    <?php endforeach ;?>
                </select>
                        </div>
                </div>
                <?php endif; ?>
               
                    
            </h4>


        </div>
        <div class="modal-body _yuutpad">
            <div class="row">
                <?php if ($this->user['image'] && file_exists(APPLICATION_PATH.'/../public/resources/files/user/'.$this->user['image']))
                {
                    $img = "/resources/files/user/".$this->user['image'];
                } else {
                    $img = "/resources/frontend/images/no-picture.jpg";
                }

                ?>
                <div class="col-md-12" id="ctn">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <div class="img">
                                <img class="_imgsty11210yle" src="<?php echo $img; ?>" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="heading2"><?php echo $this->translate->_("contact-info"); ?></h4>                    
                            <p>
                                <strong>Name</strong>:  <?php echo $this->user['firstname']; ?> <?php echo $this->user['lastname']; ?><br />
                                <strong>Heading</strong>:  <?php echo $this->user['title']; ?><br />
                                <strong>Location</strong>: <?php echo $this->user['location']; ?><br />
                                <strong>Email</strong>: <?php echo $this->user['email']; ?><br />
                                <strong>Phone</strong>: <?php echo $this->user['phone']; ?><br />
                                <strong>Availability</strong>: <?php echo $this->user['availability']; ?><br />
                                <!--<img src="<?php // echo $this->user['image'];  ?>" />-->
                            </p>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <?php if (!empty($this->skills)): ?>
                            <h4 class="heading2"><?php echo $this->translate->_("skills"); ?></h4>
                            <?php foreach ((array) $this->skills as $item): ?>
                                <p><?php echo $item['title']; ?>, </p>
                            <?php endforeach; ?>
                        <?php endif; ?>
                        <?php if (!empty($this->uploadedcv)): ?>
                                <h4 class="heading2"><?php echo $this->translate->_("uploaded_cv"); ?></h4>
                                <?php foreach($this->uploadedcv as $cv) : ?>
                            <p>
<!--                                <a href="/resources/files/cv/--><?php //echo $cv['file']; ?><!--" target="_blank">-->
                                <a href="/ajax/index/read-file?cv=<?php echo $cv['file']; ?>" target="_blank">
                                    <?php echo str_replace("-", " ", $cv['title']); ?>
                                </a>
                            </p>
                                <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                </div>


                <div class="_nfgmry"></div>

                <div class="col-md-12">
                    <div class="col-md-3"> 
                        <?php if (!empty($this->education)): ?>
                            <h4 class="heading2">Education</h4>
                            <?php foreach ((array) $this->education as $item): ?>
                                <p>
                                    <strong><?php echo date("M Y", strtotime($item['start'])); ?> - <?php echo ($item['is_current'] == 1) ? $this->translate->_("present") : date("M Y", strtotime($item['end'])); ?></strong><br />
                                    <strong><?php echo $item['title']; ?></strong><br />
                                    <?php echo $item['summary']; ?><br />
                                </p>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                    <div class="col-md-6">   
                        <?php if (!empty($this->certifications)): ?>
                            <h4 class="heading2">Certifications</h4>
                            <?php foreach ((array) $this->certifications as $item): ?>
                                <p>                        
                                    <strong><?php echo $item['title']; ?> @<?php echo $item['company']; ?></strong><br />
                                    <?php echo $item['summary']; ?><br />
                                </p>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                </div>

                <?php if (!empty($this->user)): ?>
                    <!--                    <div class="col-md-6">
                                            <h4 class="heading2">Contact Info</h4>                    
                                            <p>
                                                <strong>Name</strong>: <?php echo $this->user['firstname']; ?> <?php echo $this->user['lastname']; ?><br />
                                                <strong>Heading</strong>: <?php echo $this->user['title']; ?><br />
                                                <strong>Location</strong>: <?php echo $this->user['location']; ?><br />
                                                <strong>Email</strong>: <?php echo $this->user['email']; ?><br />
                                                <strong>Phone</strong>: <?php echo $this->user['phone']; ?><br />
                                                <strong>Availability</strong>: <?php echo $this->user['availability']; ?><br />
                                                <img src="<?php echo $this->user['image']; ?>" />
                                            </p>
                                        </div>-->
                    <?php if (!empty($this->skills)): ?>
                        <!--                        <div class="col-md-6">
                                                    <h4 class="heading2">Skills</h4>
                        <?php foreach ((array) $this->skills as $item): ?>
                                                                        <p style="float: left;"><?php echo $item['title']; ?>, </p> 
                        <?php endforeach; ?>
                                                </div>-->
                    <?php endif; ?>
                        <div class="col-md-12">
                                <?php if (!empty($this->positions)): ?>
                                    <div class="col-md-9">
                                        <h4 class="heading2">Experience</h4>
                                                <?php foreach ((array) $this->positions as $position): ?>

                                                    <strong><?php echo $position['title']; ?> at <?php echo $position['company']; ?> <a href="/edit-position?id=<?php echo $position['id']; ?>" data-target="#preview-modal" data-toggle="modal"><span class="green-pen branding-border-color-buttons
"></span></a> <span onclick="position(<?php echo $position['id'] ?>)" class="delete-edit-btn hidden"></span></strong> 
                                                    <p class="br-job-his-date"><strong><?php echo ($position['start']) ? strtoupper(date("M Y", strtotime($position['start']))) . " - " : ""; ?></strong><?php
                                                        if ($position['is_current']) {
                                                            echo "<strong>Present</strong>";
                                                        } else if ($position['end'] == "") {
                                                            echo "<strong>Present</strong>";
                                                        } else {
                                                            echo '<strong>'.strtoupper(date("M Y", strtotime($position['end']))).'</strong>';
                                                        }
//                                        echo ($position['is_current']) ? "Present" : ($position['end']) ?  "Present" : strtoupper(date("M Y", strtotime($position['end']))); 
                                                        ?></p>
                                                <?php endforeach; ?>
                                    </div>
                                <?php endif; ?>
                        </div>
                    
                    <?php if (!empty($this->education)): ?>
                        <!--                        <div class="col-md-12">
                                                    <h4 class="heading2">Education</h4>
                        <?php foreach ((array) $this->education as $item): ?>
                                                                        <p>
                                                                            <strong><?php echo date("M Y", strtotime($item['start'])); ?> - <?php echo ($item['is_current'] == 1) ? $this->translate->_("present") : date("M Y", strtotime($item['end'])); ?></strong><br />
                                                                            <strong><?php echo $item['title']; ?></strong><br />
                            <?php echo $item['summary']; ?><br />
                                                                        </p>
                        <?php endforeach; ?>
                                                </div>-->
                    <?php endif; ?>
                    <?php if (!empty($this->certifications)): ?>
                        <!--                        <div class="col-md-12">
                                                    <h4 class="heading2">Certifications</h4>
                        <?php foreach ((array) $this->certifications as $item): ?>
                                                                        <p>                        
                                                                            <strong><?php echo $item['title']; ?> @<?php echo $item['company']; ?></strong><br />
                            <?php echo $item['summary']; ?><br />
                                                                        </p>
                        <?php endforeach; ?>
                                                </div>-->
                    <?php endif; ?>
                <?php else: ?>
                            <!--<h4><?php echo $this->translate->_("no_job_credits"); ?></h4>-->
                <?php endif; ?>
                            <?php if(!empty($this->userJobApplications)) : ?>
                            <div class="col-md-12">
                            <div class="col-md-12">
                                <h4 class="heading2">Job Applications</h4>
                                    <?php foreach ($this->userJobApplications as $index => $job) : ?>
                                        <div>
                                            <a class='jb_iiueyrt' target="_blank" href="<?= $job['job_url'] ?>"><?= $job['title']; ?></a>
                                        </div>

                                    <?php endforeach; ?>
                            </div>
                            </div>
                            <?php endif ; ?>
            </div>
        </div>   
        <div class="construction"></div>
    </div>
</div>
<script>
    var id_user = "<?php echo $this->user['id'] ?>"
    $("#status_change").change(function ()
    {
        var status = $(this).val();
        var text = $("#status_change option:selected").text();
        $.post("/ajax/index/change-status", {"status": status, "id": '<?php echo $this->id_application; ?>'}, function (data)
        {
            $("#dynamic-table tbody tr#user-"+id_user+" td#status-"+id_user).html(text);
        }, 'json');
    })
</script>