    <!--main content start-->
    <section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper">
            <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Companies Events List
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>                        
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <div class="clearfix">                                
                                <div class="btn-group pull-right">
                                    
                                </div>
                            </div>
                            <div class="space15"><hr /></div>
                            <table class="table table-striped table-hover table-bordered" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <th>Event</th>
                                        <th>Booth URL</th>
                                        <th>Booth Edit URL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ((array) $this->items as $item):?>
                                    <tr class="">
                                        <td><?php echo $item->event;?></td>
                                        <td><a target="_blank" href="<?php echo $this->settings['booth_api']['url']?>/preview?id=<?php echo $item->id_booth;?>&page=booth">View booth</a>
                                        </td>
                                        <td><a target="_blank" href="<?php echo $this->settings['booth_api']['url']?>/preview?id=<?php echo $item->id_booth;?>&page=booth&mode=edit&token=<?php echo md5($item->id_booth."-".$item->id_company."|".$item->id_company);?>">Edit booth</a></td>
                                    </tr>                                
                                    <?php endforeach;?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        </section>
    </section>
</section>