<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper">
<!--mini statistics start-->

        <div class="row" class="company_details">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading"><?php echo $this->translate->_("company_details");?></header>
                    <div class="panel-body">
                        <div class=" form">
                            <?php echo $this->form;?>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
        </section>
    </section>

</section>