<style type="text/css">
.select2-container .select2-choice .select2-arrow b{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 4px;
    margin-top: 0px;
    width: 0px!important;
    height: 0px!important;
    background: transparent;
}

    .select2-container{
        width: 44% !important;
    }


</style>

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<script src="https://cdn.ckeditor.com/4.11.3/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<section id="main-content">
    <section class="wrapper iifuudh">
        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('Edit Email'); ?>
                    </h3>
                </div>
                <div class=" col-sm-9">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15" ></div>
                            <div style="padding: 15px">
                                <?php echo $this->form; ?>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript">
if (window.top!=window.self)
{
    document.getElementById("container").style.display = "none";
    console.log(document.getElementById("main-content"))
    document.getElementById("main-content").setAttribute("style", "margin: 0px;");
}</script>
