<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper">
<!--mini statistics start-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">Add/Edit User</header>
                    <div class="panel-body">
                        <div class=" form">
                            <?php if ($this->flash_messages[0] != ""):?>
                            <div class="alert alert-block alert-danger fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                <?php echo $this->translate->_($this->flash_messages[0]);?>
                            </div>
                            <?php endif;?>  
                            <?php echo $this->form;?>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
        </section>
    </section>

</section>