<section id="main-content" class="import_users_file" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper">
<!--mini statistics start-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">Import users from file</header>
                    <div class="panel-body">
                        <?php if ($this->flash_messages[0] != ""):?>
                        <div class="alert alert-block alert-danger fade in">
                            <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                            <?php echo $this->flash_messages[0];?>
                        </div>
                        <hr />
                        <?php endif;?>
                         
                        <div class=" form">
                            <form class="cmxform form-horizontal" id="commentForm" method="POST" action="" enctype="multipart/form-data">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3">Example CSV</label>
                                    <div class="col-lg-6">
                                        <a class="btn btn-xs btn-primary" href="/resources/files/import/example.csv" target="_blank">Download Example CSV</a>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="lastname" class="control-label col-lg-3">File</label>
                                    <div class="col-lg-6">
                                        <input name="file" type="file" class="form-control" />
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <label for="lastname" class="control-label col-lg-3">Ignore first line</label>
                                    <div class="col-lg-6">
                                        <input name="ignore" type="checkbox" value="1" class="" />
                                    </div>
                                </div>                              
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?>
                                        <button class="btn btn-primary" type="submit">Save</button>
                                        <button class="btn btn-default" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
        </section>
    </section>

</section>