<!--main content start-->
<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">
    <section class="wrapper eiiruhdd__">
        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 pull-left">
                     <div class="btn-group">
                                    <a href="/leaderboards" class="btn btn-primary btn-brain">
                                        <i class="fa back-page djkjdud7" ></i>Back to Leaderboards
                                    </a>
                                </div>
                </div>
                 <div class=" col-sm-5 ">
                     <h3 class="b-title pull-left psododjkjs">
                        Leaderboards Details
                    </h3>
                </div>
                <div class=" col-sm-2 col-sm-offset-2">
                    <div class="doofisduss">
                        <button class="btn bwn doodieposd">
                            <span class="search-brain"> 
                                <i class="glyphicon glyphicon-search branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"></i></span>
                        </button>
                        <span id="filter-clicked-3" class=""></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 no-pad">
                <div id="search-cont" class="djjfjgfg">
                    <label>Search</label>
                    <input type="text" id="searchbox" class="form-control">
                </div>

            </div>
            <div class="col-sm-12">
                <section class="skldkjskjdsdsd_">
<!--                    <header class="panel-heading">
                        Job Applications for <?php echo $this->job['title']; ?> @<?php echo $this->job['company_title']; ?> 
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>                        
                    </header>-->
                    <div class="">
                        <div class="adv-table">
<!--                            <div class="clearfix">
                                <div class="btn-group">
                                    <a href="/view-jobs" class="btn btn-primary">
                                        Back to jobs list <i class="fa fa-arrow-circle-left "></i>
                                    </a>
                                </div>
                            </div>-->
                            <?php if ($this->flash_messages[0] != ""): ?>
<!--                                <div class="space15"><hr /></div>-->
                                <div class="alert alert-block alert-danger fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                            <?php endif; ?>
                            <!--<div class="space15"><hr /></div>-->
                            <div class="row">                                    
<!--                                <form class="form-horizontal bucket-form" action="/job-details" method="GET">
                                    <div class="form-group">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3"> 
                                            <select name="location" class="form-control" placeholder="<?php echo $this->translate->_("status"); ?>">
                                                <option value="">All by match</option>
                                                <option<?php echo ($this->filters['location'] == 'applicant') ? ' selected="selected"' : ''; ?> value="applicant">Applicant</option>
                                                <option<?php echo ($this->filters['location'] == 'database') ? ' selected="selected"' : ''; ?> value="database">Database</option>
                                            </select>
                                        </div>                                        
                                        <div class="col-md-3">
                                            <input name="id" type="hidden" value="<?php echo $this->job['id']; ?>">
                                            <button type="submit" class="btn btn-info select2-input-search"><?php echo $this->translate->_("search"); ?></button>
                                        </div>
                                    </div>
                                </form>                                -->
                            </div>
                            <div class="space15"></div>
                            <table class="table table-bordered  mytable" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <?php if (Zend_Auth::getInstance()->getIdentity()->type == 3): ?>
                                            <!--<th>MATCH</th>-->
                                        <?php else: ?>
                                            <!--<th>MATCH</th>-->
                                            <!--<th>Profile Picture</th>-->                                        
                                        <?php endif; ?>
                                        <th>Name</th>                                        
                                        <th>Date</th>                                                                                
                                        <th>RECOMMENDED BY</th>                                                                                
                                        <th>PROCCESS</th>
                                        <th>Type</th>

                                        <!--<th><?php echo $this->translate->_("change_status"); ?></th>-->
                                        <!--<th>test</th>-->

                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ((array) $this->items as $item): ?>
                                        <tr class="">
                                            <?php if (Zend_Auth::getInstance()->getIdentity()->type == 3): ?>
                                                <!--<td><?php // echo $item['id']; ?></td>-->                                        
                                            <?php else: ?>
                                                <!--<td>100 %</td>-->

                                            <?php endif; ?>
                                            <td>
                                                <table id="my-table-fix">
                                                    <tbody >
                                                        <tr>
                                                            <td>
                                                                <?php if ($item['image'] != ""): ?>
                                                                    <?php if (stripos($item['image'], "media") !== false): ?>
                                                                <img src="<?php echo $item['image']; ?>"  class="ododusw7sud"/>
                                                                    <?php else: ?>
                                                                        <img src="/resources/files/user/<?php echo $item['image']; ?>" class="ododusw7sud"/>
                                                                    <?php endif; ?>
                                                                <?php else: ?>
                                                                    <img src="/resources/frontend/images/no-picture.jpg" class="ododusw7sud" />
                                                                <?php endif; ?>
                                                            </td>
                                                            <td><a class="link" href="/candidate?id=<?php echo $item['id_user']; ?>&id_application=<?php echo $item['id']; ?>" data-target="#preview-model" data-toggle="modal"><?php echo $item['firstname']; ?> <?php echo $item['lastname']; ?></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td><?php echo date("d-m-Y", strtotime($item['date'])); ?></td>
                                            <td>Mara Dinu</td>
                                            <td><?php echo ($item['user_status'] != 2) ? 'Active' : 'Inactive'; ?></td>
                                            <td>Candidate</td>




<!--                                            <td>   
                                                
                                                
                                                      <?php foreach ($this->settings['application_status'] as $key => $value): ?>
                                                        <?php
                                                        switch ($item['status']) {
                                                            case(0):
                                                                echo 'New';
                                                                break(2);
                                                            case(1):
                                                                echo 'Viewed';
                                                                break(2);
                                                            case(2):
                                                                echo 'Rejected';
                                                                break(2);
                                                            case(3):
                                                                echo 'Pending';
                                                                break(2);
                                                            case(4):
                                                                echo 'Processing';
                                                                break(2);
                                                        }
                                                        ?>
                                                    <?php endforeach; ?>
                                                
                                                <form method="POST" class="form-horizontal" action="/job-details/?id=<?php echo $this->job['id']; ?>">
                                                    <div class="form-group">
                                                        <div class="col-md-4">
                                                            <select class="form-control status_change" name="status" rel="<?php echo $item['id']; ?>">
                                                                <?php foreach ($this->settings['application_status'] as $key => $value): ?>
                                                                    <option value="<?php echo $key; ?>"<?php echo ($item['status'] == $key) ? ' selected="selected"' : ''; ?>><?php echo $value; ?></option>
                                                                <?php endforeach; ?>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control status_reason_<?php echo $item['id']; ?>" name="status_reason">
                                                                <?php foreach ($this->settings['application_status_reason'][$item['status']] as $key => $value): ?>
                                                                    <option value="<?php echo $key; ?>"<?php echo ($item['status_reason'] == $key) ? ' selected="selected"' : ''; ?>><?php echo $value; ?></option>
                                                                <?php endforeach; ?>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input name="id_application" value="<?php echo $item['id']; ?>" type="hidden" />
                                                            <button type="submit" class="btn btn-primary"><?php echo $this->translate->_("save"); ?></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </td>-->

<!--                                            <td>
                                                <?php foreach ($this->settings['application_status'] as $key => $value): ?>
                                                    <?php
                                                    switch($item['status']) {
                                                    case($key):
                                                    echo $value;
                                                        break(2);
                                                    }
                                                    ?>
                                                <?php endforeach; ?>
                                            </td>-->


                                        </tr>                                
                                    <?php endforeach; ?>
                                    <?php foreach ((array) $this->database as $item): ?>
                                        <tr class="">
                                            <?php if (Zend_Auth::getInstance()->getIdentity()->type == 3): ?>
                                                <td><?php echo $item['relevance']; ?></td>
                                            <?php else: ?>
                                                <td><?php echo $item['relevance']; ?></td>

                                            <?php endif; ?>
                                            <td>
                                                <table id="my-table-fix">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <?php if ($item['image'] != ""): ?>
                                                                    <?php if (stripos($item['image'], "media") !== false): ?>
                                                                        <img src="<?php echo $item['image']; ?>"  class="ododusw7sud"/>
                                                                    <?php else: ?>
                                                                        <img src="/resources/files/user/<?php echo $item['image']; ?>" class="ododusw7sud"/>
                                                                    <?php endif; ?>
                                                                <?php else: ?>
                                                                    <img src="/resources/frontend/images/no-picture.jpg" class="ododusw7sud" />
                                                                <?php endif; ?>
                                                            </td>
                                                            <td>
                                                                <a class="link" data-href="#preview-model" data-toggle="modal" href="/candidate?id=<?php echo $item['id_user']; ?>&id_application=<?php echo $item['id']; ?>"><?php echo $item['firstname']; ?> <?php echo $item['lastname']; ?></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><?php echo ($item['user_status'] != 2) ? 'Active' : 'Inactive'; ?></td>
                                            <td>Database</td>
                                            <td width="">                                                                                            
                                                -
                                            </td>
                                        </tr>                                
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>

</section>