<table class="table table-bordered tbl-leader tbl-spa">
    <thead>
        <tr>
            <th class="_diidufyyg">NAME</th>
            <th class="_diiduddfdffyyg">RECOMMENDERS</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->jobs as $job): ?>
            <tr>
                <td> <a class="link" href="#jobs/<?php echo $job['id']; ?>"><?php echo $job['title']; ?></a></td>
                <td><?php echo $job['recommenders']; ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
