<style type="text/css">
    .dataTables_length {
        display: none;
    }
    .dataTables_filter {
        display: none;
    }
</style>                                        
<table class="table table-bordered tbl-spa tbl-spa-1 spa-dynamic-table" id="dynamic-table">
                                            <thead>
                                                <tr>
                                                    <th class="ang-wdth"><?php echo $this->translate->_('name'); ?></th>
                                                    <th><?php echo $this->translate->_('points'); ?></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <?php foreach ((array) $this->leaderboards['referral'] as $item):?>
                                                <tr class="">
                                                    <td>
                                                        <?php if ($item['image'] != ""):?>
                                                            <?php if (stripos($item['image'], "media") !== false):?>
                                                        <img src="<?php echo $item['image'];?>"  class="jdslkfj87d8f7dfhjd"/>
                                                            <?php else:?>
                                                                <img src="/resources/files/user/<?php echo $item['image'];?>"   class="jdslkfj87d8f7dfhjd"/>
                                                            <?php endif;?>
                                                        <?php else:?>
                                                            <img src="/resources/frontend/images/no-picture.jpg"  class="jdslkfj87d8f7dfhjd" />
                                                        <?php endif;?>
                                                            <span class="candidate-name"><?php echo $item['firstname'];?> <?php echo $item['lastname'];?></span>
                                                            
                                                    </td>
                                                    <td><?php echo ($item['total_points']+$item['gamification_points']) ? $item['total_points']+$item['gamification_points'] : 0 ;?></td>
                                                </tr>
                                            <?php endforeach;?>
                                            </tbody>
                                        </table>

<script type="text/javascript">
var dataTable = $('.spa-dynamic-table').dataTable({
       "filter": false,
            destroy: true,
            searching: true,
            "aaSorting": [[1, "desc"]],
});

</script>
                                    