
<?php
$end = date('Y-m-d');
$start = date('Y-m-d', strtotime('-3 month'));
?>
<section id="main-content">
    <section class="wrapper iifuudh">
        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo ucfirst($this->translate->_('leaderboards')); ?>
                    </h3>
                </div>
                <div class=" col-sm-9">
                    <div class="" style="display: flex;padding-bottom: 2%;margin-right: 0px;"><p class="oui">
                            <?php echo $this->translate->_('from'); ?>: </p>
                        <input id="_start" onchange="fetch_leaderboard()" type="date" name="" value="<?php echo $start; ?>" >
                        <p class="oui"><?php echo $this->translate->_('to'); ?>: </p>
                        <input onchange="fetch_leaderboard()" id="_end" type="date" name="" value="<?php echo $end; ?>" >
                        <form id="export-leaderboard" method="POST" action="/campaigns/admin/export">
                        </form>
                        <button id="exportlbtn" class="btn lala branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color "><?php echo $this->translate->_('export'); ?></button>
                    </div>
                </div>
            </div>
                <div class="col-sm-12">
                <div class="col-sm-7 pui">
<!--                    <a onclick="tab(0)"><p id="xtab0" class="  ">-->
<!--                            --><?php //echo $this->translate->_('general_score'); ?>
<!--                        </p></a>-->
                    <a onclick="tab(1)"><p id="xtab1">
                            <?php echo $this->translate->_('general_results'); ?>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <section id="tab0">
                                <?php echo $this->campaign_report ; ?>
                            </section>



                            <section id="tab1" class="wrapper djfufjgg">
                                <div class="row">





                                    <div class=" leaderboard_bottom">
                                        <section class="panel">
                                            <div class="">
                                                <div class="clearfix">
                                                    <div class="">
                                                        <div class="tab-content" style="background: #FFF">
                                                            <div id="" class="">
                                                                <table class="table table-bordered tbl-leader dataTable no-footer">
                                                                    <thead >
                                                                    <tr class="branding_brand_colors_top_menu_background_color branding_brand_colors_top_menu_background_color">
                                                                        <th>Rank</th>
                                                                        <th>Surname, Name</th>
                                                                        <th>Account Activated</th>
                                                                        <th>Profile Completed</th>
                                                                        <th>Job Views</th>
                                                                        <th>Unique Candidates</th>
                                                                        <th>Unique Applicants</th>
                                                                        <th>Shares</th>
                                                                        <th>Hired</th>
                                                                        <th>TOTAL POINTS</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th><select onchange="fetch_leaderboard('', '', this.value)">
                                                                                <option value="">Filter</option>
                                                                                <option value="1">Active</option>
                                                                                <option value="0">Expired</option>
                                                                                <option >Paused</option>

                                                                            </select></th>
                                                                        <th><i onclick="fetch_leaderboard('views', 'ASC')" class="fas fa-arrow-up"></i><i onclick="fetch_leaderboard('views', 'DESC')" class="fas fa-arrow-down"></i></th>
                                                                        <th><i onclick="fetch_leaderboard('new_candidates', 'ASC')" class="fas fa-arrow-up"></i><i onclick="fetch_leaderboard('new_candidates', 'DESC')" class="fas fa-arrow-down"></i></th>
                                                                        <th><i onclick="fetch_leaderboard('new_applicants', 'ASC')" class="fas fa-arrow-up"></i><i onclick="fetch_leaderboard('new_applicants', 'DESC')" class="fas fa-arrow-down"></i></th>
                                                                        <th><i onclick="fetch_leaderboard('shares', 'ASC')" class="fas fa-arrow-up"></i><i onclick="fetch_leaderboard('shares', 'DESC')" class="fas fa-arrow-down"></i></th>
                                                                        <th><i onclick="fetch_leaderboard('successful_hire', 'ASC')" class="fas fa-arrow-up"></i><i onclick="fetch_leaderboard('successful_hire', 'DESC')" class="fas fa-arrow-down"></i></th>
                                                                        <th></th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="ddd">

                                                                    </tbody>

                                                                </table>
                                                                <div class="col-sm-12">
                                                                    <div class="col-sm-9">
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <button onclick="_set_offset(-1)" id="yprev" class="btn"><i class="fas fa-arrow-left"></i>Prev</button>
                                                                        <button onclick="_set_offset(1)" id="ynext" class="btn">Next <i class="fas fa-arrow-right"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
    <section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">

        <div id="wsdase" class="col-sm-12">
            <div class=" col-sm-6 ">
                <h3 class="b-title pull-left capitalized">
                    <?php echo ucfirst($this->translate->_('leaderboards')); ?>
                </h3><br>
            </div>
        </div>

        <script type="text/javascript">

        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }

        function _set_offset(x)
        {
            offset += 20 * x;
            fetch_leaderboard();
            tab(0);
        }


        $(document).ready(function () {
            jQuery("#date").daterangepicker({
                "startDate": "<?php echo date("m/d/Y", strtotime("-1 months"));?>",
                "endDate": "<?php echo date("m/d/Y");?>"
            }, function(start, end, label)
            {
//              console.log("New date range selected: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ('predefined range: ' + label));

                var myForm = $("form#leaderboards-filter");
                var start = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "start").val(start.format('YYYY-MM-DD'));
                var end = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "end").val(end.format('YYYY-MM-DD'));
                myForm.append($(start));
                myForm.append($(end));
                myForm.submit();
            });

            var tab = function (data) {
                var $this = data;
                $($this).tab('show');
                var status_id = $($this).attr('href').split('#');
                this.id = status_id[1];
                this.getID = function () {
                    ;
                    return this.id;
                }
            }
            $("#myTab a").click(function (e) {
                e.preventDefault();
                var data = this
                var initShowTab = new tab(this);
                $('#all-Filter').hide('fast');
                if (initShowTab.getID() == 'all') {
                    $('#all-Filter').slideDown();
                }


            });
            jQuery("#date").change(function()
            {
                //$("form").submit();
            });

            $('#all-Filter').hide('fast');
            var language = ['ro', 'en', 'fr', 'hu'];
            var lang = "<?php echo $this->lang; ?>";
            var index = language.indexOf(lang);
            if (index >= 0) {
                language.splice(index, 1);
            }
            window.onload = function(){
                $('span#'+lang).show();
                $('select.'+lang).show();
            };



            $('#date').on('apply.daterangepicker', function(ev, picker) {
                ev.preventDefault();
                ev.stopPropagation();
                var tables = $.fn.dataTable.tables(true);
                var startDate = picker.startDate.format('YYYY-MM-DD');
                var endDate = picker.endDate.format('YYYY-MM-DD');
                console.log(picker.startDate.format('YYYY-MM-DD'));
                console.log(picker.endDate.format('YYYY-MM-DD'));
                console.log(tables);
                $(tables).DataTable().search(startDate+'.'+endDate).draw();
                return false;
            });
        });
    </script>

    <script>


        /*



        */

        var offset = 0;

        function removeEmptyValues(obj) {
            for (var propName in obj) {
                if (!obj[propName] || obj[propName].length === 0) {
                    delete obj[propName];
                } else if (typeof obj === 'object') {
                    removeEmptyValues(obj[propName]);
                }
            }
            return obj;
        }

        function    fetch_leaderboard(key, value){

            fstart_date=$("#_start").val()
            fend_date=$("#_end").val()

            var data = {
                id: getUrlVars()["id"],
                filters: {
                    sorting: {
                        [key]: value,
                    },
                    start_date: fstart_date,
                    end_date: fend_date,
                },
                'offset': offset,

            }


            var fdata = removeEmptyValues(data)

            $.ajax({
                type: 'POST',
                contentType: "application/x-www-form-urlencoded",
                url: "/users/admin/leaderboard-info",
                data: fdata
            })   .done(function( data ) {
                console.log(data)
                if(typeof data == "string")
                    data = JSON.parse(data)
                $("#ddd").html('');
                for(var i=0;i<data.length;i++)
                {
                    var rank = i+1+offset;
                    var user = data[i].user;
                    var end = data[i].end;
                    var title = data[i].title;
                    var status = data[i].status;
                    var profile = data[i].completed_profile.points + "<br>" + data[i].completed_profile.calcul;
                    var activation = data[i].activate_account.points + "<br>" + data[i].activate_account.calcul;
                    var views = "", new_applicants = "", new_candidates="", shares="", successful_hire="";
                    var total = data[i].total_points;

                    if("views" in data[i])
                        views = data[i].views.points + '<br>' + data[i].views.calcul;
                    else
                        views = '<div class="grey"></div>'

                    if("new_applicants" in data[i])
                        new_applicants = data[i].new_applicants.points + '<br>' + data[i].new_applicants.calcul;
                    else
                        new_applicants = '<div class="grey"></div>'
                    if("new_candidates" in data[i])
                        new_candidates = data[i].new_candidates.points + '<br>' + data[i].new_candidates.calcul;
                    else
                        new_candidates = '<div class="grey"></div>'
                    if("shares" in data[i])
                        shares = data[i].shares.points + '<br>' + data[i].shares.calcul;
                    else
                        shares = '<div class="grey"></div>'
                    if("successful_hire" in data[i])
                        successful_hire = data[i].successful_hire.points + '<br>' + data[i].successful_hire.calcul;
                    else
                        successful_hire = '<div class="grey"></div>'



                    /*var actions = data[i].actions.length;

                    var _1_total_points = data[i]["1st_place"].total_points;
                    var _1_firstname = data[i]["1st_place"].firstname;
                    var _1_lastname = data[i]["1st_place"].lastname;

                    var _2_total_points = data[i]["2nd_place"].total_points;
                    var _2_firstname = data[i]["2nd_place"].firstname;
                    var _2_lastname = data[i]["2nd_place"].lastname;

                    var _3_total_points = data[i]["3rd_place"].total_points;
                    var _3_firstname = data[i]["3rd_place"].firstname;
                    var _3_lastname = data[i]["3rd_place"].lastname;

    */
                    tr = '<tr>';
                    tr += '<td>'+rank+'</td>';
                    tr += '<td>'+user+'</td>';
                    tr += '<td>'+activation+'</td>';
                    tr += '<td>'+profile+'</td>';
                    tr += '<td>'+views+'</td>';
                    tr += '<td>'+new_candidates+'</td>';
                    tr += '<td>'+new_applicants+'</td>';
                    tr += '<td>'+shares+'</td>';
                    tr += '<td>'+successful_hire+'</td>';
                    tr += '<td>'+total+'</td>'

                    /*tr += '<td>'+end+'</td>';
                    tr += '<td>'+title+'</td>';
                    tr += '<td>'+profile+' jobs</td>';
                    tr += '<td>'+actions+' actions</td>';
                    tr += '<td>'+status+'</td>';
                    tr += '<td><div><div>'+_1_total_points+' points</div><div>'+_1_firstname + ' ' + _1_lastname+'</div></div></td>';
                    tr += '<td><div><div>'+_2_total_points+' points</div><div>'+_2_firstname + ' ' + _2_lastname+'</div></div></td>';
                    tr += '<td><div><div>'+_3_total_points+' points</div><div>'+_3_firstname + ' ' + _3_lastname+'</div></div></td>';

                    var id = data[i].id;

                    tr += '<td><div><a href="/add-campaign?id='+id+'"><i class="far fa-edit"></i></a><a href="/ajax/index/delete-campaign?id='+id+'"><i class="fas fa-trash"></i></a></div></td>'*/

                    tr += '</tr>'
                    $("#ddd").append(tr)

                }

             if(offset == 0)
                document.getElementById("yprev").style.display = 'none';
            else
                document.getElementById("yprev").style.display = '';
            if(data.length != 20)
                document.getElementById("ynext").style.display = 'none';
            else
                document.getElementById("ynext").style.display = ''
            });
        }
        $(document).ready(function () {
            fetch_leaderboard();
            document.getElementsByClassName("iifuudh")[0].childNodes[2].onclick=""

            tab(1);
        });

    </script>
</section>

</section>


<style>

#xtab0:not(.branding-border-color-buttons ), #xtab1:not(.branding-border-color-buttons ) {
    opacity: 0.5;
    transform: perspective(1000px) rotateX(30deg);
}

</style>



<script>

    function    tab(x)
    {
        if(x==0)
        {
            document.getElementById("tab0").style.display = "none";
            document.getElementById("tab1").style.display = "block"
            document.getElementById("xtab0").className = "branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color ";
            document.getElementById("xtab1").className = "";
        }
        else if(x==1)
        {
            document.getElementById("tab1").style.display = "none";
            document.getElementById("tab0").style.display = "block";
            document.getElementById("xtab1").className = "branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color ";
            document.getElementById("xtab0").className = "";

        }
    }

</script>


<style>
    .pui p {
        border-radius: 0px;
        border: 0 transparent;
        height: 42px!important;
        font-size: large!important;
        padding-top: 10px!important;
    }

    .pui a {
        border: 0;
    }
</style>




<script>
    var form = document.getElementById('export-leaderboard');
    document.getElementById("exportlbtn").addEventListener("click", function () {
        $('<input />').attr('type', 'hidden')
            .attr('name', "startExport")
            .attr('value', $("#_start").val())
            .appendTo('#export-leaderboard');
        $('<input />').attr('type', 'hidden')
            .attr('name', "endExport")
            .attr('value', $("#_end").val())
            .appendTo('#export-leaderboard');
        form.submit();
        console.log('aaaaa');
    });
</script>


