<!--main content start-->
<section id="main-content" class="leader-boards-details" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">
    <section class="wrapper ududysttdrs">
        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 pull-left">
                     <div class="btn-group">
                                    <a href="/leaderboards<?php echo ($this->hashTag) ?>" class="btn btn-primary btn-brain">
                                        <i class="fa back-page oos9dodisd"></i><?php echo $this->translate->_("back_to_leaderboards"); ?>
                                    </a>
                                </div>
                </div>
                 <div class=" col-sm-5 ">
                     <h3 class="b-title pull-left doodiduiduyf" >
                        <?php echo $this->campaign['title']." : " ?><?php echo $this->translate->_("leaderboards_details"); ?>
                    </h3>
                </div>
                <div class=" col-sm-2 col-sm-offset-2">
                    <div class="djjsidisdjsdsd">
                        <button  class="btn bwn duyyetwsd">
                            <span class="search-brain"> 
                                <i class="glyphicon glyphicon-search branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"></i></span>
                        </button>
                        <span id="filter-clicked-3" class=""></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 no-pad">
                <div id="search-cont" class="ododif_eueuyr">
                    <label>Search</label>
                    <input type="text" id="searchbox" class="form-control">
                </div>

            </div>
            <div class="col-sm-12">
                <section class="siidufyydtftf">
                    <div class="">
                        <div class="adv-table">
                            <div class="row">
                            </div>
                            <div class="space15"></div>
                            <table class="table table-bordered  mytable" id="dynamic-table">
                                <thead>
                                    <tr>
                                       <?php 
                                       if (($key = array_search('id', $this->columns)) !== false)
                                           {
                                           unset($this->columns[$key]);
                                           }

                                      ?>
                                        <?php foreach($this->columns as $col) : ?>
                                            
                                            <th><?php echo  $this->translate->_($col); ?></th>
                                        <?php endforeach; ?>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach($this->leaderboards as $row) : ?>
                                    <?php 
                                        if(isset($row['id']) ) unset ($row['id'])
                                    ?>
                                    <tr>
                                            <?php foreach($row as $key => $val) : ?>
                                                    <td><?php 
                                                        if($key == 'image') {
                                                            if($val == "") {
                                                                echo '<img src="/resources/frontend/images/no-picture.jpg" alt="" class="_urytyy" />';
                                                            } else {
                                                                echo '<img src="/resources/files/user/'.$val.'" alt="" class="_urytyy" />';
                                                            }
                                                            
                                                        } else {
                                                            echo $val ;
                                                        }
                                                    
                                                    ?></td>
                                            <?php endforeach; ?>
                                    </tr>
                                    <?php endforeach;?>
                                </tbody>
                            </table>
<!--                            <table class="table table-bordered  mytable" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate->_("id"); ?></th>
                                        <th><?php echo $this->translate->_("profile_picture"); ?></th>
                                        <th><?php echo $this->translate->_("name"); ?></th>
                                        <th><?php echo $this->translate->_("points"); ?></th>
                                        <?php // foreach($this->gamification_actions as $gamification) : ?>
                                                 <th><?php // echo $gamification ?></th>
                                        <?php // endforeach; ?>
                                        <th><?php echo $this->translate->_("referrals"); ?></th>
                                        <th><?php echo $this->translate->_("shares"); ?></th>
                                        <th>Successfull applications</th>
                                        <th>Failed applications</th>
                                        <th>Pending applications</th>
                                        <th>Applications on recommendation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php foreach ((array) $this->leaderboards as $item):?>
                                    <tr class="">
                                        <td><?php echo $item['id'];?></td>
                                        <td>
                                            <?php if ($item['image'] != ""):?>
                                                <?php if (stripos($item['image'], "media") !== false):?>
                                            <img src="<?php echo $item['image'];?>"  class="doofifiuug" />
                                                <?php else:?>
                                            <img src="/resources/files/user/<?php echo $item['image'];?>" class="jdslkfj87d8f7dfhjd" />
                                                <?php endif;?>
                                            <?php else:?>
                                            <img src="/resources/frontend/images/no-picture.jpg" class="jdslkfj87d8f7dfhjd" />
                                            <?php endif;?>
                                        </td>
                                        <td><?php echo $item['firstname'];?> <?php echo $item['lastname'];?></td>
                                        <td><?php if($item['total_points']) { echo $item['total_points'];} else {echo 0 ;}?></td>
                                        <td><?= $item['refferals'] ?></td>
                                        <td><?php if($item['real_views']) { echo $item['real_views'];} else {echo 0 ;}?></td>
                                        <td><?= $item['total_shares'] ; ?></td>
                                        <td><?php // echo (int) $item['success'];?></td>
                                        <td><?php // echo (int) $item['fail'];?></td>
                                        <td><?php // echo (int) $item['pending'];?></td>
                                        <td><?php // echo (int) $item['application_on_reccomend'];?></td>
                                    </tr>
                                <?php endforeach;?>
                                </tbody>
                            </table>-->
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>

</section>

<script type="text/javascript">
       var language = ['ro', 'en', 'fr', 'hu'];
    var lang = "<?php echo $this->lang; ?>";
    var index = language.indexOf(lang);
    if (index >= 0) {
        language.splice(index, 1);
    }
    window.onload = function(){
     $('span#'+lang).show();
     $('select.'+lang).show();
 };
</script>