<?php echo $this->dg_js ; ?>
<section id="main-content" style="">
    <section class="wrapper iifuudh">

        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('candidates'); ?>
                    </h3>
                </div>
                <div class=" col-sm-9">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <?php echo $this->dragndrop ?>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>