<style type="text/css">
    .dataTables_length {
        display: none;
    }
    .dataTables_filter {
        display: none;
    }
</style>
<table class="table table-bordered  mytable tbl-spa tbl-spa-3 spa-dynamic-table">
                                <thead>
                                    <tr>
                                        <th class="ang-wdth"><?php echo $this->translate->_("name"); ?></th>
                                        <th><?php echo $this->translate->_("points"); ?></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in user">
                                        <td> 
                                            <img class="jdslkfj87d8f7dfhjd" src="/resources/files/user/{{data.image}}" alt="" />
                                            <span class="candidate-name">{{data.firstname}} {{data.lastname}}</span>
                                        </td>
                                        <td>{{data.points}}</td>
                                    </tr>
                                </tbody>
                            </table>

<script type="text/javascript">
var dataTable = $('.spa-dynamic-table').dataTable({
       "filter": false,
            destroy: true,
            searching: true,
            "aaSorting": [[1, "desc"]],
});

</script>

