<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper">
<!--mini statistics start-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">Push Company</header>
                    <div class="panel-body">
                        <div class=" form">
                            <form class="cmxform form-horizontal" id="commentForm" method="POST" action="" enctype="multipart/form-data">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3">Event</label>
                                    <div class="col-lg-6">
                                        <select name="id_event" class="form-control select2">
                                        <?php foreach ($this->events as $event):?>
                                        <option value="<?php echo $event->id;?>"><?php echo $event->title;?></option>
                                        <?php endforeach;?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="lastname" class="control-label col-lg-3">Interior</label>
                                    <div class="col-lg-6">
                                        <select name="interior_type" class="form-control">
                                        <?php foreach ($this->interiors as $key => $value):?>
                                        <option value="<?php echo $key;?>"><?php echo $value;?></option>
                                        <?php endforeach;?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="email" class="control-label col-lg-3">Exterior</label>
                                    <div class="col-lg-6">
                                        <select name="exterior_type" class="form-control">
                                        <?php foreach ($this->exteriors as $key => $value):?>
                                        <option value="<?php echo $key;?>"><?php echo $value;?></option>
                                        <?php endforeach;?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3">Jobs URL</label>
                                    <div class="col-lg-6">
                                        <input name="jobs_url" type="text" class="form-control"> 
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3">Video (youtube ID)</label>
                                    <div class="col-lg-6">
                                        <input name="video" type="text" class="form-control"> 
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3">Chat ID</label>
                                    <div class="col-lg-6">
                                        <input name="chat_id" type="text" class="form-control"> 
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3">Chat URL</label>
                                    <div class="col-lg-6">
                                        <input name="chat_url" type="text" class="form-control"> 
                                    </div>
                                </div>                                
                                <div class="form-group ">
                                    <label for="description" class="control-label col-lg-3">Poster</label>
                                    <div class="col-lg-6">
                                        <input name="poster" type="file" class="form-control"> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?>
                                        <button class="btn btn-primary" type="submit">Save</button>
                                        <button class="btn btn-default" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
        </section>
    </section>

</section>