<section id="rate">
    <div class="row">
        <div class=" col-sm-12">
            <div class="img">
                <?php if($this->user['image'] == "" || is_null($this->user['image'])) : ?>
                <img src="/resources/frontend/images/no-picture.jpg" alt="no-pictures" class="img-circle"  />
                <?php else :?>
                <img src="/resources/files/user/<?php echo $this->user['image'] ?>" alt="" class="img-circle"  />
                <?php endif;?>
                
            </div>
        </div>
        <div class=" col-sm-12">
            <div class="tpl-content">
                <div class=" col-sm-4">
                    <h2 class="rate-title"><?php echo $this->user['firstname'] ?> <?php echo $this->user['lastname'] ?></h2>
                </div>
                <div class=" col-sm-4"></div>
                <div class=" col-sm-4" align="right">
                    <h2 class=" rate-average">average <strong><span id="average">0</span>/5</strong></h2p>
                </div>
            </div>
        </div>
        <div class=" col-sm-12">
            <div class=" tpl-body">
                <div class=" col-sm-4">
                    <div>
                        <h2 class="rate-title-start">Results orientation</h2>
                    </div>
                </div>
                <div class=" col-sm-offset-3 col-sm-5">
                    <fieldset id="result_orientation" class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                    </fieldset>

                </div>
                <hr class="hr" />
            </div>
            <div class=" tpl-body">
                <div class=" col-sm-4">
                    <div>
                        <h2 class="rate-title-start">Culture Fit</h2>
                    </div>
                </div>
                <div class=" col-sm-offset-3 col-sm-5">
                    <fieldset id="culture_fit" class="rating">
                        <input type="radio" id="_star5" name="rating1" value="5" /><label for="_star5" title="Rocks!">5 stars</label>
                        <input type="radio" id="_star4" name="rating1" value="4" /><label for="_star4" title="Pretty good">4 stars</label>
                        <input type="radio" id="_star3" name="rating1" value="3" /><label for="_star3" title="Meh">3 stars</label>
                        <input type="radio" id="_star2" name="rating1" value="2" /><label for="_star2" title="Kinda bad">2 stars</label>
                        <input type="radio" id="_star1" name="rating1" value="1" /><label for="_star1" title="Sucks big time">1 star</label>
                    </fieldset>

                </div>
                <hr class="hr" />
            </div>
            <div class=" tpl-body">
                <div class=" col-sm-4">
                    <div>
                        <h2 class="rate-title-start">Technical Skills</h2>
                    </div>
                </div>
                <div class=" col-sm-offset-3 col-sm-5">
                    <fieldset id="technical_skills" class="rating">
                        <input type="radio" id="__star5" name="rating2" value="5" /><label for="__star5" title="Rocks!">5 stars</label>
                        <input type="radio" id="__star4" name="rating2" value="4" /><label for="__star4" title="Pretty good">4 stars</label>
                        <input type="radio" id="__star3" name="rating2" value="3" /><label for="__star3" title="Meh">3 stars</label>
                        <input type="radio" id="__star2" name="rating2" value="2" /><label for="__star2" title="Kinda bad">2 stars</label>
                        <input type="radio" id="__star1" name="rating2" value="1" /><label for="__star1" title="Sucks big time">1 star</label>
                    </fieldset>

                </div>
            </div>
        </div>
        <div class=" col-sm-12">
            <div class="tpl-content-text">
                <textarea name="text" id="text" cols="30" rows="6" placeholder="your opinion (optional) "></textarea>
            </div>
        </div>
        <div class=" col-sm-12">
            <div class="tpl-content-footer">       
                <div class=" col-sm-4">
                    <button class="btn btn-defaut btn-xs myBtn">I don't know this person</button>
                </div>
                <div class=" col-sm-4 center">
                    <a class="skip" href="#">skip</a>
                </div>
                <div class=" col-sm-4 right">
                    <button class="btn btn-defaut btn-xs myBtn2">Submit & Show Next</button>
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        var rate = [];
        
        $("[type='radio']").click(function() {
            var total = 0;
            var category = $(this).parent().attr('id');
            var value = $(this).val() ;
            for (var i in rate) {
                if(rate[i].category == category) {
//                    console.log('calcule average form new ');
                    rate.splice(i,1);
                    break;
                } 
               
            }
            rate.push({"category":category,"value" : value});
            
            for(var b in rate) {
                console.log(b);
                total += parseInt(rate[b].value) ; 
            }
            var average = total/3 ;
//            average = float. ;
            $('#average').text(average.toFixed(2)).fadeIn('slow');
          
          
        })
         console.log(rate);
        
        $(".myBtn2").click(function() {
            var text = $("#text").val();
            var id = "<?php echo $this->id ?>";
            $.ajax ({
               url : "/users/admin/rate",
               data : {id:id,text:text,rate:rate},
               type : "POST",
               success : function(data) {
                   window.location.href = "/profile";
               }
            });
            console.log(text);
            console.log(rate);
        })
        $(".myBtn").click(function() {
            var id = "<?php echo $this->id ?>";
            $.ajax ({
               url : "/users/admin/no-rated",
               data : {ignore : true,id_rate:id},
               type : "POST",
               success : function(data) {
                   window.location.href = "/profile";
               }
            });
        })
    })
</script>

