<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Rating details for <?php echo $this->company['title'];?></h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <table class="table table-striped table-hover table-bordered" id="dynamic-table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Job</th>
                            <th>Value</th>
                            <th>Date</th>                                        
                        </tr>
                    </thead>
                    <tbody>
                    <?php foreach ((array) $this->items as $item):?>
                        <tr>
                            <td><?php echo $item['username'];?></td>
                            <td><?php echo $item['job'];?></td>
                            <td><?php echo $item['value'];?></td>
                            <td><?php echo date("d F Y", strtotime($item['date']));?></td>
                        </tr>                                      
                    <?php endforeach;?>          
                    </tbody>
                </table>
            </div>
        </div>      
    </div>
</div>