<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><?php echo $this->user['firstname'];?> <?php echo $this->user['lastname'];?>'s earned points</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <table class="table table-striped table-hover table-bordered" id="dynamic-table">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <!--<th>Item</th>-->
                            <!--<th>Item type</th>-->
                            <th>Points</th>
                            <th>Date</th>                                        
                        </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->points as $point):?>
                        <tr>
                            <td><?php echo ucwords(str_replace("_", " ", $this->settings['gamification']['actions'][$point['action']])) ;?></td>
<!--                            <td>
                                <?php
                                    switch($point['action'])
                                    {
                                        case 1:
                                        case 2:
                                        case 4:
                                        case 5:
                                            $data = $this->jobs[$point['id_item']];
                                            $data_type = 'job';
                                        break;
                                        
                                        case 3:
                                            $data = $this->companies[$point['id_item']];
                                            $data_type = 'company';
                                        break;
                                        
                                        case 6:
                                            $data = $this->bounties[$point['id_item']]." &euro;";
                                            $data_type = 'bounty';
                                        break;
                                    } 
                                ?>
                                <?php echo $data;?>
                            </td>-->
                            <td><?php echo $data_type;?></td>
                            <td><?php echo $point['points'];?></td>
                            <!--<td><?php // echo date("d F Y", strtotime($point['date']));?></td>-->
                        </tr>                                      
                    <?php endforeach;?>          
                    </tbody>
                </table>
            </div>
        </div>      
    </div>
</div>