<!--main content start-->

<style>
    .dash_brand {
        top: 0;
    }


    .dash_yystd{
        top: 0;
    }
</style>

<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <?php echo $this->translate->_("users_cv"); ?>
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>                        
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <div class="clearfix">                                
                                <div class="row">                                    
                                    <form class="form-horizontal bucket-form" action="/users/admin/search" method="POST">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <select name="id_skill[]" class="form-control select2" multiple="" placeholder="<?php echo $this->translate->_("filter_skills"); ?>">
                                                    <?php foreach ($this->skills as $key => $value): ?>
                                                        <option<?php echo (@in_array($key, $this->filters['id_skill'])) ? ' selected="selected"' : ''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <select name="id_certification[]" class="form-control select2" multiple="" placeholder="<?php echo $this->translate->_("filter_certifications"); ?>">
                                                    <?php foreach ($this->certifications as $key => $value): ?>
                                                        <option<?php echo (@in_array($key, $this->filters['id_certification'])) ? ' selected="selected"' : ''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>    
                                            <div class="col-md-2">
                                                <select name="id_department[]" class="form-control select2" multiple="" placeholder="<?php echo $this->translate->_("filter_departments"); ?>">
                                                    <?php foreach ($this->departments as $key => $value): ?>
                                                        <option<?php echo (@in_array($key, $this->filters['id_department'])) ? ' selected="selected"' : ''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>   
                                            <div class="col-md-2">
                                                <select name="id_industry[]" class="form-control select2" multiple="" placeholder="<?php echo $this->translate->_("filter_industries"); ?>">
                                                    <?php foreach ($this->industries as $key => $value): ?>
                                                        <option<?php echo (@in_array($key, $this->filters['id_industry'])) ? ' selected="selected"' : ''; ?> value="<?php echo $key; ?>"><?php echo $value; ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>                                      
                                            <div class="col-md-2">
                                                <input name="search" type="text" class="form-control select2-input-search" placeholder="<?php echo $this->translate->_("filter_search"); ?>" value="<?php echo $this->filters['search']; ?>" />
                                            </div>
                                            <div class="col-md-2">
                                                <button type="submit" class="btn btn-info select2-input-search"><?php echo $this->translate->_("search"); ?></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="space15"><hr /></div>
                            <?php if ($this->company['search_credits'] < 1 && Zend_Auth::getInstance()->getIdentity()->type == 2): ?>
                                <div class="alert alert-block alert-danger fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_("no_search_credits"); ?>
                                </div>
                                <div class="space15"><hr /></div>
                            <?php endif; ?>
                            <table class="table table-striped table-hover table-bordered" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th><?php echo $this->translate->_("name"); ?></th>
                                        <th><?php echo $this->translate->_("title"); ?></th>                                        
                                        <th><?php echo $this->translate->_("school"); ?></th>                                        
                                        <th width="50%"><?php echo $this->translate->_("skills"); ?></th>
                                        <th><?php echo $this->translate->_("certifications"); ?></th>                                        
                                        <th><?php echo $this->translate->_("actions"); ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ((array) $this->items as $item): ?>
                                        <tr class="">
                                            <td><?php echo $item['id']; ?></td>
                                            <td>
                                                <?php if (array_key_exists($item['id'], $this->mycvs) || Zend_Auth::getInstance()->getIdentity()->type == 3): ?>
                                                    <a class="link" href="/candidate?id=<?php echo $item['id']; ?>" data-target="#preview-model" data-toggle="modal"><?php echo $item['firstname']; ?> <?php echo $item['lastname']; ?></a>
                                                <?php else: ?>
                                                    ****
                                                <?php endif; ?>
                                            </td>
                                            <td><?php echo $item['title']; ?></td>
                                            <td><?php echo $item['school']; ?></td>
                                            <td><?php echo @implode(", ", $this->user_skills[$item['id']]); ?></td>
                                            <td><?php echo @implode(", ", $this->user_certifications[$item['id']]); ?></td>                                        
                                            <td>    
                                                <?php if ($this->company['search_credits'] < 1 && Zend_Auth::getInstance()->getIdentity()->type == 2): ?>
                                                    <a class="details link" href="#"><?php echo $this->translate->_("unblock_view"); ?></a>
                                                <?php else: ?>
                                                    <a class="details link" href="/candidate/?id=<?php echo $item['id']; ?>" data-target="#preview-model" data-toggle="modal">
                                                        <?php if (array_key_exists($item['id'], $this->mycvs)): ?>
                                                            <?php echo $this->translate->_("view"); ?>
                                                        <?php else: ?>
                                                            <?php echo $this->translate->_("unblock_view"); ?>
                                                        <?php endif; ?>
                                                    </a>
                                                <?php endif; ?>
                                            </td>
                                        </tr>                                
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
</section>