<!--main content start-->
<?php $bootstrap = Zend_Controller_Front::getInstance()->getParam('bootstrap')->getOptions(); ?>
<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">
    <section class="wrapper">
        <div class="row tpl-header">

            <div class="pad col-sm-4">
                <h2 class="tpl-title"><?php echo $this->translate->_("templates"); ?></h2>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <div class="tpl-ctnr shhdgdy">
                        
                </div>
              
            </div>
               </div>

        <div class="row edit-template">
            <div class="col-sm-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="adv-table">
                            <div class="clearfix">                                
                            </div>
                            <div class="space15">
                                <!--<hr />-->
                            </div>   
                            <div flash-message="5000" ></div>
                            <table class="table table-bordered dkkfjg" id="dynamic-table" >
                                <thead>
                                    <tr>
<!--                                        <th>--><?php //echo $this->translate->_("type"); ?><!--</th>-->
                                        <!--<th>Title</th>-->                              

<!--                                        <th>--><?php //echo $this->translate->_("title"); ?><!--</th>-->
                                        <th><?php echo $this->translate->_("subject"); ?></th>
                                        <th><?php echo $this->translate->_("directed_to"); ?></th>
                                        <th><?php echo $this->translate->_("status"); ?></th>                                   
                                        <!--<th>Email</th>-->
                                        <!--<th>From</th>-->
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ((array) $this->items as $item): ?>
                                        <tr class="">                                           
<!--                                            <td class=" td-style">--><?php //echo $this->settings['email_types'][$item['type']];?><!--</td>-->
<!--                                            <td class=" td-style">--><?php // echo $item['title'];?><!--</td>-->

                                            <td class=" td-style"><?php echo $item['subject'];?></td>
                                            <td class=" td-style"><?php echo $bootstrap['resources']['Settings']['user_types'][$item['direction']];?></td>
                                            <td class=" td-style"><?php echo ($item['status'] == 1) ? "Active" : "Inactive";?></td>
                                            <!--<td class=" td-style"><?php // echo $item['email'];?></td>-->
                                            <!--<td class=" td-style"><?php // echo $item['from'];?></td>-->
                                            <td>
                                                <a href="/edit-template?id=<?php echo $item['id']?>" class="btn-edit"><i class="fas fa-edit"></i></a>
                                            </td>
                                        </tr>                                
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
</section>

<script type="text/javascript">
        var language = ['ro', 'en', 'fr', 'hu'];
    var lang = "<?php echo $this->lang; ?>";
    var index = language.indexOf(lang);
    if (index >= 0) {
        language.splice(index, 1);
    }
    window.onload = function(){
     $('span#'+lang).show();
     $('select.'+lang).show();
    
};
</script>