<!--<script type="text/javascript" src="http://lh.talentspotting.com/resources/ckeditor/ckeditor.js"></script>-->
<!--<script type="text/javascript" src="http://lh.talentspotting.com/resources/ckfinder/ckfinder.js"></script>-->
<section style="    margin-left: 400px;
    padding-top: 200px;">
    <div style="width: 800px">
        <form method="POST" action="/users/admin/template-edit-save">
            <textarea name="template" id="ckeditor-email" data-id="<?php echo $this->template['id'] ; ?>" ><?php echo $this->template['template'] ; ?></textarea>
            <input type="hidden" name="id" value="<?php echo $this->template['id'] ?>">
            <button type="submit">save template</button>
        </form>

    </div>
<!--    <a href="javascript:;" class="btn btn-default save-toDb"> save template </a>-->

</section>

<script>
    var id = "<?php echo $this->template['id'] ?>";
</script>