<section id="main-content">
    <section class="wrapper iifuudh">
        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('users'); ?>
                    </h3>
                </div>
                <div class="col-sm-2 hide_on_mobile"><span  class="count _uuyiyt" id="edit-count-checked-checkboxes"></span></div>
                <div class="col-sm-2 change_status_btn">
                    <div class="dropdown _uutdfy">
                        <button class="btn btn-primary dropdown-toggle btn-width branding-border-color-buttons
" type="button" data-toggle="dropdown">
                            <span><?php echo $this->translate->_('edit'); ?></span>
                            <span style="float:right "class="brn-drp-li branding-border-radius-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"></span></button>
                        <ul class="dropdown-menu hdgftf">
                            <li><a href="/reminder" data-toggle="modal" id="massSendReminder"><i class="msg"></i>&nbsp;&nbsp;&nbsp;<span><?php echo $this->translate->_('send_reminder'); ?></span></a></li>
                            <li><a href="javascript:;" id="delCandidates" class=""><i class="del"></i>&nbsp;&nbsp;&nbsp;<span><?php echo $this->translate->_('delete'); ?></span></a></li>
                        </ul>
                    </div>
                </div>
                <!--                <div id="hr" class="col-sm-1">|</div>-->
                <div class="col-sm-2 import_btn">
                    <a href="/import" data-target="#myModal" data-toggle="modal" class="btn add-brr _yyury branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"><?php echo $this->translate->_('import_from_csv'); ?></a>
                </div>
                <div class="col-sm-2 add_users_btn">
<!--                    --><?php //if($this->settings['ats']) :?>
<!--                        <a href='/users/admin/ats-user' data-target="#myModal" data-toggle="modal" class="btn add-br iiutyyu branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius-->
<!--">--><?php //echo $this->translate->_('add_users'); ?><!--</a>-->
<!--                    --><?php //else :?>
<!--                        <a href="/user" data-target="#myModal" data-toggle="modal" class="btn add-br iiutyyu branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius-->
<!--">--><?php //echo $this->translate->_('add_users'); ?><!--</a>-->
<!--                    --><?php //endif ;?>
                    <a href="/users/admin/ats-user" data-target="#myModal" data-toggle="modal" class="btn add-br iiutyyu branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"><?php echo $this->translate->_('add_users'); ?></a>

                </div>
                <div class="col-sm-1 search_btn">

                    <button class="btn _azzuity">
                        <span class="search-brain">
                            <i style="top:0;left: 0;" class="glyphicon glyphicon-search branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"></i></span>
                        <span id="filter-clicked-2" class=""></span>

                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 no-pad">
                <div id="search-cont" class="yeytw__">
                    <label><?php echo $this->translate->_('Search'); ?></label>
                    <input type="text" id="searchbox" class="form-control">
                </div>

            </div>

            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <table class="table table-bordered ufgrurr settings-users-ajax-table">
                                <thead>
                                <tr>
                                    <th>

                                        <div class="checkbox checkbox-primary">
                                            <input id="checkboxAll" class="styled" type="checkbox">
                                            <label for="checkboxAll">
                                            </label>
                                        </div>
                                    </th>
                                    <th><?php echo $this->translate->_('profile_picture'); ?></th>
                                    <th><?php echo $this->translate->_('name'); ?></th>
                                    <!--<th><?php // echo $this->translate->_('lname'); ?></th>-->
                                    <!--                                <th>--><?php //echo $this->translate->_('_department'); ?><!--</th>-->
                                    <th><?php echo $this->translate->_('adder_firstname'); ?></th>
                                    <!--<th><?php // echo $this->translate->_('added_by'); ?></th>-->
                                    <th><?php echo $this->translate->_('email'); ?></th>
                                    <th><?php echo $this->translate->_('type'); ?></th>
                                    <th><?php echo $this->translate->_('last_login'); ?></th>
                                    <th style="min-width: 12%"><?php echo $this->translate->_('options'); ?></th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>


<script type="text/javascript">
    var arr = [];
    $("#checkboxAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
        arr = $.map($('input:checkbox:checked'), function (e, i) {
            return +e.value;
        });

    });
    var $checkboxes = $('td input[type="checkbox"]');
    $checkboxes.change(function () {
        arr = $.map($('input[type="checkbox"]:checked'), function (e, i) {
            return +e.value;
        });
         localStorage.setItem("reminder", JSON.stringify(arr));
    });

    $("#delCandidates").click(function () {


        if (confirm("Are you sure you want to delete this user?")) {
            $.ajax({
                type: "POST",
                url: "delete-candidates",
                data: {"id": arr},
                success: function () {
                    
                    location.reload();
                }
            })
        }

    });

    $("#massSendReminder").click(function (e) {
        if (confirm("Are you sure you want to send reminder to those users?")) {
//            $.ajax({
//                type: "POST",
//                url: "/reminder",
//                data: {"id": arr,"message":message},
//                success: function () {
////                    location.reload();
//                }
//            })
        }
    })
                   var language = ['ro', 'en', 'fr', 'hu'];
    var lang = "<?php echo $this->lang; ?>";
    var index = language.indexOf(lang);
    if (index >= 0) {
        language.splice(index, 1);
    }
    window.onload = function(){
     $('span#'+lang).show();
     $('select.'+lang).show();
 };
</script>