    <!--main content start-->
    <section id="main-content" class="company_billing_page" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="header brain-header">
            <div class="row">
                <div class="col-sm-12" >
                    <span class=" title">Company profile<!--<?php echo $this->translate->_("billing_info");?></span>-->
                </div>
                <!--<div class="col-sm-8" >
                    <div class="bs-example">
                        <ul class="" id="myTab">
                            <li class="active"><a href="#company"><?php echo $this->translate->_("company"); ?></a></li>
                            <!--<li><a href="#billing">Billing</a></li>-->
                        <!--</ul>

                    </div>
                </div>-->
            </div>
        </section>
        <section class="wrapp no-top-margin">
            <div class="row">
            <div class="col-sm-10 col-sm-offset-1 no-left-margin">
                
                
                <div class="tab-content">
                    <div id="billing" class="tab-pane fade">
                        <?php echo $this->form ?>
                    </div>
                    <div id="company" class="tab-pane fade in active">
                        <?php echo $this->form_company ?>
                    </div>
                </div>
                
                
<!--                <section class="panel">
                    <header class="panel-heading">
                        <?php // echo $this->translate->_("billing");?>
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>                        
                    </header>
                    <div class="panel-body">
                        <div class="">
                            <div class="clearfix">
                                <div class="btn-group">
                                    <a href="/edit-billing" class="btn btn-primary">
                                        <?php // echo $this->translate->_("add_billing_info");?> <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="btn-group pull-right">
                                    
                                </div>
                            </div>
                            <div class="space15"></div>
                            <div class="tab-content">
                                <div id="billing" class="tab-pane fade in active">
                                    <?php // echo $this->form ?>
                                </div>
                                <div id="company" class="tab-pane fade">
                                    <h3>Section B</h3>
                                    <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
                                </div>
                            </div>
                            <table class="table table-striped table-hover table-bordered" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th><?php // echo $this->translate->_("company");?></th>
                                        <th><?php // echo $this->translate->_("cui");?></th>
                                        <th><?php // echo $this->translate->_("j");?></th>
                                        <th><?php // echo $this->translate->_("address");?></th>
                                        <th><?php // echo $this->translate->_("bank");?></th>
                                        <th><?php // echo $this->translate->_("name");?></th>
                                        <th><?php // echo $this->translate->_("phone");?></th>
                                        <th><?php // echo $this->translate->_("email");?></th>
                                        <th><?php // echo $this->translate->_("payment_method");?></th>
                                        <th><?php // echo $this->translate->_("actions");?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php // foreach ((array) $this->items as $item):?>
                                    <tr class="">
                                        <td><?php // echo $item['id'];?></td>
                                        <td><?php // echo $item['title'];?></td>
                                        <td><?php // echo $item['cui'];?></td>
                                        <td><?php // echo $item['j'];?></td>
                                        <td><?php // echo $item['address'];?></td>
                                        <td><?php // echo $item['bank'];?></td>
                                        <td><?php // echo $item['firstname'];?> <?php // echo $item['lastname'];?></td>
                                        <td><?php // echo $item['phone'];?></td>
                                        <td><?php // echo $item['email'];?></td>
                                        <td><?php // echo $item['payment_method'];?></td>
                                        <td>
                                            <a class="edit" href="/edit-billing/?id=<?php // echo $item['id'];?>"><?php // echo $this->translate->_("edit");?></a>
                                            <a class="delete delete_item" href="/delete-billing/?id=<?php // echo $item['id'];?>"><?php // echo $this->translate->_("delete");?></a>
                                        </td>
                                    </tr>                                
                                    <?php // endforeach;?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class=" panel-footer">
                        sdfsdf
                    </div>
                </section>-->
            </div>
        </div>
        </section>
    </section>
</section>
<script type="text/javascript">
$(document).ready(function(){ 
    
    $('#brainspotting_bounty').on('change',function() {
        var status = $(this).is(':checked') ? 1 : 0;
        $.ajax({
            url : "/ajax/index/bounty-via-bsp",
            data : {status:status},
            type: "POST",
        })
    })
    $("#myTab a").click(function(e){
        e.preventDefault();
        $(this).tab('show');
    });
});
</script>
</script>