    <!--main content start-->
    <section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper">
            <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Companies List
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>                        
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <div class="space15"><hr /></div>
                            <table class="table table-striped table-hover table-bordered" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Profile Picture</th>
                                        <th>User</th>
                                        <th>Points</th>
                                        <th>Type</th>                                        
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ((array) $this->items as $item):?>
                                    <tr class="">
                                        <td><?php echo $item['id'];?></td>
                                        <td>
                                            <?php if ($item['image'] != ""):?>
                                                <?php if (stripos($item['image'], "media") !== false):?>
                                            <img src="<?php echo $item['image'];?>"  class="jsdhsu" />
                                                <?php else:?>
                                                <img src="/resources/files/user/<?php echo $item['image'];?>" class="jsdhsu"/>
                                                <?php endif;?>
                                            <?php else:?>
                                            <img src="/resources/frontend/images/no-picture.jpg" class="jsdhsu" />
                                            <?php endif;?>
                                        </td>
                                        <td><?php echo $item['firstname'];?> <?php echo $item['lastname'];?></td>
                                        <td><?php echo $item['points'];?></td>                                        
                                        <td><?php echo $this->settings['user_types'][$item['type']];?></td>                                        
                                        <td><a class="link" href="/users/admin/scoring-details/?id=<?php echo $item['id'];?>" data-target="#preview-model" data-toggle="modal">Scoring details</a></td>                                        
                                    </tr>                                
                                    <?php endforeach;?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        </section>
    </section>
</section>