<!--main content start-->
<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">
    <section  class="wrapper brain-wrap">

        <div  class="row brain-header">
            <div class="col-sm-2 hidden-sm hidden-xs">
                <span class=" br-title">Campaigns</span>
            </div>
            <div class="col-sm-5 ">
                <div class="pull-left hidden-sm hidden-xs hidden-md" id="edit-count-checked-checkboxes"></div>
                <span class="dropdown brain-drop-menu pull-right">

                    <button class="btn-brain btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="brain-title">Change status</span>
                        <span class="brn-drp-li branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/edit" data-target="#myModal" data-toggle="modal"><i class="pen"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Edit</span></a></li>
                        <li><a onClick="send()"><i class="notification"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Send reminder</span></a></li>
                        <li><a onClick="boost()"><i class="boost"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Boost campaign</span></a></li>
                        <li><a onClick="duplicate()"><i class="copy"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Duplicate campaign</span></a></li>
                        <li><a onClick="activate()"><i class="activate"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Activate</span></a></li>
                    </ul>
                </span>
            </div>

            <div id="ln" class="col-sm-5">
                
                <span><i class="fa fa-pencil fa-lg"></i></span> 
                <span class="branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
 branding-border-color-buttons">View Leaderboards</span>
                <a class="dooodifyuskjlj" href="/add" data-target="#myModal" data-toggle="modal"><span class="add-nw branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
">Add new campaign</span></a>
                <span class="green-brain "><i class="glyphicon glyphicon-search branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"></i></span>
                <span id="filter-clicked-5" class=""></span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 no-pad">
                <div id="search-cont" class="dooiwer890">
                    <label>Search</label>
                    <input type="text" id="searchbox" class="form-control">
                </div>

            </div>
            
            <div class="col-sm-12">
                <section class="panel osdiosidsds00">
                    <table class="table table-bordered dood33433894" id="dynamic-table">
                        <thead>
                            <tr>
                                <th>Title</th>
<!--                                        <th>ID</th>-->
                                <th>START DATE</th>
                                <th>END DATE</th>
                                <th>VIEWS</th>
                                <th>SHARES</th>
                                <th>EMAIL REF.</th>
                                <th>APPLICATIONS</th>
                                <th>BOUNTY</th>
                                <th>STATUS</th>
                                <th></th>
<!--                                <th>Name</th>
                                <th>Location</th>
                                <th>Description</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Rating</th>
                                <th>Logo</th>
                                <th>Status</th>
                                <th>Actions</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            foreach ((array) $this->items as $item): ?>
                                <tr class="">
                                    <td>
                                         <?php if ($item['status'] == 1) : ?>
                                                <span class='avaible'></span>
                                            <?php else : ?>
                                                <span class='not-avaible'></span>
                                            <?php endif; ?>
                                        <div class="checkbox checkbox-primary">
                                            <input value="<?php echo $item['id']; ?>" id="checkbox<?php echo $item['id']; ?>" class="styled" type="checkbox" >
                                            <label for="checkbox<?php echo $item['id']; ?>">
                                            </label>
                                        </div>
                                             <?php echo $item['title'] ?>  
                                    </td>
    <!--                                            <td><?php echo $item['id']; ?></td>-->
                                    <td class=" td-style">04-30-2015</td>
                                    <td class=" td-style">04-30-2015</td>
                                    <td class=" td-style">20</td>
                                    <td>5<span class="brain-data">5</span></td>
                                    <td class=" td-style">3</td>
                                    <td class=" td-style">11</td>
                                    <td class=" td-style">500</td>
                                    <td class=" td-style">active</td>
                                    <td>
                                        <div class="dropdown brain-drop-menu">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <div class="tog">
                                                    <div><strong>.</strong></div>
                                                    <div><strong>.</strong></div>
                                                    <div><strong>.</strong></div>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu dyyy3438e90e45" role="menu" aria-labelledby="dLabel">
                                                <li><a  onClick="edit()"><i class="pen"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Edit</span></a></li>
                                                <li><a onClick="send()"><i class="notification"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Send reminder</span></a></li>
                                                <li><a onClick="boost()"><i class="boost"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Boost campaign</span></a></li>
                                                <li><a onClick="duplicate()"><i class="copy"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Duplicate campaign</span></a></li>
                                                <li><a onClick="activate()"><i class="activate"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Activate</span></a></li>
                                                <li><a onClick="removeCompanie(<?php echo $item['id']; ?>)"><i class="del"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Delete</span></a></li>
                                            </ul>
                                        </div>
                                    </td>

                        <!--                                    <td><?php echo $item['title']; ?></td>
                        <td><?php echo $item['city']; ?>, <?php echo $item['country']; ?></td>
                        <td width="30%"><?php echo $item['description']; ?></td>
                        <td><?php echo $item['phone']; ?></td>
                        <td><?php echo $item['email']; ?></td>
                        <td>
                                    <?php echo (float) $item['rating']; ?><br />
                            <a href="/users/admin/rating-details?id=<?php echo $item['id']; ?>" data-target="#preview-model" data-toggle="modal">Details</a>
                        </td>
                        <td><img src="/constrain-image/?url=<?php echo base64_encode("/companies/original/" . $item['logo']); ?>&width=90&height=90"/></td>
                        <td>
                                    <?php echo $this->settings['company_status'][$item['status']]; ?>
                                    <?php if ($item['status'] == 0): ?>
                                                        <br /><a class="link" href="/users/admin/activate/?id=<?php echo $item['id']; ?>">Activate</a>
                                    <?php else: ?>
                                                        <br /><a class="link" href="/users/admin/inactivate/?id=<?php echo $item['id']; ?>">Inactivate</a>
                                    <?php endif; ?>
                        </td>
                        <td>
                            <a class="edit" href="/edit-company/?id=<?php echo $item['id']; ?>">Edit</a>
                            <a class="delete delete_item" href="/delete-company/?id=<?php echo $item['id']; ?>">Delete</a>
                        </td>-->
                                </tr>                                
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </section>
</section>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $(window).resize(function () {
            var width = $(window).width();
            if (width < 1124) {
                $(".brain-resize").css({'width': 'auto'});
            }
//        $(".brain-resize").css({'margin-left' : '-'+width+'px'});
        });
    })
            function removeCompanie(id) {
    if (id) {
//       var ids = [] ;
//       $(".table-check:checked").each(function() {
//            var id_attr = $(this).attr('id').split("checkbox");
//            var id = id_attr[1];
//            ids.push(id);
//       });
       console.log(id);
        $.post("/delete-company", {"id": id}, function(data)
        {
//           location.reload();
        }, 'json');
                    window.location.reload();

    }
    else
    {
        alert("Please select at least one item!");
    }
}
</script>
