﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19675_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1405px;
  height:996px;
}
#u19675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:993px;
}
#u19675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:9px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19676 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:239px;
  height:34px;
  color:#FFFFFF;
}
#u19676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:235px;
  word-wrap:break-word;
}
#u19677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:949px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:1402px;
  height:949px;
}
#u19677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19678 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:55px;
  width:22px;
  height:22px;
}
#u19678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u19679 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:55px;
  width:25px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u19680 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:55px;
  width:21px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:31px;
}
#u19682 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:51px;
  width:1084px;
  height:30px;
}
#u19682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u19683 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:54px;
  width:23px;
  height:22px;
}
#u19683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u19684 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:54px;
  width:24px;
  height:22px;
}
#u19684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19685 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:61px;
  width:245px;
  height:16px;
}
#u19685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u19686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u19686 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:55px;
  width:17px;
  height:20px;
}
#u19686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u19688 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:58px;
  width:5px;
  height:6px;
}
#u19688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u19689 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:64px;
  width:5px;
  height:6px;
}
#u19689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u19690 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:71px;
  width:5px;
  height:6px;
}
#u19690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:60px;
}
#u19692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:1402px;
  height:59px;
}
#u19692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:43px;
}
#u19693 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:96px;
  width:81px;
  height:43px;
}
#u19693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u19696 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:102px;
  width:33px;
  height:32px;
}
#u19696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19697 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:104px;
  width:30px;
  height:30px;
}
#u19697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19698 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:110px;
  width:50px;
  height:14px;
  font-size:12px;
}
#u19698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u19699 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:113px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u19700 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:106px;
  width:308px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u19700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u19702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:95px;
}
#u19702 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:940px;
  width:1408px;
  height:94px;
}
#u19702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u19703 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:947px;
  width:42px;
  height:42px;
}
#u19703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u19704 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:947px;
  width:42px;
  height:42px;
}
#u19704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u19705 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:947px;
  width:42px;
  height:42px;
}
#u19705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u19706 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:957px;
  width:251px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u19706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u19707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u19707 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:957px;
  width:800px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u19707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u19708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u19708 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:899px;
  width:50px;
  height:41px;
}
#u19708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:24px;
}
#u19710 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:55px;
  width:973px;
  height:23px;
}
#u19710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19711 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:59px;
  width:921px;
  height:16px;
}
#u19711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  word-wrap:break-word;
}
#u19713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:753px;
  background:inherit;
  background-color:rgba(51, 54, 70, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:114px;
  height:753px;
}
#u19713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u19715 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:239px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u19715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u19716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u19716 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:190px;
  width:50px;
  height:39px;
}
#u19716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u19718 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:322px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u19718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u19719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u19719 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:280px;
  width:43px;
  height:37px;
}
#u19719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u19721 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:408px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u19721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u19722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u19722 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:360px;
  width:43px;
  height:40px;
}
#u19722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u19724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u19724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u19725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u19725 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:705px;
  width:42px;
  height:42px;
}
#u19725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u19727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:581px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u19727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u19728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u19728 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:539px;
  width:43px;
  height:38px;
}
#u19728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u19730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:660px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u19730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u19731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u19731 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:619px;
  width:50px;
  height:38px;
}
#u19731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u19733 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:499px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u19733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u19734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u19734 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:457px;
  width:43px;
  height:38px;
}
#u19734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
  background:inherit;
  background-color:rgba(58, 197, 217, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:113px;
  height:76px;
}
#u19738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u19740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:501px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u19740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u19741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u19741 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:459px;
  width:43px;
  height:38px;
}
#u19741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19742 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:169px;
  width:1274px;
  height:702px;
  overflow:hidden;
}
#u19742_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1274px;
  height:702px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u19742_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1232px;
  height:640px;
}
#u19743 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:11px;
  width:1231px;
  height:639px;
}
#u19743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19744 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:28px;
  width:1216px;
  height:36px;
}
#u19744_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u19745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:36px;
}
#u19746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
}
#u19746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
}
#u19746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:234px;
  word-wrap:break-word;
}
#u19747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u19747 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:248px;
  height:36px;
}
#u19747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u19748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
}
#u19748 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:0px;
  width:243px;
  height:36px;
}
#u19748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u19749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
}
#u19749 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:0px;
  width:243px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:239px;
  word-wrap:break-word;
}
#u19750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u19750 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:0px;
  width:244px;
  height:36px;
}
#u19750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u19751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19752 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:660px;
  width:113px;
  height:31px;
  color:#000000;
}
#u19752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u19753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19753 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:660px;
  width:113px;
  height:31px;
  color:#000000;
}
#u19753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u19754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u19754 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:665px;
  width:10px;
  height:21px;
}
#u19754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u19755 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:665px;
  width:10px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19756 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:88px;
  width:1216px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19756_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1206px;
  word-wrap:break-word;
}
#u19757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19757 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:117px;
  width:1216px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19757_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1206px;
  word-wrap:break-word;
}
#u19758_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:289px;
  height:50px;
}
#u19758 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:149px;
  width:284px;
  height:45px;
  font-size:18px;
}
#u19758_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u19759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19760_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:289px;
  height:50px;
}
#u19760 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:149px;
  width:284px;
  height:45px;
  font-size:18px;
}
#u19760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u19761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19762 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:267px;
  width:283px;
  height:196px;
}
#u19762_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:196px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19762_ann {
  border-width:0px;
  position:absolute;
  left:913px;
  top:263px;
  width:1px;
  height:1px;
}
#u19763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19763 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:247px;
  width:283px;
  height:16px;
}
#u19763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19764 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:204px;
  width:284px;
  height:29px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19764_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u19765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19766_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:289px;
  height:50px;
}
#u19766 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:149px;
  width:284px;
  height:45px;
  font-size:18px;
}
#u19766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u19767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19767 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:204px;
  width:284px;
  height:29px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19767_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u19768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19769 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:247px;
  width:54px;
  height:25px;
}
#u19769_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u19770 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:247px;
  width:157px;
  height:25px;
}
#u19770_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19770_input:disabled {
  color:grayText;
}
#u19771 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:247px;
  width:49px;
  height:25px;
}
#u19771_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19771_input:disabled {
  color:grayText;
}
#u19772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19773 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:267px;
  width:283px;
  height:196px;
}
#u19773_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:196px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19774 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:247px;
  width:283px;
  height:16px;
}
#u19774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19775 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:202px;
  width:284px;
  height:29px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19775_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u19742_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1274px;
  height:702px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u19742_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1232px;
  height:640px;
}
#u19776 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:11px;
  width:1231px;
  height:639px;
}
#u19776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19777 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:28px;
  width:1216px;
  height:36px;
}
#u19777_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u19778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:36px;
}
#u19779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
}
#u19779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
}
#u19779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:234px;
  word-wrap:break-word;
}
#u19780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u19780 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:248px;
  height:36px;
}
#u19780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u19781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
}
#u19781 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:0px;
  width:243px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:239px;
  word-wrap:break-word;
}
#u19782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
}
#u19782 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:0px;
  width:243px;
  height:36px;
}
#u19782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u19783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u19783 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:0px;
  width:244px;
  height:36px;
}
#u19783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u19784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19785 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:660px;
  width:113px;
  height:31px;
  color:#000000;
}
#u19785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u19786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19786 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:660px;
  width:113px;
  height:31px;
  color:#000000;
}
#u19786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u19787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u19787 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:665px;
  width:10px;
  height:21px;
}
#u19787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u19788 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:665px;
  width:10px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19789_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:289px;
  height:50px;
}
#u19789 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:149px;
  width:284px;
  height:45px;
  font-size:18px;
}
#u19789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u19790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19790 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:88px;
  width:1216px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19790_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1206px;
  word-wrap:break-word;
}
#u19791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19791 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:117px;
  width:1216px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19791_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1206px;
  word-wrap:break-word;
}
#u19792_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:289px;
  height:50px;
}
#u19792 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:149px;
  width:284px;
  height:45px;
  font-size:18px;
}
#u19792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u19793_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:289px;
  height:50px;
}
#u19793 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:149px;
  width:284px;
  height:45px;
  font-size:18px;
}
#u19793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u19794_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:289px;
  height:50px;
}
#u19794 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:149px;
  width:284px;
  height:45px;
  font-size:18px;
}
#u19794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u19795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19795 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:198px;
  width:284px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19795_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u19796 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:239px;
  width:284px;
  height:32px;
}
#u19796_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u19796_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19797 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:204px;
  width:284px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19797_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u19798 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:281px;
  width:284px;
  height:32px;
}
#u19798_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u19798_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19799 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:327px;
  width:284px;
  height:32px;
}
#u19799_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u19799_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19800 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:369px;
  width:284px;
  height:32px;
}
#u19800_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u19800_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19801 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:411px;
  width:284px;
  height:32px;
}
#u19801_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u19801_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19804 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:233px;
  width:283px;
  height:16px;
}
#u19804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19805 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:316px;
  width:283px;
  height:22px;
}
#u19805_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19805_input:disabled {
  color:grayText;
}
#u19806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19806 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:297px;
  width:283px;
  height:16px;
}
#u19806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19807 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:249px;
  width:283px;
  height:22px;
}
#u19807_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19807_input:disabled {
  color:grayText;
}
#u19808 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:389px;
  width:283px;
  height:22px;
}
#u19808_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19808_input:disabled {
  color:grayText;
}
#u19809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19809 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:370px;
  width:283px;
  height:16px;
}
#u19809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19810 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:450px;
  width:283px;
  height:22px;
}
#u19810_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19810_input:disabled {
  color:grayText;
}
#u19811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19811 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:431px;
  width:283px;
  height:16px;
}
#u19811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19815 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:204px;
  width:193px;
  height:25px;
}
#u19815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:191px;
  word-wrap:break-word;
}
#u19816 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:204px;
  width:80px;
  height:25px;
}
#u19816_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u19817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19820 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:239px;
  width:193px;
  height:25px;
}
#u19820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:191px;
  word-wrap:break-word;
}
#u19821 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:239px;
  width:80px;
  height:25px;
}
#u19821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u19822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19825 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:274px;
  width:193px;
  height:25px;
}
#u19825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:191px;
  word-wrap:break-word;
}
#u19826 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:274px;
  width:80px;
  height:25px;
}
#u19826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u19827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19830 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:309px;
  width:193px;
  height:25px;
}
#u19830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:191px;
  word-wrap:break-word;
}
#u19831 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:309px;
  width:80px;
  height:25px;
}
#u19831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u19832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19832 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:210px;
  width:284px;
  height:245px;
}
#u19832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u19742_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1274px;
  height:702px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u19742_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1232px;
  height:640px;
}
#u19833 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:11px;
  width:1231px;
  height:639px;
}
#u19833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19834 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:28px;
  width:1216px;
  height:36px;
}
#u19834_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u19835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:36px;
}
#u19836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
}
#u19836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
}
#u19836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:234px;
  word-wrap:break-word;
}
#u19837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u19837 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:248px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  word-wrap:break-word;
}
#u19838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
}
#u19838 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:0px;
  width:243px;
  height:36px;
}
#u19838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u19839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
}
#u19839 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:0px;
  width:243px;
  height:36px;
}
#u19839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u19840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u19840 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:0px;
  width:244px;
  height:36px;
}
#u19840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u19841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19842 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:660px;
  width:113px;
  height:31px;
  color:#000000;
}
#u19842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u19843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19843 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:660px;
  width:113px;
  height:31px;
  color:#000000;
}
#u19843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u19844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u19844 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:665px;
  width:10px;
  height:21px;
}
#u19844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u19845 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:665px;
  width:10px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19846_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:289px;
  height:50px;
}
#u19846 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:149px;
  width:284px;
  height:45px;
  font-size:18px;
}
#u19846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u19847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19847 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:88px;
  width:1216px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19847_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1206px;
  word-wrap:break-word;
}
#u19848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19848 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:117px;
  width:1216px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19848_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1206px;
  word-wrap:break-word;
}
#u19849_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:289px;
  height:50px;
}
#u19849 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:149px;
  width:284px;
  height:45px;
  font-size:18px;
}
#u19849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u19850_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:289px;
  height:50px;
}
#u19850 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:149px;
  width:284px;
  height:45px;
  font-size:18px;
}
#u19850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u19851_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:289px;
  height:50px;
}
#u19851 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:149px;
  width:284px;
  height:45px;
  font-size:18px;
}
#u19851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u19852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19854 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:232px;
  width:283px;
  height:22px;
}
#u19854_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19854_input:disabled {
  color:grayText;
}
#u19855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19855 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:213px;
  width:283px;
  height:16px;
}
#u19855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19856 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:296px;
  width:283px;
  height:22px;
}
#u19856_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19856_input:disabled {
  color:grayText;
}
#u19857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19857 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:277px;
  width:283px;
  height:16px;
}
#u19857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19858 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:370px;
  width:283px;
  height:22px;
}
#u19858_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19858_input:disabled {
  color:grayText;
}
#u19859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19859 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:351px;
  width:283px;
  height:16px;
}
#u19859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19860 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:442px;
  width:283px;
  height:196px;
}
#u19860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:196px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19860_ann {
  border-width:0px;
  position:absolute;
  left:607px;
  top:438px;
  width:1px;
  height:1px;
}
#u19861 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:229px;
  width:283px;
  height:196px;
}
#u19861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:196px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19862 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:422px;
  width:283px;
  height:16px;
}
#u19862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19863 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:213px;
  width:283px;
  height:16px;
}
#u19863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19866 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:242px;
  width:283px;
  height:22px;
}
#u19866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19866_input:disabled {
  color:grayText;
}
#u19867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19867 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:223px;
  width:283px;
  height:16px;
}
#u19867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19868 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:306px;
  width:283px;
  height:22px;
}
#u19868_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19868_input:disabled {
  color:grayText;
}
#u19869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19869 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:287px;
  width:283px;
  height:16px;
}
#u19869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19870 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:380px;
  width:283px;
  height:22px;
}
#u19870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19870_input:disabled {
  color:grayText;
}
#u19871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19871 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:361px;
  width:283px;
  height:16px;
}
#u19871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19872 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:452px;
  width:283px;
  height:196px;
}
#u19872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:196px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19873 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:432px;
  width:283px;
  height:16px;
}
#u19873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19874 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:213px;
  width:283px;
  height:16px;
}
#u19874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u19875 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:229px;
  width:283px;
  height:196px;
}
#u19875_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:196px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19742_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1274px;
  height:702px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u19742_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1232px;
  height:640px;
}
#u19876 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:11px;
  width:1231px;
  height:639px;
}
#u19876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19877 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:28px;
  width:1216px;
  height:36px;
}
#u19877_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u19878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:36px;
}
#u19879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
}
#u19879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:234px;
  word-wrap:break-word;
}
#u19880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:36px;
}
#u19880 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:248px;
  height:36px;
}
#u19880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u19881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
}
#u19881 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:0px;
  width:243px;
  height:36px;
}
#u19881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u19882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
}
#u19882 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:0px;
  width:243px;
  height:36px;
}
#u19882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u19883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u19883 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:0px;
  width:244px;
  height:36px;
}
#u19883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u19884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19885 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:660px;
  width:113px;
  height:31px;
  color:#000000;
}
#u19885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u19886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19886 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:660px;
  width:113px;
  height:31px;
  color:#000000;
}
#u19886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u19887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u19887 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:665px;
  width:10px;
  height:21px;
}
#u19887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u19888 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:665px;
  width:10px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19889 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:88px;
  width:1216px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19889_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1206px;
  word-wrap:break-word;
}
#u19890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19890 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:117px;
  width:1216px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19890_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1206px;
  word-wrap:break-word;
}
#u19891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19892_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:385px;
  height:50px;
}
#u19892 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:229px;
  width:380px;
  height:45px;
  font-size:18px;
}
#u19892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:376px;
  word-wrap:break-word;
}
#u19893_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:385px;
  height:50px;
}
#u19893 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:229px;
  width:380px;
  height:45px;
  font-size:18px;
}
#u19893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:376px;
  word-wrap:break-word;
}
#u19894_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:385px;
  height:50px;
}
#u19894 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:229px;
  width:380px;
  height:45px;
  font-size:18px;
}
#u19894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:376px;
  word-wrap:break-word;
}
#u19895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u19895 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:304px;
  width:380px;
  height:39px;
  text-align:center;
}
#u19895_img.mouseOver {
}
#u19895.mouseOver {
}
#u19895_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u19896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u19896 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:304px;
  width:380px;
  height:39px;
  text-align:center;
}
#u19896_img.mouseOver {
}
#u19896.mouseOver {
}
#u19896_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u19897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u19897 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:361px;
  width:380px;
  height:39px;
  text-align:center;
}
#u19897_img.mouseOver {
}
#u19897.mouseOver {
}
#u19897_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u19898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u19898 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:418px;
  width:380px;
  height:39px;
  text-align:center;
}
#u19898_img.mouseOver {
}
#u19898.mouseOver {
}
#u19898_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u19899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u19899 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:304px;
  width:380px;
  height:39px;
  text-align:center;
}
#u19899_img.mouseOver {
}
#u19899.mouseOver {
}
#u19899_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
#u19900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19900 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:167px;
  width:105px;
  height:16px;
}
#u19900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19901 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:187px;
  width:1205px;
  height:25px;
}
#u19901_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
