'<p><span style="font-size: 24pt;"><strong>Conditii de utilizare</strong></span></p>
<p><span lang="ro-RO">21 noiembrie 2016</span></p>
<p><span lang="ro-RO">&nbsp;</span></p>
<h1 class="western"><span lang="ro-RO">Conditii generale de utilizare </span></h1>
<ol>
    <li>
        <p><span lang="ro-RO">Bine ati venit pe Talentspotting - platforma sociala de recomandari de joburi operata de Brainspotting Consulting SRL (la care se face referire folosindu-se termenii: &bdquo;Brainspotting&rdquo;, &bdquo;noi&rdquo; sau &bdquo;noua&rdquo;), la adresa </span><a href="http://www.talentspotting.com"><span style="color: #1155cc;"><span lang="ro-RO"><u>www.talentspotting.com</u></span></span></a><span lang="ro-RO"> (&bdquo;Domeniu&rdquo;, &bdquo;Site&rdquo;) si pe adresele corespunzatoare Clientilor nostri (colectiv, &bdquo;Subdomeniile&rdquo;). </span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Toate serviciile asociate Domeniului fac obiectul agrearii de catre dumneavoastra a conditiilor de utilizare de mai jos (&bdquo;Conditiile de utilizare&rdquo;). Va rugam sa le cititi inainte de a utiliza Site-ul. Daca nu sunteti de acord cu prezentele conditii de utilizare, avem rugamintea sa nu utilizati acest Site. Prin utilizarea acestuia, confirmati ca intelegeti ca prezentele conditii va sunt aplicabile din punct de vedere legal.</span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Acest Site si serviciile sau functionalitatile oferite pe Site sunt destinate utilizarii de catre persoanele fizice in cautarea unui loc de munca (&bdquo;Candidati&rdquo;), persoanele fizice care isi ajuta cunostintele sa isi gaseasca un loc de munca (&bdquo;Recomandatori&rdquo;) sau agentilor de recrutare ce reprezinta Clientii Talentspotting, in cautarea de candidati pentru angajare (&bdquo;Administratorii&rdquo;). </span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Prezentele conditii sunt aplicabile numai accesului la Site si functiilor sau serviciilor oferite pe Domeniu. Utilizarea altor produse sau servicii Brainspotting va fi acordata pe baza unui acord separat, semnat la momentul achizitiei.</span></p>
    </li>
</ol>
<h1 class="western"><span lang="ro-RO">Contul dumneavoastra </span></h1>
<ol>
    <li>
        <p><span lang="ro-RO">Candidat</span></p>
        <ol type="a">
            <li>
                <p><span lang="ro-RO">Odata ce ati primit linkul unui post disponibil din partea unui Recomandator identificat de noi ca utilizator valid al unui Subdomeniu, daca va autentificati in calitate de Candidat pentru un Post disponibil prin intermediul instrumentelor disponibile pe Site, puteti vizita Site-ul si va puteti inregistra pentru a crea un cont si pentru a va depune candidatura pentru Postul disponibil respectiv si pentru orice alte posturi disponibile pe care le puteti vizualiza.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Daca v-a fost activata aceasta functionalitate, puteti si retransmite sau partaja catre alte persoane posturile disponibile, utilizand exclusiv intrumentele existente pe Site. </span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Pentru a va depune candidatura pentru un post si/sau pentru a retransmite posturile disponibile este necesara utilizarea contului pe care il detineti pe Talentspotting si furnizarea unor informatii despre dumneavoastra (cum ar fi: prenume, nume, adresa de e-mail, numar de telefon, competente profesionale si posturi detinute), dupa care veti obtine accesul la aceste instrumente. </span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Sunteti de acord ca noi sa ne bazam pe adresa de e-mail comunicata de dumneavoastra, in momentul crearii contului dumneavoastra, pentru a confirma daca utilizatorii care acceseaza Site-ul si utilizeaza Serviciile noastre sunt autorizati in acest sens.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Prin utilizarea contului va dati acordul ca toate informatiile furnizate de Dumneavoastra sunt corecte, complete si de actualitate si veti fi raspunzator/raspunzatoare pentru orice activitati derulate prin folosirea contului dumneavoastra.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Aveti responsabilitatea de a proteja numele de utilizator si parola aferente contului dumneavoastra si nu veti permite accesarea sau utilizarea contului dumneavoastra de niciun tert sau sistem computerizat.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Daca un utilizator acceseaza Site-ul folosind o adresa de e-mail care v-a fost acordata dumneavoastra, noi ne vom baza pe acea adresa de e-mail si vom presupune ca dumneavoastra personal accesati Site-ul.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Dumneavoastra aveti responsabilitatea exclusiva privind toate si orice accesari ale Site-ului sau utilizari ale Serviciului de catre persoane care utilizeaza ID-ul dumneavoastra de utilizator. Va rugam sa ne informati imediat daca luati la cunostinta ca ID-ul dumneavoastra de utilizator este utilizat fara autorizatia dumneavoastra.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Puteti retransmite posturile disponibile catre persoane care nu au conturi create pe Site numai prin intermediul instrumentelor disponibile pe Site, folosind contul dumneavoastra, si numai catre persoane fizice care au o relatie preexistenta cu dumneavoastra, cu scopul de a informa persoanele respective referitor la Posturi disponibile care le-ar putea interesa.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Este interzisa retransmiterea de posturi disponibile catre agenti de recrutare profesionisti sau utilizarea acestor posturi disponibile in scopuri comerciale. Este interzisa retransmiterea de posturi disponibile catre orice liste de distributie in grup sau in masa sau care ar putea incalca, in alt mod, orice legislatie locala, nationala sau internationala, inclusiv legislatia aplicabila actelor de spam (comunicare electronica nesolicitata).</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Utilizarea contului dumneavoastra si a instrumentelor si functiilor la care aveti acces prin intermediul contului dumneavoastra poate face obiectul unor conditii suplimentare care va sunt prezentate in momentul inscrierii si care astfel devin parte integranta a prezentelor Conditii.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Sunteti de acord ca pe intreaga durata de activitate a contului dumneavoastra sa stocam datele pe care ni le-ati furnizat, inclusiv, dar fara a ne limita la: prenume, nume, adresa de e-mail, numar de telefon, competente profesionale si posturi detinute. </span></p>
            </li>
            <li>
                <p><span lang="ro-RO">De asemenea, prin depunerea candidaturii dumneavoastra pentru un post disponibil pe Site declarati ca sunteti de acord sa fiti contactat de catre agentii de recrutare ai Clientului Talentspotting pentru postul caruia v-ati depus candidatura si ca informatiile dumneavoastra sa fie utilizate si pe viitor de catre acel Client pentru a va contacta pentru alte oportunitati profesionale, in masura in care contul dumneavoasta este in continuare activ (nu ati sters contul si orice date asociate cu acesta din sectiunea Setari a contului dumneavoastra de pe Site). </span></p>
            </li>
        </ol>
    </li>
    <li>
        <p><span lang="ro-RO">Recomandator</span></p>
        <ol type="a">
            <li>
                <p><span lang="ro-RO">Daca va autentificati in calitate de Recomandator, puteti retransmite sau partaja catre alte persoane posturile disponibile care au fost publicate pe Site/Subdomenii (&bdquo;Posturi disponibile&rdquo;), utilizand exclusiv instrumentele existente pe Site.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Pentru a retransmite posturile disponibile este necesara utilizarea contului pe care il detineti pe Talentspotting si furnizarea unor informatii despre dumneavoastra (cum ar fi: prenume, nume, adresa de e-mail, numar de telefon, competente profesionale si posturi detinute), dupa care veti obtine accesul la aceste instrumente. </span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Prin utilizarea contului va dati acordul ca toate informatiile furnizate de Dumneavoastra sunt corecte, complete si de actualitate si veti fi raspunzator/raspunzatoare pentru orice activitati derulate prin folosirea contului dumneavoastra.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Aveti responsabilitatea de a proteja numele de utilizator si parola aferente contului dumneavoastra.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Nu veti permite accesarea sau utilizarea contului dumneavoastra de niciun tert sau sistem computerizat.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Sunteti de acord ca noi sa ne bazam pe adresa dumneavoastra de e-mail comunicata de Clientul Talentspotting unde lucrati (&bdquo;ID Utilizator&rdquo;) pentru a confirma daca utilizatorii care acceseaza Site-ul si utilizeaza Serviciile noastre sunt autorizati in acest sens.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Daca un utilizator acceseaza Site-ul folosind o adresa de e-mail care v-a fost acordata dumneavoastra, noi ne vom baza pe acea adresa de e-mail si vom presupune ca dumneavoastra personal accesati Site-ul.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Dumneavoastra aveti responsabilitatea exclusiva privind toate si orice accesari ale Site-ului sau utilizari ale Serviciului de catre persoane care utilizeaza ID-ul dumneavoastra de utilizator. Va rugam sa ne informati imediat daca luati la cunostinta ca ID-ul dumneavoastra de utilizator este utilizat fara autorizatia dumneavoastra.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Puteti retransmite posturile disponibile catre persoane care nu au conturi create la noi numai prin intermediul instrumentelor disponibile pe Site, folosind contul dumneavoastra, si numai catre persoane fizice care au o relatie preexistenta cu dumneavoastra, cu scopul de a informa persoanele respective referitor la Posturi disponibile care le-ar putea interesa.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Este interzisa retransmiterea de posturi disponibile catre agenti de recrutare profesionisti sau utilizarea acestor posturi disponibile in scopuri comerciale. Este interzisa retransmiterea de posturi disponibile catre orice liste de distributie in grup sau in masa sau care ar putea incalca, in alt mod, orice legislatie locala, nationala sau internationala, inclusiv legislatia aplicabila actelor de spam (comunicare electronica nesolicitata).</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Utilizarea contului dumneavoastra si a instrumentelor si functiilor la care aveti acces prin intermediul contului dumneavoastra poate face obiectul unor conditii suplimentare care va sunt prezentate in momentul inscrierii si care astfel devin parte integranta a prezentelor Conditii.</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Sunteti de acord ca pe intreaga durata de activitate a contului dumneavoastra sa stocam datele pe care le-ati furnizat, inclusiv, dar fara a ne limita la: prenume, nume, adresa de e-mail, numar de telefon, competente profesionale si posturi detinute. </span></p>
            </li>
            <li>
                <p><span lang="ro-RO">De asemenea, prin efectuarea unei recomandari declarati ca sunteti de acord sa fiti contactat de catre candidatii pe care i-ati recomandat in legatura cu informatii despre posturile disponibile, in masura in care contul dumneavoasta este in continuare activ (nu ati sters contul si orice date asociate cu acesta din sectiunea Setari a contului dumneavoastra de pe Site). </span></p>
            </li>
        </ol>
    </li>
    <li>
        <p><span lang="ro-RO">Administrator</span></p>
    </li>
</ol>
<p><span lang="ro-RO">Daca va autentificati in calitate de Administrator, utilizand exclusiv instrumentele existente pe Site: </span></p>
<ol>
    <ol type="a">
        <ol type="i">
            <li>
                <p><span lang="ro-RO">Puteti crea, sterge, activa si dezactiva pe Site posturile disponibile in cadrul Companiei pe care o reprezentati si premiile disponibile pentru recomandarile cu succes facute de Recomandatori pentru fiecare din posturi</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Puteti crea, sterge, activa si dezactiva campanii pentru atragerea de recomandari</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Puteti vizualiza si evalua candidatii recomandati de catre Recomandatori pentru posturile gestionate de dumneavoastra</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Puteti vizualiza si aproba sau declina acordarea premiilor disponibile pentru recomandarile cu succes facute de Recomandatori pentru fiecare dintre posturi</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Puteti modifica setarile contului Companiei pe care o reprezentati (de exemplu, durata pentru care o recomandare este activa, termenul de acordare a premiului, tipul de utilizator care poate aplica si/sau efectua recomandari)</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Puteti crea, sterge, activa si dezactiva sau modifica mesajele automate primite de catre Administratori, Recomandatori si Candidati la efectuarea anumitor actiuni care trebuie sa fie urmate de trimiterea unui astfel de mesaj (de exemplu, activarea unui cont, aplicarea la un post diponibil, angajarea pentru un post disponibil, activarea unei campanii)</span></p>
            </li>
            <li>
                <p><span lang="ro-RO">Daca v-a fost activata aceasta functionalitate, puteti retransmite sau partaja catre alte persoane posturile disponibile care au fost publicate pe Site/Subdomenii (&bdquo;Posturi disponibile&rdquo;) catre persoane care nu au conturi create la noi numai prin intermediul instrumentelor disponibile pe Site, folosind contul dumneavoastra, si numai catre persoane fizice care au o relatie preexistenta cu dumneavoastra, cu scopul de a informa persoanele respective referitor la Posturi disponibile care le-ar putea interesa. </span></p>
            </li>
        </ol>
        <li>
            <p><span lang="ro-RO">Este interzisa retransmiterea de posturi disponibile catre agenti de recrutare profesionisti sau utilizarea acestor posturi disponibile in scopuri comerciale. Este interzisa retransmiterea de posturi disponibile catre orice liste de distributie in grup sau in masa sau care ar putea incalca, in alt mod, orice legislatie locala, nationala sau internationala, inclusiv legislatia aplicabila actelor de spam (comunicare electronica nesolicitata).</span></p>
        </li>
        <li>
            <p><span lang="ro-RO">Prin utilizarea contului va dati acordul ca toate informatiile furnizate de Dumneavoastra sunt corecte, complete si de actualitate si veti fi raspunzator/raspunzatoare pentru orice activitati derulate prin folosirea contului dumneavoastra.</span></p>
        </li>
        <li>
            <p><span lang="ro-RO">Aveti responsabilitatea de a proteja numele de utilizator si parola aferente contului dumneavoastra.</span></p>
        </li>
        <li>
            <p><span lang="ro-RO">Nu veti permite accesarea sau utilizarea contului dumneavoastra de niciun tert sau sistem computerizat.</span></p>
        </li>
        <li>
            <p><span lang="ro-RO">Sunteti de acord ca noi sa ne bazam pe adresa dumneavoastra de e-mail comunicata de Clientul Talentspotting unde lucrati (&bdquo;ID Utilizator&rdquo;) pentru a confirma daca utilizatorii care acceseaza Site-ul si utilizeaza Serviciile noastre sunt autorizati in acest sens.</span></p>
        </li>
        <li>
            <p><span lang="ro-RO">Daca un utilizator acceseaza Site-ul folosind o adresa de e-mail care v-a fost acordata dumneavoastra, noi ne vom baza pe acea adresa de e-mail si vom presupune ca dumneavoastra personal accesati Site-ul.</span></p>
        </li>
        <li>
            <p><span lang="ro-RO">Dumneavoastra aveti responsabilitatea exclusiva privind toate si orice accesari ale Site-ului sau utilizari ale Serviciului de catre persoane care utilizeaza ID-ul dumneavoastra de utilizator. Va rugam sa ne informati imediat daca luati la cunostinta ca ID-ul dumneavoastra de utilizator este utilizat fara autorizatia dumneavoastra.</span></p>
        </li>
        <li>
            <p><span lang="ro-RO">Utilizarea contului dumneavoastra si a instrumentelor si functiilor la care aveti acces prin intermediul contului dumneavoastra poate face obiectul unor conditii suplimentare care va sunt prezentate in momentul inscrierii si care astfel devin parte integranta a prezentelor Conditii.</span></p>
        </li>
        <li>
            <p><span lang="ro-RO">Sunteti de acord ca pe intreaga durata de activitate a contului dumneavoastra sa stocam datele pe care le-ati furnizat, inclusiv, dar fara a ne limita la: prenume, nume, adresa de e-mail, numar de telefon, competente profesionale si posturi detinute. </span></p>
        </li>
        <li>
            <p><span lang="ro-RO">De asemenea, prin autentificarea in contul dumneavoastra declarati ca sunteti de acord sa primiti mesaje in legatura cu performanta si functionalitatile Site-ului, inclusiv numarul de aplicanti pentru posturile disponibile pe care le gestionati, premiile pe care trebuie sa le acordati, modalitati de imbunatatire a performantei recomandarilor efectuate de catre Recomandatorii dumneavoastra, in masura in care contul dumneavoasta este in continuare activ (nu ati sters contul si orice date asociate cu acesta din sectiunea Setari a contului dumneavoastra de pe Site). </span></p>
        </li>
    </ol>
</ol>
<p>&nbsp;</p>
<p><span lang="ro-RO">Sunteti de acord cu faptul ca putem aduce modificari serviciilor oferite pe Site, in orice moment, fara a va informa, si sunteti, de asemenea, de acord cu faptul ca putem revizui prezentele Conditii, in orice moment, fara a va informa, publicand ulterior Conditiile actualizate pe Site. Sunteti de acord ca, prin continuarea utilizarii Site-ului ulterior publicarii modificarilor respective, va exprimati acceptul referitor la respectivele Conditiile revizuite. Din acest motiv, ar trebui sa verificati periodic Conditiile pentru a vedea daca au fost actualizate si modificate.</span></p>
<p>&nbsp;</p>
<h1 class="western"><span lang="ro-RO">Politica de confidentialitate </span></h1>
<p><span lang="ro-RO">Informatiile dumneavoastra cu caracter personal sunt utilizate numai pentru intretinerea si imbunatatirea Site-ului. Prin utilizarea Site-ului, va exprimati acceptul privind colectarea si utilizarea de informatii in conformitate cu prezenta politica.</span></p>
<p><span lang="ro-RO">&nbsp;</span></p>
<h2 class="western"><span lang="ro-RO">Colectarea si utilizarea informatiilor </span></h2>
<ol>
    <li>
        <p><span lang="ro-RO">Este posibil ca, in momentul utilizarii Site-ului nostru, sa va solicitam sa ne furnizati anumite informatii de identificare personala care sa poata fi intrebuintate pentru a va contacta sau identifica. Informatiile de identificare personala pot include, dar nu sunt limitate la: numele dumneavoastra, adresa de e-mail, numarul de telefon sau scrisori de acreditare profesionala (&bdquo;Informatii cu caracter personal&rdquo;).</span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Asemenea multor operatori de site-uri, colectam informatiile transmise de programul dumneavoastra de cautare in internet (&bdquo;browser&rdquo;) de fiecare data cand vizitati Site-ul nostru (&bdquo;Date de jurnal&rdquo;).</span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Aceste Date de jurnal pot include informatii cum ar fi: adresa de protocol pentru internet (&bdquo;IP&rdquo;) a calculatorului dumneavoastra, tipul de browser, versiunea de browser, paginile Site-ului nostru pe care le vizitati, data si ora vizitei dumneavoastra, timpul petrecut vizualizand paginile respective si alte date statistice.</span></p>
    </li>
    <li>
        <p><span lang="ro-RO">De asemenea, este posibil sa utilizam analize matematice (&bdquo;analytics&rdquo;) sau servicii terte de comunicare si urmarire din site-uri web sau aplicatii, cum ar fi: Google Analytics, Mailchimp si Mandrill.</span></p>
    </li>
</ol>
<p lang="ro-RO">&nbsp;</p>
<h2 class="western"><span lang="ro-RO">Comunicarile </span></h2>
<p lang="ro-RO">&nbsp;</p>
<p><span lang="ro-RO">Este posibil sa utilizam Informatiile dumneavoastra cu caracter personal pentru a va contacta in vederea transmiterii de buletine informative, materiale promotionale sau de marketing si alte informatii care v-ar putea interesa. Prin bifarea acestui document va oferiti consimtamantul sa primiti de la noi comunicari electronice si de orice alta natura. </span></p>
<p lang="ro-RO">&nbsp;</p>
<h2 class="western"><span lang="ro-RO">Cookie-urile</span></h2>
<p lang="ro-RO">&nbsp;</p>
<ol>
    <li>
        <p><span lang="ro-RO">Cookie-urile sunt fisiere cu o cantitate mica de date, care pot include un identificator unic anonim. Fisierele cookie sunt transmise catre browser-ul dumneavoastra de pe un site web si stocate pe unitatea hard a calculatorului dumneavoastra.</span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Asemenea multor site-uri, utilizam fisiere &bdquo;cookie&rdquo; pentru a colecta informatii. Puteti seta browser-ul dumneavoastra sa refuze toate fisierele cookie sau sa va informeze atunci cand un fisier cookie este transmis. </span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Pe de alta parte, daca nu acceptati fisiere cookie, este posibil sa nu puteti utiliza unele parti ale Site-ului nostru.</span></p>
    </li>
</ol>
<p lang="ro-RO">&nbsp;</p>
<h2 class="western"><span lang="ro-RO">Securitatea</span></h2>
<p><span lang="ro-RO">Vom utiliza masuri tehnice si organizationale de securitate standard in industrie cu privire la stocarea, prelucrarea si transferul Continutului dumneavoastra, concepute sa protejeze integritatea Continutului respectiv si sa il apere impotriva accesarii, utilizarii sau prelucrarii neautorizate sau ilicite a Continutului respectiv.</span></p>
<p lang="ro-RO">&nbsp;</p>
<h2 class="western"><span lang="ro-RO">Legaturile terte </span></h2>
<p lang="ro-RO">&nbsp;</p>
<ol>
    <li>
        <p><span lang="ro-RO">Site-ul poate contine legaturi catre terti, cum ar fi: site-uri web, site-uri de reclame, servicii, oferte speciale sau alte evenimente sau activitati care nu sunt detinute sau controlate de noi. Noi nu oferim garantii si nu ne asumam nicio responsabilitate cu privire la niciun fel de site-uri, informatii, materiale, produse sau servicii terte. </span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Daca accesati site-uri web terte de pe Site, actionati pe propriul risc si intelegeti ca prezentele Conditii si Politica noastra de confidentialitate nu se aplica utilizarii de catre dumneavoastra a site-urilor respective.</span></p>
    </li>
</ol>
<p>&nbsp;</p>
<h1 class="western"><span lang="ro-RO">Proprietatea intelectuala si restrictiile </span></h1>
<ol>
    <li>
        <p><span lang="ro-RO">Toate elementele de continut (cum ar fi: texte, elemente grafice, sigle, pictograme de tip buton, imagini, materiale audio, materiale digitale descarcate si compilatii de date) si toate programele software si tehnologiile utilizate, oferite sau implementate pe sau prin intermediul Site-ului sunt proprietatea Brainspotting sau a licentiatorilor sai si sunt protejate de legislatia romana si internationala privind drepturile de autor si de alte legi. </span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Aveti permisiunea de a utiliza aceste materiale numai in legatura cu accesarea de catre dumneavoastra a Site-ului. </span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Nu aveti permisiunea ca, in mod direct sau indirect: sa rescrieti programele sursa, sa decompilati, sa dezasamblati sau sa incercati in alt mod sa descoperiti codul sursa, codul obiect sau structura de baza, ideile, know-how-ul Brainspotting sau algoritmii relevanti pentru Site sau pentru orice software incorporat sau utilizat de Brainspotting in Site, inclusiv documentatie sau date referitoare la Site; sa modificati, sa traduceti sau sa creati lucrari derivate pe baza Serviciilor sau a oricarui Site (cu exceptia si in masura permisa in mod expres de Societate sau autorizata in cadrul Serviciilor), in Romania sau in alta regiune; sa utilizati Serviciile sau Site-ul in scopul folosirii aceluiasi cont de catre mai multi utilizatori (timesharing) sau in alte feluri, in beneficiul unui tert, in scopuri de revanzare sau in orice alt mod; sau sa inlaturati orice mentiuni sau etichete referitoare la drepturile de proprietate intelectuala. </span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Brainspotting acorda prin prezentul o licență neexclusivă, netransferabilă și ne-sublicențiabilă, pentru a utiliza Site-ul, numai &icirc;n legătură cu Serviciile.</span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Cu exceptia cazului in care, prin prezentele Conditii, sunteti autorizat(a) in mod expres in acest sens, nu aveti permisiunea sa vindeti, sa inchiriati, sa arendati, sa oferiti, sa acordati sub-licente, sa distribuiti, sa cesionati, sa copiati, sa reproduceti, sa afisati, sa modificati sau sa utilizati in comun pe acelasi calculator nicio parte a Site-ului sau a instrumentelor, functiilor sau serviciilor oferite prin intermediul Site-ului sau in scopuri comerciale, in niciun fel. Nu aveti permisiunea de a derula niciun fel de testare sau verificare a performantelor Site-ului sau de a furniza informatii de pe Site (inclusiv, fara limitare la, Posturi disponibile) niciunui tert, cu exceptia cazului in care acest lucru este permis prin prezentele Conditii.</span></p>
    </li>
</ol>
<h1 class="western"><span lang="ro-RO">Posturi disponibile si recomandari </span></h1>
<ol>
    <li>
        <p><span lang="ro-RO">Posturile disponibile pot fi publicate, vizualizate, retransmise si se poate candida la ocuparea acestora pe Site, in functie de tipul dumneavoastra de cont - Administrator, Persoana care recomanda (Recomandator), Candidat. Daca retransmiteti un Post disponibil utilizand instrumentele de pe Site sau daca ne furnizati informatii referitoare la un Candidat, cum ar fi: nume, adresa de e-mail, numar de telefon, profiluri de pe platformele sociale, CV-uri, acestea constituie o recomandare valabila. (&bdquo;Recomandare&rdquo;), in masura in care Candidatul si-a oferit consimtamantul in mod expres creandu-si un cont pe site si aplicand pentru Postul disponibil recomandat de dumneavoastra.</span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Daca (i) pentru un Post disponibil s-a stabilit o recompensa pentru recomandarea cu succes si (ii) dumneavoastra ati numit un Candidat pentru un Post disponibil via Recomandare (fie direct, fie printr-o persoana abilitata sa ofere recomandari numita, prima data, de dumneavoastra, si (iii) angajatorul respectiv nu luase anterior cunostinta de Candidatul respectiv, si (iv) Candidatul respectiv a fost angajat legal de angajator, veti avea dreptul la Recompensa aplicabila pentru recomandare, care face obiectul restrictiilor prevazute in Politicile interne privind recomandarea si in prezentele Conditii de utilizare.</span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Recompensa pentru recomandarea dumneavoastra va fi achitata in perioada de timp specificata de fiecare angajator. Daca aveti dreptul la o Recompensa pentru recomandare, este posibil sa trebuiasca sa furnizati anumite informatii cu caracter financiar si personal, inclusiv, dar fara limitare la adresa dumneavoastra de e-mail, actul personal de identitate sau pasaportul, adresa de corespondenta, documente fiscale si, daca alegeti sa incasati plata prin transfer bancar, informatiile detaliate privind contul dumneavoastra bancar.</span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Responsabilitatea de a furniza intotdeauna informatii exacte, complete si actualizate va revine in mod exclusiv. Nu ne asumam nicio responsabilitate pentru erorile facute de dumneavoastra in furnizarea acestor informatii. Suma sau natura Recompensei pentru recomandarea dumneavoastra, daca este cazul, va varia in functie de fiecare angajator in parte si poate fi vizualizata in Contul dumneavoastra, in sectiunea Posturi.</span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Daca aveti dreptul la Recompensa pentru recomandare, va exprimati acordul cu privire la faptul ca sunteti responsabil, intotdeauna, de raportarea venitului respectiv si de achitarea tuturor taxelor si impozitelor al caror obiect il faceti in temeiul oricaror legislatii sau reglementari aplicabile. Cu toate acestea, va rugam sa luati nota de faptul ca ne rezervam dreptul de a retine la sursa orice sume pentru orice Onorarii de recomandare la care puteti avea dreptul, la discretia noastra exclusiva. </span></p>
    </li>
</ol>
<h1 class="western"><span lang="ro-RO">Declaratie de limitare a garantiei </span></h1>
<ol>
    <li>
        <p><span lang="ro-RO">Brainspotting va depune toate eforturile rezonabile conforme cu standardele actuale din industrie pentru a mentine Serviciile in asa fel incat sa reduca la minimum erorile si intreruperile in furnizarea Serviciilor si si va executa Serviciile de implementare in mod profesionist si eficient. </span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Este posibil ca Serviciile sa fie temporar indisponibile de-a lungul perioadei de intretinere programata sau de intretinere de urgenta neprogramata, executate fie de Societate, fie de furnizori terti, fie ca urmare a altor cauze care nu pot fi controlate, in mod rezonabil, de Societate, insa Societatea va depune toate eforturile rezonabile pentru a transmite informari scrise prealabile sau prin e-mail referitoare la orice intreruperi de serviciu programate. Cu toate acestea, Brainspotting nu garanteaza ca serviciile vor fi neintrerupte sau lipsite de erori; nici nu ofera garantii cu privire la rezultatele care pot fi obtinute ca urmare a utilizarii serviciilor.</span></p>
    </li>
    <li>
        <p><span lang="ro-RO">Continutul si alte materiale de pe site sunt furnizate &bdquo;ca atare&rdquo;, fara niciun fel de garantii, nici exprese, nici implicite, si nicio astfel de garantie nu este recunoscuta, inclusiv, dar fara limitare la, garantiile privind caracterul vandabil si adecvat pentru anumite scopuri, acuratetea, neincalcarea reglementarilor sau lipsa erorilor. se vor aplica numai acele garantii oferite in temeiul unor acorduri separate privind achizitionarea unor produse sau servicii specifice.</span></p>
    </li>
</ol>
<p lang="ro-RO">&nbsp;</p>
<h1 class="western"><span lang="ro-RO">Limitarea raspunderii </span></h1>
<ol>
    <li>
        <p><span lang="ro-RO">Sub rezerva oricaror prevederi contrarii, cu exceptia vatamarii corporale a unei persoane, societatea si furnizorii sai (inclusiv, dar fara limitare la toti furnizorii de echipamente si tehnologie), cadrele de conducere, afiliatii, reprezentantii, contractorii si angajatii sai nu vor fi responsabili sau raspunzatori cu privire la niciun aspect prevazut in prezentul acord sau in termenii si conditiile care au legatura cu prezenta in temeiul niciunui fel de contract, neglijenta, raspundere stricta sau alta teorie: (a)&nbsp;pentru erori sau intreruperi ale utilizarii sau pentru pierderea, lipsa de acuratete sau coruperea de date, sau pentru costul achizitionarii de bunuri de inlocuire, servicii sau tehnologie, sau pentru pierderea de afaceri; (b)&nbsp;pentru niciun fel de daune indirecte, punitive, accesorii, speciale sau tangentiale; (c)&nbsp;pentru niciun aspect care se afla in afara controlului rezonabil al societatii; sau (d) pentru niciun fel de sume care, alaturi de sumele asociate tuturor celorlalte revendicari, depasesc valoarea onorariilor achitate de client catre societate pentru serviciile care au facut obiectul prezentului acord in perioada de 12 luni anterioara actului care a dat nastere raspunderii, in fiecare caz, indiferent daca societatea a fost informata sau nu cu privire la posibilitatea existentei unor astfel de daune. </span></p>
    </li>
</ol>
<p lang="ro-RO">&nbsp;</p>
<h1 class="western"><span lang="ro-RO">Ideile de produs</span></h1>
<ol>
    <li>
        <p><span lang="ro-RO">Daca transmiteti comentarii sau idei privind ofertele curente sau viitoare, inclusiv, dar fara limitare la potentiale imbunatatiri ale produselor sau serviciilor noastre, intelegeti ca orice astfel de transmiteri de informatii sunt nesolicitate si putem sa le utilizam fara restrictii, iar dumneavoastra nu veti avea dreptul la niciun fel de compensatii.</span></p>
    </li>
</ol>
<h1 class="western"><span lang="ro-RO">Dispozitii finale </span></h1>
<ol>
    <li>
        <p><span lang="ro-RO">In eventualitatea in care orice dispozitii din prezentele conditii vor fi considerate nelegale, nule sau inaplicabile, indiferent de motiv, atunci dispozitiile respective vor fi considerate a avea caracter independent si nu vor aduce atingere valabilitatii si aplicabilitatii celorlalte dispozitii. Prezentele conditii constituie intregul acord dintre dumneavoastra si Talentspotting cu privire la accesarea si utilizarea Site-ului de catre dumneavoastra si anuleaza si inlocuieste toate comunicarile sau conditiile anterioare existente intre noi, indiferent daca acestea au fost transmise electronic, verbal sau in scris. Neaplicarea de catre noi a prezentelor conditii nu va fi interpretata a reprezenta o renuntare la drepturi. Prezentele conditii si utilizarea de catre dumneavoastra a Site-ului vor fi guvernate de legislatia romana.</span></p>
    </li>
</ol>'