/* Global */

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
	outline-color: none;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

body {
	background: #eaeaea;
}

h1 {
	font-size: 30px;
}

header {
	/* background: #1cbdbd; */
	background: #fff;
	min-height: 45px;
}

footer {
	background: #53bdb1;
	padding: 20px 0px;
}

hr {
	width: 100%;
}

p {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #ef755a;
}

a:hover {
	color: #75c0b3;
}

a:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

select {
	padding: 7px 10px;
	border-radius: 5px;
	margin-right: 5px;
}

textarea {
	resize: none;
}

.btn-warning {
	background: #f59221;
}

.white-space-title {
	font-family: 'Helvetica', sans-serif;
	font-size: 19px;
	color: #333;
	font-weight: 600;
	margin-bottom: 20px;
	display: block;
	float: left;
}

.color-turcoaz {
	color: #75c0b3;
}

.clear {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

.hiden {
	display: none;
}

.no-padding {
	padding: 0px !important;
}

.white {
	background: #fff;
}

/* Loader */
#gif-loader {
	background: url('../images/loading.gif') #fff no-repeat;
	background-position:center center;

	position:fixed;
	top:0;
	left:0;
	z-index:9998;
	width:100%;
	height:100%;
}

/* Header */

.header-cont, #navbar, .logo {
	padding-left: 0px;
}

.navbar-brand img, .logo img {
	max-height: 55px;
	padding: 10px;
	padding-left: 0px;
}

.container-quick-acces {
	border-left: 1px solid #fff;
}

#header-quick-acces, #header-quick-links {
	padding: 0;
	margin: 0;
}

#header-quick-acces {
	float: right;
}

#header-quick-acces li, #header-quick-links li {
	display: inline-block;
}

#header-quick-links {
	overflow: hidden;
}

#header-quick-links li {
	float: right;
}

.custom-dropdown-container {
	text-transform: capitalize;
}

.custom-drop-down {
	display: none;
}

.info-bullets .level-1 p{
	color:rgb(54, 193, 200);
	font-family:'Open Sans', sans-serif;
	font-size:50px;
	text-align:right;
	font-weight:bold;
	
}

.info-bullets .level-2 p{
	color:#333;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
	text-align:left;
	
}

.info-bullets .level-2 p,
.info-bullets .level-1 p{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


.info-bullets .level-2,
.info-bullets .level-1 {
	min-height:80px;
}

/* Language */
ul#header-quick-acces > li.language > a {
	padding: 4px 12px;
	line-height: 20px;
	background-color: #fff;
	color: #333;
	font-size: 11px;
	border-radius: 10px;
	margin-top: 10px;
}
ul#header-quick-acces > li.language > a img {
	border-radius: 0;
	-webkit-border-radius: 0;
	width: 18px;
}
ul#header-quick-acces > li.language ul.dropdown-menu li img {
	border-radius: 0;
	-webkit-border-radius: 0;
	width: 18px;
}

ul#header-quick-acces .language {
	margin-top: 4px;
}
ul#header-quick-acces .language .dropdown-menu {
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1) !important;
	margin-top: 8px;
	margin-left: 5px;
}
ul#header-quick-acces .language .dropdown-menu li a {
	/*border-bottom:1px solid #eee;*/
	padding: 10px;
}
ul#header-quick-acces .language .dropdown-menu li:last-child a {
	border-bottom: none;
}
ul#header-quick-acces .language .dropdown-menu li a {
	font-size: 13px;
	padding: 10px;
	color: #333;
}
ul#header-quick-acces .language .dropdown-menu li a:hover {
	background: #F1F2F7;
	color: #32323a;
}
ul#header-quick-acces .language-menu {
	margin-top: 15px !important;
	padding: 0;
}

ul#header-quick-acces .language .dropdown-menu {
	max-width: 130px;
	min-width: 100px;
}

.notifications {
	padding-top: 15px;
	padding-bottom: 15px;
}
.notifications {
	background: url('../images/notification-icon.png') center center no-repeat;
	background-size: contain;
	width: 24px;
	height: 29px;
	display: block;
}

.notifications ul:before {
	content: ' ';
}

#header-quick-acces li.notification-small-nr {
	font-size: 12px;
	color: #333;
	padding: 3px 10px;
	background-color: #fff;
	width: 100%;
}

.country-select {
	max-width: 100px;
}

.country-select .country-list, .country-select .country-list li, .flag-dropdown, .country-select .selected-flag, .country-select.inside input[type="text"], .country-select.inside input[type="tel"] {
	width: 100%;
	max-width: 100px;
}

.country_selector {
	border-radius: 20px;
	border: none;
	outline: none;
}

#header-quick-acces .country-list .divider, #header-quick-acces .country-list .preferred {
	display: none;
}

#header-quick-acces li a, #header-quick-links li a {
	font-family: 'Roboto', arial;
	font-weight: 300;
	color: #4e4d4d;
	font-size: 17px;
	margin: 0px 7px;
	padding-bottom: 16px;
	padding-top: 15px;
	display: block;
}

#header-quick-acces li {
	float: left;
}

#header-quick-acces li.notifications {
	margin-top: 12px;
	position: relative;
	cursor: pointer;
	margin: 0px 10px;
	margin-top: 13px;
}

#header-quick-acces li.notifications ul li a {
	color: #333;
	font-size: 15px;
}

#header-quick-acces li.notifications > span {
	position: absolute;
	top: 0;
	right: -4;
	background: red;
	color: #fff;
	font-size: 10px;
	font-family: arial;
	padding: 1px 3px;
}

.header-language-selector {
	margin-top: 18px;
	margin-left: 10px;
}

.notifications ul {
	position: absolute;
	background: rgba(255,255,255,0.9);
	top: 55px;
	width: 200px;
	display: none;
	padding: 0px;
	z-index: 50;
	border-top: 10px solid #fff;
	border-bottom: 10px solid #fff;
	border-radius: 5px;
}

.notifications ul li {
	padding: 10px 0px;
	border-top: 1px solid #cacaca;
}

.notifications ul li:first-child {
	border: none;
}

#header-quick-acces .notifications ul li a {
	color: #333;
	font-size: 12px;
	font-family: "Roboto", arial;
	font-weight: 500;
	padding: 0px;
}

.notifications ul li a:hover {
	text-decoration: none;
}

.notifications ul li:hover {
	background: #fff;
}

.notifications ul::before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 13px 14px 13px;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	top: -24px;
	left: 5px;
}

#header-quick-acces .account-signed-in .avatar-small-20 {
	max-width: 20px;
}

#header-quick-acces .account-signed-in .user-name {
	font-size: 14px;
	text-transform: capitalize;
}

#header-quick-acces .account-signed-in .dropdown-menu li {
	width: 100%;
}

#header-quick-acces .account-signed-in .dropdown-menu li a {
	padding: 5px 12px;
	background: #fff;
	color: #333;
	text-decoration: none;
	font-family: "Open Sans";
	font-size: 13px;
	display: block;
	width: 100%;
	margin: 0px;
}

#header-quick-acces .account-signed-in .dropdown-menu li a:hover {
	color: #1cbdbd;
}

/* Bootstrap overwrite */

.img-thumbnail {
	border: none;
	padding: 5px;
}

.navbar-toggle {
	border-color: #fff;
}

.navbar-toggle .icon-bar {
	background: #1cbdbd;
}

.navbar-brand {
	padding-left: 20px;
	padding-top: 4px;
}

/* Footer */

footer h3 {
	color: #fff;
	font-family: Helvetica;
	font-weight: normal;
	padding-bottom: 20px;
}

footer ul {
	list-style-type: none;
	padding: 0px;
}

footer ul li a {
	color: #fff;
	font-family: Helvetica;
	font-size: 16px;
	display: block;
	margin-bottom: 7px;
	line-height: 27px;
}

/* End of Footer */

/* Homepage */

.white-band {
  background-color: #fff;
  padding: 40px;
  position: relative;
  margin-bottom: 40px;
}
 
.white-band:before {
	  z-index: 1;
  content: '';
  left: 50%;
  width: 60px;
  height: 60px;
  background: #fff;
  bottom: -24px;
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg);
}

.table-tags {
	display: none;
	margin-top: 20px;
}

.table-tags th {
	background: #fff
}

.table-tags .btn {
	margin-left: 5px;
	margin-top: 5px;
	font-size: 11px;
	border: none;
	padding: 0px;
}

.table-tags .btn span.closeMe {
	display: block;
	float: right;
	margin-left: 9px;
	font-weight: bold;
	padding: 6px 5px;
	background-color: rgb(132, 211, 234);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.table-tags .btn span.info {
	padding: 6px 7px;
	display: block;
	float: left;
	font-size: 10px;
}

.hp-top-search {
	background: url('../images/homepage-print-2.jpg') center top no-repeat;
	background-size: 100%;
	padding: 250px 0px;
}

.blue-center-search {
	background: rgba(28,189,189,0.7);
	padding: 40px 80px;
	max-width: 955px;
}

.blue-center-search h1 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 40px;
}

#hp-tabs-search .tab-content {
	width: 100%;
	overflow: hidden;
}

#hp-tabs-search ul {
	margin-bottom: -1px;
}

#hp-tabs-search ul, #hp-tabs-search {
	border-bottom: none;
}

.nav-tabs > li > a {
	text-transform: uppercase;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, #hp-tabs-search .tab-content {
	/* background: rgba(255,255,255,0.7); */
	border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a {
	background: rgba(255,255,255,0.7);
}

#hp-tabs-search .tab-content > .active {
	display: block;
	width: 100%;
}

.nav-tabs, .nav-tabs > li, .nav-tabs > a {
	border: none;
}

.blue-center-search .tab-content form {
	max-width: 100%;
	margin: 0 auto;
	/* margin-top: 25px;
	 margin-bottom: 25px; */
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-top: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 0px;
}

.blue-center-search .tab-content form input, .blue-center-search .tab-content form select {
	float: left;
}

.blue-center-search .tab-content form input[type="search"] {
	width: 70%;
	border-right: 1px solid #cacaca;
	padding: 10px 10px;
}

.blue-center-search .tab-content form input[type="search"]:focus {
	box-shadow: none;
}

.blue-center-search .tab-content form input[type='submit'] {
	background-image: url('../images/icon-search.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255,255,255,0.7);
	border-top-left-radius: 0px;
	border-bottom-left-radius: 5px;
	border: none;
	outline: none;
	width: 45px;
	height: 40px;
	padding: 10px 0px;
}

.blue-center-search .tab-content form input {
	background-color: rgba(255,255,255,0.7);
	border: none;
	outline: none;
	min-height: 30px;
}

.blue-center-search .tab-content .select2-container--default .select2-selection--single {
	width: 130px;
	background: rgba(255,255,255,0.7);
	border: none;
	outline: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	min-height: 40px;
	text-align: center;
}

.blue-center-search .tab-content .select2-container--default .select2-selection--single .select2-selection__arrow {
	right: 10px;
}

.blue-center-search .tab-content .select2-container {
	max-width: 75% !important;
}

.location-blue-search {
	width: 130px;
}

.hp-offer-content {
	overflow: hidden;
}

.hp-body {
	background: #eaeaea;
}

.hp-filter-area .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 32px;
}

.hp-filter-area .select2-container .select2-selection--single .select2-selection__rendered {
	padding-top: 5px;
	line-height: 25px;
}
.hp-filter-area .select2-container .select2-selection--single {
	height: 34px;
}

.hp-filter-btn {
	background: #ef755a;
	color: #fff;
	font-family: Helvetica;
	font-weight: bold;
	text-transform: uppercase;
}

.hp-filter-btn:hover {
	background: #fff;
	color: #ef755a;
	height: 34px;
	border: 2px solid #ef755a;
}

.hp-body-job-offers .hp-body-single-offer {
	background: transparent;
}

.hp-body-job-offers .hp-offer-inner {
	background: #fff;
	border-radius: 5px;
	margin-left: -15px;
	margin-top: 20px;
	border: 4px solid #fff;
}

.hp-body-job-offers .hp-offer-inner.highlight {
	border: 4px solid gold;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.hp-body-job-offers .hp-offer-inner.highlight h2 {
	background: gold;
	color: #fff;
}

.hp-body-job-offers .hp-offer-inner.highlight h3 {
	background: gold;
	color: #fff;
}

.hp-body-job-offers .hp-offer-inner h2 {
	font-size: 18px;
	font-family: helvetica;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 14px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.hp-body-job-offers .hp-offer-inner h3 {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-top: 5px;
	padding-bottom: 10px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.hp-body-job-offers .hp-offer-inner h4 {
	font-size: 14px;
	font-family: helvetica;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}

.hp-body-job-offers .hp-offer-inner p {
	font-size: 12px;
	font-family: Helvetica;
	font-weight: normal;
	color: #cacaca;
	padding-left: 10px;
	padding-right: 10px;
}

.hp-body-job-offers .hp-offer-inner img {
	width: auto;
	max-width: 100%;
	max-height: 70px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.hp-body-job-offers .hp-offer-inner ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.hp-body-job-offers .hp-offer-inner ul li {
	float: left;
	width: 30%;
}

.hp-body-job-offers .hp-offer-inner ul li:first-child {
	width: 40%;
}

.hp-body-job-offers .hp-offer-inner ul li.middle-btn {
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
}

.hp-body-job-offers .hp-offer-inner ul li a {
	display: block;
	width: 100%;
	color: #333;
	font-weight: bold;
	text-align: center;
}

.hp-body-job-offers .hp-offer-inner ul li a:hover {
	color: #75c0b3;
	text-decoration: none;
	font-weight: bold;
}

.hp-body-job-offers .hp-offer-inner ul li:first-child a {
	text-align: left;
}

.hp-sidebar-item {
	background: #75c0b3;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
}

.hp-sidebar-item a {
	color: #333;
	font-family: Helvetica;
}

.hp-sidebar-item h3 {
	margin-top: 0px;
	color: #333;
	font-size: 18px;
	font-family: helvetica;
	font-weight: bold;
}

.hp-sidebar-gamification-inner, .hp-sidebar-latest-test, .hp-sidebar-item-inner {
	background: #fff;
	overflow: hidden;
	margin-top: 10px;
	border-radius: 5px;
	padding: 10px;
}

.hp-siderbar-salary-inner {
	margin-top:0px;
	padding: 10px;
		background: #fff;
	overflow: hidden;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}



.hp-siderbar-salary-inner h3 {
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	  margin-bottom: 20px;
  line-height: 24px;
}

.hp-sidebar-news img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.hp-sidebar-title {
	color: #fff;
	font-family: Helvetica;
	font-size: 20px;
}

.hp-sidebar-latest-test-title {
	overflow: hidden;
	display: block;
	width: 100%;
	padding-bottom: 15px;
}

.hp-sidebar-latest-test-title h3 {
	margin-bottom: 0px;
	line-height: 36px;
	padding-left: 10px;
}

.hp-siderbar-salary a, .hp-sidebar-gamification-inner a, .hp-sidebar-latest-test a {
	background: #ef755a;
	color: #fff;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	font-weight: bold;
}

.hp-siderbar-salary a:hover, .hp-sidebar-gamification-inner a:hover, .hp-sidebar-latest-test a:hover {
	border: 2px solid #ef755a;
	background: #fff;
	color: #ef755a;
	font-weight: bold;
	max-height: 34px
}

.hp-siderbar-salary img {
	border-top-right-radius: 10px;
	border-top-left-radius:10px;
}

.hp-sidebar-gamification-inner img {
	margin: 0 auto;
	display: block;
	max-height: 85px;
	width: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.hp-sidebar-gamification-inner p {
	text-align: center;
}

.hp-load-more {
	margin: 0 auto;
	display: block;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 50px;
	min-width: 200px;
}

/* Job - Single page */

.client-single {
	padding-top: 50px;
}

.job-sidebar {
	overflow: hidden;
}

.job-sidebar .job-sidebar-box {
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	margin-top: 25px;
	overflow: hidden;
	margin-bottom: 25px;
}

.job-sidebar .job-sidebar-box:first-child {
	margin-top: 0px;
}

.job-sidebar .job-sidebar-box button {
	display: block;
	margin: 0 auto;
}

.job-sidebar .job-cta {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #333;
	width: 100%;
	display: block;
	padding-bottom: 15px;
}

.job-alert-box button {
	background: #ef755a;
	color: #fff;
	font-weight: bold;
}

.job-alert-box button:hover {
	height: 34px;
	color: #ef755a;
	border: 2px solid #ef755a;
	background: #fff;
}

.job-recommend-box button {
	background: #40d1f2;
	color: #fff;
	font-weight: bold;
}

.job-recommend-box button:hover {
	height: 34px;
	color: #40d1f2;
	border: 2px solid #40d1f2;
	background: #fff;
}

.client-single .job-company-criteria-box {
	margin-bottom: 0px;
	padding: 12px;
}

.job-company-criteria-box img {
	width: 10%;
}

.job-company-criteria {
	display: block;
	padding-top: 10px;
	color: #333;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.job-company-rating, .job-similar-box .job-title-box {
	font-family: Helvetica;
	font-size: 17px;
	text-align: left;
	font-weight: bold;
	padding-bottom: 20px;
	display: block;
}

.job-similar-box .job-single-similar {
	margin-bottom: 20px;
}

.job-similar-box .job-single-similar img {
	width: 70px;
	height: 70px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.job-similar-box .job-single-similar a {
	text-decoration: none;
}

.job-similar-box .job-single-similar a:hover .job-position-similar {
	text-decoration: underline;
}

.job-similar-box .job-single-similar span {
	display: block;
}

.job-similar-box .job-thumbnail-small {
	float: left;
}

.job-similar-box .job-position-similar {
	color: #0f60a8;
}

.job-similar-box .job-client-similar {
	color: #333;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.job-client-info .job-cover-photo {
	position: relative;
	height: 140px;
}

.job-client-info .job-cover-photo img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.job-client-info {
	background: #fff;
	padding: 0px;
	border-radius: 5px;
	overflow: hidden;
}

.job-client-info .job-client-profile-photo {
	position: relative;
}

.job-client-info .job-client-profile-photo img.img-thumbnail {
	position: absolute;
	top: -50px;
	width: 80%;
}

.job-client-info .client-star-rating {
	margin-top: 120px;
	max-width: 150px;
	margin-left: 12px;
	margin-bottom: 20px;
}

.job-client-info .client-star-rating img {
	max-width: 25px;
}

.job-client-profile-photo span {
	color: #cacaca;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	width: 100%;
	text-align: center;
	display: block;
	max-width: 100%;
	padding-bottom: 20px;
}

.job-client-info-name {
	padding-left: 0px;
	padding-top: 20px;
}

.job-client-info-name div {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	padding-bottom: 5px;
}

.job-client-info-name .job-client {
	font-weight: 600;
	font-size: 19px;
}

.job-client-info .list-group {
	margin-top: 25px;
}

.job-client-info .list-group .list-group-item {
	margin-bottom: 10px;
	border: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.job-client-info .list-group .list-group-item.orange {
	background: #ef755a;
}

.job-client-info .list-group .list-group-item.turcoaz {
	background: #53bdb1;
}

.job-client-info .list-group .list-group-item.gray {
	background: #eaeaea;
	color: #333;
}

.job-short-description p {
	background: #e2e2e2;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	margin-top: 27px;
	padding: 20px;
}

.job-skills, .job-requirements, .job-full-description {
	position: relative;
	background: #fff;
	margin: 15px 0px;
	border-radius: 5px;
	padding-bottom: 25px;
	overflow: hidden;
}

.job-full-description .apply-to-job {
	position: absolute;
	top: 25px;
	right: 25px;
	background: #53bdb1;
	padding: 7px 20px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	font-weight: bold;
}

.job-full-description .apply-to-job:hover {
	height: 36px;
	border: 2px solid #53bdb1;
	color: #53bdb1;
	background: #fff;
	font-weight: bold;
}

.client-single h1 {
	font-size: 24px;
	font-family: Helvetica;
	font-weight: bold;
}

.client-single h2 {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
	padding-bottom: 15px;
}

.client-single h3 {
	font-size: 18px;
}

.job-full-description .social-client-list {
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
}

.job-full-description .social-client-list li {
	display: inline-block;
}

.job-full-description .social-client-list li a {
	display: block;
	width: 40px;
	height: 40px;
}

.job-full-description .social-client-list li a.facebook-icon {
	background: url('../images/fb-icon.png') center center no-repeat;
	background-size: contain;
}

.job-full-description .social-client-list li a.linkedin-icon {
	background: url('../images/in-icon.png') center center no-repeat;
	background-size: contain;
}

.job-full-description .social-client-list li a.twitter-icon {
	background: url('../images/tw-icon.png') center center no-repeat;
	background-size: contain;
}

.job-full-description .social-client-list li a.gplus-icon {
	background: url('../images/g-icon.png') center center no-repeat;
	background-size: contain;
}

.job-full-description article {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.job-skills .skills ul {
	list-style-type: none;
	padding: 0px;
}

.job-skills .skills ul li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
}

.job-skills .skills div span {
	background: #5379a3;
	padding: 3px 5px;
	width: 100%;
	color: #fff;
	display: block;
	margin-bottom: 10px;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border-radius: 7px;
	cursor: pointer;
	text-align: center;
}

.job-skills .skills div span:hover {
	height: 24px;
	border: 1px solid #5379a3;
	color: #5379a3;
	background: #fff;
}

.job-personal-reviews {
	position: relative;
	background: #fff;
	margin: 15px 0px;
	border-radius: 5px;
	padding-bottom: 25px;
	overflow: hidden;
	margin-bottom: 25px;
}

.job-testimonial {
	width: 100%;
	display: block;
	margin-top: 15px;
	overflow: hidden;
}

.job-testimonial a {
	color: #53bdb1;
}

.job-testimonial-image {
	padding: 0px;
}

.job-testimonial-image img {
	width: 100%;
	display: block;
}

.personal-rating img {
	width: 10%;
}

.personal-rating {
	margin-bottom: 10px;
}

.job-testimonial h3 {
	margin-top: 0px;
}

.job-testimonial h3:before {
	content: "“";
}

.job-testimonial h3:after {
	content: "”";
}

.job-testimonial-content {
	border: 2px solid #53bdb1;
	border-radius: 25px;
	padding: 12px;
	min-height: 110px;
	margin-bottom: 30px;
}

/* Sign in 1 */

#sign_in_1_left {
	background: url('../images/sign-in-1-left.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	height: 46.1em;
}

#sign_in_1_right {
	background: url('../images/sign-in-1-right.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	height: 46.1em;
}

.sign_in_1 .outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.sign_in_1 .middle {
	display: table-cell;
	vertical-align: middle;
}

.sign_in_1 .inner {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 80px;
	overflow: hidden;
}

.sign_in_1 .inner h1, .sign_in_1 .inner h2 {
	font-size: 50px;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	padding-bottom: 35px;
}

#sign_in_1_left .inner {
	text-align: left;
}

#sign_in_1_right .inner {
	text-align: right;
}

.sign_in_1 .inner a {
	padding: 7px 15px;
	background: transparent;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	text-decoration: none;
	border: 2px solid #fff;
}

.sign_in_1 .inner a:hover {
	height: 45px;
	background: #fff;
	color: #75c0b3;
}

/* Sign in & Sign Up */

.sign-in_2-lvl1 {
	background: url('../images/sign-in-2-lvl1.jpg') fixed no-repeat;
	background-size: cover;
	background-position: center center;
	padding-bottom: 50px;
}

.sign-in_2-lvl2 {
	background: url('../images/sign-in-2-lvl2-2.jpg') fixed no-repeat;
	background-size: cover;
	background-position: center center;
}

.sign-in_2-lvl3 {
	background: url('../images/sign-in-2-lvl3.jpg') fixed no-repeat;
	background-size: cover;
	background-position: center center;
}

.sign-in_2-lvl2 {
	padding: 20px 0px;
}

.sign-in_2-lvl2 p {
	text-align: center;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: lighter;
}

.sign-in_2-lvl2 ul {
	margin: 20px 0px;
}

.sign-in_2-lvl2 ul li, .sign-in_2-lvl2 ul {
	list-style-type: none;
}

.sign-in_2-lvl2 ul li img {
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}

.sign-in_2-lvl2 ul li span {
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-family: helvetica;
	display: block;
}

.sign-in_2-lvl3 .center-lvl3 {
	padding: 250px 0px;
	overflow: hidden;
}

.sign-in_2-lvl3 .center-lvl3 h1 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	margin-bottom: 25px;
	display: block;
	text-align: center;
	font-weight: lighter;
}

.sign-in_2-lvl3 .center-lvl3 a {
	color: #fff;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	background: transparent;
	border: 2px solid #fff;
	padding: 10px 15px;
	font-weight: lighter;
	display: block;
	margin: 0 auto;
	max-width: 200px;
	text-align: center;
	text-decoration: none;
}

.sign-in_2-lvl3 .center-lvl3 a:hover {
	height: 59px;
	background: #fff;
	color: #75c0b3;
}

.sign-in-opt-right, .sign-in-opt-left {
	font-size: 30px;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	padding: 10px 20px;
	font-weight: lighter;
}

.sign-up-label, .sign-in-label {
	font-size: 40px;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.sign-up-label, .sign-in-opt-right {
	text-align: right;
}

#sign_in form {
	max-width: 500px;
	margin: 0 auto;
	width: 70%;
	padding: 0px 20px;
	box-sizing: border-box;
}

.sign-up form input, #sign_in_linkedin, #sign_in form input {
	width: 100%;
	background: #fff;
	background-color: #fff;
	border: none;
	outline: none;
	text-align: left;
	padding: 5px 15px;
	font-size: 16px;
	color: #75c0b3;
	font-family: Helvetica;
	margin-bottom: 10px;
}

.sign-up form input[type='submit'], #sign_in form input[type='submit'] {
	margin-bottom: 0px;
	margin-top: 14px;
	text-align: center;
	font-weight: bold;
}

.sign-up form input[type='submit'] {
	margin-top: 31px;
}

.sign-up form input[type='submit']:hover, #sign_in form input[type='submit']:hover {
	background: #75c0b3;
	height: 32px;
	color: #fff;
	border: 1px solid #fff;
}

.sign-up-2-linkedin, #sign_in #sign_in_linkedin {
	width: 100%;
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	background: #fff;
	background: #75c0b3;
	color: #fff;
	border: 1px solid #fff;
}

.sign-up-2-linkedin:hover, #sign_in #sign_in_linkedin:hover {
	background: #75c0b3;
	color: #fff;
	text-decoration: none;
}

.sign-up-social ul, #sign_in form ul {
	list-style-type: none;
	max-width: 50%;
	margin: 25px auto;
	padding: 0px;
}

.sign-up-social ul li, #sign_in form ul li {
	display: inline-block;
	max-width: 31%;
}

.sign-up-social ul li a, #sign_in form ul li a {
	display: block;
}

.sign-up-social ul li a img, #sign_in form ul li a img {
	width: 90%;
	height: auto;
}

.sign-up-social span {
	display: block;
	color: #fff;
	font-family: Helvetica;
	font-size: 17px;
	text-align: center;
	padding-bottom: 20px;
}

/* Sign in Linkedin */

.sign-in-linkedin h3, .sign-in-linkedin h2 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	display: block;
	padding-bottom: 70px;
	padding-top: 50px;
}

.sign-in-mail h3, .sign-in-linkedin h3 {
	font-size: 22px;
	padding-top: 0px;
	font-weight: lighter;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.sign-in-linkedin .skill-tree {
	max-width: 650px;
	margin: 0 auto;
	display: block;
	padding: 10px 20px;
	overflow: hidden;
	text-decoration: none;
}

.sign-in-linkedin .skill-tree li {
	display: inline-block;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	text-align: center;
	padding: 5px 7px;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 7px 5px;
}

.continue-skills, .add-skills {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #fff;
	padding: 7px 10px;
	border: 1px solid #fff;
	text-align: center;
	border-radius: 5px;
	display: block;
	cursor: pointer;
	text-decoration: none;
}

.sign-in-linkedin .skill-tree li:hover, .continue-skills:hover, .add-skills:hover {
	background: #fff;
	color: #75c0b3;
	text-decoration: none;
}

.linkedin-btns {
	max-width: 530px;
	margin: 0 auto;
	display: block;
	padding: 10px 20px;
	overflow: hidden;
	text-decoration: none;
}

.sign-in-mail h2, .sign-in-mail h3 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	text-align: center;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	display: block;
	padding-bottom: 50px;
	padding-top: 50px;
}

.sign-in-mail h3 {
	padding-top: 0px;
	padding-bottom: 50px;
	font-size: 20px;
}

.example-skills {
	max-width: 500px;
	margin: 0 auto;
	width: 100%;
	display: block;
	overflow: hidden;
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.example-skills span {
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.example-skills span.example-skill {
	font-size: 14px;
	text-align: center;
	padding: 3px 5px;
	border: 1px solid #fff;
	border-radius: 5px;
	display: inline-block;
	margin-left: 5px;
	margin-top: 10px;
}

.sign-in-mail form {
	max-width: 500px;
	width: 95%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	position: relative;
	margin-bottom: 25px;
}

.sign-in-mail form input[type="text"] {
	width: 100%;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 30px;
	color: #fff;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sign-in-mail form input[type="text"]:focus {
	border-color: #fff;
}

.sign-in-mail form input[type="text"]::-webkit-input-placeholder {/* WebKit browsers */
	color: #fff;
}
.sign-in-mail form input[type="text"]:-moz-placeholder {/* Mozilla Firefox 4 to 18 */
	color: #fff;
	opacity: 1;
}
.sign-in-mail form input[type="text"]::-moz-placeholder {/* Mozilla Firefox 19+ */
	color: #fff;
	opacity: 1;
}
.sign-in-mail form input[type="text"]:-ms-input-placeholder {/* Internet Explorer 10+ */
	color: #f;
}

.sign-in-mail form input[type="submit"] {
	background: url('../images/plus-icon.png') center center #fff no-repeat;
	width: 35px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #fff;
	outline: none;
}

.sign-in-mail .personal-skills {
	max-width: 600px;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.sign-in-mail .personal-skills span {
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	display: block;
}

.sign-in-mail ul.skill-tree {
	max-width: 650px;
	margin: 0 auto;
	display: block;
	padding: 10px 20px;
	overflow: hidden;
	text-decoration: none;
	margin-bottom: 25px;
}

.sign-in-mail ul.skill-tree li {
	display: inline-block;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	text-align: center;
	padding: 5px 7px;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 7px 1px;
	position: relative;
	overflow: hidden;
}

.sign-in-mail a {
	display: block;
	max-width: 200px;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 7px 10px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 auto;
}

.sign-in-mail a:hover {
	text-decoration: none;
	background: #fff;
	color: #75c0b3;
}

.delete-skill {
	display: none;
}

.sign-in-mail ul.skill-tree li span.delete-skill {
	background: #fff;
	color: #75c0b3;
	font-size: 15px;
	text-align: center;
	position: absolute;
	top: 0;
	right: -50px;
	width: 25px;
	height: 100%;
	line-height: 30px;
	cursor: pointer;
	font-size: 30px;
	transition: right 0.4s ease-in-out;
	-o-transition: right 0.4s ease-in-out;
	-ms-transition: right 0.4s ease-in-out;
	-moz-transition: right 0.4s ease-in-out;
	-webkit-transition: right 0.4s ease-in-out;
}

.sign-in-mail ul.skill-tree li:hover .delete-skill {
	right: -2px;
}

/* Profile */

.work-entry {
	position:relative;
}

.work-entry .single-edit {
	position:absolute;
	top:0px;
	right:20px;
	margin:0px;
}

.work-entry .single-edit img {
	display:none;
	background:rgb(176, 176, 176);
	padding:3px;
	width:70%;
}

.work-entry.edit-job .single-edit img {
	display:block;
}

.profile .profile-avatar img {
	width: 100%;
}

.profile .profile-details-1 h1 {
	color: #333;
	font-family: Helvetica;
	font-size: 34px;
}

.profile .profile-details-1 h2 {
	color: #666;
	font-family: Helvetica;
	font-size: 19px;
}

.profile .profile-details-1 .user-type {
	font-size: 16px;
	color: #134985;
	font-family: Helvetica;
}

.profile .profile-details-1 button {
	display: block;
	margin-top: 10px;
	background: #1cbdbd;
	border: none;
	outline: none;
}

.profile .white {
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 20px 20px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.profile .edit {
	background: #75cac1;
	border: none;
	outline: none;
}

.profile .top-line {
	display: block;
	overflow: hidden;
	padding: 0px 15px;
}

.nav-tabs > li {
	margin-bottom: -2px;
}

.nav > li > a {
	color: #fff;
}

.nav-tabs > li > a:hover {
	max-height: 40px;
	background: rgba(255,255,255,0.7);
	color: #333;
}

.nav-tabs.nav-justified > li {
	background-color: #75cac1;
}

.nav-tabs.nav-justified > li.active {
	background-color: #ef755a;
}

.nav-tabs.nav-justified > li > a, .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
	color: #fff;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.jobs-timeline span {
	display: block;
}

.jobs-timeline .job-period {
	font-family: Helvetica;
	color: #7192b6;
	font-size: 16px;
}

.certify, .edu-place, .jobs-timeline .job-position {
	color: #3A3A3A;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 600;
}

.work-entry a {
	display: block;
	margin: 10px 0px;
}

.job-attr {
	display: none;
}

.jobs-timeline .job-attr ul {
	padding: 0px;
	margin: 20px 0px;
	list-style-type: none;
}

.skill-chart {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.skill-chart li {
	overflow: hidden;
	width: 100%;
}

.job-attr li strong {
	color: #717171;
}

.skill-chart > li span {
	background: #5379a3;
	padding: 3px 5px;
	width: 100%;
	max-width: 130px;
	margin-right: 10px;
	color: #fff;
	display: block;
	margin-bottom: 10px;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border-radius: 7px;
	cursor: pointer;
	text-align: center;
	float: left;
}

.skill-chart > li ul {
	padding: 0px;
	list-style-type: none;
}

.skill-chart > li ul li {
	display: inline-block;
	width: 16px;
	height: 19px;
	margin-top: 3px;
	background: red;
	float: left;
}

.skill-chart li.even ul li {
	background: #134985;
	margin-left: 2px;
	border-radius: 5px;
}

.skill-chart li.odd ul li {
	background: #53bdb1;
	margin-left: 2px;
	border-radius: 5px;
}

.skill-chart > li ul li:nth-child(1) {
	opacity: 0.3
}
.skill-chart > li ul li:nth-child(2) {
	opacity: 0.38
}
.skill-chart > li ul li:nth-child(3) {
	opacity: 0.4
}
.skill-chart > li ul li:nth-child(4) {
	opacity: 0.45
}
.skill-chart > li ul li:nth-child(5) {
	opacity: 0.5
}
.skill-chart > li ul li:nth-child(6) {
	opacity: 0.6
}
.skill-chart > li ul li:nth-child(7) {
	opacity: 0.7
}
.skill-chart > li ul li:nth-child(8) {
	opacity: 0.8
}
.skill-chart > li ul li:nth-child(9) {
	opacity: 0.9
}
.skill-chart > li ul li:nth-child(10) {
	opacity: 1
}

.all-my-skills {
	padding: 0px;
	list-style-type: none;
	width: 100%;
	overflow: hidden;
	display: block;
}

.all-my-skills li {
	display: inline-block;
	margin-top: 7px;
}

.small-circle {
	width: 7px;
	height: 7px;
	background: #1cbdbd;
	border-radius: 50%;
	margin-top: 6px;
	margin-left: -15px;
	float: left;
}

.profile .profile-points, .profile .profile-graph, .profile .profile-applications, .profile .profile-recommandations {
	height: auto;
	overflow: hidden;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.profile .number {
	padding-top: 15px;
	padding-bottom: 30px;
	font-family: 'Roboto', arial;
	font-weight: 500;
	font-size: 26px;
	display: block;
	color: #fff;
	padding-left: 15px;
}

.profile .indicator {
	padding-bottom: 15px;
	font-family: 'Roboto', arial;
	font-weight: 300;
	font-size: 1em;
	color: #fff;
	display: block;
	padding-left: 15px;
}

.profile .profile-points {
	background: #ef755a;
}

.profile .profile-applications, .profile .profile-recommandations {
	background: #53bdb1;
}

.profile .profile-graph {
	padding: 0px;
}

.profile .profile-graph img {
	max-height: 117px;
	height: 100%;
}

.profile .panel {
	background: transparent;
	box-shadow: none;
}

.profile .panel-body, .profile-main .container, .profile .panel-heading {
	padding: 0px;
}

.profile .panel-body .white {
	margin: 0px;
}

.profile .need-padding {
	padding-left: 0px;
}

.edu-profile {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #9D9D9D;
	display: block;
	margin-bottom: 6px;
}

.edu-level {
	font-family: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	display: block;
	margin-bottom: 6px;
}

.edu-time {
	color: #134985;
	font-size: 15px;
	font-weight: bold;
}

.profile-schoolar {
	padding: 15px;
}

#overview .cert, #overview .edu {
	margin-top: 25px;
	border-radius: 10px;
}

#job-history, #alerts, #contacts, #settings {
	background: #fff;
	padding: 20px;
}

#settings {
	overflow: hidden;
}

.profile-graph {
	position: relative;
}

#procent-complete {
	position: absolute;
	color: #fff;
	font-family: Helvetica;
	font-size: 15px;
	bottom: 5px;
	left: 50%;
	margin-left: -45px;
}

/* Company sign in */

.company-first {
	background: url('../images/sign-in-company-1.jpg') center center no-repeat;
	background-size: cover;
	padding: 200px 0px;
}

.company-first h2, .company-first h1 {
	font-size: 40px;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	padding-bottom: 35px;
}

.company-first form {
	max-width: 480px;
	width: 100%;
}

.company-first input[type="text"], .company-first input[type="password"] {
	width: 49%;
	margin-right: 1%;
	float: left;
}

#forgotPass {
	float: right;
	color: #fff;
	text-decoration: underline;
}

.company-signin-form {
	width: 100%;
	overflow: hidden;
	padding-top: 7px;
	color: #fff;
}

.company-signin-form input[type="checkbox"] {
	float: left;
}

.company-signin-form span {
	margin-top: 0px;
	padding-left: 7px;
	float: left;
}

#sign-in-company input[type="email"], #sign-in-company input[type="text"], #sign-in-company input[type="email"], #sign-in-company input[type="password"] {
	max-width: 48%;
	margin-bottom: 7px;
	margin-right: 4px;
	box-sizing: border-box;
	float: left;
}

.company-first form input[type='submit'], .company-first form button {
	background: #f59221;
}

#sign-up-company button {
	float: right;
	margin-top: 10px;
}

#sign-in-company button {
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

.company-second {
	background: #fff;
	padding: 50px 0px;
}

.company-second h3 {
	text-align: center;
	padding-bottom: 20px;
}

.company-second p {
	text-align: center;
	font-size: 16px;
}

.tooltip1{
    display: inline;
    position: relative;
    cursor:pointer;
}

.tooltip1:hover:after{
    background: #5dc0df;
    background: rgba(93,192,223,.9);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
    font-weight:500;
    font-size:16px;
    font-family:'Open Sans',sans-serif;
}

.tooltip1:hover:before{
    border: solid;
    border-color: #5dc0df transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

#rewards {
	background:#fff;
	padding-top:30px;
}

.gamification-box {
	margin-bottom:25px;
}

.gamification-box .gamification-lvl-1,
.gamification-box .gamification-lvl-2 {
	text-align:center;
	color:#fff;
	padding:10px;
	font-family:Helvetica;
	font-size:23px;
	font-weight:Bold;
}

.gamification-box .gamification-lvl-1 {
	padding:20px 30px;
}

.game-box-1 {
	background-color:#5dc0df;
}

.game-box-1 .gamification-lvl-2 {
	background-color:#5099aa;
}

.game-box-2 {
	background-color:#8ed5d9;
}

.game-box-2 .gamification-lvl-2 {
	background-color:#80b3b4;
}

.game-box-3 {
	background-color:#7accc0;
}

.game-box-3 .gamification-lvl-2 {
	background-color:#6aa99e;
}

#rewards th {
	background:#77c9bd;
	color:#fff;
	font-family:'Open Sans', sans-serif;
	font-size:17px;
	font-weight:300;
}

#rewards td {
	background:#eff8f7;
	color:#333;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	min-height:38px;
}

#rewards .table-bordered>thead>tr>th, #rewards .table-bordered>tbody>tr>th, #rewards .table-bordered>tfoot>tr>th, #rewards .table-bordered>thead>tr>td, #rewards .table-bordered>tbody>tr>td, #rewards .table-bordered>tfoot>tr>td {
	border-color:#fff;
}

#rewards table img {
	  vertical-align: middle;
  max-width: 30px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

/* News */

.categories {
	background: #75c0b3;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.categories ul {
	padding: 0px;
	list-style-type: none;
	margin-top: 20px;
}

.categories ul li {
	background: #fff;
	padding: 10px 16px;
	display: block;
	width: 100%;
	border-bottom: 1px dotted #333;
}

.news-listing a:hover {
	text-decoration: none;
	color: #333;
}

h1.news-title {
	text-align: center;
	font-size: 40px;
	font-family: 'Helvetica', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin: 40px 0px;
}

.news-box {
	max-width: 49%;
	width: 100%;
	box-sizing: border-box;
	margin-right: 1%;
	margin-bottom: 25px;
	float: left;
	background: #fff;
	display: block;
}

.news-box p {
	padding: 20px;
	text-decoration: none;
	color: #333;
}

.news-box img {
	width: 100%;
	height: auto;
	display: block;
}

.news-box h2 {
	padding: 0px 20px;
	font-size: 26px;
	color: #333;
}

.news-box .news-img {
	max-height: 240px;
	overflow: hidden;
}

.news-sidebar .tab-content {
	background: #75c0b3;
	border-radius: 5px;
}

.news-sidebar .tab-content ul {
	box-sizing: border-box;
	padding: 7px 10px;
	padding-bottom: 0px;
}

.news-sidebar .tab-content ul li {
	width: 50%;
}

.news-sidebar .tab-content ul li a {
	text-align: center;
}

.news-sidebar .tab-pane {
	overflow: hidden;
	box-sizing: border-box;
	padding: 10px 10px;
	padding-top: 0px;
}

.news-sidebar .tab-content ul li a, .news-sidebar .nav-tabs > li.active > a, .news-sidebar .nav-tabs > li > a:hover {
	border: none;
	max-height: 40px;
	margin: 0px;
	min-height: 40px;
}

.news-sidebar .tab-pane .media {
	background: #fff;
	padding: 3px;
	margin-top: 0px;
	padding-top: 15px;
}

.news-sidebar .tab-pane .media a {
	display: block;
}

.news-sidebar .tab-pane .media img {
	display: block;
	max-width: 60px;
	float: left;
	margin-right: 10px;
}

.news-sidebar .tab-pane .media h3 {
	float: left;
	display: block;
	font-size: 15px;
}

/* Single news article */
.single-news-article {
	margin-top: 50px;
}

.single-news-image {
	position: relative;
}

.single-news-image img {
	width: 100%;
	height: auto;
}

.single-news-image .wrapper-title-news {
	position: absolute;
	width: 100%;
	padding: 20px 40px;
	bottom: 0px;
	background: rgba(28,189,189,0.7);
}

.single-news-image .wrapper-title-news {
	color: #fff;
	text-align: center;
}

.single-about {
	background: #fff;
	border-left: 5px solid rgb(234, 234, 234);
	border-right: 5px solid rgb(234, 234, 234);
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #555;
	padding-right: 18px;
	padding-top: 20px;
	text-align: right;
}

.single-about small {
	display: block;
}

.single-about .date {
	font-style: italic;
}

.single-news-article article {
	background: #fff;
	border-left: 5px solid rgb(234, 234, 234);
	border-right: 5px solid rgb(234, 234, 234);
	padding: 20px;
}

.single-news-article article strong {
	font-weight: bold;
}

.single-news-article article h2, .single-news-article article h3, .single-news-article article h4, .single-news-article article h5, .single-news-article article h6 {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-weight: 600;
}

.single-news-article article .video-js {
	width: 100% !important;
	margin: 20px 0px;
}

.vjs-default-skin .vjs-big-play-button {
	left: 50%;
	top: 50%;
	border: none;
	outline: none;
	background: url('../images/play-btn.png') no-repeat;
	background-size: contain;
	background-color: transparent !important;
	box-shadow: none;
	margin-left: -39px;
	margin-top: -30px;
}

.single-news-article article .vjs-default-skin .vjs-big-play-button:before {
	content: '';
}

.single-news-article article .vjs-default-skin:hover .vjs-big-play-button, .vjs-default-skin .vjs-big-play-button:focus {
	box-shadow: none;
}

.single-news-article article ul {
	list-style-type: none;
}

.single-news-article article ul li:before {
	width: 7px;
	height: 7px;
	background: #1cbdbd;
	border-radius: 50%;
	margin-top: 6px;
	margin-left: -15px;
	float: left;
	content: ' ';
}

.single-news-article .social-sharing {
	overflow: hidden;
}

.single-news-article .social-sharing ul {
	padding: 0px;
	list-style-type: none;
	float: right;
}

.single-news-article .social-sharing ul li {
	display: inline-block;
	margin-left: 10px;
}

.single-news-article .social-sharing ul li:before {
	background: transparent;
}

.single-news-article .social-sharing ul li img {
	max-width: 30px;
}

#comments {
	overflow: hidden;
	background-color: #fff;
	margin-top: 30px;
	border-left: 5px solid rgb(234, 234, 234);
	border-right: 5px solid rgb(234, 234, 234);
	padding: 20px;
}

#comments .media-object {
	border-radius: 50%;
}

#comments form textarea {
	margin-bottom: 20px;
}

/* Prices */

.pricing-boxes h2 {
	color: #333;
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-bottom: 20px;
}

.prices h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 30px;
	font-size: 50px;
}

.prices .free-month {
	padding: 3px;
}

.ligh-grey {
	background: #DADADA;
	min-height: 140px;
	margin-bottom: 50px;
}

.prices .ligh-grey a {
	margin-top: 30px;
	display: block;
	padding: 12px 10px;
	background-color: #f59323;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
}

.prices .turcoaz {
	background: #82c1b7;
}

.dark-grey {
	background: #90908f;
}

.light-grey-2 {
	background: #f9f9f9;
}

.light-grey-1 {
	background: #f7f7f7;
}

.add_extra {
	padding: 30px 0px;
}

.add_extra > div {
	border-left: 3px solid rgb(234, 234, 234);
	border-right: 3px solid rgb(234, 234, 234);
	padding: 15px 15px;
	min-height: 255px;
}

.add_extra .form-group {
	margin-top: 40px;
	margin-bottom: 30px;
}

.add_extra div span.small-title {
	color: #333;
	text-align: center;
	font-size: 25px;
	font-family: 'Open Sans';sans-serif;
	font-weight: 800;
	padding-bottom: 20px;
	display: block;
}

.add_extra small {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-top: -15px;
	font-weight: 300;
	text-align: center;
	display: block;
}

.wrap-extra {
	height: 160px;
}

.extra {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.add_extra .quantity-job-result, .add_extra .quantity-cv-result {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 27px;
	font-weight: 800;
}

.prices .free-month h2 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 30px;
	text-align: center;
	padding-top: 32px;
	padding-bottom: 42px;
	margin: 0px;
}

.prices .free-month ul {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	margin: 0 auto;
	max-width: 270px;
	padding-top: 20px;
	color: #4e4d4d;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 10px;
}

.prices .free-month ul li {
	background: url('../images/plan-check.png') left no-repeat;
	background-size: 30px 20px;
	padding-left: 40px;
	padding-bottom: 10px;
}

.prices .free-month h2 small {
	font-size: 15px;
	font-weight: 300;
	color: #fff;
}

.price-column .column-block-1 {
	min-height: 300px;
}

.price-column .pack-icon {
	min-height: 140px;
	position: relative;
}

.price-column .pack-icon img {
	vertical-align: bottom;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0px;
}

.wrap-outer {
	display: table;
	height: 300px;
	overflow: hidden;
	width: 100%;
	text-align: center;
}

.wrap-inner {
	display: table-cell;
	vertical-align: middle;
}

.wrap-center {
	max-width: 200px;
	width: 100%;
	margin: 0 auto;
	display: block;
}

#pricing_plan .column-block-1 {
	background: #8e8e8e;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}

#starter_pack .column-block-1 {
	background: #9adad1;
}

#nurturing_pack .column-block-1 {
	background: #79cdc1;
	position: relative;
}

#growing_pack .column-block-1 {
	background: #57c1b2;
}

.prices .promo-block {
	position: absolute;
	top: -38px;
	text-align: center;
	width: 100%;
	max-width: 286.5px;
	background-color: #f59323;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding: 8px;
}

.price-plan-columns .price-column {
	color: #fff;
	text-align: center;
	padding: 3px;
	font-family: 'Open Sans', sans-serif;
}

.price-column .pack-name {
	font-weight: 700;
	font-size: 22px;
	padding-top: 10px;
}

.price-column .pack-short {
	font-size: 17px;
	padding-bottom: 10px;
	font-weight: 300;
}

.price-column .pack-month {
	font-size: 20px;
	font-weight: 700;
	padding-top: 10px;
}

.price-column .pack-year {
	font-weight: 400;
	font-size: 18px;
	padding-bottom: 15px;
}

#pricing_plan .column-block-2 {
	background: #DADADA;
}

#starter_pack .column-block-2 {
	background: #f9f9f9;
}

#nurturing_pack .column-block-2 {
	background: #f7f7f7;
}

#growing_pack .column-block-2 {
	background: #f0f0f0;
}

.price-column .column-block-2 ul {
	list-style-type: none;
	padding: 0px;
}

.price-column .column-block-2 ul li {
	color: #4e4d4d;
	font-family: 'Open Sans', sans-serif;
	padding: 20px 0px;
	min-height: 75px;
	line-height: 34px;
}

.price-column .column-block-2 ul li img {
	max-width: 50px;
	height: auto;
}

.price-column .column-block-3 a:hover, .price-column .column-block-3 a {
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	text-align: center;
	display: block;
	margin-top: -10px;
	padding: 10px;
}

.blue-contact .block-contact-1, .orange-contact .block-contact-1 {
	overflow: hidden;
}

.blue-contact {
	margin-bottom: 50px;
}

.blue-contact .block-contact-1 {
	background: url('../images/tree-background-blue.png') no-repeat;
	background-size: cover;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
	min-height: 300px;
}

.blue-contact .block-contact-2 {
	background: #499daf;
	color: #fff;
	text-align: center;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
}

.blue-contact .block-contact-2 a {
	font-weight: bold;
}

.blue-contact .what-we-can-do {
	font-size: 22px;
	padding-bottom: 7px;
}

.blue-contact ul {
	list-style-type: none;
	padding: 0px;
}

.blue-contact ul li {
	padding-left: 30px;
	background: url('../images/small-check-white.png') left no-repeat;
}

.blue-contact, .orange-contact {
	padding: 0px;
}

.blue-contact .orange {
	background: #f59323;
}

.blue-contact .block-contact-1 img, .orange-contact .block-contact-1 img {
	max-width: 150px;
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 20px;
}

.orange-contact .block-contact-1 a:hover, .blue-contact .block-contact-1 a:hover, .blue-contact .block-contact-1 a, .orange-contact .block-contact-1 a {
	padding: 10px 15px;
	font-size: 17px;
	max-width: 150px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	display: block;
	color: #fff;
	margin: 0 auto;
	text-decoration: none;
}

.orange-contact .block-contact-1 {
	background: url('../images/tree-background-orange.png') no-repeat;
	background-size: cover;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
	min-height: 300px;
	font-size: 20px;
}

.orange-contact .block-contact-2 {
	background: #d97d3c;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
}

/* customer-sign-in */

.customer-sign-in .customer-block-1 {

}

.customer-sign-in section {
	width: 100%;
	padding: 0 7%;
	display: table;
	margin: 0;
	max-width: none;
	background-color: #373B44;
	height: 100vh;
	background: url('../images/sign-in-user.jpg') no-repeat;
	background-size: cover;
}

.customer-sign-in .intro {
	height: 90vh;
	padding-top: 5%;
}

.customer-sign-in h1, .customer-sign-in h2 {
	color: #fff;
	font-size: 31px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	padding: 40px 0px;
	text-align: center;
}

.customer-sign-in .sign-in-form form {
	max-width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}

.customer-sign-in .sign-in-form form button, .customer-sign-in .sign-in-form form input {
	margin-top: 15px;
}

.customer-sign-in ul {
	max-width: 210px;
	padding: 0px;
	margin: 0 auto;
	display: block;
	list-style-type: none;
}

.customer-sign-in ul li {
	max-width: 200px;
	border-radius: 6px;
}

.customer-sign-in ul li:first-child {
	background: url('../images/in-btn.png') no-repeat;
	background-size: cover;
}

.customer-sign-in ul li:nth-child(2) {
	background: url('../images/fb-btn.png') no-repeat;
	background-size: cover;
}

.customer-sign-in ul li:nth-child(3) {
	background: url('../images/g-btn.png') no-repeat;
	background-size: cover;
}

.customer-sign-in ul li:nth-child(4) {
	background: url('../images/tw-btn.png') no-repeat;
	background-size: cover;
}

.customer-sign-in ul li a {
	text-align: center;
	display: block;
	color: #333;
	padding: 10px 35px;
	border-radius: 5px;
}
