<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>Jobs are referral streets in your company. Start creating your company map.</p>
            <p>With every job created and communicated within your organization, you will increase your colleagues engagement to share a suitable job in their friends circles.</p>
            <p>
                Once you created a job, you can test how easy it is to share it, using the many available channels available.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/job" style="background-color:{$bg_color}" target="_blank">Create jobs</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>