<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>Each candidate needs attention. We designed a really simple way to see and filter candidates shown in their latest status within each recruiting process.</p>
            <p>You can easily move one candidate from a status-column to the current suitable one.</p>
            <p>Updating your candidates status is key to <b>followup your recruiting efforts</b> and <b>engage users</b> involved in this process:</p>
            <img src="https://marketing-image-production.s3.amazonaws.com/uploads/878ee50f37ddd82bada97c293ffde6df95f9639781e2a16b47840b24b2e2acab11ae67250364f3c4d57318211a5d7c9154877bcd658aceb2ba882d620d185d07.gif"/>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/users/admin/mycvs" style="background-color:{$bg_color}" target="_blank">Try the easiest job status change you’ve ever seen</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>