<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>When you change a candidate status to HIRED, the candidate’s recommender gets a ‘thank you’ email and a confirmation of the earned bounty set for that job.
            </p>
            <p>
                Your role is to make sure that your colleagues will receive the expected bounty in due time and remember to celebrate the hiring success in your organization! <br/><br/>
                More will follow...<br/>
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/bounties" style="background-color:{$bg_color}" target="_blank">Assign rewards</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>