<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>Campaigns are useful when you want to hire many people faster. Select jobs in focus, set campaign period, choose what actions you want to reward points for and most important: set an attractive prize for your winner(s).</p>
            <p>
                Best results obtained when:
            </p>
            <ul>
                <li>Campaign period is between 3 - 8 weeks</li>
                <li>3-10 jobs included in campaign</li>
                <li>Reward offered</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/view-campaigns" style="background-color:{$bg_color} !important" target="_blank">Create campaign</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>