<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>When campaign ends, you will be able to check its leaderboard and congratulate winners</p>
            <p>
                When your colleagues get the 'campaign-winner-email' that congratulate employees with the highest number of points collected in that campaign,
                they will trust and engage even more in building their own talent stream in your Talentspotting referral platform.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/leaderboards" style="background-color:{$bg_color}" target="_blank">Check campaign leaderboard</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>