<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>Campaign <b>{$title}</b> is now closed. Campaign leaderboard summary:
                <!-- if campaign rules allow one winner, table will have one winner only. Else, we will list the number of users were specified in campaign rules-->
            {$winners}
            <br/>
            Remember to give them their award and congratulate them for the good work!

            For more details, please access Analytics - Leaderboard - Campaigns in your account.

            Reward your winners,</p>

        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}" style="background-color:{$bg_color}" target="_blank">check campaign leaderboard stats </a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>