<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>You received new {$applicants} applicants this week.</p>
            <p>
                Change their status in the hiring process. Each status changed helps you boost the overall recruiting results and keeps your recommenders  & candidates engaged too.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/users/admin/mycvs" style="background-color:{$bg_color}" target="_blank">Process candidates</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>