<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>Here are all the Talentspotting jobs and campaigns due to expire next week. If you make no changes, they will be automatically deactivated after the expiry date.
            </p>
            <!-- {$table} start -------------------------------------->
            {$conent_to_expire}
            <br/>
            <!-- {$table} end -------------------------------------->
            <br/>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/view-jobs" style="background-color:{$bg_color}" target="_blank">View jobs</a>
        </td>
    </tr>
</table>