<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>Here are all the bounties that are earned by your colleagues in Talentsptting referral platform.
            </p>
            <!-- {$table} start -------------------------------------->
            {$bounty_table}
            <br/>
            <!-- {$table} end -------------------------------------->

        </td>
    </tr>
    <tr>
        <td>
            <p>
                Would be great if your colleagues enjoy the promised bounties when expected.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            Build Your Own Talent Stream!
        </td>
    </tr>
</table>

