<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>Share jobs and bring suitable candidates from your friends circles.</p>
            <p>
                Save your time using one click away share, using your favourite channel to reach your friends, or take more time to study each job before you share it.
            </p>
            <img src="https://marketing-image-production.s3.amazonaws.com/uploads/ee45506463c1a0abe9c274faf137d4e987927e6ff887ab9322f5b1656e1efd32d1fb0d954801a6bf52983f2a727ff8361cbc7ab3a2b926dcaea107e5f77de7a9.gif"/>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/home" style="background-color:{$bg_color}" target="_blank">Share jobs</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>