<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>You had {$total_active_jobs} active jobs available for candidates applications this week and a total of {$vacancies} people needed.</p>
            <p>
                Period: {$period}
            </p>
            <!-- {$table} start -------------------------------------->
            {$active_jobs}
            <!-- {$table} end -------------------------------------->
            <br/>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/users/admin/mycvs" style="background-color:{$bg_color}" target="_blank">Add new jobs</a>
        </td>
    </tr>
</table>