<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>You now have 30 days since your first login in Talentspotting. Thank you for using this most social recruiting platform.</p>
            <p>
                Your experience feedback is GOLD to us. Please complete this survey to help us improve your further experience.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="https://goo.gl/forms/MkA8VofANlvpoTUP2" style="background-color:{$bg_color}" target="_blank">Complete survey</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>