<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>Ready to identify the best professionals in your network? Here are all the new {$company} opportunities that can benefit from your help this week and the rewards you can get for them </p>
            <p>
                Choose your favourite channel to share available jobs to reach your friends.
            </p>
            <!-- {$table} start -------------------------------------->
            {$active_jobs}
            <!-- {$table} end -------------------------------------->
        </td>
    </tr>
    <tr>
        <td align="center">
            <br />and bring more people like you!
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;"><br />
            <a class="button" href="{$subdomain_url}/home" style="background-color:{$bg_color}" target="_blank">Share jobs</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>