<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Hi {$firstname},
            <br /> &nbsp;
            <p>Here&rsquo;s a quick recap of your activity on Talentspotting.</p>
            <p>
                Report period: {$report_periode}
            </p>
            <!-- {$table} start -------------------------------------->
            {$report}
            <!-- {$table} end -------------------------------------->
            <p>Share more jobs using more channels to reach more potential candidates and win available bounties</p>


        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/home" style="background-color:{$bg_color}" target="_blank">Share Jobs</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>