<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br/> Dear {$firstname},
            <br/> &nbsp;
            <p>Activate your account in {$subdomain} and apply to this job {$job.title}. </p>
            <p>You already received username & password from us, but if you can't find them you can always reset your
                password here <a href="{$reset_link}">{$reset_link}</a> .
            </p>
            <br/>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/login" style="background-color:{$bg_color}" target="_blank">Sign
                in</a>
        </td>
    </tr>
    <tr>
        <td>
            <P>
                Friends work better together!
            </P>
        </td>
    </tr>
</table>