<?php

$session = new Zend_Session_Namespace("track");
$track = $session->track;
$modelUser = new models_User;
$modelCompany = new models_Company;
$bootstrap = Zend_Controller_Front::getInstance()->getParam('bootstrap')->getOptions();

if($bootstrap['Settings']['external_platform']) {
        $allow_candidate_recommend = $modelCompany->getCompaniesCandidateRecommend(Zend_Auth::getInstance()->getIdentity()->id_company)['allow_candidate_recommend'];
        $how_it_works = $modelUser->getHowItWorks()['status'];
}
$analytics = $modelCompany->getAnalyticsId() ;
$heatmap = $modelCompany->getHeatmap() ;
$footer = $modelCompany->getFooter() ;

?>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TalentSpotting</title>
    <link rel="shortcut icon" href="/resources/frontend/landing/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link rel="apple-touch-icon" sizes="57x57" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/favicon-16x16.png">
    <link rel="manifest" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<?php echo APPLICATION_URL;?>/resources/frontend/favico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/frontend/landing/css/slick.css">
    <link rel="stylesheet" href="/resources/frontend/landing/css/styles.css">
    <link rel="stylesheet" href="/resources/frontend/css/theme/css/frontend.css">
    <!--<link rel="stylesheet" href="/resources/admin/js/select2/select2.css">-->
    <link rel="stylesheet" href="/resources/admin/js/select2_4/select2.min.css">
    <link rel="stylesheet" href="/resources/frontend/css/theme/css/responsive.css">
    <?php // if(Zend_Auth::getInstance()->hasIdentity()) : ?>
    <link rel="stylesheet" href="/resources/admin/css/style.css">
<!--    <link rel="stylesheet" type="text/css" href="/resources/frontend/css/theme/css/flow_signin.css" />-->
    <link rel="stylesheet" type="text/css" href="/resources/frontend/css/theme/css/front_header_.css" />
    	<?php echo $this->link. "\n"; ?>
    <link rel="stylesheet" type="text/css" href="/resources/frontend/css/theme/css/custom_front.css" />
    <?php //    endif; ?>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <?php if($analytics != "") : ?>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<?php echo $analytics ?>"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', "<?php echo $analytics ?>");
        </script>
    <?php endif ;?>
    <?php if($heatmap != "") echo $heatmap; ?>

    <?php echo $this->render("sublayouts/styles.phtml") ?>

</head>

<body class="landing">
<?php
echo $this->render("partials/logged/header.phtml");?>

    <?php echo $this->layout()->content. "\n"; ?>
<?php
echo $this->render("partials/footer.phtml") ;
?>

    <script type="text/javascript" src="/resources/admin/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/resources/frontend/landing/js/slick-min.js"></script>
    <script type="text/javascript" src="/resources/frontend/landing/js/script.js"></script>
    <!--<script type="text/javascript" src="/resources/admin/js/select2_4/select2.min.4.js"></script>-->
    <!--<script type="text/javascript" src="/resources/admin/js/select2/select2.min.js"></script>-->
    <script type="text/javascript" src="/resources/admin/js/select2_4/select2.full.min.js"></script>
    <script type="text/javascript" src="/resources/admin/js/jquery.dcjqaccordion.2.7.js"></script>
    <script type="text/javascript" src="/resources/admin/js/init.home.js"></script>


    <div class="modal fade" id="preview-modal" tabindex="-1" role="basic" aria-hidden="true"></div>
</body>

</html>