.desktop-container {
		    width: 100%;
    box-sizing: border-box;
    /*padding-left: 200px;*/
	}

@media (max-width:970px){
	
	body.landing section.#search-bar {
		margin-left:0px;
	}
	
	#profile-sidebar { 
		/*display:none;*/
	}
	
	.br-profile-title {
		font-size:16px;
	}
	
	.col-sm-search {
		right:40px;
	}
	
	#dynamic-table_wrapper table td {
		display:block;
		height:auto!important;
		padding:10px;
	}
	
	#br-profile-search {
		height: auto;
		padding-bottom:20px;
	}
	
	.search-icon-right {
		position:static!important;
		float:right;
		text-align:center;
		width:auto;
	}
	
	/* Generale */
	
	.desktop-container {
		width: 100%;
	    box-sizing: border-box;
	    padding-left: 0px;
	}
	
	.primary-content-container {
		width:100%;
	}
	
	.modal-content {
		width:100%!important;
	}
	
	.full-width {
		width:100%!important;
	}
	
	.padding-top-10 {
		padding-top:10px;
	}
	
	.margin-top-10 {
		margin-top:10px;
	}
	
}
    .btn-save:hover {
        background: #7dcc93;
        border: 2px solid #7dcc93 !important;
        background: #FFF !important;
        color: #7dcc93 !important ;
    }
    .btn-save {
        background: #7dcc93 !important;
        border: 2px solid #7dcc93 !important;
        width: 120px;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #FFFFFF !important;
    }
    .btn-close {
        background: #FFF !important;
        border: 2px solid #7dcc93 !important;
        width: 120px;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif !important;
        font-weight: 600;
        color: #7dcc93  !important;
    }
    .btn-close:hover {
        background: #7dcc93 !important;
        border: 2px solid #7dcc93;
        width: 120px;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif !important;
        font-weight: 600;
        color: #FFF !important;
    }
    .br-title {
        font-family: 'Open Sans', sans-serif;
        color: #000;
        font-weight: 400 !important;
    }
    .black {
        color: #000 !important;
    }
    .white {
        background-color: #FFF;
    }
    .js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}


/* style 2 */

.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}


/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}


/* style 4 */

.inputfile-4 + label {
    color: #7dcc93 !important;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #7dcc93;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #7dcc93;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}
    .llofk90{text-align: right;position: absolute;}
    .dd_fdF{width: 140px; margin: 0 15px}
    ._yyrut{padding: 15px;background: #F1F2F7}
    ._white {background:#FFF;}
    .yuyyr{text-align: right}
    ._yy_{text-align: right;position: relative;right: 23px;cursor:pointer}
    /*._yyrtryt{text-align: right}*/
    ._buckyrt{background: #F1F2F7}
    .oiuui{padding: 15px;background: #F1F2F7}
    ._yyutt{padding: 15px;background: #F1F2F7}
    ._uuyiu{background:#FFF;padding: 30px 40px 15px 40px;}
    ._rithytt{text-align: right}
    ._ttryti{background:#FFF; padding: 30px 15px 15px 15px;}
    ._yyrt65546 {width: 30%;position: absolute;text-align: left;    white-space: nowrap;}
    .__uuyuyuu {white-space: nowrap !important;}
    .uutyuh {margin: 0 auto;width: 100%; max-width: 400px}
    .active-spa {    border-bottom: 3px solid #3AC5D9;}
    ul.navbar-nav > li.active-spa > a {    color: #3AC5D9 !important;font-family:'Open Sans', sans-serif;}
    .navbar-nav > li > a {font-family:'Open Sans', sans-serif !important;font-size: 14px;    color: rgba(0, 0, 0, 0.4) !important;font-weight: 600}
    .navbar-default {background-color: transparent;border-color: transparent}
    .iurter{ margin-top: 0px !important; display: none}
    .yfttd{padding: 20px;}
    .yyftreyf{width: 50px; border-radius: 50%;    height: 50px;}
    .iudfiudf{margin-left: 10px}
    .jedhgdgf{text-align: center}