@import url('https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet');


/*.header {
   position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}


* new header *


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-family: sans-serif;
}*/

.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 50px;
    line-height: 50px;
    background-color: white;
}

.menu {
    margin: 0 30px 0 0;
    text-align: center;
    width: 100%;
    display: none;
    
}

.menu a {
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
    clear: right;
    background-color: white;
}

.menu a:hover {
    background-color: aliceblue;
    
}

.labelhead {
    margin: 0 0 0 40px;
    font-size: 26px;
    line-height: 50px;
    display: block;
    cursor: pointer;
    width: 25px;
    float: left;
}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: block;
}


.dropdown {
    float: right;
    color: #646464;
    margin-right: 40px;
}

.dropdown-toggle.btn-primary {
    color: #646464;
    background-color: white;
    border-color: white;
}

.dropdown-toggle.btn-primary:focus {
    color: #646464;
    background-color: white;
    border-color: white;
    
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #646464;
    background-color: white;
    border-color: white;

}

.open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #646464;
    background-color: white;
    border-color: white;
    
}

.profilepicture {
    display: block;
    float: right;
    margin-top: 5px;
    margin-left: 10px;
    
}

/*.logo {
    position: absolute;
    left: 43%;
    margin-top: 10px;

}

@media screen and (max-width:1366px) {
    .logo {
        left: 43%;
    }
}

@media screen and (max-width: 800px) {
    .logo {
            max-width: 130px;
        margin: 0 auto !important;
        position: absolute;
        margin-right: 50px;
        padding-top: 15px;
        margin-left: -30px !important;
    }
}*/
@media screen and (max-width: 800px) {
    .profilepicture {
        visibility: hidden;
    }
}
@media screen and (max-width: 800px) {
    .notifications-bell-button {
        visibility: hidden;
    }
}

@media screen and (max-width: 800px) {
    .dropdown-menu {
        min-width: 118px;
    }
}

@media screen and (max-width: 800px) {
    .dropdown {
        margin-right: 0px;
    }
}


.smbuttonsphone {
    padding-right: 40px;
}

.fbsmicon {
    margin-right: 50px;
}

.smicons {
    
}



/** new header **/





.body {
	background-color: #F1F1F1;
}

.blocone {
	background-color: grey;
	height: 460px;

	
}

.blocone:hover {
	background-color: grey;
	height: 460px;
	box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 100ms ease-in;
    transform: scale(1.05);
	
}

.bloc2  {
height: 230px;
background-color: green;
}
.bloc2:hover  {
height: 230px;
background-color: green;
	box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 100ms ease-in;
    transform: scale(1.05);
}


.bloc3 {
height: 230px;
background-color: red;
}
.bloc3:hover {
height: 230px;
background-color: red;
	box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 100ms ease-in;
    transform: scale(1.05);
}


.bloc4 {
height: 230px;
background-color: yellow;
}
.bloc4:hover {
height: 230px;
background-color: yellow;
	box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 100ms ease-in;
    transform: scale(1.05);
}


.bloc5 {
height: 230px;
background-color: blue;
}
.bloc5:hover {
height: 230px;
background-color: blue;
	box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 100ms ease-in;
    transform: scale(1.05);
}


.scrolltextdiv {
	background-color: #F1F1F1;
	min-height: 125px;
}

.scrolltext {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 43px;
  text-align: center;
 
}

.scrollicon {
	display: block;
    margin: auto;
    margin-top: 20px;
}

.filterdiv {
	background-color: #D8D8D8;
	height: 100px;
}

.filterbuttons {
	margin: 0 auto;
    display: block;
    float: none;
    margin-top: 32px;

}

.filter1 {
	    width: 100%;
}

.searchicon {
	display: block;
    float: right;
    margin-top: -40px;
    margin-right: 56px;
}

.searchicon:hover {
	display: block;
    float: right;
    margin-top: -40px;
    margin-right: 56px;
    z-index: 2;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 100ms ease-in;
    transform: scale(1.1);
}

.filtericon {
	    display: block;
    float: right;
    margin-top: -40px;
    margin-right: 10px;
}
.filtericon:hover {
	    display: block;
    float: right;
    margin-top: -40px;
    margin-right: 10px;
        z-index: 2;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 100ms ease-in;
    transform: scale(1.1);
}

.jobbackground {
	background-color: #F1F1F1;
	height: 1000px;
}

.jobboxes {
	margin: 0 auto;
    display: block;
    float: none;
    padding-top: 50px;
}


.seealljobs {
	width: 200px;
	height: 34px;
	background-color: #82BE00;
	text-align: center;
	border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    margin:auto;
    display:block;
    margin-bottom: 40px;
    border-radius: 4px;
    color: white;

   
}

.footerdiv {
	padding: 0;
	margin: 0 auto;
    position: relative;
    clear: both;
}

.footerbackground {
	background-color: #424242;
	min-height: 220px;
}

.gmaps {
	padding: 10px 10px;
	width: 420px;
}

.columns{
   list-style-type: disc;
}

.footertext {
	color: white;
	float: left;
	list-style-type:none;
	padding-left: 0px;
	
}

.footertext1 {
	color: white;
	padding-top: 10px;
	list-style-type:none;
	
}

.links {

}

.containerfooter {
	position: relative;
	padding: 0px;
}

.socialfooter {
	float: right;
	padding: 0px;
	margin-top: 10px;
	padding-left: 15px;


}

.subscribetext {
	margin-top: 10px;
}

.subscribecontainer {
	    width: 183px;
        height: 28px;
    border: 1px solid white;
    
    padding-left: 32px;

}

@media screen and (max-width: 991px) {
    .footerbackground {
        min-height: 100vh;
    }
}
@media screen and (max-width: 991px) {
    .footertext1 {
        padding-top: 35px;
    }
}

@media screen and (max-width: 991px) {
    .filterbuttons {
        padding-top: 0px;
        float: left;
    }
}




/* SIGN IN PAGE */


.signinbody {
	height: 600px !important;
	background-image: url("/resources/frontend/css/theme/content/signintsp.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 80%;

}


.signinbody-register {
    height: 600px !important;
    background-image: url("/resources/frontend/css/theme/content/register1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;

}

.signinbody-register2 {
    height: 1200px !important;
    background-image: url("/resources/frontend/css/theme/content/bg_signup2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;

}



@media screen and (max-width: 991px) {
    .signinbody-register {
        height: 640px !important;
    background-image: url("/resources/frontend/css/theme/content/register1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    }
}

@media screen and (max-width: 991px) {
    .signinbody-register2 {
    height: 865px !important;
    }
}
 
.signinbody-register3 {
    height: 570px !important;
    background-image: url("/resources/frontend/css/theme/content/bg_signup3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;

}

@media screen and (max-width: 991px) {
    .signinbody-register3 {
    height: 510px !important;
    background-image: url("/resources/frontend/css/theme/content/bg_signup3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    }
}

.signinbodyhalfleft {
	background: rgba(44, 61, 81, 0.9);
	height: 600px !important;

}

.signinbodyhalfleft2 {
    background: rgba(44, 61, 81, 0.9);
    height: 1200px !important;

}


@media screen and (max-width: 991px) {
    .signinbodyhalfleft {
    /*background: rgba(0, 174, 239, 0.9);*/
    height: 640px !important;
    }
}

.signinbodyhalfleft3 {
    background: rgba(44, 61, 81, 0.9);
    height: 570px !important;

}


.signinbodyhalfright {
	background: rgba(44, 61, 81, 0.7);
	height: 600px !important;
	
}

.signinbodyhalfright2 {
    background: rgba(44, 61, 81, 0.7);
    height: 1200px !important;
    
}

.signinbodyhalfright3 {
    background: rgba(44, 61, 81, 0.7);
    height: 570px !important;
    
}

.box-login {
	background: none;
    position: relative;
}

.box-login-head {

}

.singintitle {
	font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: #ffffff;
    line-height: 46px;
    text-align: center;
    margin-top: 0px;
    padding-top: 15px;
}


.singintitlestep2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: #ffffff;
    line-height: 46px;
    text-align: center;

    padding-top: 15px;
    margin-bottom: 75px;

}

.singintitlestep3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: #ffffff;
    line-height: 46px;
    text-align: center;

    padding-top: 40px;
    margin-bottom: 50px;

}

@media screen and (max-width: 991px) {
    .singintitlestep3 {
    padding-top: 30px;
    }
}

.dontaccounttext {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    color: #DDE2AE;
    line-height: 19px;
    text-align: center;
}
.social-signup {
	margin-top: 75px;
    text-align: center;
    padding-bottom: 65px;

}

.social-signup-register {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 65px;

}



.fb-signup {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #ffffff;
    /*background: #3c5a99;*/
    border-radius: 4px;
    width: 150px;
    height: 29px;
    padding: 10px;
    padding-left: 0px;


}

.fb-signup, .fb-signup:hover {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #ffffff;
    /*background: rgba(44, 61, 81, 0.9);*/
    border-radius: 4px;
    width: 150px;
    height: 29px;
    padding: 10px;
    padding-left: 0px;

}


.li-signup {
 	font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #ffffff;
    /*background: rgba(44, 61, 81, 0.9);*/
    border-radius: 4px;
    width: 150px;
    height: 29px;
    padding: 10px;
    padding-left: 0px;
}
.li-signup .li-signup:hover{
 	font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #ffffff;
    background: #0077B5;
    border-radius: 4px;
    width: 150px;
    height: 29px;
    padding: 10px;
    padding-left: 0px;
}


.go-signup {
 	font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: grey;
    /*background: rgba(44, 61, 81, 0.9);*/
    border-radius: 4px;
    width: 150px;
    height: 29px;
    padding: 10px;
    padding-left: 0px;
}
.go-signup .go-signup:hover {
 	font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: grey;
    background: white;
    border-radius: 4px;
    width: 150px;
    height: 29px;
    padding: 10px;
    padding-left: 0px;
}

.sm-signin-margin {
    margin-bottom: 20px;
}

.form-controlsignin {
    height: 42px;
    width: 300px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15
}

.signintext {
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.signinbutton {
    background-color: #82BE00 !important;
    color: white !important;
    width: 300px !important;
    height: 42px !important;
    border: 0px !important;
    margin-top: 20px !important;
}

.homepageblocks {
    margin-top: 50px;
}

.signinrighttext {
    position: absolute;
    top: 40%;
    font-size: 48px;
    color: white;
    line-height: 60px;
    font-weight: bold;
}

.signinrighttext2 {
    position: absolute;
    top: 48%;
    font-size: 48px;
    color: white;
        width: 100%;
        font-weight: bold;
}


.form-wrap {
    display: flex;
    justify-content: center;
}

.stepsregister {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.levelofexperience-register {
    margin-top: -10px;
    margin-bottom: 15px;
    height: 42px;
    width: 300px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.uploadcvbutton {
    margin-top: 0px;
    margin-bottom: 40px;
    cursor: pointer;
}

.addinprofile {
    margin-bottom: 5px;
}


.or {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 43px;
  text-align: center;
}

.resourcesbody {
    height: 650px;
    margin-top: 50px;
    font-family: 'Open Sans';
    color: white;
    text-align: center;
}

.resbox1 {
    background-image: url("/resources/frontend/css/theme/content/resbox1.png");
    height: 650px;
}

.resbox2 {
    background-image: url("/resources/frontend/css/theme/content/resbox2.png");
    background-position: 80%;
    height: 650px;
}
.resbox3 {
    background-image: url("/resources/frontend/css/theme/content/resbox3.png");
    background-position: 50%;
    height: 650px;
}

.titleresbox {
    font-size: 40px;
    margin-top: 100px;
}

.textresbox {
    font-size: 25px;
    margin-top: 40px;
}

.resbutton {
    color: white;
    width: 300px;
    height: 42px;
    border: 2px solid white;
    margin-top: 20px;
    background-color: transparent;
}

.resbutton:hover {
    color: grey;
    width: 300px;
    height: 42px;
    border: 2px solid white;
    margin-top: 20px;
    background-color: white;
}

.resbutton2 {
    background: url("/resources/frontend/css/theme/content/downloadicon.png") no-repeat left;
    color: grey;
    width: 300px;
    height: 42px;
    border: 2px solid white;
    border-left-width: 10px;
    margin-top: 20px;
    background-color: white;
}

.resbutton2:hover {
    background: url("/resources/frontend/css/theme/content/downloadicon.png") no-repeat left;
    color: black;
    width: 300px;
    height: 42px;
    border: 2px solid lightgray;
    border-left-width: 10px;
    margin-top: 20px;
    background-color: lightgray;
}

.landing #header{
    margin-bottom: 0px;
}
.pwd-label {
    font-weight: 700;
}
.email-label {
    font-weight: 700;
}
#remembermelogin{
    font-weight: 700 !important;
    color: #FFF !important;
}

input[type="submit"] {
    padding: 0px !important;
    font-size: 14px;
}
input[name="remember_me"] {
    margin-top: 4px !important;
}
input[name="terms"] {
    width: 15px;
    margin-top: -10px;
}
.terms-chkb {
    font-weight: 700;
}

/*form#upForm{width: 80%;}*/
label {
    font-weight: 700;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
 /*height: 37px;*/
 height: 100%;
 outline: 0;
 border: 2px solid rgba(234, 234, 234, 0.7) !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 2px;
    background-color: #57c8f1 !important;
    border: 1px solid #1cb0e6 !important;
    border-radius: 3px !important;
    color: #FFF !important;
    cursor: default !important;
    float: left !important;
    margin-right: 5px !important;
    padding: 0 5px !important;

}
.select2-container--default .select2-selection--multiple {
 
    height: 37px;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus, .cmxform .form-group input.error, .cmxform .form-group textarea.error {
            
    border: 2px solid rgba(234, 234, 234, 0.7) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}


.uurydtbeg {
    float: right;
    display: block;
    width: 0px;
    margin-top: -45px;
}
._i_oiii__ {
    display: none;
}
.ii__ii_oiii__ {
    height: 20px;
    position: absolute;
    right: 1px;
    top: -34px;
}
input#linkedin_link {
    border: 1px solid #ffffff !important;
}