  .top-nav img {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            width: 33px;
        }
        .top-nav img {
            top: 0 !important;
            width: 100%;
            max-width: 40px !important;
            height: 40px;
            margin: 12px;
        }
        ul.top-menu > li > a {
            color:#666666;
            font-size:16px;
            background:#f6f6f6;
            padding:4px 8px;
            margin-right:0px !important;
            border-radius:50%;
            -webkit-border-radius:50%;
            padding-right:8px !important;
        }
        .notify-row {
    position: relative;
    /*top:13px;*/
}
#top_menu .nav>li,ul.top-menu>li {
    float:left;
}
.notify-row {
    float: left;
    margin-top: 23px;
    /* margin-left: 25px; */
    margin-right: 25px;
}
ul.top-menu {
    margin-right:15px;
    margin-top: 0;
}
ul.top-menu > li > a {
    color:#666666;
    font-size:16px;
    background:#f6f6f6;
    padding:4px 8px;
    margin-right:15px;
    border-radius:50%;
    -webkit-border-radius:50%;
    padding-right:8px !important;
}
.dropdown-menu.extended.logout>li>a {
    border-bottom: none !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
}
.nav>li>a {
/*    position: relative;
    display: block;
    padding: 0px;*/
}
.badge.bg-warning {
    background: #FCB322;
    color :#5E5E5E;
}
.notify-row .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}
li.dropdown {
    /*top:-29px;*/
    /*width: 196px;*/
}
        
                .notification {
                   overflow: visible !important;
                }
        li.dropdown > ul.notification {
            left: -119px !important;
            background: #ffffff !important;
            box-shadow: 0px 2px 4px 0px rgba(172,148,148,0.50) !important;
            border-radius: 2px;
            width: 280px!important;
            top:35px;
            padding: 0px 2px !important;
        }
        .notify-type {
            opacity:0.6;
            /*font-family:OpenSans;*/
            font-size:11px;
            color:#333333;
            line-height:19px;
        }
        .notify-image {
            width: 32px!important;
            height: 32px!important;
            border: 0px !important;
            border-radius: 50%;
            /*background: red;*/
            float: left;
            position: relative!important;
            top: 22px !important;
        }
        .notify-day {
            position: relative;
            float: right;
            top: 6px;
            right: 15px;
        }
        li.dropdown > ul.notification li p {
            text-align: center;
            
           padding-top: 10px;
           margin-top: -15px;
           /*font-family:OpenSans-Bold;*/
           font-size:13px;
           color:#333333;
           line-height:19px;
        }
        .notification-caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-bottom: 7px solid;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            position: relative;
            left:126px;
            bottom: 14px;
            color: #FFF;
        }
        @media all and (max-width: 780px) {
            .top-nav {
                display:none;
            }
            header {
                /*display: none;*/
            }
        }
        .brand {
            position: fixed ;
            /*z-index: 1 ;*/
            height: 60px;
        }
        .sidebar-toggle-box {
            right: 4px ;
        }
        .top-nav ul.top-menu > li > a {
            background: #2fb0c2; 
            border: none ;
            border-radius: 0 ;
        }
        ul.top-menu {
            margin-right: 0 ;
        }
        .top-nav {
            margin: 0 ;
        }
     
        top-nav ul.top-menu > li > a:hover {
            background: #2FB0C2; 
            border: none ;
            border-radius: 0 ;
        }
        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0px !important;
            vertical-align: middle;
            border-top: 5px solid;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
        }

        .top-nav .nav .caret {
            border-bottom-color: #FFF;
            border-top-color: #FFF;
        }
        .top-nav ul.top-menu>li>a:hover, .top-nav ul.top-menu>li>a:focus {
            border: 0; 
            background: #2FB0C2;
            border-radius: 0; 
            -webkit-border-radius: 0; 
        }
        .sidebar-toggle-box {

            margin-top: 18px;
        }
        .sidebar-toggle-box .fa-bars {
            color : #34C3D8 ;
            cursor: pointer;
            display: inline-block;
            font-size: 10px;
            padding: 0px 8px 8px 9px;
            color: rgba(0,0,0,.3);
        }
        .blue {
            background-color: #3AC5D9 !important ;
        }
        .white {
            color : #FFF !important;
        }
        sidebar-toggle-box:hover {
            background: transparent !important;
        }
        /*///////////////////////////icons*/
        .fa-dash::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/dash.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-job::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/job.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-candidate::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/candidate.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-campaign::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/campaign.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-bountie::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/bountie.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-setting::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/setting.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-analytics::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/analytics.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        ul.sidebar-menu li a.active {
            border-left: 3px solid #3AC5D9;
            background: rgba(58, 197, 217, 0.31);
        }
        ul.sidebar-menu li a.active > span {
            color:#FFF ;
        }

        ul.sidebar-menu li a.active > i.fa-dash::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/dash-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-job::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/job-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-candidate::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/candidate-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-campaign::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/campaign-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-bountie::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/bountie-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-analytics::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/analytics-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-setting::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/setting-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }



        ul.sidebar-menu li a span {
            display: inline-block;
            font-size: 14px;
            font-family: semibold;
            line-height:19px;
        }

        li.dropdown > ul.extended {
            background:#2fb0c2;
            /*width:197px !important;*/
            /*height:60px;*/
        }

        .br-mn {
            width: 100%;
            text-align: left;
            border-radius: 0;
            margin-top: 0px;
            border: 0px;
        }
        .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
            text-decoration: none;
            color: #262626;
            background-color: #2fb0c2;
            font-weight: bolder;
        }

        li.dropdown > ul.extended::after {
            display: none;
        }
        li.dropdown > ul.extended::before {
            display: none;
        }
        menu.extended.logout>li>a:hover {
            background: transparent !important;
            /*border-radius: 5px;*/
        }
        .no-pad {
        padding: 0px !important;
        }
        .language {
            margin-left: 0px !important;
            margin-top: 0px;
        }
        .lang_img {
            height: auto !important ;
        }
        li.language > a {
            padding: 10px !important;
            height: 60px;
        }
        ul.language-dropdownmenu > li > a >img {
            height: auto !important;
            border-radius: 0px; 
             -webkit-border-radius: 0px; 
        }
        ul.language-dropdownmenu {
            left:0px !important;
            margin: 0px;
            border-radius: 0px;
            background: #2fb0c2;
            
        }
        .fa-bell-o:before {
            color: #FFF;
            font-size: 20px;
        }
        ._iiutyrt{
        font-size: 13px !important;
            color: #FFF;
    font-family: 'Open Sans',sans-serif;
        }
        a > img.lang_img{
        border-radius: 0px;
        width: 18px;
        -webkit-border-radius: 0px;
        }
        ul.language-dropdownmenu > li > a {
        font-family: 'Open Sans',sans-serif;
        }
        .mg_iuu{
        margin-left: 0px !important;
        color: #FFF;
        }
        ._100{
            width: 100px;
        }
        .language .dropdown-menu li a:hover {
            background: #2fb0c2;
            color: #FFF;
        }
        .language .dropdown-menu li a {
            background: #2fb0c2;
            color: #FFF;
        }
        
         .dash_yystd{
             top:0px;
            height: 60px;
             left: 240px;
             right: 0px;
             background:#3AC5D9;
        }
        /*.dash_left_mg {*/
        /*margin-left: 150px;*/
        /*}*/
        ._hide{display: none}
        .dash_uurtt{
            background: transparent !important;
            font-size: 20px;color: #FFF
        }
        .dash_ttrrer{
            padding-bottom: 5px; margin-top: -15px;
        }
        .dash_tdsf{top :22px !important}
        .dash_stter{height: 60px}
        .dash_sttdtf{font-size: 13px;}
        .dash_ttdrfr{
            font-family: 'Open Sans',sans-serif ;
            font-size:20px !important;
            line-height:30px;}
        .dash_front_gfg{padding-bottom: 5px;
    margin-top: -15px;}
        
        
        .dash_rtterw{
        font-size:20px;    font-family: 'Open Sans',sans-serif;
        }
        .front_dttf{width:20px}
        
        .front_dttf {
            width: 18px !important;
        }
        ul.language-dropdownmenu {
            /*background: #FFF;*/
        }
        .ang-wdth {
            width: 90% !important;
        }
        .ng-view-class {
            padding: 15px;
        }
        .candidate-name {
            margin-left: 15px;
            color: #576475 !important;
    font-size: 13px !important;
        }


        
        @media (max-width: 1024px) {
            table.tbl-spa-1 > tbody > tr >td {
                position: relative;
                padding-left: 80px !important;
                text-align: right;
                float: right;
                display: block;
                width: 100%;
                min-height: 50px;
            }
            table.tbl-spa-1 > tbody > tr >td:nth-child(1):before{
                content : "NAME";
                width: 12%;
                position: absolute;
                left: 5px;
                text-transform: uppercase;
                color: #2c3d51;
                opacity: 0.4;
                float: left;
                text-align: left;
                font-weight: bolder;
                display: inline-block;
                vertical-align: middle;
                top: 33%;
            }
            table.tbl-spa-1 > tbody > tr >td:nth-child(2):before{
                content : "POINTS";
                width: 12%;
                position: absolute;
                left: 5px;
                text-transform: uppercase;
                color: #2c3d51;
                opacity: 0.4;
                float: left;
                text-align: left;
                font-weight: bolder;
                display: inline-block;
                vertical-align: middle;
                top: 33%;
            }
            table.tbl-spa-2 > tbody > tr >td {
                position: relative;
                padding-left: 80px !important;
                text-align: right;
                float: right;
                display: block;
                width: 100%;
                min-height: 50px;
            }
            table.tbl-spa-2 > tbody > tr >td:nth-child(1):before{
                content : "CAMPAIGN";
                width: 12%;
                position: absolute;
                left: 5px;
                text-transform: uppercase;
                color: #2c3d51;
                opacity: 0.4;
                float: left;
                text-align: left;
                font-weight: bolder;
                display: inline-block;
                vertical-align: middle;
                top: 33%;
            }
            table.tbl-spa-2 > tbody > tr >td:nth-child(2):before{
                content : "RECOMMENDERS";
                width: 12%;
                position: absolute;
                left: 5px;
                text-transform: uppercase;
                color: #2c3d51;
                opacity: 0.4;
                float: left;
                text-align: left;
                font-weight: bolder;
                display: inline-block;
                vertical-align: middle;
                top: 33%;
            }
            table.tbl-spa-3 > tbody > tr >td {
                position: relative;
                padding-left: 80px !important;
                text-align: right;
                float: right;
                display: block;
                width: 100%;
                min-height: 50px;
            }
            table.tbl-spa-3 > tbody > tr >td:nth-child(1):before{
                content : "Name";
                width: 12%;
                position: absolute;
                left: 5px;
                text-transform: uppercase;
                color: #2c3d51;
                opacity: 0.4;
                float: left;
                text-align: left;
                font-weight: bolder;
                display: inline-block;
                vertical-align: middle;
                top: 33%;
            }
            table.tbl-spa-3 > tbody > tr >td:nth-child(2):before{
                content : "Points";
                width: 12%;
                position: absolute;
                left: 5px;
                text-transform: uppercase;
                color: #2c3d51;
                opacity: 0.4;
                float: left;
                text-align: left;
                font-weight: bolder;
                display: inline-block;
                vertical-align: middle;
                top: 33%;
            }
        }
       
                li.how-it-works {
            margin-left: 0px !important;
        }
        a.how-it-works-popup {
            font-size: 13px !important;
            color: #FFF !important;
            padding: 8px !important;
            padding-top: 21px !important;
            padding-bottom: 21px !important;
            font-family: 'Open Sans',sans-serif !important;
        }
        a.how-it-works-popup:hover {
            font-size: 13px !important;
            color: #FFFFFF !important;
        }
        li.how-it-works > a.how-it-works-popup:hover {
            color: #FFFFFF !important
        }
        .work-popup {
            margin: 100px auto ;
            width: 100%;
            max-width: 800px;
        }
        .import-linkedin-cnx {
            padding: 15px;
            text-align: center;
                padding: 15px;
    border: 2px solid #7dcc93;
    /*position: absolute;*/
    left: 0px;
    right: 30px;
    top: 15px;
    border-radius: 4px;
        }
        ._uurtyyrt__ {
            font-size: 16px;
            font-weight: 800;
            color: #3e3e3e;
        }
        .pdyydtt__r{
            font-size: 12px;
            color: #727272;
                margin: 0px;
        }
        .iisudttdr55 {
            color: #7dcc93;
        }
        .imp-uy-cnx {
            background: #0077B5;
    color: #FFF;
    padding: 5px;
    margin-top: 10px;
    display: block;
        }
        .ssiideereee00 {
            margin-top: 50%;
            margin-bottom: 50%;
        }
        .up-btn-likdn{
            font-size: 10px !important;
            color: #3e3e3e !important;
        }

        .logo
        {
            background: #3AC5D9;
            height: 60px;
        }