@import url(https://fonts.googleapis.com/css?family=Roboto:500,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
body {
    background: #f1f2f7;
}
.dropdown-menu {
    overflow: hidden ;
}
#search-bar {
    /*max-height: 610px;*/
    margin-top: 60px;
    /*height: 100%;*/
    width: auto;
    background: rgba(51, 51, 51, 0.4);
    /*margin-top: 90px;*/
    text-align: right ;
    background-image: url("/resources/frontend/css/theme/images/talent.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*
@media (max-width:600px){
    #search-bar {
            background-size: auto 350px!important;
    }
}
*/
@media all and (max-width: 768px){
    #search-bar{
        height:auto;
        padding-bottom: 20px;
    }
}
#search-bar .wor {
    margin: 0px;
    background: rgba(51, 51, 51, 0.4);
    height: 110px;
    padding-top: 35px;
    width: 100%;
    /*        max-width:1170px ;
                  margin:0 auto ;*/
}


@media (max-width:970px){
    #search-bar .wor {
        height:auto;
    }
}

#search-bar .wor #container-brain {
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width: 970px){
    #container-brain {
        padding-right:20px;
        padding-bottom:20px;
    }
}

#search-bar .wor div h1.front-title {
    margin: 0px;
    padding: 0px;
    font-family: semibold;
    font-size: 20px;
    color: #ffffff;
    line-height: 27px;
    text-align: left ;
}
#search-bar .wor #filters-area {
    padding-right: 0px;
}
#search-bar .wor #filters-area .search-link {
    position: relative ;
}
#search-bar .wor #filters-area .search-link:hover,
#search-bar .wor #filters-area .search-link:focus {
    color: transparent;
}
#search-bar .wor #filters-area .search-link .input-search {
    font-family: semibold;
    font-size: 15px;
    display: none;
    position: absolute ;
    right: -48px;
    height: 42px;
    border-radius: none;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #cccccc;
    border-radius: 3px 0px 0px 3px;
    width: 260px !important;
}

@media (max-width:970px){
    #search-bar .wor #filters-area .search-link .input-search {
        max-width: 100%;
        width: 100%!important;
        min-width: 195px;
    }

    .bounty-link {
        margin-top:50px!important;
        display:block;
    }
}

#search-bar .wor #filters-area .active {
    margin-left: 30px;
}

@media(max-width:970px){
    #search-bar .wor #filters-area .active {
        margin-left:0px;
    }
}

#search-bar .wor #filters-area .active:before {
    opacity: 0.4;
    background: #333333;
    content: "";
    left: 124px;
    /*margin-left: 30px;*/
    width: 103px;
    height: 110px;
    display: inline-block;
    position: absolute;
    bottom: -33px;
}

@media (max-width:970px)
{
    #search-bar .wor #filters-area .active:before {
        display:none;
    }
}
#search-bar .wor .search {
    background: #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 42px;
    height: 42px;
    display: inline-block;
    border: 0px;
}
#search-bar .wor .search:before {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/search-white.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 17px;
    height: 17px;
    position: relative;
    top: 6px;
    vertical-align: middle;
    text-align: center;
    right: 17px;
}
#search-bar .wor .filter {
    background: #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 42px;
    height: 42px;
    display: inline-block;
    position: relative;
}
#search-bar .wor .filter:before {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/filter-white.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 17px;
    height: 17px;
    position: relative;
    top: 6px;
    vertical-align: middle;
    text-align: center;
    right: 11px;
}
#search-bar .rewards-home {
    max-width: 1200px;
    margin: 0 auto ;
    text-align: center ;
    /*    margin-top: 30px;
        padding-bottom: 30px;*/
    /*margin-bottom: 30px;*/
}
#search-bar .rewards-home > * {
    border-radius: 10px !important;
    padding: 0px;
    margin-top: 15px;
    background: #fafafa;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    width: 30% ;
    min-width: 280px;
    min-height: 342px;
    /*height: 349px;*/
    cursor: pointer;
}
#search-bar .rewards-home > *:last-child .pub {
    background: #4F5C69;
}
#search-bar .rewards-home > * .pub {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background: #007B70;
    padding: 0px;
    margin: 0px;
    max-height: 152px;
    box-shadow: none !important;
    position: relative;
    min-height: 152px;
}
#search-bar .rewards-home > * .pub img {
    background: none;
    margin: 0px;
    width: 100%;
    height: 100%;
    box-shadow: none !important;
    max-height: 152px;
    /*                    max-height: 179px;
                                          background: red;*/
}
#search-bar .rewards-home > * .pub .br-head {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 0;
    font-family: semibold;
    font-size: 40px;
    color: black;
    line-height: 55px;
    background-color: #ffffffa3;
}
#search-bar .rewards-home > * .pub .br-para {
    text-align: center;
    position: absolute;
    top: 40%;
    padding: 0 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;
    line-height: 27px;
    background-color: #ffffffa3;
    width: 100%;
}
#search-bar .rewards-home > * .pub .br-middle {
    padding: 5px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    color: #fafafa;
    line-height: 27px;
    /* left: 22%; */
    text-align: center;
    /* bottom: 112px; */
    top: -55px !important;
    background-color: #009941;
    margin: 0 10%;
    border-radius: 25px;


}
#search-bar .rewards-home > * .br-content {
    padding: 6px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    min-height: fit-content;
    height: 30px;
    min-width: auto;
    min-width: -moz-available;
    min-width: -webkit-fill-available;
    display: table;
}
#search-bar .rewards-home > * .br-content > * {
    text-align: left;
}
#search-bar .rewards-home > * .br-content h2 {
    font-family: semibold;
    font-size: 18px;
    color: #7dcc93;
    line-height: 19px;
}
#search-bar .rewards-home > * .br-content p {
    opacity: 0.69;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 17px;
    text-align: left;
}
#search-bar .rewards-home > * .br-detail {
    padding: 20px 20px;
    min-height: 70px;
}
#search-bar .rewards-home > * .br-detail .br-location {
    width: 60%;
    float: left;
}
#search-bar .rewards-home > * .br-detail .br-location .br-location-icon {
    content: "";
    display: inline-block;
    background-image: url("/resources/frontend/css/theme/icons/location.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10px;
    height: 14px;
    position: relative;
    top: 1px;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right: 15px;
}

.br-facebook-icon {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/facebook.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right:5px;
}

.br-linkedin-icon {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/linkedin.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right: 5px;
}

.br-twitter-icon {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/twitter.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right: 5px;
}


.br-email-icon {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/email.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right: 5px;
}


#search-bar .rewards-home > * .br-detail .br-location p {
    opacity: 0.4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
    text-align: left;
}
@media all and (max-width: 800px){
    #job-detail .row > .col-sm-4.nopd{
        width:100%;
    }
}
#search-bar .rewards-home > * .br-detail .br-link-detail {
    width: 40%;
    float: right;
    text-align: right;
    padding-top: 5px;
}
#search-bar .rewards-home > * .br-detail .br-link-detail a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #7dcc93;
    line-height: 19px;
    text-align: right;
    bottom: 3px;
    position: relative;
}
#filter-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto ;
    padding-top: 10px;
    padding-bottom: 5px;
}
.search-filters-input {
    display: none ;
    margin: 0 auto ;
    /*opacity:0.6;*/
    background: rgba(51, 51, 51, 0.6);
    width: 100%;
    height: 110px;
}

@media (max-width:970px){
    .search-filters-input {
        height: auto;
    }
}

#jobs .rewards-home {
    max-width: 1200px;
    margin: 0 auto ;
    text-align: center ;
    margin-top: 30px;
    margin-bottom: 30px;
}
#jobs .rewards-home > * {
    padding: 0px;
    margin: 15px;
    background: #fafafa;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    width: 369px;
    height: 349px;
}
#jobs .rewards-home > *:last-child .pub {
    background: #4F5C69;
}
#jobs .rewards-home > * .pub {
    background: #007B70;
    padding: 0px;
    margin: 0px;
    max-height: 179px;
    box-shadow: none !important;
}
#jobs .rewards-home > * .pub img {
    background: none;
    margin: 0px;
    width: 100%;
    height: 100%;
    box-shadow: none !important;
    /*                    max-height: 179px;
                                          background: red;*/
}
#jobs .rewards-home > * .pub .br-head {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -50px;
    font-family: semibold;
    font-size: 40px;
    color: #fafafa;
    line-height: 55px;
}
#jobs .rewards-home > * .pub .br-para {
    position: absolute;
    top: 95px;
    padding: 0 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #fafafa;
    line-height: 27px;
}
#jobs .rewards-home > * .pub .br-middle {
    position: absolute;
    top: 125px;
    font-family: semibold;
    font-size: 21px;
    color: #fafafa;
    line-height: 27px;
    left: 22%;
}
#jobs .rewards-home > * .br-content {
    padding: 6px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#jobs .rewards-home > * .br-content > * {
    text-align: left;
}
#jobs .rewards-home > * .br-content h2 {
    font-family: semibold;
    font-size: 18px;
    color: #7dcc93;
    line-height: 19px;
}
#jobs .rewards-home > * .br-content p {
    opacity: 0.69;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
    text-align: left;
}
#jobs .rewards-home > * .br-detail {
    padding: 20px 20px;
}
#jobs .rewards-home > * .br-detail .br-location {
    width: 60%;
    float: left;
}
#jobs .rewards-home > * .br-detail .br-location .br-location-icon {
    content: "";
    display: inline-block;
    background-image: url("/resources/frontend/css/theme/icons/location.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10px;
    height: 14px;
    position: relative;
    top: 1px;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right: 15px;
}
#jobs .rewards-home > * .br-detail .br-location p {
    opacity: 0.4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
    text-align: left;
}
#jobs .rewards-home > * .br-detail .br-link-detail {
    width: 50%;
    float: right;
    text-align: right;
}
#jobs .rewards-home > * .br-detail .br-link-detail a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #7dcc93;
    line-height: 19px;
    text-align: right;
}
#showAll div {
    text-align: center;
}
#showAll div a {
    /*            margin: 0 auto; 
                          float: left;
                          width: 50%;
                          margin-left: 116px;
                          width: 232px; 
                          top: 12px;
                          position: relative;*/
    font-family: semibold;
    font-size: 14px;
    color: #ffffff;
    line-height: 19px;
    background: #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 5px 15px;
    width: 221px;
    height: 30px;
    position: relative;
    top: 10px;
}
.select2-container-multi .select2-choices {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cccccc;
}
.select2-container {
    height: 42px;
    border: 0px;
    background: transparent;
}
.select2-input {
    height: 42px;
}
.select2-search-choice {
    background: #3ac5d9 !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 115px;
    height: 28px;
}
div#profile-sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    background: #2c3d51;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}
div#profile-sidebar .br-profile-avatar {
    text-align: center ;
    margin-top: 40px;
    position: relative;
}
div#profile-sidebar .br-profile-avatar img {
    width: 150px;
    height: 150px;
    border: 5px solid #3ac5d9;
}
div#profile-sidebar .br-profile-user-information {
    text-align: center;
}
div#profile-sidebar .br-profile-user-information h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #c0c0c0;
    line-height: 19px;
}
div#profile-sidebar .br-profile-user-information span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #3ac5d9;
    line-height: 19px;
    text-align: center;
}
div#profile-sidebar .br-navigation {
    text-align: left;
    margin-top: 35px;
}
div#profile-sidebar .br-navigation nav ul {
    padding: 0px;
    margin-bottom: 0px;

}
div#profile-sidebar .br-navigation nav ul li {
    cursor: pointer;
    list-style: none;
    padding: 18px 0 18px 25px ;
    display: block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 ;
    font-size: 14px;
    color: #297e8e;
    line-height: 19px;
    text-align: left;
    padding-left: 30px;
    border: 1px solid rgba(99, 116, 132, 0.5);
}
div#profile-sidebar .br-navigation nav ul li a {
    color: #297e8e;
}
div#profile-sidebar .br-navigation nav ul li:hover:not(.active) {
    background: rgba(58, 197, 217, 0.1);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
div#profile-sidebar .br-navigation nav ul .active {
    background: rgba(58, 197, 217, 0.3);
    border-left: 3px solid #3ac5d9;
    color: #FFF !important;
}


#br-profile-search {
    background: #dfe4eb;
    height: 93px;
    padding-top: 25px;
    margin-right: 0px;
    margin-left: 15px;
}
#br-profile-search .up-cv {
    float: right;
    background: #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 138px;
    text-align: center;
    line-height: 42px;
    display: block;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 ;
    position: relative;
    left: 10px;
}
#br-profile-search .up-cv .caret {
    position: relative;
    left: 20px;
}
#br-profile-search:last-child .search {
    background: #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 42px;
    height: 42px;
    display: inline-block;
}
#br-profile-search:last-child .search:before {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/search-white.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 17px;
    height: 17px;
    position: relative;
    top: 9px;
    vertical-align: middle;
    text-align: center;
    right: 0px;
}
.br-profile-title {
    margin: 0px;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 ;
    font-size: 20px;
    color: #333333;
    line-height: 19px;
}
#resume-header {
    margin-top: 15px;
}
#resume-header .col-sm-3 {
    /*background: red;*/
    /*padding: 0px;*/
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    /*width: 23%;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    min-height: 120px;
}
#resume-header .col-sm-3:last-child {
    /*margin-right: 0px;*/
}
#resume-header div .resume-content {
    border: 1px solid #dfe4eb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #FFF ;
    margin-bottom: 30px;
}
#resume-header div .resume-content .br-header {
    border-bottom: 1px solid #dfe4eb;
}
#resume-header div .resume-content .br-header .place {
    float: right;
    position: relative;
    right: 3%;
    /* border: 21px; */
    bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #333333;
    opacity: 1;
}
#resume-header div .resume-content .br-header .place strong {
    font-size: 35px;
    font-weight: 700;
}
#resume-header div .resume-content .br-header h2 {
    padding: 15px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 ;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
    text-align: left;
    margin: 0px;
    min-height: 68px;
}
#resume-header div .resume-content .br-header p {
    opacity: 0.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 ;
    font-size: 11px;
    color: #2c3d51;
    line-height: 19px;
    padding: 0px 15px;
}
#resume-header div .resume-content .br-resume-content {
    /*padding: 15px;*/
    height: 60px;
}
#resume-header div .resume-content .br-resume-content .lead-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 ;
    line-height: 26px;
    display: block;
    text-align: center;
    width: 85%;
    margin: 0px auto;
    position: relative;
    top: 25%;
    color: #7dcc93;
    border: 1px solid #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#resume-header div .resume-content .br-resume-content .lead-button:hover {
    background: #7dcc93;
    color: #FFF;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
#resume-header div .resume-content .br-resume-content .n-fix {
    /*bottom: 35px !important ;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 ;
    font-size: 13px;
    color: #333333;
    line-height: 16px;
    text-align: left;
}
#resume-header div .resume-content .br-resume-content .br-fix {
    position: relative ;
    right: 30px;
    float: right;
}
#resume-header div .resume-content .br-resume-content div:first-child {
    width: 50%;
    float: left;
    padding-left: 15px;
}
#resume-header div .resume-content .br-resume-content div:first-child strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 ;
    font-size: 35px;
    color: #333333;
    line-height: 53px;
    text-align: center;
    float: left;
    width: 50%;
}
#resume-header div .resume-content .br-resume-content div:first-child span {
    margin-top: 10px;
    width: 50%;
    float: right;
}
#resume-header div .resume-content .br-resume-content div:last-child {
    padding-top: 15px;
    width: 50%;
    float: right;
    text-align: center ;
}
#resume-header div .resume-content .br-resume-content div:last-child .checked {
    content: "";
    display: inline-block;
    background-image: url("/resources/frontend/css/theme/icons/checked.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 36px;
    height: 27px;
    position: relative;
    top: 3px;
}
#resume-header div .resume-content .br-resume-content div:last-child a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 ;
    border: 1px solid #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 127px;
    display: block;
    line-height: 28px;
    color: #7dcc93 ;
}
#resume-header div .resume-content .br-resume-content div:last-child a:hover {
    cursor: auto ;
    background: #7dcc93;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.glyphicon-plus-fix {
    background: #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 10px;
}
.glyphicon-plus-fix:before {
    top: 8px;
    position: relative;
    text-align: center;
    display: block;
    right: 0px;
}
.profile-input {
    outline: none;
    box-shadow: none;
    border: 0px;
    border-bottom: 2px solid #CCC;
    border-radius: 0px !important;
}
.profile-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0px !important;
    border-bottom: 2px solid #CCC !important;
    border-radius: 0px !important;
}
/*textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    bo
}*/
.centers {
    text-align: right;
    right: 25px;
}
.br-profile-title-page {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 ;
    font-size: 20px;
    color: #333333;
    line-height: 19px;
    padding: 0px 25px;
}
.hr-profile {
    margin-left: 25px;
    width: 92%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.2;
    border: 1px solid #979797;
}
nav#profile-skills ul {
    display: bloxk ;
}
nav#profile-skills ul li {
    list-style: none;
    float: left;
    background: #3ac5d9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 4px 10px;
    margin: 3px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 ;
    font-size: 14px;
}
.br-job-his-ttle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
    padding: 0px 25px;
}
.br-job-his-date {
    opacity: 0.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #2c3d51;
    line-height: 19px;
    padding: 0px 25px;
}
.green-pen {
    background: #FFF;
    border: 2px solid #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 10px;
}
.green-pen:before {
    content: "";
    display: inline-block;
    background-image: url("/resources/frontend/css/theme/icons/green-pen.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 12px;
    height: 12px;
    position: relative;
    top: 0px;
    vertical-align: middle;
    text-align: center;
    right: -4px;
}
#br-profile-jobs-fix-col {
    min-height: 260px;
}
.profile-control {
    max-width: 85%;
    margin-left: 25px;
}
.profile-control label {
    opacity: 0.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #2c3d51;
    line-height: 19px;
}
.profile-control input {
    background: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 40px;
}
.profile-control:nth-child(2) {
    margin-right: 3px;
}
.range-cal {
    background: #7dcc93;
    border: 2px solid #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    top: 33px;
    right: 5px;
}
.range-cal:before {
    content: "";
    display: inline-block;
    background-image: url("/resources/frontend/css/theme/icons/cal.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 12px;
    height: 12px;
    position: relative;
    top: 2px;
    vertical-align: middle;
    text-align: center;
    right: -7px;
}
.hr-lg {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 15px;
    opacity: 0.2;
    border: 1px solid #979797;
}
.padd-left-25 {
    padding: 0px 25px;
}
.download-pdf {
    content: "";
    display: inline-block;
    background-image: url("/resources/frontend/css/theme/icons/download-pdf.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 42px;
    margin-right: 20px;
}
.download-txt {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
}
.download-file {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #3ac5d9;
    line-height: 19px;
    text-align: left;
}
#setting-layout {
    padding: 0 25px;
}
#setting-layout hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 0px;
}
#setting-layout .row .form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#setting-layout .row .brain-back-drop:after {
    background-clip: padding-box;
    background-color: #7dcc93;
    border-radius: 3px;
    content: url("/resources/admin/css/theme/icons/crt.png");
    display: block;
    height: 28px;
    padding: 4px 16px 3px 9px;
    position: relative;
    top: -34px;
    visibility: visible;
    width: 28px;
    float: right;
    right: 5px;
}
#setting-layout .row h2 {
    padding: 0 13px;
    opacity: 0.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #2c3d51;
    line-height: 19px;
}
#setting-layout .row div .form-group label {
    font-family: 'Open Sans', sans-serif;
    opacity: 0.8;
    font-weight: 700;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
    text-align: left;
}
#setting-layout .row div .form-group select,
#setting-layout .row div .form-group input[type="text"],
#setting-layout .row div .form-group input[type="password"] {
    height: 40px;
}
#setting-layout .row div .form-group .dropzone {
    min-height: 248px;
    border: 2px dashed #cccccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: rgba(215, 215, 215, 0.1) !important;
}
#setting-layout .row div .form-group .dropzone .brain-msg p:first-child {
    max-width: 333px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
    text-align: center;
    padding:0 20px;
}
#setting-layout .row div .form-group .dropzone .brain-msg p:last-child {
    opacity: 0.6;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #333333;
    line-height: 19px;
    text-align: center;
}
#setting-layout .row .btn-brain {
    background: #FFFFFF;
    border: 2px solid #7dcc93;
    width: 116px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#setting-layout .row .btn-brain:hover {
    background: #7dcc93;
    color: #FFFFFF;
}
#setting-layout .row .btn-brain:hover .spn {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
#setting-layout .row .btn-brain .spn {
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #7dcc93;
    line-height: 24px !important;
    text-align: center;
}
#setting-layout .row .btn {
    background: #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #7dcc93;
    max-width: 279px;
    width: 100%;
    /*height:42px;*/
    position: relative;
    top: 20px;
}
#setting-layout .row .btn:hover {
    background: #FFF;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
#setting-layout .row .btn-default {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
}
#setting-layout .row .btn-default:hover {
    color: #7dcc93;
}
#setting-layout .row:last-child p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
}
#setting-layout .row:last-child p a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #3ac5d9;
    line-height: 19px;
    text-align: left;
}
#setting-layout .row table,
#setting-layout .row th,
#setting-layout .row td {
    border-left: none;
    border-right: none;
}
#setting-layout .row table {
    /*background: #FFF ;*/
}
#setting-layout .row table thead {
    border-top: 1px solid #FFF;
}
#setting-layout .row table thead tr th {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #2c3d51;
    line-height: 19px;
}
#setting-layout .row table tbody tr:not(:first-child) td {
    border-left: 0px;
    border-right: 0px;
    vertical-align: middle;
}
#setting-layout .row table tbody tr:not(:first-child) td:first-child {
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
}
#setting-layout .row table tbody tr:not(:first-child) td:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
}
#setting-layout .row table tbody tr:last-child td {
    /*border-bottom: 1px solid #FFF*/
    border-bottom: 1px solid transparent;
}
#setting-layout .row table tr:nth-of-type(odd) {
    background: #FFFFFF;
}
#setting-layout .row table tr:nth-of-type(even) {
    background: #FFFFFF;
}
.reward-data {
    width: 89%;
    margin: 0 auto ;
    padding: 10px 0px;
    background: #FFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #dfe4eb;
    overflow: hidden;
    padding: 30px 0px;
}
@media all and (max-width: 1520px){
    .reward-data{
        width: 100%;
        min-height:140px;
    }
}
@media all and (max-width: 1200px){
    #rewards-layout .col-sm-4{
        width: 100%;
    }
}
@media all and (min-width: 620px) and (max-width: 972px){
    #rewards-layout .col-sm-4{
        width:33.33%;
        padding:0 15px;
        float: left;
    }
}
.reward-data div:first-child {
    width: 15%;
    float: left;
    text-align: center ;
}
.reward-data div:first-child strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #333333;
    line-height: 53px;
    text-align: center;
    padding-left: 10px;
}
.reward-data div:nth-child(2) {
    width: 30%;
    float: left;
    text-align: center;
    margin-top: 7px;
}
.reward-data div:nth-child(2) p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
}
.reward-data div:last-child {
    width: 55%;
    float: left;
    text-align: center;
    margin-top: 17px;
}
.reward-data div:last-child .btn-brain {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: 1px solid #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    max-width: 141px;
    width: 100%;
    line-height: 22px;
    color: #7dcc93;
}
.reward-data div:last-child .btn-brain:hover {
    color: #FFFFFF;
    background: #7dcc93;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.check-valid:after {
    background-clip: padding-box;
    border-radius: 3px;
    content: url("/resources/frontend/css/theme/icons/check-valid.png");
    display: block;
    height: 28px;
    padding: 4px 16px 3px 9px;
    position: relative;
    /*top: -34px;*/
    visibility: visible;
    right: 5px;
}
.check-not-valid:after {
    background-clip: padding-box;
    border-radius: 3px;
    content: url("/resources/frontend/css/theme/icons/check-not-valid.png");
    display: block;
    height: 28px;
    padding: 4px 16px 3px 9px;
    position: relative;
    /*top: -34px;*/
    visibility: visible;
    right: 5px;
}
.redsi-tbl {
    width: 16%;
    text-align: center ;
}
.redsi-tbl-lst {
    width: 10%;
    text-align: center ;
}
#application-layout .row {
    margin-right: 0px;
}
#application-layout .row .col-sm-6 {
    min-height: 104px;
}
#application-layout .row .col-sm-6:first-child {
    background: #f7b17e;
}
#application-layout .row .col-sm-6:last-child {
    background: #7dcc93;
}
#application-layout .row .col-sm-6 h2 {
    text-align: center ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: #ffffff;
    line-height: 68px;
    margin: 0px;
}
#application-layout .row .col-sm-6 p {
    text-align: center ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    line-height: 22px;
}
#application-layout-tbl table,
#application-layout-tbl th,
#application-layout-tbl td {
    border-left: none;
    border-right: none;
}
#application-layout-tbl table {
    /*background: #FFF ;*/
}
#application-layout-tbl table thead {
    border-top: 1px solid #FFF;
}
#application-layout-tbl table thead tr th { 
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #2c3d51;
    line-height: 19px;
}
#application-layout-tbl table tbody tr {
    /*                &:not(:first-child) {*/
    /*}*/
}
#application-layout-tbl table tbody tr td {
    height: 30px;
    border-left: 0px;
    border-right: 0px;
    vertical-align: middle;
}

@media all and (max-width: 1025px){
    #application-layout-tbl table tbody tr td{
        position:relative;
        width: 100%;
        text-align: right;
        padding-left: 30px !important;
    }
    #application-layout-tbl table tbody tr td:before{
        content: "";
        position:absolute;
        left:10px;
        width: auto;
        font-size: 11px;
        color: #2c3d51;
    }
    #application-layout-tbl table tbody tr td:first-child:before{
        content: "Job Title";
    }
    #application-layout-tbl table tbody tr td:nth-child(2):before{
        content: "Company";
    }
    #application-layout-tbl table tbody tr td:nth-child(3):before{
        content: "Date";
    }
    #application-layout-tbl table tbody tr td:nth-child(4):before{
        content: "Status";
    }
    #application-layout-tbl table tbody tr td:nth-child(5):before{
        content: "Actions";
    }
}
#application-layout-tbl table tbody tr td:first-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
}
#application-layout-tbl table tbody tr td:not(:first-child) {
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
}
#application-layout-tbl table tbody tr:last-child td {
    /*border-bottom: 1px solid #FFF*/
    border-bottom: 1px solid transparent;
}
#application-layout-tbl table tr:nth-of-type(odd) {
    background: #FFFFFF;
}
#application-layout-tbl table tr:nth-of-type(even) {
    background: #FFFFFF;
}
#recommendations-layout .row {
    margin-right: 0px;
}
#recommendations-layout .row .col-sm-4 {
    min-height: 104px;
}
#recommendations-layout .row .col-sm-4:first-child {
    background: #f7b17e;
}
#recommendations-layout .row .col-sm-4:nth-child(2) {
    background: #3ac5d9;
}
#recommendations-layout .row .col-sm-4:last-child {
    background: #7dcc93;
}
#recommendations-layout .row .col-sm-4 h2 {
    text-align: center ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: #ffffff;
    line-height: 68px;
    margin: 0px;
}
#recommendations-layout .row .col-sm-4 p {
    text-align: center ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    line-height: 22px;
}
#recommendations-layout-tbl table,
#recommendations-layout-tbl th,
#recommendations-layout-tbl td {
    border-left: none;
    border-right: none;
}
#recommendations-layout-tbl table {
    /*background: #FFF ;*/
}
#recommendations-layout-tbl table thead {
    border-top: 1px solid #FFF;
}
#recommendations-layout-tbl table thead tr th {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #2c3d51;
    line-height: 19px;
}
#recommendations-layout-tbl table tbody tr {
    /*                &:not(:first-child) {*/
}
#recommendations-layout-tbl table tbody tr td {
    height: 30px;
    border-left: 0px;
    border-right: 0px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
}
#recommendations-layout-tbl table tbody tr td .reminder {
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #7dcc93;
    line-height: 30px;
    color: #000;
    padding: 5px 20px;
}
#recommendations-layout-tbl table tbody tr td .reminder:hover {
    text-decoration: none;
    background: #7dcc93 ;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
#recommendations-layout-tbl table tbody tr td:not(:first-child):not(:nth-child(2)) {
    opacity: 0.6;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
}
#recommendations-layout-tbl table tbody tr:last-child td {
    /*border-bottom: 1px solid #FFF*/
    border-bottom: 1px solid transparent;
}
#recommendations-layout-tbl table tr:nth-of-type(odd) {
    background: #FFFFFF;
}
#recommendations-layout-tbl table tr:nth-of-type(even) {
    background: #FFFFFF;
}
#reminder-popup {
    background: #ffffff;
    border-radius: 3px;
    width: 612px;
    /* height: 556px; */
    margin: 120px auto;
    /*width:95% !important;*/
}
#reminder-popup .modal-header {
    border: 0px;
}
#reminder-popup .modal-header .modal-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    line-height: 19px;
}
#reminder-popup .hr-popup {
    opacity: 0.3;
    border: 1px solid #979797;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    width: 612px;
    height: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#reminder-popup .modal-body .btn-popup {
    width: 100% !important;
    background: #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
}
#camp-layout .row {
    margin-right: 0px;
}
#camp-layout .row .col-half-offset {
    margin-left: -0.833333%;
}
#camp-layout .row .col-sm-2 {
    width: 20.666667%;
    min-height: 104px;
}
#camp-layout .row .col-sm-2:first-child {
    background: #f7b17e;
}
#camp-layout .row .col-sm-2:first-child span {
    font-size: 38px;
}
#camp-layout .row .col-sm-2:nth-child(2) {
    background: #3ac5d9;
}
#camp-layout .row .col-sm-2:nth-child(3) {
    background: #f581a8;
}
#camp-layout .row .col-sm-2:nth-child(4) {
    background: #7dcc93;
}
#camp-layout .row .col-sm-2:last-child {
    background: #637484;
}
#camp-layout .row .col-sm-2 h2 {
    text-align: center ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: #ffffff;
    line-height: 68px;
    margin: 0px;
}
#camp-layout .row .col-sm-2 p {
    text-align: center ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    line-height: 22px;
}
.alert-greeen-pen {
    float: right;
    position: relative;
    right: 3%;
    /* border: 21px; */
    bottom: 20px;
}
#camp-layout-tbl table,
#camp-layout-tbl th,
#camp-layout-tbl td {
    border-left: none;
    border-right: none;
}
#camp-layout-tbl table {
    /*background: #FFF ;*/
}
#camp-layout-tbl table thead {
    border-top: 1px solid #FFF;
}
#camp-layout-tbl table thead tr th {
    background: #FFF;
    opacity: 0.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #2c3d51;
    line-height: 19px;
}
#camp-layout-tbl table thead tr th:last-child {
    width: 15%;
    text-align: center;
}
#camp-layout-tbl table thead tr th:not(:first-child):not(:last-child) {
    text-align: center;
}
#camp-layout-tbl table tbody tr {
    /*                &:not(:first-child) {*/
    /*}*/
}
#camp-layout-tbl table tbody tr td {
    height: 30px;
    border-left: 0px;
    border-right: 0px;
    vertical-align: middle;
}
#camp-layout-tbl table tbody tr td:first-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
}
#camp-layout-tbl table tbody tr td:not(:first-child) {
    opacity: 0.6;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
}
#camp-layout-tbl table tbody tr td:not(:first-child):not(:last-child) {
    text-align: center;
}
#camp-layout-tbl table tbody tr td:last-child {
    text-align: right;
}
#camp-layout-tbl table tbody tr:last-child td {
    /*border-bottom: 1px solid #FFF*/
    border-bottom: 1px solid transparent;
}
#camp-layout-tbl table tr:nth-of-type(odd) {
    background: #FFFFFF;
}
#camp-layout-tbl table tr:nth-of-type(even) {
    background: #FFFFFF;
}
.col-sm-search {
    /*    text-align: center;
          position: relative;
          left: 90px;
          width: 10%*/
    text-align: center;
    position: absolute;
    right: 9px;
    width: 7%;
}
#dynamic-table_wrapper .bottom {
    position: relative;
    height: 60px;
    width: 100%;
}
#dynamic-table_wrapper .bottom div {
    position: absolute;
}
#dynamic-table_wrapper .bottom #dynamic-table_paginate {
    right: 10px;
    top: 20px;
}
#dynamic-table_wrapper .bottom #dynamic-table_paginate ul .prev a {
    visibility: hidden;
}
#dynamic-table_wrapper .bottom #dynamic-table_paginate ul .prev a:before {
    display: inline-block;
    width: 0;
    height: 0;
    /* margin-left: 0px; */
    vertical-align: middle;
    border-right: 6px solid;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    color: #FFF;
    visibility: visible;
    content: "";
    text-align: center;
    left: 5px;
    position: relative;
}
#dynamic-table_wrapper .bottom #dynamic-table_paginate ul .next a {
    visibility: hidden;
}
#dynamic-table_wrapper .bottom #dynamic-table_paginate ul .next a:before {
    display: inline-block;
    width: 0;
    height: 0;
    /* margin-left: 0px; */
    vertical-align: middle;
    border-left: 6px solid;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    color: #FFF;
    visibility: visible;
    content: "";
    text-align: center;
    left: 15px;
    position: relative;
}
#dynamic-table_wrapper .bottom #dynamic-table_paginate ul li {
    background: #7DCC93;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
}
#dynamic-table_wrapper .bottom #dynamic-table_paginate ul li:not(:first-child):not(:last-child) {
    display: none;
}
#dynamic-table_wrapper .bottom #dynamic-table_paginate ul li a {
    /*background: #7DCC93;*/
}
#dynamic-table_wrapper .bottom #dynamic-table_paginate ul li a .active {
    /*background: #7DCC93;*/
}
#dynamic-table_wrapper .bottom #dynamic-table_paginate ul li a .active:hover {
    /*background: #7DCC93;*/
}
#dynamic-table_wrapper .bottom #dynamic-table_paginate ul li:hover {
    /*background: #7DCC93 ;*/
}
#dynamic-table_wrapper .bottom #dynamic-table_info {
    right: 90px;
    top: 14px;
}
#dynamic-table_wrapper .bottom #dynamic-table_length {
    right: 180px;
}
#dynamic-table_wrapper .bottom #dynamic-table_length .abc {
    position: absolute;
    background: #7DCC93;
    height: 20px;
    width: 20px;
    display: block;
    top: 23px;
    right: 19px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#dynamic-table_wrapper .bottom #dynamic-table_length .abc:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 6px solid;
    border-left: 6px solid #7DCC93;
    border-right: 6px solid #7DCC93;
    color: #FFFFFF;
    content: "";
    visibility: visible;
    background: #FFF;
}
#dynamic-table_wrapper .bottom #dynamic-table_length select {
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.daterangepicker .left .calendar-table table thead tr,
.daterangepicker .right .calendar-table table thead tr {
    background: #FFF !important;
}
.daterangepicker .left .calendar-table table tbody tr:nth-of-type(odd),
.daterangepicker .right .calendar-table table tbody tr:nth-of-type(odd) {
    background: transparent;
}
.daterangepicker .left .calendar-table table tbody tr td .in-range,
.daterangepicker .right .calendar-table table tbody tr td .in-range {
    background: #7dcc93 !important;
}
#job-detail {
    margin-top: 60px;
    background: rgba(44, 61, 81, 0.89);
    /*width: 100%;*/
    min-height: 260px;
    height: 100%;
}

@media (max-width:970px){
    #job-detail {
        margin-left:0px;
    }

    section#jobs-detail {
        margin-left:0px!important;
    }
}

#job-detail .container .row .col-sm-8 .job-detail-info {
    padding: 30px 0px;
    overflow: hidden;
}
#job-detail .container .row .col-sm-8 .job-detail-info .job-detail-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
    line-height: 41px;
}
#job-detail .container .row .col-sm-8 .job-detail-info .job-detail-type {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 19px;
    text-align: left;
}
#job-detail .container .row .col-sm-8 .job-detail-info .job-detail-expiredate {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: rgba(241, 244, 248, 0.69);
    line-height: 17px;
    text-align: left;
}
#job-detail .container .row .col-sm-8 .job-detail-info .job-detail-hr {
    opacity: 0.2;
    border: 1px solid #979797;
    width: 75%;
    height: 1px;
    /*float: left;*/
}
#job-detail .container .row .col-sm-8 .job-detail-info .job-detail-info-loc span {
    float: left;
    padding: 0px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.69);
    line-height: 19px;
    text-align: left;
}


#job-detail .container .row .col-sm-8 .job-detail-info .job-detail-info-loc span:first-child {
    padding-left: 0px;
}

@media (max-width:970px){
    #job-detail .container .row .col-sm-8 .job-detail-info .job-detail-info-loc span {
        width:100%;
        display:block;
        padding:10px!important;
    }
}

#job-detail .container .row .col-sm-8 .job-detail-info .job-detail-info-loc .loc:before {
    content: url("/resources/frontend/css/theme/icons/loc.png");
    height: 16px;
    margin-right: 7px;
    position: relative;
    top: 2px;
    width: 11px;
}
#job-detail .container .row .col-sm-8 .job-detail-info .job-detail-info-loc .avaibility:before {
    content: url("/resources/frontend/css/theme/icons/avaibility.png");
    height: 16px;
    margin-right: 7px;
    position: relative;
    top: 4px;
    width: 11px;
}
#job-detail .container .row .col-sm-8 .job-detail-info .job-detail-info-loc .experience:before {
    content: url("/resources/frontend/css/theme/icons/experience.png");
    height: 16px;
    margin-right: 7px;
    position: relative;
    top: 4px;
    width: 11px;
}
#job-detail .container .row .job-detail-reward-bounty {
    background: url('/resources/frontend/css/theme/images/starts.png') no-repeat;
    background-size: 160%;
    min-height: 280px;
    height: 100%;
}
#job-detail .container .row .job-detail-reward {    
    background-position:center center !important;
    background-repeat: no-repeat !important;  
    min-height: 260px;
    height: 100%;
}
.client-single {
    padding-top: 0px;
}
.job-sidebar {
    padding: 0px;
}

.job-alert-box-recommend {
    background: #7dcc93 !important;
    border-radius: 0px !important;
    text-align: center ;
}
.job-alert-box-recommend:hover {
    cursor: pointer;
    background: #6ab37e !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.job-alert-box-recommend .job-recommend-icn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    line-height: 71px;
    text-align: center;
}
.job-alert-box-recommend .job-recommend-icn:before {
    content: url("/resources/frontend/css/theme/icons/share.png");
    height: 16px;
    margin-right: 7px;
    position: relative;
    top: 4px;
    width: 11px;
}
.job-alert-box-time-recommend {
    background: #FFF !important;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.5);
    line-height: 19px;
    margin: 0px !important ;
    padding: 0px;
}
.job-recommend-box-apply-job-notlogged {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #7dcc93;
    text-align: center ;
}
.job-recommend-box-apply-job-notlogged span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #7dcc93;
    line-height: 19px;
    text-align: cente;
}
.job-recommend-box-apply-job-notlogged:hover {
    cursor: pointer ;
    background: #7dcc93 !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.job-recommend-box-apply-job-notlogged:hover span {
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.job-recommend-box-apply-job {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #7dcc93;
    text-align: center ;
}
.job-recommend-box-apply-job span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #7dcc93;
    line-height: 19px;
    text-align: cente;
}
.job-recommend-box-apply-job:hover {
    cursor: pointer ;
    background: #7dcc93 !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.job-recommend-box-apply-job:hover span {
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.job-similar-box {
    background: rgba(241, 244, 248, 0.69) !important;
}
.job-similar-box .job-title-box {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    line-height: 19px;
    text-align: left;
    margin-bottom: 35px;
    margin-top: 10px;
}
.job-similar-box .anchor-container {
    display: block;
    height: 100%;
    overflow: hidden;
}
.job-similar-box .anchor-container div:first-child .job-similar-box-title {
    display: block;
    float: left ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    line-height: 22px;
    width: 60%;
}
.job-similar-box .anchor-container div:first-child .job-thumbnail-expire {
    float: right;
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #333333;
    line-height: 17px;
    text-align: left;
}
.job-similar-box .anchor-container div:nth-child(2) .job-thumbnail-department {
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
    text-align: left;
    width: 60%;
}
.job-similar-box .anchor-container div:nth-child(2) .job-thumbnail-expiredate {
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #333333;
    line-height: 17px;
    text-align: left;
    float: right;
}
.job-skills {
    padding: 0px;
}
.all-my-skills .skills li {
    margin: 0px;
}
.all-my-skills .skills li:first-child span {
    margin-left: 0px;
}
.all-my-skills .skills li span {
    background: #3ac5d9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.all-my-skills .skills li span:hover {
    background: #3ac5d9;
}
.all-my-skills .skills li span span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    line-height: 19px;
    text-align: left;
}
#myDropDown {
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.edit-cv {
    float: right;
    background: #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 55px;
    text-align: center;
    line-height: 42px;
    display: block;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.edit-cv:hover {
    float: right;
    background: #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*width: 55px;*/
    text-align: center;
    line-height: 42px;
    display: block;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.edit-cv:focus {
    color : #FFF ;
    text-decoration: none;
}

.glyphicon-remove{
    position: relative;
    top: -12px;
    left: 15px;
}
@media screen and (max-width:1440px) {
    #camp-layout .row .col-sm-2 h2 {
        line-height: 41px !important;
        font-size: 39px !important;
    }
    #camp-layout .row .col-sm-2:first-child span {
        font-size: 28px;
    }

}
@media screen and (max-width:1500px) {
    #camp-layout .row .col-sm-2 p {
        font-size: 14px !important;

    }

}
h2.bounty-title
{
    font-weight: bold;
    color: #fff;
    text-align: center;
    top: 50%;
    position: absolute;
    left: 0;
    font-size:25px;
    width: 100%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    margin-top: 0;
    color: black;
    background-color: #ffffffa3;
}

@media (max-width: 767px){
    h2.bounty-title {
        position:static;
    }
}


h3.bounty-description
{
    color: #fff;
    position: relative;
    text-align: center;
    top: 230px;
    font-size: 22px;
    font-weight: normal;
    margin: 0px;
    color: black;
    background-color: #ffffffa3;
}

.btn-save {
    background: #7dcc93 ;
    border: 2px solid #7dcc93 ;
    width: 120px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #FFFFFF !important ;
}
.btn-save:hover {
    background: #7dcc93 ;
    border: 2px solid #7dcc93 ;
    background: #FFF ;
    color: #7dcc93 !important ;
}

.btn-close {
    background: #FFF ;
    border: 2px solid #7dcc93 ;
    width: 120px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color : #7dcc93 ;
}
.btn-close:hover {
    background: #7dcc93 ;
    border: 2px solid #7dcc93 ;
    width: 120px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color : #FFF ;
}

.remove-cv {
    /*background: #7dcc93;*/
    /*border: 2px solid #7dcc93;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    top: 40px;
    /*right: 5px;*/
}
.remove-cv:before {
    content: "";
    display: inline-block;
    background-image: url("/resources/frontend/images/delete.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    vertical-align: middle;
    text-align: center;
    right: -7px;
}
.remove-cv:hover:before{
    cursor: pointer;
}
section#jobs {
    margin-left: 150px;
}
/*footer#footer {
    margin-left: 150px;
}*/


@media(max-width:970px){
    #footer {
        margin:0px!important;
    }
}

section#search-bar {
    margin-left: 150px;
}

@media (max-width:970px){
    section#search-bar {
        margin-left: 0px;
    }
}

section#jobs-detail {
    margin-left: 150px;
}
.mrgfix {
    margin-top: 0px;
}
.jobs-content {
    background-image:none !important;background: #eaeaea !important; margin-top:0px !important;padding-top: 50px;
}
.job-ttl {
    min-height: 50px;
}

.not-logged {
    margin-top: 0px !important;
    margin-left: 0px !important;
}

.logo-nt-logged {
    width: 115px;
    position: relative;
    bottom: 4px;
}
.sign-in-br {
    /*color: #FFF !important;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}
.nopd {
    padding: 0px;
}
.mcntr {
    width: 600px !important;
    margin: 50px auto;
}
.white {
    background-color: #FFF !important;
}

/*--------------*/
.ln { width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; margin-top: 50px; } 
.ln .sp {
    background:#fff; 
    padding:0 10px; 
    font-family: 'Open Sans', sans-serif;
    color:#333333;
    line-height:19px;
}
.shared {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important ;
    font-size:14px;
    color:#333333;
    line-height:19px;
    text-align:left;
}
.more {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important ;
    font-size:14px;
    color:#3ac5d9;
    line-height:19px;
    text-align:left;
}
.btn-rec {
    margin-top: 25px !important;
    background:#7dcc93 !important;
    border-radius:2px ;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important ;
    font-size:14px;
    color:#ffffff !important;
    line-height:19px;
    text-align:center;
}
.btn-rec:hover {
    margin-top: 25px;
    background:#6ab37e !important;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important ;
    font-size:14px;
    color:#ffffff !important;
    line-height:19px;
    text-align:center;
}
.btn-rec:focus {
    margin-top: 25px;
    background:#6ab37e;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important ;
    font-size:14px;
    color:#ffffff !important;
    line-height:19px;
    text-align:center;
}
.btn-cp {
    background:#7dcc93 !important;
    border-radius:2px;
    width:72px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important ;
    font-size:14px;
    color:#ffffff !important;
    line-height:19px;
    text-align:center;
}
.btn-cp:hover {
    background:#6ab37e !important;
    border-radius:2px;
    width:72px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important ;
    font-size:14px;
    color:#ffffff !important;
    line-height:19px;
    text-align:center;
}
.btn-cp:focus {
    background:#6ab37e !important;
    border-radius:2px;
    width:72px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important ;
    font-size:14px;
    color:#ffffff !important;
    line-height:19px;
    text-align:center;
}
.rec-title {
    text-align: left ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important ;
    font-size:20px;
    color:#333333;
    line-height:19px;
}
.br-co {
    border:1px solid #cccccc !important;
}
.img-hover {
    position: absolute;
    left: 43%;
    bottom: 15px;
    background-image: url("/resources/frontend/images/technology.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 32px;
    height: 32px;
}
.without-money {
    bottom: 70px !important ; 
}
.rec-share:before {

    content: url("/resources/frontend/css/theme/icons/share.png");
    height: 16px;
    margin-right: 7px;
    position: relative;
    top: 4px;
    width: 11px;
}
.delete-edit-btn {
    background: red;
    border: 2px solid red;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    /*top: 40px;*/
    /*right: 5px;*/
    padding-left: 10px;
}
.delete-edit-btn:before {
    content: "";
    display: inline-block;
    /*    background-image: url("/resources/frontend/images/delete.svg");
        background-repeat: no-repeat;*/
    background-size: 100%;
    width: 16px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
.delete-edit-btn:hover:before {
    cursor: pointer;
}
.fixing-2 {
    margin : 0 18px !important;
}
.render-job-alert {
    max-width: 800px;
    margin: 50px auto ;

}
.joburi {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
    text-align: left;
    margin: 10px;
    min-height: 68px;
}
#search-bar .rewards-home > div {
    margin-right: 3% !important;
    margin-bottom: 3%;
}
@media all and (max-width: 767px){
    .btns_profile{
        padding-top:25px;
    }
    .go_down{
        margin-top:30px;
    }
}
@media all and (max-width: 420px){
    .go_down{
        margin-top:10px;
    }
    .btns_profile{
        padding-top:25px;
        position: static !important;
        float:left !important;
        width:100% !important;
    }   
    .btns_profile:after{
        content: "";
        clear: both;
        display: block;
    }
    .btns_profile a{
        width: 100% !important;
        float: left !important;
        display: block !important;
        margin-bottom: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-left: 8px !important;
    }
}
@media all and (max-width: 1500px){
    #resume-header div .resume-content .br-resume-content div:first-child{
        width: 100%;
    }
    #resume-header div .resume-content:after {
        content: "";
        clear: both;
        display: block;
    }
    #resume-header div .resume-content .br-resume-content div:last-child{
        width: 100%;
    }
    #resume-header div .resume-content .br-resume-content div:last-child a{
        width: 90%;
        margin:0 auto 20px;
    }
}
@media all and (max-width: 1400px){
    #job-detail,
    #jobs-detail{
        margin-left: 0;
        padding-left: 240px;
    }
    #job-detail .container,
    #jobs-detail .container{
        width: 100% !important;
    }
    section#jobs-detail{
        margin-left: 0;
        padding-left: 240px;
    }
}
@media all and (max-width: 767px){
    #job-detail,
    #jobs-detail{
        margin-left: 0;
        padding-left: 0 !important;
    }
    h3.bounty-description{
        top: 10px;
    }
    #job-detail .container .row .job-detail-reward-bounty{
        min-height: 120px;
    }
    .desktop-container #resume-header > div{
        margin-bottom: 10px;
    }  
}
@media all and (max-width: 970px){
    #search-bar .rewards-home{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
    }
}
@media all and (max-width: 420px){
    #br-profile-search .btns_profile.custom_left .up-cv{
        left:0;
    }
}
@media all and (max-width: 640px){
    .ajaxformprofile .bottom_btns > button{
        width: 50%;
        float: left;
    }
    .ajaxformprofile .bottom_btns .btn-close{
        width: 49%;
        margin-right:1%;
    }
    .ajaxformprofile .skills-container{
        margin-bottom: 10px;
    }
    #preview-modal .modal-body img{
        max-width: 100%;
    }
}
@media all and (max-width: 1024px){
    #recommendations-layout-tbl table tbody tr td{
        height: auto;
        min-height: 30px;
    }
    #recommendations-layout-tbl table tbody tr{
        margin-bottom: 15px;
    }
    #recommendations .dataTable-profile tbody tr td{
        text-align: right;
        padding-left: 30px !important;
        position: relative;
    }
    #recommendations .dataTable-profile tbody tr td:before{
        content: "";
        color: #2c3d51;
        width: auto;
        font-size: 12px;
        left: 10px;
        position: absolute;
    }
    #recommendations .dataTable-profile tbody tr td:first-child:before{
        content: "Name:";    
    }
    #recommendations .dataTable-profile tbody tr td:nth-child(2):before{
        content: "Job Title:";    
    }
    #recommendations .dataTable-profile tbody tr td:nth-child(3):before{
        content: "Type:";    
    }
    #recommendations .dataTable-profile tbody tr td:nth-child(4):before{
        content: "Date:";    
    }
    #recommendations .dataTable-profile tbody tr td:nth-child(5):before{
        content: "Status:";    
    }
    #recommendations .dataTable-profile tbody tr td:nth-child(6):before{
        content: "Action:";    
    }
}
@media all and (max-width: 1024px){
    #camp-layout-tbl table tbody tr td{
        height: auto;
        min-height: 30px;
        position: relative;
        text-align: right !important;
        padding-left: 30px !important;
    }
    #camp-layout-tbl table tbody tr{
        margin-bottom: 10px;
    }
    #camp-layout-tbl table tbody tr td:before{
        content: "";
        position: absolute;
        width: auto;
        left: 10px;
        font-size: 12px;
    }
    #camp-layout-tbl table tbody tr td:first-child:before{
        content: "Name";
    }
    #camp-layout-tbl table tbody tr td:nth-child(2):before{
        content: "Points";
    }
    #camp-layout-tbl table tbody tr td:nth-child(3):before{
        content: "Successful App.";
    }
    #camp-layout-tbl table tbody tr td:nth-child(4):before{
        content: "Pending App.";
    }
    #camp-layout-tbl table tbody tr td:nth-child(5):before{
        content: "App on Recommendations";
    }
}
@media all and (max-width: 1024px){
    #resume-header div .resume-content .br-resume-content div:last-child a{
        width: 96%;
        right: 2%;
    }
}
@media all and (max-width: 767px){
    div#alert-view .br-profile-title {
        text-align: center;
        margin-bottom: 20px;
    }
    div#alert-view #br-profile-search .up-cv{
        margin:0 auto;
        float: none;
    }
}
@media all and (max-width: 1024px){
    #setting-layout .row table tbody tr td{
        width: 100%;
        text-align: right !important;
        position: relative;
        height: auto;
        min-height: 30px;
        padding-left: 30px !important;
    }
    #setting-layout .row table tbody tr td:before{
        content: "";
        position: absolute;
        left: 10px;
        width: auto;
        font-size: 12px;
    }
    #setting-layout .row table tbody tr td:first-child:before{
        content: "Position name";
    }
    #setting-layout .row table tbody tr td:nth-child(2):before{
        content: "Candidate";
    }
    #setting-layout .row table tbody tr td:nth-child(3):before{
        content: "Bounty";
    }
    #setting-layout .row table tbody tr td:nth-child(4):before{
        content: "Due Date";
    }
    #setting-layout .row table tbody tr td:nth-child(5):before{
        content: "Points";
    }
}
@media all and (max-width: 800px){
    #search-bar .rewards-home > * .pub img,
    #search-bar .rewards-home > * .pub{
        max-height: 195px;
    }
}
@media all and (max-width: 320px){
    #search-bar .rewards-home > * .pub img,
    #search-bar .rewards-home > * .pub{
        max-height: 190px;
    }   
}
@media all and (min-width: 1600px){
    .desktop-container .custom_margin {
        margin-left: 60%;
    }
}
@media all and (min-width: 1200px) and (max-width:1600px){
    .desktop-container .custom_margin {
        margin-left: 57%;
    }   
}
@media all and (min-width: 767px) and (max-width:1200px){
    .desktop-container .custom_margin {
        margin-left: 55%;
    }   
}
@media all and (max-width: 970px){
    .edit_alert_form .btn-save{
        padding-top: 13px;
        padding-bottom: 13px;
    }
}
@media all and (min-width: 767px) and (max-width: 780px){
    #recommendations-layout .row .col-sm-4{
        min-height: 125px;
    }
}
@media all and (max-width: 1200px){
    #search-bar.jobs-content{
        clear: both;
    }
}

@media all and (max-width: 600px){
    #jobs-detail .client-single{
        padding-top:130px;
        position:relative;
    }
    /*    #jobs-detail .client-single .job-sidebar{
            position: absolute;
            top: 0;
            left:0;
            right: 0;
            width: 100%;
        }*/
}
.fa-ed-fix {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99999 ;
    font-size: 15px;
}
@media all and (max-width: 780px){
    .fa-ed-fix{
        display: block !important;
    }
}

.fa-bars:before {
    /*content: "\f0c9";*/
    color: #FFF;
}
.front-side {
    margin-left: -240px !important;
    transition: all 0.25s ease 0s; 
}
.slimScrollBar {
    display: none !important;
}
.recommend-fx {
    height: 47px;width: 5%;border-radius: 50%;
}
.slimScrollDiv {
    width: 200px !important;
}
#profile-sidebar {
    width: 200px !important;
}
.slimScrollDiv {
    position: absolute !important ;
}
._ed1 {
    width: 65% ;
}
._ed1:hover {
    background-color: none;
    background: none;
}

._ed54 {
    width: 650px;
    margin-top: 100px
}
._edi4554 {
    text-align:center ;
    font-size: 15px;
    font-weight: bold;
}
._ed88778 {
    text-align: center !important;
}
@media (max-width:970px){

    #profile-sidebar {
        /*margin-left:-240px;*/
    }

    .panel .fixing {
        height:auto;
    }

    .panel table {
        width:100%;
        overflow:hidden;
        display:block;
    }

    .table-stats-analytics {
        width:100%;
        display:block;
        overflow:hidden;
    }

    .table-stats-analytics tbody tr td:nth-child(2),
    .table-stats-analytics tr,
    .table-stats-analytics tr td {  
        width:100%;
        display:block;
        border:none!important;      
        text-align:center;
    }

    .table-stats-analytics tbody,
    .table-stats-analytics tbody tr,
    .table-stats-analytics tbody tr td {
        width:100%!important;
        display:block;
    }

    .table-stats-analytics tr td {
        border-top:1px solid #ccc!important;
    }

    .table-stats-analytics tr td:first-child {
        border:none!important;
    }

    .need-pad-top-xs {
        padding-top:25px;
    }
}

.jobs-content{
    padding-bottom: 130px;
    height: auto !important;
}
body #fbar-frontend-click{
    display: none; 
}#s2id_location{
    padding: 0px;
}

@media (max-width:414px){
    .job-sidebar {
        padding: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
    }
}

@media (min-width: 415px) and (max-width:768px){
    section#jobs-detail {
        padding-top: 130px;
    }
    .job-sidebar {
        padding: 0px;
        position: absolute;
        left: 0px;
        right: 0px;
        top: -130px;

    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    span.username > span:nth-child(2) {

        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;

        /*display: none !important;*/
    }
}
._eegdhyy4 {
    ;transform:scale(2,3); /* W3C */


    -webkit-transform:scale(2,3); /* Safari and Chrome */
    -moz-transform:scale(2,3); /* Firefox */
    -ms-transform:scale(2,3); /* IE 9 */
    -o-transform:scale(2,3)
}
.drop-z-selectfile {
    max-width: 100%;
    margin: 0 auto ;
    color : #7dcc93;
    display: block ;
    border: 2px solid #7dcc93;
    width: 100px;
    text-align: center;
    border-radius: 2px;
}
.drop-z-selectfile:focus {
    max-width: 100%;
    margin: 0 auto ;
    color : #7dcc93;
    display: block ;
    border: 2px solid #7dcc93;
    width: 100px;
    text-align: center;
    border-radius: 2px;
    text-decoration: none ;
}
.drop-z-selectfile:hover {
    text-decoration: none ;
}
.select2-container {
    height: auto !important;
}
.terms-pp {
    margin: 100px auto ;
}
.webhelp-pp {
    margin: 0 auto ;
}
._center {
    text-align: center 
}
.btn-popup {
    width: 100% !important;
    background: #7dcc93 !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    color: #ffffff !important;
    line-height: 28px !important;
    text-align: center;
}
.btn-popup:hover {
    width: 100% !important;
    background: #7dcc93 !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700;
    font-size: 14px !important;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
}
ul.all-my-actions { text-align: left;padding-left: 0px}
ul.all-my-actions > li {list-style-type: none;text-align: left;display: inline-block;}
ul.all-my-actions > li > span{
    background: #3ac5d9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.campaign-action {
    padding: 2px 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    line-height: 12px;
    text-align: left;
}
.__fixing {
    height: 125px !important;
}
.____fixing {
    margin-top: 15px;
}

@media (min-width: 270px) and (max-width:414px) {
    .mb-mrg {
        margin-top: 130px !important;
    }
}
.job-recommend-box-applied-job {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #f1ac72;
    text-align: center;
}
.job-recommend-box-applied-job > a > span {
    color: #f1ac72;
    font-weight: bolder;
}
.job-recommend-box-applied-job > a:hover {
    cursor: default;
}
.delete_email_svg {
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    bottom: 33px;
    right: 3px;
}
.delete_email_svg:hover {
    cursor: pointer;
}
.tms-cls , 
.tms-cls:hover,
.tms-cls:visited,
.tms-cls:focus
{
    color: #FFF;
}
.tms-cls:hover{
    text-decoration: underline;
    cursor: pointer;
}
.terms-chkb {
    position: relative;
    top: 20px;
    left: 30px;
}
.tbl-spa {
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.16);
}

table.tbl-spa > thead > tr > th { 
    background: #FFF ;
    color: #2c3d51;
}
table.tbl-spa > tbody > tr > td { 
    background: #FFF ;
    color: #576475;
    font-size: 13px;
}
table.tbl-spa > tbody > tr > td > a { 
    font-family:'Open Sans', sans-serif ;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
    font-weight: 600;
}
table.tbl-spa > thead > tr { 
    background: #FFF ;
}

table.tbl-spa>thead>tr>th, table.tbl-spa>tbody>tr>td {
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

.diifugh{
    top:-105px
}
.cjdhhf{
    margin-top: 0px;
}
/*#footer {*/
    /*position: relative;*/
    /*bottom: 0px;*/
    /*right: 0px;*/
    /*left: 0px;*/
    /*height: 90px;*/
/*}*/
#search-bar {
    /*height: inherit ;*/
}
.___white{ color: #FFFFFF}
.dyydter_{
    margin-top: 40px;
}
.diifuyghjh{
    text-align: center !important
}
.duueyrtod{
    background: transparent;border: 0px;
}
.duureyrtte{
    max-width: 60px !important;
}

._diidufyyg{
    width:85%
}
._diiduddfdffyyg{
    width:15%
}
.jdslkfj87d8f7dfhjd{width: 50px;height: 50px;border-radius: 50%}
.fa-dashout::before {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/logout.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    position: relative;
    top:3px;

}
.terms-condition {
    width: 100%;
    overflow: scroll;
    height: 400px;
}
.terms-condition-content {
    margin: 100px auto;

    /*overflow: scroll;*/
}
.add-br-mrgn {
    margin-bottom: 5px;
}

.add-br {
    background: #7DCC93;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 0.875em;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    text-align: center;
    width: 170px;
    line-height: 26px;
}
.add-br:hover, .add-br:focus {
    color: #FFFFFF;
    background: #40a55d !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #57c8f1 !important;
    border: 1px solid #1cb0e6 !important;
    border-radius: 0px !important;
    color: #FFF !important;
    cursor: default !important;
    float: left !important;
    margin-right: 5px !important;
    padding: 0 5px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #FFF !important;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}



/*       #leaderboards .row {
           margin-right: 0px;
       }*/
#leaderboards .row .col-half-offset {
    margin-left: -0.833333%;
}
#leaderboards .row .col-sm-2 {
    width: 20.79%;
    min-height: 104px;
}
#leaderboards .row .col-sm-2:first-child {
    background: #f7b17e;
}
#leaderboards .row .col-sm-2:first-child span {
    font-size: 38px;
}
#leaderboards .row .col-sm-2:nth-child(2) {
    background: #3ac5d9;
}
#leaderboards .row .col-sm-2:nth-child(3) {
    background: #f581a8;
}
#leaderboards .row .col-sm-2:nth-child(4) {
    background: #7dcc93;
}
#leaderboards .row .col-sm-2:last-child {
    background: #637484;
}
#leaderboards .row .col-sm-2 h2 {
    text-align: center ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: #ffffff;
    line-height: 68px;
    margin: 0px;
}
#leaderboards .row .col-sm-2 p {
    text-align: center ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    line-height: 22px;
}
.alert-greeen-pen {
    float: right;
    position: relative;
    right: 3%;
    /* border: 21px; */
    bottom: 20px;
}
.fix-1px-flag {
    margin-left: 1px !important;
}
.cus-required {
    color: red;
}
.upload-cv-rec {
    background: white!important;
    position: relative!important;
    width: 50%!important;
    float: left!important;
    /* background: #fce500; */
    padding: 25px 0!important;
    text-align: center!important;
    padding-bottom: 4%!important;
}
.upload-cv-rec > .upload {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
    text-align: center;
    padding: 5%!important;
    border-radius: 7%!important;
    margin-bottom: 5%!important;
}
.margin-bottom {
    margin-bottom: 20px;
}

.arrow-down {
    position: absolute ;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #66c1d1;
    left: 75%;
    margin-left: -20px;
    top: -10px;

}
.arrow-down-rec {
    position: absolute ;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f7b17e;
    left: 25%;
    margin-left: -20px;
    top: -10px;

}
.recommend-container {
    padding: 20px;
    margin-top: 80px;
}
.br-com {
    border: 0px !important;
    box-shadow: none;
    text-align: left;
    padding: 0px;
    padding-top: 10px;
}
.inputfile-1 + label {
    background:#3ac5d9 !important;
    color : #FFF !important;
    border-radius:4px;
    width:115px;
    text-align: center;
}
.upload-cv-rec:hover {
    cursor: pointer ;
}
.rec_iruyt {
    background:#f7b17e;
}
.upload-container {
    position: relative;
    /*    padding: 20px;
        margin-top: 80px;*/
}
.upload-cv-container{
    position: relative;
}
.recommend-container_ {
    padding: 20px;
    margin-top: 80px;
}
.table-preview {
    overflow: scroll;
}
._red998050 {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.nm {
    font-family: semibold;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
    /*white-space: nowrap;*/
    white-space: pre-line;
    text-align: right !important;
    padding-right: 30px !important;
}

.rec-tbl ,td, th { 
    border: 0px;
}

.chek_uuyyet{
    margin-top: -18px !important;
}

.chek_uuyyet > label{
    margin-right: 0px !important;
}
table.rec-tbl , td, th {
    padding: 6px 0px 6px 0px !important;
}
.arrow-container {
    width: 100%;
    background: red;
    position: relative;
}
.arrow-down-actions {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #FAFAFA;
    left: 50%;
    margin-left: -20px;
    top: -30px;
}
.mixtin {
    background: #FAFAFA;
    padding: 20px;
    width: 50%;
    float: left;
    text-align: center;
    height: 80px;
}
.autopost,.autopost:hover,.autopost:focus {
    display: block;
    /* padding: 20px; */
    background: red;
    padding: 8px;
    width: 100%;
    /* max-width: 111px; */
    margin: 0 auto;
    font-family: semibold;
    background:#7dcc93;
    border-radius:4px;
    max-width:200px;
    height:36px;
    color: #FFF;
}

.share,.share:hover,.share:focus {
    display: block;
    /* padding: 20px; */
    background: red;
    padding: 8px;
    width: 100%;
    /* max-width: 111px; */
    margin: 0 auto;
    font-family: semibold;
    background:#7dcc93;
    border-radius:4px;
    max-width:200px;
    height:36px;
    color: #FFF;
}
.iidu_pad_30 {
    padding: 30px;
}
.no-pad_30 {
    padding: 0px !important
}
.share-actions-links {
    width: 101.7%;
    position: relative;
    right: 5px;
}
.share-actions {
    padding: 0px;
}
._dudttersiioi {
    background: #7DCC93 !important; 
}
.br-middle-tp {
    top:-40px !important;
}

.br-facebook-icon {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/facebook.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right:5px;
}

.br-linkedin-icon {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/linkedin.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right: 5px;
}

.br-twitter-icon {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/twitter.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right: 5px;
}


.br-email-icon {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/email.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right: 5px;
}

.upload-image-div{
    position: absolute;
    top: 40%;
    left: 4.5%;
    line-height: 42px;
}

#profile-header{
    position: relative;
}

.white-text{
    color: white;
}

.white-text:hover{
    color: white;
    font-weight: 600;
    text-decoration: underline;
}

.fas,.far,.fab{
    font-family: "Font Awesome 5 Free"!important;
}
