  body {
            background: #FFF ;
        }
        section#container{background : #3AC5D9;}
           header.header { /*max-width : 1170px ;*/
                                            margin : 0 auto }
        .top-nav img {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            width: 33px;
        }
        .top-nav img {
            top: 0 !important;
            width: auto;
            height: 40px;
            margin: 12px;
        }
        ul.top-menu > li > a {
            color:#666666;
            font-size:16px;
            background:#f6f6f6;
            padding:4px 8px;
            margin-right:0px !important;
            border-radius:50%;
            -webkit-border-radius:50%;
            padding-right:8px !important;
        }
        .notify-row {
    position: relative;
    /*top:13px;*/
}
#top_menu .nav>li,ul.top-menu>li {
    float:left;
}
.notify-row {
    float: left;
    margin-top: 23px;
    /* margin-left: 25px; */
    margin-right: 25px;
}
ul.top-menu {
    margin-right:15px;
    margin-top: 0;
}
ul.top-menu > li > a {
    color:#666666;
    font-size:16px;
    background:#f6f6f6;
    padding:4px 8px;
    margin-right:15px;
    border-radius:50%;
    -webkit-border-radius:50%;
    padding-right:8px !important;
}
.dropdown-menu.extended.logout>li>a {
    border-bottom: none !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
}
.nav>li>a {
/*    position: relative;
    display: block;
    padding: 0px;*/
}
.badge.bg-warning {
    background: #FCB322;
    color :#000;
}
.notify-row .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}
li.dropdown {
    /*top:-29px;*/
    /*width: 196px;*/
}
        /*
                .dropdown-menu .extended .notification {
                    background: #ffffff !important;
                    box-shadow: 0px 2px 4px 0px rgba(172,148,148,0.50) !important;
                    border-radius: 2px;
                    width: 280px !important;
                }*/
        li.dropdown > ul.notification {
            left: -119px !important;
            background: #ffffff !important;
            box-shadow: 0px 2px 4px 0px rgba(172,148,148,0.50) !important;
            border-radius: 2px;
            /*width: 280px!important;*/
            top:35px;
            padding: 0px 2px !important;
        }
        .notify-type {
            opacity:0.6;
            /*font-family:OpenSans;*/
            font-size:11px;
            color:#333333;
            line-height:19px;
        }
        .notify-image {
            width: 32px!important;
            height: 32px!important;
            border: 0px !important;
            border-radius: 50%;
            /*background: red;*/
            float: left;
            position: relative!important;
            top: 22px !important;
        }
        .notify-day {
            position: relative;
            float: right;
            top: 6px;
            right: 15px;
        }
        li.dropdown > ul.notification li p {
            text-align: center;
            
           padding-bottom: 10px;
           margin-top: -15px;
           /*font-family:OpenSans-Bold;*/
           font-size:13px;
           color:#333333;
           line-height:19px;
        }
        .notification-caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-bottom: 7px solid;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            position: relative;
            left:126px;
            bottom: 14px;
            color: #FFF;
        }
        @media all and (max-width: 780px) {
            .top-nav {
                display:none;
            }
            header {
                display: none;
            }
        }
        .brand {
            position: fixed ;
            /*z-index: 1 ;*/
            height: 60px;
        }
        .sidebar-toggle-box {
            right: 4px ;
        }
        .top-nav ul.top-menu > li > a {
            border: none ;
            border-radius: 0 ;
        }
        ul.top-menu {
            margin-right: 0 ;
        }
        .top-nav {
            margin: 0 ; 
        }
        .top-nav img {
            top : 0 !important ;
            width: 40px;
            height: 40px;
            margin: 12px;
        }
        top-nav ul.top-menu > li > a:hover {
            background: #2FB0C2; 
            border: none ;
            border-radius: 0 ;
        }
        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0px;
            vertical-align: middle;
            border-top: 5px solid;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
        }

        .top-nav .nav .caret {
            border-bottom-color: #FFF;
            border-top-color: #FFF;
        }
        .top-nav ul.top-menu>li>a:hover, .top-nav ul.top-menu>li>a:focus {
            border: 0; 
            border-radius: 0; 
            -webkit-border-radius: 0; 
        }
        .sidebar-toggle-box {

            margin-top: 18px;
        }
        .sidebar-toggle-box .fa-bars {
            color : #34C3D8 !important ;
            cursor: pointer;
            display: inline-block;
            font-size: 10px;
            padding: 0px 8px 8px 9px;
            color: rgba(0,0,0,.3);
        }
        .blue {
            background-color: #3AC5D9 !important ;
        }
        .white {
            color : #FFF !important;
        }
        sidebar-toggle-box:hover {
            background: transparent !important;
        }
        /*///////////////////////////icons*/
        .fa-dash::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/dash.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-job::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/job.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-candidate::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/candidate.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-campaign::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/campaign.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-bountie::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/bountie.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-setting::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/setting.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-analytics::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/analytics.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        ul.sidebar-menu li a.active {
            border-left: 3px solid #3AC5D9;
            background: rgba(58, 197, 217, 0.31);
        }
        ul.sidebar-menu li a.active > span {
            color:#FFF ;
        }

        ul.sidebar-menu li a.active > i.fa-dash::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/dash-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-job::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/job-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-candidate::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/candidate-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-campaign::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/campaign-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-bountie::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/bountie-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-analytics::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/analytics-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-setting::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/setting-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }



        ul.sidebar-menu li a span {
            display: inline-block;
            font-size: 14px;
            font-family: semibold;
            line-height:19px;
        }

        li.dropdown > ul.extended {
            background:#2fb0c2;
            /*width:197px !important;*/
            /*height:60px;*/
        }

        .br-mn {
            width: 100%;
            text-align: left;
            border-radius: 0;
            margin-top: 0px;
            border: 0px;
        }
        .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
            text-decoration: none;
            color: #262626;
            background-color: #2fb0c2;
            font-weight: bolder;
        }

        li.dropdown > ul.extended::after {
            display: none;
        }
        li.dropdown > ul.extended::before {
            display: none;
        }
        menu.extended.logout>li>a:hover {
            background: transparent !important;
            /*border-radius: 5px;*/
        }
        #container {
            position: fixed;
            height: 60px;
            top: 0px;
            z-index: 2;
            width: 100%;
        }
        .language {
            margin-left: 0px !important;
            margin-top: 0px;
        }
        .lang_img {
            height: auto !important ;
        }
        li.language > a {
            padding: 10px !important;
            height: 60px;
        }
        ul.language-dropdownmenu > li > a >img {height: auto !important}
        ul.language-dropdownmenu {
            left:0px !important;
            margin-top: 0px !important;
            border-radius: 0px;
            background: #2fb0c2;
        }
        .language .dropdown-menu li a:hover {
            background: #2fb0c2;
            color: #FFF;
        }

        ._100{
            width: 100px;
        }
        .mg_iuu{
            margin-left: 0px !important;
        }
        
        
         .dash_yystd{
            height: 60px; left: 240px;right: 0px;background:#3AC5D9;
        }
        .dash_uurtt{
            background: transparent;font-size: 20px;color: #FFF
        }
        .dash_ttrrer{
            padding-bottom: 5px; margin-top: -15px;
            height: 75px;
        }
        
        
        .dash_tdsf{top :22px !important}
        
        .dash_dfrtd{min-width: 250px;
    text-align: center;}
        
        .dash_stter{height: 60px}
        .dash_sttdtf{font-size: 13px;}
        .dash_sttdtdd{font-size: 20px;}
        .dash_ttdrfr{
            font-family: 'Open Sans',sans-serif ;
            font-size:20px !important;
            line-height:30px;}
        .dash_rtterw{
        font-size:20px;    font-family: 'Open Sans',sans-serif;
        }
        .dash_yyt_{max-width:60px;}
        .dash_logo{max-width:118px;}
        .fa-bell-o:before {
         
            color: #FFF;
            font-size: 20px;
        }
        .dash_uurtt {
            background: transparent !important;
        }
        .top-nav ul.top-menu>li>a.dash_uurtt:hover, .top-nav ul.top-menu>li>a.dash_uurtt:focus {
            background: transparent !important ;
        }        
        .select2-container .select2-search--inline .select2-search__field {
            padding: 0px !important;
            margin-left: 8px;
        }
        
        li.how-it-works {
            margin-left: 0px !important;
        }
        a.how-it-works-popup {
            font-size: 13px !important;
            color: #FFF !important;
            padding: 8px !important;
            padding-top: 16px !important;
            padding-bottom: 16px !important;
            font-family: 'Open Sans',sans-serif;
        }
        a.how-it-works-popup:hover {
            font-size: 13px !important;
            color: #FFFFFF !important;
        }
        li.how-it-works > a.how-it-works-popup:hover {
            color: #FFFFFF !important
        }
        .how-it-works-popup-home {

            font-weight: 600 !important;
        }
        
        .work-popup {
            margin: 100px auto ;
        }
        .new-height-campaign {
            height: 220px !important;
        }
        .campaign-description {
            text-align: left ;
        }
        .campaign-description > h4 {
            margin: 0px;
            padding: 0px;
            font-family: semibold;
            font-size: 20px;
            color: #ffffff;
            line-height: 27px;
            text-align: left;
        }
        .campaign-description > small {
            background: #3ac5d9;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            padding: 2px 6px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: #ffffff;
            line-height: 12px;
            text-align: left;
        }
        .unique_url {
            font-family: semibold;
            color: #000000 !important;
            font-size:14px;
            color:#474747;
            text-align:left;
        }
        #social-signup {
            width: 100%;
            padding-bottom: 50px;
        }
        .social_ {
            width: 33%;
            float: left;
        }
        .fb-signup,.fb-signup:hover {
            font-family:'Open Sans', sans-serif;
            font-size:10px;
            color:#ffffff;
            /*background:#3c5a99;*/
            border-radius:4px;
            width:150px;
            height:29px;
            padding: 10px;
        }
        .li-signup,.li-signup:hover {
            font-family:'Open Sans', sans-serif;
            font-size:10px;
            color:#ffffff;
            /*background:#0077b5;*/
            border-radius:4px;
            width:150px;
            height:29px;
            /*padding: 10px;*/
        }
        .go-signup,.go-signup:hover {
            font-family:'Open Sans', sans-serif;
            font-size:10px;
            color:#59595b;
            /*background:#FFFFFF;*/
            border-radius:4px;
            width:150px;
            height:29px;
            /*padding: 10px;*/
        }
        .fb-i {
            margin-bottom: 2px;   
        }
        .udyt_090_{
            float:left;
        }
        
        .udyt_090_file_name{
            position: relative;
            top: 6px;
        }
        .ksuurtyt{
            padding: 15px
        }
        .bnsp-color {
            color: #767676;
        }
        .bdyhehgr{
            background-color: #7dcc93;
        }
        div.auto-p-text {
            color: #474747 ;
            text-align: center;
            background: #EDFFF2;
            padding-top: 10px;
            padding-bottom: 25px;
            margin-bottom: 10px;
        }
        div.auto-p-text > p{
           margin: 0px;
        }
        div.auto-p-text > div {
            padding-top: 20px;
        }
        
        a.auto-post-button {
            color: #525252;
            border: 1px solid #525252;
            padding: 10px 50px 10px 50px;
            border-radius: 4px;
        }