section#log-in {
  background: #2c3d51;
}
section#log-in .box-login {
  background: none;
  position: relative;
}
section#log-in .box-login .box-login-head-password h1 {
  font-family: semibold !important;
  font-size: 34px;
  color: #ffffff;
  line-height: 46px;
  text-align: center;
  margin-bottom: 15px;
}
section#log-in .box-login .box-login-head-password h2 {
  font-family: semibold !important;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  text-align: center;
}
section#log-in .box-login .box-login-head h1 {
  font-family: semibold !important;
  font-size: 26px;
  color: #ffffff;
  line-height: 46px;
  text-align: center;
}
section#log-in .box-login .box-login-head h2 a {
  font-family: semibold !important;
  font-size: 14px;
  color: #3ac5d9;
  line-height: 19px;
  text-align: center;
}
section#log-in .box-login .form-wrap .username {
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}
section#log-in .box-login .form-wrap input[type="text"],
section#log-in .box-login .form-wrap input[type="password"] {
  width: 100%;
  height: 42px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  max-width: none;
  background: #ffffff;
  border: 1px solid #cccccc;
}
section#log-in .box-login .form-wrap .form-group {
  text-align: left ;
}
section#log-in .box-login .form-wrap .form-group label {
  font-family: semibold;
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
}
section#log-in .box-login .form-wrap .signin {
  font-family: semibold;
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
  text-align: center;
}
section#log-in .box-login .form-wrap .checkbox-inline {
  font-family: OpenSans;
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
  text-align: left;
  float: left;
}
section#log-in .box-login .form-wrap .signin-mobile {
  text-align: center;
  padding-top: 50px;
  clear: both;
}
section#log-in .box-login .form-wrap .signin-mobile .signin {
  background: #7dcc93;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%;
  max-width: 335px;
  line-height: 14px;
  vertical-align: middle;
}
section#log-in .box-login .form-wrap .forgot-pass-mb {
  float: right;
  font-family: semibold;
  font-size: 14px;
  color: #3ac5d9;
  line-height: 19px;
  position: absolute;
  text-align: center;
  /* width: 100%; */
  display: inline-table;
  right: 20px;
}
section#log-in .box-login .form-wrap .no-account {
  font-family: semibold;
  font-size: 14px;
  color: #3ac5d9;
  line-height: 19px;
  text-align: center;
  position: relative ;
  top: 70px;
}
section#log-in .box-login .register-btn {
  background: #7dcc93 !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 335px;
  width: 100%;
  max-width: 335px;
  line-height: 14px;
  vertical-align: middle;
}
section#log-in .box-login #register-btn {
  position: relative;
  top: 35px;
}
@media screen and (max-width: 750px) {
  @font-face {
    font-family: semibold;
    src: url(OpenSans-Semibold.ttf);
  }
  section#log-in {
    padding: 100px 0 60px !important;
  }
}
@media screen and (max-width: 320px) {
  section#log-in .box-login .box-login-head-password h1 {
    font-size: 32px;
  }
  section#log-in .box-login .box-login-head-password h2 {
    /*color: red;*/
  }
  section#log-in .box-login #remembermelogin {
    font-size: 12px !important;
  }
  section#log-in .box-login .forgot-pass-mb {
    font-size: 12px !important;
  }
  /*.box-login-head-password {
         h2 {
                        color: red;
                    }
    }*/
}
@media screen and (max-width: 363px) {
  #log-in .box-login .box-login-head .register {
    font-size: 28px;
  }
}
section#log-in .box-login .form-wrap input[type="text"], section#log-in .box-login .form-wrap input[type="password"] {
     border: 0px; 
}
#s2id_skills{
    padding: 0px;
}
.didifuf{font-family:semibold !important;}

    .select2-search-choice {
       width:auto ;
    }
    .select2-container-multi .select2-choices .select2-search-choice {
    padding: 5px 23px 3px 18px; 
    margin: 8px 0 3px 5px;
    }
    .select2-container-multi .select2-search-choice-close {
        right: 4px !important;
        top: 8px;
    }
    .terms {
        font-size: 16px;
        font-weight: bolder;
    }
    .terms:hover {
        color: #1C789E;
    }
        span.select2-container {
        font-family: 'Open Sans', sans-serif;
        color: #6a6a6a;
    }