<section id="search-bar" class="jobs-content">
    <div class="row wor <?php echo count($this->campaignActions) > 6 ? "__fixing":"" ?>">
        <div id="container-brain">
            <div class="col-sm-7">
                <?php if(empty($this->campaignActions)) : ?>
                <h1 class="front-title"> Help your friends and network get hired and earn rewards</h1>
                <?php else : ?>
                <h1 class="front-title">Gamified actions : </h1>
                <?php endif; ?>
                <ul class="all-my-actions">
                    <?php foreach ($this->campaignActions as $actions): ?>
                    <li><span class='campaign-action'><?php echo str_replace("_", " ", $actions); ?></span></li>
                    <?php endforeach; ?>
                </ul>
            </div>
            <div id="filters-area" class="col-sm-2  col-sm-offset-3 <?php echo count($this->campaignActions) > 6 ? "____fixing":"" ?>">
                <a class="search-link" href="javascript:;">
                    <input class="input-search" type="text" />
                    <span class="search branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"></span>
                </a>
                <a class="filter-link" href="javascript:;" ><span class="filter branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"></span></a>
            </div>
            <div class="col-sm-12 campaign-description">
                <?php if ($this->description != "") : ?>
                    <h4>Description : </h4><small><?= $this->description ?></small>
                <?php endif; ?>
            </div>
        </div>

    </div>
    <div class="search-filters-input" class="row">
        <div id="filter-container">
            <?php echo $this->form; ?>
        </div>

    </div>
    <div class=" clearfix"></div>

    <?php // foreach ((array) $this->campaigns as $id_campaign => $campaign):?>
    <div class="row rewards-home mrgfix cjdhhf">
        <?php foreach ($this->jobs as $job): ?>
            <div class="col-md-4 bounty-link">
                <div class="pub branding_jobs">
                    <?php if ($job['bounty_file'] == ""): ?>
                        <img src="/resources/frontend/css/theme/images/starts.png" alt="" />


                        <?php if ($this->allow_external == 0 && Zend_Auth::getInstance()->getIdentity()->type == 2 || $this->allow_candidate_recommend == 0 && Zend_Auth::getInstance()->getIdentity()->type == 9) : ?>
                            <h1 class="br-head"></h1>
                            <p class="br-para"></p>
                            <p class="br-middle diifugh"><?php echo $job['title']; ?></p>

                        <?php else: ?>
                            <h1 class="br-head"><?php echo round($job['bounty']) . "&euro;"; ?></h1>
                            <p class="br-para"><?php echo $job['bounty_requirements']; ?></p>
                        <?php endif; ?>



                    <?php else: ?>
                        <?php if ($this->allow_external == 0 && Zend_Auth::getInstance()->getIdentity()->type == 2 || $this->allow_candidate_recommend == 0 && Zend_Auth::getInstance()->getIdentity()->type == 9) : ?>
                            <img src="/resources/frontend/css/theme/images/starts.png" alt="" />
                        <?php else: ?>
                            <img src="/resources/files/bounties/<?php echo $job['bounty_file']; ?>" alt="" />

                        <?php endif; ?>
                        <?php if ($this->allow_external == 0 && Zend_Auth::getInstance()->getIdentity()->type == 2 || $this->allow_candidate_recommend == 0 && Zend_Auth::getInstance()->getIdentity()->type == 9) : ?>

                            <p class="br-middle diifugh"><?php echo $job['title']; ?></p>
                        <?php else: ?>
                            <p class="br-middle"><?php echo $job['bounty']; ?></p>
                        <?php endif; ?>


                    <?php endif; ?>
                </div>
                <div class="br-content">
                    <div class="job-ttl">
                        <?php if ($this->allow_external == 0 && Zend_Auth::getInstance()->getIdentity()->type == 2 || $this->allow_candidate_recommend == 0 && Zend_Auth::getInstance()->getIdentity()->type == 9) : ?>
                            <h2></h2>
                        <?php else : ?>
                            <h2><?php echo $job['title']; ?></h2>
                        <?php endif; ?>

                    </div>

                    <p>Experience: <strong><?php echo $this->settings['career_levels'][$job['career_level']]; ?></strong></p>
                    <p>Requirements: <strong><?php echo WebApp_Tools::strTrim($job['tagline'], 20, "..."); ?></strong></p>
                </div>
                <div class="br-detail">
                    <div class="br-location">
                        <span class="br-location-icon"></span><p><?php echo WebApp_Tools::strTrim(implode(", ", $job['cities']), 40, "..."); ?></p>
                    </div>
                    <div class="br-link-detail">
                        <?php if(Zend_Auth::getInstance()->hasIdentity()) : ?>
                            <a href="<?php
                            echo WebApp_Tools::createJobSlug($job)."?track=".md5(Zend_Auth::getInstance()->getIdentity()->id).'&source='.md5('website');
                            ?>">VIEW DETAILS</a>
                        <?php else : ?>
                            <a href="<?php echo WebApp_Tools::createJobSlug($job); ?>">VIEW DETAILS</a>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
    <?php // endforeach;  ?>
</section>
<div style="width: 100px;height: ">
    <div>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/5adde123227d3d7edc24a923/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();

                        Tawk_API.onLoad = function(){
                Tawk_API.minimize();
            };
        </script>
        <!--End of Tawk.to Script-->
    </div>
</div>
