    <section id="log-in">
        <div class="box-login">           
            <div class="box-login-head">
                <h1><span>Welcome to</span> <img alt="img" src="/resources/frontend/landing/files/icons/logo3.png"></h1>                
            </div>
            <div class="sub-head">
                Hire talent socially with the best referral technology<br /><br />
                iMatch takes referral systems to the next level by making them <br />transparent, engaging and social.<br /><br />
                <a href="/demo" id="preview-live" data-toggle="modal" data-href="#preview-modal" class="btn btn-info">Ask for a Live Demo</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section id="what-is" class="sections-item leftText">
        <div class="container">
            <div class="image-text">
                <div class="image-text-wrap image">
                    <img src="/resources/frontend/landing/files/images/text-img-1.png">
                </div>
                <div class="image-text-wrap text-wrap">
                    <!--<h2 style="margin-bottom: 30px;"><span>What is</span> <img alt="img" src="/resources/frontend/landing/files/icons/logo-blue.png"></h2>-->
                    <h2 style="margin-bottom: 30px;"><span>Features</span></h2> 
                    <div class="col-md-12">
                        <div class="row">
                           <!-- <div class="col-md-4 feature-wrap">
                                <img src="/resources/frontend/landing/files/icons/icon-1.png"/>
                                <span><strong>Automated Notifications </strong><br />The iMatch notification system helps you to keep your employees up to date with the new jobs that need referrals. This assures a great internal communication with faster results with no effort from your part. Constant communication will keep your employees engaged and motivated to contribute to finding the best professionals on the market.</span><br />
                                <a class="view-more pull-right" href="#">View more</a>                                
                            </div> -->
                            <div class="clearfix visible-md visible-lg"><br /><br /></div>
                            <div class="col-md-4 feature-wrap">
                                <img src="/resources/frontend/landing/files/icons/icon-2.png"/>
                                <span class="grey-text"><strong>Accurate Matching Technology </strong><br />iMatch is intelligently skilled to present your employees with the best matching candidates to refer further. Before making a referral, iMatch offers accurate recommendations based on the matching degree between the skills required by the job and the candidates skills. It also takes into consideration the level of experience and job title when making a recommendation.</span><br />
                                <a class="view-more pull-right" href="#">View more</a>                                
                            </div>
                            <div class="col-md-4 feature-wrap">
                                <img src="/resources/frontend/landing/files/icons/icon-3.png"/>
                                <span class="grey-text"><strong>Analytics and Reporting </strong><br />iMatch Analytics Module keeps an eye on your referral program performance, feeding you valuable insights about referrals success, jobs visibility and candidates engagement. You are also provided with comparative analysis reports on jobs, departments or teams performance to have a better understanding on where to focus your recruitment efforts and maximize results.</span><br />
                                <a class="view-more pull-right" href="#">View more</a>                                
                            </div>
                            
                            <div class="col-md-4 feature-wrap">
                                <img src="/resources/frontend/landing/files/icons/icon-7.png"/>
                                <span class="grey-text"><strong>Integrate with any ATS</strong><br />iMatch can be efficiently synced with all leading Applicant Tracking Systems and so it works as a one stop recruiting solution. This will ensure that all your data is managed through one tool alone, saving you time and resources. Understanding the importance of this integration, we make sure this process is fast and smooth.</span><br />
                                <a class="view-more pull-right" href="#">View more</a>                                
                            </div>
                            <div class="clearfix visible-md visible-lg"><br /><br /></div>
                            <div class="col-md-4 feature-wrap">
                                <img src="/resources/frontend/landing/files/icons/icon-8.png"/>
                                <span class="grey-text"><strong>Gamify and engage</strong><br />iMatch rewards everyone every step of the way, keeping people engaged and motivated to refer only the best professionals they know. iMatch provides a leaderboard that enables you to track and reward the top performers.<br /><br />Sharing a job on social media, referring someone, getting applicants and many more actions will not go unnoticed, enabling employees to earn points and get credit for their efforts. Also, the iMatch gamification module helps you build your own rewards strategy, using non-cash rewards as well.</span><br />
                                <a class="view-more pull-right" href="#">View more</a>                                
                            </div>
                            <div class="col-md-4 feature-wrap">
                                <img src="/resources/frontend/landing/files/icons/icon-9.png"/>
                                <span class="grey-text"><strong>Make your recruitment truly social</strong><br />With iMatch, the power of Social Media is on your side. Reaching more professionals than ever, Linkedin, Facebook, Twitter and Google+ are means through which every employee can get to the next best candidate in no time.<br /><br />Now you can access passive candidates, earn their trust and bring them closer to your company through their friends.</span><br />
                                <a class="view-more pull-right" href="#">View more</a>                                
                            </div>
                            
                            <div class="col-md-4 feature-wrap">
                                <img src="/resources/frontend/landing/files/icons/icon-10.png"/>
                                <span class="grey-text"><strong>Referral Tracking  </strong><br />iMatch makes your referral program more transparent than ever. Your employees know how their referred friend is doing during the recruiting process, from the beginning to the end, on their own dashboard. You don't need to constantly inform everyone with e-mails or messages, which allows you to maintain your focus on what's important.</span><br />
                                <a class="view-more pull-right" href="#">View more</a>                                
                            </div>
                            <div class="clearfix visible-md visible-lg"><br /><br /></div>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    </section>
    <section id="recomand" class="sections-item">
        <div class="container">
            <div class="image-text">
                <div class="image-text-wrap image">
                    <img src="/resources/frontend/landing/files/images/text-img-2.png">
                </div>
                <div class="image-text-wrap text-wrap">
                    <h2 class="links" style="text-align: left;"><span>Benefits</h2>                    
                    <ul class="links-list">
                        <li class="selected s1" id="s1">
                            <a href="#" rel="s1"><img class="s1" src="/resources/frontend/landing/files/icons/icon-4-sel.png">Hire Easily</a>
                            <p class="benefits" rel="s1">Your best people know the best people for your company! Your employees are the most efficient recruiters and that's only because they know, better than anyone else, every aspect of the job and can match the requirements to the position you offer. iMatch is that one friendly tool that brings "I know someone" to the next level. The clear features and complex matching algorithm of iMatch ease the recruitment process and make it simple for your company to hire the best talent there is.</p>
                        </li>
                        <li class="s2" id="s2">
                            <a href="#" rel="s2"><img class="s2" src="/resources/frontend/landing/files/icons/icon-5.png">Engage your employees</a>
                            <p class="benefits" rel="s2">"What happened to the friend that I had recommended for this job eight months ago?" - that's a question your employee always asks before deciding not to bother to recommend anyone else again. With iMatch, your employee is always up to date with the status of the referral in the recruiting process, the rewards he is about to get and the new openings and opportunities.  People get easily involved and are motivated by constant and transparent rewards to recommend the best candidates to become their future colleagues. iMatch makes the referral program transparent and effective.</p>
                        </li>
                        <li class="s3" id="s3">
                            <a href="#" rel="s3"><img class="s3" src="/resources/frontend/landing/files/icons/icon-6.png">Reach great professionals </a>
                            <p class="benefits" rel="s3">iMatch is a real boost for your recruitment process. Your employees are constantly encouraged to find the best people inside their network of friends and acquaintances. That's why your openings go social in an instant and you access a large pool of great candidates that otherwise would be really hard to find. Moreover, you will catch their attention and interest faster having your jobs recommended to them through their friends. This is how iMatch builds trust and connects you to a valuable pool of talented professionals.</p>
                        </li>
                    </ul>
                    <br /><br />                    
                    <div class="body-text-wrap">
                        <p class="links">Your best people know the best people for your company! Your employees are the most efficient recruiters and that's only because they know, better than anyone else, every aspect of the job and can match the requirements to the position you offer. iMatch is that one friendly tool that brings "I know someone" to the next level. The clear features and complex matching algorithm of iMatch ease the recruitment process and make it simple for your company to hire the best talent there is.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>