
<div class="signinbody-register3">

<div class="signinbodyhalfleft3 col-md-6">
        <div class="box-login">
              <div class="box-login-head">
                   <h1 class="singintitlestep3">Finish your registration</h1>
                        
                            
                            
        </div>   
                <?php if ($this->flash_messages[0] != ""): ?>
            <div class="alert alert-block alert-danger fade in" style="    margin-bottom: 50px;">
                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                </div>
                       <?php endif; ?>      
        
       
        <div class="form-wrap col-xs-12 col-md-6 col-md-offset-3 centered signintext">
            <a class="uurydtbeg" data-target="#preview-modal" data-toggle="modal" href="/linkedinprofile"><img class="addinprofile" src="/resources/frontend/css/theme/content//addinprofile.png"></a>
            <?php if($this->linkedinurl != "") : ?>
            <img class="ii__ii_oiii__" src="/resources/frontend/images/imgpsh_fullsize.png"/>
            <?php endif;?>
            <form role="form" onsubmit="deletePhone()" onaction="" method="POST" autocomplete="off" id="final-signin-action" enctype="multipart/form-data">
                
                <p class="or">or</p>
                <label class="udyt_090_" for="file-1">
                    <img class="uploadcvbutton" src="/resources/frontend/css/theme/content//uploadcvbutton.png">
                </label>
                <img class="_i_oiii__" src="/resources/frontend/images/imgpsh_fullsize.png"/>
                
                <!--                <div class="checkbox-inline">
                                    <label id="remembermelogin">
                                        <input  name="remember_me" class="checkbox" type="checkbox" checked="" value="1">
                                        Keep me logged in
                                    </label>
                                </div>-->
                 <div class="password form-group">
                    <label for="phone">Phone Number</label>
                    <input id="phoneid" class="form-controlsignin" value="" type="phone" name="phone" autocomplete="off" required="required" onchange="save_phone(this.value)">
                </div>
                
                
                <div class=" form-group signin-mobile">
                    <input class="btn btn-default signin signinbutton custom_signinbutton" type="submit" value="Let's Start">
                </div>
                <input type="file" name="file" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple=""  style="display: none; ">
                 <img src="/resources/frontend/css/theme/content//step3register.png" class="stepsregister">    
            </form>  

<!--            <div class="login-links">
                <div class="login-links-wrap clearfix">

                    <a class="forgot-pass" href="/recover" data-toggle="modal" data-href="#preview-modal">Forgot your password?</a>
                </div>
            </div>-->
             </div>
    </div>



</div>
<div class="signinbodyhalfright3 col-md-6">
<center class="signinrighttext2">Almost Done :)</center>

</div>

</div>

<script type="text/javascript">
(function($) {
    
    $("input[name='file']").change(function (){
        var fileName = $(this).val();
        if(fileName) $('img._i_oiii__').css({
            'display':"block",
            "padding-left": "15px",
            "top": "66px",
            "position": "absolute",
            "right": "1px",
        });
    });


})(jQuery)
</script>
</section>
<div style="width: 100px;height: ">
    <div>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/5adde123227d3d7edc24a923/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();

                Tawk_API.onLoad = function(){
                Tawk_API.minimize();
            };
        </script>

        <script>
            function deletePhone()
            {
                document.cookie = "phone=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            }

            function save_phone(val) {
                document.cookie = "phone=" + val;
            }

            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            

            $( window ).load(function() {
                var x = getCookie("phone");
                $('#phoneid').val(x);
                //console.log(x);
            });
        </script>
        <!--End of Tawk.to Script-->
    </div>
</div>
