<style type="text/css">
    .footertspbackground {
    background-color: #737373;
    color: white;
    text-align: left;
    height: 50px;
    display: table;
    width: 100%;
    position: absolute;
}

.usetsp {
    padding-left: 50px;
    padding-top: 15px;
}

.usetsp2 {
    padding-top: 15px;
}

.usetsp21 {
    padding-left: 50px;
}

@media screen and (max-width: 991px) {
    .usetsp, .usetsp2 {
    padding-left: 0px;
    padding-top: 15px;
    text-align: center;
    margin-left: 0px;
}
}

@media screen and (min-width: 1760px) {
    .usetsp2 {
    margin-left: -100px;
}
}

@media screen and (max-width: 991px) {
    .restext {
        margin-left: 0px !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
}
}


.footitle {
    font-size: 18px;
}

.termsfooter {
    text-align: right;
    padding-bottom: 15px;
    margin-top: 74px;
}


@media screen and (min-width: 992px) {
    .termsfooter {
        float: right;
    }
}

@media screen and (max-width: 991px) {
    .termsfooter {
        margin-top: 15px;
        text-align: center;
}
}



.footertsptext {
    color: white;
    margin-bottom: 0px;
}

.verticalinefooter {
    border-left: 1px solid white;
    height: 100%;
    position: absolute;
    margin-left: 665px;
}

.verticalinefooter2 {
    border-left: 1px solid white;
    height: 100%;
    position: absolute;
    margin-left: 326px;
}

@media screen and (max-width: 1270px) {
    .verticalinefooter, .verticalinefooter2 {
        display: none;
    }
}

.restext {
    margin-left: -185px;
    margin-top: 24px;
}

.tfu {
    text-decoration: underline;
}

.tfu2 {
    text-decoration: underline;
    margin-top: 20px;
}

.tfu:hover {
    color: #bebebe;
}

.tfu2:hover {
    color: #bebebe;
}




    
   </style>
<body>
    <header id="header">
        <div class="container">
            <div class="logo" style=" position: relative">
                <img src="resources/frontend/_landing/images/logo2.png" alt=""/>
                <?php if(Zend_Auth::getInstance()->hasIdentity()) : ?>
                        <?php if(Zend_Auth::getInstance()->getIdentity()->type == 2) : ?>
                        <a class="sign" href="/dashboard">Dashboard</a>
                        <?php elseif(Zend_Auth::getInstance()->getIdentity()->type == 1) : ?>
                        <a class="sign" href="/profile">Profile</a>
                        <?php elseif(Zend_Auth::getInstance()->getIdentity()->type == 9) : ?>
                        <a class="sign" href="/profile">Profile</a>
                        <?php elseif(Zend_Auth::getInstance()->getIdentity()->type == 3) : ?>
                        <a class="sign" href="/dashboard">Dashboard</a>
                        <?php endif ; ?>
                <?php else : ?>
                       
                <?php endif ; ?>
                
                <button id="requestaccountbut"></button>

                <button type="button" id="requestaccountbut"  data-toggle="modal" data-target="#requestmodal">Request company account</button>


                  <!-- Modal -->
                        <div class="modal fade" id="requestmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="exampleModalLabel">Thank you for choosing Talentspotting</h4>
                                <h5 class="modal-subtitle">To request a company account, provide us with</h5>
                                
                              </div>
                              <div class="modal-body">
                                <iframe class="iframerequest" src="https://install.talentspotting.com"></iframe>
                              </div>
                            </div>
                          </div>
                        </div>

               
            </div>

        </div>
    </header>
    <section id="landing" data-section-name="home">
        <div class="container">
            <div class="row">
                <h1 class="br-title mobtitles">Boost social recruitment and employee referral and reach candidates nobody else is reaching!</h1>
                <p align="center" style="margin-top:80px; background-clip: padding-box;"><a class="typeform-share button" href="https://talentspotting2016.typeform.com/to/pCsbOT" data-mode="drawer_right" style="font-family: 'Open Sans', sans-serif; font-weight: 500; font-size: 19px; color: #1aadc2 text-decoration: none; background: #FFFFFF; line-height: 58px; padding: 20px 36px; border-radius: 3px; background-clip: padding-box; text-align: center;;" target="_blank">Let's meet</a> <script> (function() { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://s3-eu-west-1.amazonaws.com/share.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "share.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script></p>



                <p style="margin-top:50px;" align="center" id="social"><a href="https://www.facebook.com/talentspotting/?ref=hl" target="_blank"><img src="/resources/frontend/_landing/images/social/facebook.svg"></a><a href="https://twitter.com/referraltech" target="_blank"><img src="/resources/frontend/_landing/images/social/twitter.svg"></a><a href="https://www.linkedin.com/company/talentspotting?trk=biz-brand-tree-co-name" target="_blank"><img src="/resources/frontend/_landing/images/social/linkedin.svg"></a></p>
                <!-- Modal -->
                <div class="modal fade" id="myModal" data-remote="mail" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
<!--                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="myModal2" data-remote="/subscribe" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
<!--                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <div id="nav-bar" class="hidden">
        <div class="container" style=" overflow: hidden;padding-left: 0px;padding-right: 0px;">
            <div class="logo pull-left">
                <img src="resources/frontend/_landing/images/logo2.png" alt=""/>
            </div>
            <div class="pull-right">
                <a style=" color:#FFFFFF" class="get-started" href="start.php"  data-toggle="modal" data-target="#myModal">Let's meet</a>
            </div>
        </div>
    </div>
    <section id="benefits" data-section-name="referralautomation">
        <!--<img src="images/benefits-layer.png" alt="" />-->

        <div class="container benefits-content">
            <div class="row" style="    margin-top: 80px;">
                <h2 class="benefits-title mobtitles">They use our employee referral solutions</h2>
            </div>

                     <div class="alllogos">
            
                                    <div class="clientslogo">
                                            <img class="logoimg mobdead" class="logoimg" src="resources/frontend/_landing/images/Carestream.png"/>
                                    </div>
                                      <div class="clientslogo mobdead">
                                            <img class="logoimg" src="resources/frontend/_landing/images/Conectys.png"/>
                                     </div>
                                    <div class="clientslogo mobdead">
                                            <img class="logoimg" src="resources/frontend/_landing/images/Veeam.png"/>
                                    </div>
                                    <div class="clientslogo logor2 moblive">
                                            <img class="logoimg" src="resources/frontend/_landing/images/Michelin.png"/>
                                    </div>
                                    <div class="clientslogo logor2 moblive stefamobile">
                                            <img class="logoimg" src="resources/frontend/_landing/images/Stefanini.png"/>
                                    </div>
                                    <div class="clientslogo logor2 moblive">
                                            <img class="logoimg" src="resources/frontend/_landing/images/EY.png"/>
                                    </div>

                                            <br>
                                            <BR>

                                    <div class="clientslogo2">
                                            <img class="logoimg mobdead" src="resources/frontend/_landing/images/Macromex.png"/>
                                    </div>
                                      <div class="clientslogo2 mobdead">
                                            <img class="logoimg" src="resources/frontend/_landing/images/Radisson.png"/>
                                    </div>
                                      <div class="clientslogo2 mobdead">
                                            <img class="logoimg" src="resources/frontend/_landing/images/microchip.png"/>
                                    </div>
                                    <div class="clientslogo2 macromob moblive">
                                            <img class="logoimg" src="resources/frontend/_landing/images/unicredit.png"/>
                                    </div>
                                    <div class="clientslogo2 mobdead">
                                            <img class="logoimg" src="resources/frontend/_landing/images/Totalsoft.png"/>
                                    </div>
                                    <div class="clientslogo2 mobdead">
                                            <img class="logoimg" src="resources/frontend/_landing/images/NN.png"/>
                                    </div>

                  </div>
                    </div>


    </section>



<!--TESTIMONIALE-->


<div class="testimonialsdiv">
            <div class="row">
                <h2 class="testimonialstitle mobtitles">What clients say about us?</h2>
            </div>



            <div id="carousel">
  <div class="btn-bar">
    <div id="buttons"><a id="prev" href="#"><</a><a id="next" href="#">></a> </div></div>
    <div id="slides">
        <ul>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase"><span class="quote-marks">"</span>Talentspotting succeeds in engaging Gen-Y in our processes. Customer support is extremely helpful and we work very well together. Thank you, Talentspotting. 
                <class="quote-marks">"</span>

                    </p>
                </div>
                <div class="authorContainer">
                    <p class="quote-author">Clementina, NN</p>
                </div>
            </li>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase"><span class="quote-marks">"</span>
                      What we like most about Talentspotting is the “ease of access”. It is extremely important for the candidates to apply very easy, but also for the employees to have an overview of the available roles, which they can share. Hence, our referral recruitment grew significantly in the past year.
                    <span class="quote-marks">"</span>

                    </p>
                </div>
                <div class="authorContainer">
                    <p class="quote-author">Cristina Neagoe, Microchip</p>
                </div>
            </li>
            <li class="slide">
                <div class="quoteContainer">
                    <p class="quote-phrase"><span class="quote-marks">"</span>Talentspotting it is an easy to use tool that increases employee engagement and activity in our recruitment processes by allowing them to share jobs or recommend directly professionals in their network.<span class="quote-marks">"</span>

                    </p>
                </div>
                <div class="authorContainer">
                    <p class="quote-author">Michelin Team</p>
                </div>
            </li>
        </ul>
    </div>



</div>



<!-- / TESTIMONIALE-->




    <section id="talentspotting"  data-section-name="check">
        <div class="container talentspotting-content">
            <div class="row">
                <h2 class="mobtitles" style="margin-top: 90px;">Smart and proactive recruitment</h2>
            </div>

             <div class="proactivetexts row">

                <div class="row">
                         <div class="proactiveblue1 col-sm-4">
                              <img align="left" src="resources/frontend/_landing/images/bluedot.png" alt="blue dot">
                              <p class="dottext">80% quality applications out of all applications</p>
                      </div>


                         <div class="proactiveblue2 col-sm-4">
                              <img align="left" src="resources/frontend/_landing/images/bluedot.png" alt="blue dot">
                            <p class="dottext">45% avg. engagement rate of employees in the program</p>
                            </div>
                     <div class="proactiveblue3 col-sm-4">
                               <img align="left" src="resources/frontend/_landing/images/bluedot.png" alt="blue dot">
                                <p class="dottext">85% of users would recommend Talentspotting</p>
                        </div> 
                </div>

                <div class="row greendot">
                        <div class="proactivegreen1 col-sm-4">
                            <img align="left" src="resources/frontend/_landing/images/greendot.png" alt="green dot">
                            <p class="dottext">1 hire out of 5 applicants</p>
                        </div>
                        <div class="proactivegreen2 col-sm-4">
                            <img align="left" src="resources/frontend/_landing/images/greendot.png" alt="green dot">
                            <p class="dottext">2 applications from 100 job views</p>
                        </div>
                        <div class="proactivegreen3 col-sm-4">
                            <img align="left" src="resources/frontend/_landing/images/greendot.png" alt="green dot">
                            <p class="dottext">Avg. 20,000 views generated by 50 shares</p>
                        </div>
                </div>

                </div>


               
    </section>
    <section id="lap" data-section-name="socialrecruitment">
        <div class="container">
            <div id="desktop" class="row col-md-6">
                <h3 class="title1">Enable your employees to find their best connections with no effort across all networks.</h3>
                <ul class="list1">
                    <li>Chrome Add-ons for them to recommend candidates directly from their Linkedin account. </li>
                    <li>Linkedin integration with matching between jobs and profiles</li>
                    <li>Social network instant sharing. One-click sharing of jobs to all networks. </li>
                </ul>
                <p class="textcon1">Find the best candidates nobody is managing to engage! And turn your employees into the most engaged employer brand ambassadors!</p> 
                                
            </div>
            <div class="col-md-6 imglaptop1">
            <img src="resources/frontend/_landing/images/laptopimage1.png" class="img-responsive" alt="laptopimage1" width="662" height="279"> 
        </div>
            











    </section>
    <section id="microscope" data-section-name="hrresources">
        <div class=" container">

                
                 <div class="rowtext2 col-md-6 col-lg-push-6">
                  
                  <h3 class="title2">See which actions are working and optimise your referral strategy to increase the engagement of your employees.</h3>
                  
                  <ul class="list2">
                    <li>Track all actions in the platform and see which ones have better conversion.</li>
                    <li>Gamify the actions you want to encourage and which engage your employees.</li>
                  </ul>

                  
                    <p class="textcon2">Use your time and resources on things that work!</p>
                </div>
                 <div class="col-md-6 col-lg-pull-6 laptop2img">
                    <img src="resources/frontend/_landing/images/laptop2img.png" class="img-responsive" alt="laptop2img" width="662" height="279"> 
                 </div>
        </div>
      
    </section>


    </section>
   



        <section id="lap3" data-section-name="socialrecruitment">
        <div class="container">
            <div id="laptop3" class="row col-md-6">
                <h3 class="title3">So simple because everything is in-built and automated. For both the recruiters and your employees.</h3>
                <ul class="list1">
                    <li>Easy set-up with no implementation.</li>
                    <li>In-built communication - notifications, statuses, campaign launching, ending, etc.</li>
                    <li>Strategy optimization flows and gamification campaigns.</li>
                </ul>
                <p class="textcon1">Move from “post-and-pray” to a proactive recruitment approach!</p> 
                                
            </div>
            <div class="col-md-6 imglaptop3">
            <img src="resources/frontend/_landing/images/laptop3img.png" class="img-responsive" alt="laptop3img" width="662" height="279"> 
        </div>
            











    </section>

    <section id="talentspotting">
        <div class="container modules"></div>


            <div class="row title">
                <h2 class="mobtitles" style="margin-top: 90px;">A solution matching all recruitment needs</h2>
            </div>


                <div class="row modules">
                    
                    <div class="module1 modulemobile col-md-6 col-sm-6 col-xs-12">
                        <h1>Professionals</h1>
                        <p class="moduletext1">Empower your employees to become brand ambassadors and recruit any of the profiles you desire.  All available features - social network engagement, gamification, tracking, mobile, reward management.</p>

                    </div>


                    <div class="module2 modulemobile col-md-6 col-sm-6 col-xs-12">
                        <h1>Graduates</h1>
                        <p class="moduletext2">Make sure you differentiate your recruitment in this highly competitive market. Use the graduate module to access graduate talent before your competition, turn your applicants into ambassadors and consolidate your brand. </p>
                    </div>

                    <div class="module3 modulemobile col-md-6 col-sm-6 col-xs-12">
                        <h1>Retail (blue collar)</h1>
                        <p class="moduletext3">Special modules adapted for profiles who do not use a computer or a smartphone on a daily basis.</p>  
                    </div> 

                </div>

                


               
    </section>





    <section id="about" data-section-name="about">
        <div class=" container">
            <div class="row-about">
                <div class="col-lg-12 about-title">
                    <div>
                        <h2 class="about-head" style="font-weight: 500;">Ready to find out more? </h2> 
                    </div>

                </div>
                <div>
                    <div>
                        <div>
                           
                            <p class="about-text col-lg-12" style="font-weight: 300;">Let’s set up a chat and get your account up and running in a couple of clicks.</p>
                          

                        </div>
                        
                    </div>

                    <div>
                        <div class="button2meet col-md-12">
                            <a class="typeform-share button" href="https://talentspotting2016.typeform.com/to/pCsbOT" data-mode="drawer_right" style="font-family: 'Open Sans', sans-serif; line-height: 83px; font-size: 19px; color: #1aadc2; text-align: center;     text-decoration: none !important; border: 2px solid white; padding: 5px 30px; border-radius: 3px; background-clip: padding-box; background: white;;" target="_blank">Let's meet</a> <script> (function() { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://s3-eu-west-1.amazonaws.com/share.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "share.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
                        </div>

                    </div>
                </div>

            </div>
        </div>