
<?php echo $this->js; ?>
<?php echo $this->js_t; ?>
<!--  <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>-->
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/v4-shims.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="/resources/admin/home.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<div>
    <div>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5adde123227d3d7edc24a923/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();

            Tawk_API.onLoad = function () {
                Tawk_API.minimize();
            };
        </script>
        <!--End of Tawk.to Script-->
    </div>
</div>


<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 86
    px1s351ck420
    authorize: true
    //                  onLoad: onLinkedInLoad
</script>

<script type="text/javascript">

    function PopupCenter(url, title, w, h) {
        // Fixes dual-screen position                         Most browsers      Firefox
        var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
        var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

        var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
        var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

        var left = ((width / 2) - (w / 2)) + dualScreenLeft;
        var top = ((height / 2) - (h / 2)) + dualScreenTop;
        var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

        // Puts focus on the newWindow
        if (window.focus) {
            newWindow.focus();
        }
    }


    function fb_share() {
        FB.ui({
            method: 'feed',
            name: "<?php echo $this->company_title . " : " . $this->job_facebook_title ?>",
            link: "<?php echo $this->job_facebook_link ?>",
            picture: "<?php echo $job['job_public_image'] ?>",
            caption: "<?php echo WebApp_Tools::display($job['title'], 50) . ' @' . $job['custom_department']; ?>",
            description: "<?php echo str_replace('"', "'", $this->job_facebook_description) ?>"
        }, function (response) {
            console.log(response);
            if (typeof response !== 'undefined') {
                // ajax call to save response
                var id_user = "<?php echo Zend_Auth::getInstance()->getIdentity()->id ?>";
                var link = document.location.href;
                console.log(link + '______________');
                var id_job = link.split('/')[4];
                $.ajax({
                    url: "/cshare",
                    type: "POST",
                    data: {id_user: id_user, id_job: id_job}
                });
            }
        });

    }

    //                    FB.getLoginStatus(function(response) {
    //                    console.log(response.status);
    //                    })

    function copyToClipboard(elem) {
        // create hidden text element, if it doesn't already exist
        var targetId = "_hiddenCopyText_";
        var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
        var origSelectionStart, origSelectionEnd;
        if (isInput) {
            // can just use the original source element for the selection and copy
            target = elem;
            origSelectionStart = elem.selectionStart;
            origSelectionEnd = elem.selectionEnd;
        } else {
            // must use a temporary form element for the selection and copy
            target = document.getElementById(targetId);
            if (!target) {
                target.style.position = "absolute";
                target.style.left = "-9999px";
                target.style.top = "0";
                target.id = targetId;
                document.body.appendChild(target);
            }
            target.textContent = elem.textContent;
        }
        // select the content
        var currentFocus = document.activeElement;
        target.focus();
        target.setSelectionRange(0, target.value.length);

        // copy the selection
        var succeed;
        try {
            succeed = document.execCommand("copy");
        } catch (e) {
            succeed = false;
        }
        // restore original focus
        if (currentFocus && typeof currentFocus.focus === "function") {
            currentFocus.focus();
        }

        if (isInput) {
            // restore prior selection
            elem.setSelectionRange(origSelectionStart, origSelectionEnd);
        } else {
            // clear temporary content
            target.textContent = "";
        }
        return succeed;
    }

    $(document).ready(function () {

        setInterval(function () {
            $('input#searchInput').attr('style', 'width:' + $('.rec-tbl').width() + 'px !important;');
        }, 100)


        $(window).resize(function () {
            $('input#searchInput').attr('style', 'width:' + $('.rec-tbl').width() + 'px !important;');
//                             $('.aaaaaaaaa').width($('.rec-tbl').width());
        });

        var url = document.location.href;
        var new_url = "<?php
            $model = new models_Jobs;
            echo $this->job_url . "&source=" . $model->getSocilaMediaIdByType("website");
            ?>";
        $('#url').val(new_url);
        $('#brurl').val(url);
        console.log(url);
        $('#clipboard-copy').on('click', function () {
            copyToClipboard(document.getElementById("url"));
            alert('url copied');
        });
        var counter = 1;
        $('#more').on('click', function (e) {
            e.preventDefault();
            var input = '<div class="form-group"><input type="text" name="email[' + counter + ']" id="email-' + counter + '" class=" form-control br-co" required="required" /><img class="delete_email_svg removeClickElem" src="/resources/frontend/images/delete_email.svg" alt="" /></div>';
            $('#new').append(input);
            counter++;
        });
        $('#facebokkShare').one('click', function () {

        });
//                        $('button.facebook-link').on('click', fb_share);

        $(document).on("click", ".removeClickElem", function () {
            $this = $(this);
            $this.parent().remove();
        })

        $("a#twitter-button").on('click', function () {
            var id_user = "<?php echo Zend_Auth::getInstance()->getIdentity()->id ?>"
            var link = document.location.href;
            var id_job = link.split('/')[4];
            $.ajax({
                url: "/cshare",
                type: "POST",
                data: {id_user: id_user, id_job: id_job}
            })
        });
        $("a#linkedin-button").on('click', function () {
            var id_user = "<?php echo Zend_Auth::getInstance()->getIdentity()->id ?>"
            var link = document.location.href;
            var id_job = link.split('/')[4];
            $.ajax({
                url: "/cshare",
                type: "POST",
                data: {id_user: id_user, id_job: id_job}
            })
        });
        $("div.up_iiud").click(function () {
            $(".upload-cv-container").slideToggle("slow");
            var rec_con = $('.upload-container').css('display');
            if (rec_con == 'block') {
                $('.upload-container').slideUp();
            }
        });
        $("div.rec_iruyt").click(function () {
            var up_cv = $('.upload-cv-container').css('display');
            if (up_cv == "block") {
                $('.upload-cv-container').slideUp();
            }
            $(".upload-container").slideToggle("slow");
        });
        $("#searchInput").keyup(function () {
            //split the current value of searchInput
            var data = this.value.split(" ");
            //create a jquery object of the rows
            var jo = $("#fbody").find("tr");
            if (this.value == "") {
                jo.show();
                return;
            }
            //hide all the rows
            jo.hide();
            //Recusively filter the jquery object to get results.
            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
                return false;
            })
            //show the rows that match.
                .show();
        }).focus(function () {
            this.value = "";
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });
        var users = [];
        var $checkboxes = $('td input[type="checkbox"]');
        $checkboxes.change(function () {
            users = $.map($('input[type="checkbox"]:checked'), function (e, i) {
                var object = {};
                object.table = $(e).data('table');
                object.id_user = $(e).data('id-user');
                var json = JSON.stringify(object)
//                                console.log(e.value);
//                                console.log($(e).data('table'));
//                                return +e.value;
                return json;
            });
        });
        $('button.btn-re-action').on('click', function () {
            $.ajax({
                url: "/ajax/index/recommend",
                data: {"users": users, "id_job": "<?php echo $this->id_job ?>"},
                "type": "POST",
                success: function (data) {
                    $('.close').click();
                }
            })
        })

        $('li.social').click(function () {


            var selector = '.diifuyghjh li';
            $(selector).removeClass('active');
            $(this).addClass('active');
            var $share = $('.share-actions');
            var actions_container = $share.css('display');
            var left;
            var share_type = $(this).attr('data');
            switch (share_type) {
                case('twitter'):
                    left = 35;
                    break;
                case('facebook'):
                    left = 50;
                    break;
                case('linkedin'):
                    left = 65;
                    break;
            }
            $('.arrow-down-actions').css({'left': left + "%"});
            if (actions_container == "none") {

                $share.slideToggle();
            } else {

            }
        });
        $('a.share').on('click', function () {
            var social_share = $('.diifuyghjh').find('.active').attr('data');
            switch (social_share) {
                case('facebook'):
                    fb_share();
                    break;
                case('twitter'):
                    //
                    window.open($("#twitter-button").data('url'));
                    break;
                case('linkedin'):
                    //
                    window.open($("#linkedin-button").data('url'));
                    break;
            }
        })
        $('#facebokkShare').on('click', function () {
            fb_share();
        });

        $('.autopost-action').click(function () {
            var social_share = $('.diifuyghjh').find('.active').attr('data');
            switch (social_share) {
                case('facebook'):
                    console.log('fb autopost');
                    FB.login(function (response) {
                        var access_token = FB.getAuthResponse()['accessToken'];
                        $.ajax({
                            url: "/ajax/index/fb-graph",
                            type: "POST",
                            data: {access_token: access_token, id_job: "<?php echo $this->id_job ?>"},
                            success: function (data) {
                                data = $.parseJSON(data);
                                $('.fb-graph-response').html(data.msg);
//                                        console.log(data);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert("Status: " + textStatus);
                                alert("Error: " + errorThrown);
                            }
                        });
                    }, {scope: "publish_actions"})
                    break;
                case('twitter'):
                    //
                    console.log('twitter autopost');
                    break;
                case('linkedin'):
                    //
                    console.log('linkedin autopost');
                    PopupCenter('/users/index/linkedin-signup?job=' + "<?php echo $this->id_job ?>", 'linkedin-share-window', 600, 300);
//                                    onLinkedInLoad();
//                                    shareContent();

                    break;
            }


//                            fb_share();
        });
        $("input:file").change(function () {
            var fileName = $(this).val();
            fileName = fileName.split("\\").splice(-1, 1);
            $(".udyt_090_file_name").html(fileName);
        });


        $('.home-bounty-link').on('click', function () {
            //var id_social = $(this).data('id-social');
            var url = "<?php
                $model = new models_Jobs;
                echo $this->job_url . "&source=12"
                /*
                 if (Zend_Auth::getInstance()->hasIdentity()){
                    $model = new models_Jobs;
                    echo WebApp_Tools::createJobSlug($job) . "?track=" . md5(Zend_Auth::getInstance()->getIdentity()->id) . '&source=' . $model->getSocilaMediaIdByType('website');
                 } else {
                     echo WebApp_Tools::createJobSlug($job);
                 }
                  */
                ?>";
            $('input#url').val(url);
        });
    });

    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", shareContent);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to share content on LinkedIn
    function shareContent() {

        // Build the JSON payload containing the content to be shared
        var payload = {
            "content": {
                "title": "<?php echo $this->company_title . " : " . $this->job_facebook_title ?>",
                "description": "<?php echo str_replace('"', "'", $this->job_facebook_description) ?>",
                "submitted-url": "<?php echo $this->job_facebook_link ?>",
                "submitted-image-url": "<?php echo $this->job_company_logo ?>"
            },
            "visibility": {
                "code": "anyone"
            }
        };

        IN.API.Raw("/people/~/shares?format=json")
            .method("POST")
            .body(JSON.stringify(payload))
            .result(onSuccess)
            .error(onError);
    }
</script>

<script type="text/javascript">

    function onLinkedInLoad() {
        IN.UI.Authorize().place();
        IN.Event.on(IN, "auth", function () {
            onLogin();
        });
        IN.Event.on(IN, "logout", function () {
            onLogout();
        });
    }

    function onLogin() {
        IN.API.Profile("me").result(displayResult);
    }
    function displayResult(profiles) {
        console.log(profiles);
        member = profiles.values[0];
        if (member) {
            shareContent();
            console.log(IN.ENV.auth);
            console.log(IN.ENV);
            var access_token = IN.ENV.auth.oauth_token;
            var id_job = "<?php echo $this->id_job ?>";
//            console.log('ajax here for access token:  '+IN.ENV.auth.oauth_token);
            $.ajax({
                url: "/ajax/index/linkedin-graph",
                type: "POST",
                data: {access_token: access_token, id_job: id_job},
                success: function (data) {
//                    data = $.parseJSON(data);
//                    $('.fb-graph-response').html(data.msg);
////                                        console.log(data);
                }
            });
        }
//        alert(member.id + " Hello " +  member.firstName + " " + member.lastName);
    }
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
//
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    console.log(user_type);
    console.log(user_type.logged)
    console.log(!user_type.logged)

</script>


<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.css" rel="stylesheet"/>


<style>

    ._loader > img {
        height: 42px;
        width: 42px;
    }


    .line {
        display: flex;
        width: 100%;
        position: relative;
    }
    h2 > strong,.cit {
        width: 100%;
    }

    .applied{
        color: #666 !important;
    }
    .card-profile {
        width: 20%;
        background: white;
        box-shadow: 0 1px 2px 0px #f1f2f5;
        max-width: 300px;
        margin: 0.5%;
        text-align: left;
        position: relative;
        text-overflow: ellipsis;
        /* display: table; */
        min-width: 15%;
        max-width: 19%;
    }

    #content {
        display: contents;
        width: 90%;
    }

    .card-profile .title {
        color: grey;
        font-size: 18px;
    }

    #hoverShow1 > p {
        cursor: pointer;
        text-transform: capitalize;

    }

    .set > h2 {
        margin-left: 2%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
    }

    .home-bounty > .fa-gift {
        font-size: 29px;
        color: #74da74;
    }

     {
            margin-top: 2px;

    }
.fa-twitter , .fa-linkedin, .fa-share-alt, .fa-facebook-f, .fa-envelope {
    margin-top: 1px;
    width: 25px;
    height: 25px;
}

    .wrapper {
        background: #f1f2f7;
    }

    .home-bounty > p {
        flex-wrap: unset;
        font-size: 12px;
        white-space: nowrap;
        margin-top: -3px;
        margin-left: -7px;
    }

    .home-bounty {
        padding: 1em;
        background: white;
        height: 4.5em;
        width: 4em;
        box-shadow: 0 8px 6px -6px black;
    }

    ._loader {
        display: none;
        position: absolute;
        margin-left: 6em;
        margin-top: -2.7em;
        height: 42px;
        width: 42px;
    }

    .cao1 {
        left: 0px;
        position: absolute;

    }

    .cao {

        float: right;
        right: 0;
        position: absolute;
        right: 0px;
        text-align: right;
    }

    .card-topp {
        height: 2em;
    }

    .card-profile button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: left;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .card-profile a {
        text-decoration: none;
        font-size: 22px;
        margin-left: 5px;

        color: #555;
    }

    .social {
        /* display: none; */
        margin-left: 26px;
        position: absolute;
        background: white;
        z-index: 5;
        width: -webkit-fill-available;
        display: flex;
        margin-right: 5.2em;
    }

    .fa-map-marker-alt {
        margin-left: 4px;

    }

    .caomgiar {
        font-size: 18px !important;
        white-space: nowrap;
        text-transform: capitalize;
        overflow: hidden;
        display: flex;
        text-overflow: ellipsis;
        margin-left: 5px;
        padding: 0 2%;
    }

    .idk {
        padding: 0 2%;
    }

    .caomgiar > i {
        font-size: 20px;
        margin-bottom: -2px;
        color: #767676;
        width: 20px;
        margin-right: 4px;
    }

    p.caomgiar > strong {
        font-size: 16px;
        font-weight: 400;
    }
    .viewall {
        display: flex;
    }

    ._share {
        display: flex;
        width: -webkit-fill-available;
    }



    .card-profile a:hover {

        color: #34C3D8;
    }

    #head > div {
        display: flex;
        margin: auto;
        width: 65%;
        position: absolute;
        /* padding-left: 22%; */
        left: 0;
        right: 0;
        padding-top: 3%;
    }

    ._share a i {
        color: #555;
    }

    ._share a i:hover {
        color: #1FB5AD !important;
    }

    .card-profile button:hover, a:hover {
        opacity: 0.7;
    }

    .social {
        display: none;
        margin-left: 26px;

        position: absolute;
        background: white;
        z-index: 5;
    margin-right: 6em;
    }

    .sticky-container > #facebokkShare > i {
        background: transparent;
        filter: invert(61%) sepia(74%) saturate(445%) hue-rotate(71deg) brightness(99%) contrast(86%);

    }

    .social a {
        margin-left: 5px;
    }

    ._share:hover .social {
        display: flex;
    }

    .set-job {
        display: block;
        width: 110%;
        position: relative;
    }

    .idk {
        display: flex;
    }

    .poi {
        text-align: right;
        width: 100%;
    }

    .poi a {
        font-size: 12px;
    }

    .cls {
        font-size: 40px;
        color: #FEC452;
    }

    .www {    right: 0;
        position: absolute;
        float: right;
        margin-right: 0%;
        margin-top: 3.55em;
        opacity: 0.6;

    }

    .www svg, .ww svg {
        color: #1FB5AD;
        border-radius: 50%;
        border: 5px solid #1FB5AD;
        opacity: 0.5;
    }

    .www:hover , .ww:hover {
        opacity: 1;
        cursor: pointer;
    }

    #head {
        height: 27em;
        margin-top: 60px!important;
        background: url(\resources\frontend\css\theme\content\circle_network.png) center center no-repeat;
    }


    .wrapper {
        margin-top: 0px;
    }


.nomgleft {
    margin-left:0%!important;
}
    #head > div > div {
        /*width: auto;*/
        margin-left: 1em;
        margin-top: 9em;
        padding:0;

    }

    .fa-arrow-right, .fa-arrow-left {
        font-size: -webkit-xxx-large;
        color: aliceblue;
        margin-top: 155px;
        cursor: pointer;
    }

    .ww {
        position: absolute;
        float: left;
        text-align: left;
        cursor: pointer;
        left: 0;
        opacity: 0.6;
        margin-left: 10%;
        margin-top: 3.55em;
    }

    .next {
        display: inline-block;
        padding: 8px 19px;
        border-right: : 0;
        opacity: 0.5;
        cursor: pointer;
        margin-top: 5.5em;
        background-color: #1FB5AD;
        text-align: left;
        position: absolute;
        float: left;
        font-size: 24px;
        color: black;
    }

    .previos:hover, .next:hover {
        opacity: 1;
    }

    .ww, .www {
        z-index: 5;
    }

    .next {
        color: white;
    }

    .round {
        border-radius: 50%;
        font-size: 24px;
        }

    #greyy {
        background: #555;
        width: 100% !important;
        height: 100%;
        opacity: 0.6;
    }

    #skills {
        width: 5em;
    }

    html, body {
        width: 100%;
        height: 100%;
    }

    .bg-img {
        background-size: cover;
        background-attachment: fixed;
        height: 350px;
        position: relative;
    }

    .bg-img:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 14.2em;
        width: 100%;
        bottom: 0;
        background: linear-gradient(to bottom, #55555512, #f1f2f7 100%);
        height: 13em;
    }

    .lll {
        width: 10em;
        font-size: 20px;
        height: 2em;
    }

    #search {
        height: 3em;
        width: 150px !important;
        height: 41px!important;
    }

    ._active {
        color: #1FB5AD !important;
    }

    .fa-star {
        cursor: pointer;
    }

    .set {
        margin-left: 22.6px;
        margin-top: 30px;
        width: 88.5%;
    }

    @media screen and (max-width: 992px) {
        .bg-img:before {
            top: 24.2em!important;

        }

        #head , #greyy{
            height: 37em;

        }

    .col-md-offset-1{
        margin-top: 15em!important;

    }

        .jobs-filters-5 {
            margin-top: 1em!important;
        }
        .set-job {
            display: block;
        }

        #search {
            margin-left: .0em;

        }

        .card-profile {
            margin: 0 auto;
            margin-top: 10px;
            min-width: 109%;
            left: 0;
            margin-left: 0%;
            margin-right: 0%;       }

        #head > div {
            display: block;
            position: absolute;
            margin: 0 auto;
            margin-top: 0em;
        }

        #head > div > div {
            width: 100%!important;
        }

        #search {
            height: 41px!important;
            width: 14em !important;
            margin-left:1em;
        }
        .jobs-table {
            padding: 0;
            margin: 0;
        }

        body {
            background: #f1f2f7;

        }
        .select2-container{
            width: 100%!important;
        }

        select[multiple], select[size]{
            width: 100%!important;
        }

    }

    select {
        zoom: 1.1;
    }

    .home-bounty > .fa-bookmark {
        font-size: 29px;
        color: #3AC5D9;
    }

    .fa-facebook-f {
        content: url("/resources/files/svg/facebook-f-brands.svg");
        width: 25px;
        filter: invert(34%) sepia(0%) saturate(2624%) hue-rotate(326deg) brightness(91%) contrast(91%);
        height: 23px;
    }
    .span {
        width: fit-content;

    }

    .fa-twitter {
        content: url("/resources/files/svg/twitter-brands.svg");
        width: 25px;
        /*margin-top: 3px;*/
        filter: invert(34%) sepia(0%) saturate(2624%) hue-rotate(326deg) brightness(91%) contrast(91%);
        height: 23px;
    }

    .fa-linkedin {
        content: url("/resources/files/svg/linkedin-brands.svg");
        width: 25px;
        filter: invert(34%) sepia(0%) saturate(2624%) hue-rotate(326deg) brightness(91%) contrast(91%);
        height: 23px;
    }

    .fa-dribbble {
        /*content: url("/resources/files/svg/city-solid.svg");*/
        width: 25px;
        height: 23px;
        filter: invert(34%) sepia(0%) saturate(2624%) hue-rotate(326deg) brightness(91%) contrast(91%);
    }

    .fa-facebook-f:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-dribbble:hover {
        filter: invert(51%) sepia(94%) saturate(323%) hue-rotate(128deg) brightness(95%) contrast(104%);

    }

    ._title {
        line-height: 1.1em;

        color: white;
        text-align: center;
        position: absolute;
        font-size: 29px;
        /* padding-left: 16%; */
        padding-top: 2em;
        font-weight: 600;
        width: 100%;
    }

    .jobs-filters-5{
        width:24%;
    }

    .jobs-filters-5 > *{
        width:100%!important;
    }

    #search {
        width: 100% !important;
    }

    .fa-boxes {
    margin-right: 8px!important;
    }

    ._loader img{
        display: block;
        height: 60px;
        width: auto;
    }

</style>

<?php
$host = ($site == null) ? $_SERVER['HTTP_HOST'] : $site = preg_replace('#^https?://#', '', $site);
$host = "https://{$host}";
$model_company = new models_Company;
$id_company = (Zend_Auth::getInstance()->getIdentity()->id_company > 0) ?
    Zend_Auth::getInstance()->getIdentity()->id_company : $model_company->getCompanyBySubdomainSlug($site)['id'];
$landing_company = $model_company->getCompanyById($id_company)['landing'];
$welcome_text = $model_company->getCompanyById($id_company)['register_text'];
//echo '<pre>',print_r($model_company->getCompanyById($id_company),1),'</pre>';

?>
<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity()) ? "" : "margin-left: 0px;" ?>">
    <div id="head" class="row bg-img" style="
background: url(/resources/frontend/css/theme/images/<?php echo $landing_company;?>) center top no-repeat;
/*background: url(*/<?php //echo $this->job_company_logo;?>/*) center top no-repeat;*/
background-size: cover;
">
        <div id="greyy"></div>
        <div>
            <h1 class="_title"><?php echo $welcome_text; ?></h1>

            <div class="col-md-offset-1" style="margin-left: 0px"><input placeholder="<?= $this->translate->_('search_in_jobs') ?>" id="search" type="text" name=""></div>
            <div class="jobs-filters-5" ><select placeholder="<?= $this->translate->_('select_city') ?>" name="cities" id="cities" multiple="multiple"></select></div>
            <div class="jobs-filters-5" ><input placeholder="<?= $this->translate->_('select_skills') ?>" name="skills[]" id='skills'></div>
            <div class="jobs-filters-5" ><select placeholder="<?= $this->translate->_('select_carrer_level') ?>" name="carreers[]" id="carreers" multiple="multiple"></select>
            </div>
            <div class="jobs-filters-5" >
                <button class="lll btn btn btn-success branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"
                        onclick="get_jobs();"><?= $this->translate->_('filter_jobs') ?>&#65279;
                </button>
            </div>

        </div>

    </div>

    <section class="wrapper brain-wrap jobs-table">


        <div id="content" class="row">

        </div>

        </body>

        <script>


            var counter = [0, 0, 0, 0, 0];
            var jobs = [
                'fetch_job(" <?= $this->translate->_('fav_similar_jobs') ?>", "/default/index/favourites-similar", 0);',
                'fetch_job(" <?= $this->translate->_('be_first_share') ?>", "/default/index/shared-jobs", 1);',
                'fetch_job(" <?= $this->translate->_('promoted_jobs') ?>", "/default/index/promoted-jobs", 2);',
                'fetch_job("<?= $this->translate->_('Latest Jobs') ?>", "/default/index/latest-jobs", 3);',
                'fetch_job(" <?= $this->translate->_('permanent_jobs') ?>", "default/index/permanent-jobs", 4);',
                'fetch_job(" <?= $this->translate->_('temporary_p_based') ?>", "/default/index/temporary-jobs", 5);',
            ]


            function populate_dropdown(query_id, data, params="") {

                var a = $(query_id);
                $(a).html('');
                if (params) {
                    $.ajax({
                        type: 'GET',
                        contentType: "application/x-www-form-urlencoded",
                        url: params,
                    }).done(function (_data) {
                        data = Object.values(_data);
                        id = Object.keys(_data);
                        console.log(_data)
                        for (var i = 0; i < data.length; i++) {
                            var option = document.createElement("option");

                            if (typeof data[i] == "object") {
                                option.value = data[i].id;
                                option.innerHTML = data[i].title;
                            }
                            else {
                                option.value = id[i];
                                option.innerHTML = data[i];
                            }
                            $(a).append(option);
                        }
                        return;
                    });
                }

                if (data)
                    for (var i = 0; i < data.length; i++) {
                        var option = document.createElement("option");

                        option.value = data[i].id;
                        option.innerHTML = data[i].title;
                        $(a).append(option);
                    }
            }

            function fetch_cities() {

                $.ajax({
                    type: 'GET',
                    contentType: "application/x-www-form-urlencoded",
                    url: '/ajax/index/get-selected-cities',
                }).done(function (_data) {
                    populate_dropdown("#cities", _data.cities, "");
                });
            }

            function get_jobs() {
                $("#content").html('')

                if (user_type.logged) {
                    switch (user_type.type) {
                        case(9):
                            fetch_job(" <?= $this->translate->_('fav_similar_jobs') ?>", "/default/index/favourites-similar", 0);
                            fetch_job("<?= $this->translate->_('Latest Jobs') ?>", "/default/index/latest-jobs", 3);
                            fetch_job(" <?= $this->translate->_('promoted_jobs') ?>", "/default/index/promoted-jobs", 2);
                            fetch_job(" <?= $this->translate->_('permanent_jobs') ?>", "default/index/permanent-jobs", 4);
                            fetch_job(" <?= $this->translate->_('temporary_p_based') ?>", "/default/index/temporary-jobs", 5);
                            break;
                        case(1):
                            fetch_job(" <?= $this->translate->_('be_first_share') ?>", "/default/index/shared-jobs", 1);
                            fetch_job(" <?= $this->translate->_('promoted_jobs') ?>", "/default/index/promoted-jobs", 2);
                            fetch_job("<?= $this->translate->_('Latest Jobs') ?>", "/default/index/latest-jobs", 3);
                            fetch_job(" <?= $this->translate->_('permanent_jobs') ?>", "default/index/permanent-jobs", 4);
                            fetch_job(" <?= $this->translate->_('temporary_p_based') ?>", "/default/index/temporary-jobs", 5);
                            fetch_job(" <?= $this->translate->_('fav_similar_jobs') ?>", "/default/index/favourites-similar", 0);
                            break;
                        case(2):
                        case(3):
                        case(4):
                        case(5):
                            fetch_job(" <?= $this->translate->_('be_first_share') ?>", "/default/index/shared-jobs", 1);
                            fetch_job(" <?= $this->translate->_('promoted_jobs') ?>", "/default/index/promoted-jobs", 2);
                            fetch_job("<?= $this->translate->_('Latest Jobs') ?>", "/default/index/latest-jobs", 3);
                            fetch_job(" <?= $this->translate->_('permanent_jobs') ?>", "default/index/permanent-jobs", 4);
                            fetch_job(" <?= $this->translate->_('temporary_p_based') ?>", "/default/index/temporary-jobs", 5);
                            fetch_job(" <?= $this->translate->_('fav_similar_jobs') ?>", "/default/index/favourites-similar", 0);
                            break;

                    }
                } else {

                    fetch_job("<?= $this->translate->_('Latest Jobs') ?>", "/default/index/latest-jobs", 3);
                    fetch_job(" <?= $this->translate->_('promoted_jobs') ?>", "/default/index/promoted-jobs", 2);
                    fetch_job(" <?= $this->translate->_('permanent_jobs') ?>", "default/index/permanent-jobs", 4);
                    fetch_job(" <?= $this->translate->_('temporary_p_based') ?>", "/default/index/temporary-jobs", 5);

                }
            }

            $(document).ready(function () {
                if(!user_type.logged)
                    $(".ww").addClass("nomgleft")

                $('#cities, #carreers').select2();

                populate_dropdown("#carreers", "", "/get-job-careers")
                fetch_cities();
                get_total()

                get_jobs();
                $("#skills").select2({
                    data: ['zzzzz'],
                    tags: "true",
                    allowClear: true,
                    placeholder: "Select a skill",
                    multiple: true,
                    ajax: {
                        type: 'POST',
                        dataType: 'json',
                        url: "/get-skill",
                        delay: 250,
                        data: function (params) {
                            console.log(params)
                            return {
                                skill: params, // search term
                            };
                        },
                        results: function (data, page) {
                            // parse the results into the format expected by Select2.
                            // since we are using custom formatting functions we do not need to
                            // alter the remote JSON data
                            // console.log(data);
                            // console.log(data);
                            id = Object.keys(data);
                            data = Object.values(data);
                            var _results = [];
                            for (var i = 0; i < id.length; i++) {
                                var employee = {
                                    "id": id[i],
                                    "text": data[i]
                                }
                                _results.push(employee);
                                console.log(_results)
                            }
                            return {
                                results: _results
                            };
                        },
                        cache: true
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    },
                    minimumInputLength: 1,
                    templateResult: formatRepo,
                    templateSelection: formatRepoSelection
                });

                function formatRepo(repo) {
                    console.log(repo)
                    if (repo.loading) return repo.text;

                    var markup =
                        '<div class="avatar">' +
                        '<img src="' + repo.owner.avatar_url + '" style="max-width: 100%" />' +
                        '</div>' +
                        '<div class="info">' +

                        '<div class="col-sm-6">' + repo.full_name + '</div>' +
                        '<div class="col-sm-3"><i class="fa fa-code-fork"></i> ' + repo.forks_count + '</div>' +
                        '<div class="col-sm-2"><i class="fa fa-star"></i> ' + repo.stargazers_count
                    ;

                    if (repo.description) {
                        markup += '<div>' + repo.description + '</div>';
                    }

                    markup += '</div></div>';

                    return markup;
                }

                var defaultData = [{id: 1, text: 'Item1'}, {id: 2, text: 'Item2'}, {id: 3, text: 'Item3'}];


                function formatRepoSelection(repo) {
                    return repo.full_name || repo.text;
                }


            });



        </script>


    </section>
</section>

<style>
    :root {
        --sss: -100%;
    }

    .marquee {
        width: 100%;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
    }

    .hoverWrapper {
        display: flex;
    }

    .hoverWrapper:hover #hoverShow1 {
        display: block;
    }



    .hoverWrapper #hoverShow1 {
        margin-top: 1.9em;
        font-size: 16px;
        margin-left: 1em;
    }

    .marquee span {
        display: inline-block;
        padding-left: 100%;
        text-indent: var(--sss);
        animation: marquee 10s linear infinite;
        animation-play-state: paused;
        padding-left: 0;
    }

    .marquee span:hover {
        animation-play-state: running;
    }

    /* Make it move */
    @keyframes marquee {
        0% { transform: translate(0, 0); }
        100% { transform: translate(-100%, 0); }
    }


    .line {
        display: flex;
        width: 100%;
        position: relative;
    }
</style>