<style type="text/css">
    span > span > span {
        font-family: "Open Sans", sans-serif !important;
        font-size: 16px !important;
    }
    * {
        font-family: "Open Sans", sans-serif !important;
        font-size: 16px !important;
    }
    
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: #1FB5AD; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }

    #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }
</style>

<section style="width: 800px;margin: 100px auto;" id="tsp-terms">
    <div id="sumar">
        <h3>Talentspotting Terms of Use & Privacy</h3>
        <ul>
            <li><a href="#tsp-terms">Talentspotting terms</a></li>
            <li><a href="#company-terms">Employer terms</a></li>
        </ul>
    </div>
</section>    

<section style="width: 800px;margin: 100px auto;" id="tsp-terms">
    
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: x-large;"><strong>Terms of Use for the Talentspotting Employee Referral Platform of Brainspotting Consulting SRL</strong></span></span></span></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: x-large;"><strong>Last updated on 05-06-2018</strong></span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">I. General Provisions</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">1. Scope/Terms</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">These Terms of Use, as published at the time of entering into a contract, govern the use of and orders for any and all services offered via www.talentspotting.com (the &ldquo;Website&rdquo;) in connection with our Talentspotting Recommendation Platform (the &ldquo;Platform&rdquo; or &ldquo;Talentspotting&rdquo;) as agreed between Brainspotting Consulting SRL, 6 Pitar Mos Str, Bucharest, Romania, and our customers (hereinafter referred to as &ldquo;Customers&rdquo;). Other terms and conditions as imposed by the Customer will only be recognised if they bear the signature of Brainspotting Consulting SRL.</span></span></span></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The services we offer are strictly addressed to enterprises. For the purpose of these Terms of Use, we do not enter into contracts with consumers &ndash; natural persons.</span></span></span></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The Customer shall be deemed represented by the persons opening and managing an online account on </span></span></span><a href="http://www.talentspotting.com/"><span style="font-family: Arial, serif;"><span style="font-size: small;">www.talentspotting.com</span></span></a><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;"> (hereinafter the &ldquo;Administrator&rdquo;, &ldquo;Administrators&rdquo;). Administrators shall at the same time act as contact persons for Brainspotting Consulting SRL in managing the contract.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">2. Later Amendments of these Terms of Use </span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Brainspotting Consulting SRL is entitled to adjust and complement these Terms of Use governing existing business relations to the extent that this is required due to changes in legislation or due to court rulings, or if other circumstances arise as would cause a more than insignificant imbalance in contractual relations. Such later amendments of these Terms of Use will take effect if the Customer does not object thereto within six (6) weeks from notification of the change. Brainspotting Consulting SRL will expressly indicate to the Customer at the beginning of such period for objection that tacit consent results in the acceptance of the contractual change and will give the Customer an opportunity for an express declaration of intent during such period. If the Customer objects within the deadline, both Brainspotting Consulting SRL and the Customer shall be entitled to immediate termination of the contractual relationship.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">II. Conclusion of Contract and Subject Matter of Contract</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">1. Conclusion of Contract</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">By registering a business account via www.talentspotting.com (&ldquo;Customer Account&rdquo;), the Customer accepts these Terms of Use and enters into a contract for the use of the services provided on the platform and pays the corresponding fees (&lsquo;Talentspotting Contract&rsquo;). Brainspotting Consulting SRL accepts this offer to enter into a contract by activating the Customer Account and signing a contract with us.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">2. Subject Matter of Contract</span></span></span></p>
    <p></p>
    <p><a name="_GoBack"></a> <span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The subject matter of the contract is the provision of access to the platform offering chargeable services for a defined term, as described below and in Section III in more detail. </span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Upon registration, the Customer will choose a Talentspotting domain (for example: &lsquo;[Name of Customer].talentspotting.com&lsquo;). Brainspotting Consulting SRL reserves the right to block certain domain names and/or change them (on reasonable grounds).</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The use of the platform is chargeable, as described in the Talentspotting contract signed by each Customer. The use of such Chargeable Services shall also be governed by these General Terms and Conditions of Business. Prior to entering into a contract for Chargeable Services, Brainspotting Consulting SRL will inform the Customer about the content of each Chargeable Service, prices and payment terms. </span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Customer shall keep the password for access to the private area strictly confidential and shall refrain from disclosing it to third parties. Customer will take appropriate and reasonable precautions to prevent third parties from becoming cognisant to its password. Customer Accounts cannot be transferred to other users/customers or other third parties.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">III. Services and Performance</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">1. Description of Services</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">During the term of the contract, Talentspotting will offer the Customer a technical solution enabling Customer to access the platform described here online (the &ldquo;Service&ldquo;) and to use the platform functionalities under these Terms of Use and as described on the website.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Brainspotting Consulting SRL shall be entitled to change or update the Service (including the infrastructure, security features, technical configurations, applications etc.) during the term of the contract, i.a. to keep abreast of technologies, industrial practices and user behaviour. Such changes made by the Provider will not lead to a significant restriction of capability or availability of the Services provided.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">a. General Provisions</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Brainspotting Consulting SRL is offering Customers a web-based platform through which they can find suitable job candidates based on recommendations (hereinafter referred to as &ldquo;Candidates&rdquo;). In this context, Brainspotting Consulting SRL will merely make available the platform for the administration of the recommendation programme. Brainspotting Consulting SRL expressly declares that it will neither look for suitable candidates on behalf of the Customer nor guarantee that the Customer will indeed find a suitable job candidate for its enterprise.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">b. Administration </span></span></span></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Through its platform, Brainspotting Consulting SRL is facilitating the administration of job advertisements, recommendations and candidates.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">c. Recommenders</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Administrators may use the platform of Brainspotting Consulting SRL to invite &ldquo;Recommenders&rdquo; (employees of the Customer or selected third parties) to recommend candidates qualified for advertised job vacancies in the Customer&rsquo;s enterprise. For this purpose, recruiters send invitations to join the platform to the Recommenders; these may then activate their own accounts, including access data. The activities of Recommenders (recommendation of a suitable candidate, publication of job vacancies by e-mail or in social networks such as Facebook, LinkedIn or Twitter, upload candidate CV) earn them bonuses in the form of points, which are visible to them in their private Leaderboard. Moreover, the Customer may reward them with a financial or a non-financial if the candidates they recommended are hired. Brainspotting Consulting SRL expressly declares that the payment of a bonus will be at the sole discretion of the Customer. Brainspotting Consulting SRL does not become a party to any agreement between the Customer and Recommenders. Furthermore, it is within the responsibility of the Customer to adhere to legislation in respect of social security contributions and taxes when paying out bonuses.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">d. Candidates </span></span></span></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Candidates may answer the Customer&rsquo;s job advertisements by applying via the Talentspotting platform. This requires the candidate to have been informed of the job vacancy by a Recommender (e.g. via publication of the job vacancy on a social network).</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">2. Outsourcing to Third Parties/Subcontractors</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Brainspotting Consulting SRL shall be entitled to outsource the performance of the contract or part thereof (e.g. platform hosting) to third parties/subcontractors. SLAs established with each third party/subcontractor will never come into conflict with Brainspotting&rsquo;s SLAs to its customers. </span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">3. Delayed Performance/Availability</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Brainspotting Consulting SRL will not assume any liability in cases of delay in the performance of services due to force majeure and extraordinary and unforeseeable events which cannot be avoided by Brainspotting Consulting SRL even with the utmost care and diligence (including, without being limited to, strikes, orders by authorities or courts or cases where Brainspotting Consulting SRL is not correctly or properly supplied in spite of an adequate cover transaction). The Customer is authorising Brainspotting Consulting SRL to postpone performance of the service for such time as the obstacle to performance continues to exist.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">IV. Customer&rsquo;s Responsibilities/Obligations</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Customer shall fulfil the obligations incumbent upon it for the provision of services and management of the contract.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">1. Content of Information, Job Advertisements, Profile Design and other Obligations</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Customer undertakes to upload truthful content and legitimate job advertisements exclusively, and to compile the information about the job vacancy posted on Talentspotting carefully and properly, and to deactivate or update, as the case may be, any content which is no longer current. Customer shall be exclusively responsible for the content and correctness of data and pictures transmitted.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Moreover, Customer&rsquo;s obligations shall include, without being limited to:</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;">&bull; <span style="font-family: Arial, serif;"><span style="font-size: small;">the obligation to make timely payment of the agreed fees. Brainspotting Consulting SRL shall be refunded by Customer any and all costs incurred for any direct debit which is not honoured or returned;</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;">&bull; <span style="font-family: Arial, serif;"><span style="font-size: small;">the obligation to protect the user and access authorisations assigned to Customer or its users (in particular passwords) as well as of identification and authentication backups from third-party access and not to disclose these to unauthorised users;</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;">&bull; <span style="font-family: Arial, serif;"><span style="font-size: small;">the obligation to ensure that any and all industrial property right and copyright rules are observed (e.g. when third-party texts and data are uploaded to Provider&rsquo;s server);</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;">&bull; <span style="font-family: Arial, serif;"><span style="font-size: small;">the obligation to obtain the consent of those concerned if the Customer collects, processes or uses personal data while using the platform and there is no statutory basis approving such collection, processing or use;</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;">&bull; <span style="font-family: Arial, serif;"><span style="font-size: small;">the obligation to refrain from the following unless authorised to do so: retrieving, or having retrieved by third parties, information or data, or interfering with programmes run by the Provider, or having third parties interfere with such programmes, or accessing data networks of the Provider;</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;">&bull; <span style="font-family: Arial, serif;"><span style="font-size: small;">the Customer is prohibited to save content whose provision, publication and use infringes legislation in force at the time or agreements with third parties. In particular, Customer undertakes not to transmit any data or pictures the content of which infringe the rights of third parties (e.g. personality rights, name rights, trademark rights, copyrights etc.) or violate legislation.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;">&bull; <span style="font-family: Arial, serif;"><span style="font-size: small;">Brainspotting Consulting SRL will not verify data uploaded to the platform, nor will it run data quality, data compatibility and data accuracy checks. In the event that the Customer overwrites or deletes data, Brainspotting Consulting SRL will not be obliged to recover such data (if this is at all technically feasible).</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">2. No Misuse</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The Customer undertakes only to use the services provided by Brainspotting Consulting SRL to the extent that this is lawful and permissible under these General Terms and Conditions of Business. Misuse will lead to the revocation of the right of use granted by registration. In the event that Brainspotting Consulting SRL becomes aware of misuse, it may deactivate the Customer&rsquo;s Customer Account and terminate the Contract without notice. Previously paid fees, if any, will not be refunded in such case.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Misuse shall include, without being limited to, unlawful use, such as copyright infringements. Moreover, misuse shall be deemed to include the provision, dissemination or other exploitation of illegally acquired data as well as the dissemination or provision of data for unlawful purposes. In particular, misuse of the Services provided by Brainspotting Consulting SRL shall be deemed to include:</span></span></span></p>
    <p><span style="color: #000000;">&bull; <span style="font-family: Arial, serif;"><span style="font-size: small;">spamming,</span></span></span></p>
    <p><span style="color: #000000;">&bull; <span style="font-family: Arial, serif;"><span style="font-size: small;">sending and storing insulting, obscene, threatening or offending content or content which infringes third-party rights in any other way,</span></span></span></p>
    <p><span style="color: #000000;">&bull; <span style="font-family: Arial, serif;"><span style="font-size: small;">sending and storing viruses, worms, trojans as well as harmful computer codes, files, scripts, agents or programmes,</span></span></span></p>
    <p><span style="color: #000000;">&bull; <span style="font-family: Arial, serif;"><span style="font-size: small;">uploading programmes suited for disrupting, impairing or obstruct the operations of Brainspotting Consulting SRL,</span></span></span></p>
    <p><span style="color: #000000;">&bull; <span style="font-family: Arial, serif;"><span style="font-size: small;">attempting to gain unauthorised access to a Brainspotting Consulting SRL Service or the platform or individual modules, systems or applications or to grant such access to third parties.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">3. Indemnification</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The Customer undertakes to hold Brainspotting Consulting SRL harmless and indemnified of all claims by third parties, including reasonable or statutorily determined costs of defending its rights if such claims are based on Customer&rsquo;s use of the platform and its content in breach of the contract or in a manner that constitutes platform misuse and/or unlawful platform use, or if this happened with Customer&rsquo;s condonement or if such claims pertain to disputes under data protection, copyright or other legislation linked with platform use. If the Customer identifies or ought to identify such a breach or the risk of such a breach, it shall be obliged to inform Brainspotting Consulting SRL without delay. The Customer will support Brainspotting Consulting SRL in defending itself against such claims, such support including, without being limited to, the provision of any and all information required for such defence. The Customer is obliged to compensate Brainspotting Consulting SRL for any damage or loss caused by the successful enforcement of such claims by third parties.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">V. Security and Availability</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">To the extent that is economically reasonable, Brainspotting Consulting SRL will use state-of-the-art security technology (e.g. encryption and password protection) when making the platform available.</span></span></span></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">For chargeable services/packages, the Parties agree on an annual average of 99% platform availability during the business hours of customer support (working days between 09:00 and 18:00 GMT+2h). If maintenance work is done during customer support hours and such maintenance work is announced in due time, maintenance shall be deemed available during these hours for the purpose of calculating availability time.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">VI. Right to Platform Use and Requirements of Contractual Use</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The Customer will be given the non-exclusive right to access the platform via telecommunications for Customer&rsquo;s own internal business use; such use shall be in a proper manner and in conformity with the contract, and such right shall be granted for the term of the contract; Customer shall not be entitled to grant sub-licenses to such right of use, and Customer shall use the functionalities offered on the platform via a browser in accordance with the contract. Customer will not be granted any further rights, including rights to the software applications linked with the platform or to the operating software.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The Customer shall not be entitled to use the platform beyond the scope of contractual use. Without written approval, Customer shall in particular not be entitled to permit independent platform use to third parties, including its affiliates, external service providers, cooperation partners or subcontractors. Moreover, Customer shall in particular not be allowed to reproduce, sell or loan the platform for a defined term; this shall include a prohibition to let or lease out their platform.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">If the use of the platform in conformity with the contract is impaired by third-party property rights without any fault of Brainspotting Consulting SRL, Brainspotting Consulting SRL shall be entitled to refuse the provision of the services concerned. Brainspotting Consulting SRL will inform the Customer thereof without delay and facilitate access to Customer&rsquo;s data in an appropriate manner. In such case, Customer will not be obliged to continue making payments. Other entitlements or rights of Customer shall remain unaffected.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">VII. Term of the Contract</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The standard contract term is 12 months. If the parties agree to another contract term when entering into the contract, this will be specified in the contract. The contract shall be extended by the same term if it is not terminated in writing by the Customer or Brainspotting Consulting SRL in a timely manner as per the end of a month subject to a period of notice of thirty (30) days. </span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Upon deletion of an Account, any job advertisements as may still be active will be deactivated and related data will be permanently erased after a period of 30 days.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The statutory right to termination without notice for cause shall be unaffected by this clause. One cause entitling Brainspotting Consulting SRL to terminate the contract without notice is misuse as defined in Clause 4 of this contract.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">VIII. Payment Terms</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Apart from the Terms and Conditions of Payment published on the website, the following shall apply to Services:</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">1. Prices</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Any and all prices stated are net prices subject to statutory value-added tax at the applicable rate.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">2. Usage Fee</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The Customer shall be obliged to pay a usage fee to Brainspotting Consulting SRL for selected chargeable packages. Such fee may be charged monthly or annually. The amount payable is subject to the price list of Brainspotting Consulting SRL applicable at the time of the order.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">3. Usage Fee Adjustment</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Brainspotting Consulting SRL shall be entitled to adjust the usage fee and/or the price list relating thereto in the event that the contract term is extended. Brainspotting Consulting SRL will give the Customer three (3) months&rsquo; advance notice of any usage fee adjustments.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">5. Account Suspension in Case of Default</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">In the event that Customer is in delay with payments, Brainspotting Consulting SRL shall be entitled to suspend Customer&rsquo;s access and all user accounts on the platform of Brainspotting Consulting SRL until all outstanding payments have been made. The Customer shall not be entitled to any setoff unless related claims were confirmed by court and are final and unappealable, or if related claims were recognised by Brainspotting Consulting SRL in writing.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">IX. Warranty</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Brainspotting Consulting SRL warrants (in respect of chargeable Services only) that the quality of the Services is essentially as agreed upon but not that (i) the Services are rendered free from error or disruption and that (ii) the Services function in combination with any and all content, applications or systems of Customer or with any other hardware and software or systems or data. Moreover, Customer acknowledges that Brainspotting Consulting SRL does not control online data transmission and that the Services could be subject to restrictions, delays and other problems with Brainspotting Consulting SRL not being responsible for delays or other damage or loss caused by such problems. Brainspotting Consulting SRL is not responsible for errors arising from content or applications of the Customer or third parties.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Customer shall inform Brainspotting Consulting SRL of any Service breakdown without delay, and no later than after two (2) weeks via customer support. Fault reports sent through this channel shall contain any and all relevant information for Brainspotting Consulting SRL to reproduce and eventually remove the essential fault.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">In the event that Customer has used Services of the platform and that the breakdown was reported properly and proof thereof was furnished, Brainspotting Consulting SRL shall provide to the Customer, at the latter&rsquo;s discretion, a new, fault-free version if this is reasonable for the Customer, or to remove the fault otherwise. If such troubleshooting fails finally after a reasonable period of grace has been set by the Customer, Customer may opt to reduce consideration or terminate the Service. </span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">X. Liability</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Brainspotting Consulting SRL will only assume any liability for damage or loss demonstrably caused by itself or one of its legal representatives or vicarious agents with premeditation or gross negligence.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">In any event, Brainspotting Consulting SRL will only assume liability in an amount that is equivalent to the foreseeable damage or loss typical for the type of contract; any damages or other claims whatsoever asserted against Brainspotting Consulting SRL shall be limited to the amount invoiced or, for lack thereof, to the usage fee for the term of the contract (in the event of contracts for an unlimited period, this shall be defined as a cumulative annual usage fee). The abstract definition of the term &ldquo;essential contractual obligations&rdquo; relates to obligations the fulfilment of which make the proper performance of a contract possible at all and the parties to the contract can rely on as a rule. Any liability beyond this is excluded.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Liability for indirect damage, such as lost profits, expenses arising from a disruption of business operations, data loss or third-party claims, incidental damage or consequential damage caused by a defect will also be excluded.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Claims for damages will become statute-barred as stipulated by law, and no later than one year after the damage or loss and the party causing the damage have become known.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">XI. Data Protection</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The Customer shall be responsible for reviewing and adhering to the data protection legislation applicable to the collection, processing and use of its data in the framework of the Services, and to safeguard the rights of those concerned to information, correction, blocking or deletion. The parties will enter into a separate contract data processing agreement in respect of data use.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">XII. Final Provisions</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Contracts shall be governed by the laws of Romania to the exclusion of the United Nations Convention on the International Sale of Goods. The courts in Bucharest (Romania) shall have exclusive jurisdiction in any and all disputes arising from and in connection with such contracts.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Amendments and additions to contracts shall be done in writing to be valid. This shall also apply to amendments to this paragraph.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">The Customer will not be entitled to assign contracts or rights and obligations under contracts, including the use of the Services wholly or partly to third parties without the prior written consent of Brainspotting Consulting SRL.</span></span></span></p>
    <p></p>
    <p><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">In the event that a provision of a contract is or becomes ineffective or unenforceable, or in the event of lacunae in a contract, the effectiveness and enforceability of the remainder of the contract shall be unaffected. The lacuna or ineffective or unenforceable provision shall be replaced by a provision which is as close as possible to the intended and economic purpose which the parties aim at.</span></span></span></p>
</section>
<hr />
<section style="width: 800px;margin: 100px auto;" id="company-terms">
    <?php
    echo $this->hasTerms ;
    ?>
</section>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>