    <!--main content start-->
    <section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper">
            <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Linkedin Connection
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>                        
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">                            
                            <table class="table table-striped table-hover table-bordered" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Headline</th>
                                        <th>Industry</th>
                                        <th>Location</th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ((array) $this->items as $item):?>
                                    <tr class="">
                                        <td><?php echo $item['id'];?></td>
                                        <td><?php echo $item['firstname'];?> <?php echo $item['lastname'];?></td>
                                        <td><?php echo $item['headline'];?></td>
                                        <td><?php echo $item['industry'];?></td>
                                        <td><?php echo $item['location'];?></td>
                                        <td><a href="<?php echo $item['url'];?>" target="_blank"><img src="<?php echo $item['image'];?>" /></a></td>                                        
                                    </tr>                                
                                    <?php endforeach;?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        </section>
    </section>
</section>