<div class="sign-in_2-lvl1">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding" id="sign_in">
				<div class="sign-in-opt-left"><?php echo $this->translate->_("has-account");?></div>
				<div class="sign-in-label"><?php echo $this->translate->_("login_title");?></div>
                <?php if ($this->flash_messages[0] != ""):?>
                <div class="alert alert-block alert-danger fade in">
                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                    <?php echo $this->translate->_($this->flash_messages[0]);?>
                    </div>
                    <hr />
                <?php endif;?>
				<form autocomplete="off" method="POST" action="/login">
					<input type="email" name="email" value="" placeholder="<?php echo $this->translate->_("username");?>" autocomplete="off" required=""/>
					<input type="password" name="password" value="" placeholder="<?php echo $this->translate->_("password");?>" required="" />
					<a href="#" id="sign_in_linkedin">
						Linkedin
					</a>
					<ul>
						<li><a href="#"><img src="/resources/frontend/images/fb-icon-transparent.png" alt="Sign in with Facebook" /></a></li>
						<li><a href="#"><img src="/resources/frontend/images/gplus-icon-transparent.png" alt="Sign in with Google+" /></a></li>
						<li><a href="#"><img src="/resources/frontend/images/twitter-icon-transparent.png" alt="Sign in with Twitter" /></a></li>
					</ul>
					<input type="submit" value="Log In" />
				</form>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding" id="sign_up">
				<div class="sign-up">
					<div class="sign-in-opt-right"><?php echo $this->translate->_("dont-account");?></div>
					<div class="sign-up-label"><?php echo $this->translate->_("sign-up");?></div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<form method="POST" action="/register">
							<input type="email" name="email" value="" placeholder="<?php echo $this->translate->_("email");?>" />
							<input type="password" name="password" value="" placeholder="<?php echo $this->translate->_("password");?>" />
							<input type="password" name="password_confirm" value="" placeholder="Confirm Password" />
							<input type="text" name="firstname" value="" placeholder="<?php echo $this->translate->_("firstname");?>" />
							<input type="text" name="lastname" value="" placeholder="<?php echo $this->translate->_("lastname");?>" />
							<input type="submit" value="<?php echo $this->translate->_("register-step-2");?>" />
						</form>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sign-up-social">
						<span><?php echo $this->translate->_("you_can_user");?></span>
						<a href="/register-linkedin" class="sign-up-2-linkedin">Linkedin</a>
						<ul>
							<li><a href="#"><img src="/resources/frontend/images/fb-icon-transparent.png" alt="Sign in with Facebook" /></a></li>
							<li><a href="#"><img src="/resources/frontend/images/gplus-icon-transparent.png" alt="Sign in with Google+" /></a></li>
							<li><a href="#"><img src="/resources/frontend/images/twitter-icon-transparent.png" alt="Sign in with Twitter" /></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sign-in_2-lvl2">
	<div class="container">
		<div class="row">
            <?php echo $this->translate->_("sign_in_lvl_2");?>
			<ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<li class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-12">
					<img src="/resources/frontend/images/opp-1.png" alt="Suitable Jobs" />
					<span><?php echo $this->translate->_("sign_in_lvl_2_suitable");?></span>
				</li>
				<li class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-12">
					<img src="/resources/frontend/images/opp-2.png" alt="Suitable Jobs" />
					<span><?php echo $this->translate->_("sign_in_lvl_2_rewards");?></span>
				</li>
				<li class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-12">
					<img src="/resources/frontend/images/opp-3.png" alt="Suitable Jobs" />
					<span></span>
				</li>
			</ul>
			<p><?php echo $this->translate->_("sign_in_lvl_2_join");?></p>
		</div>	
	</div>
</div>
<div class="sign-in_2-lvl3">
	<div class="container">
		<div class="center-lvl3">
			<h1><?php echo $this->translate->_("sign_in_lvl_2_help");?></h1>
			<a href="/"><?php echo $this->translate->_("sign_in_lvl_2_start");?></a>
		</div>
	</div>
</div>