<div class="company-signin">
	<div class="company-first">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="outer">
						<div class="middle">
							<div class="inner">
								<h1><?php echo $this->translate->_("has-account");?></h1>
                                <?php if ($this->flash_messages[0] != ""):?>
                                <div class="alert alert-block alert-danger fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]);?>
                                </div>
                                <?php endif;?>
								<form id="sign-up-company" method="post" action="/login-company">
                                    <input type="email" class="form-control" name="email" required="" value="" placeholder="<?php echo $this->translate->_("username");?>" autocomplete="off"/>
                                    <input type="password" class="form-control" name="password" required="" value="" placeholder="<?php echo $this->translate->_("password");?>" /><br />
									<div class="company-signin-form"><input type="checkbox" /><span><?php echo $this->translate->_("remember_me");?></span> <a id="forgotPass" href="#"><?php echo $this->translate->_("forgot_pasword");?></a></div>									
									<button type="submit" value="login" class="btn btn btn-warning"><?php echo $this->translate->_("submit");?></button>
								</form>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sign-in-company">
					<h2><?php echo $this->translate->_("dont-account");?></h2>
					<form id="sign-in-company" method="POST" action="/register">
						<input type="text" class="form-control" name="company[firstname]" placeholder="Firstname"  required=""/>
						<input type="text" class="form-control" name="company[lastname]" placeholder="Lastname" required="" />
						<input type="email" class="form-control" name="company[email]" placeholder="Email" required="" />
						<input type="text" class="form-control" name="company[title]" placeholder="Company name" required=""/>					
						<input type="password" class="form-control" name="company[password]" placeholder="Password" required="" />											                        
						<select name="company[id_city]" class="form-control select2" required="">
                            <option value=""><?php echo $this->translate->_("city");?></option>
                            <?php foreach ($this->cities as $key => $val):?>
                                <option value="<?php echo $key;?>"><?php echo $val;?></option>
                            <?php endforeach;?>
                        </select>
						<button type="submit" value="login" class="btn btn btn-warning"><?php echo $this->translate->_("register");?></button>						
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="company-second">
		<div class="container">
		<h3><?php echo $this->translate->_("register_comp_1");?></h3>
		<p><?php echo $this->translate->_("register_comp_2");?></p>
    </div>
</div>
<div class="company-third">
</div>
</div>