<script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
<div id="first" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Improve your recruitment process</h4>

    </div>
    <div class="modal-body">
        <div class="war1" style="display: none">
            <div class="alert alert-danger"><strong>Please check all your fileds</strong></div>
        </div>
        <div class="war2"></div>
        <div class="error_mail" style="display:none">
            <div class="alert alert-danger"><strong>Please check your email address</strong></div>
        </div>
        <form id="myForm" action="" role="form">

            <div class=" form-group">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="name ..."  id="name" class=" form-control" required="required" />
            </div>
            <div class=" form-group">
                <label for="phone">Phone</label>
                <input type="text" name="phone" placeholder="phone ..." id="phone" class=" form-control" required="required" />
            </div>
            <div class=" form-group">
                <label for="email">Email</label>
                <input style="width:100% !important;text-align:left !important" type="text" name="email" placeholder="email ..." id="email" class=" form-control" required="required" />
            </div>
            <div class=" form-group">
                <label for="name">Company</label>
                <input type="text" name="Company" placeholder="company name ..."  id="Company" class=" form-control" required="required" />
            </div>
            <div class=" form-group">
                <label for="Message">Message</label>
                <textarea name="message" id="message" class=" form-control" cols="30" rows="4" style="resize: none;"></textarea>
            </div>




            <div class="g-recaptcha _uutyy" data-sitekey="6LcLjCUTAAAAAA3O1iEfK_m_mIELv09LTZYuzCAa"></div>
        </form>
    </div>
    <div class="btn-style">
        <a id="go" href="javascript:;">Let's meet!</a>
    </div>
</div>

<script type="text/javascript">
    function validEmail(v) {
        var r = new RegExp("[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?");
        return (v.match(r) == null) ? false : true;
    }
    $(document).ready(function () {
        $('#go').on('click', function () {
            if ($('#name').val() === "" || $('#phone').val() === "" || $('#email').val() === "") {
//                if (!$('.alert-danger').length) {
                $('.war1').delay(500).fadeIn('normal', function () {
                    $(this).delay(1500).fadeOut();
                });
//                }



            } else {

                if (!validEmail($('#email').val())) {

                    $('.error_mail').delay(500).fadeIn('normal', function () {
                        $(this).delay(1500).fadeOut();
                    });
                    return false;
                }

                var response = grecaptcha.getResponse();
                if (response.length == 0) {
                    return false ;
                } else {
                        var data = $("#myForm").serialize();
                $.ajax({
                    url: "/demorequest",
                    data: data,
                    Type: "POST",
                });
                grecaptcha.reset();
                $('.war1').hide();
                $('.war2').append('<div class="alert alert-success"><strong>Thank you</strong></div>');

                setTimeout(
                        function () {
                            $("form")[0].reset();
                            $(".war1").html("");
                            $(".war2").html("");
                            $('.close').click();
                        }
                , 500);
                }
            

            }

        });
        $('.close').on('click', function () {
            $("form")[0].reset();
            $(".war1").html("");
            $(".war2").html("");
        });
    })
</script>

