<section id="log-in">
    <div class="box-login">
        <div class="box-login-head">
            <?php if ($this->flash_messages[0] != ""): ?>
                <div class="alert alert-block alert-danger fade in _yyrt65546">
                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                        <?php echo $this->translate->_($this->flash_messages[0]); ?>
                </div>
            <?php endif; ?>
            <h1 class=" register">We value your time! It takes only 30 seconds to register on Talentspotting!</h1>                
        </div>
        <div id="social-signup">
            <div class="social_">
                <a class="fb-signup" target="_blank" href="<?= $this->fb_url ?>" title="Signup with facebook"><img class="fb-i" src="/resources/frontend/css/theme/icons/fb.png" alt="" />&nbsp;&nbsp;<?php echo $this->translate->_('sign_up_with_facebook') ?></a>
            </div>
            <div class="social_">
                <a class="li-signup" target="_blank"href="/users/index/linkedin-signup" title="Signup with linkedin"><img class="fb-i" src="/resources/frontend/css/theme/icons/in.png" alt="" />&nbsp;&nbsp;<?php echo $this->translate->_('sign_up_with_linkedin') ?></a>
            </div>
            <div class="social_">
                <a class="go-signup" target="_blank"href="/users/index/google-signup" title="Signup with google"><img class="fb-i" src="/resources/frontend/css/theme/icons/go.png" alt="" />&nbsp;&nbsp;<?php echo $this->translate->_('sign_up_with_google') ?></a>
            </div>
            
        </div>
        <div class="form-wrap">
            <form action="/register" id="register-form" method="POST" autocomplete="off" >

                <div class="username form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" name="email" checked="form-control" autocomplete="off" required="required"/>
                </div>

                <div class="username form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" checked="form-control" autocomplete="off" required="required" id="new-password"/>
                </div>

                <div class="username form-group">
                    <label for="password-retype">Retype Password</label>
                    <input class="form-control" type="password" name="password-retype" checked="form-control" autocomplete="off" required="required" id="retype-password"/>
                </div>
                <?php if($this->hasTerm == 1) : ?>
                <div class="username form-group">
                    <a class="tms-cls" href="/terms-condition" data-target="#myModal" data-toggle="modal" ><label for="terms" class="terms-chkb">Terms & Conditions</label></a>
                    <input class="form-control" type="checkbox" name="terms" required="required"/>
                </div>
                <?php endif; ?>

<!--
                <div class="username">
                    <input type="text" placeholder="Firstname" required="" name="firstname" autocomplete="off" />
                </div>
                <div class="username">
                    <input type="text" placeholder="Lastname" required="" name="lastname" autocomplete="off" />
                </div>
                <div class="username">
                    <input type="text" placeholder="E-mail" required="" name="email" autocomplete="off" />
                </div>
                <div class="password">
                    &nbsp;
                </div>                    -->
                <div id="register-btn">
                    <input type="submit" value="Register" class=" register-btn register-click" />
                </div>
            </form>                
        </div>
    </div>
</section>