<section id="log-in">
    <div class="box-login">
        <div class="box-login-head">
            <h1 class=" register">Almost there! Less than 20 seconds from registration!</h1>                
        </div>
        <div class="form-wrap">


            <?php echo $this->form; ?>

        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $("select.custom_location").select2({
            width: "100%",
            dropdownAutoWidth: true,
             maximumSelectionLength: 1,
            "language": {
                "noResults": function () {
                    return "No Results Found  <a onClick='customLocation()' href='javascript:;' class='btn btn-danger add-br pull-right _dudttersiioi'>Add New</a>";
                }
            },
            escapeMarkup: function (markup) {
                return markup;
            },
        });
        $("select.custom_user_skill").select2({
            width: "100%",
            dropdownAutoWidth: true,
            "language": {
                "noResults": function () {
                    return "No Results Found  <a onClick='customskills()' href='javascript:;' class='btn btn-danger add-br pull-right _dudttersiioi'>Add New</a>";
                }
            },
            escapeMarkup: function (markup) {
                return markup;
            },
        });
    });

    function customLocation() {
        var value = $('select#location').next().find('.select2-search__field').val();
        var source = "location";
        var userId = "<?php echo $this->id; ?>"
        console.log(value);
//        if (confirm("Are you sure for adding custom city to your profile ?")) {
            $.ajax({
                data: {value: value, source: source, user_id: userId},
                method: "POST",
                url: "/ajax/index/custom-location",
                success: function (data) {
                    console.log(data);
                    data = jQuery.parseJSON(data);
                    var option = new Option(data.title, data.id);
                    option.selected = true;
                    $("#location").append(option);
                    $("#location").trigger("change");
                    var value = $('select#location').next().find('.select2-search__field').val("");
                }
            })
//        }
    }
    function customskills() {
        var value = $('select#skills').next().find('.select2-search__field').val();
        var source = "skills";
        var userId = "<?php echo $this->id; ?>"
        console.log(value);
//        if (confirm("Are you sure for adding custom skills to your profile?")) {
            $.ajax({
                data: {value: value, source: source, user_id: userId},
                method: "POST",
                url: "/ajax/index/custom-skills",
                success: function (data) {
                    console.log(data);
                    data = jQuery.parseJSON(data);
                    var option = new Option(data.title, data.id);
                    option.selected = true;
                    $("#skills").append(option);
                    $("#skills").trigger("change");
                    var value = $('select#skills').next().find('.select2-search__field').val("");
                }
            })
//        }
    }

</script>