<section id="log-in">
    <div class="box-login">
        <div class="box-login-head-password">
            <h1 class="didifuf">Wrong password?</h1>
            <h2 class="didifuf">Type your password again to sign in</h2>
            <?php // if ($this->flash_messages[0] != ""): ?>
            <!--<div class="alert alert-block alert-danger fade in" style="background-color: rgba(255, 255, 255, 0.77);border-color: #FFFFFF;color: rgba(2, 121, 85, 0.88);">-->
                <!--<button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>-->
            <?php // echo $this->translate->_($this->flash_messages[0]); ?>
            <!--</div>-->
            <?php // endif; ?>                
        </div>            
        <div class="form-wrap">
            <form role="form" action="" method="POST" autocomplete="off" >
                <div class="username form-group hidden">
                    <label for="email">Email</label>
                    <input value="<?php echo $this->email ?>" class="form-control" type="text" name="email" checked="form-control" autocomplete="off" required="required"/>
                </div>
                <div class="password form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password"  name="password" autocomplete="off" required="required"/>
                </div>

                <div class="checkbox-inline form-group">
                    <label id="remembermelogin">
                        <input  name="remember_me" class="checkbox" type="checkbox" checked="" value="1">
                        Keep me logged in
                    </label>
                </div>
                <div>
                    <a class="forgot-pass-mb" href="/default/index/recover" data-toggle="modal" data-href="#preview-modal">I forgot my password</a>
                </div>

                <div class=" form-group signin-mobile">
                    <input class="btn btn-default signin" type="submit" value="Sign in">
                </div>
            </form>                
        </div>
    </div>
</section>