    <section id="log-in">
        <div class="box-login">
            <div class="box-login-head">
                <h1><span>Welcome to</span> <img alt="img" src="/resources/frontend/landing/files/icons/logo3.png"></h1>                
            </div>
            <div class="form-wrap">
                <form action="/register" method="POST" autocomplete="off">
                    <div class="username">
                        <input type="text" placeholder="Firstname" required="" name="firstname" autocomplete="off" />
                    </div>
                    <div class="username">
                        <input type="text" placeholder="Lastname" required="" name="lastname" autocomplete="off" />
                    </div>
                    <div class="username">
                        <input type="text" placeholder="E-mail" required="" name="email" autocomplete="off" />
                    </div>
                    <div class="password">
                        &nbsp;
                    </div>                    
                    <div>
                        <input type="submit" value="Register" />
                    </div>
                </form>                
            </div>
        </div>
    </section>