<section id="log-in">
    <div class="box-login">
        <div class="box-login-head">
            <h1 class=" register">Register an account</h1>                
        </div>
        <div class="form-wrap">
            <form action="/register" method="POST" autocomplete="off">

                <div class="username form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" name="email" checked="form-control" autocomplete="off" required="required"/>
                </div>

                <div class="username form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" checked="form-control" autocomplete="off" required="required"/>
                </div>

                <div class="username form-group">
                    <label for="password-retype">Retype Password</label>
                    <input class="form-control" type="password" name="password-retype" checked="form-control" autocomplete="off" required="required"/>
                </div>

<!--
                <div class="username">
                    <input type="text" placeholder="Firstname" required="" name="firstname" autocomplete="off" />
                </div>
                <div class="username">
                    <input type="text" placeholder="Lastname" required="" name="lastname" autocomplete="off" />
                </div>
                <div class="username">
                    <input type="text" placeholder="E-mail" required="" name="email" autocomplete="off" />
                </div>
                <div class="password">
                    &nbsp;
                </div>                    -->
                <div id="register-btn">
                    <input type="submit" value="Register" class=" register-btn" />
                </div>
            </form>                
        </div>
    </div>
</section>