<div class="sign-in_2-lvl1 sign-in-linkedin">
	<div class="container">
		<div class="row">
			<h2><?php echo $this->translate->_("ok");?> <span class="candidate"><?php echo $this->user->firstname;?></span> <?php echo $this->translate->_("thanks_linkedin");?></h2>
			<h3><?php echo $this->translate->_("lets_look");?></h3>
			<ul class="skill-tree">
                <?php foreach ((array) $this->skills as $skill):?>
				<li rel="<?php echo $skill['title'];?>"><?php echo $skill['title'];?></li>
                <?php endforeach;?>
			</ul>
			<div class="linkedin-btns">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<a href="/" class="continue-skills">
						<?php echo $this->translate->_("thats_it");?>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="add-skills" onclick="window.location.href='/profile'"><?php echo $this->translate->_("id_can_more");?></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sign-in_2-lvl2">
	<div class="container">
		<div class="row">
            <?php echo $this->translate->_("sign_in_lvl_2");?>
            <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<li class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-12">
					<img src="/resources/frontend/images/opp-1.png" alt="Suitable Jobs" />
					<span><?php echo $this->translate->_("sign_in_lvl_2_suitable");?></span>
				</li>
				<li class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-12">
					<img src="/resources/frontend/images/opp-2.png" alt="Suitable Jobs" />
					<span><?php echo $this->translate->_("sign_in_lvl_2_rewards");?></span>
				</li>
				<li class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-12">
					<img src="/resources/frontend/images/opp-3.png" alt="Suitable Jobs" />
					<span><?php echo $this->translate->_("sign_in_lvl_2_news");?></span>
				</li>
			</ul>
			<p><span><?php echo $this->translate->_("sign_in_lvl_2_join");?></span></p>
		</div>	
	</div>
</div>
<div class="sign-in_2-lvl3">
	<div class="container">
		<div class="center-lvl3">
			<h1><span><?php echo $this->translate->_("sign_in_lvl_2_help");?></span></h1>
			<a href="/"><span><?php echo $this->translate->_("sign_in_lvl_2_start");?></span></a>
		</div>
	</div>
</div>