<body class="login-body" data-original="/resources/frontend/images/work.jpg"  style="background-image: url('/resources/frontend/images/work.jpg')">
    <section id="main-content" style="margin-left: 0 !important;">
        <section class="wrapper" style="margin-top: 60px !important;">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel">
                        <div class="panel-body">
                             <h2><?php echo $this->translate->_("reset_title");?></h2>
                             <?php echo $this->translate->_("reset_sub_title");?>                             
                             <hr />  
                             
                             <?php if ($this->msg != "" || $this->flash_messages[0] != ""):?>
                             <div class="alert alert-block alert-danger fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                <?php echo $this->msg;?>
                                <?php echo $this->translate->_($this->flash_messages[0]); ?>
                             </div>
                             <hr />
                             <?php endif;?>
                             <form class="form-horizontal" action="" method="POST">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <input name="password" class="form-control" type="password" required="" placeholder="<?php echo $this->translate->_("new_password");?>" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <hr />
                                        <button class="btn btn-primary" type="submit">&nbsp;&nbsp;&nbsp;<?php echo $this->translate->_("submit");?>&nbsp;&nbsp;&nbsp;</button>
                                    </div>                                                                    
                                </div>                                                                
                             </form>
                        </div>
                     </div>
                </div>
            </div>
        </section>
    </section>
