    <div class="container-fluid sign_in_1">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding" id="sign_in_1_left">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <?php echo $this->translate->_("find_job_title");?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding" id="sign_in_1_right">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <?php echo $this->translate->_("find_candidates_title");?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>