<div id="first" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Get our weekly email</h4>
    </div>
    <div class="modal-body">
        <div class="war1"></div>
        <div class="war2"></div>
        <form id="myForm" action="" role="form">
            <div class=" form-group">
                <label for="email">Email</label>
                <input style=" width: 100%" type="text" name="email" placeholder="Email" id="email" class=" form-control" required="true" />
            </div>
        </form>
    </div>
    <div class="btn-style">
        <a id="go" href="javascript:;">Subscribe</a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#go').on('click', function () {
            if ($('#email').val() === "") {

                $('.war1').append('<div class="alert alert-danger"><strong>Please check all your fileds</strong></div>');


            } else {
                var data = $("#myForm").serialize();
                $.ajax({
                    url: "/subscribe",
                    data: data,
                    Type: "POST",
                });
                $('.war1').hide();
                $('.war2').append('<div class="alert alert-success"><strong>Thank you</strong></div>');
                setTimeout(
                        function () {
                            $("form")[0].reset();
                            $(".war1").html("");
                            $(".war2").html("");
                            $('.close').click();
                        }
                , 500);
            }

        });
        $('.close').on('click', function () {
            $("form")[0].reset();
            $(".war1").html("");
            $(".war2").html("");
        });
    })
</script>

