 <?php 
 foreach ($campaign['jobs'] as $job):
                ?>
                <div class="col-md-4 <?php echo ($i > 2) ? 'hidden cjob' : '' ?> campaign_<?php echo $id_campaign; ?> bounty-link">
                    <div class="pub">
        <?php if ($job['bounty_file'] == ""): ?>
                            <img src="/resources/frontend/css/theme/images/starts.png" alt="" />
                            
                            
                             <?php if ($this->allow_external == 0 && Zend_Auth::getInstance()->getIdentity()->type == 2 || $this->allow_candidate_recommend == 0 && Zend_Auth::getInstance()->getIdentity()->type == 9) : ?>
                             <h1 class="br-head"></h1>
                              <p class="br-para"></p>
                              <p class="br-middle" style="top:-105px"><?php echo $job['title']; ?></p>
                           
                              <?php else: ?>
                              <h1 class="br-head"><?php echo round($job['bounty']) . "&euro;"; ?></h1>
                              <p class="br-para"><?php echo $job['bounty_requirements']; ?></p>
                            <?php endif ; ?>
                            
                            
                           
        <?php else: ?>
                             <?php if ($this->allow_external == 0 && Zend_Auth::getInstance()->getIdentity()->type == 2 || $this->allow_candidate_recommend == 0 && Zend_Auth::getInstance()->getIdentity()->type == 9) : ?>
                               <img src="/resources/frontend/css/theme/images/starts.png" alt="" />
                              <?php else: ?>
                              <img src="/resources/files/bounties/<?php echo $job['bounty_file']; ?>" alt="" />
                           
                            <?php endif ; ?>
                              <?php if ($this->allow_external == 0 && Zend_Auth::getInstance()->getIdentity()->type == 2 || $this->allow_candidate_recommend == 0 && Zend_Auth::getInstance()->getIdentity()->type == 9) : ?>
                             
                             <p class="br-middle" style="top:-105px"><?php echo $job['title']; ?></p>
                              <?php else: ?>
                             <p class="br-middle"><?php echo $job['bounty']; ?></p>
                            <?php endif ; ?>
                           
                           
        <?php endif; ?>
                    </div>
                    <div class="br-content">
                        <div class="job-ttl">
                             <?php if ($this->allow_external == 0 && Zend_Auth::getInstance()->getIdentity()->type == 2 || $this->allow_candidate_recommend == 0 && Zend_Auth::getInstance()->getIdentity()->type == 9) : ?>
                             <h2></h2> 
                             <?php else : ?>
                              <h2><?php echo $job['title']; ?></h2>
                            <?php endif ;?>
                           
                        </div>

                        <p>Experience: <strong><?php echo $this->settings['career_levels'][$job['career_level']]; ?></strong></p>
                        <p>Requirements: <strong><?php echo WebApp_Tools::strTrim($job['tagline'], 20, "..."); ?></strong></p>
                    </div>
                    <div class="br-detail">
                        <div class="br-location">
                            <span class="br-location-icon"></span><p><?php echo implode(", ", $job['cities']); ?></p>
                        </div>
                        <div class="br-link-detail">
                            <a href="<?php echo WebApp_Tools::createJobSlug($job); ?>">VIEW DETAILS</a>
                        </div>
                    </div>            
                </div>
                <?php $i++;
            endforeach;