<!--<section id="log-in">
    <div class="box-login">
        <div class="box-login-head">
            <h1 class=" register">Almost there! Less than 20 seconds from registration!</h1>                
        </div>
        <div class="form-wrap">


            <?php echo $this->form; ?>

        </div>
    </div>
</section>-->
<div class="signinbody-register2">

<div class="signinbodyhalfleft2 col-md-6">
        <div class="box-login">
              <div class="box-login-head">
                   <h1 class="singintitlestep2">Complete your profile</h1>
                        
                            
                            
        </div>   
        
       
        <div class="form-wrap col-xs-12 col-md-6 col-md-offset-3 centered signintext">
              <?php echo $this->form; ?>

<!--            <div class="login-links">
                <div class="login-links-wrap clearfix">

                    <a class="forgot-pass" href="/recover" data-toggle="modal" data-href="#preview-modal">Forgot your password?</a>
                </div>
            </div>-->
             </div>
    </div>



</div>
<div class="signinbodyhalfright2 col-md-6">
<center class="signinrighttext">Get info about your aplications in real time</center>

</div>

</div>
<link rel="stylesheet" href="/resources/admin/js/select2/select2.css">

<script type="text/javascript">
    $(document).ready(function () {
        $('select#country').on('change',function()
        {
            var id_country = $(this).val();
            $.ajax({
                'url' : '/content/index/get-counties',
                'type' : 'POST',
                'data' : {id_country:id_country},
                success : function(data)
                {
                    // data = $.parseJSON(data.counties);
                    console.log(data)
                    $("select#county").find('option')
                        .remove();
                    $("select#location").find('option')
                        .remove();
                    $("select#county").append(data);
                }
            })
        });

        $('select#county').on('change',function()
        {
            var id_county = $(this).val();
            $.ajax({
                'url' : '/content/index/get-cities',
                'type' : 'POST',
                'data' : {id_county:id_county},
                success : function(data)
                {
                    // data = $.parseJSON(data.counties);
                    console.log(data);
                    $("select#location").find('option')
                        .remove();
                    $("select#location").append(data);
                }
            })
        });



         $("select.custom_location").select2({
            width: "100%",
            dropdownAutoWidth: true,
             maximumSelectionLength: 1,
            "language": {
                "noResults": function () {
                    return "No Results Found  <a onClick='customLocation()' href='javascript:;' class='btn btn-danger add-br pull-right _dudttersiioi'>Add New</a>";
                }
            },
            escapeMarkup: function (markup) {
                return markup;
            },
        });
        // $("select.custom_user_skill").select2({
        //     width: "100%",
        //     dropdownAutoWidth: true,
        //     "language": {
        //         "noResults": function () {
        //             return "No Results Found  <a onClick='customskills()' href='javascript:;' class='btn btn-danger add-br pull-right _dudttersiioi'>Add New</a>";
        //         }
        //     },
        //     escapeMarkup: function (markup) {
        //         return markup;
        //     },
        // });

        function formatRepo (repo) {
            console.log(repo)
            if (repo.loading) return repo.text;

            var markup =
                '<div class="avatar">' +
                '<img src="' + repo.owner.avatar_url + '" style="max-width: 100%" />' +
                '</div>' +
                '<div class="info">' +

                '<div class="col-sm-6">' + repo.full_name + '</div>' +
                '<div class="col-sm-3"><i class="fa fa-code-fork"></i> ' + repo.forks_count + '</div>' +
                '<div class="col-sm-2"><i class="fa fa-star"></i> ' + repo.stargazers_count
            ;

            if (repo.description) {
                markup += '<div>' + repo.description + '</div>';
            }

            markup += '</div></div>';

            return markup;
        }


        function formatRepoSelection (repo) {
            return repo.full_name || repo.text;
        }




        $("#skills").select2({
            data: ['zzzzz'],
            tags: "true",
            multiple: true,
            ajax: {
                type: 'POST',
                dataType: 'json',
                url: "/get-skill",
                delay: 250,
                data: function (params) {
                    console.log(params)
                    return {
                        skill: params, // search term
                    };
                },
                results: function (data, page) {
                    // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data
                    console.log(data);
                    console.log(data);
                    id = Object.keys(data);
                    data = Object.values(data);
                    var _results = [];
                    for(var i=0;i<id.length;i++)
                    {
                        var employee = {
                            "id": id[i],
                            "text": data[i]
                        }
                        _results.push(employee);
                        console.log(_results)
                    }
                    return {
                        results: _results
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });
    });

    function customLocation() {
        var value = $('select#location').next().find('.select2-search__field').val();
        var source = "location";
        var userId = "<?php echo $this->id; ?>"
        console.log(value);
//        if (confirm("Are you sure for adding custom city to your profile ?")) {
            $.ajax({
                data: {value: value, source: source, user_id: userId},
                method: "POST",
                url: "/ajax/index/custom-location",
                success: function (data) {
                    console.log(data);
                    data = jQuery.parseJSON(data);
                    var option = new Option(data.title, data.id);
                    option.selected = true;
                    $("#location").append(option);
                    $("#location").trigger("change");
                    var value = $('select#location').next().find('.select2-search__field').val("");
                }
            })
//        }
    }
    function customskills() {
        var value = $('select#skills').next().find('.select2-search__field').val();
        var source = "skills";
        var userId = "<?php echo $this->id; ?>"
        console.log(value);
//        if (confirm("Are you sure for adding custom skills to your profile?")) {
            $.ajax({
                data: {value: value, source: source, user_id: userId},
                method: "POST",
                url: "/ajax/index/custom-skills",
                success: function (data) {
                    console.log(data);
                    data = jQuery.parseJSON(data);
                    var option = new Option(data.title, data.id);
                    option.selected = true;
                    $("#skills").append(option);
                    $("#skills").trigger("change");
                    var value = $('select#skills').next().find('.select2-search__field').val("");
                }
            })
//        }
    }

</script>