   
<!-- Modal content-->
<div class="modal-content webhelp-pp">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Surprise reward</h4>
    </div>
    <div class="modal-body white">
        <img style="width: 100%;" src="/resources/files/companies/original/surprise-reward.png" alt="" />
    <div class="modal-footer _center">
        <button type="button" class="btn btn-success btn-popup" data-dismiss="modal">Close</button>
    </div>
</div>
