/* made by robert */

@media (max-width:970px){
	
	#profile-sidebar {
		display:none;
	}
	
	.panel .fixing {
		height:auto;
	}
	
	.panel table {
		width:100%;
		overflow:hidden;
		display:block;
	}

	.table-stats-analytics {
		width:100%;
		display:block;
		overflow:hidden;
	}
	
	.table-stats-analytics tbody tr td:nth-child(2),
	.table-stats-analytics tr,
	.table-stats-analytics tr td {	
		width:100%;
		display:block;
		border:none!important;		
		text-align:center;
	}
	
	.table-stats-analytics tbody,
	.table-stats-analytics tbody tr,
	.table-stats-analytics tbody tr td {
		width:100%!important;
		display:block;
	}
	
	.table-stats-analytics tr td {
		border-top:1px solid #ccc!important;
	}
	
	.table-stats-analytics tr td:first-child {
		border:none!important;
	}
	
	.need-pad-top-xs {
		padding-top:25px;
	}
}
