/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 15, 2016, 2:33:37 PM
    Author     : edin
*/
    .brain-left-label {
        padding-left: 0px;
        text-align: left !important;
        margin: 5px 0px 2px 0px !important;
        display: block ;
        width: 250px;
    }
    .brain-width {
        max-width: 530px;
    }
    .brain-no-pad {
        padding: 10px 10px 5px 10px ;
        padding-left: 0px;
        padding-right: 0px;
        /*padding-right: 15px ;*/
    }
    .form-horizontal .control-label {
        font-size: 14px;
        color: #333333;
        line-height: 19px;
        text-align: left;
        font-weight: 600;
        padding-bottom: 10px;
    }
    .select2-search-choice {
        background:#3AC5D9;
        padding: 6px 28px 3px 5px;
        margin: 5px 0 3px 5px;
        width:auto;
        height:28px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
    .select2-container-multi .select2-choices .select2-search-choice {
        padding: 6px 28px 3px 5px;
        margin: 5px 0 3px 5px;
    }

    .modal-header > h4 {  font-size:20px;
                          color:#333333;
                          line-height:19px;

    }
    .modal-header h4.modal-title {
        font-weight: 600;
        padding: 10px;
    }
    .modal-header, .modal-body, .modal-footer  {
        background-color: #FFF;
    }
    .hr {
        opacity:0.3;
        box-shadow:0px -1px 2px 0px rgba(0,0,0,2);
        width:auto;
    }
    .brain-close {
        color: #000;
        background: tr;
        opacity: 1;
        font-size: 25px;
        background:#FFFFFF;
        border-radius:3px;
    }
    .brain-btn {
        width: 187px;
        height:  32px;
    }
    .save-drft {
        border: 2px solid #7DCC93;
        background: #FFF ;
    }
    .save-drft > span {
        color: #7DCC93;
        font-size: 16px;
    }
    .save-drft:hover {
        border: 2px solid #7DCC93;
        background-color: #FFF ;
    }
    .save-act {
        background:#7DCC93;
    }
    .save-act > span {
        color: #FFF;
        font-size: 16px;
    }
    .save-act:hover {
        background-color: #7DCC93 ;
    }
    .promoted {
        font-family: semibold !important ;
        font-size:14px !important;
        color:#333333;
        line-height:19px;
        text-align:left;
        margin: 15px ;
    }
    .save-act:focus {
        background-color: #7DCC93 ;
    }
    .save-act:focus {
        background-color: #7DCC93 ;
    }
    .save-drft:focus {
        background-color: transparent;
    }

    .select2-container-multi .select2-choices {
        min-height: 37px;
        width: 530px;
    }
    .form-control {
        padding: 0px ;
        width: 530px;
        height: 37px !important;
        /*border-radius: 0px ;*/
    }
    .select2-container-multi .select2-choices {
        background-image:  none ;
        border: 1px solid #e5e9ec;
    }


    .lcs_wrap {
        display: inline-block;	
        direction: ltr;
        height: 28px;
        vertical-align: middle;
    }
    .lcs_wrap input {
        display: none;	
    }

    .lcs_switch {
        display: inline-block;	
        position: relative;
        width: 73px;
        height: 28px;
        border-radius: 30px;
        background: #ddd;
        overflow: visible;
        cursor: pointer;

        -webkit-transition: all .2s ease-in-out;  
        -ms-transition: 	all .2s ease-in-out; 
        transition: 		all .2s ease-in-out; 
    }
    .lcs_cursor {
        display: inline-block;
        position: absolute;
        top: 3px;	
        width: 22px;
        height: 22px;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
        z-index: 10;

        -webkit-transition: all .2s linear;  
        -ms-transition: 	all .2s linear; 
        transition: 		all .2s linear; 
    }
    .lcs_label {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 18px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        width: 33px;
        top: 5px;
        overflow: hidden;
        text-align: center;
        opacity: 0;

        -webkit-transition: all .2s ease-in-out .1s;  
        -ms-transition: 	all .2s ease-in-out .1s;   
        transition: 		all .2s ease-in-out .1s;   
    }
    .lcs_label.lcs_label_on {
        left: -70px;
        z-index: 6;	
    }
    .lcs_label.lcs_label_off {
        right: -70px;
        z-index: 15;	
    }


    /* on */
    .lcs_switch.lcs_on {
        background: #7DCC93;
        box-shadow: 0 0 2px #579022 inset;
    }
    .lcs_switch.lcs_on .lcs_cursor {
        left: 48px;
    }
    .lcs_switch.lcs_on .lcs_label_on {
        left: 10px;	
        opacity: 1;
    }


    /* off */
    .lcs_switch.lcs_off {
        background: #b2b2b2;
        box-shadow: 0px 0px 2px #a4a4a4 inset; 	
    }
    .lcs_off.lcs_switch .lcs_cursor {
        left: 3px;
    }
    .lcs_off.lcs_switch .lcs_label_off {
        right: 10px;
        opacity: 1 !important;	
    }
    .lcs_switch.lcs_on .lcs_label_off{
        visibility: hidden;
    }
    /* disabled */
    .lcs_switch.lcs_disabled {
        opacity: 0.65;
        filter: alpha(opacity=65);	
        cursor: default;
    }
    span.abc {
        top: 59px;
        border-radius: 3px;
        right: 40px;
        float: left;
        background: #7DCC93;
        width: 25px;
        height: 25px;
        position: absolute;
    }
    span.abc:after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0px;
        vertical-align: middle;
        border-top: 6px solid;
        border-left: 6px solid #7DCC93;
        border-right: 6px solid #7DCC93;
        color: #FFFFFF;
        left: 6px;
        top: 10px;
        content: "";
        visibility: visible;
        position: absolute;
        background: #FFF;
    }

    span.icn {
        top: 59px;
        border-radius: 3px;
        right: 40px;
        float: left;
        background: #7DCC93;
        width: 25px;
        height: 25px;
        position: absolute;
    }

    span.icn:before {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-left: 0px;
        vertical-align: middle;
        background-image: url(/resources/admin/css/theme/icons/icn.png);
        color: #FFFFFF;
        right: 5px;
        top: 6px;
        content: "";
        visibility: visible;
        position: absolute;
    }
    @media only screen and (max-width: 991px) {
        span.abc {
            right: 4px;
        }
        span.icn {
            right: 4px;
        }
    }

#preview-modal{
    max-height: 80%;
    top: 17%;
    left: 150px;
    right: 0;
    margin: auto;
    max-width: 75%;
}

    .addstls{
        margin: 0 auto; width: 100%;height: auto !important;
    }
    .fix-delete-edit-btn {
         border: 0px !important  ;
         width: auto !important; 
         height: auto !important; 
         position: absolute;
         padding: 0px !important;
         left: 55px;
         bottom: 60px;
    }
    .form-group {
        margin-bottom : 0px !important;
    }
    .cus-required {
        font-size : 14px !important;
        color: red !important;
    }
    .custom-tooltip {
        margin-left: 10px;
        font-size: 13px !important;
        color: rgba(51, 51, 51, 0.79) !important;
    }
    .brain-no-pad > label {
        width: 100%;
    }
    .iiisudyyf{
        width: 61px !important;
    }
    .form-control-bsp-c {
        height: 42px !important;
        border: 1px solid #CCCCCC;
        max-width: 530px !important;
    }
    .custom-form-control-duration {
        max-width: 530px !important;
           height: 42px !important;
        border: 1px solid #CCCCCC;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .form-control-file {
        border: 0px;
    }
    div#s2id_recommenders > ul.select2-choices {
         /*height: 42px !important;*/
        border: 1px solid #CCCCCC;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    div#s2id_jobs > ul.select2-choices {
         /*height: 42px !important;*/
        border: 1px solid #CCCCCC;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    div#s2id_cities > ul.select2-choices {
         /*height: 42px !important;*/
        border: 1px solid #CCCCCC;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    div#s2id_departments > ul.select2-choices {
         /*height: 42px !important;*/
        border: 1px solid #CCCCCC;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    div#s2id_gamification_actions > ul.select2-choices {
         /*height: 42px !important;*/
        border: 1px solid #CCCCCC;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    ul.select2-choices > li.select2-search-field {
        height: 40px !important;
    }
    .form-control-txtarea {
        height: auto !important;
    }