/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 15, 2016, 5:33:12 PM
    Author     : edin
*/

    
    select#career_level, select#type {
        width: 100%;
        height: 42px !important;
    }
    
    .brain-back-drop:after {
        right: 23px !important;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:  none; 
    }
    .white-bk {
        background-color: #FFF ;

    }
    .modal-header{
        padding-bottom: 0px;
    }
    .bs-example ul .active {
        border-bottom: 3px solid #3AC5D9 ;
    }
    .bs-example ul li {
        list-style: none;
        display: inline-block;
        width: 120px;
        text-align: center;
        padding: 15px;
    }
    .bs-example ul li a {
        font-family: semibold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
        line-height: 19px;
        text-align: center;
    }
    .active > a {
        font-size:14px;
        color:#3AC5D9 !important;
        line-height:19px;
    }
    ul#myTab {
        margin-bottom: 0px;
    }
    .modal-header h4.modal-title {
        font-weight: 300;
        font-family: semibold !important;
        font-size: 20px !important;
        color: #333333 !important;
        line-height: 19px !important;
        margin: 10px 0px -15px 10px;
    }
    .can-bt {
        width: 120px;
        border: 2px solid #7DCC93;
        background: #FFF ;
    }
    .can-bt > span {
        color: #7DCC93;
        font-size: 16px;
        line-height: 19px;
    }
    .can-bt:focus {
        background-color: #FFF;
    }
    .can-bt:hover {
        border: 2px solid #7DCC93;
        background-color: #FFF ;
    }

    .save-bt {
        width: 120px;
        border: 2px solid #7DCC93;
        background: #7DCC93 ;
    }
    .save-bt > span {
        color: #FFF;
        font-size: 16px;
        line-height: 19px;
    }
    .save-bt:focus {
        background-color: #7DCC93;
    }
    .save-bt:hover {
        border: 2px solid #7DCC93;
        background-color: #7DCC93 ;
    }


    .lcs_wrap {
        display: inline-block;	
        direction: ltr;
        height: 28px;
        vertical-align: middle;
    }
    .lcs_wrap input {
        display: none;	
    }

    .lcs_switch {
        display: inline-block;	
        position: relative;
        width: 73px;
        height: 28px;
        border-radius: 30px;
        background: #ddd;
        overflow: visible;
        cursor: pointer;

        -webkit-transition: all .2s ease-in-out;  
        -ms-transition: 	all .2s ease-in-out; 
        transition: 		all .2s ease-in-out; 
    }
    .lcs_cursor {
        display: inline-block;
        position: absolute;
        top: 3px;	
        width: 22px;
        height: 22px;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
        z-index: 10;

        -webkit-transition: all .2s linear;  
        -ms-transition: 	all .2s linear; 
        transition: 		all .2s linear; 
    }
    .lcs_label {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 18px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        width: 33px;
        top: 5px;
        overflow: hidden;
        text-align: center;
        opacity: 0;

        -webkit-transition: all .2s ease-in-out .1s;  
        -ms-transition: 	all .2s ease-in-out .1s;   
        transition: 		all .2s ease-in-out .1s;   
    }
    .lcs_label.lcs_label_on {
        left: -70px;
        z-index: 6;	
    }
    .lcs_label.lcs_label_off {
        right: -70px;
        z-index: 5;	
    }


    /* on */
    .lcs_switch.lcs_on {
        background: #7DCC93;
        box-shadow: 0 0 2px #579022 inset;
    }
    .lcs_switch.lcs_on .lcs_cursor {
        left: 48px;
    }
    .lcs_switch.lcs_on .lcs_label_on {
        left: 10px;	
        opacity: 1;
    }


    /* off */
    .lcs_switch.lcs_off {
        background: #b2b2b2;
        box-shadow: 0px 0px 2px #a4a4a4 inset; 	
    }
    .lcs_switch.lcs_off .lcs_cursor {
        left: 3px;
    }
    .lcs_switch.lcs_off .lcs_label_off {
        right: 10px;
        opacity: 1;	
    }


    /* disabled */
    .lcs_switch.lcs_disabled {
        opacity: 0.65;
        filter: alpha(opacity=65);	
        cursor: default;
    }
    .promoted { font-family: semibold !important;
                font-size: 14px !important;
                color: #333333;
                line-height: 19px;
                text-align: left;
                margin: 15px;
    }
    .no-pad {
        padding: 0px !important;
    }
    #cke_editor2 {
/*        height: 600px;*/
    }