.jjfug{
    margin-top: 0px; padding-top: 0px;
}
.kkdjf{text-align: right}
.dkkfif{
    display: block !important;
    padding: 0px;
    z-index: 999;
    position: absolute;
    right: 0px;
}
._hide {display:none}
.td_table{ border: 1px solid #FFF !important } 
.ggdtfgg{width: 50%}
.dkkfifg{table-layout: fixed}
.djjfhguu{
    border-right: 1px solid #e8edf1 !important;
    border-left: 1px solid #e8edf1 !important
}
.djjfufy{
    margin-top:20px
}
.dkkfjfug{
    border-bottom-width: 0px;
}
.skkdjfi{
    text-align: center
}
.skdkfj{
    padding: 13px;
}
.udyytfr{
    height: 150px;
}


table.dkkfifg tbody tr td:nth-child(2) {
    border-right: 1px solid #e8edf1 !important ;
}
table.table-skills td {
    padding: 5px !important;
}

table.dkkfifg td:last-child {
    border-right: 0px !important;
}