.bounty {
  margin: 15px auto;
}
.bounty .col-sm-4:first-child div {
  padding: 7px;
  background: #F7B17E;
  text-align: center;
}
.bounty .col-sm-4:first-child div span {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  color: #FFFFFF;
  line-height: 68px;
  text-align: center;
}
.bounty .col-sm-4:first-child div p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 22px;
  text-align: center;
}
.bounty .col-sm-4:nth-child(2) div {
  padding: 7px;
  background: #3AC5D9;
  text-align: center;
}
.bounty .col-sm-4:nth-child(2) div span {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  color: #FFFFFF;
  line-height: 68px;
  text-align: center;
}
.bounty .col-sm-4:nth-child(2) div p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 22px;
  text-align: center;
}
.bounty .col-sm-4:nth-child(3) div {
  padding: 7px;
  background: #F581A8;
  text-align: center;
}
.bounty .col-sm-4:nth-child(3) div span {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  color: #FFFFFF;
  line-height: 68px;
  text-align: center;
}
.bounty .col-sm-4:nth-child(3) div p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 22px;
  text-align: center;
}
#wsdase {
  background: #DFE4EB;
  height:93px;
  padding: 22px;
  /*margin-top: 60px;*/
}
#wsdase .b-title {
  font-family: semibold;
  font-size: 20px;
  color: #333333;
  line-height: 19px;
}
#wsdase .search-brain{
  background: #7DCC93;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 42px;
  height: 42px;
  display: block;
}
#wsdase .search-brain .glyphicon-search {
  font-size: 20px;
  top: 9px;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
}
.mrg-btm {
  padding-bottom: 20px;
}
.add {
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/add.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
.direction {
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/direction.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
@media all and (max-width: 480px){
  #wsdase{
    margin-top: 0 !important;
  }
}
@media all and (max-width: 360px){
  .drp-mn{
    right:-25px !important;
  }
}

.iifuudh{
    margin-top: 0px;padding-top: 0px
}
.kdkfjt{
    text-align: right
}
._dggdtf{display: block !important;padding: 0px;z-index: 999;position: absolute;right: 0px;}
.__djsdjfud{background-color: transparent;padding-bottom: 15px;}
._hide{display: none}
.djjfug{
    margin: 0 auto; width: 1171px
}
.dllofofo{
    padding-left: 0px; padding-right:0px;
}
     .dataTables_filter {
        display: block !important;
        float: left;
    }
    #dynamic-table_wrapper {
             background: #FFF;
         box-shadow: none; 
    }
    
    .bottom {
        position: relative;
        height: 50px;
        width: 100%;
    }
    .dataTables_info{
        position: absolute;
        right: 104px;
        top: 25px;
        bottom: 0px;
    }
    .dataTables_length{
        position: absolute;
        right: 180px;
        bottom: -5px;
    }
    .dataTables_paginate {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
    .dataTables_paginate.paging_bootstrap.pagination {
        float: none !important;
        margin-top:0px;
        margin-bottom: 0px;
    }
    div.dataTables_length > label > select {
        height: 32px !important;
    }
    .ch-rec-tbl {
        width: 10%;
    }