.bottom-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 6px solid;
  border-left: 6px solid #7DCC93;
  border-right: 6px solid #7DCC93;
  color: #FFFFFF;
  content: "";
  visibility: visible;
  position: absolute;
  bottom: 21px;
  background: #FFF;
  left: 129px;
  top: 30px;
}
.left-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-right: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
}
.right-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-left: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
}
div #dynamic-table_paginate ul li {
  margin: 0 0 0 0 ;
  background: #7DCC93;
  border: 1px solid #7DCC93 ;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

div #dynamic-table_paginate ul li a {
  display: block;
  width: 40px;
  height: 32px;
}
div #dynamic-table_paginate ul li a:hover {
  background-color: #7DCC93 ;
  background: #7DCC93 ;
}
div #dynamic-table_paginate ul li a:active {
  background: #7DCC93 ;
}
div #dynamic-table_paginate ul li a:focus {
  background-color: #7DCC93 ;
  background: #7DCC93 ;
}
div #dynamic-table_paginate ul li:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div #dynamic-table_paginate ul li:first-child a:before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-right: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
  visibility: visible;
  content: "";
}
div #dynamic-table_paginate ul li:first-child:after {
  visibility: visible;
  content: "|";
  position: relative;
  top: 0px;
  right: -8px;
  color: #FFFFFF;
}
div #dynamic-table_paginate ul li:last-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div #dynamic-table_paginate ul li:last-child a:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-left: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
  visibility: visible;
  content: "";
}
div #dynamic-table_length span.abc {
  top: 20px;
  border-radius: 3px;
  right: 17px;
  float: left;
  background: #7DCC93;
  width: 25px;
  height: 25px;
  position: absolute;
}
div #dynamic-table_length select {
  color: black;
  font-size: 15px;
  width: 165px;
/*  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}
div #dynamic-table_length select option {
  font-weight: bold !important;
}
/*div #dynamic-table_length:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 6px solid;
  border-left: 6px solid #7DCC93;
  border-right: 6px solid #7DCC93;
  color: #FFFFFF;
  left: 129px;
  top: 30px;
  content: "";
  visibility: visible;
  position: absolute;
  bottom: 21px;
  background: #FFF;
  left: 140px;
}*/
div .model-content {
  display: table ;
}
#filter-area {
  height: 135px;
  background: #FFF;
}
.no-pad {
  padding: 0px;
}
.filter-clicked {
  background: #FFF;
  display: block;
  position: absolute;
  width: 84px;
  height: 93px;
  top: 0px;
  right: -1px;
}
.filter-clicked:after {
  content: url("/resources/admin/css/theme/icons/opened.png");
  background-color: #7DCC93;
  padding: 17px 11px 4px 13px;
  visibility: visible;
  position: relative;
  top: 32px;
  right: 22px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.filter-dbl {
    height: 180px !important;
}

@media(max-width: 970px){
  .filter-dbl {
      height: 320px !important;
  }
}


.jobsctn {
    /*width: 100%;*/
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    /*max-width:px;*/
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    position: absolute;
    background: #FFF;
    padding: 10px;

    z-index: 99;
    
}
.appjobtitlestl {
        font-family: 'Open Sans',sans-serif !important;
    font-weight: 500;
}
/*    #dynamic-table_length {
        right: 236px;
        position: absolute;
        bottom: 95px;
        margin: 0px 15px 35px 15px;
    }*/
    #dynamic-table_info {
/*        position: absolute;
        right: 189px !important;
        bottom: 102px !important;*/
    }
    .kjdhfg{display: none; padding: 15px}
    .dkkfjfu{width: auto;}
    ._kkdjdhf{display: none}
    .dkfkgfi{min-height: 500px}
    .skkdjfpd{width: 1000px}
    .dkkfifu{position: absolute}