@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
.brn-panel {
    background: #FFFFFF;
    height: 330px;
}
.bdy-height-footer {
    /*background: #FFFFFF;*/
    height: 75px;
}
.caret-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 10px solid;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    color: #EF924E;
    width: 21px;
    height: 15px;
}
.caret-up {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 10px solid;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    color: #7DCC93;
    width: 21px;
    height: 15px;
}
.brain-heading {
    background: #2FB0C2;
}
.brain-heading span.br-title {
    font-family: semibold;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 19px;
}
.table-bordered {
    border: 0px;
}
.table-bordered thead tr {
    border-top: 2px solid #FFF ;
}
.table-bordered thead tr td {
    border-top: 0px !important;
}
.table-bordered tbody tr:last-child {
    /*        border-bottom : 2px solid #FFF ; */
}
.table-bordered tbody tr:last-child td {
    border-bottom: 0px !important;
}
.table-bordered tbody tr td {
    /*    border: 1px solid #979797!important;
      opacity: 0.3;*/
    border-left: 0 none !important;
    border-right: 0 none !important;
}
.table-bordered tbody tr td:first-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 19px;
}
.table-bordered tbody tr td:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 19px;
    text-align: right;
    font-weight: bold;
}
.table-bordered tbody tr td:nth-child(2):before{
    font-weight: normal;
}
.table-bordered tbody tr td:last-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4697CE;
    line-height: 19px;
    text-align: right;
}
.table-bordered tbody tr td:not(:first-child) {
    text-align: center;
}
.table-bordered thead tr td {
    border-left: 0 none !important;
    border-right: 0 none !important;
    font-family: semibold;
    color: #2C3D51;
    line-height: 19px;
}
.table-bordered thead tr td:not(:first-child) {
    text-align: center ;
}
#section-2 div:not(:first-child) .panel-body {
    padding-top: 35px;
}

@media (max-width:970px){
    #section-2 div:not(:first-child) .panel-body {
        padding-top: 0px;
    }
}

.panel-heading {
    text-transform: none;
}
.panel-footer {
    background-color: #FFFFFF;
    border: 0px ;
}
.panel-footer div {
    text-align: center ;
}
.panel-footer button {
    font-family: semibold;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    max-width: 504px;
    vertical-align: middle;
    height: 43px;
    text-align: center;
}

.view-btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%;
    text-align: center;
}

.table-stat tbody tr td {
    border-top: 0px !important;
    border-left: 0px !important;
    /*border-right: 0px !important;*/
    /*border-bottom: 0px !important;*/
    height: 120px ;
    text-align: center;
    width: 50%;
    vertical-align: middle;
}
.table-stat tbody tr td:nth-child(2) {
    border-left: 1px solid #e8edf1;
    border-right: 0px !important;
}
.table-stat tbody tr:first-child {
    border-top: 2px solid #FFF ;
}
.table-app tbody tr:first-child {
    border-top: 2px solid #FFF ;
    border-bottom: 2px solid #FFF;
}
.table-app tbody tr:last-child {
   border-right: 0!important;
}

.table-app>tbody>tr>td {
    border-bottom : 0px !important;   
}
.table-stat tbody tr:nth-child(2) td {
    border-bottom: 0px !important;
}
.num {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 34px;
    color: #333333;
    padding-left: 25px;
    line-height: 46px;
    text-align: center;
}
.data {
    font-family: semibold;
    font-size: 12px;
    color: #333333;
    line-height: 16px;
    text-align: center;
}
.lead-title {
    height: 120px;
    background: #2FB0C2;
    padding: 25px 0px 0px 25px;
}
.lead-title h3 {
    font-family: semibold;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 19px;
    margin-bottom: 5px;
}
.lead-title p {
    opacity: 0.69;
    font-family: semibold;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 16px;
    text-align: left;
}
.bar-content {
    height: 120px;
    background: #FFFFFF;
    padding: 25px 25px 25px 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    color: #333333;
    line-height: 46px;
    text-align: center ;
    /*    &:after {
              content: '|';
              
          }*/
}
.bar-content h3 {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    color: #333333;
    line-height: 46px;
}
.bar-content span {
    display: inline-block;
    width: 19px;
    height: 42px;
    /* color: red; */
    background: rgba(151, 151, 151, 0.3);
    position: absolute;
    bottom: 25px;
    width: 3px;
    height: 68px;
    left: 217px
}
.bar-content p {
    font-family: semibold;
    font-size: 12px;
    color: #333333;
    line-height: 16px;
}
.table-content {
    height: 80px !important;
}
#leadboarder .col-md-3:first-child {
    padding-right: 0px !important;
}
#leadboarder .col-md-3:last-child {
    padding-left: 0px !important;
}
#leadboarder .col-md-2 {
    padding-left: 0px ;
    padding-right: 0px ;
}
.view-all-btn {
    border: 2px solid #7DCC93;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%;
    background-color: #FFF ;
    font-size: 14px;
    color: #7DCC93;
    line-height: 19px;
    text-align: center;
    font-family: semibold;
}

.bar-content-btn {
    height: 120px;
    background: #FFFFFF;
    padding: 30px 25px 25px 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    color: #333333;
    line-height: 46px;
    text-align: center ;
}
.bar-content-btn .btn:hover {
    color: #7DCC93;
    background: #FFF;
    font-family: semibold;
}
.bar-content-btn .btn:focus {
    color: #7DCC93;
    background: #FFF;
    font-family: semibold;
}
@media screen and (max-width: 991px) {
    .bar-content,
    .bar-content-btn {
        margin-top: 10px;
    }
    #leadboarder .col-md-3:first-child {
        padding-right: 15px !important;
    }
    #leadboarder .col-md-3:last-child {
        padding-left: 15px !important;
    }
    #leadboarder .col-md-2 {
        padding-left: 15px ;
        padding-right: 15px ;
    }
}
.emplye-tbl tbody tr td {
    border-radius: 0px !important;
    border: 0px !important ;
    display: block;
    /*float: left;*/
}
.emplye-tbl tbody tr:first-child {
    text-align: center;
    vertical-align: middle;
    background: #F7B17E;
    height: 105px !important;
}
.emplye-tbl tbody tr:first-child .percent {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 82px;
    text-align: right;
}
.emplye-tbl tbody tr:nth-child(2) td {
    border: 0px !important ;
    border-radius: 0px !important;
    height: 8px;
}
.emplye-tbl tbody tr:nth-child(2) td:first-child {
    width: 50% !important;
    background: #D28246;
    float: left;
}
.emplye-tbl tbody tr:nth-child(2) td:nth-child(2) {
    width: 50% !important;
    background: #F0934E;
    float: left;
}
.emplye-tbl tbody tr:last-child {
    text-align: center;
    vertical-align: middle;
}
.emplye-tbl tbody tr:last-child td {
    float: left;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}
.no-pad {
    padding: 0px;
}
.no-marg {
    margin: 0px !important;
    border: 0px !important;
}
.correct {
    font-size: 30px;
}
.add-m-user {
    width: 80%;
}

.linkedin-icon {
    background-image: url(icons/linkedin.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.mail-icon, .email-icon, .website-icon {
    background-image: url(icons/mail.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.fb-icon, .facebook-icon {
    background-image: url(icons/facebook.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.fb-icon, .google-plus-icon {
    background-image: url(icons/google-plus.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.fb-icon, .sms-icon {
    background-image: url(icons/sms.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.fb-icon, .whatsapp-icon {
    background-image: url(icons/whatsapp.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}


.fb-icon, .myjob-icon {
    background-image: url(icons/myjob.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.fb-icon, .ejobs-icon {
    background-image: url(icons/ejobs.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.fb-icon, .bestjobs-icon {
    background-image: url(icons/bestjobs.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.fb-icon, .hipo-icon {
    background-image: url(icons/hipo.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}


.fb-icon, .pinterest-icon {
    background-image: url(icons/pinterest.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.fb-icon, .twitter-icon {
    background-image: url(icons/twitter.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.fb-icon, .instagram-icon {
    background-image: url(icons/instagram.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.cont {
    /*    padding: 10px;*/
}
.table-channel {
    margin-top: 30px;
}
@media all and (max-width: 420px){
    .table-channel {
        margin-top: 15px;
    }
}
.table-channel tbody tr:first-child td {
    border-top: 0px !important;
}
.font-crt {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #666666;
    line-height: 19px;
}
.table-most-viewd tbody tr:first-child td {
    border-top: 0px !important;
}
.table-most-viewd tbody td:first-child {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    color: #2C3D51;
    line-height: 19px;
}
.table-most-viewd tbody td:nth-child(2) {
    font-family: semibold !important;
    font-size: 16px;
    color: #2C3D51 !important;
    line-height: 19px;
    text-align: right;
}
.table-view tbody tr td {
    width: 33% !important;
    border-bottom: 0px !important;
}
.table-view tbody tr td:first-child div.num {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bolder;
    font-size: 18px;
    color: #677d92;
    line-height: 24px;
}
.table-view tbody tr td:first-child div.data {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 34px;
    color: #677d92;
    line-height: 46px;
}
.table-view tbody tr td:nth-child(2) {
    border-right: 1px solid rgba(151, 151, 151, 0.13) !important;
}
.table-view tbody tr td:nth-child(2) div.num {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bolder;
    font-size: 18px;
    color: #677d92;
    line-height: 24px;
    text-align: center;
}
.table-view tbody tr td:nth-child(2) div.data {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 34px;
    line-height: 46px;
    color: #677d92;
}
.table-view tbody tr td:nth-child(3) {
    border-right: 0px !important;
}
.table-view tbody tr td:nth-child(3) div.num {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bolder;
    font-size: 18px;
    color: #677d92;
    line-height: 24px;
}
.table-view tbody tr td:nth-child(3) div.data {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 34px;
    color: #677d92;
    line-height: 46px;
}
.table-app tbody tr td {
    height: 50px;
    padding: 6px !important;
}
.table-app tbody tr td div span.result {
    opacity: 0.5;
    font-family: semibold;
    font-size: 12px;
    color: #333333;
    line-height: 16px;
    text-align: left;
}
.table-skills tbody tr:first-child {
    border-top: 0px !important ;
}
.table-skills thead tr td:first-child {
    border-top: 0px !important ;
}
.table-skills tbody tr:first-child {
    /*background: red;*/
    border-top: 1px solid #FFF;
}
.table-skills tbody tr td {
    text-align: left !important ;
    padding: 4px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;
    color: #333333 !important;
    line-height: 22px !important;
    border-right: 1px solid #e8edf1 !important ;
}
.table-skills tbody tr td:nth-child(2) {
    border-right: 2px solid #FFF !important;
}
.table-skills tbody tr td span.dig {
    display: inline-block;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bolder;
    font-size: 16px;
    color: #7dcc93;
    line-height: 22px;
    margin-right: 15px;
}
.table-skills tbody tr td span.strg {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    color: #333333;
    line-height: 40px;
    font-weight: 500 !important;
}
.table-exp tbody tr td {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    color: #2c3d51 !important;
    line-height: 19px;
    text-align: left;
}
.table-exp thead tr {
    width: 50%;
    opacity: 0.3;
    background: #d8d8d8 !important;
}
.table-exp thead tr th {
    background: #d8d8d8;
    text-align: center;
    color: #2c3d51;
}
.table-exp thead tr th:first-child {
    border-right: 1px solid #e8edf2 !important;
    /*background: red;*/
}
.table-exp tbody tr td {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    color: #2c3d51 !important;
    line-height: 19px;
    text-align: center !important;
    border-bottom: 1px solid transparent !important;
}
.table-exp tbody tr td:after {
    content: "";
    visibility: visible;
    position: relative;
    display: block;
    opacity: 0.3;
    border: 1px solid #979797;
    width: 89px;
    height: 1px;
    top: 11px;
    right: -18px;
}
.no-pad {
    padding: 0px;
}



#wsdase {
    height: 93px;
    padding: 22px;
}
.search-brain  {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 99;
    width: 40px;
    padding: 9px;
    height: 42px;
    width: 42px;
    background: #7DCC93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.search-brain  .glyphicon-search {
    color: #FFF;
    font-size: 20px;
}
.filter-clicked-7 {
    background: #FFF;
    display: block;
    position: absolute;
    width: 84px;
    height: 93px;
    top: -22px;
    right: -22px;
    z-index: 4;
}
#search-cont {
    height: 135px;
    background: #FFF;
    padding: 25px;
}
.b-title {
    font-family: semibold;
    padding-left: 30px;
    font-size: 20px;
    color: #333333;
    line-height: 19px;
    top: 30px;
}
bordered > thead > tr > td {
    border: 0px;
}
#analytics .panel-body {
    min-height: 330px;
}
.white-bk {
    background-color: #FFF ;

}
.modal-header{
    padding-bottom: 0px;
}

.fixing {
    height: 330px;
}
/*---------------------- Responsive ---------------*/
.no_height{
    height:auto !important;
}
@media all and (min-width:480px) and (max-width:770px){
    .main-dasboard-page .first-table{
        margin-top:40px;
    }
}
/*
@media all and (max-width:370px){
  .main-dasboard-page .first-table thead{
    display:none;
  }
  .main-dasboard-page .first-table tr{
    float:left;
    display: block;
    width: 100%;
    text-align: right;
  }
  .main-dasboard-page .first-table tr td{
    display:block;
    float:left;
    width:100%;
    position:relative;
    height:50px;
    line-height: 50px;
    padding-left:60px !important;
    font-size:14px;
  }
  .main-dasboard-page .first-table tr td:before{
    position:absolute;
    left:0;
    font-size:12px;
  }
  .main-dasboard-page .first-table tr td:first-child:before{
    content:"JOB";
    padding-right:10px;
    font-weight: normal;
  }
  .table-bordered tbody tr td:first-child{
    font-weight: bold;
  }
  .main-dasboard-page .first-table tr td:nth-child(2):before{
    content:"APPLICANTS";
    padding-right:10px;
  }
  .main-dasboard-page .first-table tr td:nth-child(3):before{
    content:"NEW APPLICANTS";
    padding-right:10px;
  }
}*/
@media all and (max-width: 370px){
    .main-dasboard-page .panel-body {
        padding-left:5px;
        padding-right: 5px;
    }
    body .main-dasboard-page .first-table tr td{
        font-size:9px !important;
    }
}
@media all and (max-width: 480px){
    #wsdase{
        margin-top:0 !important;
    }
}
@media all and (max-width:400px){
    .main-dasboard-page .first-table tr td:before,
    .main-dasboard-page .first-table tr td{
        font-size:12px !important;
    }
    .main-dasboard-page .social_icons td{
        display: block;
        width:100%;
    }
    .social_icons td .cont{
        text-align: center;
    }
}
.add-br {
    background: #7DCC93;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 0.875em;
    font-family: semibold !important;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    text-align: center;
    width: 170px;
    line-height: 26px;
}
.add-br:hover,
.add-br:visited,
.add-br:focus
{
    background: #7DCC93;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 0.875em;
    font-family: semibold !important;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    text-align: center;
    width: 170px;
    line-height: 26px;
}
._yttevd{
    position: relative;float: right;right: -75%;
}
.hdhduy{text-align: center;padding-top: 15px;}
._iu_iu{padding: 13px;}
.udyrtyd{margin-top:20px}
.height-fix-panel {
    max-height: 550px !important;
}
.fix-1px-flag {
    margin-left: 1px !important;
}


/*body {*/
    /*background-color: #fafafa;*/
/*}*/


/*.wrapper {*/
    /*text-align: center;*/
/*}*/

/*.alldashboarditems {*/
    /*max-width: 1160px;*/
    /*margin: 0 auto;*/
/*}*/

/*h1 {*/
    /*font-family: 'Open Sans';*/
    /*font-weight: 300;*/
    /*font-size: 18px;*/
    /*color: #707070;*/
    /*padding: 15px 15px 15px 15px;*/
    /*margin: 0;*/
    /*text-align: left;*/

/*}*/

/*h2 {*/
    /*font-family: 'Open Sans';*/
    /*font-weight: 300;*/
    /*font-size: 50px;*/
    /*color: #707070;*/
    /*margin: 0;*/
    /*text-align: left;*/

/*}*/

/*h3 {*/
    /*font-family: 'Open Sans';*/
    /*font-weight: 300;*/
    /*font-size: 14px;*/
    /*color: #707070;*/
    /*padding: 5px 15px 5px 0px;*/
    /*margin: 0;*/
    /*text-align: left;*/
/*}*/


/*.semibold { font-weight: 500; }*/


/*.statbox1 {*/
    /*background-color: white;*/
    /*width: 518px;*/
    /*box-shadow: 2px 3px 5px #cccccc;*/
    /*margin-bottom: 15px;*/
    /*margin-left: 30px;*/
    /*margin-top: 5px;*/
    /*display: inline-block;*/
/*}*/

/*@media screen and (max-width: 1359px) {*/
    /*.statbox1 {*/
        /*display: block;*/
        /*margin: 0 auto;*/
        /*margin-top: 30px;*/
    /*}*/
/*}*/

/*.statdiv {*/
    /*width: 244rpx;*/
    /*display: inline-block;*/

/*}*/

/*.statdiv2 {*/
    /*width: 100%;*/
    /*display: inline-block;*/
/*}*/

/*.statdiv3 {*/
    /*margin-left: 30px;*/
/*}*/

/*@media screen and (max-width: 580px) {*/
    /*.statdiv3 {*/
        /*margin-left: 0px;*/
    /*}}*/

/*.titlestat {*/
    /*padding-left: 0px;*/
/*}*/


/*.dropbtntime {*/
    /*background-color: white;*/
    /*color: #707070;*/
    /*padding-top: 15px;*/
    /*padding-left: 15px;*/
    /*padding-bottom: 12px;*/
    /*font-size: 18px;*/
    /*border: none;*/
    /*cursor: pointer;*/
    /*box-shadow: 2px 3px 5px #cccccc;*/
    /*width: 244px;*/
    /*text-align: left;*/
    /*font-weight: 300;*/
    /*font-family: 'open sans';*/
    /*border-radius: 0px;*/
/*}*/


/*.dropdownfilter {*/
    /*width: 244px;*/
/*}*/

/*@media screen and (max-width: 580px) {*/
    /*.dropbtntime, .statbox1, .statdiv, .statbox1 {*/
        /*width: 310px;*/
    /*}*/

/*}*/

/*@media screen and (max-width: 580px) {*/
    /*.statbox1 {*/
        /*width: 310px;*/
        /*margin-top: 30px;*/
    /*}*/

/*}*/


/*.timeitem {*/
    /*position: relative;*/
    /*float: right;*/
    /*width: 181px;*/
    /*box-shadow: 2px 3px 5px #cccccc;*/
    /*margin-top: -1px;*/
/*}*/

/*.timeitems {*/
    /*text-decoration: none;*/
    /*outline: none;*/
    /*float: right;*/
    /*padding: 15px;*/
    /*width: 100%;*/
    /*font-family: 'open sans';*/
    /*font-size: 16px;*/
    /*color: #707070;*/
    /*text-align: right;*/
    /*font-weight: 300;*/
/*}*/

/*.timeitems:hover {*/
    /*background-color: #EDEDED;*/
    /*color: #707070;*/
/*}*/



/*.dropbtnloc {*/
    /*background-color: white;*/
    /*color: #707070;*/
    /*padding-top: 15px;*/
    /*padding-left: 15px;*/
    /*font-size: 18px;*/
    /*border: none;*/
    /*cursor: pointer;*/
    /*box-shadow: 2px 3px 5px #cccccc;*/
    /*width: 310px;*/
    /*text-align: left;*/
    /*font-weight: 300;*/
/*}*/

/*.arrow {*/
    /*float: right;*/
    /*margin-right: 15px;*/
    /*margin-top: 3px;*/
    /*margin-bottom: 0px;*/
/*}*/


/*..dropdownloc {*/
    /*position: relative;*/
    /*display: inline-block;*/
/*}*/



/*.dropdown-contentloc {*/
    /*display: none;*/
    /*background-color: white;*/
    /*min-width: 160px;*/
    /*overflow: auto;*/
    /*box-shadow: 2px 3px 5px #cccccc;*/
    /*z-index: 1;*/
    /*float: right;*/
    /*font-family: 'Open Sans';*/
/*}*/



/*.dropdown-contentloc a {*/
    /*color: #707070;*/
    /*padding: 12px 16px;*/
    /*text-decoration: none;*/
    /*display: block;*/
    /*font-size: 14px;*/
    /*text-align: right;*/
/*}*/


/*.show {display:block;}*/

/*.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {*/
    /*background-color: white;*/
/*}*/


/*.radio, .checkbox {*/
    /*margin-bottom: 0;*/
    /*margin-top: 0;*/
    /*width: 30px;*/
    /*float: right;*/
    /*margin-top: -6px;*/
    /*padding-left: 12px;*/
/*}*/

/*.checkbox input[type=checkbox]:checked + label::after {*/
    /*font-family: 'FontAwesome';*/
    /*content: "\F00C";*/
    /*margin-left: -5px;*/
/*}*/


/*.firsactivitywithtitle {*/
    /*width: 244px;*/
    /*display: inline-block;*/
/*}*/



/*.activityoverview {*/
    /*background-color: white;*/
    /*color: #707070;*/
    /*padding-top: 15px;*/
    /*padding-left: 15px;*/
    /*font-size: 18px;*/
    /*border: none;*/
    /*box-shadow: 2px 3px 5px #cccccc;*/
    /*width: 244px;*/
    /*text-align: left;*/
    /*font-weight: 300;*/
    /*font-family: 'open sans';*/
    /*border-radius: 0px;*/
    /*display: inline-block;*/
    /*margin-bottom: 30px;*/
/*}*/

/*.activityovertext1 {*/
    /*font-size: 50px;*/
/*}*/

/*.ctaactoverview {*/
    /*background-color: #7DCC93;*/
    /*width: 244px;*/
    /*text-align: right;*/
    /*float: right;*/
    /*color: white;*/
    /*padding: 15px;*/
    /*font-size: 13px;*/
    /*box-shadow: 2px 3px 5px #cccccc;*/
    /*font-weight: 600;*/

/*}*/



/*.activityoverview2 {*/
    /*margin-left: 30px;*/
/*}*/

/*@media screen and (max-width: 568px) {*/
    /*.activityoverview2 {*/
        /*margin-left: 0px;*/
    /*}}*/

/*.ctaactoverview:hover {*/
    /*color: white;*/
/*}*/


/*@media screen and (max-width: 1360px) {*/
    /*.activityoverview3 {*/
        /*margin-left: 0px;*/
    /*}}*/

/*.actoverkeeptogether {*/
    /*min-width: 552px;*/
    /*display: inline-block;*/
/*}*/

/*@media screen and (max-width: 792px) {*/
    /*.actoverkeeptogether {*/
        /*min-width: 244px;*/
    /*}}*/


/*.nutsheltextsmall {*/
    /*padding-bottom: 30px;*/
/*}*/

/*.nutsheltextbig {*/
    /*color: #55C3D5;*/
/*}*/

/*@media screen and (min-width: 1359px){*/
    /*.statdiv4 {*/
        /*background-color: white;*/
        /*height: 120px;*/
        /*width: 1077px;*/
        /*box-shadow: 2px 3px 5px #cccccc;*/
    /*}*/

    /*.nutshellbox {*/
        /*border-right: 1px solid #efefef;*/
        /*box-shadow: none;*/
    /*}*/
/*}*/

/*.titlestat2 {*/
    /*max-width: 1077px;*/
    /*margin: 0 auto;*/
/*}*/


/*.titlestat3 {*/
    /*padding-left: 0px;*/
    /*padding-top: 30px;*/
/*}*/

/*@media screen and (min-width: 1359px) {*/
    /*.hnutshell {*/
        /*padding-left: 0px*/
    /*}*/
/*}*/

/*@media screen and (max-width: 1359px) {*/
    /*.hnutshell {*/
        /*display: none;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 1359px) {*/
    /*.h2nutshell {*/
        /*display: none;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 1359px) {*/
    /*.h2nutshell {*/
        /*width: 248px;*/
        /*padding-left: 0px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 580px){*/
    /*.firsactivitywithtitle {*/
        /*width: 310px*/
    /*}*/

    /*.activityoverview {*/
        /*width: 310px;*/
    /*}*/

    /*.ctaactoverview {*/
        /*width: 310px;*/
    /*}*/

    /*.dropdownfilter {*/
        /*width: 100%;*/
    /*}*/
/*}*/


/*.tablestattablet {*/
    /*margin-left: 15px;*/
    /*margin: 0 auto;*/
/*}*/


/*@media screen and (max-width: 1359px) {*/
    /*.tablestattablet {*/
        /*max-width: 522px;*/
    /*}*/
/*}*/
/*.tabeldesktop {*/
    /*background-color: white;*/
    /*border-collapse: unset;*/
    /*font-weight: 300;*/
/*}*/

/*.table>tbody>tr>td {*/
    /*border: 1px solid white !important;*/
    /*text-align: right;*/
/*}*/

/*.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {*/
    /*text-align: right;*/
/*}*/

/*.firstcoltable {*/
    /*text-align: left !important;*/
    /*font-size: 14px !important;*/
    /*padding: 15px !important;*/
    /*color: #848484 !important;*/
/*}*/

/*.headtitletable {*/
    /*color: #9D9D9D;*/
    /*font-size: 16px !important;*/
    /*font-weight: 400;*/
    /*text-transform: none !important;*/
    /*padding: 15px !important;*/
/*}*/



/*.secondcoltable {*/
    /*font-size: 14px !important;*/
    /*padding: 15px !important;*/
    /*color: #848484 !important;*/
/*}*/


/*.tablediv {*/
    /*background-color: white;*/
    /*box-shadow: 2px 3px 5px #cccccc;*/
/*}*/

/*.newapplicants {*/
    /*color: #F7B17E;*/
    /*cursor: pointer;*/
/*}*/

/*.seemore {*/
    /*text-align: right;*/
    /*padding: 0px 15px 15px 15px;*/

/*}*/


/*@media screen and (max-width: 1359px) {*/
    /*.headtitletable {*/
        /*font-size: 11px !important;*/
    /*}*/

    /*.firstcoltable {*/
        /*font-size: 11px !important;*/
    /*}*/

    /*.secondcoltable {*/
        /*font-size: 11px !important;*/
    /*}*/
/*}*/


/*.topchatitle {*/
    /*background-color: #55c3d5;*/
    /*color: white;*/
    /*font-size: 22px;*/
/*}*/

/*.topchannelstitleback {*/
    /*padding-top: 0px;*/
    /*padding-left: 0px;*/
/*}*/

/*.topchatitle {*/
    /*padding-left: 15px;*/
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
/*}*/

/*.topchatextleft {*/
    /*padding: 0px 0px 15px 15px;*/
    /*display: inline-block;*/
/*}*/

/*.topchatextright {*/
    /*padding: 0px 15px 15px 0px;*/
    /*float: right;*/
    /*display: inline-block;*/
/*}*/

/*.topchatextall {*/
    /*padding: 12px;*/
/*}*/


/*.titlestatbounty, .actoverbounty, .firsactivitywithtitlebounty {*/
    /*width: 518px;*/
/*}*/

/*@media screen and (max-width: 580px) {*/
    /*.actoverbounty, .titlestatbounty, .firsactivitywithtitlebounty {*/
        /*width: 310px;*/
    /*}*/
/*}*/

/*#bountytext1 {*/
    /*color: #ff8100db;*/
/*}*/

/*#bountytext2 {*/
    /*color: #55c3d5;*/
/*}*/

/*.ctabounties {*/
    /*font-size: 12px;*/
    /*float: right;*/
    /*padding: 15px;*/
    /*color: #707070;*/
/*}*/

/*.bountybox2 {*/
    /*height: 142px;*/
/*}*/


/*@media screen and (min-width: 580px) and (max-width: 1359px) {*/
    /*.bountytablet2 {*/
        /*margin-left: 30px;*/

    /*}}*/

/*@media screen and (max-width: 1359px) {*/
    /*.bountytablet {*/
        /*margin-left: 0px;*/

    /*}}*/


/*!* NPS sub header *!*/

/*.nps {*/
    /*min-height: 60px;*/
    /*background-color: white;*/
    /*width: 100%;*/
    /*margin-top: 60px;*/
    /*position: absolute;*/
    /*margin-bottom: 100px;*/
    /*box-shadow: 2px 3px 5px #cccccc;*/
    /*z-index: 1;*/
/*}*/

/*.nps_text {*/
    /*font-size: 16px;*/
    /*padding-left: 42px;*/
    /*padding-top: 20px;*/
/*}*/

/*.npsdiv1 {*/
    /*width: 42%;*/
    /*display: inline-block;*/
/*}*/

/*.npsdiv2 {*/
    /*display: inline;*/
    /*float: right;*/
    /*margin-right: 243px;*/
    /*margin-top: 20px;*/
/*}*/

/*.ratingnumber {*/
    /*padding: 20px;*/
    /*font-size: 16px;*/
    /*color: #767676;*/
    /*cursor: pointer;*/
/*}*/

/*.ratingnumber:hover {*/
    /*background-color: #f3f3f3;*/
/*}*/

/*@media screen and (max-width: 1362px) {*/
    /*.nps_text, .ratingnumber {*/
        /*font-size: 14px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 1323px) {*/
    /*.npsdiv1 {*/
        /*width: 40%;*/
    /*}*/
/*}*/


/*@media screen and (max-width: 1287px) {*/
    /*.npsdiv1 {*/
        /*width: 28%;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 1287px) {*/
    /*.npsdiv2 {*/
        /*margin-top: 27px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 1075px) {*/
    /*.npsdiv2 {*/
        /*margin-top: 27px;*/
    /*}*/
/*}*/


/*@media screen and (max-width: 760px) {*/
    /*.npsdiv1 {*/
        /*width: 100%;*/
        /*text-align: center;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 760px) {*/
    /*.npsdiv2 {*/
        /*margin-top: 27px;*/
        /*width: 100%;*/
        /*text-align: center;*/
        /*margin-left: 0px;*/
        /*float: initial;*/
        /*display: block;*/
        /*margin-bottom: 20px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 760px) {*/
    /*.ratingnumber {*/
        /*padding: 10px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 1070px) {*/
    /*.npsdiv1 {*/
        /*width: 100%;*/
    /*}*/
/*}*/



/* / NPS sub header */