  li.dropdown > ul.notification {
            right: -125px !important;
            background: #ffffff !important;
            box-shadow: 0px 2px 4px 0px rgba(172,148,148,0.50) !important;
            border-radius: 2px;
            width: 320px!important;
            top:35px;
            padding: 0px 2px !important;
        }
        .notify-type {
            opacity:0.6;
            /*font-family:OpenSans;*/
            font-size:11px;
            color:#333333;
            line-height:19px;
        }
        .notify-image {
            width: 32px!important;
            height: 32px!important;
            border: 0px !important;
            border-radius: 50%;
            /*background: red;*/
            float: left;
            position: relative!important;
            top: 22px !important;
        }
        .notify-day {
            position: relative;
            float: right;
            top: 6px;
            right: 15px;
        }
        li.dropdown > ul.notification li p {
            text-align: center;

            padding-bottom: 10px;
            margin-top: -15px;
            /*font-family:OpenSans-Bold;*/
            font-size:13px;
            color:#333333;
            line-height:19px;
        }
        .notification-caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-bottom: 7px solid;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            position: relative;
            left:166px;
            bottom: 14px;
            color: #FFF;
        }
        @media all and (max-width: 780px) {
            .top-nav {
                display:none;
            }
            #header-that-i-want-to-hide {
                display: none; 
            }
        }
        .brand {
            position: fixed ;
            /*z-index: 1 ;*/
            height: 60px;
        }
        .sidebar-toggle-box {
            right: 4px ;
        }
        .top-nav ul.top-menu > li > a {
            border: none ;
            border-radius: 0 ;
        }
        ul.top-menu {
            margin-right: 0 ;
        }
        .top-nav {
            margin: 0 ;
        }
        .top-nav img {
            top : 0 !important ;
            width: 100%;
            max-width: 40px !important;
            height: 40px;
            margin: 12px;
        }
        top-nav ul.top-menu > li > a:hover {
            background: #2FB0C2; 
            border: none ;
            border-radius: 0 ;
        }
        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0px;
            vertical-align: middle;
            border-top: 5px solid;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
        }

        .top-nav .nav .caret {
            border-bottom-color: #FFF;
            border-top-color: #FFF;
        }
        .top-nav ul.top-menu>li>a:hover, .top-nav ul.top-menu>li>a:focus {
            border: 0; 
            background: #2FB0C2 !important;
            border-radius: 0; 
            -webkit-border-radius: 0; 
        }
        .sidebar-toggle-box {

            margin-top: 18px;
        }
        .sidebar-toggle-box .fa-bars {
            color : #34C3D8 ;
            cursor: pointer;
            display: inline-block;
            font-size: 10px;
            padding: 0px 8px 8px 9px;
            color: rgba(0,0,0,.3);
        }
        .blue {
            background-color: #3AC5D9 !important ;
            z-index: 2;
        }
        .white {
            color : #FFF !important;
        }
        sidebar-toggle-box:hover {
            background: transparent !important;
        }
        /*///////////////////////////icons*/
        .fa-dash::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/dash.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-job::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/job.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-candidate::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/candidate.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-jbs::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/human-resources-gri.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-campaign::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/campaign.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-bountie::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/bountie.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-setting::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/setting.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-dashout::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/logout.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        .fa-analytics::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/analytics.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;

        }
        ul.sidebar-menu li a.active {
            border-left: 3px solid #3AC5D9;
            background: rgba(58, 197, 217, 0.31);
        }

        ul.sidebar-menu li a.active > i.fa-dash::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/dash-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-job::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/job-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-candidate::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/candidate-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-campaign::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/campaign-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-bountie::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/bountie-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-analytics::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/analytics-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }
        ul.sidebar-menu li a.active > i.fa-setting::before {
            content: "";
            display: inline-block;
            background-image: url("/resources/admin/css/theme/icons/setting-white.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            top:3px;
        }



        ul.sidebar-menu li a span {
            display: inline-block;
            font-size: 14px;
            font-family: semibold;
            line-height:19px;
        }

        li.dropdown > ul.extended {
            background:#2fb0c2;
            /*width:197px !important;*/
            /*height:60px;*/
        }

        .br-mn {
            width:197px !important;
        }

        li.dropdown > ul.extended::after {
            display: none;
        }
        li.dropdown > ul.extended::before {
            display: none;
        }
        menu.extended.logout>li>a:hover {
            background: transparent !important;
            /*border-radius: 5px;*/
        }
        .language {
            margin-left: 0px !important;
            margin-top: 0px;
        }
        .lang_img {
            height: auto !important ;
        }
        li.language > a {
            padding: 10px !important;
            height: 60px;
        }
        ul.language-dropdownmenu > li > a >img {height: auto !important}
        ul.language-dropdownmenu {
            left:0px !important;
            margin-top: 0px !important;
            border-radius: 0px;
            background: #2fb0c2;
        }
        .language .dropdown-menu li a:hover {
            background: #2fb0c2;
            color: #32323a;
        }
        .top-menu .language-dropdownmenu:after {
            display: none;
        }
        .top-menu .language-dropdownmenu:before {
            display: none;
        }
        .language .dropdown-menu li a:hover {
            font-weight: bold;
        }
        ._100{
            width: 100px;
        }
        .language .dropdown-menu li a:hover {
            background: #2fb0c2;
            color: #FFF;
        }

        
        .mg_iuu{
            margin-left: 0px !important;
        }

        .dash_yystd{
            top: 0;height: 60px; left: 240px;right: 0px;background:#3AC5D9;
        }
        .dash_uurtt{
            background: transparent;font-size: 20px;color: #FFF;
            background: transparent !important;
        }
        .dash_ttrrer{
            padding-bottom: 5px; 
            /*margin-top: -15px;*/
        }
        .dash_tdsf{top :22px !important}
        .dash_stter{height: 60px}
        .dash_sttdtf{font-size: 13px;}
        .dash_ttdrfr{
            font-family: 'Open Sans',sans-serif ;
            font-size:20px !important;
            line-height:30px;}
        .dash_rtterw{
        font-size:20px;    font-family: 'Open Sans',sans-serif;
        }
        .dash_yyt_{max-width:60px;}
        .dash_logo{max-width:118px;}
        .fa-bell-o:before {
            background: #3ac5d90a;
            color: #FFF;
            font-size: 20px;
        }
        .top-nav ul.top-menu>li>a:hover, .top-nav ul.top-menu>li>a:focus {
            background: transparent !important;
        }
        li.how-it-works {
            margin-left: 0px !important;
        }
        a.how-it-works-popup {
            font-size: 13px !important;
            padding: 8px !important;
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            font-family: 'Open Sans',sans-serif;
        }
        a.how-it-works-popup:hover {
            font-size: 13px !important;
            color: #FFFFFF !important;
        }
        li.how-it-works > a.how-it-works-popup:hover {
            color: #FFFFFF !important
        }
       .work-popup {
            margin: 100px auto ;
        }
