#wsdase{
    /*background: #DFE4EB;*/
    height: 93px; 
    padding: 22px;
    /*margin-top: 60px;*/
}
#wsdase .search-brain {
    background: #7DCC93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 42px;
    height: 42px;
    display: block;
}
#wsdase .search-brain:hover {
    background: #40a55d !important;
}
#wsdase .search-brain .glyphicon-search {
    font-size: 20px;
    top: 9px;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
}
#wsdase .b-title {
    font-family: semibold;
    font-size: 20px;
    color: #333333;
    line-height: 19px;
}
.btn-brain {
    background: #7DCC93;
    font-family:semibold;
    vertical-align: middle;
    line-height: 26px;
}
.btn-brain:hover{
    background: #40a55d !important;
}
/*    #dynamic-table_length {
        bottom: 60px;
    }*/
#dynamic-table_info {
    bottom: 70px !important;
}
.bwn {
    padding: 0px;
    display: block;
    position: absolute;
    right: -2px;
    z-index: 1;
}
.back-page {
    content: "";
    display: inline-block;
    background-image: url("/resources/admin/css/theme/icons/bk-page.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    position: relative;
    top:3px;
}
.n-pf-lft {
    padding-left : 0px;
}
.m-tp-md {
    margin-top: 10px;
}
.difudjj{
    margin-top: 0px;padding-top: 0px;
}
.oodirur{margin-right: 5px;}
.diidufyyd{
    text-align: right
}
.doodifi{
    padding:0px
}
.diidufgpfo{padding-top: 15px;}
.doodifiig{
    width: 50px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;height: 50px;
}
.siiduryyd {
    display: none;
}
#ctn {
    background:#F1F4F8;
}
#ctn:first-child::before{
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 115px;
    background: #979797;
    left: 575px;
    top: 22px;
    opacity: 0.4;
}



.construction:after {
    background-color: #fdd400; /* colour of the sign */
    border-radius: 3em;
    content: '';
    height: 100px;
    right: 2%;
    position: absolute;
    bottom: 2%;
    transform: rotate(45deg);
    width: auto;
    z-index: -1;

}
.construction {
    background:url(../../images/construction.gif) no-repeat top;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 4%;
    right: 3%;
    height: 5em;
    width: 5em;
}

.candidate-job-title{
    color:#828282;
    font-size: 10px;
    float: left;
    
}

.candidate-job-dyn{
    font-weight: 400;
    font-size: 12px;
    /*clear: both;*/
}

.candidate-app-title{
    color:#828282;
    font-size: 10px;
    float: left;
    clear: both;
}

.candidate-app-dyn{
    font-weight: 400;
    font-size: 12px;
    /*clear: both;*/
}

.block__list_tags .candidat >div  .a {
    padding-left: 0px!important;
}



.modal-header .close {
    margin-top: -10px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: #ccc;
    opacity: 1;
    border: 1px solid;
    border-radius: 3px;
    font-size: 24px;
}

.modal-header .close:hover {
    background: #828282;
}

.export {
    background:#7DCC93;
    border-radius:2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    min-width:120px;
    font-family: semibold ;
    margin-left: 10px;
    height: 34px !important
}
._eeuufi {
    margin-left: -210px ; 
    width: 1171px !important ;
    margin: 100px auto ;
}
._yuutpad {
    padding: 15px !important ;
}
._imgsty11210yle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 128px
        ;max-width: 128px
}
._nfgmry {
    margin-top: 10px ;
}



.brn-drp-li:after {
    right: -19px;
}
@media all and (max-width: 600px) {
    div#dynamic-table_info {
        position: absolute;
        right: 165px;
        bottom: 42px;
    }
}
.candidat  .b{
      padding-left: 5px;
}
.candidat  .b .candidate-name{
    padding-left: 5px!important;
    padding-right: 2px!important;
    text-transform: lowercase;
    text-transform: capitalize;
    width: 100%;
}

.candidate-name{
    line-height: 100%;
}

._oue66ety {
    padding-left: 3px!important;
}

#__header >li > p span {
    color:#357ebd;
    font-weight: 500;
    font-size: 18px;
}

.candidate-days {
    padding-left: 5px!important;
    padding-top: 7px!important;
    font-size: 10px;
}

.candidate-date{
    clear: both;
    padding-top: 0!important;
    padding-left: 5px!important;
    text-align: left;
}


.b .candidate-days span {
    color:black;
    font-weight: 400;
    font-size: 16px;
}
._eeuri {
    margin-top:60px !important;
    padding-top: 0px !important;
}
.ettyru {
    background:#DFE4EB;
    width:auto;
    height:93px;
}
._iiutyy1010 {
    margin-right: 65px;
}
._ooiyr1414 {
    right: 4px;
    padding: 4px;
    left: auto;
    box-shadow: 0 0px 5px rgba(0,0,0,0.8) !important;   
    width: 250px;
}
._ttdydt55d4{
    font-size: 1.5em;color:#FFF;top:4px
}
._ttry5665{
    margin-left: 35px;
}
._665dty{
    font-size: 1.5em;color:#FFF;top:4px
}
._0iir8r0{
    margin-bottom: 0px;
}
._red998050{
    width: 50px; border-radius: 50%;    height: 50px;
}
._oue66ety{
    margin-left: 0px;
}
._ttryruuy {
    right: 4px;padding: 4px;
    left: auto;box-shadow: 0 0px 5px rgba(0,0,0,0.8) !important;    width: 250px;
}
.custom-select {
    padding: 0;
    margin: 0;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    z-index: 0;
    margin-bottom: 10px;
    width: 100%;
}
.custom-select:before {
    pointer-events:none;
    content: "";
    background: #ebebeb url('/resources/admin/css/theme/icons/arrow-down.png') no-repeat center center;
    position: absolute;
    right: 0px;
    top: 8px;
    bottom: 0;
    width: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 1px solid #d9dde0;
    height: 34px;
}
.jb_iiueyrt:hover {
    text-decoration: underline;
}