.br-title {
  font-family: semibold !important;
  font-size: 20px;
  color: #333333;
  line-height: 19px;
}
.modal-content .modal-header {
  text-align: left ;
  background-color: #FFF ;
}
.modal-content .modal-body {
  background-color: #FFF ;
}
.modal-content .modal-footer {
  background-color: #FFF ;
}
.dropzone {
  min-height: 215px ;
  border-width: 2px;
  border-style: dashed;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: none ;
  background: rgba(215, 215, 215, 0.1);
}
.modal-content {
  width: 1170px;
}
.brain-msg {
  max-width: 333px;
  margin: 0 auto;
  font-family: semibold;
  font-size: 11px;
  color: #333333;
  line-height: 19px;
  text-align: center;
}
.dropzone .dz-default span div button.btn {
  margin: 10px ;
  background-color: transparent !important;
  border: 2px solid #7DCC93;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 120px;
}
.dropzone .dz-default span div button.btn span.spn {
  font-family: semibold;
  font-size: 14px;
  color: #7DCC93;
  text-align: center;
}
.sp-container {
  border: none ;
}
.sp-picker-container {
  background-color: #FFF ;
}
.semibold {
  font-family: semibold !important ;
}
.top50 {
  margin-top: 50px ;
}
.prev-brain {
  background: rgba(215, 215, 215, 0.4);
  width: 1170px;
  height: 239px;
  margin-left: -20px;
}
.box {
  float: left;
  margin: 0 5px;
  position: relative;
  top: 42px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 233px;
  height: 153px;
}
div.brain-cont-data {
  padding: 20px;
  margin: 0 auto ;
  position: relative ;
  top: 42px ;
  padding: 30px;
}
div.brain-cont-data h4 {
  font-family: semiblod !important;
  font-size: 14px;
  color: #333333;
  line-height: 19px;
  text-align: left;
}
div.brain-cont-data h4 .brain-cont-data-h {
  font-family: semiblod !important;
  font-size: 14px;
  color: #333333;
  line-height: 19px;
  text-align: left;
}
div.brain-cont-data p {
  font-size: 13px;
  color: #333333;
  line-height: 19px;
  text-align: left;
}
div.brain-cont-data p .brain-cont-data-h {
  font-size: 13px;
  color: #333333;
  line-height: 19px;
  text-align: left;
}
button.btn-rs-def {
  background-color: #FFF ;
  border: 2px solid #7DCC93;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 186px;
  font-size: 14px;
  color: #7DCC93;
  line-height: 19px;
  text-align: center;
  font-family: semibold ;
  /*        font-size:14px;
            color:#7DCC93;
            line-height:19px;
            text-align:center;*/
}
button.btn-rs-def:hover {
  background-color: transparent ;
  color: #7DCC93;
}
button.btn-rs-def:focus {
  background-color: transparent ;
  color: #7DCC93;
}
button.btn-rs-sv {
  background-color: #7DCC93 ;
  border: 2px solid #7DCC93;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 186px;
  font-size: 14px;
  color: #FFF;
  line-height: 19px;
  text-align: center;
  font-family: semibold ;
}
button.btn-rs-sv:hover {
  background-color: #7DCC93 ;
  color: #FFF;
}
button.btn-rs-sv:focus {
  background-color: #7DCC93 ;
  color: #FFF;
}
.sp-button-container {
  display: none ;
}
.dodiiifussd{margin-left: 50px}
.dodiiifussddcf{padding: 20px;float: left}
.dfgiiifussddcf{font-family:semibold}
.dfgiidf_{padding-right: 15px}
.bottom {
    position: relative;
    height: 50px;
    width: 100%;
}
.dataTables_info{
    position: absolute;
    right: 104px;
    top: 25px;
    bottom: 0px;
}
.dataTables_length{
    position: absolute;
    right: 180px;
    bottom: -5px;
}
.dataTables_paginate {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.dataTables_paginate.paging_bootstrap.pagination {
    float: none !important;
    margin-top:0px;
    margin-bottom: 0px;
}
div.dataTables_length > label > select {
    height: 32px !important;
}
div.dataTables_info {
    padding-top: 0px;
}