* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}
.select2-container-multi .select2-search-choice-close {
    color: #fff !important;
    top: 10px !important;
    right: 4px !important;
}

.step {
    cursor: pointer;
}

.invalid {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #cc0000 !important;
    background-color: #f3d8d8 !important;
    background-image: url(http://goo.gl/GXVcmC) !important;
    background-position: 50% 50% !important;
    background-repeat: repeat !important;}

.tab {
    display: none;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 34px 3px 10px;
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.asdf {
    display: flex;
}


.step.active {
    border-bottom: 8px aqua solid;
}

.step.finish {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;showT
}

h4 {
    padding-left: 25px;
    padding-bottom: 2px;
    font-size: 18px;
    padding-top: 2px;
}

.poa {
    width: 50%;
    padding: 2%;
    padding-top: 3.5%;
}

.ioa {
    width: 50%;
    padding: 2%;
}

.select2-container {
    width: -webkit-fill-available!important;
}


#cke_job_role, #cke_respon , #cke_requirements{
    /*margin: 5%;*/
    border: 1px solid #aaa!important;
    margin-top:0;
}

.cke_reset{
    border: 1px solid #aaa !important;
}

.poaiafiaf {
    display: flex;
}

.poaiafiaf p , .naeginaope p{
    width: 48%;
    margin-right:10px;
}

.oaefaifbae {
    padding-bottom: 7%;}

select {
    min-height: 43px;
    border: 1px solid #aaa;
}

input[type="date"], input[type="time"] {
    padding: 5%!important;
    margin: 0!important;
    width: 150px;
    border: 1px solid #aaa;
    height: 43px;
    font-size: 13px;
}

.centered-icon{
    text-align: center;
    padding-top: 10%;
}

.naeginaope {
    display: flex;
    padding-bottom: 3.2em;

}
fieldset.scheduler-border {
    border: 1px solid #aaa !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.step {
    margin-left:5px;
    margin-right: 5px;
}

#s2id_autogen11 {
    width: 100px!important;
}

#web-application, #text-editor, #directional, #video-player, #brand, #medical, #currency {
    margin-top: 0px;
}

.image-file{
    height: 130px;
    background-size: cover;
    background-position: center top;
    margin: 5px;
    padding: 5px;
}

.image-file > label {
    color: black;
    background: #ffffff94;
}

.upload-img {
    font-size: 50px;
    color: #4CAF50;
    cursor: pointer;
    z-index: 1000;
    font-family: "Font Awesome 5 Free" !important;
}

.construction {
    background: url(/resources/admin/images/construction.gif) no-repeat top;
    background-position: center;
    background-size: contain;
    bottom: 4%;
    right: 3%;
    height: 5em;
    width: 5em;
}
[data-tip] {
    position:relative;

}
[data-tip]:before {
    content:'';
    /* hides the tooltip when not hovered */
    display:none;
    content:'';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position:absolute;
    top:30px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
[data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:35px;
    left:0px;
    padding:5px 8px;
    background:#1a1a1a;
    color:#fff;
    z-index:9;
    font-size: 0.75em;
    height:18px;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
    display:block;
}

.tooltip > .tooltip-inner {
    padding: 15px;
    border-style: solid !important;
    border-color: #cc0000 !important;
    background-color: #f3d8d8 !important;
    background-image: url(http://goo.gl/GXVcmC) !important;
    background-position: 50% 50% !important;
    background-repeat: repeat !important;
    border-width:1px;
    font-size: 14px;
    color:black;
}

.required  {
    color: red  ;
}

.switch {
    position: relative;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: 46%;
    margin-top: 15%;
}

._asdagarg {
    background-color: #343436;
    opacity: 0.5;
    z-index: 1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:fixed;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}