    #wsdase{
        background: transparent;
         height: 93px; 
        padding: 22px;
        margin-top: 60px;
    }
    #wsdase .search-brain {
        background: #7DCC93;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        width: 42px;
        height: 42px;
        display: block;
    }
    #wsdase .search-brain:hover {
        background: #40a55d !important;
    }
    #wsdase .search-brain .glyphicon-search {
        font-size: 20px;
        top: 9px;
        text-align: center;
        vertical-align: middle;
        color: #FFF;
    }
    #wsdase .b-title {
        font-family: semibold;
        font-size: 20px;
        color: #333333;
        line-height: 19px;
    }
    .btn-brain {
        background: #7DCC93;
        font-family:semibold;
        vertical-align: middle;
        line-height: 26px;
    }
    .btn-brain:hover{
        background: #40a55d !important;
    }
    #dynamic-table_length {
        bottom: 60px;
    }
    #dynamic-table_info {
        bottom: 70px !important;
    }
    .bwn {
        padding: 0px;
        display: block;
        position: absolute;
        right: -2px;
        z-index: 1;
    }
    .back-page {
        content: "";
        display: inline-block;
        background-image: url("/resources/admin/css/theme/icons/bk-page.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 16px;
        height: 16px;
        position: relative;
        top:3px;
    }
    .ududysttdrs{margin-top: 0px; padding-top: 0px;}
    .oos9dodisd{margin-right: 5px;}
    .doodiduiduyf{margin-top: auto;}
    .djjsidisdjsdsd{text-align: right}
    .duyyetwsd{padding:0px}
    .ododif_eueuyr{ display: none}
    .siidufyydtftf{padding-top: 15px; }
    .doofifiuug{width: 50px}
    .jdslkfj87d8f7dfhjd{width: 50px;border-radius: 50%}