#wsdase {
    /* background: #DFE4EB; */
  /* height: 93px; */
  padding: 22px;
}
#wsdase .b-title {
  font-family: semibold;
  font-size: 20px;
  color: #333333;
  line-height: 19px;
}
tabel#dynamic-table {
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.16);
}
#dynamic-table_length {
/*  right: 244px;
  position: absolute;
  bottom: 58px !important;
  margin: 0px 15px 0px 15px;*/
}


.select2-container-multi .select2-choices .select2-search-choice{
    padding-right: 25px;
}

.select2-container-multi .select2-search-choice-close {
    right: 4px !important;
    margin-top: -4px;
}



#dynamic-table_length:after {
  left: 157px;
}
.tbl-leader tbody tr td:nth-child(2) {
  /*text-align: center;*/
}
#dynamic-table_length span.abc {
  top: 19px;
  border-radius: 3px;
  right: 29px;
  float: left;
  background: #7DCC93;
  width: 25px;
  height: 25px;
  position: absolute;
}
#dynamic-table_info {
/*  position: absolute;
  right: 182px !important;
  bottom: 85px !important;*/
}
.bs-example {
  padding: 0px;
  position: relative;
  top: 31px;
  text-align: center;
  left: 97px;
}
.bs-example ul {
  padding-left: 0px;
}
.bs-example ul .active {
  border-bottom: 3px solid #3AC5D9 ;
}
.bs-example ul .active a {
  color: #3AC5D9;
}
.bs-example ul li {
  /*                            margin-right: 20px;*/
  width: 120px;
  text-align: center;
  padding: 15px;
  list-style: none;
  display: inline-block;
}
.bs-example ul li a {
  font-family: semibold;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 19px;
  text-align: center;
}
#all-Filter {
    background: #FFF;
}
@media all and (max-width: 480px){
  #wsdase{
    margin-top:0 !important;
  }
}
.djfufjgg{margin-top: 0px;padding-top: 0px}
.sdkkdiffg{display: flex;    margin-bottom: 10px !important}
._djjfjfug{width: 50px;border-radius: 50%}
.dkf__p{width:85% !important}
.dkf__i{width:15% !important}
.doofii{
    width:1000px !important
}
.bottom {
    position: relative;
    height: 50px;
    width: 100%;
}
.dataTables_info{
    position: absolute;
    right: 104px;
    top: 25px;
    bottom: 0px;
}
.dataTables_length{
    position: absolute;
    right: 180px;
    bottom: -5px;
}
.dataTables_paginate {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.dataTables_paginate.paging_bootstrap.pagination {
    float: none !important;
    margin-top:0px;
    margin-bottom: 0px;
}
div.dataTables_length > label > select {
    height: 32px !important;
}
div.dataTables_info {
    padding-top: 0px;
}