section#container > header.header {
    /*    position: relative;
        left: 0px !important;
            top: 0px;*/
}
aside {
    /*display: none;*/
}
#rate {
    max-width: 1170px;
    width: 100%;
    margin: 0px auto ;
    margin-top: 100px;
    /*    position: absolute;*/
}
.img {
    text-align: center;
}
.img-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid #3ac5d9;
    position: relative;
    top: 60px;
    z-index: 1;
}
.tpl-content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: #F8F9FA ;
    height: 80px;
}
.rate-title {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: semibold;
    font-weight: bolder;
    font-size:21px;
    color:#333333;
    line-height:35px;
    text-align:left;
}
.rate-average {
    font-size:18px;
    color:#333333;
    line-height:35px;
    text-align:right;
}
.tpl-body {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    height: 70px;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:170%;
    line-height:1.2;
    color:#ddd;
    /*text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);*/
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    /*text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);*/
}

/*.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}*/

/*.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}*/

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}


.rate-title-start {
    font-family: semibold;
    font-weight: bolder;
    font-size: 18px;
    color: #333333;
    line-height: 35px;
    text-align: left;
}
.hr {
    width: 90%;
    position: relative;
    top: 12px;
    border-top: 1px solid rgba(2, 1, 1, 0.53);
}
.tpl-content-text {
    padding: 15px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: #F8F9FA ;
    height: 100%;
}
.tpl-content-text-content {
    padding: 15px;
    background: red;
}
textarea {
    width:100%;
}
.tpl-content-footer {
    padding: 15px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.myBtn {
    border: 2px solid #7dcc93;
    background: transparent;
    color : #7dcc93;
    font-family: semibold;
    line-height: 10px;
}
.myBtn:hover {
    /*border: 2px solid #7dcc93;*/
    background: #7dcc93;
    color : #FFFFFF;
}
.skip {
    font-family:semibold;
    font-size:14px;
    color:#3ac5d9;
    line-height:19px;
}
.skip:hover {
    font-family:semibold;
    font-size:14px;
    color:#3ac5d9;
    line-height:19px;
}
.myBtn2 {
    border: 2px solid #7dcc93;
    background: #7dcc93;
    color : #7dcc93;
    font-family: semibold;
    line-height: 10px;
    color : #FFFFFF;
}
.myBtn2:hover {
    border: 2px solid #7dcc93;
    background: #FFFFFF;
    color : #7dcc93;
    font-family: semibold;
    line-height: 10px;
}

.modal-content {
    width: 800px;
}
.modal-dialog {
    width: 800px;
}

#rate {
    margin-top: 0px !important; 

}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .modal-dialog {
        width: 100% !important;
    }
    .img-circle {
        top: 10px;
    }
    .rate-title {
         text-align: center;
    }
    .rate-average {
        padding-top: 5px;
    }
    .hr {
        top:0px;
    }
    .tpl-content-text {
        margin-top: 90px;
    }
}