    .ododusw7sud{width: 50px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;height: 50px;}
    #wsdase{
        background: #DFE4EB;
         height: 93px; 
        padding: 22px;
        margin-top: 60px;
    }
    #wsdase .search-brain {
        background: #7DCC93;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        width: 42px;
        height: 42px;
        display: block;
    }
    #wsdase .search-brain:hover {
        background: #40a55d !important;
    }
    #wsdase .search-brain .glyphicon-search {
        font-size: 20px;
        top: 9px;
        text-align: center;
        vertical-align: middle;
        color: #FFF;
    }
    #wsdase .b-title {
        font-family: semibold;
        font-size: 20px;
        color: #333333;
        line-height: 19px;
    }
    .btn-brain {
        background: #7DCC93;
        font-family:semibold;
        vertical-align: middle;
        line-height: 26px;
    }
    .btn-brain:hover{
        background: #40a55d !important;
    }
    #dynamic-table_length {
        bottom: 60px;
    }
    #dynamic-table_info {
        bottom: 70px !important;
    }
    .bwn {
        padding: 0px;
        display: block;
        position: absolute;
        right: -2px;
        z-index: 1;
    }
    .back-page {
        content: "";
        display: inline-block;
        background-image: url("/resources/admin/css/theme/icons/bk-page.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 16px;
        height: 16px;
        position: relative;
        top:3px;
    }
    .eiiruhdd__{
        margin-top: 0px;padding-top: 0px;
    }
    .djkjdud7{margin-right: 5px;}
    .psododjkjs{margin: auto;}
    .doofisduss{text-align: right}
    .doodieposd{padding:0px}
    .djjfjgfg{display:none}
    .skldkjskjdsdsd_{ padding-top: 15px; }