table {
    background:#FFFFFF;
    box-shadow:0px 1px 20px 0px rgba(0,0,0,0.16);
    border-radius:5px;
    width:1170px;
    /*height:694px;*/
}
.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > td,
.table-bordered {
    border-left:0 !important;
    border-right: 0 !important;
}
/*    input[type=checkbox] { display:none; }  to hide the checkbox itself 
    input[type=checkbox] + label:before {
        font-family: FontAwesome;
        display: inline-block;
    }

    input[type=checkbox] + label:before { content: "\f096"; }  unchecked icon 
    input[type=checkbox] + label:before { letter-spacing: 10px; }  space between checkbox and label 

    input[type=checkbox]:checked + label:before { content: "\f046"; color:red }  checked icon 
    input[type=checkbox]:checked + label:before { letter-spacing: 5px; } */
.tog {
    border:1px solid #7DCC93;
    border-radius:3px;
    width:24px;
    height:24px;
    display: block;
    overflow: hidden;
    cursor: pointer;
}
.tog > div {
    height: 6px;
    font-size: 20px;
    text-align: center;
    color: #7DCC93;
}
.tog > div:nth-child(1) {
    margin-top: -15px;
}
.pad {
    padding: 20px ;
}
.brt-btn {
  
    background: #DFE4EB !important;
    border: 1px solid #B5B5B5;
    border-radius: 3px;
    width: 188px;
    height: 42px;

}
.brt-btn-spn {
   line-height: 26px;
    color: #000 !important;
    font-family: semibold;
}
.green {
    position: static;
    background: #7DCC93;
    border-radius: 2px;
    width: 28px;
    height: 28px;
    padding: 8px;
    margin-right: -23px;
    margin-left: 0px;
}
.caret {
    color: #FFF ;
    font-size: 2px;
}
.caret-margin {
}
.can {
    font-family:semibold;
    font-size:20px;
    color:#333333;
    line-height:19px;
}
.left-border {
    opacity: 0.4;
    border-left: 1px solid #979797;
    width: 4px;
    height: 30px;
    margin-top: 8px;
    margin-right: 27px;
    position: absolute;
    left: 29px;
    top: 19px;
}
div#big {
    width: 80%;
    /*        margin: auto;
            padding: 10px;*/
}
div#one {
    float: left;
}
div#two {
    margin-top: 5px;

}
span.search-brain {
    background:#7DCC93;
    border-radius:2px;
    width:42px;
    height:42px;
    padding: 10px;
}
table tr:hover {
    background:#FFFDE1;
}
.panel-body {
    background-color: transparent ;
}
ul.dropdown-menu > li a:hover > .fa {
    color: #7DCC93 ;
}
.adv-table .dataTables_length select {
    width: auto ;
}
.dataTables_filter {
    display: none;
}

#dynamic-table_paginate {

/*    margin-top: 0px;
    margin-bottom: 15px;*/
}
#dynamic-table_info {
/*    padding-right: 5px;
    position: absolute;
    right: 165px;
    bottom: 61px;*/
}
/*#dynamic-table_length {
    right: 280px;
    position: absolute;
}*/

.dataTables_wrapper .pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus {
    color: #7DCC93!important;
    opacity: 0.65!important;
    background-color: #7DCC93!important;
}

.dataTables_wrapper .pagination ul>li:last-child>a, .dataTables_wrapper .pagination ul>li:last-child>span {
    margin-left: 0px;
}

.dataTables_paginate.paging_bootstrap.pagination li {
    margin: 0px ;
    -webkit-border-radius: 0px;
}

@media all and (max-width: 850px) {
    div#dynamic-table_info {
        position: absolute;
        right: 165px;
        bottom: 42px;
    }

    .pad {
        /*        padding: 0px ;
                width: 60%;*/
    }
    /*    div .dropdown .pull-right {
            float: right     ;
        }*/


}
@media all and (max-width: 1200px) {
    div#two {
        /*        top: 17px;
                width: auto;*/
        position: absolute;
        /*right: 0px;*/
    }
    div .dropdown .pull-right {
        right :118px     ;
    }

}
@media all and (max-width: 910px) {
    div#two {
        /*        top: 17px;
                width: auto;*/
        position: absolute;
        right: 0px;
    }
}
@media all and (max-width: 1010px) {
    span#edit-count-checked-checkboxes {
        position: absolute;
        /* margin: 22px; */
        top: 43px;
        left: 15px;
    }
}

#dynamic-table_paginate ul li:not(:first-child):not(:last-child) {
    display: none !important;
}
.filter-clicked-4 {
    background: #FFF;
    display: block;
    position: absolute;
    width: 84px;
    height: 93px;
    top: 0px;
    right: 83px;
    z-index: 1;
}
.tix {
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 103px;
}
.search-brain-2 {
    background: #7DCC93;
    border-radius: 2px;
    width: 42px;
    height: 42px;
    padding: 10px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}
table#dynamic-table {
    box-shadow: none;
}

.search-brain-2:hover {
     background: #40a55d !important ;
}

div.select2-container-multi {
    width: 100% !important;
}