/*div .modal-content {
  display: table ;
  margin-left: -100px;
}*/
div .modal-content .modal-body {
  padding: 0px ;
  background-color: #FFFFFF;
}
table.tbl-popup {
  box-shadow: none ;
}
table.tbl-popup thead,
table.tbl-popup tr,
table.tbl-popup th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-bordered th {
  background-color: #FFF ;
}
div .flow {
  overflow: auto;
  height: 400px ;
  width: 1024px;
}
.modal-footer button {
  background-color: #7DCC93;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.alertIn,
.alertOut {
  -webkit-transition: -webkit-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
  -o-transition: -o-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
  transition: transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
}
.alertIn.ng-hide-remove,
.alertOut.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  -webkit-transform: translate3d(100px, 0px, 0px);
  transform: translate3d(100px, 0px, 0px);
  display: block !important;
}
.alertOut.ng-hide-add,
.alertIn.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.btn-close {
  background: transparent !important;
  font-family: semibold !important;
  border: 1px solid #7DCC93 ;
  color: #7DCC93 ;
}
.btn-close:hover {
  background: #7DCC93 !important;
  color: #FFF ;
}
.btn-move {
  background: #7DCC93 !important;
  color: #FFF ;
}
.btn-move:hover {
  background: #40a55d !important;
  color: #FFF ;
}


    .modal-header, .modal-body {
        background: #FFF ;
    }
    .modal-title {
        text-align: left ;
        font-family:semibold !important;
        font-size:20px!important;
        color:#333333!important;
        line-height:19px!important;
        /*padding: 16px;*/
    }
    .img {
        background:#D8D8D8;
        width:128px;
        height:128px;
        margin-top :20px;
        border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        
        max-width: 128px !important;
    
    }
    #ctn {
        background:#F1F4F8;
    }
    #ctn:first-child::before{
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: 115px;
        background: #979797;
        left: 575px;
        top: 22px;
        opacity: 0.4;
    }
    .export {
        background:#7DCC93;
        border-radius:2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        min-width:120px;
        font-family: semibold ;
        margin-left: 10px;
    }
    ._eeuufi {
        margin-left: -210px ; 
        width: 1171px !important ;
        margin: 0 auto ;
    }
    ._yuutpad {
        padding: 15px !important ;
    }
    ._imgsty11210yle {
         border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       height: 128px
        ;max-width: 128px
    }
    ._nfgmry {
        margin-top: 10px ;
    }
    
    
       .brn-drp-li:after {
        right: -19px;
    }
    @media all and (max-width: 600px) {
        div#dynamic-table_info {
            position: absolute;
            right: 165px;
            bottom: 42px;
        }
    }
    ._eeuri {
        margin-top:60px !important;
        padding-top: 0px !important;
    }
    .ettyru {
        background:#DFE4EB;
        width:auto;
        height:93px;
    }
    ._iiutyy1010 {
        margin-right: 65px;
    }
    ._ooiyr1414 {
        right: 4px;
        padding: 4px;
        left: auto;
        box-shadow: 0 0px 5px rgba(0,0,0,0.8) !important;   
        width: 250px;
    }
    ._ttdydt55d4{
        font-size: 1.5em;color:#FFF;top:4px
    }
    ._ttry5665{
        margin-left: 35px;
    }
    ._665dty{
        font-size: 1.5em;color:#FFF;top:4px
    }
    ._0iir8r0{
        margin-bottom: 0px;
    }
    ._red998050{
        width: 50px; border-radius: 50%;    height: 50px;
    }
    ._oue66ety{
        margin-left: 10px
    }
    ._ttryruuy {
        right: 4px;padding: 4px;
        left: auto;box-shadow: 0 0px 5px rgba(0,0,0,0.8) !important;    width: 250px;
    }
    .oofiguufggd {padding-left: 0px; padding-right:0px;}
    .bottom {
        position: relative;
        height: 50px;
        width: 100%;
    }
    .dataTables_info{
        position: absolute;
        right: 104px;
        top: 25px;
        bottom: 0px;
    }
    .dataTables_length{
        position: absolute;
        right: 180px;
        bottom: -5px;
    }
    .dataTables_paginate {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
    .dataTables_paginate.paging_bootstrap.pagination {
        float: none !important;
        margin-top:0px;
        margin-bottom: 0px;
    }
    div.dataTables_length > label > select {
        height: 32px !important;
    }