.bottom-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 6px solid;
  border-left: 6px solid #7DCC93;
  border-right: 6px solid #7DCC93;
  color: #FFFFFF;
  content: "";
  visibility: visible;
  position: absolute;
  bottom: 21px;
  background: #FFF;
  left: 129px;
  top: 30px;
}
.left-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-right: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
}
.right-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-left: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
}
.brain-header {
  background: #DFE4EB;
  width: auto;
  height: 93px;
  padding: 27px 0px 0px 10px;
}
.brain-wrap {
  margin-top: 60px;
  padding-top: 0px;
}
div .row div:first-child {
  padding-left: 0px;
  padding-right: 0px;
}
div .row div:first-child span {
  font-family: semibold;
  font-size: 20px;
  color: #333333;
  line-height: 19px;
}
div .row div:nth-child(2) .pull-left {
  color: red ;
  padding: 7px ;
  opacity: 0.6;
  font-family: semibold;
  font-size: 14px;
  color: #333333;
  line-height: 19px;
  text-align: left;
}
div .row div:nth-child(2) .dropdown {
  position: relative;
  left: -15px;
}
div .row div:nth-child(2) .dropdown .btn-brain {
  font-family: semibold;
  font-size: 14px;
  color: #333333;
  line-height: 19px;
  text-align: left;
  background-color: #FFFFFF;
  background: #DFE4EB ;
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 189px;
  height: 42px;
}
div .row div:nth-child(2) .dropdown .btn-brain .brain-title {
  margin: 27px;
  font-size: 14px;
  font-weight: bolder;
}
div .row div:nth-child(2) .dropdown .btn-brain .green-brain {
  padding-top: 8px;
  padding-left: 11px;
  padding-right: 10px;
  padding-bottom: 10px;
  background: #7DCC93;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 28px;
  height: 28px;
}
div .row div:nth-child(2) .dropdown .btn-brain .green-brain .caret {
  color: #FFF ;
  margin-left: 0px ;
}
div .row div:nth-child(3) span {
  display: block;
  /*clear : both ;*/
  float: left ;
  margin-right: 5px ;
  margin-left: 5px ;
}
div .row div:nth-child(3) span:hover {
  cursor: pointer;
}
div .row div:nth-child(3) span:first-child {
  background-color: transparent ;
  display: inline-block;
  padding: 10px ;
  border: 1px solid #B5B5B5 ;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  width: auto ;
  height: 42px;
  /*background: reds;*/
}
div .row div:nth-child(3) span:nth-child(2) {
  font-weight: bolder;
  padding: 12px 11px 12px 11px;
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  font-size: 10px;
  width: 189px ;
  height: 42px;
}
div .row div:nth-child(3) span:nth-child(3) {
  padding: 12px 11px 12px 11px;
  background: #7DCC93;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 170px;
  height: 42px;
  /*font-family:OpenSans-Semibold;*/
  font-size: 10px;
  color: #FFFFFF;
  line-height: 19px;
  text-align: center;
  font-weight: bolder;
}
div .row div:nth-child(3) span:nth-child(3) a {
  color: #FFF ;
}
div .row div:nth-child(3) span:nth-child(4) {
  display: block;
  position: absolute;
  top: 0px;
  right: 15px;
  /*display: block;*/
  /*position: relative;*/
  /*right: -82px;*/
  z-index: 99;
  width: 40px ;
  padding: 9px ;
  height: 42px;
  width: 42px;
  background: #7DCC93;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div .row div:nth-child(3) span:nth-child(4) .glyphicon-search {
  color: #FFF ;
  font-size: 20px;
}
div .row div:nth-child(3) span:nth-child(4) .glyphicon {
  top: 3px;
}

div .row div:nth-child(3) span:hover {
  cursor: pointer;
}
table {
  background-color: #FFF ;
  margin-top: 20px ;
  /*box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.16);*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.table-bordered tbody tr td {
  font-size: 15px;
  border-left: 0 !important;
  border-right: 0 !important;
  vertical-align: middle;
  height: 40px !important;
}
.table-bordered tbody tr td .brain-data {
  text-align: center ;
  display: inline-block;
  color: #FFF ;
  font-size: 17px;
  background: #E06E94;
  padding: 2px;
  margin-left: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 15px;
  height: 22px;
}
.table-bordered tbody tr:hover {
  background-color: #FFFDE1;
}
#dynamic-table_filter {
  display: none ;
}
#dynamic-table_paginate ul li:not(:first-child):not(:last-child) {
  display: none !important;
}
div #dynamic-table_paginate {
  /*    position: relative;
    right: 44px;
    top: -60px !important;*/
}
div #dynamic-table_paginate ul li {
  margin: 0 0 0 0 ;
  background: #7DCC93;
  border: 1px solid #7DCC93 ;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div #dynamic-table_paginate ul li a {
  background-color: #7DCC93 ;
  background: #7DCC93 ;
  visibility: hidden ;
}
div #dynamic-table_paginate ul li a:hover {
  background-color: #7DCC93 ;
  background: #7DCC93 ;
}
div #dynamic-table_paginate ul li a:active {
  background: #7DCC93 ;
}
div #dynamic-table_paginate ul li a:focus {
  background-color: #7DCC93 ;
  background: #7DCC93 ;
}
div #dynamic-table_paginate ul li:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div #dynamic-table_paginate ul li:first-child a:before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-right: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
  visibility: visible;
  content: "";
}
div #dynamic-table_paginate ul li:first-child:after {
  visibility: visible;
  content: "";
  position: relative;
  top: 0px;
  right: -8px;
  color: #FFFFFF;
}
div #dynamic-table_paginate ul li:last-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div #dynamic-table_paginate ul li:last-child a:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-left: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
  visibility: visible;
  content: "";
}
#dynamic-table_info {
/*  position: absolute;
  right: 182px !important;
  bottom: 85px !important;*/
}
#dynamic-table_length {
/*  right: 216px;
  position: absolute;
  bottom: 60px !important ;*/
}
#dynamic-table_length span.abc {
  top: 19px;
  border-radius: 3px;
  right: 26px;
  float: left;
  background: #7DCC93;
  width: 25px;
  height: 25px;
  position: absolute;
}
#dynamic-table_length select {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 8px;
  /*width: 165px !important;*/
  background: #FFFFFF;
  font-size: 15px;
  /*width: 165px;*/
/*  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}
#dynamic-table_length select option {
  font-weight: bold !important;
}
#dynamic-table_length:after {
/*  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 6px solid;
  border-left: 6px solid #7DCC93;
  border-right: 6px solid #7DCC93;
  color: #FFFFFF;
  left: 129px;
  top: 30px;
  content: "";
  visibility: visible;
  position: absolute;
  bottom: 21px;
  background: #FFF;
  left: 150px;*/
}
.tog {
  border: 1px solid #7DCC93;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.tog div {
  height: 6px;
  font-size: 20px;
  text-align: center;
  color: #7DCC93;
}
.tog div:nth-child(1) {
  margin-top: -15px;
}
.brain-drop-menu ul {
  background: #FFFFFF;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  width: 255px;
  /*height: 265px;*/
}
.brain-drop-menu ul li a {
  /*padding: 3px 8px;*/
  padding: 10px;
}
.brain-drop-menu ul li a .brain-dropdown {
  font-size: 15px;
  color: #4D4D4E;
  line-height: 20px;
}
.brain-drop-menu ul li a i {
  color: #4D4D4E;
}
.brain-drop-menu ul li a .boost {
  display: inline-block;
  background-image: url("icons/boost.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
}
.brain-drop-menu ul li a .copy {
  display: inline-block;
  background-image: url("icons/copy.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 19px;
  height: 22px;
}
.brain-drop-menu ul li a .activate {
  display: inline-block;
  background-image: url("icons/activate.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 17px;
}
.brain-drop-menu ul li a .notification {
  display: inline-block;
  background-image: url("icons/notification.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
}
.brain-drop-menu ul li a .pen {
  display: inline-block;
  background-image: url("icons/pen.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
.brain-drop-menu ul li span:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*@media screen {
    @media (max-width: 768px) {
        .brain-header {
            div {
                padding: 0px;
            }
        }
        .col-sm-7 {
            padding: 0px;
            width: auto ;
        }
        #dynamic-table_length  {
            bottom: -74px;
        }
    }

}*/
.brain-left-label {
  padding-left: 0px;
  text-align: left !important;
  margin: 5px 0px 13px 0px !important;
}
.brain-width {
  max-width: 530px;
}
.brain-no-pad {
  padding: 10px 10px 10px 10px ;
  /*padding-right: 15px ;*/
}
.filter-clicked-5 {
  background: #FFF;
  display: block;
  position: absolute;
  width: 84px;
  height: 93px;
  top: -27px;
  /*left: 467px;*/
  right: -5px;
  z-index: 4;
}
span.add-nw {
  width: 189px !important;
  font-family: semibold !important;
  color: #FFF ;
}

#ln:after {
  top: 3px;
  content: "";
  left: -5px;
  position: absolute;
  display: block;
  widows: 2px;
  width: 2px;
  height: 90%;
  background: #979797 !important;
  opacity: 0.4;
}
@media all and (max-width: 990px){
  .campaigns{
    margin-top: 0;
  }
  .campaigns .brain-header > div{
    display: block !important;
  }
}
@media all and (min-width: 767px) and (max-width: 780px){
  #header-that-i-want-to-hide + aside{
    min-height: 0;
  }
}
@media all and (max-width: 767px){
  .campaigns .brain-header{
    padding-bottom: 20px;
    height: auto;
  }
  .campaigns .row div:first-child{
    margin-bottom: 15px;
    padding-left: 20px;
  }
}

    .brn-drp-li:after {
        right: 12px !important ;
    }
    .jduf_{
        float: right; position: relative; right: 56px;
    }
    ._hide{display:none}
    .ldkdo__{padding: 15px 15px 15px 15px;}
    .dllfof{margin-bottom:0px !important; }
    .gdyy__{right: 4px;padding: 4px; left: auto;box-shadow: 0 0px 5px rgba(0,0,0,0.8) !important;}
    .modal-header {
     padding: none !important; 
}
div.dataTables_info {
    padding-top: 0px !important;
}