section.panel > div.panel-body {
    background: transparent;
    padding: 15px 0px;
}
.tpl-title {
    font-family: semibold;
    font-size: 20px;
    color: #333333;
    line-height: 44px;
}
.tpl-name {
    /*float: right;*/
    position: relative;
    top: 5px;
    text-align: left;
    /*width: 50%;*/
}
.green-pen {
    background: #FFF;
    border: 2px solid #7dcc93;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 10px;
}
.green-pen:before {
    content: "";
    display: inline-block;
    background-image: url("/resources/frontend/css/theme/icons/green-pen.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 12px;
    height: 12px;
    position: relative;
    top: 0px;
    vertical-align: middle;
    text-align: center;
    right: -4px;
}
.tpl-ctnr {
        text-align: right;
        padding:25px 0px;
}
.tpl-btn {
    background: #7DCC93;
    font-family: semibold;
    vertical-align: middle;
    line-height: 26px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #FFF;
}
.tpl-btn:hover {
    background: #7DCC93;
    font-family: semibold;
    vertical-align: middle;
    line-height: 26px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #FFF;
}
.tpl-header {
    background:#DFE4EB;
    width:auto;
    height:93px;
}
.wrapper {
    margin-top:60px;padding-top: 0px;
}
@media all and (max-width: 970px){
    #main-content .wrapper{
        margin-top:0;
    }
}
@media all and (max-width: 767px){
    .tpl-ctnr{
        position: absolute;
        right: 15px;
        top: -75px;
    }
}

.shhdgdy{
    text-align: right
}
.dkkfjg{
    margin-bottom: 0px
}
    .br-title {
        font-family:semibold !important;
        font-size:20px  !important;
        color:#333333 !important;
        line-height:19px !important;
    }
    .modal-header {
        padding: 15px;
        border-bottom: none ;
        min-height: 16.428571429px;
    }
    .dkkfigu {
        width:1170px !important;
    }
    .dllfokg{
         text-align: left
    }
    .dllfhote {
        background: #FFF;
    }
        .br-title {
        font-family:semibold !important;
        font-size:20px  !important;
        color:#333333 !important;
        line-height:19px !important;
    }
    .modal-header {
        padding: 15px;
        border-bottom: none ;
        min-height: 16.428571429px;
    }
    .dkkfigu {
        width:1170px !important;
    }
    .dllfokg{
         text-align: left
    }
    .dllfhote {
        background: #FFF;
    }
    .center-block {
    width: 100%;
}

    .control-label {
        text-align: left !important;
        font-family: semibold !important;
        font-size: 14px !important;
        color: #000 ;
        margin: 0px 0px 5px 0px !important;
    }
    input[type="text"],input[type="select"],select {
        border:1px solid #CCCCCC;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        width:530px !important;
        height:42px !important;
    }
    .btn-cancel {
        border:2px solid #7DCC93;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        width:120px;
        background-color: #FFF;
        color : #7DCC93 ;

    }
    .btn-cancel:focus ,.btn-cancel:hover {
        background-color: #FFF;
        color: #7DCC93 ;
    }
    .btn-submit:focus ,.btn-submit:hover {
        background-color: #7DCC93;
        color: #FFF ;
    }
    .btn-submit {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        background:#7DCC93;
        width:120px;
        color : #FFF ;

    }