    .brn-drp-li:after {
        right: 12px !important ;
    }
    .dooodifyuskjlj{position: relative;
    right: -12px;
    display: block;}
    .dooiwer890{
        display: none;
    }
    .osdiosidsds00{
        padding: 15px 15px 15px 15px;
    }
    .dood33433894{margin-bottom:0px;}
    .dyyy3438e90e45{
         right: 4px;
         padding: 4px;
        left: auto;
        box-shadow: 0 0px 5px rgba(0,0,0,0.8) !important;
    }
      .bottom {
        position: relative;
        height: 50px;
        width: 100%;
    }
    .dataTables_info{
        position: absolute;
        right: 104px;
        top: 25px;
        bottom: 0px;
    }
    .dataTables_length{
        position: absolute;
        right: 180px;
        bottom: -5px;
    }
    .dataTables_paginate {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
    .dataTables_paginate.paging_bootstrap.pagination {
        float: none !important;
        margin-top:0px;
        margin-bottom: 0px;
    }
    div.dataTables_length > label > select {
        height: 32px !important;
    }
    
    .custom-select-duration {
        padding: 0;
        margin: 0;
        border-radius: 3px;
        background-color: #fff;
        position: relative;
        display: inline-block;
        z-index: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    .custom-select-duration:before {
        pointer-events: none;
        content: "";
        background: #7DCC93 url('/resources/admin/css/theme/icons/icn.png') no-repeat center center;
        position: absolute;
        right: 5px;
        top: 4px;
        bottom: 0;
        width: 40px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left: 1px solid #d9dde0;
        height: 34px;
    }