.bottom-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 6px solid;
  border-left: 6px solid #7DCC93;
  border-right: 6px solid #7DCC93;
  color: #FFFFFF;
  content: "";
  visibility: visible;
  position: absolute;
  bottom: 21px;
  background: #FFF;
  left: 129px;
  top: 30px;
}
.left-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-right: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
}
.right-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-left: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
}
#navigation {
  margin-top: 60px;
  /*background: #DFE4EB;*/
  padding-left: 0px;
  padding-right: 0px;
  height: 93px;
  /*    padding-top: 38px;
        padding-bottom: 38px;*/
}
#navigation #right div .action {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #000000;
  font-family: semibold;
  font-size: 0.875em;
}
#navigation #right div .action span:after {
  content: url("/resources/admin/css/theme/icons/crt.png");
  background-color: #7DCC93;
  padding: 4px 9px 4px 9px;
  visibility: visible;
  display: block;
  position: absolute;
  top: 7px;
  right: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#navigation #right div .import {
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: transparent;
  font-family: semibold;
  font-size: 0.875em;
  color: #333333;
  line-height: 19px;
  text-align: center;
}
#navigation #right div .add {
  background: #7DCC93;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #FFF;
  font-size: 0.875em;
  font-family: semibold;
}
#navigation .brain-title {
  position: relative;
  font-family: semibold;
  /* padding-top: 129px; */
  padding-left: 30px;
  font-size: 20px;
  color: #333333;
  line-height: 19px;
  top: 30px;
}
#navigation .search-brain {
  background: #7DCC93;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 42px;
  height: 42px;
  display: block;
}

#navigation .search-brain i {
  top: 12px;
  display: block;
  text-align: center;
}
#navigation .search-brain i:before {
  color: #FFFFFF;
  font-size: 18px;
}
.brain-wrap {
  display: inline-block;
  margin-top: 0px;
  padding: 0px 15px;
  width: 100%;
}
.btn-height {
  height: 42px;
}
/*###############
Table Layout 
*/
#dynamic-table_filter {
  display: none ;
}
#dynamic-table_paginate ul li:not(:first-child):not(:last-child) {
  display: none;
}
table#dynamic-table {
  background: #FFF ;
  /*    box-shadow:0px 1px 20px 0px rgba(0,0,0,0.16);*/
  border: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
table#dynamic-table + .footer {
  background: #FFF;
  /*box-shadow: 10px 9px 6px -5px rgba(0, 0, 0, 0.16), -11px 0 8px -4px rgba(0, 0, 0, 0.16);*/
}
.table-bordered tbody tr td {
  border-left: 0 none !important;
  border-right: 0 none !important;
  vertical-align: middle;
}
.table-bordered tbody tr td .not-avaible {
  display: block;
  width: 3px;
  height: 32px;
  background: #e06e94;
  float: left;
  position: relative;
  left: -15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.table-bordered tbody tr td .avaible {
  display: block;
  width: 3px;
  height: 32px;
  float: left;
  position: relative;
  left: -15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #7dcc93;
}
.table-bordered tbody tr:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fffde1;
}
.table-bordered tbody tr .link {
  font-family: semibold;
  font-size: 13px;
  color: #333333;
  line-height: 19px;
}
.wrpbw {
  display: inline-block;
  margin-top: 0px;
  padding: 15px;
  width: 100%;
}
.pnt {
  display: block;
  background: transparent;
  width: 24px;
  height: 24px;
  border: 1px solid #7DCC93;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ptn-icn {
  background-image: url("icons/pnt.png");
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-left: 9px;
  margin-top: 2px;
}
.drp-mn {
  right: 4px;
  padding: 4px;
  left: auto;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8) !important;
}
.pen {
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/pen.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
.msg {
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/msg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
.del {
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/del.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
/*.dataTables_paginate.paging_bootstrap.pagination {
    float: right;
    margin-top: -94px;
    margin-right: 44px;
     margin-bottom: 15px; 
}
#dataTables_info {
    position: absolute;
    right: 150px;
    bottom: 65px;
}*/
#dynamic-table_filter {
  display: none ;
}
#dynamic-table_paginate ul li:not(:first-child):not(:last-child) {
  display: none !important;
}
div #dynamic-table_paginate {
/*  position: relative;
  right: 44px;
  top: -49px !important;*/
}
div #dynamic-table_paginate ul li {
  margin: 0 0 0 0 ;
  background: #7DCC93;
  border: 1px solid #7DCC93 ;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dataTables_wrapper .pagination ul>li:last-child>a, .dataTables_wrapper .pagination ul>li:last-child>span {
    margin-left: 0px !important;
}
div #dynamic-table_paginate ul li a {
    display: block;
    width: 40px;
    height: 32px;
    position: relative;
}
div #dynamic-table_paginate ul li a:hover {
  background-color: #7DCC93 ;
  background: #7DCC93 ;
}
div #dynamic-table_paginate ul li a:active {
  background: #7DCC93 ;
}
div #dynamic-table_paginate ul li a:focus {
  background-color: #7DCC93 ;
  background: #7DCC93 ;
}
div #dynamic-table_paginate ul li:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div #dynamic-table_paginate ul li:first-child a:before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-right: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
  visibility: visible;
  content: "";
  top: 10px;
  left: 16px;
  position: absolute;
}
div #dynamic-table_paginate ul li:first-child:after {
  visibility: visible;
  content: "";
  position: relative;
  top: 0px;
  right: -8px;
  color: #FFFFFF;
}
div #dynamic-table_paginate ul li:last-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div #dynamic-table_paginate ul li:last-child a:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-left: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
  visibility: visible;
  content: "";
  position: absolute;
  top:10px;
}
/*#dynamic-table_info {
  position: absolute;
  right: 182px !important;
  bottom: 106px !important;
}*/
/*#dynamic-table_length {
  right: 236px;
  position: absolute;
  bottom: 95px ;
  margin: 0px 15px 0px 15px;
}*/
#dynamic-table_length span.abc {
  top: 19px;
  border-radius: 3px;
  right: 15px;
  float: left;
  background: #7DCC93;
  width: 25px;
  height: 25px;
  position: absolute;
}
#dynamic-table_length select {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 8px;
  /*width: 165px !important;*/
  background: #FFFFFF;
  font-size: 15px;
  /*width: 165px;*/
/*  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}
#dynamic-table_length select option {
  font-weight: bold !important;
}
/*#dynamic-table_length:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 6px solid;
  border-left: 6px solid #7DCC93;
  border-right: 6px solid #7DCC93;
  color: #FFFFFF;
  top: 30px;
  content: "";
  visibility: visible;
  position: absolute;
  bottom: 21px;
  background: #FFF;
}*/
.brain-wrap {
  display: inline-block;
  margin-top: 0px;
  padding: 0px 15px;
  width: 100%;
}
.no-back {
  background: transparent ;
}
.application {
  background: #E06E94;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 15px;
  height: 18px;
  margin-left: 8px ;
  display: inline-block;
  color: #FFF ;
  text-align: center;
  font-family: semibold ;
}
.add-br {
  background: #7DCC93;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 0.875em;
  font-family: semibold !important;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  text-align: center;
  width: 170px;
  line-height: 26px;
}

.add-br:before {
  top: 3px;
  content: "";
  left: -35px;
  position: absolute;
  display: block;
  widows: 2px;
  width: 2px;
  height: 90%;
  background: #979797 !important;
  opacity: 0.4;
}
.brn-drp-li:after {
  content: url("/resources/admin/css/theme/icons/crt.png");
  padding: 6px 10px 6px 10px;
  visibility: visible;
  /*display: block;*/
  /*position: relative;*/
  top: 1px;
  right: -22px;
  width: 28px;
  /*height: 28px;*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.btn-width {
  height: 42px;
  background: #DFE4EB !important;
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 125px;
  line-height: 26px;
  color: #000 !important ;
  font-family: semibold ;
}
.btn-width .open,
.btn-width:hover,
.btn-width:focus {
  background: #DFE4EB !important;
  color: #000 !important;
}
#circle-green {
  width: 12px;
  height: 12px;
  background: #7dcc93;
}
#circle-red {
  width: 12px;
  height: 12px;
  background: #E06E94;
}
.circle {
  border-radius: 50%;
}
.edit-icon {
  border-radius: 2px;
  width: 24px !important;
  height: 24px !important;
  background: #7dcc93;
}
.edit-icon:after {
  content: "";
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/pix.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 12px;
  height: 12px;
  top: 1px;
  right: -6px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.open > .dropdown-menu {
  display: block;
  width: auto;
  /*height: 265px*/
}
.brain-dropdown {
  font-size: 15px;
  color: #4D4D4E;
  line-height: 20px;
}
.dropdown-menu li a .notification {
  display: inline-block;
  background-image: url("icons/notification.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
}
.dropdown-menu li a .boost {
  display: inline-block;
  background-image: url("icons/boost.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
}
.dropdown-menu li a .copy {
  display: inline-block;
  background-image: url("icons/copy.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 19px;
  height: 22px;
}
.dropdown-menu li a .activate {
  display: inline-block;
  background-image: url("icons/activate.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 17px;
}
.dropdown-menu li a .dis-activate {
  display: inline-block;
  background-image: url("icons/disactivate.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 17px;
}
.dataTables_wrapper .pagination ul {
  box-shadow: none;
  font-size: 7px !important;
  padding: 0;
}
.dataTables_wrapper .pagination ul li:first-child:after {
  content: "";
  top: 4px !important;
  right: 41px !important;
  color: #FFFFFF;
  display: block;
  width: 2px !important;
  height: 26px !important;
  /* float: right; */
  position: absolute !important;
  /* left: -15px; */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  /* -webkit-background-clip: padding-box; */
  /* background-clip: padding-box; */
  background: #ffffff;
  opacity: 0.4;
  width: 1px;
  height: 16px;
}
select {
  min-height: 32px;
}
/*#dynamic-table_length select {
  height: 32px !important;
}*/
#dynamic-table_length select .abc {
  top: 19px !important;
}

#search-cont {
  height: 135px;
  background: #FFF;
  padding: 25px;
}
.no-pad {
  padding: 0px;
}
.filter-clicked-2 {
  background: #FFF;
  display: block;
  position: absolute;
  width: 84px;
  height: 93px;
  top: -25px;
  right: -20px;
  z-index: -1;
}
.filter-clicked-3 {
  background: #FFF;
  display: block;
  position: absolute;
  width: 84px;
  height: 93px;
  top: -22px;
  right: -22px;
  z-index: 0;
}
.filter-clicked-6 {
  background: #FFF;
  display: block;
  position: absolute;
  width: 84px;
  height: 93px;
  top: -22px;
  right: -22px;
  z-index: -1;
}
.mytable tbody tr td {
  padding: 2px !important ;
  vertical-align: middle;
  min-height: 50px !important;
  height: 50px !important;
}
#my-table-fix tbody tr {
  border: 0px !important;
}
#my-table-fix tbody tr td {
  border: 0px !important;
}
.add-brr {
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: semibold;
  font-size: 0.875em;
  color: #333333;
  line-height: 19px;
  text-align: center;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  width: 187px;
  height: 40px;
}

@media (max-width: 1024px) {
  .import,
  .add,
  .action {
    font-size: 0.875em;
  }
}
@media (max-width: 867px) {
  .import,
  .add,
  .action {
    font-size: 0.875em;
  }
  #contain {
    width: 130% !important;
    float: right;
    position: absolute;
    top: -23px;
    left: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .import,
  .add,
  .action {
    font-size: 0.775em;
  }
  #contain {
    width: 232% !important;
    float: left;
    position: absolute;
    top: -23px;
    left: -256px;
  }
}
@media (max-width: 500px) {
  #contain {
    width: 130% !important ;
  }
}
@media (min-width: 1280px) {
  #contain {
    width: 118% !important;
    float: left;
    position: absolute;
    left: -125px;
  }
}
@media (max-width: 320px) {
  #act {
    width: 36% !important;
    position: absolute;
    top: 52px;
  }
  #sear {
    width: 36% !important;
    position: absolute;
    left: 243px;
    top: 52px;
  }
  #add {
    width: 36% !important;
  }
  #imp {
    width: 36% !important;
  }
  #navigation {
    padding-bottom: 80px;
    margin-top: 0px;
  }
  #right div .action span:after {
    padding: 2px 6px 2px 6px !important;
    top: 9px !important;
    right: 19px !important;
  }
}
@media (max-width: 480px) {
  #contain {
    width: 143% !important;
  }
  #right div .action span:after {
    padding: 2px 6px 2px 6px !important;
    top: 9px !important;
    right: 19px !important;
  }
}
@media (max-width: 600px) {
  #right div .action span:after {
    padding: 2px 6px 2px 6px !important;
    top: 9px !important;
    right: 19px !important;
  }
}
@media (max-width: 1440px) {
  #navigation .dropdown {
    position: absolute;
    right: 6px !important;
  }
  #navigation .add-br {
    line-height: 26px;
    vertical-align: middle;
    /* height: 42px; */
    top: 25px;
    position: relative;
    float: right;
    right: -47px;
    height: 42px;
  }
  #navigation .add-br:before {
    left: -18px;
  }
}
@media all and (max-width:1300px){
    body .add_new_job,
    body .change_status,
    body .search_top_button{
        width:100% !important;
    }
    body #navigation .dropdown {
        right: 300px !important;
        top: 12px !important;
        z-index: 999;
    }
    body #navigation .add_new_job .add-br {
        right: 80px !important;
        top: 12px !important;
        z-index: 999;
    }
    body #navigation .search_top_button button{
        top: -30px !important;
        z-index: 999;
    }
}
@media (max-width: 1280px) {
  #navigation .dropdown {
    /*position: absolute;*/
    right: 38px !important;
  }
}
@media (max-width: 1475px) {
  #navigation .dropdown {
    right: 15px !important;
  }
}
.fixing {
    margin: 80px auto ;
}
@media all and (max-width: 970px){
  #navigation{
    margin-top: 0;
  }
}
@media all and (max-width: 780px){
  body #navigation .search_top_button button{
        top: 10px !important
    }
  body .job_page #navigation .search_top_button button{
    top: -30px !important; 
  }
  body .job_page #navigation .dropdown{
    right: 230px !important;
  }
}
@media all and (max-width: 760px){
  body .job_page #navigation .dropdown{
    right: 300px !important;
  } 
  body .job_page #navigation .search_top_button button {
    top: 10px !important;
  }
}
@media all and (max-width: 840px){
  body #navigation .add_new_job .add-br{
    width: 105px;
  }
  body #navigation .btn-width{
    width: 145px;
  }
  body #navigation .brn-drp-li:after{
    right: 2px;
  }
  body #navigation .dropdown{
    right: 230px;
  }
}
@media all and (max-width:600px){
  body .job_page #navigation .search_top_button button{
      top: 182px !important;
      right: 0px;
  }
}
@media all and (max-width: 480px){
  #header-that-i-want-to-hide + aside{
    min-height: 0;
  }
  body #navigation .search_top_button button{
    top: 63px !important;
  }
}
@media all and (min-width: 1100px) and (max-width: 1300px){
  .users_view_header #navigation .col-sm-2,
  .users_view_header #navigation .col-sm-1{
    width: 100%;
  }
  .users_view_header #navigation .search_btn button{
    right: 20px !important;
    top: -35px !important;
  }
  .users_view_header #navigation .add-br{
    position: absolute !important;
    right: 80px !important;
    top: -34px !important;
  }
  .users_view_header #navigation .import_btn a{
    right: 255px !important;
    top: 8px !important;
  }
  body .users_view_header #navigation .dropdown{
    right: 475px !important;
    top: 9px !important;
  }
}
@media all and (min-width: 900px) and (max-width: 1300px){
  .jobs-table .table-bordered td:last-child{
    width: 30px;
  }
}
@media all and (max-width: 900px){
  .table-bordered tbody tr td .not-avaible{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top:15px;
  }
  .job_page #navigation{
    height: 120px;
  }
  #navigation .brain-title{
    z-index: 999;
    top: 0;
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .job_page #navigation .brain-title{
    text-align:left;
    padding-left:15px;
  }
  .job_page #navigation{
    padding-top: 60px;
  }
  .view-jobs-br {
      position: relative  !important;
      left: -60px !important;
      top: 90px !important;
  }
  ._iiuiu {
      position: absolute;
      left: 158px;
  }
}
@media (max-width: 375px) {
    .view-jobs-br { 
        left: -112px !important;
    }
}

@media all and (max-width: 600px){
  .job_page #navigation{
      height: auto;
      min-height: 270px;
  }
  .brn-drp-li {
      position: relative;
      left: 50px;
  }
}
.delete-edit-btn {
    /*background: #7dcc93;*/
    /*border: 2px solid #7dcc93;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    /*top: 40px;*/
    /*right: 5px;*/
        padding-left: 10px;
}
.delete-edit-btn:before {
    content: "";
    display: inline-block;
    background-image: url("/resources/frontend/images/delete.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
.delete-edit-btn:hover:before {
    cursor: pointer ;
}

 .dataTables_length {
           /*bottom: 60px !important;*/   
    }
/*    #dynamic-table_info {
        position: absolute;
        right: 182px !important;
        bottom: 71px !important;
    }*/
    ._uuyutyt545{
        margin-top: 15px;
        position: fixed;
    }
    ._uuyiyt{
        top: 35px;position: relative;
    }
    ._uutdfy {
        top: 25px;right: -35px;
    }
    ._yyury{
        line-height: 26px;
        vertical-align: middle;
        /* height: 42px; */
        top: 25px;
        position: relative;
        float: right;
        right: -33px;
        height: 42px;
    }
    ._azzuity{
        padding: 0px;
        top: 25px;
        position: absolute;
        right: 13px;
        z-index: 9;
    }
    .iiutyyu {
        top: 25px;position: relative;float: right;
        right: -45px;
    }
    
/*        #dynamic-table_info {
        position: absolute;
        right: 162px !important;
        bottom: 83px !important;
    }*/
    .bottom #dynamic-table_length span.abc {
        right: 30px !important;
    }
    .bottom #dynamic-table_length:after {
        right: 36px;
        left:none;
    }
    #dynamic-table_length:after {left:none !important}
    .hdgftf{height:auto}
    .rw4we74{padding: 0 15px;}
    ._oduttt{padding-top:15px;}
    .ufgrurr{margin-bottom:0px !important}
    ._urytyy{width: 50px;border-radius: 50%}
    .jsdhsu{width: 50px;}
/*        #dynamic-table_length {
        right: 236px;
        position: absolute;
        bottom: 95px !important ;
        margin: 0px 15px 0px 15px;
    }
    #dynamic-table_info {
        position: absolute;
        right: 182px !important;
        bottom: 104px !important;
    }*/
    ._iiuiu {
        position: absolute;
        right: 4px;
    }   ._uurtr33445 { 
        display: block;
        margin: 0px;
        padding: 0px;
        text-align: left;
        float: left;
    }
    .nw_app  { font-family: semibold;
    font-size: 13px;
    color: #333333;
    line-height: 19px;}
    .dfdssd{top: 35px;position: relative;}
    .dter_eo{top: 25px;position: absolute;float: right;right: -13px;}
    .hdyets{height:auto}
    .sjdhft{top: 25px;position: relative;float: right;right: -45px;}
    .__ajsd{padding: 0px;top: 25px;position: absolute;right: 13px;z-index: 9;}
    .jdf_{position:absolute}
    ._odirt{padding: 0px !important;}
    select#career_level, select#type {
        width: 100%;
        height: 42px !important;
    }
    
    .brain-back-drop:after {
        right: 23px !important;
    }
/*    select {
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:  none; 
    }*/
    .white-bk {
        background-color: #FFF ;

    }
    .modal-header{
        /*padding-bottom: 0px;*/
    }
    .bs-example ul .active {
        border-bottom: 3px solid #3AC5D9 ;
    }
    .bs-example ul li {
        list-style: none;
        display: inline-block;
        width: 120px;
        text-align: center;
        padding: 15px;
    }
    .bs-example ul li a {
        font-family: semibold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
        line-height: 19px;
        text-align: center;
    }
    .active > a {
        font-size:14px;
        color:#3AC5D9 !important;
        line-height:19px;
    }
    ul#myTab {
        margin-bottom: 0px;
    }
    .modal-header h4.modal-title {
        font-weight: 300;
        font-family: semibold !important;
        font-size: 20px !important;
        color: #333333 !important;
        line-height: 19px !important;
        margin: 10px 0px -15px 10px;
    }
    .can-bt {
        width: 120px;
        border: 2px solid #7DCC93;
        background: #FFF ;
    }
    .can-bt > span {
        color: #7DCC93;
        font-size: 16px;
        line-height: 19px;
    }
    .can-bt:focus {
        background-color: #FFF;
    }
    .can-bt:hover {
        border: 2px solid #7DCC93;
        background-color: #FFF ;
    }

    .save-bt {
        width: 120px;
        border: 2px solid #7DCC93;
        background: #7DCC93 ;
    }
    .save-bt > span {
        color: #FFF;
        font-size: 16px;
        line-height: 19px;
    }
    .save-bt:focus {
        background-color: #7DCC93;
    }
    .save-bt:hover {
        border: 2px solid #7DCC93;
        background-color: #7DCC93 ;
    }


    .lcs_wrap {
        display: inline-block;	
        direction: ltr;
        height: 28px;
        vertical-align: middle;
    }
    .lcs_wrap input {
        display: none;	
    }

    .lcs_switch {
        display: inline-block;	
        position: relative;
        width: 73px;
        height: 28px;
        border-radius: 30px;
        background: #ddd;
        overflow: visible;
        cursor: pointer;

        -webkit-transition: all .2s ease-in-out;  
        -ms-transition: 	all .2s ease-in-out; 
        transition: 		all .2s ease-in-out; 
    }
    .lcs_cursor {
        display: inline-block;
        position: absolute;
        top: 3px;	
        width: 22px;
        height: 22px;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
        z-index: 10;

        -webkit-transition: all .2s linear;  
        -ms-transition: 	all .2s linear; 
        transition: 		all .2s linear; 
    }
    .lcs_label {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 18px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        width: 33px;
        top: 5px;
        overflow: hidden;
        text-align: center;
        opacity: 0;

        -webkit-transition: all .2s ease-in-out .1s;  
        -ms-transition: 	all .2s ease-in-out .1s;   
        transition: 		all .2s ease-in-out .1s;   
    }
    .lcs_label.lcs_label_on {
        left: -70px;
        z-index: 6;	
    }
    .lcs_label.lcs_label_off {
        right: -70px;
        z-index: 5;	
    }


    /* on */
    .lcs_switch.lcs_on {
        background: #7DCC93;
        box-shadow: 0 0 2px #579022 inset;
    }
    .lcs_switch.lcs_on .lcs_cursor {
        left: 48px;
    }
    .lcs_switch.lcs_on .lcs_label_on {
        left: 10px;	
        opacity: 1;
    }


    /* off */
    .lcs_switch.lcs_off {
        background: #b2b2b2;
        box-shadow: 0px 0px 2px #a4a4a4 inset; 	
    }
    .lcs_switch.lcs_off .lcs_cursor {
        left: 3px;
    }
    .lcs_switch.lcs_off .lcs_label_off {
        right: 10px;
        opacity: 1;	
    }


    /* disabled */
    .lcs_switch.lcs_disabled {
        opacity: 0.65;
        filter: alpha(opacity=65);	
        cursor: default;
    }
    .promoted { font-family: semibold !important;
                font-size: 14px !important;
                color: #333333;
                line-height: 19px;
                text-align: left;
                margin: 15px;
    }
    .no-pad {
        padding: 0px !important;
    }
    #cke_editor2 {
/*        height: 600px;*/
    }
    .cke_dialog { 
z-index: 1000000 !important; 
} 
.cke_panel { 
z-index: 1000002 !important; 
} 
    input {
        max-width: 530px;
    }
    select {
        max-width: 530px !important;
    }
    ._uufufg{margin: 0 auto; width: 1171px}
    div.on-off-switch {
        float: right !important;
    }
     /*datatable paginations*/
    .dataTables_length, .dataTables_filter {
        padding: 0px;
    }
    .adv-table .dataTables_length, .adv-table .dataTables_filter {
        padding : 0px;
    }
    .adv-table .dataTables_info, .dataTables_paginate{
        padding: 0px;
    } 
    .dataTables_info {
        padding: 0px;
    }
    .custom-can-bt {
        width: 170px;
        color: #7DCC93;
        font-family: semibold !important;
        font-size: 14px;
        line-height: 26px;
    }
    .cus-addbr{
        border: 2px solid #7DCC93;
    }
    .cus-addbr:hover{
        border: 2px solid #40a55d;
    }
    .custom-can-bt:hover {
        background: #7DCC93;
        width: 170px;
        color: #FFF;
    }
    .yeytw__{
        display: none;
    }
    .bottom-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 6px solid;
  border-left: 6px solid #7DCC93;
  border-right: 6px solid #7DCC93;
  color: #FFFFFF;
  content: "";
  visibility: visible;
  position: absolute;
  bottom: 21px;
  background: #FFF;
  left: 129px;
  top: 30px;
}
.left-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-right: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
}
.right-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-left: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
}
#navigation {
  margin-top: 60px;
  /*background: #DFE4EB;*/
  padding-left: 0px;
  padding-right: 0px;
  height: 93px;
  /*    padding-top: 38px;
        padding-bottom: 38px;*/
}
#navigation #right div .action {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #000000;
  font-family: semibold;
  font-size: 0.875em;
}
#navigation #right div .action span:after {
  content: url("/resources/admin/css/theme/icons/crt.png");
  background-color: #7DCC93;
  padding: 4px 9px 4px 9px;
  visibility: visible;
  display: block;
  position: absolute;
  top: 7px;
  right: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#navigation #right div .import {
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: transparent;
  font-family: semibold;
  font-size: 0.875em;
  color: #333333;
  line-height: 19px;
  text-align: center;
}
#navigation #right div .add {
  background: #7DCC93;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #FFF;
  font-size: 0.875em;
  font-family: semibold;
}
#navigation .brain-title {
  position: relative;
  font-family: semibold;
  /* padding-top: 129px; */
  padding-left: 30px;
  font-size: 20px;
  color: #333333;
  line-height: 19px;
  top: 30px;
}
#navigation .search-brain {
  background: #7DCC93;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 42px;
  height: 42px;
  display: block;
}

#navigation .search-brain i {
  top: 12px;
  display: block;
  text-align: center;
}
#navigation .search-brain i:before {
  color: #FFFFFF;
  font-size: 18px;
}
.brain-wrap {
  display: inline-block;
  margin-top: 0px;
  padding: 0px 15px;
  width: 100%;
}
.btn-height {
  height: 42px;
}
/*###############
Table Layout 
*/
#ajaxdynamic-table_filter {
  display: none ;
}
#ajaxdynamic-table_paginate ul li:not(:first-child):not(:last-child) {
  display: none;
}
table#ajaxdynamic-table {
  background: #FFF ;
  /*    box-shadow:0px 1px 20px 0px rgba(0,0,0,0.16);*/
  border: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
table#ajaxdynamic-table + .footer {
  background: #FFF;
  /*box-shadow: 10px 9px 6px -5px rgba(0, 0, 0, 0.16), -11px 0 8px -4px rgba(0, 0, 0, 0.16);*/
}
.table-bordered tbody tr td {
  border-left: 0 none !important;
  border-right: 0 none !important;
  vertical-align: middle;
}
.table-bordered tbody tr td .not-avaible {
  display: block;
  width: 3px;
  height: 32px;
  background: #e06e94;
  float: left;
  position: relative;
  left: -15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.table-bordered tbody tr td .avaible {
  display: block;
  width: 3px;
  height: 32px;
  float: left;
  position: relative;
  left: -15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #7dcc93;
}
.table-bordered tbody tr:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fffde1;
}
.table-bordered tbody tr .link {
  font-family: semibold;
  font-size: 13px;
  color: #333333;
  line-height: 19px;
}
.wrpbw {
  display: inline-block;
  margin-top: 0px;
  padding: 15px;
  width: 100%;
}
.pnt {
  display: block;
  background: transparent;
  width: 24px;
  height: 24px;
  border: 1px solid #7DCC93;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ptn-icn {
  background-image: url("icons/pnt.png");
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-left: 9px;
  margin-top: 2px;
}
.drp-mn {
  right: 4px;
  padding: 4px;
  left: auto;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8) !important;
}
.pen {
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/pen.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
.msg {
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/msg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
.del {
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/del.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
/*.dataTables_paginate.paging_bootstrap.pagination {
    float: right;
    margin-top: -94px;
    margin-right: 44px;
     margin-bottom: 15px; 
}
#dataTables_info {
    position: absolute;
    right: 150px;
    bottom: 65px;
}*/
#ajaxdynamic-table_filter {
  display: none ;
}
#ajaxdynamic-table_paginate ul li:not(:first-child):not(:last-child) {
  display: none !important;
}
div #ajaxdynamic-table_paginate {
/*  position: relative;
  right: 44px;
  top: -49px !important;*/
}
div #ajaxdynamic-table_paginate ul li {
  margin: 0 0 0 0 ;
  background: #7DCC93;
  border: 1px solid #7DCC93 ;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dataTables_wrapper .pagination ul>li:last-child>a, .dataTables_wrapper .pagination ul>li:last-child>span {
    margin-left: 0px !important;
}
div #ajaxdynamic-table_paginate ul li a {
    display: block;
    width: 40px;
    height: 32px;
    position: relative;
    visibility: hidden;
}
div #ajaxdynamic-table_paginate ul li a:hover {
  background-color: #7DCC93 ;
  background: #7DCC93 ;
}
div #ajaxdynamic-table_paginate ul li a:active {
  background: #7DCC93 ;
}
div #ajaxdynamic-table_paginate ul li a:focus {
  background-color: #7DCC93 ;
  background: #7DCC93 ;
}
div #ajaxdynamic-table_paginate ul li:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div #ajaxdynamic-table_paginate ul li:first-child a:before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-right: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
  visibility: visible;
  content: "";
  top: 10px;
  left: 16px;
  position: absolute;
}
div #ajaxdynamic-table_paginate ul li:first-child:after {
  visibility: visible;
  content: "";
  position: relative;
  top: 0px;
  right: -8px;
  color: #FFFFFF;
}
div #ajaxdynamic-table_paginate ul li:last-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div #ajaxdynamic-table_paginate ul li:last-child a:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-left: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
  visibility: visible;
  content: "";
  position: absolute;
  top:10px;
}
/*#ajaxdynamic-table_info {
  position: absolute;
  right: 182px !important;
  bottom: 106px !important;
}*/
/*#ajaxdynamic-table_length {
  right: 236px;
  position: absolute;
  bottom: 95px ;
  margin: 0px 15px 0px 15px;
}*/
#ajaxdynamic-table_length span.abc {
  top: 19px;
  border-radius: 3px;
  right: 15px;
  float: left;
  background: #7DCC93;
  width: 25px;
  height: 25px;
  position: absolute;
}
#ajaxdynamic-table_length select {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 8px;
  /*width: 165px !important;*/
  background: #FFFFFF;
  font-size: 15px;
  /*width: 165px;*/
/*  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}
#ajaxdynamic-table_length select option {
  font-weight: bold !important;
}
/*#ajaxdynamic-table_length:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 6px solid;
  border-left: 6px solid #7DCC93;
  border-right: 6px solid #7DCC93;
  color: #FFFFFF;
  top: 30px;
  content: "";
  visibility: visible;
  position: absolute;
  bottom: 21px;
  background: #FFF;
}*/
.brain-wrap {
  display: inline-block;
  margin-top: 0px;
  padding: 0px 15px;
  width: 100%;
}
.no-back {
  background: transparent ;
}
.application {
  background: #E06E94;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 15px;
  height: 18px;
  margin-left: 8px ;
  display: inline-block;
  color: #FFF ;
  text-align: center;
  font-family: semibold ;
}
.add-br {
  background: #7DCC93;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 0.875em;
  font-family: semibold !important;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  text-align: center;
  width: 170px;
  line-height: 26px;
}

.add-br:before {
  top: 3px;
  content: "";
  left: -35px;
  position: absolute;
  display: block;
  widows: 2px;
  width: 2px;
  height: 90%;
  background: #979797 !important;
  opacity: 0.4;
}
.brn-drp-li:after {
  content: url("/resources/admin/css/theme/icons/crt.png");
  padding: 6px 10px 6px 10px;
  visibility: visible;
  /*display: block;*/
  /*position: relative;*/
  top: 1px;
  right: -22px;
  width: 28px;
  /*height: 28px;*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.btn-width {
  height: 42px;
  background: #DFE4EB !important;
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 125px;
  line-height: 26px;
  color: #000 !important ;
  font-family: semibold ;
}
.btn-width .open,
.btn-width:hover,
.btn-width:focus {
  background: #DFE4EB !important;
  color: #000 !important;
}
#circle-green {
  width: 12px;
  height: 12px;
  background: #7dcc93;
}
#circle-red {
  width: 12px;
  height: 12px;
  background: #E06E94;
}
.circle {
  border-radius: 50%;
}
.edit-icon {
  border-radius: 2px;
  width: 24px !important;
  height: 24px !important;
  background: #7dcc93;
}
.edit-icon:after {
  content: "";
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/pix.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 12px;
  height: 12px;
  top: 1px;
  right: -6px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.open > .dropdown-menu {
  display: block;
  width: auto;
  /*height: 265px*/
}
.brain-dropdown {
  font-size: 15px;
  color: #4D4D4E;
  line-height: 20px;
}
.dropdown-menu li a .notification {
  display: inline-block;
  background-image: url("icons/notification.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
}
.dropdown-menu li a .boost {
  display: inline-block;
  background-image: url("icons/boost.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
}
.dropdown-menu li a .copy {
  display: inline-block;
  background-image: url("icons/copy.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 19px;
  height: 22px;
}
.dropdown-menu li a .activate {
  display: inline-block;
  background-image: url("icons/activate.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 17px;
}
.dropdown-menu li a .dis-activate {
  display: inline-block;
  background-image: url("icons/disactivate.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 17px;
}
.dataTables_wrapper .pagination ul {
  box-shadow: none;
  font-size: 7px !important;
  padding: 0;
}
.dataTables_wrapper .pagination ul li:first-child:after {
  content: "";
  top: 4px !important;
  right: 41px !important;
  color: #FFFFFF;
  display: block;
  width: 2px !important;
  height: 26px !important;
  /* float: right; */
  position: absolute !important;
  /* left: -15px; */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  /* -webkit-background-clip: padding-box; */
  /* background-clip: padding-box; */
  background: #ffffff;
  opacity: 0.4;
  width: 1px;
  height: 16px;
}
select {
  min-height: 32px;
}
/*#ajaxdynamic-table_length select {
  height: 32px !important;
}*/
#ajaxdynamic-table_length select .abc {
  top: 19px !important;
}
div #ajaxdynamic-table_paginate ul li:hover {
    background: #40a55d !important;
    border: 1px solid #40a55d ;
    cursor: pointer;
}
#search-cont {
  height: 135px;
  background: #FFF;
  padding: 25px;
}
.no-pad {
  padding: 0px;
}
.filter-clicked-2 {
  background: #FFF;
  display: block;
  position: absolute;
  width: 84px;
  height: 93px;
  top: -25px;
  right: -20px;
  z-index: -1;
}
.filter-clicked-3 {
  background: #FFF;
  display: block;
  position: absolute;
  width: 84px;
  height: 93px;
  top: -22px;
  right: -22px;
  z-index: 0;
}
.filter-clicked-6 {
  background: #FFF;
  display: block;
  position: absolute;
  width: 84px;
  height: 93px;
  top: -22px;
  right: -22px;
  z-index: -1;
}
.mytable tbody tr td {
  padding: 2px !important ;
  vertical-align: middle;
  min-height: 50px !important;
  height: 50px !important;
}
#my-table-fix tbody tr {
  border: 0px !important;
}
#my-table-fix tbody tr td {
  border: 0px !important;
}
.add-brr {
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: transparent;
  font-family: semibold;
  font-size: 0.875em;
  color: #333333;
  line-height: 19px;
  text-align: center;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  width: 187px;
  height: 40px;
}

@media (max-width: 1024px) {
  .import,
  .add,
  .action {
    font-size: 0.875em;
  }
}
@media (max-width: 867px) {
  .import,
  .add,
  .action {
    font-size: 0.875em;
  }
  #contain {
    width: 130% !important;
    float: right;
    position: absolute;
    top: -23px;
    left: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .import,
  .add,
  .action {
    font-size: 0.775em;
  }
  #contain {
    width: 232% !important;
    float: left;
    position: absolute;
    top: -23px;
    left: -256px;
  }
}
@media (max-width: 500px) {
  #contain {
    width: 130% !important ;
  }
}
@media (min-width: 1280px) {
  #contain {
    width: 118% !important;
    float: left;
    position: absolute;
    left: -125px;
  }
}
@media (max-width: 320px) {
  #act {
    width: 36% !important;
    position: absolute;
    top: 52px;
  }
  #sear {
    width: 36% !important;
    position: absolute;
    left: 243px;
    top: 52px;
  }
  #add {
    width: 36% !important;
  }
  #imp {
    width: 36% !important;
  }
  #navigation {
    padding-bottom: 80px;
    margin-top: 0px;
  }
  #right div .action span:after {
    padding: 2px 6px 2px 6px !important;
    top: 9px !important;
    right: 19px !important;
  }
}
@media (max-width: 480px) {
  #contain {
    width: 143% !important;
  }
  #right div .action span:after {
    padding: 2px 6px 2px 6px !important;
    top: 9px !important;
    right: 19px !important;
  }
}
@media (max-width: 600px) {
  #right div .action span:after {
    padding: 2px 6px 2px 6px !important;
    top: 9px !important;
    right: 19px !important;
  }
}
@media (max-width: 1440px) {
  #navigation .dropdown {
    position: absolute;
    right: 6px !important;
  }
  #navigation .add-br {
    line-height: 26px;
    vertical-align: middle;
    /* height: 42px; */
    top: 25px;
    position: relative;
    float: right;
    right: -47px;
    height: 42px;
  }
  #navigation .add-br:before {
    left: -18px;
  }
}
@media all and (max-width:1300px){
    body .add_new_job,
    body .change_status,
    body .search_top_button{
        width:100% !important;
    }
    body #navigation .dropdown {
        right: 300px !important;
        top: 12px !important;
        z-index: 999;
    }
    body #navigation .add_new_job .add-br {
        right: 80px !important;
        top: 12px !important;
        z-index: 999;
    }
    body #navigation .search_top_button button{
        top: -30px !important;
        z-index: 999;
    }
}
@media (max-width: 1280px) {
  #navigation .dropdown {
    /*position: absolute;*/
    right: 38px !important;
  }
}
@media (max-width: 1475px) {
  #navigation .dropdown {
    right: 15px !important;
  }
}
.fixing {
    margin: 80px auto ;
}
@media all and (max-width: 970px){
  #navigation{
    margin-top: 0;
  }
}
@media all and (max-width: 780px){
  body #navigation .search_top_button button{
        top: 10px !important
    }
  body .job_page #navigation .search_top_button button{
    top: -30px !important; 
  }
  body .job_page #navigation .dropdown{
    right: 230px !important;
  }
}
@media all and (max-width: 760px){
  body .job_page #navigation .dropdown{
    right: 300px !important;
  } 
  body .job_page #navigation .search_top_button button {
    top: 10px !important;
  }
}
@media all and (max-width: 840px){
  body #navigation .add_new_job .add-br{
    width: 105px;
  }
  body #navigation .btn-width{
    width: 145px;
  }
  body #navigation .brn-drp-li:after{
    right: 2px;
  }
  body #navigation .dropdown{
    right: 230px;
  }
}
@media all and (max-width:600px){
  body .job_page #navigation .search_top_button button{
      top: 182px !important;
      right: 0px;
  }
}
@media all and (max-width: 480px){
  #header-that-i-want-to-hide + aside{
    min-height: 0;
  }
  body #navigation .search_top_button button{
    top: 63px !important;
  }
}
@media all and (min-width: 1100px) and (max-width: 1300px){
  .users_view_header #navigation .col-sm-2,
  .users_view_header #navigation .col-sm-1{
    width: 100%;
  }
  .users_view_header #navigation .search_btn button{
    right: 20px !important;
    top: -35px !important;
  }
  .users_view_header #navigation .add-br{
    position: absolute !important;
    right: 80px !important;
    top: -34px !important;
  }
  .users_view_header #navigation .import_btn a{
    right: 255px !important;
    top: 8px !important;
  }
  body .users_view_header #navigation .dropdown{
    right: 475px !important;
    top: 9px !important;
  }
}
@media all and (min-width: 900px) and (max-width: 1300px){
  .jobs-table .table-bordered td:last-child{
    width: 30px;
  }
}
@media all and (max-width: 900px){
  .table-bordered tbody tr td .not-avaible{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top:15px;
  }
  .job_page #navigation{
    height: 120px;
  }
  #navigation .brain-title{
    z-index: 999;
    top: 0;
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .job_page #navigation .brain-title{
    text-align:left;
    padding-left:15px;
  }
  .job_page #navigation{
    padding-top: 60px;
  }
  .view-jobs-br {
      position: relative  !important;
      left: -60px !important;
      top: 90px !important;
  }
  ._iiuiu {
      position: absolute;
      left: 158px;
  }
}
@media (max-width: 375px) {
    .view-jobs-br { 
        left: -112px !important;
    }
}

@media all and (max-width: 600px){
  .job_page #navigation{
      height: auto;
      min-height: 270px;
  }
  .brn-drp-li {
      position: relative;
      left: 50px;
  }
}
.delete-edit-btn {
    /*background: #7dcc93;*/
    /*border: 2px solid #7dcc93;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    /*top: 40px;*/
    /*right: 5px;*/
        padding-left: 10px;
}
.delete-edit-btn:before {
    content: "";
    display: inline-block;
    background-image: url("/resources/frontend/images/delete.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
.delete-edit-btn:hover:before {
    cursor: pointer ;
}

 .dataTables_length {
           /*bottom: 60px !important;*/   
    }
/*    #ajaxdynamic-table_info {
        position: absolute;
        right: 182px !important;
        bottom: 71px !important;
    }*/
    ._uuyutyt545{
        margin-top: 15px;
        position: fixed;
    }
    ._uuyiyt{
        top: 35px;position: relative;
    }
    ._uutdfy {
        top: 25px;right: -35px;
    }
    ._yyury{
        line-height: 26px;
        vertical-align: middle;
        /* height: 42px; */
        top: 25px;
        position: relative;
        float: right;
        right: -33px;
        height: 42px;
    }
    ._azzuity{
        padding: 0px;
        top: 25px;
        position: absolute;
        right: 13px;
        z-index: 9;
    }
    .iiutyyu {
        top: 25px;position: relative;float: right;
        right: -45px;
    }
    
/*        #ajaxdynamic-table_info {
        position: absolute;
        right: 162px !important;
        bottom: 83px !important;
    }*/
    .bottom #ajaxdynamic-table_length span.abc {
        right: 30px !important;
    }
    .bottom #ajaxdynamic-table_length:after {
        right: 36px;
        left:none;
    }
    #ajaxdynamic-table_length:after {left:none !important}
    .hdgftf{height:auto}
    .rw4we74{padding: 0 15px;}
    ._oduttt{padding-top:15px;}
    .ufgrurr{margin-bottom:0px !important}
    ._urytyy{width: 50px;border-radius: 50%}
    .jsdhsu{width: 50px;}
/*        #ajaxdynamic-table_length {
        right: 236px;
        position: absolute;
        bottom: 95px !important ;
        margin: 0px 15px 0px 15px;
    }
    #ajaxdynamic-table_info {
        position: absolute;
        right: 182px !important;
        bottom: 104px !important;
    }*/
    ._iiuiu {
        position: absolute;
        right: 4px;
    }   ._uurtr33445 { 
        display: block;
        margin: 0px;
        padding: 0px;
        text-align: left;
        float: left;
    }
    .nw_app  { font-family: semibold;
    font-size: 13px;
    color: #333333;
    line-height: 19px;}
    .dfdssd{top: 35px;position: relative;}
    .dter_eo{top: 25px;position: absolute;float: right;right: -13px;}
    .hdyets{height:auto}
    .sjdhft{top: 25px;position: relative;float: right;right: -45px;}
    .__ajsd{padding: 0px;top: 25px;position: absolute;right: 13px;z-index: 9;}
    .jdf_{position:absolute}
    ._odirt{padding: 0px !important;}
    select#career_level, select#type {
        width: 100%;
        height: 42px !important;
    }
    
    .brain-back-drop:after {
        right: 23px !important;
    }
/*    select {
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:  none; 
    }*/
    .white-bk {
        background-color: #FFF ;

    }
    .modal-header{
        /*padding-bottom: 0px;*/
    }
    .bs-example ul .active {
        border-bottom: 3px solid #3AC5D9 ;
    }
    .bs-example ul li {
        list-style: none;
        display: inline-block;
        width: 120px;
        text-align: center;
        padding: 15px;
    }
    .bs-example ul li a {
        font-family: semibold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
        line-height: 19px;
        text-align: center;
    }
    .active > a {
        font-size:14px;
        color:#3AC5D9 !important;
        line-height:19px;
    }
    ul#myTab {
        margin-bottom: 0px;
    }
    .modal-header h4.modal-title {
        font-weight: 300;
        font-family: semibold !important;
        font-size: 20px !important;
        color: #333333 !important;
        line-height: 19px !important;
        margin: 10px 0px -15px 10px;
    }
    .can-bt {
        width: 120px;
        border: 2px solid #7DCC93;
        background: #FFF ;
    }
    .can-bt > span {
        color: #7DCC93;
        font-size: 16px;
        line-height: 19px;
    }
    .can-bt:focus {
        background-color: #FFF;
    }
    .can-bt:hover {
        border: 2px solid #7DCC93;
        background-color: #FFF ;
    }

    .save-bt {
        width: 120px;
        border: 2px solid #7DCC93;
        background: #7DCC93 ;
    }
    .save-bt > span {
        color: #FFF;
        font-size: 16px;
        line-height: 19px;
    }
    .save-bt:focus {
        background-color: #7DCC93;
    }
    .save-bt:hover {
        border: 2px solid #7DCC93;
        background-color: #7DCC93 ;
    }


    .lcs_wrap {
        display: inline-block;	
        direction: ltr;
        height: 28px;
        vertical-align: middle;
    }
    .lcs_wrap input {
        display: none;	
    }

    .lcs_switch {
        display: inline-block;	
        position: relative;
        width: 73px;
        height: 28px;
        border-radius: 30px;
        background: #ddd;
        overflow: visible;
        cursor: pointer;

        -webkit-transition: all .2s ease-in-out;  
        -ms-transition: 	all .2s ease-in-out; 
        transition: 		all .2s ease-in-out; 
    }
    .lcs_cursor {
        display: inline-block;
        position: absolute;
        top: 3px;	
        width: 22px;
        height: 22px;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
        z-index: 10;

        -webkit-transition: all .2s linear;  
        -ms-transition: 	all .2s linear; 
        transition: 		all .2s linear; 
    }
    .lcs_label {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 18px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        width: 33px;
        top: 5px;
        overflow: hidden;
        text-align: center;
        opacity: 0;

        -webkit-transition: all .2s ease-in-out .1s;  
        -ms-transition: 	all .2s ease-in-out .1s;   
        transition: 		all .2s ease-in-out .1s;   
    }
    .lcs_label.lcs_label_on {
        left: -70px;
        z-index: 6;	
    }
    .lcs_label.lcs_label_off {
        right: -70px;
        z-index: 5;	
    }


    /* on */
    .lcs_switch.lcs_on {
        background: #7DCC93;
        box-shadow: 0 0 2px #579022 inset;
    }
    .lcs_switch.lcs_on .lcs_cursor {
        left: 48px;
    }
    .lcs_switch.lcs_on .lcs_label_on {
        left: 10px;	
        opacity: 1;
    }


    /* off */
    .lcs_switch.lcs_off {
        background: #b2b2b2;
        box-shadow: 0px 0px 2px #a4a4a4 inset; 	
    }
    .lcs_switch.lcs_off .lcs_cursor {
        left: 3px;
    }
    .lcs_switch.lcs_off .lcs_label_off {
        right: 10px;
        opacity: 1;	
    }


    /* disabled */
    .lcs_switch.lcs_disabled {
        opacity: 0.65;
        filter: alpha(opacity=65);	
        cursor: default;
    }
    .promoted { font-family: semibold !important;
                font-size: 14px !important;
                color: #333333;
                line-height: 19px;
                text-align: left;
                margin: 15px;
    }
    .no-pad {
        padding: 0px !important;
    }
    #cke_editor2 {
/*        height: 600px;*/
    }
    .cke_dialog { 
z-index: 1000000 !important; 
} 
.cke_panel { 
z-index: 1000002 !important; 
} 
    input {
        max-width: 530px;
    }
    select {
        max-width: 530px !important;
    }
    ._uufufg{margin: 0 auto; width: 1171px}
    div.on-off-switch {
        float: right !important;
    }
     /*datatable paginations*/
    .dataTables_length, .dataTables_filter {
        padding: 0px;
    }
    .adv-table .dataTables_length, .adv-table .dataTables_filter {
        padding : 0px;
    }
    .adv-table .dataTables_info, .dataTables_paginate{
        padding: 0px;
    } 
    .dataTables_info {
        padding: 0px;
    }
    .custom-can-bt {
        width: 170px;
        color: #7DCC93;
        font-family: semibold !important;
        font-size: 14px;
        line-height: 26px;
    }
    .cus-addbr{
        border: 2px solid #7DCC93;
    }
    .cus-addbr:hover{
        border: 2px solid #40a55d;
    }
    .custom-can-bt:hover {
        background: #7DCC93;
        width: 170px;
        color: #FFF;
    }
    .yeytw__{
        display: none;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
     .bottom-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 6px solid;
  border-left: 6px solid #7DCC93;
  border-right: 6px solid #7DCC93;
  color: #FFFFFF;
  content: "";
  visibility: visible;
  position: absolute;
  bottom: 21px;
  background: #FFF;
  left: 129px;
  top: 30px;
}
.left-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-right: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
}
.right-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-left: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
}
#navigation {
  margin-top: 60px;
  /*background: #DFE4EB;*/
  padding-left: 0px;
  padding-right: 0px;
  height: 93px;
  /*    padding-top: 38px;
        padding-bottom: 38px;*/
}
#navigation #right div .action {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #000000;
  font-family: semibold;
  font-size: 0.875em;
}
#navigation #right div .action span:after {
  content: url("/resources/admin/css/theme/icons/crt.png");
  background-color: #7DCC93;
  padding: 4px 9px 4px 9px;
  visibility: visible;
  display: block;
  position: absolute;
  top: 7px;
  right: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#navigation #right div .import {
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: transparent;
  font-family: semibold;
  font-size: 0.875em;
  color: #333333;
  line-height: 19px;
  text-align: center;
}
#navigation #right div .add {
  background: #7DCC93;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #FFF;
  font-size: 0.875em;
  font-family: semibold;
}
#navigation .brain-title {
  position: relative;
  font-family: semibold;
  /* padding-top: 129px; */
  padding-left: 30px;
  font-size: 20px;
  color: #333333;
  line-height: 19px;
  top: 30px;
}
#navigation .search-brain {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 42px;
  height: 42px;
  display: block;
}

#navigation .search-brain i {
  top: 12px;
  display: block;
  text-align: center;
}
#navigation .search-brain i:before {
  color: #FFFFFF;
  font-size: 18px;
}
.brain-wrap {
  display: inline-block;
  margin-top: 0px;
  padding: 0px 15px;
  width: 100%;
}
.btn-height {
  height: 42px;
}
/*###############
Table Layout 
*/
#campaign-ajax-table_filter {
  display: none ;
}
#campaign-ajax-table_paginate ul li:not(:first-child):not(:last-child) {
  display: none;
}
table#campaign-ajax-table {
  background: #FFF ;
  /*    box-shadow:0px 1px 20px 0px rgba(0,0,0,0.16);*/
  border: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
table#campaign-ajax-table + .footer {
  background: #FFF;
  /*box-shadow: 10px 9px 6px -5px rgba(0, 0, 0, 0.16), -11px 0 8px -4px rgba(0, 0, 0, 0.16);*/
}
.table-bordered tbody tr td {
  border-left: 0 none !important;
  border-right: 0 none !important;
  vertical-align: middle;
}
.table-bordered tbody tr td .not-avaible {
  display: block;
  width: 3px;
  height: 32px;
  background: #e06e94;
  float: left;
  position: relative;
  left: -15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.table-bordered tbody tr td .avaible {
  display: block;
  width: 3px;
  height: 32px;
  float: left;
  position: relative;
  left: -15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #7dcc93;
}
.table-bordered tbody tr:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fffde1;
}
.table-bordered tbody tr .link {
  font-family: semibold;
  font-size: 13px;
  color: #333333;
  line-height: 19px;
}
.wrpbw {
  display: inline-block;
  margin-top: 0px;
  padding: 15px;
  width: 100%;
}
.pnt {
  display: block;
  background: transparent;
  width: 24px;
  height: 24px;
  border: 1px solid #7DCC93;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ptn-icn {
  background-image: url("icons/pnt.png");
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-left: 9px;
  margin-top: 2px;
}
.drp-mn {
  right: 4px;
  padding: 4px;
  left: auto;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8) !important;
}
.pen {
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/pen.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
.msg {
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/msg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
.del {
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/del.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
/*.dataTables_paginate.paging_bootstrap.pagination {
    float: right;
    margin-top: -94px;
    margin-right: 44px;
     margin-bottom: 15px; 
}
#dataTables_info {
    position: absolute;
    right: 150px;
    bottom: 65px;
}*/
#campaign-ajax-table_filter {
  display: none ;
}
#campaign-ajax-table_paginate ul li:not(:first-child):not(:last-child) {
  display: none !important;
}
div #campaign-ajax-table_paginate {
/*  position: relative;
  right: 44px;
  top: -49px !important;*/
}
div #campaign-ajax-table_paginate ul li {
  margin: 0 0 0 0 ;
  background: #7DCC93;
  border: 1px solid #7DCC93 ;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dataTables_wrapper .pagination ul>li:last-child>a, .dataTables_wrapper .pagination ul>li:last-child>span {
    margin-left: 0px !important;
}
div #campaign-ajax-table_paginate ul li a {
    display: block;
    width: 40px;
    height: 32px;
    position: relative;
    visibility: hidden;
}
div #campaign-ajax-table_paginate ul li a:hover {
  background-color: #7DCC93 ;
  background: #7DCC93 ;
}
div #campaign-ajax-table_paginate ul li a:active {
  background: #7DCC93 ;
}
div #campaign-ajax-table_paginate ul li a:focus {
  background-color: #7DCC93 ;
  background: #7DCC93 ;
}
div #campaign-ajax-table_paginate ul li:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div #campaign-ajax-table_paginate ul li:first-child a:before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-right: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
  visibility: visible;
  content: "";
  top: 10px;
  left: 16px;
  position: absolute;
}
div #campaign-ajax-table_paginate ul li:first-child:after {
  visibility: visible;
  content: "";
  position: relative;
  top: 0px;
  right: -8px;
  color: #FFFFFF;
}
div #campaign-ajax-table_paginate ul li:last-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div #campaign-ajax-table_paginate ul li:last-child a:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-left: 5px solid ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #FFF ;
  visibility: visible;
  content: "";
  position: absolute;
  top:10px;
}
/*#campaign-ajax-table_info {
  position: absolute;
  right: 182px !important;
  bottom: 106px !important;
}*/
/*#campaign-ajax-table_length {
  right: 236px;
  position: absolute;
  bottom: 95px ;
  margin: 0px 15px 0px 15px;
}*/
#campaign-ajax-table_length span.abc {
  top: 19px;
  border-radius: 3px;
  right: 15px;
  float: left;
  background: #7DCC93;
  width: 25px;
  height: 25px;
  position: absolute;
}
#campaign-ajax-table_length select {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 8px;
  /*width: 165px !important;*/
  background: #FFFFFF;
  font-size: 15px;
  /*width: 165px;*/
/*  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}
#campaign-ajax-table_length select option {
  font-weight: bold !important;
}
/*#campaign-ajax-table_length:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 6px solid;
  border-left: 6px solid #7DCC93;
  border-right: 6px solid #7DCC93;
  color: #FFFFFF;
  top: 30px;
  content: "";
  visibility: visible;
  position: absolute;
  bottom: 21px;
  background: #FFF;
}*/
.brain-wrap {
  display: inline-block;
  margin-top: 0px;
  padding: 0px 15px;
  width: 100%;
}
.no-back {
  background: transparent ;
}
.application {
  background: #E06E94;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 15px;
  height: 18px;
  margin-left: 8px ;
  display: inline-block;
  color: #FFF ;
  text-align: center;
  font-family: semibold ;
}
.add-br {
  background: #7DCC93;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 0.875em;
  font-family: semibold !important;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  text-align: center;
  width: 170px;
  line-height: 26px;
}

.add-br:before {
  top: 3px;
  content: "";
  left: -35px;
  position: absolute;
  display: block;
  widows: 2px;
  width: 2px;
  height: 90%;
  background: #979797 !important;
  opacity: 0.4;
}
.brn-drp-li:after {
  content: url("/resources/admin/css/theme/icons/crt.png");
  padding: 6px 10px 6px 10px;
  visibility: visible;
  /*display: block;*/
  /*position: relative;*/
  top: 1px;
  right: -22px;
  width: 28px;
  /*height: 28px;*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.btn-width {
  height: 42px;
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 125px;
  line-height: 26px;
  font-family: semibold ;
}
.btn-width .open,
.btn-width:hover,
.btn-width:focus {
  background: #DFE4EB !important;
  color: #000 !important;
}
#circle-green {
  width: 12px;
  height: 12px;
  background: #7dcc93;
}
#circle-red {
  width: 12px;
  height: 12px;
  background: #E06E94;
}
.circle {
  border-radius: 50%;
}
.edit-icon {
  border-radius: 2px;
  width: 24px !important;
  height: 24px !important;
  background: #7dcc93;
}
.edit-icon:after {
  content: "";
  display: inline-block;
  background-image: url("/resources/admin/css/theme/icons/pix.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 12px;
  height: 12px;
  top: 1px;
  right: -6px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.open > .dropdown-menu {
  display: block;
  width: auto;
  /*height: 265px*/
}
.brain-dropdown {
  font-size: 15px;
  color: #4D4D4E;
  line-height: 20px;
}
.dropdown-menu li a .notification {
  display: inline-block;
  background-image: url("icons/notification.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
}
.dropdown-menu li a .boost {
  display: inline-block;
  background-image: url("icons/boost.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
}
.dropdown-menu li a .copy {
  display: inline-block;
  background-image: url("icons/copy.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 19px;
  height: 22px;
}
.dropdown-menu li a .activate {
  display: inline-block;
  background-image: url("icons/activate.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 17px;
}
.dropdown-menu li a .dis-activate {
  display: inline-block;
  background-image: url("icons/disactivate.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 17px;
}
.dataTables_wrapper .pagination ul {
  box-shadow: none;
  font-size: 7px !important;
  padding: 0;
}
.dataTables_wrapper .pagination ul li:first-child:after {
  content: "";
  top: 4px !important;
  right: 41px !important;
  color: #FFFFFF;
  display: block;
  width: 2px !important;
  height: 26px !important;
  /* float: right; */
  position: absolute !important;
  /* left: -15px; */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  /* -webkit-background-clip: padding-box; */
  /* background-clip: padding-box; */
  background: #ffffff;
  opacity: 0.4;
  width: 1px;
  height: 16px;
}
select {
  min-height: 32px;
}
/*#campaign-ajax-table_length select {
  height: 32px !important;
}*/
#campaign-ajax-table_length select .abc {
  top: 19px !important;
}

#search-cont {
  height: 135px;
  background: #FFF;
  padding: 25px;
}
.no-pad {
  padding: 0px;
}
.filter-clicked-2 {
  background: #FFF;
  display: block;
  position: absolute;
  width: 84px;
  height: 93px;
  top: -25px;
  right: -20px;
  z-index: -1;
}
.filter-clicked-3 {
  background: #FFF;
  display: block;
  position: absolute;
  width: 84px;
  height: 93px;
  top: -22px;
  right: -22px;
  z-index: 0;
}
.filter-clicked-6 {
  background: #FFF;
  display: block;
  position: absolute;
  width: 84px;
  height: 93px;
  top: -22px;
  right: -22px;
  z-index: -1;
}
.mytable tbody tr td {
  padding: 2px !important ;
  vertical-align: middle;
  min-height: 50px !important;
  height: 50px !important;
}
#my-table-fix tbody tr {
  border: 0px !important;
}
#my-table-fix tbody tr td {
  border: 0px !important;
}
.add-brr {
  border: 1px solid #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: transparent;
  font-family: semibold;
  font-size: 0.875em;
  color: #333333;
  line-height: 19px;
  text-align: center;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  width: 187px;
  height: 40px;
}

@media (max-width: 1024px) {
  .import,
  .add,
  .action {
    font-size: 0.875em;
  }
}
@media (max-width: 867px) {
  .import,
  .add,
  .action {
    font-size: 0.875em;
  }
  #contain {
    width: 130% !important;
    float: right;
    position: absolute;
    top: -23px;
    left: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .import,
  .add,
  .action {
    font-size: 0.775em;
  }
  #contain {
    width: 232% !important;
    float: left;
    position: absolute;
    top: -23px;
    left: -256px;
  }
}
@media (max-width: 500px) {
  #contain {
    width: 130% !important ;
  }
}
@media (min-width: 1280px) {
  #contain {
    width: 118% !important;
    float: left;
    position: absolute;
    left: -125px;
  }
}
@media (max-width: 320px) {
  #act {
    width: 36% !important;
    position: absolute;
    top: 52px;
  }
  #sear {
    width: 36% !important;
    position: absolute;
    left: 243px;
    top: 52px;
  }
  #add {
    width: 36% !important;
  }
  #imp {
    width: 36% !important;
  }
  #navigation {
    padding-bottom: 80px;
    margin-top: 0px;
  }
  #right div .action span:after {
    padding: 2px 6px 2px 6px !important;
    top: 9px !important;
    right: 19px !important;
  }
}
@media (max-width: 480px) {
  #contain {
    width: 143% !important;
  }
  #right div .action span:after {
    padding: 2px 6px 2px 6px !important;
    top: 9px !important;
    right: 19px !important;
  }
}
@media (max-width: 600px) {
  #right div .action span:after {
    padding: 2px 6px 2px 6px !important;
    top: 9px !important;
    right: 19px !important;
  }
}
@media (max-width: 1440px) {
  #navigation .dropdown {
    position: absolute;
    right: 6px !important;
  }
  #navigation .add-br {
    line-height: 26px;
    vertical-align: middle;
    /* height: 42px; */
    top: 25px;
    position: relative;
    float: right;
    right: -47px;
    height: 42px;
  }
  #navigation .add-br:before {
    left: -18px;
  }
}
@media all and (max-width:1300px){
    body .add_new_job,
    body .change_status,
    body .search_top_button{
        width:100% !important;
    }
    body #navigation .dropdown {
        right: 300px !important;
        top: 12px !important;
        z-index: 999;
    }
    body #navigation .add_new_job .add-br {
        right: 80px !important;
        top: 12px !important;
        z-index: 999;
    }
    body #navigation .search_top_button button{
        top: -30px !important;
        z-index: 999;
    }
}
@media (max-width: 1280px) {
  #navigation .dropdown {
    /*position: absolute;*/
    right: 38px !important;
  }
}
@media (max-width: 1475px) {
  #navigation .dropdown {
    right: 15px !important;
  }
}
.fixing {
    margin: 80px auto ;
}
@media all and (max-width: 970px){
  #navigation{
    margin-top: 0;
  }
}
@media all and (max-width: 780px){
  body #navigation .search_top_button button{
        top: 10px !important
    }
  body .job_page #navigation .search_top_button button{
    top: -30px !important; 
  }
  body .job_page #navigation .dropdown{
    right: 230px !important;
  }
}
@media all and (max-width: 760px){
  body .job_page #navigation .dropdown{
    right: 300px !important;
  } 
  body .job_page #navigation .search_top_button button {
    top: 10px !important;
  }
}
@media all and (max-width: 840px){
  body #navigation .add_new_job .add-br{
    width: 105px;
  }
  body #navigation .btn-width{
    width: 145px;
  }
  body #navigation .brn-drp-li:after{
    right: 2px;
  }
  body #navigation .dropdown{
    right: 230px;
  }
}
@media all and (max-width:600px){
  body .job_page #navigation .search_top_button button{
      top: 182px !important;
      right: 0px;
  }
}
@media all and (max-width: 480px){
  #header-that-i-want-to-hide + aside{
    min-height: 0;
  }
  body #navigation .search_top_button button{
    top: 63px !important;
  }
}
@media all and (min-width: 1100px) and (max-width: 1300px){
  .users_view_header #navigation .col-sm-2,
  .users_view_header #navigation .col-sm-1{
    width: 100%;
  }
  .users_view_header #navigation .search_btn button{
    right: 20px !important;
    top: -35px !important;
  }
  .users_view_header #navigation .add-br{
    position: absolute !important;
    right: 80px !important;
    top: -34px !important;
  }
  .users_view_header #navigation .import_btn a{
    right: 255px !important;
    top: 8px !important;
  }
  body .users_view_header #navigation .dropdown{
    right: 475px !important;
    top: 9px !important;
  }
}
@media all and (min-width: 900px) and (max-width: 1300px){
  .jobs-table .table-bordered td:last-child{
    width: 30px;
  }
}
@media all and (max-width: 900px){
  .table-bordered tbody tr td .not-avaible{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top:15px;
  }
  .job_page #navigation{
    height: 120px;
  }
  #navigation .brain-title{
    z-index: 999;
    top: 0;
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .job_page #navigation .brain-title{
    text-align:left;
    padding-left:15px;
  }
  .job_page #navigation{
    padding-top: 60px;
  }
  .view-jobs-br {
      position: relative  !important;
      left: -60px !important;
      top: 90px !important;
  }
  ._iiuiu {
      position: absolute;
      left: 158px;
  }
}
@media (max-width: 375px) {
    .view-jobs-br { 
        left: -112px !important;
    }
}

@media all and (max-width: 600px){
  .job_page #navigation{
      height: auto;
      min-height: 270px;
  }
  .brn-drp-li {
      position: relative;
      left: 50px;
  }
}
.delete-edit-btn {
    /*background: #7dcc93;*/
    /*border: 2px solid #7dcc93;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    /*top: 40px;*/
    /*right: 5px;*/
        padding-left: 10px;
}
.delete-edit-btn:before {
    content: "";
    display: inline-block;
    background-image: url("/resources/frontend/images/delete.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
.delete-edit-btn:hover:before {
    cursor: pointer ;
}

 .dataTables_length {
           /*bottom: 60px !important;*/   
    }
/*    #campaign-ajax-table_info {
        position: absolute;
        right: 182px !important;
        bottom: 71px !important;
    }*/
    ._uuyutyt545{
        margin-top: 15px;
        position: fixed;
    }
    ._uuyiyt{
        top: 35px;position: relative;
    }
    ._uutdfy {
        top: 25px;right: -35px;
    }
    ._yyury{
        line-height: 26px;
        vertical-align: middle;
        /* height: 42px; */
        top: 25px;
        position: relative;
        float: right;
        right: -33px;
        height: 42px;
    }
    ._azzuity{
        padding: 0px;
        top: 25px;
        position: absolute;
        right: 13px;
        z-index: 9;
    }
    .iiutyyu {
        top: 25px;position: relative;float: right;
        right: -45px;
    }
    
/*        #campaign-ajax-table_info {
        position: absolute;
        right: 162px !important;
        bottom: 83px !important;
    }*/
    .bottom #campaign-ajax-table_length span.abc {
        right: 30px !important;
    }
    .bottom #campaign-ajax-table_length:after {
        right: 36px;
        left:none;
    }
    #campaign-ajax-table_length:after {left:none !important}
    .hdgftf{height:auto}
    .rw4we74{padding: 0 15px;}
    ._oduttt{padding-top:15px;}
    .ufgrurr{margin-bottom:0px !important}
    ._urytyy{width: 50px;border-radius: 50%}
    .jsdhsu{width: 50px;}
/*        #campaign-ajax-table_length {
        right: 236px;
        position: absolute;
        bottom: 95px !important ;
        margin: 0px 15px 0px 15px;
    }
    #campaign-ajax-table_info {
        position: absolute;
        right: 182px !important;
        bottom: 104px !important;
    }*/
    ._iiuiu {
        position: absolute;
        right: 4px;
    }   ._uurtr33445 { 
        display: block;
        margin: 0px;
        padding: 0px;
        text-align: left;
        float: left;
    }
    .nw_app  { font-family: semibold;
    font-size: 13px;
    color: #333333;
    line-height: 19px;}
    .dfdssd{top: 35px;position: relative;}
    .dter_eo{top: 25px;position: absolute;float: right;right: -13px;}
    .hdyets{height:auto}
    .sjdhft{top: 25px;position: relative;float: right;right: -45px;}
    .__ajsd{padding: 0px;top: 25px;position: absolute;right: 13px;z-index: 9;}
    .jdf_{position:absolute;top:28px}
    ._odirt{padding: 0px !important;}
    select#career_level, select#type {
        width: 100%;
        height: 42px !important;
    }
    
    .brain-back-drop:after {
        right: 23px !important;
    }
/*    select {
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:  none; 
    }*/
    .white-bk {
        background-color: #FFF ;

    }
    .modal-header{
        /*padding-bottom: 0px;*/
    }
    .bs-example ul .active {
        border-bottom: 3px solid #3AC5D9 ;
    }
    .bs-example ul li {
        list-style: none;
        display: inline-block;
        width: 120px;
        text-align: center;
        padding: 15px;
    }
    .bs-example ul li a {
        font-family: semibold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
        line-height: 19px;
        text-align: center;
    }
    .active > a {
        font-size:14px;
        color:#3AC5D9 !important;
        line-height:19px;
    }
    ul#myTab {
        margin-bottom: 0px;
    }
    .modal-header h4.modal-title {
        font-weight: 300;
        font-family: semibold !important;
        font-size: 20px !important;
        color: #333333 !important;
        line-height: 19px !important;
        margin: 10px 0px -15px 10px;
    }
    .can-bt {
        width: 120px;
        border: 2px solid #7DCC93;
        background: #FFF ;
    }
    .can-bt > span {
        color: #7DCC93;
        font-size: 16px;
        line-height: 19px;
    }
    .can-bt:focus {
        background-color: #FFF;
    }
    .can-bt:hover {
        border: 2px solid #7DCC93;
        background-color: #FFF ;
    }

    .save-bt {
        width: 120px;
        border: 2px solid #7DCC93;
        background: #7DCC93 ;
    }
    .save-bt > span {
        color: #FFF;
        font-size: 16px;
        line-height: 19px;
    }
    .save-bt:focus {
        background-color: #7DCC93;
    }
    .save-bt:hover {
        border: 2px solid #7DCC93;
        background-color: #7DCC93 ;
    }


    .lcs_wrap {
        display: inline-block;	
        direction: ltr;
        height: 28px;
        vertical-align: middle;
    }
    .lcs_wrap input {
        display: none;	
    }

    .lcs_switch {
        display: inline-block;	
        position: relative;
        width: 73px;
        height: 28px;
        border-radius: 30px;
        background: #ddd;
        overflow: visible;
        cursor: pointer;

        -webkit-transition: all .2s ease-in-out;  
        -ms-transition: 	all .2s ease-in-out; 
        transition: 		all .2s ease-in-out; 
    }
    .lcs_cursor {
        display: inline-block;
        position: absolute;
        top: 3px;	
        width: 22px;
        height: 22px;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
        z-index: 10;

        -webkit-transition: all .2s linear;  
        -ms-transition: 	all .2s linear; 
        transition: 		all .2s linear; 
    }
    .lcs_label {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 18px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        width: 33px;
        top: 5px;
        overflow: hidden;
        text-align: center;
        opacity: 0;

        -webkit-transition: all .2s ease-in-out .1s;  
        -ms-transition: 	all .2s ease-in-out .1s;   
        transition: 		all .2s ease-in-out .1s;   
    }
    .lcs_label.lcs_label_on {
        left: -70px;
        z-index: 6;	
    }
    .lcs_label.lcs_label_off {
        right: -70px;
        z-index: 5;	
    }


    /* on */
    .lcs_switch.lcs_on {
        background: #7DCC93;
        box-shadow: 0 0 2px #579022 inset;
    }
    .lcs_switch.lcs_on .lcs_cursor {
        left: 48px;
    }
    .lcs_switch.lcs_on .lcs_label_on {
        left: 10px;	
        opacity: 1;
    }


    /* off */
    .lcs_switch.lcs_off {
        background: #b2b2b2;
        box-shadow: 0px 0px 2px #a4a4a4 inset; 	
    }
    .lcs_switch.lcs_off .lcs_cursor {
        left: 3px;
    }
    .lcs_switch.lcs_off .lcs_label_off {
        right: 10px;
        opacity: 1;	
    }


    /* disabled */
    .lcs_switch.lcs_disabled {
        opacity: 0.65;
        filter: alpha(opacity=65);	
        cursor: default;
    }
    .promoted { font-family: semibold !important;
                font-size: 14px !important;
                color: #333333;
                line-height: 19px;
                text-align: left;
                margin: 15px;
    }
    .no-pad {
        padding: 0px !important;
    }
    #cke_editor2 {
/*        height: 600px;*/
    }
    .cke_dialog { 
z-index: 1000000 !important; 
} 
.cke_panel { 
z-index: 1000002 !important; 
} 
    input {
        max-width: 530px;
    }
    select {
        max-width: 530px !important;
    }
    ._uufufg{margin: 0 auto; width: 1171px}
    div.on-off-switch {
        float: right !important;
    }
     /*datatable paginations*/
    .dataTables_length, .dataTables_filter {
        padding: 0px;
    }
    .adv-table .dataTables_length, .adv-table .dataTables_filter {
        padding : 0px;
    }
    .adv-table .dataTables_info, .dataTables_paginate{
        padding: 0px;
    } 
    .dataTables_info {
        padding: 0px;
    }
    .custom-can-bt {
        width: 170px;
        color: #7DCC93;
        font-family: semibold !important;
        font-size: 14px;
        line-height: 26px;
    }
    .cus-addbr{
        border: 2px solid #7DCC93;
    }
    .cus-addbr:hover{
        border: 2px solid #40a55d;
    }
    .custom-can-bt:hover {
        background: #7DCC93;
        width: 170px;
        color: #FFF;
    }
    .yeytw__{
        display: none;
    }