    .br-title {
        font-family:semibold !important;
        font-size:20px  !important;
        color:#333333 !important;
        line-height:19px !important;
    } 
    .modal-header {
        padding: 15px;
        border-bottom: none ;
        min-height: 16.428571429px;
    }
    input,select {
     max-width: 100% !important; 
}
.dllfk{
    width:1170px;
}
.dkkfjgi{background: #FFF;}
.dllfkg{
    text-align: left
}
    .dropzone {
        min-height: 392px}
    .bzs {
        background: #7DCC93;
        border-radius: 2px;
        width: 200px;
        height: 32px;
        color: #FFF ;
        font-family: semibold; 
    }
    .bzs:focus,.bzs:hover {
        background: #7DCC93;
        color: #FFF ;
    }
    .dropzone .dz-default span div a.btn,
    .dropzone .dz-default span div a.btn:hover,
    .dropzone .dz-default span div a.btn:visited,
    .dropzone .dz-default span div a.btn:focus
    {
        margin: 10px ;
        background-color: transparent !important;
        border: 2px solid #7DCC93;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        color:#7DCC93;
    }
    .dhhfyf{
        text-align: center
    }
    .djjfhg{
        padding-right: 15px
    }
    
        .control-label {
        text-align: left !important;
        font-family: semibold !important;
        font-size: 14px !important;
        color: #000 ;
        margin: 0px 0px 5px 0px !important;
    }
    input[type="text"],input[type="select"],select {
        border:1px solid #CCCCCC;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        width:530px !important;
        height:42px !important;
    }
    .btn-cancel {
        border:2px solid #7DCC93;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        width:120px;
        background-color: #FFF;
        color : #7DCC93 ;
        
    }
    .btn-cancel:focus ,.btn-cancel:hover {
        background-color: #FFF;
        color: #7DCC93 ;
    }
    .btn-submit:focus ,.btn-submit:hover {
        background-color: #7DCC93;
        color: #FFF ;
    }
    .btn-submit {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        background:#7DCC93;
        width:120px;
        color : #FFF ;
        
    }
    .center-block{
        width: 800px !important;
        width:100%;
    }
    div.select2-container {
        padding: 0px;
    }
    .select2-container-multi .select2-choices {
        background-image : none;
        border: 1px solid #CCCCCC;
       
        height: auto !important;
    }
    .select2-container-multi .select2-choices .select2-search-choice {
        padding: 9px 24px 9px 18px;
        border: 1px solid #1cb0e6;
         -webkit-border-radius: 3px !important;
        -moz-border-radius: 3px !important;
    }