.brain-wrap {
  display: inline-block;
  margin-top: 0px;
  padding: 0px 15px;
  width: 100%;
}
    .select2-container {
        padding: 0px;
    }
    .control-label {
        text-align: left !important;
        font-family: semibold !important ;
        margin: 0px 0px 12px 0px !important;
        font-size:14px;
        color:#333333;
        line-height:19px;
    }

    .brn-drp-li:after {
    margin-left: 0px!important;
}
    
    .select2-container-multi .select2-choices {
        background-image: none;
        width: 530px ;
        border: 1px solid #e5e9ec;
    }
    input[type="text"]{
        width: 530px;
    }
    #bounty_requirements ,#type,#career{
        width: 100%;
        margin-right: 10px;
    }
    #bounty {
        width: 90%
    }
    select#career,select#type{
        width: 100% ;
        height: 42px !important;
    }
    .no-pad {
        padding-left: 0px; 
        padding-right: 0px; 
        margin-right: 0px !important; 
        margin-left: 0px !important; 
    }
    .no-pad-2 {
        padding-left: 0px; 
        /*padding-right: 0px;*/
        margin-right: 0px !important; 
        /*margin-left: 0px !important;*/ 
    }
    .select2-search-choice {
        background:#3AC5D9;
        padding: 6px 28px 3px 5px;
        margin: 5px 0 3px 5px;
        width:auto;
        height:28px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
    .select2-container-multi .select2-choices .select2-search-choice {
        padding: 6px 28px 3px 5px;
        margin: 5px 0 3px 5px;
    }
    select#job_ad_lifetime {
        width: 530px !important;
        height: 42px !important;
    }
    .cke_bottom{
        display: none ;
    }
    #cke_editor1 {
        width: 530px;
    }
    .cke_top {
        background: #F0F0F0 !important;
    }
    .brain-back-drop::after {
        background-clip: padding-box;
        background-color: #7dcc93;
        border-radius: 3px;
        content: url("/resources/admin/css/theme/icons/crt.png");
        display: block;
        height: 28px;
        padding: 4px 16px 3px 9px;
        position: relative;
        top: -35px;
        visibility: visible;
        width: 28px;
        float: right;
        right: 37px;
    }
    .brain-back-drop-multiple::after {
        background-clip: padding-box;
        background-color: #7dcc93;
        border-radius: 3px;
        content: url("/resources/admin/css/theme/icons/crt.png");
        display: block;
        height: 28px;
        padding: 4px 16px 3px 9px;
        position: relative;
        top: -35px;
        visibility: visible;
        width: 28px;
        float: right;
        right: 5px;
    }
    .kfjggg{
        padding-left: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-right: 0px !important;}
    .dofgf{padding-right: 20px}
    .djjdhf{margin-left: -15px !important}
    .bs-example {
        text-align: center;
    }
    .view-jobs {
        padding: 8px;
        width: 250px;
        display: block;
        border: 1px solid #B5B5B5;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        line-height: 26px;
        position: relative;
        left: 50px;
    }

    .view-jobs-icon:after{
        content: "";
        background-image: url(/resources/admin/css/theme/icons/list.svg);
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 25px;
        height: 25px;
        float: left;
    }
    .view-jobs-br {
        font-family: semibold !important;
        font-size: 14px;
        text-align: center;
    }

    .bottom {
        position: relative;
        height: 50px;
        width: 100%;
    }
    .dataTables_info{
        position: absolute;
        right: 104px;
        top: 25px;
        bottom: 0px;
    }
    .dataTables_length{
        position: absolute;
        right: 180px;
        bottom: -5px;
    }
    .dataTables_paginate {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
    .dataTables_paginate.paging_bootstrap.pagination {
        float: none !important;
        margin-top:0px;
        margin-bottom: 0px;
    }
    div.dataTables_length > label > select {
        height: 32px !important;
    }
    .cus-required {
        color: red;
    }
    @media (max-width: 1500px) {
        .edit-job .control-label {
            margin-bottom: 12px !important;
        }   
        .edit-job .form-group {
            margin-bottom: 15px !important;
        }
        .edit-job .modal-body {
             padding-top: 20px; 
            padding-bottom: 20px;
        }
        .edit-job .modal-header {
            padding-top: 15px;
        }
        .edit-job .tab-content>.active, .edit-job .pill-content>.active {
          padding: 19px;
        }
    }
    
    .form-control-bsp-c {
        height: 42px !important;
        border: 1px solid #CCCCCC;
        max-width: 530px !important;
    }
    div#s2id_skills > ul.select2-choices {
        /*height: 42px !important;*/
        border: 1px solid #CCCCCC;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    div#s2id_cities > ul.select2-choices {
        /*height: 42px !important;*/
        border: 1px solid #CCCCCC;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

      div#s2id_departments > ul.select2-choices {
        /*height: 42px !important;*/
        border: 1px solid #CCCCCC;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .custom-form-control-bounty {
        max-width: 530px !important;
        /*height: 42px !important;*/
        border: 1px solid #CCCCCC;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    input#job_upload_input {
         border: 0px;
    }
     ul.select2-choices > li.select2-search-field {
        height: 40px !important;
    }
    
    @media (max-width: 1500px) {
        .edit-job hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .edit-job .modal-footer {
            padding: 19px 20px 20px;
        }
    }
    
    @media (max-width: 1366px) {
        .view-jobs-br {
                margin-right: 40px;
        }
    }
    .edit-job hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .requi-empty {
            border : 1px solid rgba(255, 0, 0, 0.42) !important;
        }
    
