<!--main content start-->
<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">
    <section class="wrapper job_details difudjj">
        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 pull-left n-pf-lft">
                    <div class="btn-group">
                        <a href="/view-jobs" class="btn btn-primary btn-brain">
                            <i class="fa back-page" ></i><?php echo $this->translate->_('back_to_job_list'); ?> 
                        </a>
                    </div>
                </div>
                <div class=" col-sm-5 ">
                    <h3 class="b-title pull-left m-tp-md">
                        <?php echo $this->job['title'] ?>
                    </h3>
                </div>
                <div class=" col-sm-2 col-sm-offset-2">
                    <div class="diidufyyd">
                        <button  class="btn bwn doodifi">
                            <span class="search-brain"> 
                                <i class="glyphicon glyphicon-search branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"></i></span>
                        </button>
                        <span id="filter-clicked-3" class=""></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 no-pad">
                <div id="search-cont"  class="siiduryyd">
                    <label><?php echo $this->translate->_('search'); ?></label>
                    <input type="text" id="searchbox" class="form-control">
                </div>

            </div>
            <div class="col-sm-12">
                <section class="diidufgpfo">
                    <div class="">
                        <div class="adv-table">
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="alert alert-block alert-danger fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                            <?php endif; ?>
                            <div class="row">                                    
                            </div>
                            <div class="space15"></div>
                            <table class="table table-bordered  mytable" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate->_('match'); ?></th>
                                        <th><?php echo $this->translate->_('name'); ?></th>   
                                        <th><?php echo $this->translate->_("Review"); ?></th>  
                                        <th><?php echo $this->translate->_('date'); ?></th>                                                                                
                                        <th><?php echo $this->translate->_('recommended_by'); ?></th>                                                                                
                                        <th><?php echo $this->translate->_('proccess'); ?></th>
                                        <!--<th>Type</th>-->
                                        <th><?php echo $this->translate->_("change_status"); ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ((array) $this->items as $item): ?>
                                        <tr id="user-<?php echo $item['id_user'] ?>">
                                            <?php if (Zend_Auth::getInstance()->getIdentity()->type == 3): ?>
                                                <td><?php echo $item['id']; ?></td>                                        
                                            <?php else: ?>
                                                <td class=" td-style"><?php echo ( is_numeric($item['relevance']) && strpos($item['relevance'], '.') === false ) ? $item['relevance'] : sprintf("%0.2f", $item['relevance']) ?> %</td>        
                                            <?php endif; ?>
                                            <td>
                                                <table id="my-table-fix">
                                                    <tbody >
                                                        <tr>
                                                            <td>
                                                                <?php if ($item['image'] != ""): ?>
                                                                    <?php if (stripos($item['image'], "media") !== false): ?>
                                                                <img src="<?php echo $item['image']; ?>"  class="doodifiig"/>
                                                                    <?php else: ?>
                                                                <img src="/resources/files/user/<?php echo $item['image']; ?>" class="doodifiig"/>
                                                                    <?php endif; ?>
                                                                <?php else: ?>
                                                                <img src="/resources/frontend/images/no-picture.jpg" class="doodifiig"/>
                                                                <?php endif; ?>
                                                            </td>
                                                            <td><a class="link" href="/candidate?id=<?php echo $item['id_user']; ?>&id_application=<?php echo $item['id']; ?>&permission=1" data-target="#preview-model" data-toggle="modal"><?php echo $item['firstname']; ?> <?php echo $item['lastname']; ?></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <?php if($item['hasReview']) : ?>
                                                <?php if($item['hasRejected']) : ?>
                                                "<a href="javascript:;"><?= $this->translate('not_rated')?></a>"</td>
                                                <?php else : ?>
                                                    <a data-target="#myModal" data-toggle="modal" href="/ajax/index/rate?user=<?php echo $item['id_user']; ?>&jid=<?php echo $item['id_job']; ?>"><?php echo $this->translate->_("review"); ?></a></td>
                                                <?php endif ;?>
                                                <?php else : ?>
                               <?php if($item['hasRejected']) : ?>
                                                "<a href="javascript:;"><?= $this->translate('not_rated')?></a>"</td>
                                                <?php else : ?>
                                                    <a href="javascript:;">-</a>
                                                <?php endif ;?>
                                                 
                                                <?php endif;?>
                                                
                                            <td class=" td-style"><?php echo date("d-m-Y", strtotime($item['date'])); ?></td>
                                            <td class=" td-style"><a class="link" href="/candidate?id=<?php echo $item['id_recommender']; ?>&id_application=<?php echo $item['id']; ?>" data-target="#preview-model" data-toggle="modal"><?php echo $item['recommender']; ?></a></td>
                                            <td id="status-<?php echo $item['id_user'] ?>" class="td-style">
                                                <?php
                                                echo $status = ($item['status'] == 0) ? "New" : $this->translate->_($this->status[$item['status']]);
                                                ?>
                                            </td>
                                            <td class=" td-style"><?php echo ($item['user_status'] != 2) ? 'Active' : 'Inactive'; ?></td>
                                            <!--<td class=" td-style">Candidate</td>
                                            <td class=" td-style">   
                                            <?php echo $this->settings['application_status'][$item['status']]; ?>
                                                </td>-->
                                        </tr>                                
                                    <?php endforeach; ?>
                                    <?php foreach ((array) $this->database as $item): ?>
                                        <tr class="">
                                            <td><?php echo $item['relevance']; ?> %</td>
                                            <td>
                                                <table id="my-table-fix">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <?php if ($item['image'] != ""): ?>
                                                                    <?php if (stripos($item['image'], "media") !== false): ?>
                                                                <img src="<?php echo $item['image']; ?>"  class="doodifiig"/>
                                                                    <?php else: ?>
                                                                <img src="/resources/files/user/<?php echo $item['image']; ?>" class="doodifiig"/>
                                                                    <?php endif; ?>
                                                                <?php else: ?>
                                                                <img src="/resources/frontend/images/no-picture.jpg" class="doodifiig" />
                                                                <?php endif; ?>
                                                            </td>
                                                            <td>
                                                                <a class="link" data-href="#preview-model" data-toggle="modal" href="/candidate?id=<?php echo $item['id_user']; ?>&id_application=<?php echo $item['id']; ?>"><?php echo $item['firstname']; ?> <?php echo $item['lastname']; ?></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><?php echo ($item['user_status'] != 2) ? 'Active' : 'Inactive'; ?></td>
                                            <!--<td>Employee</td>-->
                                            <td width="">                                                                                            
                                                -
                                            </td>
                                        </tr>                                
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>

</section>

<script type="text/javascript">
    var language = ['ro', 'en', 'fr', 'hu'];
    var lang = "<?php echo $this->lang; ?>";
    var index = language.indexOf(lang);
    if (index >= 0) {
        language.splice(index, 1);
    }
    window.onload = function () {
        $('span#' + lang).show();
        $('select.' + lang).show();

    };

</script>