<!--main content start-->
<?php // echo '<pre>';print_r($this->items);die ?>
<?php echo $this->dg_js ; ?>
<section id="main-content">
    <section class="wrapper iifuudh">
        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('jobs'); ?>
                    </h3>
                </div>
                <div class="col-sm-2"><span  class="count dfdssd" id="edit-count-checked-checkboxes-jobs"></span></div>
                <div class="col-sm-2">
                    <div class="">
                        <a class="view-jobs-br btn view-jobs branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
 branding-border-color-buttons" target="_blank" href="/home" style="
    flex-wrap: wrap;
    max-width: 250px;
    overflow-wrap: normal;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
"><?php echo trim($this->translate->_("view_jobs_as_a_candidate")) ?></a></div>
                </div>
                <div class="col-sm-2 change_status top_button">
                    <div class="dropdown ">
                        <button class="btn btn-primary dropdown-toggle branding-border-color-buttons
 btn-width branding-border-color-buttons
"  type="button" data-toggle="dropdown">
                            <span class="_uurtr33445 "><?php echo $this->translate->_("edit"); ?></span>
                            <span class="brn-drp-li branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"></span>
                        </button>
                        <ul class="dropdown-menu hdyets">
                            <!--<li><a onclick="promote_jobs()" href="#"><i class="boost"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Promote job</span></a></li>-->
                            <!--<li><a onclick="edit_job();" href="#"><i class="pen"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown">Edit job</span></a></li>-->
                            <li><a onclick="delete_admin_job()" class="delete_job"><i class="del"></i>&nbsp;&nbsp;&nbsp;<span>Delete</span></a></li>
                            <li><a onclick="activate();" href="#"><i class="activate"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown"><?php echo $this->translate->_("activate"); ?></span></a></li>
                            <li><a onclick="inactivate();" href="#"><i class="dis-activate"></i>&nbsp;&nbsp;&nbsp;<span class="brain-dropdown"><?php echo $this->translate->_("deactivate"); ?></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 add_new_job top_button">
                    <a  href="/job" class="btn add-br  branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"  style="
    flex-wrap: wrap;
    max-width: 250px;
    overflow-wrap: normal;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
"><?php echo trim($this->translate->_("add_new_job")); ?></a>
                </div>
                <div class="col-sm-1 search_top_button">
                    <button>
                        <span class="search-brain" style="height: 0px;padding:0px">
                            <i style="top:0px" class="glyphicon glyphicon-search branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"></i></span>
                        <span id="filter-clicked-2" class=""></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12 no-pad">
                    <div id="search-cont" class="yeytw__">
                        <label>Search</label>
                        <input type="text" id="searchbox" class="form-control">
                    </div>

                </div>



                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <table class="table table-bordered" id="dynamic-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th style="width: 20%"><?php echo $this->translate->_("job"); ?></th>
                                    <th><?php echo $this->translate->_("start"); ?></th>
                                    <th><?php echo $this->translate->_("end"); ?>&nbsp;</th>
                                    <th><?php echo $this->translate->_("views"); ?></th>
                                    <th><?php echo $this->translate->_("applications"); ?></th>
                                    <th><?php echo ucfirst($this->translate->_("referrals")); ?></th>
                                    <th style="width: 20%"><?php echo ucfirst($this->translate->_("bounty")); ?></th>
                                    <!--<th><?php // echo $this->translate->_("actions");      ?></th>-->
                                    <th><?php echo $this->translate->_("status"); ?></th>
                                    <th style="width: 120px !important;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach ((array) $this->items as $item): ?>
                                    <tr>
                                        <td class="desktop-view">
                                            <span class='<?php echo ($item['status'] == 1) ? 'avaible' : 'not-avaible'; ?>'></span>
                                            <div class="jdf_">
                                                <input value="<?php echo $item['id']; ?>" id="checkbox<?php echo $item['id']; ?>" class=" table-check" type="checkbox" ng-click="check(<?php echo $item['id']; ?>)" ng-change='updateIds()' ng-   ="ids['<?php echo $item['id']; ?>']">
                                                <label for="checkbox<?php echo $item['id']; ?>">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
<!--                                            <div class="mobile-view">-->
<!--                                                <span class='--><?php //echo ($item['status'] == 1) ? 'avaible' : 'not-avaible'; ?><!--'></span>-->
<!--                                                <div class="checkbox checkbox-primary jdf_">-->
<!--                                                    <input value="--><?php //echo $item['id']; ?><!--" id="checkbox--><?php //echo $item['id']; ?><!--" class="styled table-check" type="checkbox" ng-click="check(--><?php //echo $item['id']; ?><!--)" ng-change='updateIds()' ng-   ="ids['--><?php //echo $item['id']; ?><!--']">-->
<!--                                                    <label for="checkbox--><?php //echo $item['id']; ?><!--">-->
<!--                                                    </label>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <a class="link" href="/users/admin/mycvs/?id_job=<?php echo $item['id']; ?>"><?php echo $item['title']; ?></a>
                                        </td>
                                        <td class=" td-style"><?php echo ($item['start'] != "0000-00-00") ? date("Y/m/d", strtotime($item['start'])) : "-"; ?></td>
                                        <td class=" td-style"><?php echo ($item['end'] != "0000-00-00") ? date("Y/m/d", strtotime($item['end'])) : "-"; ?></td>
                                        <td class=" td-style"><?php echo $this->views[$item['id']]; ?></td>
                                        <td><span class=" td-style"><?php echo sprintf("%02d", $this->applications[$item['id']]) ?></span> / <span class="nw_app"><?= sprintf("%02d",$item['new_applicant']) ?></span></td>
                                        <td class=" td-style"><?php echo $item['recommendations']; ?></td>
                                        <td class=" td-style"><?php echo $item['bounty']; ?> <?php echo $this->settings['currencies'][$item['id_currency']]; ?></td>
                                        <td class=" td-style"><?php echo $this->settings['company_status'][$item['status']]; ?></td>
                                        <td class="_odirt" style="width: 12%;">
                                            <a class="btn-edit" href="/job?id=<?php echo $item['id'] ?>" id="edit_lnk_<?php echo $item['id']; ?>"><i class="far fa-edit"></i></a>
                                            <a href="/delete-job?id=<?php echo $item['id'] ?>" class="delete_item_job btn-del"><i class="fas fa-trash"></i></a>
                                            <a href="/duplicate-job?id=<?php echo $item['id'] ?>" class="duplicate_item btn-copy"><i class="fas fa-copy"></i></a>

<!--                                            <div class="dropdown">-->
<!--                                                    <span class="pnt dropdown-toggle" data-toggle="dropdown"> <i class="ptn-icn"></i>-->
<!--                                                    </span>-->
<!--                                                <ul class="dropdown-menu drp-mn">-->
<!--                                                    <li><a href="/job?id=--><?php //echo $item['id'] ?><!--" id="edit_lnk_--><?php //echo $item['id']; ?><!--"><i class="pen"></i>&nbsp;&nbsp;&nbsp;<span>Edit</span></a></li>-->
<!--                                                    --><?php //if (Zend_Auth::getInstance()->getIdentity()->type == 3 || Zend_Auth::getInstance()->getIdentity()->type == 2): ?>
<!--                                                        <li><a href="/delete-job?id=--><?php //echo $item['id'] ?><!--" class="delete_item_job"><i class="del"></i>&nbsp;&nbsp;&nbsp;<span>--><?php //echo $this->translate->_("delete"); ?><!--</span></a></li>-->
<!--                                                        <li><a href="/duplicate-job?id=--><?php //echo $item['id'] ?><!--" class="duplicate_item"><i class="copy"></i>&nbsp;&nbsp;&nbsp;<span>Duplicate</span></a></li>-->
<!--                                                    --><?php //endif; ?>
<!--                                                </ul>-->
<!--                                            </div>-->
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript">
    function edit_job()
    {
        if ($(".table-check:checked").length == 1)
        {
            var id = $(".table-check:checked").attr("id").split("checkbox");
            $("#edit_lnk_" + id[1] + "").click();

        } else
        {
            alert("Please select only one item to edit!");
        }
    }

    function disableExpiredJobs()
    {
        $.post("/ajax/index/disable-expired-jobs", function (data)
        {
            console.log(data)
        }, 'json');
    }


    function inactivate()
    {
        if ($(".table-check:checked").length > 0)
        {
            var ids = [];
            $(".table-check:checked").each(function ()
            {
                var id_attr = $(this).attr("id").split("checkbox");
                var id = id_attr[1];

                ids.push(id);
            });

            $.post("/ajax/index/inactivate-job", {"ids": ids}, function (data)
            {
                window.location.reload();
            }, 'json');
        } else
        {
            alert("Please select at least one item to edit!");
        }
    }

    function activate()
    {
        if ($(".table-check:checked").length > 0)
        {
            var ids = [];
            $(".table-check:checked").each(function ()
            {
                var id_attr = $(this).attr("id").split("checkbox");
                var id = id_attr[1];

                ids.push(id);
            });

            $.post("/ajax/index/activate-job", {"ids": ids}, function (data)
            {
                window.location.reload();
            }, 'json');
        } else
        {
            alert("Please select at least one item to edit!");
        }
    }
    function delete_admin_job()
    {
        if ($(".table-check:checked").length > 0)
        {
            var ids = [];
            $(".table-check:checked").each(function ()
            {
                var id_attr = $(this).attr("id").split("checkbox");
                var id = id_attr[1];

                ids.push(id);
            });
//        console.log(ids);
            if (confirm("Are you sure you want to delete this job ?")) {
                $.post("/ajax/index/delete-jobs", {"ids": ids}, function (data)
                {

                }, 'json');
            }
            location.reload();
        } else
        {
            alert("Please select at least one item to edit!");
        }
    }
    var language = ['ro', 'en', 'fr', 'hu'];
    var lang = "<?php echo $this->lang; ?>";
    var index = language.indexOf(lang);
    if (index >= 0) {
        language.splice(index, 1);
    }
    window.onload = function(){
     $('span#'+lang).show();
     $('select.'+lang).show();
        disableExpiredJobs()
    
};

    $('.search-brain').on('click', function() {
        $("#search-cont").slideToggle();
        $("#filter-clicked-2").toggleClass('filter-clicked-2');
        $("#filter-clicked-3").toggleClass('filter-clicked-3');
        $("#filter-clicked-4").toggleClass('filter-clicked-4');
        $("#filter-clicked-5").toggleClass('filter-clicked-5');
        $("#filter-clicked-6").toggleClass('filter-clicked-6');
        $("#filter-clicked-7").toggleClass('filter-clicked-7');
    });



</script>