<html>
<head>
    <style>
        td.header
        {
            background-color: #ddd;
            font-size: 16px;
            font-weight: bold;
        }
        body
        {
            color: #000000;
            font: 100%/1.3 Arial,Sans-serif;
            padding-bottom: 5%;
        }
        tr.odd
        {
            background-color: #ddd;
        }
        
        
        #items 
        {
            border: 1px solid #000000;
            width: 700px;
        }
        
        th
        {
            background-color: #ddd;
        }
    
       
</style>
</head>
<table width="900" cellspacing=0 cellpadding=0>
    <tr>
        <td colspan="2" class="header" width="100%" align="center"><h1><?php echo $this->user['firstname'];?> <?php echo $this->user['lastname'];?></h1></td>
    </tr>
    <tr>
        <td height="10" colspan="2"></td>
    </tr>
    <tr>
        <td width="450" valign="top">
            <h2>Contact info</h2>
            <p>
                <strong>Name</strong>: <?php echo $this->user['firstname'];?> <?php echo $this->user['lastname'];?><br />
                <strong>Heading</strong>: <?php echo $this->user['title'];?><br />
                <strong>Location</strong>: <?php echo $this->user['location'];?><br />
                <strong>Email</strong>: <?php echo $this->user['email'];?><br />
                <strong>Phone</strong>: <?php echo $this->user['phone'];?><br />
                <?php if ($this->user['linkedin_link'] != "") : ?>
                    <strong>Linkedin Profile </strong>: <?php echo $this->user['linkedin_link']; ?><br />
                <?php endif; ?>
                <?php if (strpos($this->user['image'], "http") !== false):?>
                <img src="<?php echo $this->user['image'];?>" />
                <?php else:?>
                <img src="/resources/files/user/<?php echo $this->user['image'];?>" />
                <?php endif;?>
            </p>
        </td>
        <td width="450" valign="top">
            <h2>Skills</h2>
            <?php foreach ((array)$this->skills as $item):?>
            <span><?php echo $item['title'];?>, </span> 
            <?php endforeach;?>
        </td>
    </tr> 
    <tr>
        <td height="10" colspan="2">&nbsp;</td>
    </tr>
    <tr>        
        <td width="450" valign="top">
            <h2>Education</h2>
            <?php foreach ((array)$this->education as $item):?>
            <p>
                <strong><?php echo date("M Y", strtotime($item['start']));?> - <?php echo ($item['is_current'] == 1) ? 'Present' : date("M Y", strtotime($item['end']));?></strong><br />
                <strong><?php echo $item['title'];?></strong><br />
                <?php echo $item['summary'];?>
            </p><br />
            <?php endforeach;?>
        </td>
        <td width="450" valign="top">
            <h2>Certifications</h2>
            <?php foreach ((array)$this->certifications as $item):?>
            <p>                        
                <strong><?php echo $item['title'];?> @<?php echo $item['company'];?></strong><br />
                <?php echo $item['summary'];?>
            </p>
            <?php endforeach;?>
        </td>
    </tr> 
    <tr>
        <td height="10" colspan="2"></td>
    </tr>
    <tr>
        <td width="900" colspan="2" valign="top">
            <h2>Experience</h2>            
        </td>
    </tr>   
    <?php foreach ((array)$this->positions as $item):?>
    <tr>
        <td width="900" colspan="2" valign="top">        
            <p>
                <strong><?php echo date("M Y", strtotime($item['start']));?> - <?php echo ($item['is_current'] == 1) ? 'Present' : date("M Y", strtotime($item['end']));?></strong><br />
                <strong><?php echo $item['title'];?> @<?php echo $item['company'];?></strong><br />
                <?php echo $item['summary'];?><br /><br />
            </p>            
        </td>
    </tr>
    <?php endforeach;?>
</table>

</html>