<html>
<head>
    <style>
        td.header
        {
            background-color: #ddd;
            font-size: 16px;
            font-weight: bold;
        }
        body
        {
            color: #000000;
            font: 100%/1.3 Arial,Sans-serif;
            padding-bottom: 5%;
        }
        tr.odd
        {
            background-color: #ddd;
        }
        
        
        #items 
        {
            border: 1px solid #000000;
            width: 700px;
        }
        
        th
        {
            background-color: #ddd;
        }
    </style>
</head>
<body>
<?php echo $this->content;?>
</body>
</html>