<style>
    #footer {
        background: #2c3742;
        text-align: center;
        padding: 23px 0;
    }

    #footer p {
        margin: 0;
        font-size: 12px;
        line-height: 14px;
        color: #f8f8f8;
    }
    .tms-cls, .tms-cls:hover, .tms-cls:visited, .tms-cls:focus {
        color: #FFF;
    }
</style>
<div style="width: 100px;height: ">
    <div>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5adde123227d3d7edc24a923/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();

            Tawk_API.onLoad = function () {
                Tawk_API.minimize();
            };
        </script>
        <!--End of Tawk.to Script-->
    </div>
</div>
<footer id="footer" class="<?php echo (Zend_Auth::getInstance()->hasIdentity()) ? "footer-logged" : 'footer-guest' ?>">
    <?php if($footer != "") : ?>
        <?php echo $footer ; ?>
        <div class="container">
            <p>&copy; Talentspotting 2018. All rights reserved</p>
            <a class="tms-cls" href="/legal" target="_blank">Terms and Conditions</a>
        </div>
    <?php else : ?>
        <div class="container">
            <p>&copy; Talentspotting 2018. All rights reserved</p>
            <a class="tms-cls" href="/legal" target="_blank">Terms and Conditions</a>
        </div>
    <?php endif ;?>
</footer>