<html>
<head>
    <style>
        td.header
        {
            background-color: #ddd;
            font-size: 16px;
            font-weight: bold;
        }
        body
        {
            background: url("/resources/frontend/images/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
            color: #000000;
            font: 100%/1.3 Arial,Sans-serif;
            padding-bottom: 5%;
        }
        tr.odd
        {
            background-color: #ddd;
        }
        
        
        #items 
        {
            border: 1px solid #000000;
            width: 700px;
        }
        
        th
        {
            background-color: #ddd;
        }
    
       
</style>
</head>
<table width="700" cellspacing=0 cellpadding=0>
    <tr>
        <td colspan="2" class="header" width="100%" align="center">Invoice #<?php echo $this->billing['billing_id'];?></td>
    </tr>
    <tr>
        <td height="10" colspan="2"></td>
    </tr>
    <tr>
        <td width="350" align="left">
            <table cellspacing="0" cellpadding="0" width="250">
                <tr>
                    <td align="left"><img src="/resources/frontend/images/logo_invoice.png" align="left"></td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td align="left" width="250">
                        <table cellspacing="0" cellpadding="0" width="180">
                            <tr class="odd">
                                <td>MKT2 Com</td>
                            </tr>
                            <tr>
                                <td>123 my street name</td>
                            </tr>
                            <tr class="odd">
                                <td>city, zipcode</td>
                            </tr>
                            <tr>
                                <td>country</td>
                            </tr>
                            <tr class="odd">
                                <td>phone no</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td width="350" align="right" valign="bottom">
            <table cellspacing="0" cellpadding="0" width="250">
                <tr>
                    <td align="left" width="250">
                        <table cellspacing="0" cellpadding="0" width="180">
                            <tr>
                                <td><?php echo $this->account['name'];?></td>
                            </tr>
                            <tr class="odd">
                                <td><?php echo $this->billing['name'];?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->billing['street_number'];?> <?php echo $this->billing['street'];?></td>
                            </tr>
                            <tr class="odd">
                                <td><?php echo $this->billing['city'];?>, <?php echo $this->billing['zip'];?></td>
                            </tr>
                            <tr>
                                <td><?php echo $this->billing['country'];?></td>
                            </tr>
                            <tr class="odd">
                                <td><?php echo $this->billing['phone'];?></td>
                            </tr>
                            <tr>
                                <td>Date: <?php echo date("d F, Y", strtotime($this->billing['date']));?></td>
                            </tr>                                                        
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" height="10"></td>
    </tr>
    <tr>
        <td colspan="2" width="100%">
            <table id="items">
                <tbody>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Unit Cost</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    <tr class="item-row">
                        <td class="item-name">Marketing package</td>
                        <td class="description">Prepayment for marketing account</td>
                        <td>$<?php echo $this->billing['amount'];?></td>
                        <td>1</td>
                        <td><span class="price">$<?php echo $this->billing['amount'];?></span></td>
                    </tr>
                    <tr>
                        <td height="20" colspan="5"></td>
                    </tr>
                    <tr>
                        <td class="blank" colspan="3"> </td>
                        <td class="total-line"><strong>Total</strong></td>
                        <td class="total-value"><strong>$<?php echo $this->billing['amount'];?></strong></td>
                    </tr>
                    <tr>
                        <td class="blank" colspan="3"> </td>
                        <td class="total-line"><strong>Status</strong></td>
                        <td class="total-value"><strong>Unpaid</td>
                    </tr>
                    <tr>
                        <td class="blank" colspan="3"> </td>
                        <td class="total-line"><strong>Payment type</strong></td>
                        <td class="total-value"><strong>Bank transfer</td>
                    </tr>
		          </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="20"></td>
    </tr>
    <tr>
        <td colspan="2" align="left">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </td>
    </tr>
</table>

</html>