<?php //
//	$queryParams = Zend_Controller_Front::getInstance()->getRequest()->getQuery();
//
//	$itemsFrom = ($this->current - 1) * $this->itemCountPerPage + 1;
//	$itemsTo = $this->current * $this->itemCountPerPage;
//	if ($this->totalItemsNumber < $itemsTo) {
//		$itemsTo = $this->totalItemsNumber;
//	}
//
//	if ($this->totalItemsNumber) {
//		echo '<div class="pagination-page-info' . ($this->pageCount > 1 ? ' flleft' : '') . '">' . $this->translate('showing') . ' <span class="dark-grey">' . $itemsFrom . '</span> to <span class="dark-grey">' . $itemsTo . '</span> ' . $this->translate('of') . ' <b class="dark-grey">' . $this->totalItemsNumber . '</b> ' . $this->translate('items') . '.</div>';
//	}
?>

<?php // if ($this->pageCount > 1): ?>
<ul class="pagination txt-right">
	<?php
		// all the pagination items echo-ed from php, so there is no space between their html tags. good for CSS.

//		// first page
//		if ($this->firstPageInRange > 1) {
//			echo '<li class="pagination-item inline-block"><a class="pagination-link" href="' . $this->url(array('page' => $this->first), $this->route) . (count($queryParams) ? '?' . http_build_query($queryParams, '', '&amp;') : '') . '#content">' . $this->translate('first') . '</a></li>';
//		}
//
//		// previous
//		if (isset($this->previous)) {
//			echo '<li class="pagination-item inline-block"><a class="pagination-link" href="' . $this->url(array('page' => $this->previous), $this->route) . (count($queryParams) ? '?' . http_build_query($queryParams, '', '&amp;') : '') . '#content"><span class="pagination-arrow">&larr;</span> ' . $this->translate('previous') . '</a></li>';
//		}
//
//		if ($this->firstPageInRange > 1) {
//			echo '<li class="pagination-item inline-block">...</li>';
//		}
//
//		// pages
//		foreach ($this->pagesInRange as $page) {
//			echo '<li class="pagination-item inline-block">';
//
//			if ($page !== $this->current) {
//				echo '<a href="' . $this->url(array('page' => $page), $this->route) . (count($queryParams) ? '?' . http_build_query($queryParams, '', '&amp;') : '') . '#content" class="pagination-link">' . $page . '</a>';
//			} else {
//				echo '<span class="pagination-link">' . $page . '</span>';
//			}
//
//			echo '</li>';
//		}
//
//		if ($this->lastPageInRange < $this->last) {
//			echo '<li class="pagination-item inline-block">...</li>';
//		}
//
//		// next
//		if (isset($this->next)) {
//			echo '<li class="pagination-item inline-block"><a href="' . $this->url(array('page' => $this->next), $this->route) . (count($queryParams) ? '?' . http_build_query($queryParams, '', '&amp;') : '') . '#content" class="pagination-link">' . $this->translate('next') . ' <span class="pagination-arrow">&rarr;</span></a></li>';
//		}
//
//		// last page
//		if ($this->lastPageInRange < $this->last) {
//			echo '<li class="pagination-item inline-block"><a href="' . $this->url(array('page' => $this->last), $this->route) . (count($queryParams) ? '?' . http_build_query($queryParams, '', '&amp;') : '') . '#content" class="pagination-link">' . $this->translate('last') . '</a></li>';
//		}
	?>
</ul>
<?php // endif;?>