    <section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? 'margin-top: 10px !important;' : ' margin-top: 20px !important;';?>">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <div class="panel-heading">
                            <h1 class="page-title">Error <?php echo $this->errorType; ?></h1>
                        </div>
                        <div class="panel-body">
                            <?php if($this->errorType == 404):?>
                        		<p>Page not found. You can go to <a href="/">homepage</a>, or return to <a href="javascript: history.back();">previous page</a>.</p>
                            <?php elseif ($this->errorType == 403):?>
                                <p>Authorization failed. You are not authorized to acces this page. You can go to <a href="/">homepage</a>, or return to <a href="javascript: history.back();">previous page</a>.</p>
                            <?php else: ?>
                        		<p class="message message-error">We are sorry, the system has an error. Be right back!</p>
                            <?php endif; ?>
                        
                            <?php if (APPLICATION_ENV !== 'production') : ?>
                        
                            <h2><?php echo $this->message ?></h2>
                            <h3>Exception information:</h3>
                            <p><b>Message: <?php echo $this->exception->getMessage() ?></b></p>
                            <h3>Stack trace:</h3>
                            <pre><?php echo $this->exception->getTraceAsString() ?></pre>
                            <h3>Request Parameters:</h3>
                            <pre><?php echo htmlspecialchars(var_export($this->request->getParams(), true),ENT_QUOTES,'UTF-8') ?></pre>
                        
                            <?php endif;?>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>