    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
    	<div class="page-sidebar-wrapper">
    		<div class="page-sidebar navbar-collapse collapse">
    			<!-- BEGIN SIDEBAR MENU -->
    			<ul class="page-sidebar-menu">
    				<li class="sidebar-toggler-wrapper">
    					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    					<div class="sidebar-toggler hidden-phone">
    					</div>
    					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    				</li>
    				</li>
    				<li class="start<?php echo ($this->current_menu == 'dashboard') ? ' active': '';?>">
    					<a href="/index"><i class="fa fa-home"></i><span class="title">Dashboard</span><?php echo ($this->current_menu == 'dashboard') ? '<span class="selected"></span>':''?></a>
    				</li>
                    <strong><li class="<?php echo ($this->current_menu == 'ads') ? ' open': '';?>"></strong>
                        <a href="javascript:;"><i class="fa fa-film"></i><span class="title"><?php echo $this->translate("menu-ads-title");?></span><span class="arrow "></span></a>
    					<ul class="sub-menu">
    						<li<?php echo ($this->sub_current_menu == 'ads') ? ' class="active"': '';?>>
    							<a href="/ads"><?php echo $this->translate("menu-ads-view");?></a>
    						</li>
                            <li<?php echo ($this->sub_current_menu == 'ads-edit') ? ' class="active"': '';?>>
    							<a href="/ads/edit"><?php echo $this->translate("menu-ads-new");?></a>
    						</li>
    					</ul>
    				</li>
    				<li class="<?php echo ($this->current_menu == 'ads') ? ' open': '';?>">
                        <a href="javascript:;"><i class="fa fa-film"></i><span class="title"><?php echo $this->translate("menu-ads-title");?></span><span class="arrow "></span></a>
    					<ul class="sub-menu">
    						<li<?php echo ($this->sub_current_menu == 'ads') ? ' class="active"': '';?>>
    							<a href="/ads"><?php echo $this->translate("menu-ads-view");?></a>
    						</li>
                            <li<?php echo ($this->sub_current_menu == 'ads-edit') ? ' class="active"': '';?>>
    							<a href="/ads/edit"><?php echo $this->translate("menu-ads-new");?></a>
    						</li>
    					</ul>
    				</li>                    
                    <li class="<?php echo ($this->current_menu == 'locations') ? ' active': '';?>">
                        <a href="javascript:;"><i class="fa fa-location-arrow"></i><span class="title"><?php echo $this->translate("menu-locations-title");?></span><span class="arrow "></span></a>
    					<ul class="sub-menu">
    						<li<?php echo ($this->sub_current_menu == 'locations') ? ' class="active"': '';?>>
    							<a href="/locations"><?php echo $this->translate("menu-locations-view");?></a>
    						</li>
                            <li<?php echo ($this->sub_current_menu == 'locations-edit') ? ' class="active"': '';?>>
    							<a href="/location/edit"><?php echo $this->translate("menu-locations-new");?></a>
    						</li>  						
    					</ul>
    				</li>   	
                    <li class="<?php echo ($this->current_menu == 'reports') ? ' active': '';?>">
                        <a href="/reports"><i class="fa fa-table"></i><span class="title"><?php echo $this->translate("menu-reports-title");?></span></a>
    				</li>   				
    			</ul>
    			<!-- END SIDEBAR MENU -->
    		</div>
    	</div>
    	<!-- END SIDEBAR -->