                            <?php $translate = Zend_Registry::get("Zend_Translate"); $modelJobs = new models_Jobs;?>
                            <script src="/resources/ckeditor/ckeditor.js" type="text/javascript"></script>
                            <script src="/resources/ckfinder/ckfinder.js" type="text/javascript"></script>
                            <form class="cmxform form-horizontal" id="commentForm" method="POST" action="">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("available_language");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->id_lang;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("title");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->title;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("company");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->id_company;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("tagline");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->tagline;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("description");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->description;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("requirements");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->requirements;?>
                                    </div>
                                </div>                                                             
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("cities");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->cities;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("industries");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->industries;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("departments");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->departments;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("start");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->start;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("end");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->end;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("skills");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->skills;?>
                                    </div>
                                </div>
                                <?php if ($this->settings['app_type'] == 'hr'):?>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("bounty");?></label>
                                    <div class="col-lg-3">
                                        <?php echo $this->element->bounty;?>
                                    </div>
                                    <div class="col-lg-3">
                                        <?php echo $this->element->id_currency;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("bounty_requirements");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->bounty_requirements;?>
                                    </div>
                                </div>
                                <?php endif;?>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("type");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->job_type;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("career_level");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->career_level;?>
                                    </div>
                                </div>
                                <?php if ((!empty($this->element->company) && $modelJobs->_user->type == 2 && $this->element->company['highlight_credits'] > 0) || $modelJobs->_user->type == 3):?>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $translate->_("promoted");?>?</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->is_promoted;?>
                                    </div>
                                </div>
                                <?php endif;?>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?>
                                        <button class="btn btn-primary" type="submit"><?php echo $translate->_("save");?></button>
                                        <button class="btn btn-default" type="button"><?php echo $translate->_("cancel");?></button>
                                    </div>
                                </div>
                            </form>
                            <script>
                            var newCKEdit_requirements = CKEDITOR.replace('requirements', {
                                toolbarGroups: [
                                    { name: 'clipboard', groups: [ 'clipboard', 'undo' ]},
                             		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                                    { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align' ]}
                            	]
                            });
                            
                            var newCKEdit_description = CKEDITOR.replace('description', {
                                toolbarGroups: [
                                    { name: 'clipboard', groups: [ 'clipboard', 'undo' ]},
                            		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                                    { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align' ]}
                            	]
                            });
                            
                            var newCKEdit_responsabilities = CKEDITOR.replace('responsabilities', {
                                toolbarGroups: [
                                    { name: 'clipboard', groups: [ 'clipboard', 'undo' ]},
                            		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                                    { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align' ]}
                            	]
                            });
                            </script>