@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import "variables.less";
html, body {
    height:100%;
} 
@color : #D2E16C ;
@lineColor : #4A4F34 ;

#header {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    /*background: red;*/
    .logo {
        position:absolute;
        /*        width: 92px;
                height: 83px;*/
        img {
            width: 200px;
            height: autopx;
        }
    }
    .get-started {
        a {
            font-family:'Open Sans', sans-serif;
            font-weight: 700;
            font-size:14px;
            color:@color;
            line-height:19px;
            text-align:center;
            text-decoration: none;
            border : 2px solid @color ;
            line-height:83px;
            padding: 5px 30px;
            .border-radius(3px);
            &:hover {
                background: @color ;
                color : #FFF ;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }
        }
    }
}
#landing {
    .row {
        margin-top: 220px;

    }
    background: url('../images/landing-image.png') no-repeat;
    background-size: 100%;
    min-height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .br-title {
        font-family:'Open Sans', sans-serif;
        font-weight: 700;
        font-size:40px;
        color:#ffffff;
        text-align:center;

    }
    .br-desc {
        font-family:'Open Sans', sans-serif;
        font-weight: 300 ;
        font-size:28px;
        color:#ffffff;
        text-align:center;
    }

    .get-started {
        font-family:'Open Sans', sans-serif;
        font-weight: 700;
        font-size:14px;
        color:@color;
        line-height:19px;
        text-align:center;
        text-decoration: none;
        border : 2px solid @color ;
        line-height:83px;
        padding: 5px 30px;
        .border-radius(3px);
        text-align: center;
        /*display:block;*/
        &:hover {
            background: @color ;
            color : #FFF ;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
    }
}
#nav-bar {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    background: #ffffff !important;
    height: 100%;
    z-index: 9999999;
    max-height: 60px !important;
    img {
        position: relative;
        width: 125px;
        height: auto;
        bottom: 13px;
    }
    .get-started {
        font-family:'Open Sans', sans-serif;
        font-weight: 700;
        font-size:14px;
        background: @color ;
        color:@lineColor;
        line-height:19px;
        text-align:center;
        text-decoration: none;
        border : 2px solid @color ;
        line-height:62px;
        padding: 5px 45px;
        .border-radius(3px);
        text-align: center;
        /*display:block;*/
        /*        &:hover {
                    background: @color ;
                    color : #FFF ;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                }*/

    }
}

#benefits {
    /*position: relative;*/
    background: #617A91;
    /*background: url('../images/benefits-layer.png') no-repeat;*/
    /*background-size: 100%;*/
    /*    background-repeat: no-repeat;
        background-position: left top;*/
    min-height: 700px;
    /*max-height:700px;*/
    img {
        width: 100%;
        height: 100%;
    }


    .benefits-content {
        /*        position: absolute ;
                top: 0px;*/
        width: 100%;
        text-align: center;
        /*margin-top: 150px;*/
        background: url('../images/benefits-layer.png') no-repeat;
        background-size: 100%;
        /*height: 644px;*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .benefits-title {
            color: #FFFFFF;
            font-family:'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 48px;

        }

        .benefits-data {
            h3 {
                font-family:'Open Sans', sans-serif;
                font-weight: 300;
                font-size:64px;
                color:#ffffff;
                text-align:left;

            }

            .benefits-data-p-desc{
                font-family:'Open Sans', sans-serif;
                font-weight: 700;
                font-size:16px;
                color:#ffffff;
                text-align:left;
                margin: 0px;
            }
            .benefits-data-p-ctn {
                font-family:'Open Sans', sans-serif;
                font-size:14px;
                color:#ffffff;
                text-align:left;
                margin: 0px;
            }


        }
    }

}

#talentspotting {
    background: #E7EAEF;
    max-height:700px;
    position:relative;
    .container-fluid {
        position: absolute ;
        top: 0px;
        width: 100%;
        text-align: center;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .row {
        h2 {
            opacity:0.5;
            font-family:'Open Sans', sans-serif;
            font-weight: 400;
            font-size:20px;
            color:#4a063e;
            text-align:center;
        }
    }
    .talent-spotting-title {
        margin-top: 140px;

        font-family:'Open Sans', sans-serif;
        font-weight: 300;
        font-size:46px;
        color:#4a063e;
        text-align:center;
    }

}

.margtp {
    .col-sm-4 {
        padding-left: 50px;
    }
    .col-sm-3 {
        .talent-data{
            background:#fafafa;
            box-shadow:0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
            border-radius:2px;
            width:269px;
            height:164px;
            margin: 0 auto;
            h1 {
                text-align: center;
                font-family:'Open Sans', sans-serif;
                font-weight: 400;
                font-size:46px;
                color:#f9ce00;
                padding-top: 20px;

            }
            p {
                opacity:0.69;
                font-family:'Open Sans', sans-serif;
                font-weight:600;
                font-size:14px;
                color:#4a063e;
                text-align:center;
            }
        }
    }
    margin-top :35px !important; 
}

.hr-num{
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #f9ce00;
    margin: 1em 0;
    padding: 0; 
    width: 14%;
}

.hr-talent {
    border:1px solid rgba(0,0,0,0.12);
}
#lap {
    background: #F1F4F8;
    /*height: 100%;*/
    min-height: 700px;
    width:100%;

    .container-fluid {
        /*         max-width: 1170px;
                 margin: 0 auto ;*/
    }


    .background
    {
        width: 800px;
        height: auto;
        /* display: block; */
        margin-left: 45px; 
        /* margin-right: auto; */
        background: url('http://lh/talentlanding/images/screen.png') no-repeat;
        background-size: 100%;
        position: relative;
        top: 68px;
    }

    .box
    {
        margin: 5px;
        width: 721px;
        height: 590px;
        background: url('http://lh/talentlanding/images/recommend.png') no-repeat;
        background-size: 100%;
        position: relative;
        left: 31px;
        top: 44px;
    }
    .console {
        /* margin: 5px; */
        width: 964px;
        height: 49px;
        background: url('http://lh/talentlanding/images/console.png') no-repeat;
        background-size: 100%;
        position: relative;
        right: 35px;
        top: 9px;
    }
    .console-btm {
        /* margin: 5px; */
        width: 964px;
        height: 49px;
        background: url('http://lh/talentlanding/images/console-btm.png') no-repeat;
        background-size: 100%;
        position: relative;
        right: 35px;
        bottom: 23px;
    }


    .lap-content{
        position: relative;
        left: 50px;
        top: 100px;
        h2 {
            font-family:'Open Sans', sans-serif;
            font-weight: 300 ;
            font-size:34px;
            color:#4a063e;
            text-align:left;
        }
        p {
            margin: 0px;
            opacity:0.5;
            font-family:'Open Sans', sans-serif;
            font-size:16px;
            color:#454545;
            line-height:24px;
            text-align:left;
        }
        .bx-wrapper {
            position: relative;
            .bx-viewport {
                box-shadow : none !important;
                border: 5px solid transparent;
                background: transparent;
                height: 100% !important;
            }
            .bx-pager {
                display: none;
            }
            .bx-controls-direction {
                position: absolute;
                top:160px;
            }
        }
    }

}
#microscope {
    min-height: 700px;
    .container-fluid {
        .row {
            max-width: 1170px;
            margin: 0 auto;
        }
    }
    background:#2fb0c2;
    min-height: 700px;
    .scope {
        background: red;
        width: 334px;
        height: 334px;
        background: url('http://lh/talentlanding/images/circle.png') no-repeat;
        background-size: 100%;
        position: relative;
        /*left : 250px;*/
        top:150px;

        img {
            width: 256px;
            height: 296px;
            position: absolute;
            left: 33px;
            top: 30px;
        }
    }
    .scope-data {
        h1 {
            font-family:'Open Sans', sans-serif;
            font-weight: 300;
            font-size:46px;
            color:#FFFFFF;
            text-align:center;
        }
        h2 {
            font-family:'Open Sans', sans-serif;
            font-weight: 300;
            font-size:26px;
            color:#FFFFFF;
            text-align:left;
            margin-top: 50px;
        }
        .mp {
            .icn {
                content: "";
                display: inline-block;
                background-image: url("http://lh/talentlanding/images/sheet.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                width: 40px;
                height: 40px;
                position: relative;
                margin-right: 15px;
                /*top: 6px;*/
                vertical-align: middle;
                text-align: center;
                /*right: 11px;*/
            }

            font-family:'Open Sans', sans-serif;
            font-size:16px;
            color:#ffffff;
            line-height:24px;
            text-align:left;
            text-decoration: underline;
            a {
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                color: #ffffff;
                line-height: 24px;
                text-align: left;
                text-decoration: underline;
            }

        }

        .more {
            margin-top:130px;
            font-family:'Open Sans', sans-serif;
            font-weight: 700;
            font-size:16px;
            color:#ffffff;
            text-align:left;
        }
        .get-popup {
            font-family:'Open Sans', sans-serif;
            font-size:16px;
            color:#ffffff;
            text-align:left;
            text-decoration: underline ;
        }
    }
}
.fix-height {
    height: 100% !important;
}

#about {
    background: url('../images/about_bg.png') no-repeat;
    background-size: 100%;
    min-height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .about {
        margin-top:100px;
        font-family:'Open Sans', sans-serif;
        font-weight:300;
        font-size:40px;
        color:#ffffff;
        text-align:center;
    }
    .about-content {
        max-width: 500px;
        margin: 0 auto;
        border-left : 3px solid #f9ce00;
        padding-left : 15px;

        h2 {
            font-family:'Open Sans', sans-serif;
            font-weight:700;
            font-size:16px;
            color:#ffffff;
            text-align:left;
        }
        p {
            font-family:'Open Sans', sans-serif;
            font-size:14px;
            color:#ffffff;
            text-align:left;
            margin:0px;
        }

    }
    .meeet-us {
        margin-top : 100px;
        text-align:center;
        a {

            font-family:'Open Sans', sans-serif;
            font-weight:700;
            font-size:14px;
            color:#4EC5D9;
            line-height:29px;
            display:inline-block;
            border:1px solid #4EC5D9;
            .border-radius(2px);
            width:565px;
            text-align: center;
            &:hover {
                background: #4EC5D9 ;
                color : #FFF; ;
                text-decoration: none;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;

            }

        }

    }
}

.fixed {
    max-width:none !important;
    position: fixed;
    right:0px;
    left:0px;
    top:0px;
    z-index: 999;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    .container-fluid {
        max-width: 1170px;
    }
}

#first {
    .modal-header {
        .modal-title {
            font-family:'Open Sans', sans-serif;
            font-weight:700;
            font-size:20px;
            color:#333333;
            line-height:19px;
        }
    }

}

.btn-style {
    width : 100%;
    text-align:center;
    height:73px;
    background: #4EC5D9;

    text-align:center;
    a {
        font-family:'Open Sans', sans-serif;
        font-weight:700;
        font-size:16px;
        color:#ffffff;
        line-height:19px;
        display: block;
        padding-top: 27px;
    }

}

.modal-dialog {
    margin-top: 100px;
}
.mobile {
    background: url("http://lh/talentlanding/images/slides/mobile.png") no-repeat ;
    background-size: 100% ; 
    width : 900px ;
    height : 560px

}