<table>
    <tbody>
        <tr>
            <td>Hi {$username},<br />
                <br />
                <br />
                <br />
                Things are moving forward with your referral program! Check out the latest: <br />
                &nbsp;&nbsp;&nbsp; - {$applications} : new applicants in the last week .<br />
                &nbsp;&nbsp;&nbsp; - {$reached} : users reached .<br />
                &nbsp;&nbsp;&nbsp; - {$bounty} : bounties to be paid <br />
            <br />
            View your applicants and boost your referral program some more! <br />
            <br />
            <br />
            <br />
            Best of luck !<br />
            Adi<br />
        </tr>
    </tbody>
</table>
<img src="https://talentspotting.com/resources/files/images/mail_logo.png" alt="Talentspotting" />
