<html>
    <head>
        <title>Password Reset</title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    Hello {$user.firstname} {$user.lastname},<br />
                    Your successfully applied to : {$job.title} @ {$job.company_title}<br /><br />
                    You can view the application status here : <a href="{$settings.sitename}/profile#application"><b>Application History</b></a><br /><br /><br /><br />
                    
                    Best of luck and hope you'll get the job you want soon. <br />
                    Keep in touch, <br />
                    {$settings.sitename} by Brainspotting<br />
                    {$setting.siteemail}
                </td>
            </tr>
        </table>
    </body>
</html>