<html>
    <head>
        <title></title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    Dear {$job.company_title},<br />
                    {$user.firstname} {$user.lastname} just applied for a position on one job posted by you ({$job.title})                    
                    You can view the application details : <a href="{$settings.sitename}/job-details/?id={$job.id}">here</a><br /><br /><br />
                    <br />
                    Regards,<br />
                    {$settings.sitename} Team<br />
                    {$settings.siteemail}
                </td>
            </tr>
        </table>
    </body>
</html>