<html>
    <head>
        <title>Bounty paid</title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    Congratulations {$user.firstname} {$user.lastname},<br />
                    You just won the bounty for {if is_numeric($bounty.amount)} {$bounty.amount} {$settings.currencies[1]} {else} {$bounty.amount} {/if} , {$job.title} @ {$company.title}<br /><br /><br />
                    RegardsKeep up the good work,<br />
                    {$settings.sitename} Team<br />
                    {$settings.siteemail}
                </td>
            </tr>
        </table>
    </body>
</html>