<html>
    <head>
        <title></title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    Hi {$recommender.firstname},<br />
                    <br />
                    <br />
                    Thumbs up for your activity! <br />
                    You are moving forward - check out your status <a href="{$settings.sitename}/profile#/application">here</a>" in the hiring process for {$job.title}. <br />
                    <br />
                    <br />
                    Best of luck !<br />
                    Adi<br />
                </td>
            </tr>
        </table>
        <img src="https://talentspotting.com/resources/files/images/mail_logo.png" alt="Talentspotting" />
    </body>
</html>