<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center ;
            }
        </style>
    </head>
    <body>
        <!--{$item|@print_r}-->


        Hi {$username},<br />
        <br />
        <br />
        Ready to identify the best professionals in your network? We’ve launched a new campaign - {$campaign}. <br />
        Here are the jobs and rewards involved, and the actions you can take to win.  <br />
        <br />
        Make sure you share the jobs and identify quality candidates by [campaign date] to qualify for the awards. 
        <br />
        <table>
            <thead>
                <tr>
                    <th width="25%">Job</th>
                    <th width="25%">Actions to be rewarded</th>
                    <th width="25%">Reward</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$jobs key=key item=item}
                <tr>
                    <td> <a href="{$item.url}" target="_blank">{$item.title}</a></td>
                    <td>
                        {foreach from=$gamification item=action}
                        {$action}
                        {/foreach}
                    </td>
                    <td>{$item.bounty}</td>
                </tr>


                {/foreach}


            </tbody>
        </table>
        <br />
        <br />
        <b>How does it work?</b> 
        Share the opportunities above with your network and identify the best professionals who would qualify for them. <br />
        The winner will be the recommender with the most collected [views/shares etc]. <br />
        Track your progress in the Leaderboard section of your account. <br />
        <br />
        <br />
        <br />
        Best of luck with grabbing the best rewards :)<br />
        Adi<br />

        <img src="https://talentspotting.com/resources/files/images/mail_logo.png" alt="Talentspotting" />
    </body>
</html>