<title></title>
<table>
    <tbody>
        <tr>
            <td>Hi {$user.firstname},<br />
            You are now empowered to help your friends find better jobs and bring in your organization people like you. Plus, you can earn amazing bounties for successful hires or for <br />
            promoting the jobs in your network. <br />
            <br />
            Please activate your account <a href="{$settings.sitename}/login">here</a>, using the initial password: {$password.password}<br />
            To get started, check out the active jobs and recommend them easily on all your social and professional networks!<br />
            If you have any questions or comments, please feel free to reach out!<br />
            Best of luck !<br />
            Adi<br />
        </tr>
    </tbody>
</table>
<img src="https://talentspotting.com/resources/files/images/mail_logo.png" alt="Talentspotting" />