<html>
    <head>
        <title></title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    Hi {$name.name} {$name.firstname},<br />
                    Check out the <a href="{$url}?track={$data.track}">{$job.title}</a> currently open at {$job.company_title}<br />
                    If you’re interested to apply, all you need to do is sign up on Talentspotting and upload your CV.<br><br>
                    Talentspotting is an automated referral system where your friends can recommend openings from their companies. You can apply easily with a simple one tap sign-in.<br><br>

                    Cheers,<br>
                    {$user.firstname} {$user.lastname}
                </td>
            </tr>
        </table>
    </body>
</html>
