<title></title>
<table>
    <tbody>
        <tr>
            <td>Hi {$username},<br />
                <br />
                <br />
                <br />
            Thumbs up for your activity on Talentspotting! <br />
            Here are your current <a href="http://talentspotting.com/profile#recommendations">results</a> <br />
            <br />
            <br />
            There may be even more rewards to be grabbed and candidates in your network to be identified :).<br />
            Increase your chances of building strong teams for your company and earning rewards - check current <br />
            vacancies on Talentspotting and let your contacts know about them first.<br />
            <br />
            <br />
            <br />
            Best of luck !<br />
            Adi<br />
        </tr>
    </tbody>
</table>
<img src="https://talentspotting.com/resources/files/images/mail_logo.png" alt="Talentspotting" />