<title></title>
<table>
    <tbody>
        <tr>
            <td>Hi {$user.firstname},<br />
                <br />
                <br />
                Thumbs up for your activity on Talentspotting!  <br />
                Your candidates are moving forward - check out their status in the hiring process <a href="{$settings.sitename}/login">here</a><br />
                There may be even more rewards to be grabbed and candidates in your network to be identified :)<br />
                 Increase your chances of building strong teams for your company and earning rewards<br />
                 check current vacancies on Talentspotting and let your contacts know about them first.<br />
                 <br />
                 <br />
                Best of luck !<br />
                Adi<br />
        </tr>
    </tbody>
</table>
<img src="https://talentspotting.com/resources/files/images/mail_logo.png" alt="Talentspotting" />
