<title></title>
<table>
    <tbody>
        <tr>
            <td>Dear {$user.firstname},<br />
                <br />
                <br />
                <br />
            Congratulations! You are a gifted talent hunter. {$username} has just been marked as a Hired candidate on Talentspotting. <br />
            You are now entitled to collect the bounty - {$job.bounty} Check the Bounties section to see when it is due. <br />
            If you have any questions, please get in touch with your HR colleagues. <br />
            <br />
            Now that you've seen how it works, do check other opportunities on Talentspotting <br />
            and keep building amazing teams for your company..   <a href="{$settings.sitename}/home">https://talentspotting.com</a> <br />
            <br />
            <br />
            <br />
            Best of luck !<br />
            Adi<br />
        </tr>
    </tbody>
</table>
<img src="https://talentspotting.com/resources/files/images/mail_logo.png" alt="" />
