<title></title>
<table>
    <tbody>
        <tr>
            <td>Hi {$username},
                <br />
                <br />
                We’ve figured you might welcome a few tips and tricks to be successful fast on Talentspotting. Here goes! <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 - Use all recommendation channels. Share opportunities with all your networks - Facebook, LinkedIn, Twitter. <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2 - Activate auto-post for the networks. This way, available jobs will be promoted automatically to your connections. <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3 - Always think - Who is the best professional you’ve ever worked with? This will make it easier for you come up with the most suitable people in your network. <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 - Upload your Linkedin contacts and Talentspotting will automatically suggest the most suitable professionals in your network.  <br />
                        promoting the jobs in your network. <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5 - Drop a personal line when recommending the job to someone. All your recommendations will go out with pre-defined messages <br />
                        so you don’t spend time writing promotion line for the jobs. However, we believe it will help if you use a personal line in the message <br />
                        why you love the company or think that the job is suited for your friend.  
            <br />
            Most of the actions above imply just clicks, so just do them and start getting your rewards.
            <br />
            <br />
            <br />
            Best of luck !<br />
            Adi<br />
        </tr>
    </tbody>
</table>
<img src="https://talentspotting.com/resources/files/images/mail_logo.png" alt="Talentspotting" />