<table style="border:3px solid #ccc">
    <colgroup>
        <col width="10%" style="background-color:#D2E16C;border:3px solid #ccc">
        <col width="30%" style="border:3px solid #ccc">
        <col width="10%" style="border:3px solid #ccc">
        <col width="10%" style="border:3px solid #ccc">
        <col width="40%" style="border:3px solid #ccc">
    </colgroup>
    <thead style="background-color:#ccc">
    <tr>
        <th class="righted padded">
            Vacancies
        </th>
        <th class="lefted padded">
            Job title
        </th>
        <th class="lefted padded">
            Expiry date
        </th>
        <th class="lefted padded">
            Bounty value
        </th>
        <th class="lefted padded">
            Bounty name
        </th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($this->data['jobs'] as $key => $value) : ?>
    <tr>
        <td class="righted padded bordered"><?php echo $value['vacancies'] ?></td>
        <td class="lefted padded bordered"><?php echo $value['title'] ?></td>
        <td class="lefted padded bordered"><?php echo date('d/m/Y',strtotime($value['end'])) ; ?></td>
        <td class="righted padded bordered"><?php echo $value['bounty']." - ".$value['currency'] ; ?> </td>
        <td class="righted padded bordered"><?php echo $value['bounty_title'] ?></td>
    </tr>
    <?php endforeach; ?>
    </tbody>
    <tfoot style="background-color:#ccc">
    <tr>
        <td class="righted padded bordered"><?php echo $this->data['total_jobs'] ?></td>
        <td class="lefted padded bordered" colspan="2">jobs</td>
        <td class="righted padded bordered" colspan="2"><?php echo $this->data['total_bounty'] ?> total bounty value</td>
    </tr>
    </tfoot>
</table>