<html>
    <head>
        <title></title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    Hi <?php echo $this->firstname;?>,<br />
                    <br />
                    <br />
                    Welcome to Talentspotting! 
                    <br />
                    You can now leverage your organisation’s social media contacts to attract the right talent fast and easy. <br />
                    Please activate your account <a href="<?php echo $this->sitename ?>/login">here</a>, using the initial password: <?php echo $this->password ?><br />
                    <br />
                    Happy recruiting! <br />
                    Adi  <br>
                </td>
            </tr>
        </table>
        <img src="https://talentspotting.com/resources/files/images/mail_logo.png" alt="Talentspotting" />
    </body>
</html>

