<html>
    <head>
        <title>Password Reset</title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    Hello admin,<br />
                    <?php echo $this->user->firstname;?> <?php echo $this->user->lastname;?> @ <?php echo $this->bounty['company'];?> initiated a new payment for a bounty.<br /><br />
                    You can view the details below:<br />
                    <strong>Job title</strong>: <?php echo $this->bounty['job'];?><br />
                    <strong>Bounty value</strong>: <?php echo intval($this->bounty['bounty']/2);?> <?php echo $this->settings['currencies'][1];?><br />
                    <strong>Bounty requirements</strong>: <?php echo $this->bounty['bounty_requirements'];?><br />
                    <strong>Applicant</strong>: <?php echo $this->bounty['applicant'];?><br />
                    <strong>Referral</strong>: <?php echo $this->bounty['referral'];?><br /><br />
                    Click the following link to view the bounties list: <a href="<?php echo APPLICATION_URL;?>/view-bounties"><?php echo APPLICATION_URL;?>/view-bounties</a><br /><br /><br /><br />
                    
                    Regards,<br />
                    <?php echo $this->settings['sitename'];?> Team<br />
                    <?php echo $this->settings['siteemail'];?>
                </td>
            </tr>
        </table>
    </body>
</html>