<table style="border:3px solid #ccc">
    <colgroup>
        <col width="20%" style="background-color:#D2E16C;border:3px solid #ccc">
        <col width="50%" style="border:3px solid #ccc">
        <col width="30%" style="border:3px solid #ccc">
    </colgroup>
    <thead style="background-color:#ccc">
    <tr>
        <th class="righted padded">
            Earned Date
        </th>
        <th class="lefted padded">
            Winner Name
        </th>
        <th class="lefted padded">
            Reason
        </th>
    </tr>
    </thead>
    <tbody>
    <?php if(!empty($this->data['recommendations'])) : ?>
        <?php foreach ($this->data['recommendations'] as $key => $value) :?>
            <tr>
                <td class="righted padded bordered"><?php echo date('d/m/Y',strtotime($value['date'])) ; ?></td>
                <td class="lefted padded bordered"><?php echo $value['user']  ; ?></td>
                <td class="lefted padded bordered"><?php echo $value['reason']  ; ?></td>
            </tr>
        <?php endforeach; ?>
        <?php ?>
    <?php endif; ?>
    <?php if(!empty($this->data['campaigns'])) : ?>
        <?php foreach ($this->data['campaigns'] as $key => $value) :?>
            <tr>
                <td class="righted padded bordered"><?php echo date('d/m/Y',strtotime($value['date'])) ; ?></td>
                <td class="lefted padded bordered"><?php echo $value['user']  ; ?></td>
                <td class="lefted padded bordered"><?php echo $value['reason']  ; ?></td>
            </tr>
        <?php endforeach; ?>
        <?php ?>
    <?php endif; ?>
    </tbody>
</table>