<title></title>
<table>
    <tbody>
        <tr>
            <td>Hello <br />
                <br />
                <br />
                <br />
                <strong>{$company} </strong> choose to pay the bounties via Brainspotting.
            <br />
            <br />
            <br />

        </tr>
    </tbody>
</table>
<img src="https://talentspotting.com/resources/files/images/mail_logo.png" alt="Talentspotting" />
