<title></title>
<table>
    <tbody>
        <tr>
            <td>Hello <br />
                <br />
                <br />
                <br />
                <strong> {$company} </strong> just approved a bounty: {$bounty} <br />
                premiu for <strong>{$user}</strong> , {$email} , {$phone} <br />
            <br />
            <br />
            <br />

        </tr>
    </tbody>
</table>
<img src="https://talentspotting.com/resources/files/images/mail_logo.png" alt="Talentspotting" />

