<table style="border:3px solid #ccc">
    <colgroup>
        <col width="20%" style="background-color:#D2E16C;border:3px solid #ccc">
        <col width="70%" style="border:3px solid #ccc">
        <col width="10%" style="border:3px solid #ccc">
    </colgroup>
    <thead style="background-color:#ccc">
    <tr>
        <th class="righted padded">
            Expiry Date
        </th>
        <th class="lefted padded">
            Name
        </th>
        <th class="lefted padded">
            Type
        </th>
        <th class="lefted padded">
            Update
        </th>
    </tr>
    </thead>
    <tbody>
    <?php if(!empty($this->data['jobs'])) : ?>
        <?php foreach ($this->data['jobs'] as $key => $value) :?>
            <tr>
                <td class="righted padded bordered"><?php echo date('d/m/Y',strtotime($value['end'])) ; ?></td>
                <td class="lefted padded bordered"><?php echo $value['title'] ?></td>
                <td class="lefted padded bordered"><?php echo $value['type'] ?></td>
                <td class="lefted padded bordered"><a target="_blank" href="<?php echo $value['url'] ?>">update</a></td>
            </tr>
        <?php endforeach; ?>
    <?php endif ; ?>
    <?php if(!empty($this->data['campaigns'])) : ?>
        <?php foreach ($this->data['campaigns'] as $key => $value) :?>
            <tr>
                <td class="righted padded bordered"><?php echo date('d/m/Y',strtotime($value['end'])) ; ?></td>
                <td class="lefted padded bordered"><?php echo $value['title'] ?></td>
                <td class="lefted padded bordered"><?php echo $value['type'] ?></td>
                <td class="lefted padded bordered"><a target="_blank" href="<?php echo $value['url'] ?>">update</a></td>
            </tr>
        <?php endforeach; ?>
    <?php endif ; ?>
    </tbody>
</table>