<table bgcolor="#ffffff" align="center" style="padding: 10px 10px 50px 10px;" word-break:="" break-all="" border="1" cellpadding="20">
    <tbody><tr>
            <th>Jobs/Campaigns</th>
            <th>Expiry Date</th> 
        </tr>
        <?php foreach ($this->jobs as $index => $job) : ?>
            <tr>
                <td><?= $job['title'] ?></td>
                <td><?= $job['end'] ?></td>
            </tr>
        <?php endforeach; ?>
        <?php foreach ($this->campaigns as $index => $campaign) : ?>
            <tr>
                <td><?= $campaign['title'] ?></td>
                <td><?= $campaign['end'] ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody></table>
