<table style="border:3px solid #ccc">
    <colgroup>
        <col width="10%" style="background-color:#D2E16C;border:3px solid #ccc">
        <col width="30%" style="border:3px solid #ccc">
        <col width="60%" style="font-size:7px;border:3px solid #ccc">
    </colgroup>
    <thead style="background-color:#ccc">
    <tr>
        <th class="righted padded">
            Result
        </th>
        <th class="lefted padded">
            KPI
        </th>
        <th class="lefted padded">
            Definition
        </th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($this->data as $index => $value) : ?>
    <tr>
        <td class="righted padded bordered"><?php echo $value['count'] ?></td>
        <td class="lefted padded bordered"><?php echo $value['kpi'] ?></td>
        <td class="lefted padded bordered"><?php echo $value['definition'] ?></td>
    </tr>
    <?php endforeach; ?>
    </tbody>
</table>