<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center ;
            }
        </style>
    </head>
    <body>
        <!--{$item|@print_r}-->


        Hi {$username},<br />
        <br />
        <br />
        Ta-dam!! Thought you'd like to know your position in current Talentspotting campaigns and how you can  <br />
        boost your chances of recommending quality candidates and earning superrewards!  <br />
        <br /> 
        <table>
            <thead>
                <tr>
                    <th width="33%">Campaign</th>
                    <th width="33%">Place</th>
                    <th width="33%">Deadline</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$campaigns key=key item=item}
                <tr>
                    <td>{$item.campaign_title}</td>
                    <td>{$item.place} out of {$item.total_users}</td>
                    <td>{$item.campaign_deadline}</td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        <br />
        <br />
        Share the opportunities above with your network and identify the best professionals who would qualify for  <br />
        them. Track your progress in the Leaderboard section of your account. <br />
        <br />
        <br />
        <br />
        Best of luck<br />
        Adi<br />

        <img src="https://talentspotting.com/resources/files/images/mail_logo.png" alt="Talentspotting" />
    </body>
</html>
