<table bgcolor="#ffffff" align="center" style="padding: 10px 10px 50px 10px;" word-break:="" break-all="" border="1" cellpadding="20">
    <tbody><tr>
            <th>Jobs</th>
            <th>Referrals</th> 
            <th>Applicants</th>
            <th>Status</th>
        </tr>
        <?php foreach ($this->data as $key => $value) : ?>
            <tr>
                <td style="max-width: 140px;"><?= $value['url'] ?></td>
                <td><?= $value['refferals_number'] ?></td>
                <td>
                    <table>
                        <?php foreach ($value['users'] as $k => $v) : ?>
                            <tr><td><?= $v['firstname'] ?></td></tr>
                        <?php endforeach; ?>
                    </table>
                </td>
                <td>
                    <table>
                        <?php foreach ($value['users'] as $k => $v) : ?>
                            <tr>
                                <td><?php 
                                        echo $this->status[$v['status']];
                                    ?>                      
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </table>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody></table>
