<table style="border: 1px solid black">
            <thead>
                <tr>
                    <th style="border: 1px solid black" width="25%">Job</th>
                    <th style="border: 1px solid black" width="25%">Reward</th>
                    <th style="border: 1px solid black" width="25%">Deadline</th>
                </tr>
            </thead>
            <tbody>
                 <?php foreach ($this->data as $index => $job) : ?>
            <tr>
                <td style="border: 1px solid black"><a href="<?= $job['url'] ?>"><?= $job['title'] ?></a></td>
                <td style="border: 1px solid black"><?= $job['bounty'] ?></td>
                <td style="border: 1px solid black"><?= $job['end'] ?></td>
            </tr>
        <?php endforeach; ?>
            </tbody>
        </table>
