
<table bgcolor="#ffffff" align="center" style="padding: 10px 10px 50px 10px;" word-break: break-all style="font-family: 'Open-Sans', 'Arial', 'sans-serif'; max-width: 800px; word-break: break-all" border="1" cellpadding="20">

    <tr>
        <td>views</td>
        <td>Applicants</td>
        <td>Hires</td>
    </tr>
    <tr>
        <td><?= $this->total_unique_view ?></td>
        <td><?= $this->applications ?></td>
        <td><?= $this->hired ?></td>
    </tr>
</table>

<p>Candidate Applications by Status: 

<table bgcolor="#ffffff" align="center" style="padding: 10px 10px 50px 10px;" word-break: break-all style="font-family: 'Open-Sans', 'Arial', 'sans-serif'; max-width: 800px; word-break: break-all" border="1" cellpadding="20">

    <tr>
        <td>Applicaant</td>
        <td>Status</td>
    </tr>
    <?php foreach ($this->applicants as $key => $user) : ?>
        <tr>
            <td><?= $user['firstname'] ?> <?= $user['lastname'] ?></td>
            <td>
                <?php 
                 foreach($this->status as $index => $status) {
                                if($status[0] == $user['status'] && $status[1] == $user['status_reason'] ) echo $status[2];
                            }
                ?>
            
            </td>
        </tr>
    <?php endforeach; ?>
</table>

</p>

<br>
<p>Top Referrals: 
<ul>
    
    <?php $i = 1 ; foreach ($this->top_referrals as $key => $user) : ?>
            <?= $i. ". " .$user['firstname'] ?> <?= $user['lastname'] ;$i++ ?> <br />
    <?php endforeach; ?>
</ul>
</p>

<br>
<p>Top Channels: </p>
<table bgcolor="#ffffff" align="center" style="padding: 10px 10px 50px 10px;" word-break: break-all style="font-family: 'Open-Sans', 'Arial', 'sans-serif'; max-width: 800px; word-break: break-all" border="1" cellpadding="20">

    <tr>
        <td>Website</td>
        <td>Linkedin</td>
        <td>Facebook</td>
    </tr>
    <tr>
        <td>
            
            <?php
        
        if($this->top_channel['website'] != NULL) {
            echo $this->top_channel['website']['applications'];
        } else {
            echo 0;
        }
            ?>
        </td>
        <td>
            <?php 
                    if($this->top_channel['linkedin'] != NULL) {
            echo $this->top_channel['linkedin']['applications'];
        } else {
            echo 0;
        }
            ?>
          
        </td>
        <td>
             <?php 
                    if($this->top_channel['facebook'] != NULL) {
            echo $this->top_channel['facebook']['applications'];
        } else {
            echo 0;
        }
        ?>
            
        </td>
    </tr>
</table>


<br>
<p>Top 10 Recommenders: </p>
<ul>
 <?php foreach ($this->top_recommenders as $key => $user) : ?>
            <li><?= $user['firstname'] ?> <?= $user['lastname'] ?></li>
    <?php endforeach; ?>
</ul>

