<table style="border:3px solid #ccc">
    <colgroup>
        <col width="10%" style="background-color:#D2E16C;border:3px solid #ccc">
        <col width="30%" style="border:3px solid #ccc">
        <col width="10%" style="border:3px solid #ccc">
        <col width="10%" style="border:3px solid #ccc">
        <col width="40%" style="border:3px solid #ccc">
    </colgroup>
    <thead style="background-color:#ccc">
    <tr>
        <th class="righted padded">
            Job title
        </th>
        <th class="lefted padded">
            Expiry date
        </th>
        <th class="lefted padded">
            Job Role
        </th>
        <th class="lefted padded">
            Job skills
        </th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->data as $key => $job) : ?>
    <tr>
        <td class="lefted padded bordered"><?php echo $job['title'] ; ?></td>
        <td class="lefted padded bordered"><?php echo date('d/m/Y',strtotime($job['end'])) ; ?></td>
        <td class="lefted padded bordered"><?php echo $job['role'] ; ?></td>
        <td class="lefted padded bordered"><?php echo implode(", ", $job['skills']); ?></td>
    </tr>
    <?php endforeach; ?>
    </tbody>
    <tfoot style="background-color:#ccc">
    <tr>
        <td class="righted padded bordered"><?php echo $this->total_count ?></td>
        <td class="lefted padded bordered" colspan="3">jobs</td>
    </tr>
    </tfoot>
</table>