                <table bgcolor="#ffffff" align="center" style="padding: 10px 10px 50px 10px;" word-break:="" break-all="" border="1" cellpadding="20">
    <tbody><tr>
            <th>Campaign</th>
            <th>Place</th> 
            <th>Deadline</th>
        </tr>
        <?php foreach ($this->campaigns as $index => $item) : ?>
            <tr>
                <td><?= $item['campaign_title'] ?></td>
                <td><?= $item['place'] ?> out of <?= $item['total_users'] ?></td>
                <td><?= $item['campaign_deadline'] ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody></table>
