<table bgcolor="#ffffff" align="center" style="padding: 10px 10px 50px 10px;" word-break:="" break-all="" border="1" cellpadding="20">
    <tbody><tr>
            <th>Jobs</th>
            <th>Applicants</th> 
            <th>New Applicants</th>
        </tr>
        <?php foreach ($this->data as $index => $job) : ?>
            <tr>
                <td><?= $job['url'] ?></td>
                <td><?= $job['applicants'] ?></td>
                <td><?= $job['new_applicants'] ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody></table>