<table style="border:3px solid #ccc">
    <colgroup>
        <col width="10%" style="background-color:#D2E16C;border:3px solid #ccc">
        <col width="10%" style="border:3px solid #ccc">
        <col width="50%" style="border:3px solid #ccc">
        <col width="30%" style="border:3px solid #ccc">
    </colgroup>
    <thead style="background-color:#ccc">
    <tr>
        <th class="righted padded">
            Place
        </th>
        <th class="righted padded">
            Points
        </th>
        <th class="lefted padded">
            First Name
        </th>
        <th class="lefted padded">
            Last Name
        </th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($this->data as $index => $user) : ?>
    <tr>
        <td class="righted padded bordered"><?php echo ($index+1) ;  ?></td>
        <td class="righted padded bordered"><?php echo $user['total_points'] ; ?></td>
        <td class="lefted padded bordered"><?php echo $user['firstname'] ; ?></td>
        <td class="lefted padded bordered"><?php echo $user['lastname'] ; ?></td>
    </tr>
    <?php endforeach; ?>
    </tbody>
</table>