<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center ;
            }
        </style>
    </head>
    <body>
        Hi {$username},
        <br />
        <br />
        <br />
        Ready to identify the best professionals in your network? Here are all the opportunities that can benefit <br />
        from your help and the rewards for each of them :) <br />
        Make sure you share the jobs and identify quality candidates to qualify for the awards. <br />

        <br />
        <br />

        <table style="width: 80%">
            <thead>
                <tr>
                    <th width="33%">Job</th>
                    <th width="33%">Reward</th>
                    <th width="33%">Deadline</th>
                </tr>
            </thead>
            <tbody>
                 {foreach from=$jobs key=key item=item}
                <tr>
                    <td>{$item.job_title}</td>
                    <td>
                        {if ($item.job_bounty_file == '')}
                            {$item.job_bounty} &euro;
                        {else}
                        {$item.job_bounty} <br />
                        <img src="https://talentspotting.com/resources/files/bounties/{$item.job_bounty_file}" alt="" />
                            
                        {/if}
                      
                    </td>
                    <td>{$item.job_deadline}</td>
                </tr>


                {/foreach}
            </tbody>
        </table>

        <br />
        <br />
        <b>How does it work? </b>
        Share the opportunities above with your network and identify the best professionals who would qualify for them. <br />
        Track your progress in the Recommendations section of your account. <br />
        <br />
        <br />
        Best of luck, <br />
        Adi <br />
        <br />
        <img src="https://talentspotting.com/resources/files/images/mail_logo.png" width="150" height="80" alt="Talentspotting" />
    </body>
</html>