<table>
    <thead>
        <tr>
            candidate skills
        </tr>
    </thead>
    <tbody>
        <tr>
            {foreach from=$skill key=key item=item}
            <td>{$item.skill}</td>
            {/foreach}
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            Jobs Closing Rate
        </tr>
        <tr>
           <th>DEPARTMENT</th>
           <th>NO OF JOBS</th>
           <th>% OF JOBS CLOSED</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {foreach from=$closing key=key item=item}
            <td>{$item.title}</td>
            <td>{$item.total}</td>
            <td>{{math equation="x/y*100" x=$item.success y=$item.total}|string_format:"%.2f"}} %</td>
            {/foreach}
        </tr>
    </tbody>
</table>


<table>
    <thead>
        <tr>
            Company Overview

        </tr>
        <tr>
           <th>VISITORS</th>
           <th>APPLICANTS</th>
           <th>HIRES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{$company_overview[0].value}</td>
            <td>{$company_overview[1].value}</td>
            <td>{$company_overview[2].value}</td>
        </tr>
    </tbody>
</table>



<table>
    <thead>
        <tr>
            Candidate Applications By Status
        </tr>
        <tr>
             {foreach from=$statuses key=key item=item}
            <th>{$application_status[{$item.status}]}</th>
            {/foreach}
        </tr>
    </thead>
    <tbody>
        <tr>
            {foreach from=$statuses key=key item=item}
            <td>{$item.total}</td>
            {/foreach}
        </tr>
    </tbody>
</table>



<table>
    <thead>
        <tr>
            Referrals By Departments
        </tr>
        <tr>
              {foreach from=$refferals_by_departments key=key item=item}
            <td>{$item.title}</td>
            {/foreach}
        </tr>
    </thead>
    <tbody>
        <tr>
            {foreach from=$refferals_by_departments key=key item=item}
            <td>{$item.total}</td>
            {/foreach}
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            Employee Engagement
        </tr>
        <tr>
             <td>total</td>
             <td>active</td>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>{$engagement['total']}</td>
          <td>{$engagement['active']}</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            Referral by jobs
        </tr>
        <tr>
              {foreach from=$referrals_by_jobs key=key item=item}
            <td>{$item.title}</td>
            {/foreach}
        </tr>
    </thead>
    <tbody>
        <tr>
          {foreach from=$referrals_by_jobs key=key item=item}
            <td>{$item.total}</td>
            {/foreach}
    </tbody>
</table>
