<div class="header-v1">
    {*<section id="header_top" class="hide-below-1024">*}
    {*</section>*}

    <section id="header_bottom">
        <div class="row valign-middle">
          <div class="row robert-bar-header">
            <div class="column col-7-12 language-selector">
                <div class="custom-header-area">
                    {if isset($WPAC_customHeaderText)}
                        {$WPAC_customHeaderText}
                    {/if}
                </div>
                {include file="$tpl_dir./modules/blocklanguages/blocklanguages.tpl"}
                {include file="$tpl_dir./modules/blockcurrencies/blockcurrencies.tpl"}
            </div> 

            <div class="column col-5-12 cart-icon-custom">
                <div class="align-right">
                    <div id="header_cart_wrapper" class="hide-below-1024">
                        {$HOOK_TOP}
                    </div>
                    {*{include file="$tpl_dir./modules/blockuserinfo/blockuserinfo.tpl"}*}
                </div>
            </div>
        </div>
            <div id="logo" class="column col-2-12">
                <a href="{$base_dir}" title="{$shop_name|escape:'htmlall':'UTF-8'}">
                    <img class="logo" src="{$logo_url}" alt="{$shop_name|escape:'htmlall':'UTF-8'}"/>
                </a>
            </div>

            <div id="header_menu" class="column col-7-12 hide-below-1024">
                {hook h='displayHeaderMenu'}
            </div>

            <div id="header_right" class="column col-3-12 t-align-right">
                <div id="header_search_wrapper">
                    {hook h='displayHeaderSearchBlock'}
                </div>


            </div>
        </div>

        <div id="header_mobile_menu" class="soft-hide">
            {hook h='displayHeaderMenu' wpmegamenumobile=true}
        </div>

    </section>
</div>
