
<section id="main-content" style="">
    <section class="wrapper iifuudh">

        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('settings'); ?>
                    </h3>
                </div>
                <div class=" col-sm-9">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table" style="    background: #FFF;
    padding: 15px;">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <div class="_white">
                                <section id="setting-layout">
                                    <form method="POST" enctype="multipart/form-data" id="profile_info" action="">
                                        <div class="row" style="display:none">
                                            <h2><?php echo $this->translate->_("contact_info"); ?></h2>
                                            <div class="col-sm-6">
                                                <div class="form-group ">
                                                    <label for="f-name" class=" control-label"><?php echo $this->translate->_("first_name"); ?></label>
                                                    <input type="text" name="firstname" id="f-name" value="<?php echo $this->user['firstname']; ?>" class="form-control">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="l-name" class=" control-label"><?php echo $this->translate->_("last_name"); ?></label>
                                                    <input type="text" name="lastname" id="l-name" value="<?php echo $this->user['lastname']; ?>" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group ">
                                                    <label for="email" class=" control-label"><?php echo $this->translate->_("email"); ?></label>
                                                    <input type="text" name="email" id="email" value="<?php echo $this->user['email']; ?>" class="form-control">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="Phone" class=" control-label"><?php echo $this->translate->_("phone"); ?></label>
                                                    <input type="text" name="phone" id="phone" value="<?php echo $this->user['phone']; ?>" class="form-control">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="linkedin_link" class=" control-label"><?php echo $this->translate->_("Linkedin URL"); ?></label>
                                                    <input type="text" name="linkedin_link" id="linkedin_link" value="<?php echo $this->user['linkedin_link']; ?>" class="form-control">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="facebook_url" class=" control-label"><?php echo $this->translate->_("facebook_url"); ?></label>
                                                    <input type="text" name="facebook_url" id="facebook_url" value="<?php echo $this->user['facebook_url']; ?>" class="form-control">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="twitter_url" class=" control-label"><?php echo $this->translate->_("twitter_url"); ?></label>
                                                    <input type="text" name="twitter_url" id="twitter_url" value="<?php echo $this->user['twitter_url']; ?>" class="form-control">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="instagram_url" class=" control-label"><?php echo $this->translate->_("instagram_url"); ?></label>
                                                    <input type="text" name="instagram_url" id="instagram_url" value="<?php echo $this->user['instagram_url']; ?>" class="form-control">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="biography" class=" control-label"><?php echo $this->translate->_("biography"); ?></label>
                                                    <input type="text" name="biography" id="biography" value="<?php echo $this->user['biography']; ?>" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h3><?php echo $this->translate->_("profile_info"); ?></h3>
                                            </div>

                                            <div class="col-sm-6">
                                                <!--                                        <div class="form-group ">
                                                                                                                            <label for="headline" class=" control-label"><?php echo $this->translate->_("headline"); ?></label>
                                                                                                                            <input type="text" name="title" id="headline" value="<?php echo $this->user['title']; ?>" class="form-control">
                                                                                                                        </div>-->
                                                <!--                                        <div class="form-group ">
                                                                                                                            <label for="location" class=" control-label">Location</label>
                                                                                                                            <input type="text" name="location" id="location" value="<?php // echo $this->user['location'];    ?>" class="form-control">
                                                                                                                        </div>-->
                                                <?php // echo '<pre>';print_r($this->user);die;  ?>

                                                <div class="form-group">
                                                    <label class="semibold"><?php echo $this->translate->_("Email Signature"); ?></label>
                                                    <textarea name="signature" class="form-control" id="signature"><?php echo $this->user['signature']; ?></textarea>
                                                </div>
                                                <!--                                        <div class="form-group ">
                                                                                                                            <label for="id_city" class=" control-label brain-left-label"><?php echo $this->translate->_("city"); ?></label>
                                                                                                                            <select name="id_city" id="city" class="form-control" placeholder="choose">
                                                                                                                                <option value=""><?php echo $this->translate->_("select_city"); ?></option>
                                                                                <?php foreach ($this->cities as $key => $value): ?>
                                                                                                                                        <option value="<?php echo $key; ?>"<?php echo ($this->user['id_city'] == $key) ? ' selected="selected"' : '' ?>><?php echo $value; ?>
<?php endforeach; ?>
                                                                                                                            </select>
                                                                                                                            <span class="brain-back-drop"></span>
                                                                                                                        </div>-->
                                                <!--                                        <div class="form-group ">
                                                                                                                            <label for="availability" class=" control-label brain-left-label">Availability</label>
                                                                                                                            <select name="availability" id="availability" class="form-control" placeholder="choose">
                                                                                                                                <option value="">Select availability</option>
                                                                                <?php foreach ($this->settings['availability'] as $key => $value): ?>
                                                                                                                                                <option value="<?php echo $key; ?>"<?php echo ($this->user['availability'] == $key) ? ' selected="selected"' : '' ?>><?php echo $value; ?>
<?php endforeach; ?>
                                                                                                                            </select>
                                                                                                                            <span class="brain-back-drop"></span>
                                                                                                                        </div>-->
                                            </div>
                                            <div class="col-sm-6">
                                                <!--                                        <div class="form-group">
                                                                                                                            <label class="semibold">Description</label>
                                                                                                                            <textarea name="description" class="form-control" id="description" cols="30" rows="5"><?php echo $this->user['description']; ?></textarea>
                                                                                                                        </div>-->
                                                <div style="display: none;" class="form-group">
                                                    <label class="semibold"><?php echo $this->translate->_("add_profile_picture"); ?></label>
                                                    <div class="dropzone"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">

                                                <a style="margin-top: 1.7em;width: 10.5em;" href="#" class="btn branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius btn-default submit-profile"><?php echo $this->translate->_("save_info"); ?></a>
                                            </div>
                                        </div>
                                        <hr />
                                        <form method="POST" id="change_password" action>
                                            <div class="row">

                            <div class="col-sm-12">                 <h3><?php echo $this->translate->_("change_password"); ?></h3> </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label class="semibold"><?php echo $this->translate->_("old_password"); ?></label>
                                                        <input type="password" name="original_password" id="old-password" value="" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-sm-3">

                                                    <div class="form-group">
                                                        <label class="semibold"><?php echo $this->translate->_("new_password"); ?></label>
                                                        <input type="password" name="new_password" id="new-password" value="" class=" form-control">
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label class="semibold"><?php echo $this->translate->_("retype_password"); ?></label>
                                                        <input type="password" name="new_password_confirm" id="retype-password" value="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">

                                                    <a style="text-align: left;margin-top: 1.8em;" href="#" class="btn branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius btn-default submit-pwd"><?php echo $this->translate->_("save_new_password"); ?></a>
                                                </div>
                                            </div>

                                        </form>

                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <h3><?php echo $this->translate->_("delete_account"); ?></h3>
                                            </div>

                                            <div class="col-sm-12">
                                                <p><?php echo $this->translate->_("caution_delete"); ?><a class="delete-user-account btn btn-danger" href="/remove-me"><?php echo $this->translate->_("delete_account"); ?></a> </p>
                                            </div>
                                        </div>


                                </section>


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>