<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>-->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"> <?php echo ($this->id > 0) ?  $this->translate->_("edit") : $this->translate->_("add-new");?> <?php echo $this->translate->_("skill");?></h4>
        </div>
        <div class="modal-body">
            <?php echo $this->form;?>
        </div>      
    </div>
</div>
<script>

$(document).ready(function()
{
   $("select.select2").select2();
   $('.select2-selection__rendered').width();
   $('#id_skill').change(function() {
       var height = $('.select2-selection__rendered').height();
       $('.skills-container').height(height);
   })

    var bulk_cv = "<?php echo $this->bulk_cv; ?>";
    $('form.add-bulk-skill').on('submit',function (e) {
        if(bulk_cv == 1)
        {
            var skill_title = $('.select2-search-choice').text();
            skill_title = skill_title.replace(/\s+/g,'');
            e.preventDefault();
            e.stopPropagation();
            var serializedForm = $(this).serializeArray();
            serializedForm.push({'name' : 'title','value':skill_title})
            var data =  JSON.stringify(serializedForm);
            localStorage.setItem("_bulk_skill", data);
            $('.close').click();
            return false;
        }
    })
});
</script>

<script>



    


$(document).ready(function () {

    $('body').on('hidden.bs.modal', '.modal', function ()
    {
        $('.select2-drop-mask').css({'display':'none'})
        $('.select2-drop').css({'display':'none'})
    });


        $("#id_skill").select2({
            tags: "true",
            multiple: true,
            ajax: {
                type: 'POST',
                dataType: 'json',
                url: "/get-skill",
                delay: 250,
                data: function (params) {
                    console.log(params)
                    return {
                        skill: params, // search term
                    };
                },
                results: function (data, page) {
                    // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data
                    console.log(data);
                    console.log(data);
                    id = Object.keys(data);
                    data = Object.values(data);
                    var _results = [];
                    for(var i=0;i<id.length;i++)
                    {
                        var employee = {
                            "id": id[i],
                            "text": data[i]
                        }
                        _results.push(employee);
                        console.log(_results)
                    }
                    return {
                        results: _results
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });
        
     
    });
    function formatRepo (repo) {
            console.log(repo)
            if (repo.loading) return repo.text;

            var markup =
                '<div class="avatar">' +
                '</div>' +
                '<div class="info">' +

                '<div class="col-sm-6">' + repo.full_name + '</div>' +
                '<div class="col-sm-3"><i class="fa fa-code-fork"></i> ' + repo.forks_count + '</div>' +
                '<div class="col-sm-2"><i class="fa fa-star"></i> ' + repo.stargazers_count
            ;

            if (repo.description) {
                markup += '<div>' + repo.description + '</div>';
            }

            markup += '</div></div>';

            return markup;
        }


        function formatRepoSelection (repo) {
            return repo.full_name || repo.text;
        }

    </script>