<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"> <?php echo ($this->id > 0) ?  $this->translate->_("edit") : $this->translate->_("add-new");?> <?php echo $this->translate->_("hobby");?></h4>
        </div>
        <div class="modal-body">
            <?php echo $this->form;?>
        </div>      
    </div>
</div>
<script>
$(function() {
  $("#id_hobby").tagsinput('add', 'hobby');
});
</script>