<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"> <?php echo ($this->id > 0) ?  $this->translate->_("edit") : $this->translate->_("add-new");?> <?php echo $this->translate->_("language");?></h4>
        </div>
        <div class="modal-body">
            <?php echo $this->form;?>
        </div>
    </div>
</div>
<script>
    $(document).ready(function()
    {
        var bulk_cv = "<?php echo $this->bulk_cv; ?>";
        $('form.add-bulk-language').on('submit',function (e) {
            if(bulk_cv == 1)
            {
                e.preventDefault();
                e.stopPropagation();
                var data =  JSON.stringify($(this).serializeArray());
                localStorage.setItem("_bulk_language", data);
                $('.close').click();
                return false;
            }
        })
    });
</script>