<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">
    <section class="wrapper iifuudh">

        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('alerts'); ?>
                    </h3>
                </div>
                <div class=" col-sm-2 col-sm-offset-7">

                        <a class="up-cv"  href="/edit-alert" data-toggle="modal" data-target="#preview-modal"><?php echo $this->translate->_("add_alert"); ?></a>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <div id="resume-header" class="row">
                                <?php foreach ((array) $this->alerts as $alert): ?>
                                    <div class="col-sm-6">
                                        <div class="resume-content">
                                            <div class="br-header">
                                                <h2><?php echo $alert['title']; ?></h2> <a href="/edit-alert?id=<?php echo $alert['id']; ?>" data-toggle="modal" data-target="#preview-modal"><span class="edit-btn branding-border-color-buttons alert-greeen-pen">&#9998;</span></a>
                                                <p><?php echo strtoupper(date("y/m/d", strtotime($alert['created']))); ?><?php // echo strtoupper($alert['reccurence']);    ?></p>

                                            </div>
                                            <div class=" br-resume-content">
                                                <div><strong><?= count($alert['alert_counter']) ?></strong><span class="n-fix"><?php echo count($alert['alert_counter']) > 0 ? "New" : 'Alert' ?></span></div>
                                                <div><a class="br-fix <?php echo count($alert['alert_counter']) > 0 ? "" : 'hidden' ?>" id="view-alert-jobs" data-rel='<?php echo json_encode($alert['alert_counter']) ?>'><?php echo $this->translate->_("view_jobs"); ?></a></div>
                                            </div>
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>