<section id="main-content">
    <section class="wrapper iifuudh">

        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('application_history'); ?>
                    </h3>
                </div>
                <div class=" col-sm-9">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <div>
                                <section id="application-layout">
                                    <div class="row bounty">
                                        <div class="col-sm-6">
                                            <div>
                                                <span><?php echo count($this->job_application_history); ?></span>
                                                <p><?php echo $this->translate->_("number_of_applications"); ?></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div>
                                                <span><?php echo count($this->my_viewed_applications); ?></span>
                                                <p><?php echo $this->translate->_("viewed_applications"); ?></p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <table class="table table-bordered application-table">
                                <thead>
                                <tr>
                                    <th><?php echo $this->translate->_("job"); ?></th>
                                    <th><?php echo $this->translate->_("company"); ?></th>
                                    <th><?php echo $this->translate->_("date"); ?></th>
                                    <th><?php echo $this->translate->_("status"); ?></th>
                                    <!--                                                                                    <th>--><?php //// echo $this->translate->_("actions");    ?><!--</th>-->
                                    <th><?php  echo $this->translate->_("Withdraw Application");    ?></th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach ((array) $this->job_application_history as $history): ?>
                                    <tr>
                                        <td><?php echo $history['title']; ?></td>
                                        <td><?php echo $history['company']; ?></td>
                                        <td><?php echo date("y/m/d, H:i", strtotime($history['date'])); ?></td>
                                        <td><?php
                                            $status = $history['status_reason_public_title'];
                                            if ($history['status_reason_public_title'] == "")
                                                $status = $history['status_public_title'];
                                            echo $status;
                                            ?>
                                        </td>
                                        <!--                                                <td>
                                                                                        <?php if ($history['status'] == 1): ?>
                                                                                                            <a href="/request-interview/?id=<?php echo $history['id']; ?>"><?php echo $this->translate->_("request_interview"); ?></a>
    <?php endif; ?>
                                                                                        </td>                                                      -->
                                        <td>
                                            <a href="/withdraw-application?id=<?php echo $history['id']; ?>" class="btn-del"><i class="fas fa-trash"></i></i</a>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>