    <section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper">
        <!-- page start-->

        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading tab-bg-dark-navy-blue">
                        <ul class="nav nav-tabs nav-justified ">
                            <li class="active">                                
                                <a data-toggle="tab" href="#overview"><?php echo $this->translate->_("current_bounties");?></a>
                            </li>
                            <li>                                
                                <a data-toggle="tab" href="#job-history"><?php echo $this->translate->_("history");?></a>
                            </li>                            
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content tasi-tab">
                            <div id="overview" class="tab-pane active">                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <?php if (!empty($this->current_bounties)):?>
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <?php $i = 0; foreach ($this->current_bounties as $bounty):?>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="heading_<?php echo $bounty['id_bounty'];?>">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<?php echo $bounty['id_bounty'];?>" aria-expanded="true" aria-controls="collapse_<?php echo $bounty['id'];?>"><?php echo $bounty['job'];?> @ <?php echo $bounty['company'];?></a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_<?php echo $bounty['id_bounty'];?>" class="panel-collapse collapse<?php echo ($i == 0) ? ' in':'';?>" role="tabpanel" aria-labelledby="heading_<?php echo $bounty['id_bounty'];?>">
                                                    <div class="panel-body">
                                                        <h3>Bounty details</h3>
                                                        <table class="table table-striped table-hover table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Job</th>
                                                                    <th>Company</th>
                                                                    <th>Amount</th>
                                                                    <th>Date</th>
                                                                    <th>Uploaded Documents</th>
                                                                </tr>
                                                            </thead>                                                  
                                                            <tbody>
                                                                <tr>
                                                                    <td><?php echo $bounty['job'];?></td>
                                                                    <td><?php echo $bounty['company'];?></td>
                                                                    <td><?php echo $bounty['amount'];?></td>
                                                                    <td><?php echo date("d F Y, H:i", strtotime($bounty['date']));?></td>
                                                                    <td>
                                                                        <?php foreach ((array) $this->bounty_files[$bounty['id_bounty']] as $file):?>
                                                                        <a href="/resources/files/payments/<?php echo $file['file'];?>"><?php echo $file['title'];?></a>
                                                                        <hr />
                                                                        <?php endforeach;?>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <h3>Complete Payment</h3>
                                                        <div class="col-md-8">
                                                            <div class="prf-contacts sttng"><h2>Upload documents</h2></div>
                                                            <form role="form" class="form-horizontal" action="/user-bounties?id=<?php echo $bounty['id_bounty'];?>" method="POST" enctype="multipart/form-data">
                                                                <div class="alert alert-success fade in hidden">
                                                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                                                    <strong><?php echo $this->translate->_("well-done");?>!</strong> <?php echo $this->translate->_("profile-updated-successfully");?>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <input type="file" id="exampleInputFile" name="documents[]" multiple="" class="file-pos"><br />                                                                        
                                                                        <p><?php echo $this->translate->_("upload_documents_info");?></p>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-lg-offset-2 col-lg-10">
                                                                        <button class="btn btn-primary" type="submit"><?php echo $this->translate->_("save");?></button>
                                                                        <button class="btn btn-default" type="button"><?php echo $this->translate->_("cancel");?></button>
                                                                    </div>
                                                                </div>                                        
                                                            </form>
                                                        </div>                                                        
                                                        <div class="col-md-4">
                                                            <div class="prf-contacts sttng"><h2>Download documents</h2></div>
                                                            <?php foreach ($this->documents as $document):?>
                                                            <a href="/download-document?id=<?php echo $document['id'];?>&id_bounty=<?php echo $bounty['id_bounty'];?>"><?php echo $document['title'];?></a><hr />
                                                            <?php endforeach;?>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                            <?php $i++; endforeach;?>
                                        </div>
                                        <?php else:?>
                                        <h4>There are no bounties to collect available</h4>
                                        <?php endif;?>
                                    </div>
                                </div>
                            </div>
                            <div id="job-history" class="tab-pane ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <?php if (!empty($this->bounty_history)):?>
                                        <table class="table table-striped table-hover table-bordered" id="dynamic-table">
                                            <thead>
                                                <tr>
                                                    <th>Job</th>
                                                    <th>Company</th>
                                                    <th>Amount</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php foreach ((array) $this->bounty_history as $item):?>
                                                <tr class="">
                                                    <td><?php echo $item['job'];?></td>
                                                    <td><?php echo $item['company'];?></td>
                                                    <td><?php echo $item['amount'];?> EUR</td>
                                                    <td><?php echo date("d F Y, H:i", strtotime($item['date']));?></td>
                                                    <td><?php echo ucwords($item['status']);?></td>
                                                </tr>                                
                                                <?php endforeach;?>
                                            </tbody>
                                        </table>
                                        <?php else:?>
                                        <h4>There are no bounties collected yet</h4>
                                        <?php endif;?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
        </section>
    </section>
    <!--main content end-->
</section>