<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>

<style>
    /*section#container{display: none}*/
    body{
        margin-top:20px;
        background:#eee;
    }
    .row.row-broken {
        padding-bottom: 0;
    }
    .col-inside-lg {
        padding: 20px;
    }
    .chat {
        height: calc(100vh - 180px);
    }
    .decor-default {
        background-color: #ffffff;
    }
    .chat-users h6 {
        font-size: 20px;
        margin: 0 0 20px;
    }
    .chat-users .user {
        position: relative;
        padding: 0 0 0 50px;
        display: block;
        cursor: pointer;
        margin: 0 0 20px;
    }
    .chat-users .user .avatar {
        top: 0;
        left: 0;
    }
    .chat .avatar {
        width: 40px;
        height: 40px;
        position: absolute;
    }
    .chat .avatar img {
        display: block;
        border-radius: 20px;
        height: 100%;
        width: 40px;
    }
    .chat .avatar .status.off {
        border: 1px solid #5a5a5a;
        background: #ffffff;
    }
    .chat .avatar .status.online {
        background: #4caf50;
    }
    .chat .avatar .status.busy {
        background: #ffc107;
    }
    .chat .avatar .status.offline {
        background: #ed4e6e;
    }
    .chat-users .user .status {
        bottom: 0;
        left: 28px;
    }
    .chat .avatar .status {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        position: absolute;
    }
    .chat-users .user .name {
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .chat-users .user .mood {
        font: 200 14px/20px "Raleway", sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /*****************CHAT BODY *******************/
    .chat-body h6 {
        font-size: 20px;
        margin: 0 0 20px;
    }
    .chat-body .answer.left {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }
    .chat-body .answer {
        position: relative;
        max-width: 600px;
        overflow: hidden;
        clear: both;
    }
    .chat-body .answer.left .avatar {
        left: 0;
    }
    .chat-body .answer .avatar {
        bottom: 36px;
    }
    .chat .avatar {
        width: 40px;
        height: 40px;
        position: absolute;
    }
    .chat .avatar img {
        display: block;
        border-radius: 20px;
        height: 100%;
    }
    .chat-body .answer .name {
        font-size: 14px;
        line-height: 36px;
    }
    .chat-body .answer.left .avatar .status {
        right: 4px;
    }
    .chat-body .answer .avatar .status {
        bottom: 0;
    }
    .chat-body .answer.left .text {
        background: #ebebeb;
        color: #333333;
        border-radius: 8px 8px 8px 0;
    }
    .chat-body .answer .text {
        padding: 12px;
        font-size: 16px;
        line-height: 26px;
        position: relative;
    }
    .chat-body .answer.left .text:before {
        left: -30px;
        border-right-color: #ebebeb;
        border-right-width: 12px;
    }
    .chat-body .answer .text:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        border: 18px solid transparent;
        border-bottom-width: 0;
    }
    .chat-body .answer.left .time {
        padding-left: 12px;
        color: #333333;
    }
    .chat-body .answer .time {
        font-size: 16px;
        line-height: 36px;
        position: relative;
        padding-bottom: 1px;
    }
    /*RIGHT*/
    .chat-body .answer.right {
        padding: 0 58px 0 0;
        text-align: right;
        float: right;
    }

    .chat-body .answer.right .avatar {
        right: 0;
    }
    .chat-body .answer.right .avatar .status {
        left: 4px;
    }
    .chat-body .answer.right .text {
        background: #7266ba;
        color: #ffffff;
        border-radius: 8px 8px 0 8px;
    }
    .chat-body .answer.right .text:before {
        right: -30px;
        border-left-color: #7266ba;
        border-left-width: 12px;
    }
    .chat-body .answer.right .time {
        padding-right: 12px;
        color: #333333;
    }

    /**************ADD FORM ***************/
    .chat-body .answer-add {
        clear: both;
        position: relative;
        margin: 20px -20px -20px;
        padding: 20px;
        background: #46be8a;
    }
    .chat-body .answer-add input {
        border: none;
        background: none;
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        padding: 0;
        color: #ffffff;
    }
    .chat input {
        -webkit-appearance: none;
        border-radius: 0;
    }
    .chat-body .answer-add .answer-btn-1 {
        background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-40.png") 50% 50% no-repeat;
        right: 56px;
    }
    .chat-body .answer-add .answer-btn {
        display: block;
        cursor: pointer;
        width: 36px;
        height: 36px;
        position: absolute;
        top: 50%;
        margin-top: -18px;
    }
    .chat-body .answer-add .answer-btn-2 {
        background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-41.png") 50% 50% no-repeat;
        right: 20px;
    }
    .chat input::-webkit-input-placeholder {
        color: #fff;
    }

    .chat input:-moz-placeholder { /* Firefox 18- */
        color: #fff;
    }

    .chat input::-moz-placeholder {  /* Firefox 19+ */
        color: #fff;
    }

    .chat input:-ms-input-placeholder {
        color: #fff;
    }
    .chat input {
        -webkit-appearance: none;
        border-radius: 0;
    }
    .load-more-center {
        margin: 0 auto;
        text-align: center;
    }
</style>

<section id="main-content">
    <section class="wrapper iifuudh">
        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('Chat'); ?>
                    </h3>
                </div>
                <div class=" col-sm-9">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <div class="content container-fluid bootstrap snippets">
                                <div class="row row-broken">
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
                                            <div class="chat-users">
                                                <h6>Online</h6>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
                                        <div class="col-inside-lg decor-default chat-render-template">

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
<?php echo $this->minimize_me ?>
<script src="https://socket.talentspotting.com/socket.io/socket.io.js"></script>
<script>
    var user = "<?php echo $this->me ?>"
    var socket = io.connect('https://socket.talentspotting.com',{ query: '_data='+user });
    socket.on('connect',function(){
        // Send ehlo event right after connect:
        console.log('cccccc')
        socket.emit('getConnectedUsers',user);
        if (localStorage.getItem("user") != null) {
            console.log('refresh handle')
            var last_user = JSON.parse(localStorage.getItem("user"))['id_user'];
            getChatTemplate(last_user);(last_user);
        }
    });

    socket.on('disconnected_user',function(data){
        // Send ehlo event right after disconnect:
        console.log('disconnected_user',data.user.id_user)
        $('.user[data-id-user="'+data.user.id_user+'"]').remove()
    });

    socket.on('connected_user',function(data){
        data = data.user;
        // Send ehlo event right after connect:
        var full = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');

        var img = full+'/resources/files/user/'+data._data.image;
        if(data._data.image == null || data._data.image == ""){
            img = full+'/resources/admin/images/no-picture.jpg';
        }
        console.log('connected_user',data)
        if(minimize_me.id == data.id_user ) return false;

        var template = '<div data-id-user="'+data._data.id+'" class="user">\n' +
            '                        <div class="avatar">\n' +
            '                            <img src="'+img+'" ' +
            '                               alt="User name">\n' +
            '                            <div class="status online"></div>\n' +
            '                        </div>\n' +
            '                        <div class="name">'+data._data.firstname+' '+data._data.lastname+'</div>\n' +
            '                        <div class="mood">Online</div>\n' +
            '                    </div>';
        $('.chat-users').append(template)
    });

    socket.on('hello',function(data){
        // Send ehlo event right after connect:
        console.log('getConnectedUsers',data.ConnectedUsers)

        var template = "";
        var full = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
        data.ConnectedUsers.map(function (value, key) {
            var hideMe = "";
            if(minimize_me.id == value._data.id ) hideMe += 'display:none;';
            console.log(value)
            var img = full+'/resources/files/user/'+value._data.image;
            if(value._data.image == null || value._data.image == ""){
                img = full+'/resources/admin/images/no-picture.jpg';
            }
            template += '<div style="'+hideMe+'" data-id-user="'+value._data.id+'" class="user">\n' +
                '                        <div class="avatar">\n' +
                '                            <img src="'+img+'" ' +
                '                               alt="User name">\n' +
                '                            <div class="status online"></div>\n' +
                '                        </div>\n' +
                '                        <div class="name">'+value._data.firstname+' '+value._data.lastname+'</div>\n' +
                '                        <div class="mood">Online</div>\n' +
                '                    </div>';

        })
        $('.chat-users').append(template)
        console.log(template)
    });
    function getChatTemplate(id_user) {
        $.ajax({
            url: '/users/index/get-chat-template',
            type: 'POST',
            data: {id_user: id_user},
            success: function (data) {
                $('.chat-render-template').html(data).fadeIn('fast');
                localStorage.setItem('user', JSON.stringify({id_user: id_user}));
            }

        })
    }

</script>