<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"> <?php echo ($this->id > 0) ?  $this->translate->_("edit") : $this->translate->_("add-new");?> <?php echo $this->translate->_("position");?></h4>
        </div>
        <div class="modal-body">
            <?php echo $this->form;?>
        </div>      
    </div>
</div>
<script>
    
//     function customDropDepartment() {
//         var value = $('select#id_department').next().find('.select2-search__field').val();
//         var source = 'departments';
// //        if(confirm("Are you sure for adding custom city to your company ?")) {
//             $.ajax({
//                 data: {value: value, source: source},
//                 method: "POST",
//                 url: "/ajax/index/custom-cities",
//                 success: function (data) {
//                     console.log(data);
//                     data = jQuery.parseJSON(data);
//                     data.source = 'departments';
//                     switch (data.source) {
//                         case "departments" :
//                             var option = new Option(data.title, data.id);
//                             option.selected = true;
//                             $("#id_department").append(option);
//                             $("#id_department").trigger("change");
//                             $('select#id_department').next().find('.select2-search__field').val("")
//                             break;
//
//                     }
//
//                 }
//             })
// //        }
//         }
    
$(document).ready(function()
{
   $("select.select2-input").select2();
        //     $("select.custom_departments").select2({
        //     width: "auto",
        //     dropdownAutoWidth: true,
        //     maximumSelectionLength: 1,
        //     "language": {
        //         "noResults": function () {
        //             return "No Results Found  <a onClick='customDropDepartment()' href='javascript:;' class='btn add-br-mrgn add-br pull-right'>Add New</a>";
        //         }
        //     },
        //     escapeMarkup: function (markup) {
        //         return markup;
        //     },
        // });

    var bulk_cv = "<?php echo $this->bulk_cv; ?>";
    $('form.add-bulk-position').on('submit',function (e) {
        if(bulk_cv == 1)
        {
            e.preventDefault();
            e.stopPropagation();
            var data =  JSON.stringify($(this).serializeArray());
            localStorage.setItem("_bulk_position", data);
            $('.close').click();
            return false;
        }
    })
});


</script>