<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><?php echo $this->translate->_("import_cv_details");?></h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form role="form" class="form-horizontal ajaxform" action="/import-cv" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">CV URL</label>
                        <div class="col-lg-6">
                            <input type="text" id="url" required="" name="url" class="form-control" />
                            <small><?php echo $this->translate->_("import_cv_links");?></small>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-primary" type="submit"><?php echo $this->translate->_("save");?></button>
                            <button class="btn btn-default close-modal" type="button"><?php echo $this->translate->_("cancel");?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>      
    </div>
</div>