<style type="text/css">
    .panel {
        width: 800px;
        margin: 100px auto;
    }
</style>
<!--<section id="main-content" class="import_users_file" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">-->
<section class="wrapper">
    <!--mini statistics start-->

    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">Import Linkedin Connections</header>
                <div class="panel-body">
                    <form class="cmxform form-horizontal" method="POST" action="/users/index/linkedin-connections" enctype="multipart/form-data">
                        <input name="file" type="file" class="fffl" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="close" data-dismiss="modal">Close</button>
                    <input type="submit" id="import-linkedin-connections" class="btn btn-default" value="save">
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>
</section>
<script type="text/javascript">
$(document).ready(function() {
    $('#import-linkedin-connections').on('click',function() {
        $('form.cmxform').submit();
        $('#close').click();
    })
});


</script>

