<div class="modal-content render-job-alert" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title br-title">Job Alerts</h4>
    </div>
    <div class="modal-body">
        <div id="render-data">
            test
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>