<section id="main-content">

    <style>
        a > img.lang_img {
            border-radius: 0px;
            width: 18px;
            -webkit-border-radius: 0px;
        }
    </style>

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background: transparent;
            font-family: Helvetica, sans-serif;
        }

        #about-content {
            overflow-wrap: break-word;
            width: 16em;
        }

        .language-title {
            font-family: "Font Awesome 5 Free"!important;
        }

        .language-rating {
            font-family: "Font Awesome 5 Free"!important;
        }

        #hidee , #hide1, #id_applications{
            margin-left: 1em;
        }

        #id_applications {
            margin-left: 2em;
        }

        /* The actual timeline (the vertical ruler) */
        #timeline {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
            /*max-height: 750px;*/
            overflow: auto;
        }

        .education-date{
            font-weight: bold;
        }

        #agargargagararhsh,#aefpaignarpgangaiprgnapg {
            line-height: 34px;
            font-size: 18px;
            padding: 6px;
            top: 70px;
            position: absolute;
        }

        #agargargagararhsh{
            left: 0;
            top: 42px;
        }

        #aefpaignarpgangaiprgnapg{
            right: 0;
            top: 42px;
        }

        #contact {
            display: inline-block;
        }

        .edit-btn {
            background: #FFF;
            border: 2px solid #7dcc93;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            width: 24px;
            height: 24px;
            float: left;
            cursor: pointer;
            /*    display: inline-block;
                margin-left: 10px;*/
        }
        /*.edit-btn:before {
            content: "";
            display: inline-block;
            background-image: url("/resources/frontend/css/theme/icons/edit-btn.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 12px;
            height: 12px;
            position: relative;
            top: 0px;
            vertical-align: middle;
            text-align: center;
            right: -4px;
        }*/

        .delete-btn {
            /*background: red;*/
            border: 2px solid red;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            width: 24px;
            height: 24px;
            display: inline-block;
            margin-left: 10px;
            position: absolute;
            /*top: 40px;*/
            /*right: 5px;*/
            padding-left: 10px;
            cursor: pointer;
        }
        /*.delete-btn:before {
            content: "";
            display: inline-block;
            background-image: url("/resources/frontend/images/delete.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            vertical-align: middle;
            text-align: center;
        }*/

        #id_applications {
            display: flex

        }


        .cleared{
            clear: both;
            border-top: 1px solid #ccc;
        }

        .cv-part{

        }
        .cv-part > h5{
            color:white;
            font-weight: 600;
            padding: 5px 50px;
        }

        .desktop-container {
            background: #ffffffe8;
        }

        /* The actual timeline (the vertical ruler) */
        #timeline::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: white;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }

        /* Container around content */
        .acontainer {
            padding: 10px 40px;
            position: inherit;
            background-color: inherit;
            width: 50%;
        }

        /* The circles on the timeline */
        .acontainer::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -13px;
            background-color: white;
            border: 4px solid #3AC5D9;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
        }

        .glyphicon-plus-fix{
            margin-right: 5px;
            margin-left: 5px;
        }

        /* Place the container to the left */
        .aleft {
            left: 0;
        }

        /* Place the container to the right */
        .aright {
            left: 50%;
            width: auto;
            left: 50%;
            margin-right: 45%;
        }

        #linkedin{
            background-color: #0077B5;
            color: white;
            /*        position: absolute;
                    bottom: 15px;
                    left: 2em;*/
        }

        .lefted{
            float: left;
        }

        .righted{
            float: right;
        }

        .cv-element >ul{
            list-style: none;
            padding: 0;
            font-size: 12px;
            /*text-transform: lowercase;*/
        }

        /* Add arrows to the left container (pointing right) */
        .aleft::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid white;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent white;
        }

        /* Add arrows to the right container (pointing left) */
        .aright::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }

        /* Fix the circle for containers on the right side */
        .aright::after {
            left: -12px;
        }

        /* The actual content */
        .content {
            padding: 20px 30px;
            background-color: white;
            position: relative;
            border-radius: 6px;
        }

        /* Media queries - Responsive timeline on screens less than 600px wide */
        @media screen and (max-width: 600px) {
            /* Place the timelime to the left */
            #timeline::after {
                left: 31px;
            }

            /* Full-width containers */
            .acontainer {
                width: 100%;
                padding-left: 70px;
                padding-right: 25px;
            }

            /* Make sure that all arrows are pointing leftwards */
            .acontainer::before {
                left: 60px;
                border: medium solid white;
                border-width: 10px 10px 10px 0;
                border-color: transparent white transparent transparent;
            }

            /* Make sure all circles are at the same spot */
            .aleft::after, .aright::after {
                left: 15px;
            }

            /* Make all right containers behave like the left ones */
            .aright {
                left: 0%;
            }
        }

        .pui a p {
            border-radius: 0px;
            border: 0 transparent;
            height: 42px!important;
            font-size: large!important;
            padding-top: 10px!important;
        }

        #ljobname{
            font-weight: bold;
        }
    </style>
    <style>

        .education-element {
            text-align: right;
            margin: 15px 0px;
        }

        .skill-rating {
            font-family: "Font Awesome 5 Free"!important;

        }

        .language-rating {
            font-family: "Font Awesome 5 Free"!important;

        }

        #profile-main {
            /*background: white;*/
        }

        .reason-box {
            width: 100%;
            display: -webkit-box;
            padding-right:5em;
            background: #00e9ff;
            text-align: center;
            height: 35px;

        }

        .reason-container {
            display: flex;
        }



        .skills-title {
            display: flex;
        }

        .plgoar {
            padding-top: 7px;
            -webkit-margin-before: 0em;
        }

        .fagragas {
            width: var(--size);
            display:flex;
            position: absolute;
        }
        .arrow-right {
            width: 0px;
            height: 0px;
            border-top: 1.3em solid transparent;
            border-bottom: 1.3em solid transparent;
            border-left: 1em solid green;
            background: #00e9ff;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .prof-main {
            margin-left: 0!important;
            margin-top: 1em!important;

        }

        #profile-header {
            display: flex;
            height: fit-content;
            min-height: 22em;
            margin-bottom: 1em;
        }

        #profile-main {
            /*border-top: 2px solid gray;*/
            padding-top: 2.3em;
            margin-left: 16em;
            margin-top: 0px;
            margin-right: 2em;
            margin-bottom: 2em;
            /*box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.16);*/
        }

        .profile-picture {
            border: 0.3em solid;
            border-color: gainsboro;
            height: 18em;
            object-fit: cover;
            width: 12em;
        }

        .language-rating {
            padding: 4px;
        }

        .SDFA {
            padding-top: 2em;
            width: 18%;
            height: 100%;
            padding-left: 2%;
        }

        .srgrhsr {
            width: 80%;
            padding-left: 1em;
            padding-top: 1em;
            position: relative;
        }

        .srgrhsr > h1 > h1 {
            /*color:#3AC5D9;*/
            color:#2c3d51;
            font-size: 40px;
            font-weight: 800;
        }

        .quarters{
            width:75%;
            height: 34px;
            padding: 4px;
            font-weight: 600;
        }


        #profile-industries {
            display: flex;
            height: 19em;
            margin-left: 5%;
            margin-right: 5%;
            /*border-top: 1px solid #ccc;*/
            /*border-bottom: 1px solid #ccc;*/
        }

        .asdafe {
            width: 33%;
        }

        .aafaeagar {
            padding-top: 16.5%;
            padding-left: 10px;
        }

        #profile-content {
            display:flex;
            padding-top:2em;
            display: flex;
            background: white;
            height: auto;
            padding-left: 2em;
        }

        .agragar{
            width: 40%;
        }

        .profile-message{
            margin-top: 14px;
            font-size: x-large;
        }

        #social {

            display: -webkit-inline-box;
        }

        ._123 {
            position: absolute!important;
            width: 100%!important;
            top: 0!important;
            height: 100%!important;
            margin-left: 0px!important;
            left: 0!important;
        }


        .laegome {
            margin-left: 1em;
            margin-right: 1em;
            width: 60%;
            position: relative;
            /* border-radius: 15%; */
            background-color: #2c3d51;
            border-radius: 4px;
            /*        border: 1em blanchedalmond;
                    border-style: dashed;*/
        }

        .social-picture {
            width: 1.5em;
            height: 1.5em;
            margin-right: 4em;
        }

        .contact-title > h3,.about-title > h3,.social-title > h3,.skills-title > h3,.language-title > h3{
            color: #333333;
            line-height: 19px;
            font-weight: 600;
            float: left;
            width: 90%;
        }


        .contact-title > a:hover,.about-title > a:hover,.social-title > a:hover,.skills-title > a:hover,.language-title > a:hover{
            color: #b2494c;
            font-size: 18px;
        }

        .cv-title >h3{
            color: white;
            line-height: 19px;
            font-weight: 600;
        }

        #nextprof , #prevprof {
            /*border: 3px solid black;*/
            border-radius: 25%;
            padding: 7px;
            margin: -9px 5px 0;
        }

        a {
            color: black;
        }

        .form-control {
            width: 100%;
        }

        .social_child {
            display: flex;
        }

        .contact_child {
            display: flex;
        }

        .aeagaeag {
            width: 25%;
            text-align: left;
            padding: 4px 4px 4px 0;
        }

        .cv-title {
            text-align: center;
        }

        .cv-element {
            margin: 15px 0px;
        }

        #pom {
            margin-left: 2%;
        }

        .asdp {
            font-size: 24px!important;
            margin-top: 0.5%!important;
            margin-left: -1.6%!important;
        }

        .pgagae {
            border-right: 3px solid black;
            width:50%;
            height:auto;
        }

        .gabefi {
            width:50%;
            height: 500px;
        }

        .ppp:hover {
            background: #3ac5d9 !important;
            border-color: #3ac5d9 !important;
        }

        .overflow {
            max-height: -webkit-fill-available;
            overflow: auto;
        }

        .highcharts-credits{
            opacity:0!important;
        }

        .hraha {
            padding-top:2em;
            margin-top: 3em;
            border-top: 3px solid white;
            height: 90%;
            margin-left: 2em;
            margin-right: 2em;
        }

        .job-date {
            font-weight: bold;
        }

        .job-descriere {
            overflow-wrap: break-word;
        }

        .skill-container {
            display: flex;
            width: 100%;
            vertical-align: middle;
            line-height: 34px;
        }

        .fa {
            font-family: "Font Awesome 5 Free"!important;

        }

        .fa-star:before{
            margin: 0 5px;
            font-size:24px;
        }

        .skill-rating {
            padding:4px;
        }

        .checked {
            color: orange;
        }

        .skill-name {
            width: 50%;
            text-align: left;
        }

        .language-container {
            display: flex;
        }

        .language-name {
            width: 50%;
            text-align: left;
            padding: 5px 0;
        }

        .language-title {
            display: flex;
        }



        .grnagiangriarg
        {
            padding-left: 0px;
            padding-bottom: 10px;
        }

        .edit-btn {
            padding: 0;
            color: #7dcc93;
            font-size: 18px;
        }

        .iconz {
            border: 2px solid #555;
            position: absolute;
            top: 0;
            margin-top: 1em;
            /* font-size: 24px; */
            margin-left: 70%;
            /* padding: 0.5em; */
            /* border-radius: 100%; */
            font-size: 24px!important;
            height: auto;
            padding: 5px;
        }

        .iconz .fa-exclamation-circle{
            margin-top: -12px!important;
            margin-left: -14px!important;
            z-index: 999999;
            position: absolute;
        }

        .skill-container .delete-btn, .language-container .delete-btn{
            height: 34px;
            margin-right: 10px;
            padding: 2px;
            margin-left: 0;
        }

        .delete-btn {
            padding: 0 2px;
            color: red;
            font-size: 18px;
        }

        .div-education {
            float: right;
            margin-right:2.8em;
        }

        .div-job {
            float: left;
            height: 24px;
            vertical-align: middle;
            margin: 15px 0;
        }

        .social-logo {
            height: 25px;
            width: 25px;
        }

        .social-element {
            display: flex;
        }

        .img-div {
            width: 5em;
            height: 34px;
            vertical-align: middle;
            padding: 4px 4px 4px 0;
            text-align: left;
        }

        #skillsss {
            margin-left: 0;
        }

        #social {
            /*margin-left: 2em;*/
            margin-left:0;
        }

        #contact {
            /*margin-left:2.5em;*/
            margin-left:0;
        }

        #language123 {
            margin-left: 0;
        }

        .delete-btn {
            position: inherit;
        }

        .social-link{
            padding: 6px 4px;
            width: 75%;
            font-weight: 600;
        }

        #aagargarga {
            display: none;
            bottom: 0;
            right: 0;
            margin-right: 0.5em;
            /* position: fixed!important; */
            margin-top: 1px;
            padding-top: 0.5em;
            /* padding-bottom: 0.5em; */
            margin-bottom: 5em;
            /* background-color: #38a8d1; */
            color: white;
            font-size: 18px;
            z-index: 1;
        }

        .notes {
            display: none;
            background: antiquewhite;
            width: fit-content;
            padding: 5%;
            /* border: 2px solid #555; */
            border-radius: 0;
            height: fit-content;
            margin-left: -65%;
            position: relative;
            margin-top: 5px;
        }

        .notes > span {
            display: -webkit-box;
            font-size: small;
            margin-bottom: 0.4em;


        }

        .opacity {
            filter: brightness(35%);
            cursor: not-allowed;
        }

        .notes p {
            max-width: 200px;
            min-width: 200px;

            overflow-wrap: break-word;
        }

        .gender {
            display: flex;
            position: absolute;
        }

        .gender div {
            background: grey;
            border: 2px solid grey;
            padding: 0.4em;
            text-align: center;
            width: 7em;

        }

        .fa-exclamation-circle:hover .notes {
            display: block;
        }

        .rectangle .notes {
            display: block;
        }

        .notes{
            color: #828282;
        }

        #about-section {
            margin-top: 2.5em;

        }

        .gender_select {
            background: #3ac5d9 !important;
            border-color: #3ac5d9 !important;
        }

        .aaagarg_description{
            position: absolute;
            margin-left: 7%;
            margin-top: 14.5%;
        }

        .reward-data{
            min-height: 142px;
        }


        .triangle-right {
            width: 0;
            height: 0;
            border-top: 25px solid transparent;
            border-left: 20px solid #555;
            z-index: 999;

            border-bottom: 25px solid transparent;
        }

        .fa-exclamation-circle{
            position: absolute;
            font-size: 30px;
            margin-top: 0.2%;
            margin-left: -1.5%;
            color: #fff;
            z-index: 99999;
        }

        .tr-right {
            position: absolute;
            border-left: 19px solid white!important;
            margin-left: 102px;
            z-index: 0;
            margin-left: 11.2%;
        }

        #profile_status_navbar {
            display: flex;
            margin-left: 2em;
            margin-right: 2em;
            background: #d9e3f7;

        }

        .zapp:after {
            content: " ";
            position: absolute;
            top: 0;
            right: -17px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid #7c7d81;
            z-index: 50;
            transition: border-color 0.2s ease;
        }


        .zselect:after {
            content: " ";
            position: absolute;
            top: 0;
            right: -17px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid #3ac5d9;
            z-index: 50;
            transition: border-color 0.2s ease;
        }


        .zselect {
            background: #3ac5d9!important;
        }

        .bselect:after {
            content: " ";
            position: absolute;
            top: 0;
            right: -17px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid #21d521;
            z-index: 50;
            transition: border-color 0.2s ease;
        }


        .bselect {
            background: #21d521!important;
        }

        .zapp {
            font-size: 14px;
            text-align: left;
            color: #666;
            width: -webkit-fill-available;
            height: 35px;

            cursor: default;
            margin: 0 3px;
            padding: 0px 10px 10px 30px;
            float: left;
            position: relative;
            background-color: #7c7d81;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: background-color 0.2s ease;}

        .tr-text {
            overflow-wrap: break-word;
            color: white;
        }

        .tr-text >p{
            margin:0!important;
        }

        .status-days{
            font-size: 10px;
        }

        .zapp:before {
            right: auto;
            left: 0;
            border-left: 17px solid #fff;
            z-index: 0;
            content: " ";
            position: absolute;
            top: 0;
            right: -17px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid white;
            z-index: 15;
            transition: border-color 0.2s ease;
        }

        .profile-message {
            margin-left: 2em;

        }


        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            margin-left: 46%;
            margin-top: 15%;
        }

        ._asdagarg {
            background-color: #80808b;
            z-index: 100;
            top:0;
            left:0;
            width:100%;
            height:100%;
            position:fixed;
        }

        .

        .ljobdep{
            font-weight: bold;
        }

    </style>

    <form method="POST" enctype="multipart/form-data" id="upload_cv">
        <input name="cv" type="file" id="cv" class="hidden" />
    </form>



    <!--Main Content-->

    <!--End View-->

    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content render-job-alert">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title br-title"><?php echo $this->translate->_("job_alerts"); ?></h4>
                </div>
                <div id="render-job-alert" class="modal-body">
                    <div id="render-data">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-close" data-dismiss="modal"><?php echo $this->translate->_("close"); ?></button>
                </div>
            </div>

        </div>
    </div>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background: transparent;
            font-family: Helvetica, sans-serif;
        }

        #about-content {
            overflow-wrap: break-word;
            width: 16em;
        }

        .language-title {
            font-family: "Font Awesome 5 Free"!important;
        }

        .language-rating {
            font-family: "Font Awesome 5 Free"!important;
        }

        #hidee , #hide1, #id_applications{
            margin-left: 1em;
        }

        #id_applications {
            margin-left: 2em;
        }

        /* The actual timeline (the vertical ruler) */
        #timeline {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
            /*max-height: 750px;*/
            overflow: auto;
        }

        .education-date{
            font-weight: bold;
        }

        #agargargagararhsh,#aefpaignarpgangaiprgnapg {
            line-height: 34px;
            font-size: 18px;
            padding: 6px;
            top: 70px;
            position: absolute;
        }

        #agargargagararhsh{
            left: 0;
            top: 42px;
        }

        #aefpaignarpgangaiprgnapg{
            right: 0;
            top: 42px;
        }

        #contact {
            display: inline-block;
        }

        .edit-btn {
            background: #FFF;
            border: 2px solid #7dcc93;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            width: 24px;
            height: 24px;
            float: left;
            cursor: pointer;
            /*    display: inline-block;
                margin-left: 10px;*/
        }
        /*.edit-btn:before {
            content: "";
            display: inline-block;
            background-image: url("/resources/frontend/css/theme/icons/edit-btn.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 12px;
            height: 12px;
            position: relative;
            top: 0px;
            vertical-align: middle;
            text-align: center;
            right: -4px;
        }*/

        .delete-btn {
            /*background: red;*/
            border: 2px solid red;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            width: 24px;
            height: 24px;
            display: inline-block;
            margin-left: 10px;
            position: absolute;
            /*top: 40px;*/
            /*right: 5px;*/
            padding-left: 10px;
            cursor: pointer;
        }
        /*.delete-btn:before {
            content: "";
            display: inline-block;
            background-image: url("/resources/frontend/images/delete.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: relative;
            vertical-align: middle;
            text-align: center;
        }*/

        #id_applications {
            display: flex

        }


        .cleared{
            clear: both;
            border-top: 1px solid #ccc;
        }

        .cv-part{

        }
        .cv-part > h5{
            color:white;
            font-weight: 600;
            padding: 5px 50px;
        }

        .desktop-container {
            background: #ffffffe8;
        }

        /* The actual timeline (the vertical ruler) */
        #timeline::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: white;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }

        /* Container around content */
        .acontainer {
            padding: 10px 40px;
            position: inherit;
            background-color: inherit;
            width: 50%;
        }

        /* The circles on the timeline */
        .acontainer::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -13px;
            background-color: white;
            border: 4px solid #3AC5D9;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
        }

        .glyphicon-plus-fix{
            margin-right: 5px;
            margin-left: 5px;
        }

        /* Place the container to the left */
        .aleft {
            left: 0;
        }

        /* Place the container to the right */
        .aright {
            left: 50%;
            width: auto;
            left: 50%;
            margin-right: 45%;
        }

        #linkedin{
            background-color: #0077B5;
            color: white;
            /*        position: absolute;
                    bottom: 15px;
                    left: 2em;*/
        }

        .lefted{
            float: left;
        }

        .righted{
            float: right;
        }

        .cv-element >ul{
            list-style: none;
            padding: 0;
            font-size: 12px;
            /*text-transform: lowercase;*/
        }

        /* Add arrows to the left container (pointing right) */
        .aleft::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid white;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent white;
        }

        /* Add arrows to the right container (pointing left) */
        .aright::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }

        /* Fix the circle for containers on the right side */
        .aright::after {
            left: -12px;
        }

        /* The actual content */
        .content {
            padding: 20px 30px;
            background-color: white;
            position: relative;
            border-radius: 6px;
        }

        /* Media queries - Responsive timeline on screens less than 600px wide */
        @media screen and (max-width: 600px) {
            /* Place the timelime to the left */
            #timeline::after {
                left: 31px;
            }

            /* Full-width containers */
            .acontainer {
                width: 100%;
                padding-left: 70px;
                padding-right: 25px;
            }

            /* Make sure that all arrows are pointing leftwards */
            .acontainer::before {
                left: 60px;
                border: medium solid white;
                border-width: 10px 10px 10px 0;
                border-color: transparent white transparent transparent;
            }

            /* Make sure all circles are at the same spot */
            .aleft::after, .aright::after {
                left: 15px;
            }

            /* Make all right containers behave like the left ones */
            .aright {
                left: 0%;
            }
        }

        #ljobname{
            font-weight: bold;
        }
    </style>
    <style>

        .education-element {
            text-align: right;
            margin: 15px 0px;
        }

        .skill-rating {
            font-family: "Font Awesome 5 Free"!important;

        }

        .language-rating {
            font-family: "Font Awesome 5 Free"!important;

        }

        #profile-main {
            /*background: white;*/
        }

        .reason-box {
            width: 100%;
            display: -webkit-box;
            padding-right:5em;
            background: #00e9ff;
            text-align: center;
            height: 35px;

        }

        .reason-container {
            display: flex;
        }



        .skills-title {
            display: flex;
        }

        .plgoar {
            padding-top: 7px;
            -webkit-margin-before: 0em;
        }

        .fagragas {
            width: var(--size);
            display:flex;
            position: absolute;
        }
        .arrow-right {
            width: 0px;
            height: 0px;
            border-top: 1.3em solid transparent;
            border-bottom: 1.3em solid transparent;
            border-left: 1em solid green;
            background: #00e9ff;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .prof-main {
            margin-left: 0!important;
            margin-top: 1em!important;

        }

        #profile-header {
            display: flex;
            height: fit-content;
            min-height: 22em;
            margin-bottom: 1em;
        }

        #profile-main {
            /*border-top: 2px solid gray;*/
            padding-top: 2.3em;
            margin-left: 16em;
            margin-top: 0px;
            margin-right: 2em;
            margin-bottom: 2em;
            /*box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.16);*/
        }

        .profile-picture {
            border: 0.3em solid;
            border-color: gainsboro;
            height: 18em;
            object-fit: cover;
            width: 12em;
        }

        .language-rating {
            padding: 4px;
        }

        .SDFA {
            padding-top: 2em;
            width: 18%;
            height: 100%;
            padding-left: 2%;
        }

        .srgrhsr {
            width: 80%;
            padding-left: 1em;
            padding-top: 1em;
            position: relative;
        }

        .srgrhsr > h1 > h1 {
            /*color:#3AC5D9;*/
            color:#2c3d51;
            font-size: 40px;
            font-weight: 800;
        }

        .quarters{
            width:75%;
            height: 34px;
            padding: 4px;
            font-weight: 600;
        }


        #profile-industries {
            display: flex;
            height: 19em;
            margin-left: 5%;
            margin-right: 5%;
            /*border-top: 1px solid #ccc;*/
            /*border-bottom: 1px solid #ccc;*/
        }

        .asdafe {
            width: 33%;
        }

        .aafaeagar {
            padding-top: 16.5%;
            padding-left: 10px;
        }

        #profile-content {
            display:flex;
            padding-top:2em;
            display: flex;
            background: white;
            height: auto;
            padding-left: 2em;
        }

        .agragar{
            width: 40%;
        }

        .profile-message{
            margin-top: 14px;
            font-size: x-large;
        }

        #social {

            display: -webkit-inline-box;
        }

        ._123 {
            position: absolute!important;
            width: 100%!important;
            top: 0!important;
            height: 100%!important;
            margin-left: 0px!important;
            left: 0!important;
        }


        .laegome {
            margin-left: 1em;
            margin-right: 1em;
            width: 60%;
            position: relative;
            /* border-radius: 15%; */
            background-color: #2c3d51;
            border-radius: 4px;
            /*        border: 1em blanchedalmond;
                    border-style: dashed;*/
        }

        .social-picture {
            width: 1.5em;
            height: 1.5em;
            margin-right: 4em;
        }

        .contact-title > h3,.about-title > h3,.social-title > h3,.skills-title > h3,.language-title > h3{
            color: #333333;
            line-height: 19px;
            font-weight: 600;
            float: left;
            width: 90%;
        }


        .contact-title > a:hover,.about-title > a:hover,.social-title > a:hover,.skills-title > a:hover,.language-title > a:hover{
            color: #b2494c;
            font-size: 18px;
        }

        .cv-title >h3{
            color: white;
            line-height: 19px;
            font-weight: 600;
        }

        #nextprof , #prevprof {
            /*border: 3px solid black;*/
            border-radius: 25%;
            padding: 7px;
            margin: -9px 5px 0;
        }

        a {
            color: black;
        }

        .form-control {
            width: 100%;
        }

        .social_child {
            display: flex;
        }


        .contact_child {
            display: flex;
        }

        .aeagaeag {
            width: 25%;
            text-align: left;
            padding: 4px 4px 4px 0;
        }

        .cv-title {
            text-align: center;
        }

        .cv-element {
            margin: 15px 0px;
        }

        #pom {
            margin-left: 2%;
        }

        .asdp {
            font-size: 24px!important;
            margin-top: 0.5%!important;
            margin-left: -1.6%!important;
        }

        .pgagae {
            border-right: 3px solid black;
            width:50%;
            height:auto;
        }

        .gabefi {
            width:50%;
            height: 500px;
        }

        .ppp:hover {
            background: #3ac5d9 !important;
            border-color: #3ac5d9 !important;
        }

        .overflow {
            max-height: -webkit-fill-available;
            overflow: auto;
        }

        .highcharts-credits{
            opacity:0!important;
        }

        .hraha {
            padding-top:2em;
            margin-top: 3em;
            border-top: 3px solid white;
            height: 90%;
            margin-left: 2em;
            margin-right: 2em;
        }

        .job-date {
            font-weight: bold;
        }

        .job-descriere {
            overflow-wrap: break-word;
        }

        .skill-container {
            display: flex;
            width: 100%;
            vertical-align: middle;
            line-height: 34px;
        }

        .fa {
            font-family: "Font Awesome 5 Free"!important;

        }

        .fa-star:before{
            margin: 0 5px;
            font-size:24px;
        }

        .skill-rating {
            padding:4px;
        }

        .checked {
            color: orange;
        }

        .skill-name {
            width: 50%;
            text-align: left;
        }

        .language-container {
            display: flex;
        }

        .language-name {
            width: 50%;
            text-align: left;
            padding: 5px 0;
        }

        .language-title {
            display: flex;
        }



        .grnagiangriarg
        {
            padding-left: 0px;
            padding-bottom: 10px;
        }

        .edit-btn {
            padding: 0;
            color: #7dcc93;
            font-size: 18px;
        }

        .iconz {
            border: 2px solid #555;
            position: absolute;
            top: 0;
            margin-top: 1em;
            /* font-size: 24px; */
            margin-left: 70%;
            /* padding: 0.5em; */
            /* border-radius: 100%; */
            font-size: 24px!important;
            height: auto;
            padding: 5px;
        }

        .iconz .fa-exclamation-circle{
            margin-top: -12px!important;
            margin-left: -14px!important;
            z-index: 999999;
            position: absolute;
        }

        .skill-container .delete-btn, .language-container .delete-btn{
            height: 34px;
            margin-right: 10px;
            padding: 2px;
            margin-left: 0;
        }

        .delete-btn {
            padding: 0 2px;
            color: red;
            font-size: 18px;
        }

        .div-education {
            float: right;
            margin-right:2.8em;
        }

        .div-job {
            float: left;
            height: 24px;
            vertical-align: middle;
            margin: 15px 0;
        }

        .social-logo {
            height: 25px;
            width: 25px;
        }

        .social-element {
            display: flex;
        }

        .img-div {
            width: 5em;
            height: 34px;
            vertical-align: middle;
            padding: 4px 4px 4px 0;
            text-align: left;
        }

        #skillsss {
            margin-left: 0;
        }

        #social {
            /*margin-left: 2em;*/
            margin-left:0;
        }

        #contact {
            /*margin-left:2.5em;*/
            margin-left:0;
        }

        #language123 {
            margin-left: 0;
        }

        .delete-btn {
            position: inherit;
        }

        .social-link{
            padding: 6px 4px;
            width: 75%;
            font-weight: 600;
        }

        #aagargarga {
            display: none;
            bottom: 0;
            right: 0;
            margin-right: 0.5em;
            /* position: fixed!important; */
            margin-top: 1px;
            padding-top: 0.5em;
            /* padding-bottom: 0.5em; */
            margin-bottom: 5em;
            /* background-color: #38a8d1; */
            color: white;
            font-size: 18px;
            z-index: 1;
        }

        .notes {
            display: none;
            background: antiquewhite;
            width: fit-content;
            padding: 5%;
            /* border: 2px solid #555; */
            border-radius: 0;
            height: fit-content;
            margin-left: -65%;
            position: relative;
            margin-top: 5px;
        }

        .notes > span {
            display: -webkit-box;
            font-size: small;
            margin-bottom: 0.4em;


        }

        .opacity {
            filter: brightness(35%);
            cursor: not-allowed;
        }

        .notes p {
            max-width: 200px;
            min-width: 200px;

            overflow-wrap: break-word;
        }

        .gender {
            display: flex;
            position: absolute;
        }

        .gender div {
            background: grey;
            border: 2px solid grey;
            padding: 0.4em;
            text-align: center;
            width: 7em;

        }

        .fa-exclamation-circle:hover .notes {
            display: block;
        }

        .rectangle .notes {
            display: block;
        }

        .notes{
            color: #828282;
        }

        #about-section {
            margin-top: 2.5em;

        }

        .gender_select {
            background: #3ac5d9 !important;
            border-color: #3ac5d9 !important;
        }

        .aaagarg_description{
            position: absolute;
            margin-left: 7%;
            margin-top: 14.5%;
        }

        .reward-data{
            min-height: 142px;
        }


        .triangle-right {
            width: 0;
            height: 0;
            border-top: 25px solid transparent;
            border-left: 20px solid #555;
            z-index: 999;

            border-bottom: 25px solid transparent;
        }

        .fa-exclamation-circle{
            position: absolute;
            font-size: 30px;
            margin-top: 0.2%;
            margin-left: -1.5%;
            color: #fff;
            z-index: 99999;
        }

        .tr-right {
            position: absolute;
            border-left: 19px solid white!important;
            margin-left: 102px;
            z-index: 0;
            margin-left: 11.2%;
        }

        #profile_status_navbar {
            display: flex;
            margin-left: 2em;
            margin-right: 2em;
            background: #d9e3f7;

        }

        .zapp:after {
            content: " ";
            position: absolute;
            top: 0;
            right: -17px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid #7c7d81;
            z-index: 50;
            transition: border-color 0.2s ease;
        }


        .zselect:after {
            content: " ";
            position: absolute;
            top: 0;
            right: -17px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid #3ac5d9;
            z-index: 50;
            transition: border-color 0.2s ease;
        }


        .zselect {
            background: #3ac5d9!important;
        }

        .bselect:after {
            content: " ";
            position: absolute;
            top: 0;
            right: -17px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid #21d521;
            z-index: 50;
            transition: border-color 0.2s ease;
        }


        .bselect {
            background: #21d521!important;
        }

        .zapp {
            font-size: 14px;
            text-align: left;
            color: #666;
            width: -webkit-fill-available;
            height: 35px;

            cursor: default;
            margin: 0 3px;
            padding: 0px 10px 10px 30px;
            float: left;
            position: relative;
            background-color: #7c7d81;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: background-color 0.2s ease;}

        .tr-text {
            overflow-wrap: break-word;
            color: white;
        }

        .tr-text >p{
            margin:0!important;
        }

        .status-days{
            font-size: 10px;
        }

        .zapp:before {
            right: auto;
            left: 0;
            border-left: 17px solid #fff;
            z-index: 0;
            content: " ";
            position: absolute;
            top: 0;
            right: -17px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid white;
            z-index: 15;
            transition: border-color 0.2s ease;
        }

        .profile-message {
            margin-left: 2em;

        }


        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            margin-left: 46%;
            margin-top: 15%;
        }

        ._asdagarg {
            background-color: #80808b;
            z-index: 100;
            top:0;
            left:0;
            width:100%;
            height:100%;
            position:fixed;
        }

        .

        .ljobdep{
            font-weight: bold;
        }

    </style>

    <form method="POST" enctype="multipart/form-data" id="upload_cv">
        <input name="cv" type="file" id="cv" class="hidden" />
    </form>
    <!--Navigation-->
    <div class="desktop-container">
        <div class="tab-content">
            <div id="leaderboards" ng-app="led" class="tab-pane fade in active">
                <div class="br-profile">
                    <section id="resume" ng-controller="leaderboards">
                        <div id="br-profile-search" class="row">
                            <div class="col-md-2">
                                <h1 class="br-profile-title "><?php echo $this->translate->_("leaderboards"); ?></h1>
                            </div>
                        </div>
                        <div class="_buckyrt">
                            <div>
                                <div>
                                    <section id="camp-layout">
                                        <div class="row">

                                            <div class="col-sm-2 col-half-offset col-xs-12 full-width padding-top-10">
                                                <div class="app-data">
                                                    <h2><element id="rank-place"></element><element id="toremove">0</element><span><element id="rank-place-pos"></element></span></h2>
                                                    <p><?php echo $this->translate->_("position_in_platform"); ?></p>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-half-offset col-xs-12 full-width padding-top-10">
                                                <div class="app-data">
                                                    <h2><?php echo $this->points; ?></h2>
                                                    <p><?php echo $this->translate->_("gamification_points"); ?></p>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-half-offset col-xs-12 full-width padding-top-10">
                                                <div class="app-data">
                                                    <h2><?php echo count($this->recommendations); ?></h2>
                                                    <p><?php echo $this->translate->_("recommendations"); ?></p>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-half-offset col-xs-12 full-width padding-top-10">
                                                <div class="app-data">
                                                    <h2><?php echo count($this->hires); ?></h2>
                                                    <p><?php echo $this->translate->_("successful_recommendations"); ?></p>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-half-offset col-xs-12 full-width padding-top-10">
                                                <div class="app-data">
                                                    <h2><?php echo (int) $this->virality; ?></h2>
                                                    <p><?php echo $this->translate->_("views"); ?></p>
                                                </div>
                                            </div>

                                        </div>

                                    </section>


                                </div>

                            </div>

                        </div>
                        <nav class="navbar navbar-default">
                            <div class="container">
                                <div class="center uutyuh">
                                    <ul class="nav navbar-nav">
                                        <li class="active-spa"><a href="#leaderboards">Leaderboards</a></li>
                                        <li><a href="#campaign">Campaign</a></li>
                                        <!--<li><a href="#jobs">Jobs</a></li>-->
                                    </ul>
                                </div>

                            </div>
                        </nav>

                    </section>
                </div>

                <div class="oiuui">
                    <div >
                        <div>
                            <section>
                                <div id="resume-header" class="row">
                                    <div class="ng-view-class" ng-view></div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
    </div>


    </div>f
    <!--Main Content-->

    <!--End View-->

    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content render-job-alert">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title br-title"><?php echo $this->translate->_("job_alerts"); ?></h4>
                </div>
                <div id="render-job-alert" class="modal-body">
                    <div id="render-data">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-close" data-dismiss="modal"><?php echo $this->translate->_("close"); ?></button>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        var language = ['ro', 'en', 'fr', 'hu'];
        var lang = "<?php echo $this->lang; ?>";
        var index = language.indexOf(lang);
        if (index >= 0) {
            language.splice(index, 1);
        }
        window.onload = function () {
            $('span#' + lang).show();
            $('select.' + lang).show();
            var selector = 'ul.navbar-nav > li';

            $(selector).on('click', function () {
                $(selector).removeClass('active-spa');
                $(this).addClass('active-spa');
            });

            $.get("/users/index/get-rank", function (data) {

                var $data = $.parseJSON(data);
                $('element#toremove').html('');
                $('element#rank-place').html($data.place);
                $('element#rank-place-pos').html($data.position);
                //           alert($data.place);
            });
        };

    </script>

</section>