<div class="modal-content" style="    width: 825px;
     margin: 50px auto;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title br-title">Upload your cv or add Linkedin Profile Link</h4>
    </div>
    <div class="modal-body">
        <?= $this->form; ?>
        <br />
        <p>You can find <a target="_blank" href="https://www.linkedin.com/profile/edit?trk=nav_responsive_sub_nav_edit_profile
                           "><b>here</b></a> your link</p>
        <div class="alert alert-danger" style=" display: none">
            <strong>Error !</strong> Please check your profile Linkedin address !
        </div>
        <br />
        <img src="/resources/frontend/css/theme/images/linkedin_link.png"  alt="" />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default linkedin_link_profile btn-save branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
">Submit</button>
        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
    </div>
</div>

<script type="text/javascript">

    function isUrlValid(url) {
    return /^(https?|s?ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)?(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(url);
    }
    $(document).ready(function() {
        $('body').on('click', '.linkedin_link_profile', function() {
          var link = $("#linkedin_link").val();
        if (isUrlValid(link)) {
            var correct_profile = "linkedin.com/in"
            if(link.indexOf(correct_profile) > -1) {
                  $('#linkedin_link_profile').submit();
            } else {
                 $(".form-control").css({"border" : "1px solid red !important"});
                $(".alert").show().fadeIn();
            }
           
        } else {
                $(".form-control").css({"border" : "1px solid red !important"});
                $(".alert").show().fadeIn();
        }


        })
    })
</script>