<!DOCTYPE html>
<html>
    <head>
        <title>Autopost successfully activated</title> 
    </head>
    <body>

<?php if($this->success_share == true ) : ?>
 <div style="background-color:#55C3D5; padding: 20px;">

     <p style="font-family: 'Open Sans'; font-weight: 200; font-size: 24px; color: white;">Autopost successfully activated!</p>

     <p style="font-family: 'Open Sans'; font-weight: 200; font-size: 14px; color: white;">Check your account and make sure your post is visible to all your friends.</p>
     
</div>   
    
<?php else : ?>

<div style="background-color:#f7b17e; padding: 20px;"> <p style="font-family: 'Open Sans'; font-weight: 200; font-size: 24px; color: white;">Ooopps!</p> <p style="font-family: 'Open Sans'; font-weight: 200; font-size: 14px; color: white;">Something went wrong, please try again : (</p> </div>

    

<?php endif ; ?>
        <script type="text/javascript">
            setTimeout(function () { window.close();}, 3000);

        </script>
        </body>
</html>