

<form method="POST" enctype="multipart/form-data" id="upload_cv">
    <input name="cv" type="file" id="cv" class="hidden" />
</form>
<section id="main-content">
    <section class="wrapper iifuudh">
        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('recommendations'); ?>
                    </h3>
                </div>
                <div class=" col-sm-9">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 bounty">
                <div class="row">

                        <div class="col-sm-4">
                            <div class="app-data">
                                <span><?php echo count($this->recommendations); ?></span>
                                <p><?php echo $this->translate->_("number_of_recommendations"); ?></p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="app-data">
                                <span><?php echo count($this->viewed_applications); ?></span>
                                <p><?php echo $this->translate->_("viewed_recommendations"); ?></p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="app-data">
                                <span><?php echo count($this->hires); ?></span>
                                <p><?php echo $this->translate->_("successful_hires"); ?></p>
                            </div>
                        </div>

            </div>
            <div class="">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <table class="table table-bordered dataTable-profile" id="dynamic-table">
                                <thead>
                                <tr>
                                    <th><?php echo $this->translate->_("name"); ?></th>
                                    <th><?php echo $this->translate->_("email"); ?></th>
                                    <th><?php echo $this->translate->_("job"); ?></th>
                                    <!--<th><?php // echo $this->translate->_("type");    ?></th>-->
                                    <th><?php echo $this->translate->_("date"); ?></th>
                                    <th><?php echo $this->translate->_("status"); ?></th>
                                    <th><?php echo $this->translate->_("last_login"); ?></th>
                                    <th><?php echo $this->translate->_("send_reminder"); ?></th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach ((array) $this->recommendations as $recommendation): ?>
                                    <tr>
                                        <td>
                                            <?php if ($recommendation['firstname'] != ""): ?>
                                                <?php echo $recommendation['firstname']; ?> <?php echo $recommendation['lastname']; ?>
                                            <?php else: ?>
                                                <?php echo (empty($recommendation['name'])) ? "-" : $recommendation['name'] ?>
                                            <?php endif; ?>
                                        </td>
                                        <td><?= empty($recommendation['email']) ? "-" : $recommendation['email'] ?></td>
                                        <td><?php echo $recommendation['job']; ?>
                                            <?php // echo '@'.$recommendation['company']; ?>
                                        </td>
                                        <!--<td><?php // echo ($recommendation['linkedin_id'] != "") ? 'LinkedIn' : "email";    ?></td>-->
                                        <td><?php echo date("y/m/d, H:i", strtotime($recommendation['date'])); ?></td>
                                        <td><?php echo ($recommendation['status'] >= 0) ? "" . " " . (($recommendation['status'] > 1) ? "" . $this->settings['application_status_reason'][$recommendation['status']][$recommendation['status_reason']] : '') : "-"; ?></td>
                                        <!--<td><?= date("y/m/d, H:i", strtotime($recommendation['last_login'])) ?></td>-->
                                        <td><?= empty($recommendation['last_login']) ? "-" : $recommendation['last_login'] ?></td>
                                        <td><a data-toggle="modal" data-target="#preview-modal" class="reminder" href="/reminder?email=<?php echo $recommendation['email'] ?>&job=<?php echo base64_encode($recommendation['job']) ; ?>"><?php echo $this->translate->_("send_reminder"); ?></a></td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>


<!--Main Content-->

<!--End View-->

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content render-job-alert">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title br-title"><?php echo $this->translate->_("job_alerts"); ?></h4>
            </div>
            <div id="render-job-alert" class="modal-body">
                <div id="render-data">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal"><?php echo $this->translate->_("close"); ?></button>
            </div>
        </div>

    </div>
</div>

<form method="POST" enctype="multipart/form-data" id="upload_cv">
    <input name="cv" type="file" id="cv" class="hidden" />
</form>