<?php 
$pages = explode("/", $_SERVER['HTTP_REFERER']);
?>
<div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title br-title">Upload your cv or add Linkedin Profile Link</h4>
        </div>
        <div class="modal-body _edi4554 white">
            <p class="black">Please upload your CV or add your Linkedin Profile Link and start applying</p>
            <?php if(!in_array("profile",$pages)) : ?>
            <form>
                  <div class="box">
                <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4 hidden" data-multiple-caption="{count} files selected" multiple="">
                <label for="file-5"><figure>
                        <img src="/resources/frontend/css/theme/images/upload.png" alt="upload cv" />
                    </figure> <span>Choose a file…</span></label>
                    
            </div>
            </form>
            <div id="res">
                
            </div>
            <hr />
            <?php endif; ?>
            <?= $this->form; ?>
            <br />
            <p class="black">You can find <a target="_blank" href="https://www.linkedin.com/profile/edit?trk=nav_responsive_sub_nav_edit_profile
                               "><b>here</b></a> your link</p>
            <div class="alert alert-danger" style=" display: none">
                <strong>Error !</strong> Please check your profile Linkedin address !
            </div>
            <br />
            <img src="/resources/frontend/css/theme/images/linkedin_link.png"  alt="" />
        </div>
        <div class="modal-footer" >

            <button type="submit" class="btn btn-default linkedin_link_profile btn-save branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
">Submit</button>
            <button type="button" class="btn btn-default btn-close branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
" data-dismiss="modal">Close</button>

        </div>
    </div>

</div>

<script type="text/javascript">

    function isUrlValid(url) {
    return /^(https?|s?ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)?(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(url);
    }
    $(document).ready(function() {
        $('body').on('click', '.linkedin_link_profile', function() {
          var link = $("#linkedin_link").val();
          if(link != "") 
          {
              if (isUrlValid(link)) {
            var correct_profile = ".linkedin.com/in/"
            if(link.indexOf(correct_profile) > -1) {
                if($(location).attr('pathname').split("/")[1] == "jobs") {
                $.ajax({
                      url : "/ajax/index/add-linkedin",
                      data : {link : link},
                      type : "POST",
                      success : function(data){
                              $('[data-dismiss="modal"]').click();
                              location.reload();
                              localStorage.setItem("applied", 1);
                          }
                })
                } 
                else {
                      $.ajax({
                      url : "/ajax/index/add-linkedin",
                      data : {link : link},
                      type : "POST",
                      success : function(data){
                              $('[data-dismiss="modal"]').click();
                              location.reload();
                          }
                })
                }
                  
            } else {
                 $(".form-control").css({"border" : "1px solid red !important"});
                $(".alert").show().fadeIn();
            }
           
        } else {
                $(".form-control").css({"border" : "1px solid red !important"});
                $(".alert").show().fadeIn();
        }
          } else {
              $('.close').click();
          }
          
          location.reload();

        })

        $(".inputfile").on('change',function() 
        { 
            if ($(this).get(0).files.length !== 0) 
            {
                var form = $('form'); // You need to use standart javascript object here
                var formData = new FormData(form);
                formData.append("image", $('input[type=file]')[0].files[0]);
                console.log(formData);
                $.ajax({
                            url: "/ajax-upload", // Url to which the request is send
                            type: "POST",             // Type of request to be send, called as method
                            data: formData, // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                            contentType: false,       // The content type used when sending data to the server.
                            cache: false,             // To unable request pages to be cached
                            processData:false,        // To send DOMDocument or non processed data file it is set to false
                            success: function(data)   // A function to be called if request succeeds
                            {
                                data = $.parseJSON(data);
                                var id_cv = data.id;
                               var userid = "<?php echo Zend_Auth::getInstance()->getIdentity()->id ?>"
                               var template = "";
                                   template += "<div id='remove-"+id_cv+"' class='col-sm-6'>\n\
                           <span class='download-pdf pull-left'></span>\n\
                            <a class='download-file' style='float:left;margin-top: 24px;' href='/resources/files/cv/1.png'>download file</a>\n\
                        <span data-user-id="+userid+" data-cv-id='"+id_cv+"' style='left: 43px;top:-5px' class='remove-cv'></span></div>";
//                                   $('.remove-cv').attr('data-cv-id',100)
                            $("#res").append(template);
                            }
                            });
            }
        });
        $(document).on ('click','.remove-cv',function () {
    var user_id = $(this).data('user-id');
    var cv_id = $(this).data('cv-id');

    var a = confirm('Are you sure for removing this CV');
    if (a) {
        $.ajax({
            url: "/removecv",
            type: "POST",
            data: {id: user_id, cv: cv_id},
            success: function (data) {
                $("#remove-"+cv_id).remove();
//               console.log(data);
            }
        })
    }
});
    })
</script>

   