<section id="main-content">
    <section class="wrapper iifuudh">
        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('rewards'); ?>
                    </h3>
                </div>
                <div class=" col-sm-9">
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-12 bounty">
                    <div class="col-sm-4">
                        <div class="reward-data">
                            <div class="full-width"><span><?php echo (int) $this->available_rewards; ?></span></div>
                            <div class="full-width"><p><?php echo $this->translate->_("available_rewards"); ?></p></div>
                            <!--<div class="full-width"> <a href="/" class="btn btn-brain">take action</a></div>-->

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="reward-data">
                            <div class="full-width" ><span><?php echo (int) $this->potential_rewards; ?></span></div>
                            <div class="full-width"><p><?php echo $this->translate->_("potential_rewards"); ?></p></div>
                            <!--<div class="full-width"> <a href="/" class="btn btn-brain">take action</a></div>-->

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="reward-data">
                            <div class="full-width"><span><?php echo (int) $this->earned_rewards; ?></span></div>
                            <div class="full-width"><p><?php echo $this->translate->_("earned_rewards"); ?></p></div>
                            <!--<div class="aaagarg_description">aaaaaaaaaaaaaaaaaaaaaaaa</div>-->
                            <!--<div class="full-width"> <a href="/" class="btn btn-brain">take action</a></div>-->

                        </div>
                    </div>
        </div>
            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <table class="table table-bordered">
                                <thead>
                                <th><?php echo $this->translate->_("position_name"); ?></th>
                                <th><?php echo $this->translate->_("candidate"); ?></th>
                                <th><?php echo $this->translate->_("bounty"); ?></th>
                                <th><?php echo $this->translate->_("_due_date"); ?></th>
                                <th class="redsi-tbl"><?php echo $this->translate->_("points"); ?></th>
                                <th></th>
                                </thead>
                                <tbody>
                                <?php
                                //                                    echo '<pre>';print_r($this->bounties);die;
                                foreach ((array) $this->bounties AS $bounty):
                                    ?>
                                    <tr>
                                        <td><?php echo $bounty['position']; ?></td>
                                        <td><?php echo $bounty['applicant']; ?></td>
                                        <td><?php echo is_numeric(trim($bounty['bounty'])) ? $bounty['bounty'] . " &euro;" : $bounty['bounty'] ?></td>
                                        <!--<td><?php // echo ($bounty['due'] != '0000-00-00') ? date("d F Y", strtotime($bounty['due'])) : '-';   ?></td>-->
                                        <td><?php echo ($bounty['due_date']); ?></td>
                                        <td class="jedhgdgf"><?php echo $bounty['points']; ?></td>
                                        <td class="redsi-tbl-lst"><span class="<?php echo ($bounty['status'] == 'paid') ? 'check-valid' : 'check-not-valid'; ?>"></span></td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
