<?php echo $this->job_js; ?>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<?php
$url = $_SERVER[REQUEST_URI];
?>


<?php
if (strpos($url, '=') == false) {
    echo '<form id="regForm" action="/job"><h1 style="font-siztypese:24px"> '.$this->translate->_("Add new job").'  </h1>';
} else {
    echo '<form id="regForm" action="'.$url.'"><h1 style="font-size:24px">'.$this->translate->_("Edit job").' </h1>';
}
?>


<div style="text-align:center;margin-top:40px;font-size: 20px;margin-bottom: 20px;">
    <span onclick="stepsclick(0)" id="step0" class="step"><?= ucfirst($this->translate->_("Details")) ?></span>
    <span onclick="stepsclick(1)" id="step1" class="step"><?= ucfirst($this->translate->_("description")) ?></span>
    <span onclick="stepsclick(2)" id="step2" class="step"><?= ucfirst($this->translate->_("requirements")) ?></span>
    <span onclick="stepsclick(3)" id="step3" class="step"><?= ucfirst($this->translate->_("bounty")) ?></span>
</div>
<div class="tab">
<div class="_asdagarg">
<div class="loader"></div>
</div>
    <div class="asdf">
        <div class="poa">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><?= $this->translate->_("Job Title") ?></legend>
            <p class="required"><input placeholder="<?= $this->translate->_("Job Title") ?>..." oninput="this.className = ''" name="title" id="title" style="max-width: unset;"></p>
            </fieldset>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><?= $this->translate->_("Job locations") ?></legend>
                <div class="control-group">
                    <label class="control-label input-label required" for="startTime"><?= ucfirst($this->translate->_("countries")) ?> :</label>
                    <div class="controls bootstrap-timepicker">
                        <p class="required">
                            <select name="countries[]" id='countries' class="required_select" multiple style="width:300px">
                            </select>
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label input-label required" for="startTime"><?= ucfirst($this->translate->_("counties")) ?> :</label>
                    <div class="controls bootstrap-timepicker">
                        <p class="required">
                            <select name="counties[]" id='counties' class="required_select" multiple style="width:300px">

                            </select>
                        </p>        </div>
                </div>
                <div class="control-group">
                    <label class="control-label input-label required" for="startTime"><?= $this->translate->_("cities") ?> :</label>
                    <div class="controls bootstrap-timepicker">
                        <p class="required">
                            <select name="cities[]" id='cities' class="required_select" multiple style="width:300px">

                            </select>
                        </p>

                    </div>
                </div>
            </fieldset>


            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><?= $this->translate->_("Organizational Structure") ?></legend>
                <div class="control-group">
                    <label class="control-label input-label required" for="startTime"><?= ucfirst($this->translate->_("department")) ?></label>
                    <div class="controls bootstrap-timepicker">
                        <p class="required">
                            <select name="departments[]" id='departaments' class="required_select" multiple style="width:300px">
                            </select>
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label input-label" for="startTime"><?= ucfirst($this->translate->_("Sub-department")) ?></label>
                    <div class="controls bootstrap-timepicker">
                        <p class="required">
                            <select name="sub_departments[]" id='unit_region' class="" multiple style="width:300px">

                            </select>
                        </p>   </div>
                </div>
                <div class="control-group">
                    <label class="control-label input-label" for="startTime"><?= ucfirst($this->translate->_("Team (sub-sub-department)")) ?></label>
                    <div class="controls bootstrap-timepicker">
                        <p class="required">
                            <select name="sub_sub_departments[]" id='team' class="" multiple style="width:300px">

                            </select>
                        </p>

                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label input-label" for="startTime"><?= $this->translate->_("Project") ?></label>
                    <div class="controls bootstrap-timepicker">
                        <p class="required">
                            <select name="projects[]" id='project' class="" multiple style="width:300px">

                            </select>
                        </p>

                    </div>
                </div>
            </fieldset>

        </div>

        <div class="ioa">
            <div>
                <h5 class="required"><?= $this->translate->_("skills") ?></h5>
                <p class="required">
                  <input name="skills[]" id='skills' class="required_select" style="width:300px">
                </p>

                <div style="display: flex;padding-top: 1.2em">
                    <h5 style="width: 40%;margin-right:10%;"><?= $this->translate->_("Types") ?></h5>
                    <h5 style="width: 40%;margin-right:10%;"><?= $this->translate->_("Seniority") ?></h5>
                </div>

                <div class="poaiafiaf">
                    <p>

                        <select name="type" id="types"></select>
                    </p>
                    <p>
                        <select name="career_level" id="carrers">
                        </select>
                    </p>
                </div>
                <h5><?= $this->translate->_("Contract period") ?></h5>

                <p class="oaefaifbae">
                    <select name="job_periode" id="periode">

                    </select>
                </p>

                <div class="naeginaope">
                    <p>
                        <label for="start"><?= $this->translate->_("Start date") ?></label>
                        <input name="start" id="start" type="date" value="<?php echo date('Y-m-d'); ?>">
                    </p>
                    <p>
                        <label for="end"><?= $this->translate->_("End date") ?></label>
                        <input name="end" id="end" type="date" value="<?php echo date('Y-m-d', strtotime(date("Y-m-d H:i:s"). ' + 30 days')); ?>">
                    </p>
                </div>
                <p class="required"><span><?= $this->translate->_("Headcount vacancies") ?></span><input value="1" input="this.className = ''" id="job_headcount" name="job_headcount"></p>
                <div style="display: flex;padding-top: 1.2em">
                    <h5 style="width: 40%;margin-right:10%;"><?= $this->translate->_("Headcount vacancies") ?>Assign recruiter</h5>
                    <h5 style="display:none" style="width: 40%;margin-right:10%;"><?= $this->translate->_("Headcount vacancies") ?>Assign hiring manager</h5>
                </div>

                <div class="poaiafiaf">
                    <p>

                        <select name="recruiters[]" id="recruiters">
                            <?php if(Zend_Auth::getInstance()->getIdentity()->type == 4 ) : ?>
                            <option value="<?= Zend_Auth::getInstance()->getIdentity()->id?>" selected>
                                <?= Zend_Auth::getInstance()->getIdentity()->firstname ." ".Zend_Auth::getInstance()->getIdentity()->firstname ?>
                            </option>
                            <?php endif; ?>
                        </select>
                    </p>
                    <p>
                        <select style="display:none" name="hiring_manager" id="managers">
                        </select>
                    </p>
                </div>
                <div style="padding-top: 19px;">
                    <h5>Pin to top</h5>
                    <label  class="switch">
                        <input type="checkbox">
                        <span id="switch" class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab">
    <h4 class="required"> <?= ucfirst($this->translate->_("Job Role")) ?> </h4>
    <p class="required" id="_role"><textarea name="role"></textarea></p>

    <h4 class="required"> <?= ucfirst($this->translate->_("description")) ?> </h4>
    <p class="required" id="_description"><textarea name="description"></textarea></p>
</div>
<div class="tab">
    <h4  class="required"> <?= ucfirst($this->translate->_("requirements")) ?> </h4>

    <p class="required" id="_requirements"><textarea name="requirements"></textarea> </p> </div>
<div class="tab">
    <div>
        <div class="asdf">
            <div class="poa">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><?= $this->translate->_("Bounty total value") ?></legend>
                    <div class="control-group">
                        <label class="control-label input-label" for="startTime"><?= $this->translate->_("Prize title") ?>:</label>
                        <div class="controls bootstrap-timepicker">
                            <p class=""><input id="bounty_title" name="bounty_title" placeholder="<?= $this->translate->_("Prize title") ?>..." oninput="this.className = ''" ></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label input-label" for="startTime"><?= $this->translate->_("Prize description") ?>:</label>
                        <div class="controls bootstrap-timepicker">
                            <p class=""><span></span>
                                <textarea id="bounty_requirements" name="bounty_requirements" placeholder="<?= $this->translate->_("Prize description") ?>..." oninput="this.className = ''" value="" style="width:100%" rows="3"> </textarea>
                            </p>
                        </div>
                    </div>
                    <div style="display: flex">
                        <div class="control-group" style="width: 50%">
                            <label class="control-label input-label" for="startTime"><?= $this->translate->_("Prize value") ?> :</label>
                            <div class="controls bootstrap-timepicker">
                                <p class=""><span</span><input type="number" id="bounty" name="bounty" min="0" placeholder="<?= $this->translate->_("Prize value") ?>..." oninput="this.className = ''" value="0"></p>
                            </div>
                        </div>
                        <div class="control-group" style="width: 25%">
                            <label class="control-label input-label" for="startTime"><?= $this->translate->_("Currency") ?>:</label>
                            <div class="controls bootstrap-timepicker">
                                <p class="required">
                                    <select name="id_currency" id='currency' style="color: black" class="" style="width:300px">

                                    </select>
                                </p>

                            </div>
                        </div>
                        <div class="control-group" style="width: 25%">
                            <label class="control-label input-label" style="color: black" for="startTime"><?= $this->translate->_("Gross/Net") ?>:</label>
                            <div class="controls bootstrap-timepicker">
                                <p class="">
                                    <select name="bounty_payment_type" style="color: black" id="bounty_payment_type" class="" style="width:300px">

                                    </select>
                                </p>

                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><?= $this->translate->_("Images") ?></legend>
                    <div style="display: flex">
                        <div class="control-group image-file" style="width: 55%; padding: 0;" id="job_image_div">
                            <label class="control-label input-label" for="job_upload_input_job_public_image" style="background: #ffffffed; padding: 0; margin: 0;"><?= $this->translate->_("Job image") ?>:</label>
                            <div class="controls bootstrap-timepicker centered-icon">
                                <i onclick="openFileInput('job_upload_input_job_public_image')"  class="fas fa-image upload-img" id="upload_job_image_icon"></i>
                                <input id="job_upload_input_job_public_image" name="job_public_image" type="file" class="form-control hidden">

                            </div>
                        </div>
                        <div class="control-group image-file" style="width: 55%; padding: 0;" id="bounty_image_div">
                            <label class="control-label input-label" for="job_upload_input_bounty_file" style="background: #ffffffed; padding: 0; margin: 0;"><?= $this->translate->_("Bounty image") ?>:</label>
                            <div class="controls bootstrap-timepicker centered-icon">
                                <i onclick="openFileInput('job_upload_input_bounty_file')" class="fas fa-image  upload-img" id="upload_bounty_image_icon"></i>
                                <input id="job_upload_input_bounty_file" name="bounty_file" type="file" class="form-control hidden">

                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="ioa" style="    padding-top: 3.4%;">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><?= $this->translate->_("Bounty payment rules") ?></legend>
                    <div class="control-group">
                        <label class="control-label input-label" for="startTime"><?= $this->translate->_("Bounty Due Date") ?></label>
                        <div class="controls bootstrap-timepicker">
                            <p class="required"><span></span>
                                <select style="color: black" id="job_ad_lifetime"
                                        name="job_ad_lifetime"
                                >

                                </select>
                            </p>
                        </div>
                    </div>
                    <div class="construction"></div>
                </fieldset>
            </div>
            <!--              <label class="control-label input-label" for="startTime">Bounty due date :</label>-->
            <div class="controls bootstrap-timepicker">

            </div>
        </div>
    </div>
</div>
<div style="overflow:auto;">
    <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)"><?php echo $this->translate->_("previous") ?></button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)"><?php echo $this->translate->_("next") ?></button>
    </div>
</div>
</form>


<style>
.select2-chosen {
      border: 2px solid black;

}



.fa-bars {
    display: none;
}
</style>

<script type="text/javascript">
    function openFileInput(id)
    {
        $("input#"+id).click();
    }
</script>
