<style>
        body input[type="text"], body input[type="select"], body select {
        max-width: 100%;
        }
        select#career_level, select#type{
            max-width: 100% !important;
        }
    .modal-body{margin-bottom: 20px;}

</style>
<div class="modal-content" style="margin:100px auto ; width: 815px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add User</h4>
    </div>
    <div class="modal-body">
        <?php echo $this->form ?>
    </div>
    <div class="modal-footer">
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('select.select2').select2();
    
    $('#recruter-jobs').hide();
    $('#recruter').hide();
    $('#hiring').hide();
    
    var id_job = "<?php echo $this->id ?>";
    var type = "<?php echo $this->type ?>";
//   console.log(id_job);
//   console.log(type);
    
    if(id_job) {
        switch(type) {
            case("4"):
                console.log(type);
                 $('#recruter-jobs').show();
           $('#recruter').show();
           $('#hiring').hide();
            break;
            case("5"):
                $('#recruter-jobs').hide();
           $('#recruter').hide();
           $('#hiring').show();
            break;
            default :
            $('#recruter-jobs').hide();
            $('#recruter').hide();
            $('#hiring').hide();
            break;
        }
    }
    
    $('select#type').on('change',function() {
       var $type = $(this).val();
       
        // recruter 
       if($type == 4) {
           $('#recruter-jobs').show();
           $('#recruter').show();
           $('#hiring').hide();
       }
       
       
       // hiring manager
       if($type == 5) {
           $('#recruter-jobs').hide();
           $('#recruter').hide();
           $('#hiring').show();
       }
    });
})
</script>
