                            <form class="form-horizontal ajaxformprofile" method="POST" action="/add-hobby" enctype="multipart/form-data">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("hobbies");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->id_hobby;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>       
                                <div class="clearfix"></div>                                                                                
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button class="btn btn-primary" type="submit"><?php echo $this->translate->_("save");?></button>
                                        <button class="btn btn-default close-modal" type="button"><?php echo $this->translate->_("cancel");?></button>
                                    </div>
                                </div>
                            </form>                            