<form class="form-horizontal ajaxformprofile add-bulk-language" method="POST" action="/add-language" enctype="multipart/form-data">
    <div class="form-group ">
        <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("language"); ?></label>
        <div class="col-lg-5 ">
            <?php echo $this->element->language; ?>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-3 ">
            <?php echo $this->element->rating; ?>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        <div class="col-lg-offset-3 col-lg-6 bottom_btns">
            <button class="btn btn-primary btn-save branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
" type="submit"><?php echo $this->translate->_("save"); ?></button>
            <button class="btn btn-default close-modal btn-close" type="button"><?php echo $this->translate->_("cancel"); ?></button>
        </div>
    </div>
</form>