                            <form class="form-horizontal ajaxformprofile edit_alert_form" method="POST" type="alert" action="/edit-alert" enctype="multipart/form-data">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("title");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->title;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
<!--                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("reccurence");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->reccurence;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>    -->
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("skills");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->skills;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>    
<!--                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("companies");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->companies;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>       -->
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("departments");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->departments;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("countries");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->countries;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div> 
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("cities");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->cities;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>      
<!--                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("industries");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->industries;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>                                                                                                             -->
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?> 
                                        <button class="btn btn-primary btn-save branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
 full-width margin-top-10" type="submit"><?php echo $this->translate->_("save");?></button>
                                        <button class="btn btn-default close-modal btn-close full-width margin-top-10" type="button"><?php echo $this->translate->_("cancel");?></button>
                                        <button class="btn btn-warning btn-delete-alert full-width margin-top-10" rel="<?php echo $this->element->id->getValue();?>" type="button"><?php echo $this->translate->_("delete");?></button>
                                    </div>
                                </div>
                            </form>
                            <script>
                                $(".btn-delete-alert").click(function ()
                                {
                                    var id = $(this).attr("rel");
                                    $.post("/delete-alert", {"id": id}, function(data)
                                    {
                                    }, 'json');

                                    window.location.reload();
                                })
                            </script>