
                   <form class="form-horizontal ajaxformprofile add-bulk-position" method="POST" action="/edit-position" enctype="multipart/form-data">
                                <div class="form-group ">
                                    <label for="title" class="control-label col-lg-3"><?php echo $this->translate->_("title");?> <span class="cus-required">*</span></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->title;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="company" class="control-label col-lg-3"><?php echo $this->translate->_("company");?> <span class="cus-required">*</span></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->company;?>
                                    </div>
                                </div>                                
                                <div class="form-group ">
                                    <label for="description" class="control-label col-lg-3"><?php echo $this->translate->_("description");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->summary;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="industry" class="control-label col-lg-3"><?php echo $this->translate->_("industry");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->id_industry;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="department" class="control-label col-lg-3"><?php echo $this->translate->_("_department");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->id_department;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="location" class="control-label col-lg-3"><?php echo $this->translate->_("location");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->location ;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="current" class="control-label col-lg-3"><?php echo $this->translate->_("current");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->is_current;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="start" class="control-label col-lg-3"><?php echo $this->translate->_("start");?> <span class="cus-required">*</span></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->start;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="end" class="control-label col-lg-3"><?php echo $this->translate->_("end");?> <span class="cus-required end_date">*</span></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->end;?>
                                    </div>
                                </div>                                                             
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?>
                                        <button class="btn btn-primary btn-save branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
" type="submit"><?php echo $this->translate->_("save");?></button>
                                        <button class="btn btn-default close-modal btn-close" type="button"><?php echo $this->translate->_("cancel");?></button>
                                    </div>
                                </div>
                            </form>     
                            <script>
                            $(function(){
                                var is_current = "<?php echo $this->data['is_current'] ?>" ;
                                if(is_current == 1) {
                                     $("#end").removeClass("default-date-picker");
                                        $("#end").attr("disabled","disabled");
                                        $("#end").removeAttr("required");
                                        $("#end").val("Present");
                                } else {
                                     $("#end").removeAttr("disabled");
                                         $("#end").attr("required","required");
                                         $("#end").addClass("default-date-picker");
                                         //$("#end").val(<?php //echo $this->data['end'] ?>//);
                                }
                                $('.default-date-picker').datepicker({
                                    format: 'yyyy-mm-dd'
                                });
                                $("#is_current").change(function()  {
                                    var checked = $(this).is(":checked");
                                    if(checked) {
                                        $("#end").removeClass("default-date-picker");
                                        $("#end").attr("disabled","disabled");
                                        $("#end").removeAttr("required");
                                        $("#end").val("Present");
                                    } else {
                                         $("#end").removeAttr("disabled");
                                         $("#end").attr("required","required");
                                         $("#end").addClass("default-date-picker");
                                          $("#end").val("");
                                    }
                                });
                            });
                            </script>                       