                            <form class="form-horizontal ajaxformprofile" method="POST" action="/add-certification" enctype="multipart/form-data">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("certification_name");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->title;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("certification_authority");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->company;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>                                                                                                                              
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?>
                                        <button class="btn btn-primary btn-save branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
" type="submit"><?php echo $this->translate->_("save");?></button>
                                        <button class="btn btn-default close-modal btn-close" type="button"><?php echo $this->translate->_("cancel");?></button>
                                    </div>
                                </div>
                            </form>                            