
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.js"></script>-->
<!---->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css">-->
<!--<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/v4-shims.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>-->
<!--<script src="/resources/admin/home.js"></script>-->
<!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->

<form class="form-horizontal ajaxformprofile add-bulk-skill" method="POST" action="/add-skill" enctype="multipart/form-data">
    <div class="form-group ">
        <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("skills"); ?></label>
        <div class="col-lg-3 ">
            <input style="max-width: 300px"  name="id_skill[]" id="id_skill" class="" style="width:300px" tabindex="-1">
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-3 ">
            <?php echo $this->element->rating; ?>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-3 ">
            <?php echo $this->element->years; ?>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>                                                                                
    <div class="form-group">
        <div class="col-lg-offset-3 col-lg-6 bottom_btns">
            <button class="btn btn-primary btn-save branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
" type="submit"><?php echo $this->translate->_("save"); ?></button>
            <button class="btn btn-default close-modal btn-close" type="button"><?php echo $this->translate->_("cancel"); ?></button>
        </div>
    </div>
</form>      
<script type="text/javascript">
       function customskills() {
        var value = $('select.custom_skills').next().find('.select2-search__field').val();
        var source = "skills";
        var userId = "<?php echo Zend_Auth::getInstance()->getIdentity()->id ; ?>"
        if(value == "") 
        {
            return false ;
        }
            $.ajax({
                data: {value: value, source: source, user_id: userId},
                method: "POST",
                url: "/ajax/index/custom-skills",
                success: function (data) {
                    console.log(data);
                    data = jQuery.parseJSON(data);
                    var option = new Option(data.title, data.id);
                    option.selected = true;
                    $(".custom_skills").append(option);
                    $(".custom_skills").trigger("change");
                    var value = $('select.custom_skills').next().find('.select2-search__field').val("");
                    $('li[role="treeitem"]').remove();
                }
            })

    }
    $(document).ready(function () {
//         $("#id_skill").select2({
//             width: "100%",
//             dropdownAutoWidth: true,
//            maximumSelectionLength: 1,
// //             "language": {
// //                 "noResults": function () {
// //                     return "No Results Found  <a onClick='customskills()' href='javascript:;' class='btn add-br-mrgn add-br pull-right'>Add New</a>";
// //                 }
// //             },
//             escapeMarkup: function (markup) {
//                 return markup;
//             },
//         });
//
// var i;
});
</script>

<script>

$(document).ready(function () {

        $("#id_skill").select2({
            data: ['zzzzz'],
            tags: "true",
            multiple: true,
            ajax: {
                type: 'POST',
                dataType: 'json',
                url: "/get-skill",
                delay: 250,
                data: function (params) {
                    console.lo
                    console.log(params)
                    return {
                        skill: params, // search term
                    };
                },
                results: function (data, page) {
                    // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data
                    console.log(data);
                    console.log(data);
                    id = Object.keys(data);
                    data = Object.values(data);
                    var _results = [];
                    for(var i=0;i<id.length;i++)
                    {
                        var employee = {
                            "id": id[i],
                            "text": data[i]
                        }
                        _results.push(employee);
                        console.log(_results)
                    }
                    return {
                        results: _results
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });
        
             function formatRepo (repo) {
            console.log(repo)
            if (repo.loading) return repo.text;

            var markup =
                '<div class="avatar">' +
                '</div>' +
                '<div class="info">' +

                '<div class="col-sm-6">' + repo.full_name + '</div>' +
                '<div class="col-sm-3"><i class="fa fa-code-fork"></i> ' + repo.forks_count + '</div>' +
                '<div class="col-sm-2"><i class="fa fa-star"></i> ' + repo.stargazers_count
            ;

            if (repo.description) {
                markup += '<div>' + repo.description + '</div>';
            }

            markup += '</div></div>';

            return markup;
        }


        function formatRepoSelection (repo) {
            return repo.full_name || repo.text;
        }
    });
</script>