                         <form class="form-horizontal ajaxformprofile add-bulk-education" method="POST" action="/edit-education" enctype="multipart/form-data">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("University");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->title;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("field");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->field;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("degree");?></label>
                                    <div class="col-lg-6">
                                        
                                         <?php echo $this->element->degree;?>
                                        
                                        
<!--                                        <select name="degree" class="form-control" required>
                                            <option value=""><?php echo $this->translate->_("select");?></option>
                                            <option value="elementary_school" title="<?php echo $this->translate->_("name_elementary_school");?>"><?php echo $this->translate->_("elementary_school");?></option>
                                            <option value="high_school" title="<?php echo $this->translate->_("name_high_school");?>"><?php echo $this->translate->_("high_school");?></option>
                                            <option value="graduate" title="<?php echo $this->translate->_("name_graduate");?>"><?php echo $this->translate->_("graduate");?></option>
                                            <option value="masters" title="<?php echo $this->translate->_("name_masters");?>"><?php echo $this->translate->_("masters");?></option>
                                            <option value="mba" title="<?php echo $this->translate->_("name_mba");?>"><?php echo $this->translate->_("mba");?></option>
                                        </select>-->
                                        <div class="clearfix"></div>
                                    </div>
                                </div>       
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("activities");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->activities;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>     
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("start");?> <?php echo $this->translate->_("year");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->start;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>   
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("end");?> <?php echo $this->translate->_("year");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->end;?>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>                                                                                              
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?>
                                        <button class="btn btn-primary btn-save branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
" type="submit"><?php echo $this->translate->_("save");?></button>
                                        <button class="btn btn-default close-modal btn-close" type="button"><?php echo $this->translate->_("cancel");?></button>
                                    </div>
                                </div>
                            </form>                            
                            <script>
                            $(function(){
                                $('.default-date-picker').datepicker({
                                    format: 'yyyy-mm-dd',
                                });
                            });
                            </script>     