<div class="row">
    <div class="col-sm-12">
        <form id="linkedin_link_profile" method="POST" action="">
            <label for="linkedin">Copy and past you Linkedin Profile Link</label>
            <?= $this->element->linkedin_link ?>
            <?= $this->element->id ?>
        </form>
    </div>
</div>
