﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1418px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16654_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1405px;
  height:996px;
}
#u16654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:993px;
}
#u16654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:9px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16655 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:239px;
  height:34px;
  color:#FFFFFF;
}
#u16655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:235px;
  word-wrap:break-word;
}
#u16656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:949px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:1402px;
  height:949px;
}
#u16656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16657 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:55px;
  width:22px;
  height:22px;
}
#u16657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u16658 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:55px;
  width:25px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u16658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u16659 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:55px;
  width:21px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u16659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:31px;
}
#u16661 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:51px;
  width:1084px;
  height:30px;
}
#u16661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u16662 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:54px;
  width:23px;
  height:22px;
}
#u16662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u16663 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:54px;
  width:24px;
  height:22px;
}
#u16663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16664 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:61px;
  width:245px;
  height:16px;
}
#u16664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u16665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u16665 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:55px;
  width:17px;
  height:20px;
}
#u16665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u16667 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:58px;
  width:5px;
  height:6px;
}
#u16667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u16668 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:64px;
  width:5px;
  height:6px;
}
#u16668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u16669 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:71px;
  width:5px;
  height:6px;
}
#u16669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:60px;
}
#u16671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:1402px;
  height:59px;
}
#u16671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:43px;
}
#u16672 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:96px;
  width:81px;
  height:43px;
}
#u16672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u16673 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:106px;
  width:1096px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u16673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  word-wrap:break-word;
}
#u16675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u16676 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:102px;
  width:33px;
  height:32px;
}
#u16676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16677 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:104px;
  width:30px;
  height:30px;
}
#u16677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u16678 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:110px;
  width:50px;
  height:14px;
  font-size:12px;
}
#u16678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u16679 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:113px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u16679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:95px;
}
#u16681 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:940px;
  width:1408px;
  height:94px;
}
#u16681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u16682 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:947px;
  width:42px;
  height:42px;
}
#u16682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u16683 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:947px;
  width:42px;
  height:42px;
}
#u16683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u16684 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:947px;
  width:42px;
  height:42px;
}
#u16684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u16685 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:957px;
  width:251px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u16685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u16686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u16686 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:957px;
  width:800px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u16686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u16687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u16687 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:899px;
  width:50px;
  height:41px;
}
#u16687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:24px;
}
#u16689 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:55px;
  width:973px;
  height:23px;
}
#u16689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16690 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:59px;
  width:921px;
  height:32px;
}
#u16690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  word-wrap:break-word;
}
#u16692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:753px;
  background:inherit;
  background-color:rgba(51, 54, 70, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:114px;
  height:753px;
}
#u16692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16694 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:239px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u16694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u16695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u16695 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:190px;
  width:50px;
  height:39px;
}
#u16695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16697 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:322px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u16697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u16698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u16698 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:280px;
  width:43px;
  height:37px;
}
#u16698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16700 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:408px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u16700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u16701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u16701 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:360px;
  width:43px;
  height:40px;
}
#u16701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u16703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u16704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u16704 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:705px;
  width:42px;
  height:42px;
}
#u16704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:581px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u16706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u16707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u16707 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:539px;
  width:43px;
  height:38px;
}
#u16707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:660px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u16709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u16710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u16710 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:619px;
  width:50px;
  height:38px;
}
#u16710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16712 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:499px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u16712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u16713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u16713 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:457px;
  width:43px;
  height:38px;
}
#u16713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16714 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:169px;
  width:1306px;
  height:730px;
  overflow:hidden;
}
#u16714_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:730px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u16714_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:41px;
}
#u16716 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:68px;
  width:336px;
  height:40px;
}
#u16716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16717 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:83px;
  width:41px;
  height:16px;
}
#u16717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u16718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16718 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:83px;
  width:19px;
  height:16px;
}
#u16718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u16719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u16719 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:82px;
  width:76px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u16719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u16720 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:82px;
  width:76px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u16720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(130, 190, 0, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u16721 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:68px;
  width:83px;
  height:40px;
  font-size:17px;
}
#u16721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u16722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:39px;
  background:inherit;
  background-color:rgba(130, 190, 0, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u16722 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:66px;
  width:132px;
  height:39px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u16722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u16722_ann {
  border-width:0px;
  position:absolute;
  left:140px;
  top:62px;
  width:1px;
  height:1px;
}
#u16723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u16724 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:68px;
  width:140px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u16724_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u16725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u16725 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:76px;
  width:25px;
  height:25px;
}
#u16725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1247px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16726 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:5px;
  width:1247px;
  height:37px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1247px;
  word-wrap:break-word;
}
#u16727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u16728 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:660px;
  width:113px;
  height:31px;
  color:#000000;
}
#u16728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u16729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u16729 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:660px;
  width:113px;
  height:31px;
  color:#000000;
}
#u16729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u16730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u16730 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:665px;
  width:10px;
  height:21px;
}
#u16730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u16731 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:665px;
  width:10px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u16731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u16734 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:66px;
  width:109px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u16734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u16735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u16735 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:87px;
  width:176px;
  height:16px;
  color:#CCCCCC;
}
#u16735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u16736 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:134px;
  width:1240px;
  height:404px;
}
#u16737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:52px;
}
#u16737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u16737_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:308px;
  word-wrap:break-word;
}
#u16738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:52px;
}
#u16738 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:0px;
  width:95px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u16738_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:75px;
  word-wrap:break-word;
}
#u16739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:52px;
}
#u16739 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:0px;
  width:109px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16739_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:89px;
  word-wrap:break-word;
}
#u16740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u16740 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:0px;
  width:101px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16740_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:81px;
  word-wrap:break-word;
}
#u16741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
}
#u16741 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:0px;
  width:98px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16741_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:78px;
  word-wrap:break-word;
}
#u16742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:52px;
}
#u16742 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:0px;
  width:94px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u16742_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u16743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u16743 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:0px;
  width:87px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u16743_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:67px;
  word-wrap:break-word;
}
#u16744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:52px;
}
#u16744 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:0px;
  width:122px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u16744_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:102px;
  word-wrap:break-word;
}
#u16745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:52px;
}
#u16745 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:0px;
  width:103px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u16745_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u16746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:52px;
}
#u16746 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:0px;
  width:103px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16746_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u16747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:34px;
}
#u16747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:328px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
}
#u16748 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:52px;
  width:95px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u16748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u16749 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:52px;
  width:109px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u16749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u16750 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:52px;
  width:101px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u16750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u16751 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:52px;
  width:98px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u16751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
}
#u16752 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:52px;
  width:94px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u16752_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:74px;
  word-wrap:break-word;
}
#u16753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:34px;
}
#u16753 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:52px;
  width:87px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u16753_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:67px;
  word-wrap:break-word;
}
#u16754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u16754 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:52px;
  width:122px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u16754_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:102px;
  word-wrap:break-word;
}
#u16755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u16755 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:52px;
  width:103px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u16755_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:83px;
  word-wrap:break-word;
}
#u16756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u16756 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:52px;
  width:103px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u16756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:52px;
}
#u16757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:328px;
  height:52px;
  text-align:left;
}
#u16757_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:308px;
  word-wrap:break-word;
}
#u16758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:52px;
}
#u16758 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:86px;
  width:95px;
  height:52px;
}
#u16758_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:75px;
  word-wrap:break-word;
}
#u16759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:52px;
}
#u16759 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:86px;
  width:109px;
  height:52px;
}
#u16759_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:89px;
  word-wrap:break-word;
}
#u16760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u16760 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:86px;
  width:101px;
  height:52px;
}
#u16760_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:81px;
  word-wrap:break-word;
}
#u16761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
}
#u16761 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:86px;
  width:98px;
  height:52px;
  text-align:left;
}
#u16761_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:78px;
  word-wrap:break-word;
}
#u16762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:52px;
}
#u16762 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:86px;
  width:94px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u16762_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:19px;
  width:74px;
  word-wrap:break-word;
}
#u16763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u16763 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:86px;
  width:87px;
  height:52px;
  font-size:11px;
  text-align:right;
}
#u16763_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:19px;
  width:67px;
  word-wrap:break-word;
}
#u16764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:52px;
}
#u16764 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:86px;
  width:122px;
  height:52px;
  font-size:11px;
  text-align:right;
}
#u16764_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:19px;
  width:102px;
  word-wrap:break-word;
}
#u16765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:52px;
}
#u16765 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:86px;
  width:103px;
  height:52px;
  text-align:right;
}
#u16765_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u16765_ann {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:86px;
  width:1px;
  height:1px;
}
#u16766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:52px;
}
#u16766 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:86px;
  width:103px;
  height:52px;
  text-align:right;
}
#u16766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:38px;
}
#u16767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:328px;
  height:38px;
  text-align:left;
}
#u16767_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:308px;
  word-wrap:break-word;
}
#u16768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
}
#u16768 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:138px;
  width:95px;
  height:38px;
}
#u16768_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u16769 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:138px;
  width:109px;
  height:38px;
}
#u16769_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u16770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u16770 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:138px;
  width:101px;
  height:38px;
}
#u16770_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u16771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u16771 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:138px;
  width:98px;
  height:38px;
  text-align:left;
}
#u16771_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:78px;
  word-wrap:break-word;
}
#u16772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u16772 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:138px;
  width:94px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u16772_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u16773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u16773 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:138px;
  width:87px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16773_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u16774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u16774 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:138px;
  width:122px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16774_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u16775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16775 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:138px;
  width:103px;
  height:38px;
  text-align:right;
}
#u16775_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u16776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16776 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:138px;
  width:103px;
  height:38px;
  text-align:right;
}
#u16776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:38px;
}
#u16777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:328px;
  height:38px;
  color:#999999;
  text-align:left;
}
#u16777_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:308px;
  word-wrap:break-word;
}
#u16777_ann {
  border-width:0px;
  position:absolute;
  left:314px;
  top:176px;
  width:1px;
  height:1px;
}
#u16778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
}
#u16778 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:176px;
  width:95px;
  height:38px;
  color:#999999;
}
#u16778_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u16779 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:176px;
  width:109px;
  height:38px;
  color:#999999;
}
#u16779_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u16780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u16780 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:176px;
  width:101px;
  height:38px;
  color:#999999;
}
#u16780_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u16781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u16781 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:176px;
  width:98px;
  height:38px;
  color:#999999;
  text-align:left;
}
#u16781_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:78px;
  word-wrap:break-word;
}
#u16782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u16782 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:176px;
  width:94px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16782_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u16783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u16783 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:176px;
  width:87px;
  height:38px;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16783_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u16784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u16784 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:176px;
  width:122px;
  height:38px;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16784_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u16785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16785 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:176px;
  width:103px;
  height:38px;
  color:#999999;
  text-align:right;
}
#u16785_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u16786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16786 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:176px;
  width:103px;
  height:38px;
  color:#999999;
  text-align:right;
}
#u16786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:38px;
}
#u16787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:214px;
  width:328px;
  height:38px;
  color:#999999;
  text-align:left;
}
#u16787_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:308px;
  word-wrap:break-word;
}
#u16788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
}
#u16788 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:214px;
  width:95px;
  height:38px;
  color:#999999;
}
#u16788_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u16789 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:214px;
  width:109px;
  height:38px;
  color:#999999;
}
#u16789_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u16790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u16790 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:214px;
  width:101px;
  height:38px;
  color:#999999;
}
#u16790_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u16791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u16791 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:214px;
  width:98px;
  height:38px;
  color:#999999;
  text-align:left;
}
#u16791_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:78px;
  word-wrap:break-word;
}
#u16792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u16792 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:214px;
  width:94px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16792_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u16793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u16793 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:214px;
  width:87px;
  height:38px;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16793_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u16794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u16794 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:214px;
  width:122px;
  height:38px;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u16794_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u16795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16795 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:214px;
  width:103px;
  height:38px;
  color:#999999;
  text-align:right;
}
#u16795_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u16796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16796 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:214px;
  width:103px;
  height:38px;
  color:#999999;
  text-align:right;
}
#u16796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:38px;
}
#u16797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:328px;
  height:38px;
  text-align:left;
}
#u16797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
}
#u16798 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:252px;
  width:95px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u16799 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:252px;
  width:109px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u16800 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:252px;
  width:101px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u16801 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:252px;
  width:98px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u16802 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:252px;
  width:94px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u16802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u16803 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:252px;
  width:87px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u16804 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:252px;
  width:122px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16805 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:252px;
  width:103px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16806 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:252px;
  width:103px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:38px;
}
#u16807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:290px;
  width:328px;
  height:38px;
  text-align:left;
}
#u16807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
}
#u16808 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:290px;
  width:95px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u16809 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:290px;
  width:109px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u16810 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:290px;
  width:101px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u16811 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:290px;
  width:98px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u16812 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:290px;
  width:94px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u16812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u16813 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:290px;
  width:87px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u16814 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:290px;
  width:122px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16815 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:290px;
  width:103px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16816 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:290px;
  width:103px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:38px;
}
#u16817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:328px;
  width:328px;
  height:38px;
  text-align:left;
}
#u16817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
}
#u16818 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:328px;
  width:95px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u16819 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:328px;
  width:109px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u16820 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:328px;
  width:101px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u16821 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:328px;
  width:98px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u16822 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:328px;
  width:94px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u16822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u16823 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:328px;
  width:87px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u16824 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:328px;
  width:122px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16825 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:328px;
  width:103px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16826 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:328px;
  width:103px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:38px;
}
#u16827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:366px;
  width:328px;
  height:38px;
  text-align:left;
}
#u16827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
}
#u16828 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:366px;
  width:95px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u16829 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:366px;
  width:109px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u16830 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:366px;
  width:101px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u16831 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:366px;
  width:98px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u16832 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:366px;
  width:94px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u16832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u16833 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:366px;
  width:87px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u16834 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:366px;
  width:122px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16835 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:366px;
  width:103px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u16836 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:366px;
  width:103px;
  height:38px;
  font-size:11px;
  text-align:right;
}
#u16836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16736_ann {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:130px;
  width:1px;
  height:1px;
}
#u16837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u16838 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:195px;
  width:14px;
  height:19px;
}
#u16838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u16839 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:199px;
  width:20px;
  height:11px;
}
#u16839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u16840 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:199px;
  width:20px;
  height:11px;
}
#u16840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16841 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:192px;
  width:269px;
  height:22px;
}
#u16841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u16843 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:194px;
  width:14px;
  height:19px;
}
#u16843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u16844 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:198px;
  width:20px;
  height:11px;
}
#u16844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u16845 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:198px;
  width:20px;
  height:11px;
}
#u16845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16846 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:193px;
  width:91px;
  height:22px;
}
#u16846_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16846_input:disabled {
  color:grayText;
}
#u16847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u16848 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:195px;
  width:14px;
  height:19px;
}
#u16848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u16849 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:199px;
  width:20px;
  height:11px;
}
#u16849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u16850 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:199px;
  width:20px;
  height:11px;
}
#u16850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u16852 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:238px;
  width:18px;
  height:18px;
}
#u16852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u16853 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:238px;
  width:18px;
  height:18px;
}
#u16853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u16854 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:236px;
  width:23px;
  height:23px;
}
#u16854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u16856 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:281px;
  width:18px;
  height:18px;
}
#u16856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u16857 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:281px;
  width:18px;
  height:18px;
}
#u16857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u16858 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:279px;
  width:23px;
  height:23px;
}
#u16858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u16860 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:321px;
  width:18px;
  height:18px;
}
#u16860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u16861 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:321px;
  width:18px;
  height:18px;
}
#u16861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u16862 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:319px;
  width:23px;
  height:23px;
}
#u16862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u16864 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:357px;
  width:18px;
  height:18px;
}
#u16864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u16865 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:357px;
  width:18px;
  height:18px;
}
#u16865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u16866 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:355px;
  width:23px;
  height:23px;
}
#u16866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
  background:inherit;
  background-color:rgba(58, 197, 217, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16870 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:271px;
  width:113px;
  height:76px;
}
#u16870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:325px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u16873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u16874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u16874 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:286px;
  width:43px;
  height:37px;
}
#u16874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
