<?php
$mContent = new models_Content();
$status = $mContent->getCampaignStatus();
?>


<section class="wrapper djfufjgg">
    <div class="row">
        <div class="">

<style>
    
    .table > thead > tr > th , .table > tbody > tr > td{
        /*border: 2px solid #555!important;*/
        height: 4.5em;
        text-align: center;
    }

    #dynamic-table_wrapper {
        padding: 0;
    }

    .no-padding{
        padding: 0!important;
    }

    .table-bordered thead tr th {
    background-color: #ecf0f2!important;
    border: 0 !important;
}

.table > tbody > tr > td {
    border: 1px solid rgba(151, 151, 151, 0.13) !important;
}
</style>

        <div class="leaderboard_bottom">
            <section class="panel">
                <div class="">
                    <div class="clearfix">
                        <div class="col-md-12 no-padding">
                            <div class="tab-content" style="background: #FFF">
                                <div id="dynamic-table_wrapper" class="">

                                    <table class="table table-bordered tbl-leader dataTable no-footer">
                                        <thead >
                                        <tr class="branding_brand_colors_top_menu_background_color branding_brand_colors_top_menu_background_color">
                                            <th><?php echo $this->translate->_('Start date'); ?></th>
                                            <th><?php echo $this->translate->_('End date'); ?></th>
                                            <th><?php echo $this->translate->_('Campaigns name'); ?></th>
                                            <th><?php echo $this->translate->_('campaign_jobs'); ?></th>
                                            <th><?php echo $this->translate->_('campaign_actions'); ?></th>
                                            <th><?php echo $this->translate->_('status'); ?></th>
                                            <th><?php echo $this->translate->_('1st_place'); ?></th>
                                            <th><?php echo $this->translate->_('2nd_place'); ?></th>
                                            <th><?php echo $this->translate->_('3rd_place'); ?></th>

                                            <?php if(Zend_Auth::getInstance()->getIdentity()->type != 1 ) : ?>
                                            <th><?php echo $this->translate->_('actions'); ?></th>
                                            <?php endif ; ?>
                                        </tr>
                                        <tr>
                                            <th><i onclick="campaign_report_function('ASC')" class="fas fa-arrow-up"></i><i onclick="campaign_report_function('DESC')"  class="fas fa-arrow-down"></i></th>
                                            <th><i onclick="campaign_report_function('', 'ASC')" class="fas fa-arrow-up"></i><i onclick="campaign_report_function('', 'DESC') "class="fas fa-arrow-down"></i></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th><select onchange="campaign_report_function('', '', this.value)">
                                                    <option value=""><?php echo $this->translate->_('filter'); ?></option>
                                                    <?php foreach ($status as $key => $status) : ?>

                                                    <option value="<?= $status['id'] ?>" ><?php echo $this->translate->_(ucfirst($status['title'])); ?></option>
                                                <?php endforeach; ?>
                                                </select></th>
                                            <th><i onclick="campaign_report_function('', '', '', '', '', 'ASC')" class="fas fa-arrow-up"></i><i onclick="campaign_report_function('', '', '', '', '', 'DESC')" class="fas fa-arrow-down"></i></th>
                                            <th><i onclick="campaign_report_function('', '', '', '', '', '', 'ASC')" class="fas fa-arrow-up"></i><i onclick="campaign_report_function('', '', '', '', '', '', 'DESC')" class="fas fa-arrow-down"></i></th>
                                            <th><i onclick="campaign_report_function('', '', '', '', '', '', '', 'ASC')" class="fas fa-arrow-up"></i><i onclick="campaign_report_function('', '', '', '', '', '', '', 'DESC')" class="fas fa-arrow-down"></i></th>
                                            <?php if(Zend_Auth::getInstance()->getIdentity()->type != 1) : ?>
                                                <th></th>
                                            <?php endif; ?>

                                        </tr>
                                        </thead>
                                        <tbody id="dddd">

                                        </tbody>

                                    </table>


                                    <div class="col-sm-12">
                                        <div class="col-sm-9">
                                        </div>
                                        <div class="col-sm-3">
                                            <button onclick="set_offset(-1)" id="prev" class="btn"><i class="fas fa-arrow-left"></i>Prev</button>
                                            <button onclick="set_offset(1)" id="next" class="btn">Next <i class="fas fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<style>

.xsjdhft {
    margin-left:0px;
}

    .winner-name{
        font-size: 10px;
        color: #828282;
    }
</style>

<script type="text/javascript">

    function set_offset(x)
    {
        offset += 20 * x;
        campaign_report_function();
    }


    $(document).ready(function () {
        jQuery("#date").daterangepicker({
            "startDate": "<?php echo date("m/d/Y", strtotime("-1 months"));?>",
            "endDate": "<?php echo date("m/d/Y");?>"
        }, function(start, end, label)
        {
//              console.log("New date range selected: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ('predefined range: ' + label));

            var myForm = $("form#leaderboards-filter");
            var start = $("<input>")
                .attr("type", "hidden")
                .attr("name", "start").val(start.format('YYYY-MM-DD'));
            var end = $("<input>")
                .attr("type", "hidden")
                .attr("name", "end").val(end.format('YYYY-MM-DD'));
            myForm.append($(start));
            myForm.append($(end));
            myForm.submit();
        });

        var tab = function (data) {
            var $this = data;
            $($this).tab('show');
            var status_id = $($this).attr('href').split('#');
            this.id = status_id[1];
            this.getID = function () {
                ;
                return this.id;
            }
        }
        $("#myTab a").click(function (e) {
            e.preventDefault();
            var data = this
            var initShowTab = new tab(this);
            $('#all-Filter').hide('fast');
            if (initShowTab.getID() == 'all') {
                $('#all-Filter').slideDown();
            }


        });
        jQuery("#date").change(function()
        {
            //$("form").submit();
        });

        $('#all-Filter').hide('fast');
        var language = ['ro', 'en', 'fr', 'hu'];
        var lang = "<?php echo $this->lang; ?>";
        var index = language.indexOf(lang);
        if (index >= 0) {
            language.splice(index, 1);
        }
        window.onload = function(){
            $('span'+lang).show();
            $('select'+lang).show();
        };



        $('#date').on('apply.daterangepicker', function(ev, picker) {
            ev.preventDefault();
            ev.stopPropagation();
            var tables = $.fn.dataTable.tables(true);
            var startDate = picker.startDate.format('YYYY-MM-DD');
            var endDate = picker.endDate.format('YYYY-MM-DD');
            console.log(picker.startDate.format('YYYY-MM-DD'));
            console.log(picker.endDate.format('YYYY-MM-DD'));
            console.log(tables);
            $(tables).DataTable().search(startDate+'.'+endDate).draw();
            return false;
        });
    });
</script>




<script>


    /*

    fstart desc = campaign_report_function('DESC')
    fend desc = campaign_report_function('', "DESC")
    fstatus 1 = campaign_report_function('', '', 1)
    f1st desc campaign_report_function('', '', '', '', '', 'DESC')
    f2nd desc campaign_report_function('', '', '', '', '', '', 'DESC')
    f3rd desc campaign_report_function('', '', '', '', '', '', '', DESC)

    */

    var offset = 0;


    function    show_tool(id)
    {
        $("#"+id).tooltip('show');
    }

    function removeEmptyValues(obj) {
        for (var propName in obj) {
            if (!obj[propName] || obj[propName].length === 0) {
                delete obj[propName];
            } else if (typeof obj === 'object') {
                removeEmptyValues(obj[propName]);
            }
        }
        return obj;
    }

    function    campaign_report_function(fstart, fend, fstatus, fstart_date, fend_date, f1st, f2nd, f3rd){

        fstart_date=$("#_start").val()
        fend_date=$("#_end").val()

        var data = {
            filters: {
                'start': fstart,
                'end': fend,
                'status': fstatus,
                'start_date':  fstart_date,
                'end_date': fend_date,
                place: {
                    "1st_place": f1st,
                    "2nd_place": f2nd,
                    "3rd_place": f3rd
                }
            },
            'offset': offset,

        }


        var fdata = removeEmptyValues(data)

        $.ajax({
            type: 'POST',
            contentType: "application/x-www-form-urlencoded",
            url: "<?php echo $this->url ; ?>",
            data: fdata
        })   .done(function( data ) {
            if(typeof data == "string")
                data = JSON.parse(data)
            console.log(data)
            $("#dddd").html('');
            for(var i=0;i<data.length;i++)
            {
                var no_data = "-";
                var start = data[i].start;
                var end = data[i].end;
                var title = data[i].title;
                var status = data[i].status;
                var jobs = data[i].jobs.length;
                var actions = data[i].actions.length;

                var _1_total_points = data[i]["1st_place"].total_points;
                var _1_firstname = data[i]["1st_place"].firstname;
                var _1_lastname = data[i]["1st_place"].lastname;

                var _2_total_points = data[i]["2nd_place"].total_points;
                var _2_firstname = data[i]["2nd_place"].firstname;
                var _2_lastname = data[i]["2nd_place"].lastname;

                var _3_total_points = data[i]["3rd_place"].total_points;
                var _3_firstname = data[i]["3rd_place"].firstname;
                var _3_lastname = data[i]["3rd_place"].lastname;


                var __first = '<div><div>'+_1_total_points+' points</div><div class="winner-name">'+_1_firstname + ' ' + _1_lastname+'</div></div>';
                var __second = '<div><div>'+_2_total_points+' points</div><div class="winner-name">'+_2_firstname + ' ' + _2_lastname+'</div></div>';
                var __third = '<div><div>'+_3_total_points+' points</div><div class="winner-name">'+_3_firstname + ' ' + _3_lastname+'</div></div>';
                if(typeof _1_total_points == 'undefined')
                {
                    __first = no_data;
                }
                if(typeof _2_total_points == 'undefined')
                {
                    __second = no_data;
                }
                if(typeof _3_total_points == 'undefined')
                {
                    __third = no_data;
                }

                tr = '<tr>';

                tr += '<td>'+start+'</td>';
                tr += '<td>'+end+'</td>';
                tr += '<td><a href=campaign-report?id='+data[i].id +'>'+  title+'</a></td>';
                tr += '<td>'+jobs+' jobs</td>';
                tr += '<td>'+actions+' actions</td>';
                tr += '<td>'+status+'</td>';
                tr += '<td>'+__first+'</td>';
                tr += '<td>'+__second+'</td>';
                tr += '<td>'+__third+'</td>';
                var id = data[i].id;



                // var href = '/ajax/index/delete-campaign?id='+id;
                var href1 = '/ajax/index/delete-campaign?id='+id;
                var href2 = 'javascript:show_tool(`a'+id+'`);';

                if(data[i]['can_edit'])
                {
                    href2 = 'add-campaign?id='+id;
                }

<?php if(Zend_Auth::getInstance()->getIdentity()->type != 1) : ?>
                tr += '<td><div><a data-toggle="tooltip" id="a'+id+'" title="Campaign has started. Editing is no longer possible" class="btn-edit" href="'+href2+'"><i class="far fa-edit"></i></a>' +
                    '<a class="btn-del" href="'+href1+'"><i class="fas fa-trash"></i></a></div></td>'
<?php endif; ?>
                tr += '</tr>'
                $("#dddd").append(tr)

            }

            if(offset == 0)
                document.getElementById("prev").style.display = 'none';
            else
                document.getElementById("prev").style.display = '';
            if(data.length != 20)
                document.getElementById("next").style.display = 'none';
            else
                document.getElementById("next").style.display = ''

        });
    }
    $(document).ready(function () {
        campaign_report_function();
          $('[data-toggle="tooltip"]').tooltip();   

    });

</script>

<style>

.tooltip {
    position: relative;
    display: block;
    opacity: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555!important;
    position: absolute;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    bottom: 125%;
    left: 20%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    width: 50%;
    padding: 1%;
    min-height: 35px!important;
}

.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
    position: absolute;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
    </style>