<?php
$style = "";
if(isset($this->style) && $this->style != "")
{
    $style .= $this->style;
}
?>
<style>

    input[type="date"], input[type="time"] {
        padding: 1%!important;
    }
        .table > thead > tr > th , .table > tbody > tr > td{
            border: 2px solid #555!important;
    }

    .pui {
        display: flex;
    }

.pui a {
    min-width: 9em;
    height: 2.7em;
    border-radius: 0px;
    border: 1px solid #555;
    width: fit-content;
}

.pui a p {
height: 100%;
    padding-top: 5px;
    width: 100%;
    min-width: 9em;
    width: -webkit-fill-available;
    font-size: 16px;
    text-align: center;
}

    .pui a p {
        border-radius: 0px;
    }

    .pui p {
        border-radius: 0px;
        border: 0 transparent;
        height: 42px!important;
        font-size: large!important;
        padding-top: 10px!important;
    }

    thead tr th i {
        font-size: 25px;
        cursor: pointer;
        margin-left: 10px;
    }

    thead tr th {
        text-align: center;
    }

    thead tr th i:hover {
        color: #008dff !important;
    }

    .oui {
        font-size: 24px;
        margin-top: 10px;
        margin-right: 10px;
    }

#dynamic-table_wrapper {
    padding: 15px;
    background: #FFF;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.16);
}

.table-bordered thead tr th {
    background-color: #ecf0f2;
    border: 0 !important;
}

.table > tbody > tr > td {
    border: 1px solid rgba(151, 151, 151, 0.13) !important;
}

#dynamic-table_wrapper {
    padding: 15px;
    background: #FFF;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.16);
}
</style>

<section class="wrapper djfufjgg">
    <div class="row">





        <div class="col-sm-12 leaderboard_bottom">
            <section class="panel">
                <div class="">
                    <div class="clearfix">
                        <div class="col-md-12">
                            <div class="tab-content" style="background: #FFF">
                                <div id="" class="">
                                    <table class="table table-bordered tbl-leader dataTable no-footer">
                                        <thead >
                                        <tr class="branding_brand_colors_top_menu_background_color branding_brand_colors_top_menu_background_color">
                                            <th>Rank</th>
                                                <th><?php echo $this->translate->_('surname_name'); ?></th>
                                            <th <?= $style ?>><?php echo $this->translate->_('Account Activated'); ?></th>
                                            <th <?= $style ?>><?php echo $this->translate->_('Profile Completed'); ?></th>
                                            <?php if(isset($this->actions) && !empty($this->actions)) : ?>
                                                <?php foreach($this->actions as $index => $action) : ?>
                        <th style="<?= ($action['exist_in_campaign'] == 1) ? '' : 'background:#CCC;'  ?>"><?= $action['action'] ?></th>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                            <th><?php echo $this->translate->_('total_points'); ?></th>
                                        </tr>
                                        <tr>
                                            <th <?= $style ?>></th>
                                            <th<?= $style ?>></th>
                                            <th></th>
                                            <th><div id="hie0"  ><select  onchange="fetch_leaderboard('', '', this.value)" >
                                                    <option  value=""><?php echo $this->translate->_('filter'); ?></option>
                                                    <option value="1"><?php echo $this->translate->_('active'); ?><?php echo $this->translate->_('active'); ?></option>
                                                    <option value="0"><?php echo $this->translate->_('expired'); ?><?php echo $this->translate->_('expired'); ?></option>
                                                    <option ><?php echo $this->translate->_('paused'); ?><?php echo $this->translate->_('paused'); ?></option>

                                                </select></div></th>
                                            <th><i onclick="fetch_leaderboard('views', 'ASC')" class="fas fa-arrow-up"></i><i onclick="fetch_leaderboard('views', 'DESC')" class="fas fa-arrow-down"></i></th>
                                            <th><i onclick="fetch_leaderboard('new_candidates', 'ASC')" class="fas fa-arrow-up"></i><i onclick="fetch_leaderboard('new_candidates', 'DESC')" class="fas fa-arrow-down"></i></th>
                                            <th><i onclick="fetch_leaderboard('new_applicants', 'ASC')" class="fas fa-arrow-up"></i><i onclick="fetch_leaderboard('new_applicants', 'DESC')" class="fas fa-arrow-down"></i></th>
                                            <th><i onclick="fetch_leaderboard('shares', 'ASC')" class="fas fa-arrow-up"></i><i onclick="fetch_leaderboard('shares', 'DESC')" class="fas fa-arrow-down"></i></th>
                                            <th><i onclick="fetch_leaderboard('successful_hire', 'ASC')" class="fas fa-arrow-up"></i><i onclick="fetch_leaderboard('successful_hire', 'DESC')" class="fas fa-arrow-down"></i></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="ddd">

                                        </tbody>

                                    </table>
                                    <div class="col-sm-12">
                                        <div class="col-sm-9">
                                        </div>
                                        <div class="col-sm-3">
                                            <button onclick="set_offset(-1)" id="prev" class="btn"><i class="fas fa-arrow-left"></i><?php echo $this->translate->_('prev'); ?></button>
                                            <button onclick="set_offset(1)" id="next" class="btn"><?php echo $this->translate->_('next'); ?> <i class="fas fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<script type="text/javascript">

    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }

    function set_offset(x)
    {
        offset += 20 * x;
        fetch_leaderboard();
        tab(0)
    }


    $(document).ready(function () {
        jQuery("#date").daterangepicker({
            "startDate": "<?php echo date("m/d/Y", strtotime("-1 months"));?>",
            "endDate": "<?php echo date("m/d/Y");?>"
        }, function(start, end, label)
        {
//              console.log("New date range selected: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ('predefined range: ' + label));

            var myForm = $("form#leaderboards-filter");
            var start = $("<input>")
                .attr("type", "hidden")
                .attr("name", "start").val(start.format('YYYY-MM-DD'));
            var end = $("<input>")
                .attr("type", "hidden")
                .attr("name", "end").val(end.format('YYYY-MM-DD'));
            myForm.append($(start));
            myForm.append($(end));
            myForm.submit();
        });

        var tab = function (data) {
            var $this = data;
            $($this).tab('show');
            var status_id = $($this).attr('href').split('#');
            this.id = status_id[1];
            this.getID = function () {
                ;
                return this.id;
            }
        }
        $("#myTab a").click(function (e) {
            e.preventDefault();
            var data = this
            var initShowTab = new tab(this);
            $('#all-Filter').hide('fast');
            if (initShowTab.getID() == 'all') {
                $('#all-Filter').slideDown();
            }


        });
        jQuery("#date").change(function()
        {
            //$("form").submit();
        });

        $('#all-Filter').hide('fast');
        var language = ['ro', 'en', 'fr', 'hu'];
        var lang = "<?php echo $this->lang; ?>";
        var index = language.indexOf(lang);
        if (index >= 0) {
            language.splice(index, 1);
        }
        window.onload = function(){
            $('span'+lang).show();
            $('select'+lang).show();
        };



        $('#date').on('apply.daterangepicker', function(ev, picker) {
            ev.preventDefault();
            ev.stopPropagation();
            var tables = $.fn.dataTable.tables(true);
            var startDate = picker.startDate.format('YYYY-MM-DD');
            var endDate = picker.endDate.format('YYYY-MM-DD');
            console.log(picker.startDate.format('YYYY-MM-DD'));
            console.log(picker.endDate.format('YYYY-MM-DD'));
            console.log(tables);
            $(tables).DataTable().search(startDate+'.'+endDate).draw();
            return false;
        });
    });
</script>

<script>


    /*



    */

    var offset = 0;

    function removeEmptyValues(obj) {
        for (var propName in obj) {
            if (!obj[propName] || obj[propName].length === 0) {
                delete obj[propName];
            } else if (typeof obj === 'object') {
                removeEmptyValues(obj[propName]);
            }
        }
        return obj;
    }

    function    fetch_leaderboard(key, value){

        fstart_date=$("#_start").val()
        fend_date=$("#_end").val()

        var data = {
            id: getUrlVars()["id"],
            filters: {
                sorting: {
                    [key]: value,
                },
                start_date: fstart_date,
                end_date: fend_date,
            },
            'offset': offset,

        }

        console.log(data)
        var fdata = removeEmptyValues(data)
        console.log(fdata)

        $.ajax({
            type: 'POST',
            contentType: "application/x-www-form-urlencoded",
            url: "<?php echo $this->url ?>",
            data: fdata
        })   .done(function( data ) {
            $("#ddd").html('');
            for(var i=0;i<data.length;i++)
            {
                var rank = i+1;
                var user = data[i].user;
                var end = data[i].end;
                var title = data[i].title;
                var status = data[i].status;
                var profile = '10' + "<br>" + "10 points on first signin";
                var activation = '10' + "<br>" + "10 points on first signin";
                var views = "", new_applicants = "", new_candidates="", shares="", successful_hire="";
                var total = data[i].total;

                if("views" in data[i])
                    views = data[i].views.points + '<br>' + data[i].views.calcul;

                if("new_applicants" in data[i])
                    new_applicants = data[i].new_applicants.points + '<br>' + data[i].new_applicants.calcul;

                if("new_candidates" in data[i])
                    new_candidates = data[i].new_candidates.points + '<br>' + data[i].new_candidates.calcul;
                if("successful_hire" in data[i])
                    successful_hire = data[i].successful_hire.points + '<br>' + data[i].successful_hire.calcul;
                if("shares" in data[i])
                    shares = data[i].shares.points + '<br>' + data[i].shares.calcul;



                /*var actions = data[i].actions.length;

                var _1_total_points = data[i]["1st_place"].total_points;
                var _1_firstname = data[i]["1st_place"].firstname;
                var _1_lastname = data[i]["1st_place"].lastname;

                var _2_total_points = data[i]["2nd_place"].total_points;
                var _2_firstname = data[i]["2nd_place"].firstname;
                var _2_lastname = data[i]["2nd_place"].lastname;

                var _3_total_points = data[i]["3rd_place"].total_points;
                var _3_firstname = data[i]["3rd_place"].firstname;
                var _3_lastname = data[i]["3rd_place"].lastname;

*/
                tr = '<tr>';
                tr += '<td>'+rank+'</td>';
                tr += '<td>'+user+'</td>';
                if(!getUrlVars('id'))
                    tr += '<td>'+activation+'</td>';
                else
                    tr += '<td style="display: none">'+activation+'</td>';
                if(!getUrlVars('id'))
                    tr += '<td>'+profile+'</td>';
                else
                    tr += '<td style="display: none">'+profile+'</td>';
                tr += '<td>'+views+'</td>';
                tr += '<td>'+new_candidates+'</td>';
                tr += '<td>'+new_applicants+'</td>';
                tr += '<td>'+shares+'</td>';
                tr += '<td>'+successful_hire+'</td>';
                tr += '<td>'+total+'</td>'

                /*tr += '<td>'+end+'</td>';
                tr += '<td>'+title+'</td>';
                tr += '<td>'+profile+' jobs</td>';
                tr += '<td>'+actions+' actions</td>';
                tr += '<td>'+status+'</td>';
                tr += '<td><div><div>'+_1_total_points+' points</div><div>'+_1_firstname + ' ' + _1_lastname+'</div></div></td>';
                tr += '<td><div><div>'+_2_total_points+' points</div><div>'+_2_firstname + ' ' + _2_lastname+'</div></div></td>';
                tr += '<td><div><div>'+_3_total_points+' points</div><div>'+_3_firstname + ' ' + _3_lastname+'</div></div></td>';

                var id = data[i].id;

                tr += '<td><div><a href="/add-campaign?id='+id+'"><i class="far fa-edit"></i></a><a href="/ajax/index/delete-campaign?id='+id+'"><i class="fas fa-trash"></i></a></div></td>'*/

                tr += '</tr>'
                $("#ddd").append(tr)

            }

            if(offset == 0)
                document.getElementById("prev").style.display = 'none';
            if(data.length != 20)
                document.getElementById("next").style.display = 'none';

        });
    }
    $(document).ready(function () {
        fetch_leaderboard();
                if(getUrlVars('id'))
                    document.getElementById("hie0").style.display = "none"
    });

</script>