<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br/> Dear {$firstname},
            <br /> &nbsp;
            <p>Thank you so much for giving us the opportunity to consider you for the {$job} @ {$company}. This was a tough decision on our part, but after analyzing all our candidates, we’ve decided to go in another direction at this time.
            </p>
            <p>
                I know this isn't the greatest of news, but please know that we really appreciate your interest in {$company}. Let's stay in touch should another opportunity arise that is a better match.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}" style="background-color:{$bg_color}" target="_blank">Check your applications status</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                Wishing you all the best!
            </p>
        </td>
    </tr>
</table>