<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <td>
        Hello {$user.firstname}, <br>
        <br>
        <br>
        <p>You successfully applied to : {$job.title} @ {$job.company_title}.</p> <p>You can view the application status here: <a style="color: #095556" onMouseOver="this.style.color='#666666'" onMouseOut="this.style.color='#095556'" href="{$settings.sitename}/profile#application">Application History</a></p>

        <p>Best of luck and hope you'll get the job you want soon. </p>

        <p><br>Keep in touch,<br>{$settings.sitename}</p>
        <center>
            <a class="button" style="background-color:{$bg_color}" target="_blank" href="{$subdomain_url}/login">Check your applications status</a
        </center>

        <p>&nbsp;</p>
    </td>
</table>

