<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$user.firstname},
            <br /> &nbsp;
            <p>"{$candidate.firstname} {$candidate.lastname} applied for {$job.title} in {$application.date}. You can find this candidate in the first column called: {$status.title}.</p>
            <p>
                View candidate profile and decide what should be the next step in the hiring process, moving candidate to the appropriate column.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/users/admin/mycvs" style="background-color:{$bg_color}" target="_blank">Update candidate’s status</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>