<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <td>
        Hi {$name.name},<br>
        <br>
        <br>
        You are a great match for this job: <a target="_blank" href="{$url}?track={$data.track}">{$job.title}</a> @ {$job.company_title}. <br/><br/>
        If you’re interested to apply, you have simple steps:
        <ol>
            <li>sign up on {$job.company_title} referral platform</li>
            <li>complete your profile to help recruiters understand how well your skills match this job's requirements</li>
            <li>view job detail & apply: <a target="_blank" href="{$url}?track={$data.track}">{$job.title}</a></li>
        </ol>
        <br/><br/>
        This is an automated referral system where your friends can recommend job openings from their companies.
        <br>
        <br>
        Cheers,
        {$user.firstname} {$user.lastname}
        <br><br>
        <center>
            <a class="button" style="background-color:{$bg_color}" target="_blank" href="{$url}?track={$data.track}">Apply Now</a>
        </center>

        <p>&nbsp;</p>
    </td>
</table>