<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$username},
            <br /> &nbsp;
            <p>Congratulations! You are a gifted talent hunter. {$candidate} has just been marked as a hired candidate for {$job.title} @ {$company}.</p>
            {$job_bounty}
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;"><br />
            <a class="button" href="{$subdomain_url}/profile#/rewards-view" style="background-color:{$bg_color}" target="_blank">Check your bounties</a>
        </td>
    </tr>
    <tr>
        <td align="center">
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>