<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$user.firstname},
            <br /> &nbsp;
            <p>Fresh impression matters. Please note your thoughts about {$candidate.firstname} {$candidate.lastname} as candidate for {$job.title} when you updated candidate’s recruitment status to {$status}.
            </p>
            <p>
                Feedback is documented and it will be visible to the hiring manager as well.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}" style="background-color:{$bg_color}" target="_blank">Document reasoning</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>