<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br />Hi {$firstname},
            <br /> &nbsp;
            <p>Thumbs up for your activity!<br>You are moving forward - check out your status <a style="color: #095556" onMouseOver="this.style.color='#666666'" onMouseOut="this.style.color='#095556'" href="{$subdomain_url}/profile#application">here</a> in the hiring process for {$job}.</p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
        </td>
    </tr>
    <tr>
        <td>
            <p><?php echo $this->translate->_('Friends work better together'); ?>!</p>
        </td>
    </tr>
</table>