<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <td>
        Dear {$company_title}, <br>
        <br>
        <br>
        {$user.firstname} {$user.lastname} just uploaded the CV for candidate {$candidate.firstname} {$candidate.lastname} for a position on one job posted by you ({$job.title}) You can view the
        application details: <a style="color: rgb(9, 85, 86);" onmouseover="this.style.color='#666666'" onmouseout="this.style.color='#095556'" href="{$settings.sitename}/job-details/?id={$id_job}">here</a>
        <br>
        <br>

        <center>
            <a class="button" style="background-color:{$bg_color}" target="_blank" href="{$subdomain_url}">Complete you profile</a>
        </center>

        <p>&nbsp;</p>
    </td>
</table>