<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <td>
        Hi {$candidate.firstname},<br>
        <br>
        <br>
        I just uploaded your CV for this job: <a target="_blank" href="{$job_url}">{$job.title}</a> @ {$job.company_title}, where I think fit your skills very well.

        <br/><br/>Sign in the most social referral platform: {$settings.sitename}, using
        your e-mail address you're reading this message now and your password <b>{$password}</b>
        to see your application status.
        <br>

        I'll keep you my fingers crossed! Please let me know if you'd like more details about jobs @ {$company.title}.
        <br>
        <br>

        <center>
            <a class="button" style="background-color:{$bg_color}" target="_blank" href="{$subdomain_url}">Activate your account</a>
        </center>

        Keep in touch,<br>
        {$user.firstname} {$user.lastname}
        <br>
        <br>

        <p>&nbsp;</p>
    </td>
</table>