<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$username},
            <br /> &nbsp;
            <p>Your campaign has started!  </p>
            <table style="border:3px solid #ccc">
                <colgroup>
                    <col width="20%" style="color:#828282;border:3px solid #ccc">
                    <col width="80%" style="border:3px solid #ccc">
                </colgroup>
                <tbody>
                <tr>
                    <td class="righted padded bordered">Period</td>
                    <td class="lefted padded bordered"> {$start} - {$end}</td>
                </tr>
                <tr>
                    <td class="righted padded bordered">Jobs included</td>
                    <td class="lefted padded bordered">{$jobs}</td>
                </tr>
                <tr>
                    <td class="righted padded bordered">Prize</td>
                    <td class="lefted padded bordered">{$bounty}
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <p>
                We can't wait to see your campaign leaderboard growing each day.
                You can always check your live stats in your <a href="{$subdomain_url}/leaderboards">leaderboards</a>  page .</p><br/>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}" style="background-color:{$bg_color}" target="_blank">Share promoted jobs</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>