<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>Your {$role} account is ready for your first signin, using credentials:</p>
            <ul>
                <li>username: <b>{$email}</b></li>
                <li>password: <b>{$password}</b></li>
            </ul>

            <p>This {$role} role is very important, being able to:</p>
            <ol>
                <li>manage & share jobs</li>
                <li>manage candidates</li>
                <li>study complete reports and decide future actions</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" style="background-color:{$bg_color}" href="{$sitename}" target="_blank">Setup your social referral tool</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>