<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>You just decided to hire {$candidate.firstname} {$candidate.lastname} in {$job.title} role.</p>
            <p>
                It's time to recognize & reward your colleague that made this possible: {$recommender.firstname} {$recommender.lastname} deserves a big 'thank you' for recommending your job.
            </p>
        </td>
    </tr>

    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="mailto:{$recommender.email}?cc={$recruiter.email}, {$hiring_manager.email}&subject=Big%20Thank%20You%20for%20sharing{$job.title}%20job%20to%20your%20friend&body=Salut%20{$recommender.firstname}" style="background-color:{$bg_color}" target="_blank">send your THANK YOU email</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Build Your Own Talent Stream!</p>
        </td>
    </tr>
</table>