<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Dear {$firstname},
            <br /> &nbsp;
            <p>Your application for {$job} @ {$company} just got one step further. Recruiter has changed your status to <b>"offered"</b>!
            </p>
            <p>
                Well done, we are happy for  you that you got this far!
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}" style="background-color:{$bg_color}" target="_blank">Check your applications status</a>
        </td>
    </tr>
</table>