
<!-- Modal content-->
<div class="modal-content edit-terms-wrapper">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">About us</h4>
    </div>
    <div class="modal-body">
        <textarea name="editor1" id="editor1" class="ckeditor" cols="70" rows="70"></textarea>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default can-bt custom-can-bt" data-dismiss="modal">Close</button>
        <button class="btn add-br cus-addbr" type="button"
                onClick="Notify()">save</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        CKEDITOR.replace('editor1',{
            toolbar:
                [
                    {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                    {name: 'basicstyles', items: ['Bold', 'Italic']},
                ]
        });

    })
    var terms = "<?php echo str_replace('"',"'",htmlspecialchars_decode($this->content))?>";
    CKEDITOR.instances['editor1'].setData(terms);
    function Notify() {
        var data = CKEDITOR.instances.editor1.getData();
        var Base64={_keyStr:"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",encode:function(e){var t="";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t="";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9\+\/\=]/g,"");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o = this._keyStr.indexOf(e.charAt(f++));u = this._keyStr.indexOf(e.charAt(f++));a = this._keyStr.indexOf(e.charAt(f++));n = s << 2 | o >> 4;r = (o & 15) << 4 | u >> 2;i = (u & 3) << 6 | a;t = t + String.fromCharCode(n);if (u != 64) {
                t = t + String.fromCharCode(r)
            }
                if (a != 64) {
                    t = t + String.fromCharCode(i)
                }
            }
                t = Base64._utf8_decode(t);
                return t
            }, _utf8_encode: function (e) {
                e = e.replace(/\r\n/g, "\n");
                var t = "";
                for (var n = 0; n < e.length; n++) {
                    var r = e.charCodeAt(n);
                    if (r < 128) {
                        t += String.fromCharCode(r)
                    } else if (r > 127 && r < 2048) {
                        t += String.fromCharCode(r >> 6 | 192);
                        t += String.fromCharCode(r & 63 | 128)
                    } else {
                        t += String.fromCharCode(r >> 12 | 224);
                        t += String.fromCharCode(r >> 6 & 63 | 128);
                        t += String.fromCharCode(r & 63 | 128)
                    }
                }
                return t
            }, _utf8_decode: function (e) {
                var t = "";
                var n = 0;
                var r = c1 = c2 = 0;
                while (n < e.length) {
                    r = e.charCodeAt(n);
                    if (r < 128) {
                        t += String.fromCharCode(r);
                        n++
                    } else if (r > 191 && r < 224) {
                        c2 = e.charCodeAt(n + 1);
                        t += String.fromCharCode((r & 31) << 6 | c2 & 63);
                        n += 2
                    } else {
                        c2 = e.charCodeAt(n + 1);
                        c3 = e.charCodeAt(n + 2);
                        t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);
                        n += 3
                    }
                }
                return t
            }};

        $(document).ready(function () {
            $.ajax({
                data: {data: Base64.encode(data)},
                type: "POST",
                url: '/default/admin/about-us',
                success:function(data) {
                    $('[data-dismiss="modal"]').click();
                    location.reload();
                }
            })
        })
//        var data = CKEDITOR.instances.editor1.getData();
//        console.log(data);
    }
</script>
