<section id="main-content">
    <section class="wrapper analytics jjfug">
        <!--mini statistics start-->
        <div class="row">  
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('stats'); ?>
                    </h3>
                </div>
                <div class="col-sm-2 col-sm-offset-5">
                    <a class="btn add-br _yttevd  branding-border-color-buttons
 branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
" href="/default/admin/xl-export"><?php echo $this->translate->_('xl_export'); ?></a>
                </div>
                <div class=" col-sm-2">
                    <div class="kkdjf">
                        <button class="btn dkkfif">
                            <span class="search-brain" style="padding:0px;height: 0px"> 
                                <i style="top: 0px;"class="glyphicon glyphicon-search branding-border-color-buttons
 branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"></i></span>
                            <span id="filter-clicked-7" class=""></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 no-pad">
                <div id="search-cont" class="_hide">
                    <label>Search</label>
                    <input type="text" id="searchbox" class="form-control">
                </div>

            </div>
            <div class="col-md-12 need-pad-top-xs">
                
                <div class="col-md-6">
                    <section class="panel">
                        <header class="panel-heading brain-heading branding-table-header-top">
                            <span class="br-title"><?php echo $this->translate->_('candidate_skills'); ?></span>
                        </header>
                        <div class=" panel-body fixing">
                            <table class="table table-bordered table-skills"  border="0">
                                <thead>
                                    <tr>
                                        <td class="td_table"></td>
                                        <td class="td_table"></td>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php 
                                    $num = count($this->skills)/2;
                                    $j = 2; $i = 1; foreach ((array) $this->skills as $key => $skill):?>
                                    <?php if ($j % 2 == 0):?>
                                    <tr>
                                        <td class="ggdtfgg">
                                            <span class=" dig"><?php echo $i;?> </span> <span class="strg"><?php echo $this->skills[$key]['skill'];?></span>
                                        </td>
                                        <td class="ggdtfgg">
                                            <span class=" dig"><?php echo $i + $num;?> </span> <span class="strg"><?php echo $this->skills[$key+1]['skill'];?></span>
                                        </td>
                                    </tr>
                                    <?php $i++; endif;?>
                                    <?php $j++; endforeach;?>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer bdy-height-footer">
                            <div>
                                <button class="btn view-btn branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"><?php echo $this->translate->_('view_all_skills'); ?></button>
                            </div>

                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                    <section class="panel">
                        <header class=" panel-heading brain-heading branding-table-header-top">
                            <span class="br-title"><?php echo $this->translate->_('job_closing_rate'); ?></span>
                        </header>
                        <div class=" panel-body fixing">
                            <table class="table table-bordered jobs_closing"  border="0">
                                <thead>
                                    <tr>
                                        <td><?php echo $this->translate->_('__department'); ?></td>
                                        <td><?php echo $this->translate->_('no_of_jobs'); ?></td>
                                        <td><?php echo $this->translate->_('%_of_jobs_closed'); ?></td>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php foreach ((array) $this->closing as $item):?>
                                    <tr>
                                        <td><?php echo $item['title'];?></td>
                                        <td><?php echo $item['total'];?></td>
                                        <td><?php echo (isset($item['success']) && $item['success'] > 0) ? number_format($item['success']/$item['total']*100,2) : 0;?> &#37;</td>
                                    </tr>
                                <?php endforeach;?>
                                </tbody>
                            </table>
                        </div>
                        <div class=" panel-footer bdy-height-footer">
                            <div>
                                <button class="btn view-btn branding-border-color-buttons branding-border-color-buttons
                                  branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
" onclick="window.location.href='/view-jobs';"><?php echo $this->translate->_('promote_more_jobs'); ?></button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <section class="panel">
                        <header class=" panel-heading brain-heading branding-table-header-top">
                            <span class="br-title"><?php echo $this->translate->_('company_overview'); ?></span>
                        </header>
                        <div class=" panel-body udyytfr">
                            <table class="table table-stat table-view table-stats-analytics"  border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="num"><?php echo $this->translate->_('_visitors'); ?></div> 
                                            <div class="data"><?php echo $this->company_overview[0]['value'];?></div></td>
                                        <td>
                                            <div class="num"><?php echo $this->translate->_('__applicants'); ?></div>
                                            <div class="data"><?php echo $this->company_overview[1]['value'];?></div></td>
                                        <td>
                                            <div class="num"><?php echo $this->translate->_('hires'); ?></div>
                                            <div class="data"><?php echo $this->company_overview[2]['value'];?></div></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                    <section class="panel">
                        <header class=" panel-heading brain-heading branding-table-header-top">
                            <span class="br-title"><?php echo $this->translate->_('candidate_applications_by_status'); ?></span>
                        </header>
                        <div class=" panel-body udyytfr">
                            <table class="table table-stat table-app dkkfifg"  border="0">
<!--                                <tbody>
                                <?php $j = 2; $i = 1; foreach ((array) $this->statuses as $key => $stat):?>
                                    <?php if ($j % 2 == 0):?>
                                        <tr>
                                            <td>
                                                <div class="num"><?php echo $this->statuses[$key-1]['total'];?> <span class="result"><?php echo strtoupper($this->settings['application_status'][$this->statuses[$key-1]['status']]);?></span></div>
                                            </td>
                                            <td>
                                                <div class="num"><?php echo $stat['total'];?> <span class="result"><?php echo strtoupper($this->settings['application_status'][$key]);?></span></div>
                                            </td>
                                        </tr>
                                        <?php $i++; endif;?>
                                    <?php $j++; endforeach;?>
                                </tbody>-->
                                <tbody>
                                    <tr>
                                        <?php $width =  100/count($this->statuses);?>
                                <?php foreach ((array) $this->statuses as $key => $stat):?>
                                        
                                        <td style="width: <?= $width ?>px !important; height: 120px;" class="djjfhguu" >
                                                <div class="num"><?php echo $stat['total'];?> <span class="result"><?php echo strtoupper($this->allStatus[$stat['status']]);?></span></div>
                                            </td>
                                       
          
                                    <?php endforeach;?>
                                             </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>

                </div>

            </div>

            <div id="analytics" class="col-md-12 djjfufy">
                <div class="col-md-3">
                    <section class="panel">
                        <header class="panel-heading brain-heading branding-table-header-top">
                            <span class="br-title"><?php echo $this->translate->_('referrals_by_departments'); ?></span>
                        </header>
                        <div class=" panel-body">
                            <table class="table table-bordered table-most-viewd">
                                <tbody>
                                    <?php foreach ((array) $this->refferals_by_departments as $ref):?>
                                    <tr>
                                        <td><?php echo $ref['title'];?></td>
                                        <td><?php echo $ref['total'];?></td>
                                    </tr>
                                    <?php endforeach;?>
                                </tbody>
                            </table>
                        </div>
                                                <!--<div class=" panel-footer"></div>-->
                    </section>
                </div>
                <div class="col-md-3">
                    <section class="panel">
                        <header class="panel-heading brain-heading dkkfjfug branding-table-header-top">
                            <span class="br-title"><?php echo $this->translate->_('candidates_experience'); ?></span>
                        </header>
                        <div class=" panel-body no-pad">
                            <table class="table table-bordered table-exp cand_exp">
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate->_('all'); ?></th>
                                        <th><?php echo $this->translate->_('successful'); ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0 - 2 <?php echo $this->translate->_('yrs'); ?></td>
                                        <td>0 - 2 <?php echo $this->translate->_('yrs'); ?></td>
                                    </tr>
                                    <tr>
                                        <td>2 - 4 <?php echo $this->translate->_('yrs'); ?></td>
                                        <td>2 - 4 <?php echo $this->translate->_('yrs'); ?></td>
                                    </tr>
                                    <tr>
                                        <td>4 - 7 <?php echo $this->translate->_('yrs'); ?></td>
                                        <td>4 - 7 <?php echo $this->translate->_('yrs'); ?></td>
                                    </tr>
                                    <tr>
                                        <td>7 - 10 <?php echo $this->translate->_('yrs'); ?></td>
                                        <td>7 - 10 <?php echo $this->translate->_('yrs'); ?></td>
                                    </tr>
                                    <tr>
                                        <td>Over 10 <?php echo $this->translate->_('yrs'); ?></td>
                                        <td>Over 10 <?php echo $this->translate->_('yrs'); ?></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<div class=" panel-footer"></div>-->
                    </section>
                </div>
                <div class="col-md-3">
                    <section class="panel skkdjfi">
                        <header class="panel-heading brain-heading no-marg branding-table-header-top">
                            <span class="br-title"><?php echo $this->translate->_('employee_engagement'); ?></span>
                        </header>
                        <div class=" panel-body no-pad">
                            <table class="table emplye-tbl"  border="0px">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <span class="percent"><?php echo floor($this->engagement['active']/$this->engagement['total']*100);?></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="bar-content correct table-content">
                                                <?php echo $this->engagement['total'];?>
                                                <p><?php echo $this->translate->_('total_employees'); ?>
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="bar-content correct table-content">
                                                <?php echo $this->engagement['active'];?>
                                                <p><?php echo $this->translate->_('active_users'); ?>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn view-all-btn add-m-user djjfufy branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
" onclick="window.location.href='/view-users';"><?php echo $this->translate->_('add_more_users'); ?></button>
                        </div>

                    </section>
                </div>
                <div class="col-md-3">
                    <section class="panel">
                        <header class="panel-heading brain-heading branding-table-header-top">
                            <span class="br-title">Top Channels</span>
                        </header>
                        <div class=" panel-body">
                            <table class="table table-bordered table-channel social_icons">
                                <tbody>

                                <?php foreach($this->top_channels as $key => $channel) : ?>
                                    <tr>
                                        <td>
                                            <div class="cont"><span class="<?= strtolower($channel['title']) ?>-icon"></span></div>

                                        </td>
                                        <td>
                                            <div class="font-crt">
                                                <div class="pull-left"><span><?php echo $this->translate->_('applicants') ?>: </span></div><div><strong><?= $channel['applicants'] ?></strong></div>
                                                <div class="pull-left"><span><?php echo $this->translate->_('views') ?>: </span></div><div><strong><?= $channel['views'] ?></strong></div>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                        <!--<div class=" panel-footer"></div>-->
                    </section>
                </div>


            </div>
            <div class=" col-md-12">
                <div class="col-md-6">
                    <section class="panel">
                        <header class=" panel-heading brain-heading branding-table-header-top">
                            <span class="br-title"><?php echo $this->translate->_('campaigns') ?></span>
                        </header>
                        <div class=" panel-body skdkfj">
                            <table class="table table-stat"  border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="num"><?php echo $this->campaigns['reached'];?> <span class="caret-up"></span></div>
                                            <div class="data"><?php echo $this->translate->_('users_reached'); ?></div></td>
                                        <td>
                                            <div class="num"><?php echo $this->campaigns['recommendations'];?> <span class="caret-up"></span></div>
                                            <div class="data"><?php echo $this->translate->_('_referrals'); ?></div></td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="num"><?php echo $this->campaigns['shares'];?> <span class="caret-down"></span></div>
                                            <div class="data"><?php echo $this->translate->_('_shares'); ?></div></td>
                                        </td>
                                        <td>
                                            <div class="num"><?php echo $this->campaigns['applications'];?> <span class="caret-down"></span></div>
                                            <div class="data"><?php echo $this->translate->_('_applications'); ?></div></td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class=" panel-footer bdy-height-footer">
                            <div>
                                <button class="btn view-btn branding-border-color-buttons  branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
" onclick="window.location.href='/view-campaigns';"><?php echo $this->translate->_('promote_more_jobs'); ?></button>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                    <section class="panel">
                        <header class=" panel-heading brain-heading branding-table-header-top">
                            <span class="br-title"><?php echo $this->translate->_('referral_by_jobs'); ?></span>
                        </header>
                          <div class=" panel-body">
                            <table class="table table-bordered table-most-viewd">
                                <tbody>
                                    <?php foreach ((array) $this->referrals_by_jobs as $ref):?>
                                    <tr>
                                        <td><?php echo $ref['title'];?></td>
                                        <td><?php echo $ref['total'];?></td>
                                    </tr>
                                    <?php endforeach;?>
                                </tbody>
                            </table>
                        </div>
                        <div class=" panel-footer bdy-height-footer">
                            <div>
                                <button class="btn view-btn branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
" onclick="window.location.href='/view-campaigns';"><?php echo $this->translate->_('promote_more_jobs'); ?></button>
                            </div>
                        </div>
                    </section>
                </div>
                              
            </div>


</section>
</section>
<!--main content end-->

</section>