
<?php
echo $this->dash_js;
$month = date('m');
$day = date('d');
$year = date('Y');

$end = date('Y-m-d');
$start = date('Y-m-d', strtotime('-1 month'));
?>


<section id="main-content" style="">
    <section class="wrapper iifuudh">

        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('dashboard'); ?>
                    </h3>
                </div>
                <div class=" col-sm-9">
                    <div class="adafaagar">
                        <form id="export-report-form" action="/default/admin/export" method="POST">
                            <input type="hidden" id="startExport" name="startExport" value="<?php echo $start; ?>">
                            <input type="hidden" id="endExport" name="endExport" value="<?php echo $end; ?>">
                            <button id="export-report" type="submit"
                                    class="btn btn-success jduf_ branding-border-color-buttons branding-brand-button-background-color
                           branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width
                           branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius">
                                <?php echo $this->translate->_('export'); ?>
                            </button>
                        </form>
                        <form id="periodFrm" method="POST">
                            <input onchange="resetCharts();fetch_ajax(document.getElementById('start').value, document.getElementById('end').value);" type="date" id="start" name="start" value="<?php echo $start; ?>">
                            <input onchange="resetCharts();fetch_ajax(document.getElementById('start').value, document.getElementById('end').value);" type="date" id="end" name="end" value="<?php echo $end; ?>">
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i
                                                class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr/>
                            <?php endif; ?>
                            <div class="space15"></div>
                            <div id="dashboard-content">
                                <div id="dashboard-div">
                                    <div id="employes" class="no-border">
                                        <h3 class="container-title br-subtitle"><?php echo $this->translate->_('employees'); ?></h3>
                                        <div class="oaeogubargouabrgoarg">
                                            <h5 id="poaagrmpiaga" class="container-text"></h5>
                                        </div>
                                        <div class="container-box">
                                            <div class="box">
                                                <div id="engaged_employees_to_employee_evanghelists_rate"
                                                     class="agragraga"></div>
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="active_employees" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of current employees based on valid emails or empty \'leave-date\' (+ incremental current employees in selected period)'); ?>">
                                                            <?php echo $this->translate->_('current_employees'); ?>

                                                        </p>
                                                        <div id="active_employees_"></div>
<!--                                                        <div id="engaged_employees_to_employee_evanghelists_rate_"></div>-->
                                                    </div>
                                                    <div id="chart2" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box">
                                                <div id="users_created_to_active_employess_rate"
                                                     class="agragraga"></div>
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="engaged_employees" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of current employees that signed in Talentspotting at least once before end date of selected period = potential to share jobs'); ?>">
                                                            <?php echo $this->translate->_('engaged_employees'); ?></p>
                                                        <div id="users_created_to_active_employess_rate_"></div>
                                                    </div>
                                                    <div id="chart3" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box">
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="employee_evanghelists" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of employees that recommended at least one job in the selected period using Talentspotting buttons to share'); ?>">
                                                            <?php echo $this->translate->_('net_promoters'); ?></p>
                                                        <div id="employee_evanghelists_"></div>
                                                    </div>
                                                    <div id="chart4" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box">
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <div class="box-header-top">
                                                            <h1 id="total_shares" class="numbbber"></h1>
                                                            <p class="box-title"
                                                               title="<?php echo $this->translate->_('Total number of job shares in selected period'); ?>">
                                                                <?php echo $this->translate->_('t_s_b_employees'); ?></p>
                                                            <div id="total_shares_"></div>
                                                        </div>
                                                    </div>
                                                    <div id="chart111" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="jobs">
                                        <h3 class="container-title br-subtitle"><?php echo $this->translate->_('jobs'); ?></h3>
                                        <h5 id="mhiwenagpgb" class="container-text"></h5>
                                        <div class="container-box">
                                            <div class="box">
                                                <div id="active_jobs_to_jobs_shared" class="agragraga"></div>
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <div class="box-header-top">
                                                            <h1 id="active_jobs" class="numbbber"></h1>
                                                            <p class="box-title"
                                                               title="<?php echo $this->translate->_('Number of jobs that were visible (available to apply) to candidates and recommenders in selected period'); ?>">
                                                                <?php echo $this->translate->_('vacancies'); ?></p>
                                                            <div id="active_jobs_to_jobs_shared_"></div>
                                                        </div>
                                                    </div>
                                                    <div id="chart5" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box">
                                                <div id="jobs_shared_to_jobs_viewed" class="agragraga"></div>
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="jobs_shared" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of jobs that were shared at least once in selected period'); ?>">
                                                            <?php echo $this->translate->_('jobs_shared'); ?></p>
                                                        <div id="jobs_shared_to_jobs_viewed_"></div>
                                                    </div>
                                                    <div id="chart6" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box">
                                                <div id="jobs_viewed_to_jobs_with_applications" class="agragraga"></div>
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="jobs_viewed" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of jobs that were viewed at least once in selected period, after were shared using Talentspotting channels buttons to share'); ?>">
                                                            <?php echo $this->translate->_('jobs_viewed'); ?></p>
                                                        <div id="jobs_viewed_to_jobs_with_applications_"></div>
                                                    </div>
                                                    <div id="chart7" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box">
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="jobs_with_applications" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of jobs that got at least one applicant in selected period'); ?>">
                                                            <?php echo $this->translate->_('jobs_with_applicants'); ?></p>
                                                        <div id="jobs_with_applications_"></div>
                                                    </div>
                                                    <div id="chart8" class="chart">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="candidates">
                                        <h3 class="container-title br-subtitle"><?php echo $this->translate->_('Candidates'); ?></h3>
                                        <h5 id="pamrgargouagoa" class="container-text"></h5>
                                        <div class="container-box">
                                            <!--                                            views,applications-->
                                            <!--                                                views-->
                                            <div class="box">
<!--                                                <div id="potential_candidates_to_total_applications"-->
<!--                                                     class="agragraga"></div>-->
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="view_of_candidates" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of job views in selected period, jobs that were shared using Talentspotting channels buttons to share'); ?>">
                                                            <?php echo $this->translate->_('total_views'); ?></p>
                                                        <div id="view_of_candidates_"></div>

                                                        <!--                                                            <div id="potential_candidates_to_total_applications_"></div>-->
                                                    </div>
                                                    <div id="chart9" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                            <!--                                                candidates accounts-->
                                            <div class="box">
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="total_candidates_accounts" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of people that had or created a candidate role in selected period'); ?>">
                                                            <?php echo $this->translate->_('candidate_base'); ?></p>
                                                        <div id="total_candidates_accounts_"></div>
                                                        <!--                                                            <div id="total_applications_to_unique_applicants_"></div>-->
                                                    </div>
                                                    <div id="chart10" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                            <!--                                                applications-->
                                            <div class="box">
<!--                                                <div id="views_of_jobs_to_potential_candidates"-->
<!--                                                     class="agragraga"></div>-->
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="total_applications" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of jobs applications in selected period. One applicant can have multiple job applications'); ?>">
                                                            <?php echo $this->translate->_('total_applications'); ?>
                                                        </p>
                                                        <div id="total_applications_"></div>
                                                        <!--                                                            <div id="views_of_jobs_to_potential_candidates_"></div>-->
                                                    </div>
                                                    <div id="chart11" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                            <!--                                                in process-->
                                            <div class="box">
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="in_recruiting_process_applications" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of applications where the applicant was contacted by recruiter and advanced in recruiting process'); ?>">
                                                            <?php echo $this->translate->_('in-process_applications'); ?></p>
                                                        <div id="in_recruiting_process_applications_"></div>
                                                    </div>
                                                    <div id="chart12" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--viewers, applicants-->

                                        <div class="container-box sss">
                                            <!--                                                unique viewers-->
                                            <div class="box">
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="potential_candidates" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of unique people that viewed at least one job in selected period, job that was shared using Talentspotting channels buttons to share'); ?>">
                                                            <?php echo $this->translate->_('unique_viewers'); ?></p>
                                                        <div id="total_applications_to_unique_applicants_"></div>
                                                    </div>
                                                    <div id="chart13" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                            <!--                                                new candidates accounts-->
                                            <div class="box">
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="new_candidates_accounts_created" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of people that created a candidate account in selected period, after viewing a job shared using Talentspotting channels buttons to share'); ?>">
                                                            <?php echo $this->translate->_('new_candidate_accounts'); ?>  </p>
                                                        <div id="new_candidates_accounts_created_"></div>
                                                    </div>
                                                    <div id="chart14" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                            <!--                                                applicants-->
                                            <div class="box">
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="unique_applicants" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Number of unique people that applied to a job in selected period'); ?>">
                                                            <?php echo $this->translate->_('unique_applicants'); ?></p>
                                                        <div id="unique_applicants_"></div>
                                                    </div>
                                                    <div id="chart15" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                            <!--                                                statusses-->
                                            <div class="box">
                                                <div class="box-content">
                                                    <div class="box-header">
                                                        <h1 id="applicants_by_status" class="numbbber"></h1>
                                                        <p class="box-title"
                                                           title="<?php echo $this->translate->_('Applicants number in each main step of a recruiting process, updated in selected period'); ?>">
                                                            <?php echo $this->translate->_('status_changes'); ?>  </p>
                                                        <div id="applicants_by_status_"></div>
                                                    </div>
                                                    <div id="chart16" class="chart">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="spesal" class="box-content"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
</section>
</section>


</section>

<style>
    @media only screen and (max-width: 750px) {
        .container-box {
            display: block;
        }
        .box {
            width: 100%;
        }
        .box > div {
            margin-left: 1em;
        }
        #employes, #jobs, #candidates {
            height: fit-content;
        }
        #jobs, #candidates {
            height: fit-content;
            margin-top: 95em;
        }
        .sss {
            margin-top: 93em;
        }

        #spesal {
            margin-top: 95em;
        }

        #export-report {
            margin-top: 3em;
            margin-bottom: 3em;
            position: absolute;
            right: 0;
            width: 100%;
        }
        .mrg-btm {
            margin-top: 15em;
        }
        #periodFrm {
            margin-top: 9em;
            width: 100%;

        }
    }
</style>






