<div class="modal-content work-popup">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><?php echo $this->translate->_('how_it_works') ; ?></h4>
    </div>
    <div class="modal-body">
	      <?php echo html_entity_decode($this->content) ; ?>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>

