    <link rel="stylesheet" href="/resources/frontend/landing/css/styles.css">
    <link rel="stylesheet" href="/resources/frontend/css/theme/css/frontend.css">
    <link rel="stylesheet" href="/resources/frontend/css/theme/css/responsive.css">
<section id="log-in">
    <div class="box-login">
        <div class="box-login-head">
            <h1 class="didifuf">Sign in</h1>
            <?php // if($this->signIn == 1) : ?>

                <?php // endif ; ?>
            
            <?php if ($this->flash_messages[0] != ""): ?>
                <div class="alert alert-block alert-danger fade in">
                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                </div>
            <?php endif; ?>                
        </div>   

        
        
        <div class="form-wrap">
            <form role="form" action="" method="POST" autocomplete="off" >
                <div class="username form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" name="email" checked="form-control" autocomplete="off" required="required"/>
                </div>
                <div class="password form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password"  name="password" autocomplete="off" required="required"/>
                </div>

                <div class="checkbox-inline form-group">
                    <label id="remembermelogin">
                        <input  name="remember_me" class="checkbox" type="checkbox" checked="" value="1">
                        Keep me logged in
                    </label>
                </div>
                <!--                <div class="checkbox-inline">
                                    <label id="remembermelogin">
                                        <input  name="remember_me" class="checkbox" type="checkbox" checked="" value="1">
                                        Keep me logged in
                                    </label>
                                </div>-->
                <div class=" form-group signin-mobile">
                    <input class="btn btn-default signin" style="height: 42px" type="submit" value="Sign in">
                </div>
            </form>                
<!--            <div class="login-links">
                <div class="login-links-wrap clearfix">

                    <a class="forgot-pass" href="/recover" data-toggle="modal" data-href="#preview-modal">Forgot your password?</a>
                </div>
            </div>-->
        </div>
    </div>
</section>
