@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
html,
body {
    height: 100%;
}
#header {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    /*background: red;*/
}
#header .logo {
    /*position: absolute;*/
    /*        width: 92px;
                  height: 83px;*/
}#header .container {
    position: absolute;
    text-align: center;
    width: 100%;
    left: -190px;
    /*        width: 92px;
                  height: 83px;*/
}
#header .logo:after{
    content: "";
    clear: both;
    display: block;
}
#header .logo img {
    width: 384px;
    margin-top: -134px;
    position: absolute;
}
#header .get-started a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #D2E16C;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #D2E16C;
    line-height: 83px;
    padding: 5px 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#header .get-started a:hover {
    background: #D2E16C;
    color: #FFF ;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* TSP Request Account */

#requestaccountbut {
    background-color: #D2E16C;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    font-family: open sans;
    position: unset;
    float: right;
    margin-top: 50px;
    margin-right: -120px;
}

@media screen and (max-width: 880px) {
    #requestaccountbut {
        background-color: #D2E16C;
        color: white;
        padding: 10px;
        font-size: 14px;
        border: none;
        border-radius: 0px;
        font-family: open sans;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0px;
        height: 60px;
        z-index: 1;
}
}

.modal-dialog {
    width: 430px;
    margin: 30px auto;
}

@media screen and (max-width: 414px) {
    .modal-dialog {
        width: 100%;

    }
}

.modal-content {
    border-radius: 0px !important;
}

.iframerequest {
    width: 355px;
    border: none;
    height: 100%;
}

.modal-body {
    height: 523px;
}

.close {
        font-size: 31px;
    font-weight: 100;
}


.modal-title {
    color: #95989A;
    margin-left: 20px;
    font-family: 'open sans'
    font-size: 18px;
}


.modal-subtitle {
    color: #95989A;
    font-family: 'open sans'
    font-size: 12px;
}

/* / TSP Request Account */


#landing {
    background: url('../images/backgroun1.jpg') no-repeat;
    background-size: 100%;
    min-height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
#landing .row {
    margin-top: 200px;
}
#landing .br-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 34px;
    color: #ffffff;
    text-align: center;
}
#landing .br-desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 ;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
}



#landing .get-started {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #1aadc2;
    line-height: 19px;
    text-decoration: none;
    background: #FFFFFF;
    line-height: 58px;
    padding: 20px 36px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;

    /*display:block;*/
}
#landing .get-started:hover {
    background: grey;
    color: #FFF ;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#nav-bar {
    /*max-width: 1170px;*/
    width: 100%;
    margin: 0 auto;
    background: #ffffff !important;
    height: 100%;
    z-index: 9;
    max-height: 60px !important;
}
#nav-bar img {
    position: relative;
    width: 125px;
    height: auto;
    bottom: 13px;
}
#nav-bar .get-started {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background: #D2E16C;
    color: #4A4F34;
    line-height: 19px;
    text-decoration: none;
    border: 2px solid #D2E16C;
    /* line-height: 60px; */
    padding: 18px 20px;
    /* -webkit-border-radius: 3px; */
    -moz-border-radius: 3px;
    /* border-radius: 3px; */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    display: block;
    height: 60px;
    width: 167px;
    /*display:block;*/
    /*        &:hover {
                      background: @color ;
                      color : #FFF ;
                      -webkit-transition: all .3s ease-in-out;
                      -moz-transition: all .3s ease-in-out;
                      -o-transition: all .3s ease-in-out;
                      transition: all .3s ease-in-out;
                  }*/
}

.clientslogo {
    display: inline-block;
    margin-top: 40px;
    padding: 10px;

}

.clientslogo2 {
    display: inline-block;
    padding: 0px 10px 10px 10px;
    vertical-align: baseline;
}

.logoimg {
    vertical-align: baseline;
}


@media screen and (max-width: 1148px) {
.alllogos {
    max-width: 605px;
    margin: 0 auto;
}
}

@media screen and (max-width: 1148px) {
.logor2 {
    margin-top: 0px;
}
}

@media screen and (max-width: 594px) {
.mobdead {
    display: none;
}
}

@media screen and (max-width: 594px) {
.moblive  {
    width: 100%;
}
}

@media screen and (max-width: 594px) {
.stefamobile  {
    margin-top: 20px;
}
}

@media screen and (max-width: 594px) {
.macromob  {
    margin-bottom: 55px;
}
}



#benefits {
    /*position: relative;*/
   
    /*background: url('../images/benefits-layer.png') no-repeat;*/
    /*background-size: 100%;*/
    /*    background-repeat: no-repeat;
          background-position: left top;*/
    min-height: 550px;
    /*max-height:700px;*/
}
#benefits img {
    width: 160px;
    height: 100%;
}
#benefits .benefits-content {
    /*        position: absolute ;
                  top: 0px;*/
    width: 100%;
    text-align: center;
    /*margin-top: 150px;*/
    background: url('../images/bc_clients.jpg') no-repeat;
    background-size: 100%;
    /*height: 644px;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 550px;
}
#benefits .benefits-content .benefits-title {
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
}
#benefits .benefits-content .benefits-data h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 64px;
    color: #ffffff;
    text-align: left;
}
#benefits .benefits-content .benefits-data .benefits-data-p-desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    margin: 0px;
}
#benefits .benefits-content .benefits-data .benefits-data-p-ctn {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    margin: 0px;
}




 /*  TESTIMONIALE  */

.testimonialsdiv {
    background: url('../images/Talentspotting-testimonials.jpg');
    background-size: cover;
    height: 586px;
}

.testimonialstitle {
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
}

.testimonialstexts {
     height: 200px;
     position: absolute;
     width: 100%;
}

#carousel {
position: relative;
width:60%;
margin:0 auto;
padding-bottom: 70px;
}


#slides {
overflow: hidden;
position: relative;
width: 100%;
height: 250px;
}

#slides ul {
list-style: none;
width:100%;
height:250px;
margin: 0;
padding: 0;
position: relative;
}

 #slides li {
width:100%;
height:250px;
float:left;
text-align: center;
position: relative;
font-family:'open Sans';
}
/* Styling for prev and next buttons */
.btn-bar{
    max-width: 346px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 40px;
    width: 100%;
}

 #buttons {
    margin: auto;
    width: 50%;
}

@media screen and (max-width: 560px) {
    #buttons {width: 80%;}
}

#buttons a {
    font-size: 18px;
    color: grey;
    text-decoration: none;
    display: block;
    padding-bottom: 25px;
    width: 35px;
}

a#prev:hover, a#next:hover {
color: grey;
}

.quote-phrase, .quote-author {
font-family: 'open sans';
font-weight:300;
display: table-cell;
vertical-align: middle;
padding: 5px 20px;
}

.quote-phrase {
height: 200px;
font-size: 18px;
color: grey;
font-style:italic;
}

.quote-marks {
font-size:30px;
padding:0 3px 3px;
position:inherit;
}

.quote-author {
font-style:normal;
font-size:20px;
color: #5d5d5d;
font-weight:300;
height: 30px;
}

.quoteContainer, .authorContainer {
display: table;
width: 100%;
}


/*  / TESTIMONIALE  */



#talentspotting {
    background: #FAFAFA;
    /*max-height: 700px;*/
    /*position: relative;*/
}
#talentspotting .container {
    /* position: absolute ;
     top: 0px;
     width: 100%;
     text-align: center;*/
}
/*#talentspotting img {
  width: 100%;
  height: 100%;
}*/
#talentspotting .row h2 {
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}
#talentspotting .talent-spotting-title {
    margin-bottom: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 31px!important;
    color: #4a063e;
    text-align: center;
}
.margtp {
    margin-top: 35px !important;
}
.margtp .col-sm-4 {
    padding-left: 50px;
}
.margtp .col-sm-3 .talent-data {
    background: #fafafa;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    width: 90%;
    /*height: 164px;*/
    margin: 0 auto;
    position: absolute;
}
#talentspotting .bx-wrapper {
    height: 350px;
}
.margtp .col-sm-3 .talent-data h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 46px;
    color: #f9ce00;
    padding-top: 20px;
}
.margtp .col-sm-3 .talent-data p {
    opacity: 0.69;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #4a063e;
    text-align: center;
}
.hr-num {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #f9ce00;
    margin: 1em 0;
    padding: 0;
    width: 14%;
}
.hr-talent {
    border: 1px solid rgba(0, 0, 0, 0.12);
}
#lap {
    background: url('../images/laptop1back.png') no-repeat;
    width: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;

}
#lap .container {
    
}
#lap .background {
    width: 800px;
    height: auto;
    /* display: block; */
    margin-left: 45px;
    /* margin-right: auto; */
    background: url('http://talentspotting.com/images/screen.png') no-repeat;
    background-size: 100%;
    position: relative;
    
}
#lap .box {
    margin: 5px;
    width: 721px;
    height: 590px;
    background: url('http://talentspotting.com/images/recommend.png') no-repeat;
    background-size: 100%;
    position: relative;
    left: 31px;
    top: 44px;
}
#lap .console {
    /* margin: 5px; */
    width: 964px;
    height: 49px;
    background: url('http://talentspotting.com/images/console.png') no-repeat;
    background-size: 100%;
    position: relative;
    right: 35px;
    top: 9px;
}
#lap .console-btm {
    /* margin: 5px; */ 
    width: 964px;
    height: 49px;
    background: url('http://talentspotting.com/images/console-btm.png') no-repeat;
    background-size: 100%;
    position: relative;
    right: 35px;
    bottom: 23px;
}
#lap .lap-content {
    position: relative;
    left: 0px;
    top: 80px;
}

div#desktop {
    margin-top: 150px;
}


.laptop3container {
    margin-top: 35px;
    float: center;

}


.title1 {
    font-size: 20px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500px;
    color: #3AC5D9;
}



.list1 {
    font-size: 18px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700px;
    font-weight: 400;
    color: #656565;

}

.textcon1 {
    font-size: 18px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    color: #656565;
}

.imglaptop1 {
    margin-top: 150px;
    
}
@media (max-width: 500px) {
    .imglaptop1 {
             margin-top:5px;
             margin-bottom: 50px;
    }
    div#desktop {
            margin-top: 40px;
            margin-left: 0px;
            margin-right: 0px;
    }

}

#lap .lap-content p {
    margin: 0px;
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #454545;
    line-height: 24px;
    text-align: left;
}
#lap .lap-content .bx-wrapper {
    position: relative;
}
#lap .lap-content .bx-wrapper .bx-viewport {
    box-shadow: none !important;
    border: 5px solid transparent;
    background: transparent;
    height: 100% !important;
}
#lap .lap-content .bx-wrapper .bx-pager {
    display: none;
}
#lap .lap-content .bx-wrapper .bx-controls-direction {
    position: absolute;
    top: 205px;
}
#microscope {

    background: url('../images/laptop2back.png') no-repeat;
    width: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    min-height: 500px;
}
#microscope .container .rowtext2 {
    max-width: 1170px;
    margin: 0 auto;
        margin-top: 100px;

}

@media screen and (max-width: 767px) {
    #microscope .container .rowtext2 {
        margin-top: 1px;
    }
}



div#microscope {
    margin-top: 150px;
}


@media screen and (max-width: 750px) {
.mobtitles  {
    padding: 0px 20px 0px 20px;
    font-size: 30px !important;
}
}



.title2 {
    font-size: 20px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500px;
    color: #3AC5D9;
    
}



.list2 {
    font-size: 18px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700px;
    font-weight: 400;
    color: #656565;

}

.textcon2 {
    font-size: 18px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    color: #656565;
}

.laptop2img {
    margin-top: 50px;
    
}
@media (max-width: 500px) {
    .laptop2img {
             margin-top:25px;
             
    }
    div#microscope {
            margin-top: 40px;
    }

}


.title3 {
    font-size: 20px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500px;
    color: #3AC5D9;
    margin-top: 50px;
}
   
@media (max-width: 500px) {
    .imglaptop3 {
             margin-top:5px;
             margin-bottom: 50px;
    }
}

#lap3 {
    background: url('../images/laptop3back.png') no-repeat;
    width: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 360px;

}
#lap3 .container {
    
}
#lap3 .background {
    width: 800px;
    height: auto;
    /* display: block; */
    margin-left: 45px;
    /* margin-right: auto; */
    background: url('http://talentspotting.com/images/screen.png') no-repeat;
    background-size: 100%;
    position: relative;
    
}
#lap3 .box {
    margin: 5px;
    width: 721px;
    height: 590px;
    background: url('http://talentspotting.com/images/recommend.png') no-repeat;
    background-size: 100%;
    position: relative;
    left: 31px;
    top: 44px;
}
#lap3 .console {
    /* margin: 5px; */
    width: 964px;
    height: 49px;
    background: url('http://talentspotting.com/images/console.png') no-repeat;
    background-size: 100%;
    position: relative;
    right: 35px;
    top: 9px;
}
#lap3 .console-btm {
    /* margin: 5px; */ 
    width: 964px;
    height: 49px;
    background: url('http://talentspotting.com/images/console-btm.png') no-repeat;
    background-size: 100%;
    position: relative;
    right: 35px;
    bottom: 23px;
}
#lap3 .lap-content {
    position: relative;
    left: 0px;
    top: 80px;
}

#lap3 .lap-content p {
    margin: 0px;
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #454545;
    line-height: 24px;
    text-align: left;
}
#lap3 .lap-content .bx-wrapper {
    position: relative;
}
#lap3 .lap-content .bx-wrapper .bx-viewport {
    box-shadow: none !important;
    border: 5px solid transparent;
    background: transparent;
    height: 100% !important;
}
#lap3 .lap-content .bx-wrapper .bx-pager {
    display: none;
}
#lap3 .lap-content .bx-wrapper .bx-controls-direction {
    position: absolute;
    top: 205px;
}





#talentspotting {
    background: url('../images/modulesback.png') no-repeat;
    width: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 360px;
}

div.modules {
        margin: 0 auto;
        width: 1116px;
}

@media screen and (max-width: 1199px) {
    div.modules {
        padding: 20px;
        width: 100%;
    }
}

.module1 {
    width: 292px;
   border: 3px solid #5CCCDD;
    border-radius: 16px;
    margin: 40px;
    background: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;

}

div.module1 h1 {
    font-size: 26px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #5CCCDD;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 12px 12px 0px 0px;
}

.moduletext1 {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #656565;
    padding-bottom: 20px;
}

.module2 {
    width: 292px;
    border: 3px solid #5CCCDD;
    border-radius: 16px;
    margin: 40px;
    background: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}

div.module2 h1 {
    font-size: 26px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #5CCCDD;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 12px 12px 0px 0px;
}

.moduletext2 {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #656565;
    padding-bottom: 0px;
}

.module3 {
    width: 292px;
    border: 3px solid #5CCCDD;
    border-radius: 16px;
    margin: 40px;
    background: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-bottom: 100px;
}

.moduletext3 {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #656565;
    padding-bottom: 0px;
}

div.module3 h1 {
    font-size: 26px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #5CCCDD;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 12px 12px 0px 0px;
}

@media screen and (max-width: 1199px) {
    .modulemobile {
        width: 100% !important;
        padding-bottom: 20px !important;
        margin: 0px 0px 40px 0px;
    }
}

.fix-height {
    height: 100% !important;
}
#about {
    background: #5CCCDD;
    background-size: 100%;
    min-height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#about .row-about {
    float: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.about-head {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-top: 45px;
}

.about-text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 25px;
}

.meeet-us {
     font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #1aadc2;
    text-align: center;
    text-decoration: none !important;
    border: 2px solid white;
    line-height: 83px;
    padding: 5px 30px;
    border-radius: 3px;
    background-clip: padding-box;
    background: white;
}




.button2meet {
    text-align: center;
    margin-bottom: 24px;
}



.fixed {
    /*max-width: none !important;*/
    width: 100% !important;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 999;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.fixed .container {
    max-width: 1170px;
}
#first .modal-header .modal-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    line-height: 19px;
}
.btn-style {
    width: 100%;
    height: 73px;
    background: #4EC5D9;
    text-align: center;
}
.btn-style a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    line-height: 19px;
    display: block;
    padding-top: 27px;
}
.modal-dialog {
    /*margin-top: 100px;*/
}
.mobile {
    background: url("http://talentspotting.com/images/slides/mobile.png") no-repeat;
    background-size: 100% ;
    width: 900px ;
    height: 560px;
}


#img-slider {
    width: 100%;
    padding-top: 60px
}

.need-padding-bottom-20 {
    padding-bottom:20px;
}


@media screen and (min-width: 320px) {
    #nav-bar > .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    #microscope .scope {
        top: 80px;
        background-size: contain;
        background-position: center;
        width: 275px;
    }

    #microscope .scope img {
        width: 190px;
        height: auto;
        position: absolute;
        left: 33px;
        top: 55px;
    }

    

}

@media screen and (max-width: 768px) {
    .margtp .col-sm-3 .talent-data h1 {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
         font-size: 1.2em !important;
        color: #f9ce00;
        padding-top: 20px;
    }
    .form-slider > .slide:nth-child(3)  .talent-data h1 {
        /*background: red;*/
        font-size: 1.2em !important;
    }
    #talentspotting .talent-spotting-title {
        margin-top: 100px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 28px;
        color: #4a063e;
        text-align: center;
    }
    
    #email {
        width: 100% !important
    }
    .col-sm-offset-3 {
        margin-left: 0 !important;
    }
    
    .lbl {
        text-align: left !important;
        width: 50%;
        left: 0px !important; 
        /*position: relative;*/
    }
    #talentspotting .bx-controls-direction .bx-next {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .scope-data {
        margin-bottom:30px
    }

    #landing .br-desc {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
    }
    #lap .lap-content .bx-wrapper .bx-controls-direction {
        top : 420px;
        left:40%;
    }

    #img-slider {
        width: 100%;
    }
    
    .margtp .col-sm-3 .talent-data {
        background: #fafafa;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
        border-radius: 2px;
        width: 90%;
        /*height: 164px;*/
        margin: 0 auto;
        position: relative;
    }
    #talentspotting .bx-wrapper {
    height: 100%;
}
#talentspotting .bx-controls-direction  {
   display: none;
}
#talentspotting {
    /*height: 700px;*/
}
}

#social > a > img {
    width: 40px;
    height: 40px;
}#social > a {

    margin : 10px;
}

#landing .br-title {
    font-size: 33px;
}

.footerel {
    min-height: 200px;
    background: blue;
}

div#footer {
    
    width: 100%;
    bottom: 0px;
    padding:20px;
    background: #737373;

}

#footer .footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
   /* min-height: 500px;
*/
}


#talentspotting .bx-viewport {
    background : transparent;
    box-shadow : none !important;
    border : 0px !important;
}
/*#talentspotting .bx-controls-direction {
    display: none;
}*/

.talentspotting-content {
    background: url('../images/most_effective.png') no-repeat;
    width: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
/*.form-slider {
    overflow: hidden;
}
.slide {
    overflow: hidden;
}*/

.proactivetexts {
    font-family: 'Open Sans', sans-serif;
    color: #656565;
    font-size: 20px; 
    margin: 0 auto;
    max-width: 816px;
    margin-top: 50px;

}

.dottext {
    margin-left: 45px;
}



.added{
    background: rgb(125, 204, 147) !important;
}
.flash_message {
    display: block !important;
    text-align: center ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #f9ce00;
    text-align: center;
    position: relative ;
    top: 65px;

}

.greendot {
    margin-top: 50px;
}

  .form-slider > .slide:nth-child(3)   .talent-data h1 {
        /*background: red;*/
        font-size: 25px ;
    }
  .form-slider > .slide:nth-child(4)   .talent-data h1 {
        /*background: red;*/
        font-size: 25px ;
    }
  .form-slider > .slide:nth-child(5)   .talent-data h1 {
        /*background: red;*/
        font-size: 25px ;
    }
    
    @media only screen and (min-width:769px) and (max-width: 991px)  {
        .margtp .col-sm-3 .talent-data h1 {
           font-size: 1.17em !important;
        }
    }

    
    audio, canvas, progress, video {
        display: inline-block;
        vertical-align: baseline;
        height: 262px;
        width: 262px;
    }
    .circleGraphic1 {
        max-height: 260px;
        max-width: 260px;
        margin: 0 auto;
    }
    #next {
        margin: 0 auto;
        margin-top: -50px;
        margin-left: 175px;
    }
     #next:hover {
         cursor: pointer ;
    }
    .mrg {
        margin-top: 30px;
    }
    .center {
        text-align: center;
        margin-top: 80px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #4a063e;
    }
    
    .title_class_red {
        opacity: 0.8 !important;
        font-family: 'Open Sans', sans-serif ;
        font-weight: 900 !important;
        font-size: 40px !important;
        color: #272727 !important;
        text-align: center !important;
    }
    .title_class_orange {
        opacity: 0.8 !important;
        font-family: 'Open Sans', sans-serif ;
        font-weight: 900 !important;
         font-size: 40px !important;
        color: #272727 !important;
        text-align: center !important;
    }
    .title_class_green {
        opacity: 0.8 !important;
        font-family: 'Open Sans', sans-serif ;
        font-weight: 900 !important;
         font-size: 40px !important;
        color: #272727 !important;
        text-align: center !important;
    }
    #contact {
        max-width: 70%;
        width: 100%;
        margin: 0 auto ;
    }
    .mail {
        font-size: 23px;
        font-family: 'Open Sans', sans-serif ;
    }
    .not-intersted {
        text-align: right;
        text-decoration: underline;
        margin-top: 15px;
        
    }
    .not-intersted:hover {
        cursor: pointer ;
    }
    
    input[type=submit].btn-block {
        width: 40%;
        margin: 0 auto ;
        margin-top : 30px;
        background: #D2E16C ;
        font-family: 'Open Sans', sans-serif ;
        font-weight: 700;
        border-radius:  0px;
        font-size: 14px;
        border: 0px;
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
        
    }
    .mail-br {
        color: #98A24E ;
    }
    .mail-br:hover {
        color: #272727 ;
    }
    
    #talentspotting .bx-controls-direction .bx-prev {
        background: url(../icon/next-arrow.svg) no-repeat ; 
        /*display: none !important;*/
        right: 101%;
        margin-top:25px;
         display: none !important;
    }
    #talentspotting .bx-controls-direction .bx-next {
        background: url(../icon/previous-arrow.svg) no-repeat ; 
        left: 100%;
        margin-top: 25px;
       
    }
    #talentspotting .bx-controls-direction a {
       width: 50px;
       height: 50px;
    }
    .prv-arrow-txt {
        position: relative;
        left: -175px;
        bottom: 130px;
    }
    .prv-arrow-txt > span {
        color : #B196AF;
          font-family: 'Open Sans', sans-serif ;
        font-weight: 700;
    }
    .nxr-arrow-txt > span {
        color : #B196AF;
          font-family: 'Open Sans', sans-serif ;
        font-weight: 700;
    }
   .nxr-arrow-txt {
/*        position: relative;
        left: 145px;
        bottom: 130px;
        text-align: right*/
position: relative;
left: 100px;
bottom: 130px;
text-align: left;
float: right;
    }
    .talent-data:hover {
        cursor: pointer ;
    }
    #ContactForm {
        margin-top: 50px;
    }
    
    #email {
        width: 50% ; text-align: center
    }
    
    .lbl {
        text-align: center;
        width: 50%;
        left: 30px;
        position: relative;
    }
    
     .sign:hover {
        background: #D2E16C;
        color: #FFF;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
    }
     .sign:focus {
        background: #D2E16C;
        color: #FFF;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
    }
    .sign {
    position: absolute;
    right: 10px;
    top: 25%;font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #D2E16C;
    line-height: 0px;
    text-decoration: none;
    border: 2px solid #D2E16C;
    padding: 21px 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    }


    .sign{
        padding:20px 15px;
    }
}

#microscope {
    padding:30px 0px;
}

@media (max-width:970px){
    #talentspotting .talent-spotting-title {
        margin:10px 0px;
    }

    #next {display: none;}

    #landing .row {
        margin-top:100px;
    }

}
._uutyy {
    margin: 0 auto;
    width: 100%;
    max-width: 304px;
}

.notready {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500 ;
    font-size: 24px;
    color: #ffffff;
    text-align: center;   
    margin-bottom: 20px; 
}

.askmoreinfo {
        font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none !important;
    border: 2px solid white;
    padding: 5px 30px;
    border-radius: 3px;
    background-clip: padding-box;
    margin: 0 auto;
    display: block;
    max-width: 175px;
}


.askmoreinfo:hover {
    background: white;
    color: grey;

}





