    <section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper">
        <!--mini statistics start-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading"></header>
                    <div class="panel-body">
                        <div class=" form">
                            <form class="cmxform form-horizontal" id="commentForm" method="POST" action="">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3">Select existing billing info</label>
                                    <div class="col-lg-6">
                                        <select name="id_billing" class="form-control" onchange="window.location.href='<?php echo $_SERVER["REQUEST_URI"];?>&id_billing='+this.options[this.selectedIndex].value">
                                        <option value="">New billing info</option>
                                        <?php foreach ($this->billing_info as $info):?>
                                        <option value="<?php echo $info['id'];?>"<?php echo ($info['id'] == $this->id_billing) ? ' selected="selected"':'';?>><?php echo $info['title'];?>, <?php echo $info['address'];?></option>
                                        <?php endforeach;?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3">Company name</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="title" placeholder="" class="form-control" required="" value="<?php echo $this->billing['title'];?>" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="lastname" class="control-label col-lg-3">VAT No.</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="cui" placeholder="" class="form-control" required="" value="<?php echo $this->billing['cui'];?>" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="email" class="control-label col-lg-3">Registration no.</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="j" placeholder="" class="form-control" required="" value="<?php echo $this->billing['j'];?>" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3">Address</label>
                                    <div class="col-lg-6">
                                        <textarea name="address" placeholder="" class="form-control" required="" rows="3"><?php echo $this->billing['address'];?></textarea>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3">Bank name</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="bank" placeholder="" class="form-control" required="" value="<?php echo $this->billing['bank'];?>" />
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group ">
                                    <label for="type" class="control-label col-lg-3">Firstname</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="firstname" placeholder="" class="form-control" required="" value="<?php echo $this->billing['firstname'];?>" />
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <label for="password" class="control-label col-lg-3">Lastname</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="lastname" placeholder="" class="form-control" required="" value="<?php echo $this->billing['lastname'];?>" />
                                    </div>
                                </div>     
                                <div class="form-group ">
                                    <label for="phone" class="control-label col-lg-3">Phone</label>
                                    <div class="col-lg-6">
                                        <input type="phone" name="phone" placeholder="" class="form-control" pattern="(\+?\d[- .]*){7,13}" required="" value="<?php echo $this->billing['phone'];?>" />
                                    </div>
                                </div>     
                                <div class="form-group ">
                                    <label for="address" class="control-label col-lg-3">Email</label>
                                    <div class="col-lg-6">
                                        <input type="email" name="email" placeholder="" class="form-control" required="" value="<?php echo $this->billing['email'];?>" />
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <label for="gender" class="control-label col-lg-3">Payment method</label>
                                    <div class="col-lg-6">
                                        <select name="payment_method">
                                            <!--
                                            <option value="card"<?php echo $this->billing['payment_method'] == 'card' ? ' selected="selected"': '';?>>Credit Card</option>
                                            <option value="paypal"<?php echo $this->billing['payment_method'] == 'paypal' ? ' selected="selected"': '';?>>Paypal</option>-->
                                            <option value="op"<?php echo $this->billing['payment_method'] == 'op' ? ' selected="selected"': '';?>>Bank Transfer</option>
                                        </select>
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button class="btn btn-primary" type="submit">Recharge account</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
        </section>
    </section>

</section>