<!--main content start-->
<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">
    <section class="wrapper iifuudh">

        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('bounties'); ?>
                    </h3>
                </div>
                <div class=" col-sm-2 col-sm-offset-7">
                    <div class="kdkfjt">
                        <button class="btn _dggdtf" > 
                            <span class="search-brain" style="padding:0px;height: 0px"> 
                                <i class="glyphicon glyphicon-search branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"></i></span>
                            <span id="filter-clicked-6" class=""></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12 no-pad">
                <div id="search-cont" class="_hide">
                    <label><?php echo $this->translate->_('search'); ?></label>
                    <input type="text" id="searchbox" class="form-control">
                </div>

            </div>
            <div class="col-sm-12 bounty">
                <div class="col-sm-4">
                    <div>
                        <span><?php echo $this->bounties_to_approve; ?></span>

                        <p><?php echo $this->translate->_('bounties_to_be_paid'); ?></p>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div>
                        <span><?php echo $this->bounties_paid; ?></span>

                        <p><?php echo $this->translate->_('bounties_paid'); ?></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <span><?php echo $this->translate->_('ask'); ?></span>

                         <a href="mailto:ruxandra@talentspotting.com?subject=personalized gamification"><p><?php echo $this->translate->_('for_a_personalized_gamification_program'); ?></p></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <table class="table table-bordered" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <th><?php echo $this->translate->_('referral'); ?></th>                                        
                                        <th><?php echo $this->translate->_('details'); ?></th>                                                                               
                                        <th><?php echo $this->translate->_('bounty'); ?></th>
                                        <th><?php echo $this->translate->_('status'); ?></th>
                                        <th><?php echo $this->translate->_('_due_date'); ?></th>
                                        <th><?php echo $this->translate->_('actions'); ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    foreach ((array) $this->items as $item): ?>
                                        <tr class="">
                                            <td class=" td-style"><?php echo $item['name']; ?></td>
                                            <td class=" td-style"><?php echo $item['job']; ?></td>
                                            <td class=" td-style"><?php echo $item['bounty']; ?></td>                                        
                                            <td class=" td-style"><?php echo $item['status']; ?></td>      
                                            <td class=" td-style"><?php echo date("d F Y", strtotime($item['due_date'])); ?></td>  
                                            <td>
                                                <a class="btn-approuve" href="/confirm-bounty?id=<?php echo $item['id']; ?>&status=paid"><i class="fas fa-check"></i></a>
                                                <a class="btn-del" href="/confirm-bounty?id=<?php echo $item['id']; ?>&status=canceled"><i class="fas fa-trash"></i></a>
                                                <?php if ($item['status'] != 'paid') : ?>
                                                    <a class="btn-edit" href="/ajax/index/campaign-recommenders?id=<?php echo $item['id']; ?>" data-target="#myModal" data-toggle="modal"><i class="fas fa-edit"></i></a>
                                                <?php endif; ?>
                                            </td>                                  
                                        </tr>                                
                                    <?php endforeach; ?>
                                    <?php foreach ((array) $this->campaign_items as $item): ?>
                                        <tr class="">
                                            <td class=" td-style"><?php
                                                if ($item['id_user'] != "") {
                                                    foreach ($item['users'] as $user) {
                                                        echo $user['firstname'] . ' ' . $user['lastname'] . '<br />';
                                                    }
                                                } else {
                                                    echo $this->translate->_('chose_referal');
                                                }
                                                ?></td>
                                            <td class=" td-style"><?php echo $item['title']; ?></td>
                                            <td class=" td-style"><?php echo $item['bounty']; ?></td>                                        
                                            <td class=" td-style"><?php echo $im['status']; ?></td>      
                                            <td class=" td-style"><?php echo date("d F Y", strtotime($item['date'])); ?></td>  
                                            <td>
                                                <a data-toggle="modal" data-target="#preview-modal" class="chose-winner" href="/campaign-winner?id=<?= $item['id_campaign'] ?>"><?php echo $this->translate->_('chose_winner') ?></a>
                                            </td>                                  
                                        </tr>                                
                                    <?php endforeach; ?>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
</section>
<script type="text/javascript">
    var language = ['ro', 'en', 'fr', 'hu'];
    var lang = "<?php echo $this->lang; ?>";
    var index = language.indexOf(lang);
    if (index >= 0) {
        language.splice(index, 1);
    }
    window.onload = function () {
        $('span#' + lang).show();
        $('select.' + lang).show();
    }
</script>