<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Uploaded files by <?php echo $this->bounty['name'];?> for <?php echo $this->bounty['job'];?>@<?php echo $this->bounty['company'];?></h4>
            
            
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="panel-body">
                    <div class="adv-table">
                        <div class="send_message hidden"><a href="#" class="send_linkedin_message btn btn-success"><?php echo $this->translate->_("recommend_on_linkedin_message");?></a></div>
                        <div class="send_message space10 hidden">&nbsp;</div>                        
                        <table class="table table-striped table-hover table-bordered dynamic-table" style="float: left;">
                            <thead>
                                <tr>
                                    <th>File</th>
                                    <th>Download</th>
                                    <th>Upload Date</th>                                        
                                </tr>
                            </thead>                            
                            <tbody>
                            <?php foreach ((array) $this->files as $file):?>
                                <tr>
                                    <td><?php echo $file['title'];?></td>
                                    <td><a class="link" href="/resources/files/payments/<?php echo $file['file'];?>">Download</a></td>
                                    <td><?php echo date("d F Y, H:i", strtotime($file['date']));?></td>                                    
                                </tr>                                    
                            <?php endforeach;?>            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>
<script>

$(document).ready(function() {

    $('.dynamic-table').dataTable( {
        "aaSorting": [[ 4, "desc" ]]
    } );


} );
</script>