<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Campaign Winners</h4>
        </div>
        <div class="modal-body">
            <div class="space15"></div>
             <form action="/campaign-winner" method="post" id="campaign-winner">
            <table class="table table-bordered" id="dynamic-table">
                <thead>
                    <tr>
                        <th>-</th>
                        <th><?php echo $this->translate->_('name'); ?></th>                                        
                        <th><?php echo $this->translate->_('total_points'); ?></th>                                                                               
                        <th><?php echo $this->translate->_('gamification_actions'); ?></th>                                                                               
                        <th><?php echo $this->translate->_('action_points'); ?></th>
                    </tr>
                </thead>
                <tbody>
               

                    <?php foreach ((array) $this->items as $item): ?>
                        <tr class="">
                            <td>
                                <div class="checkbox checkbox-primary">
                                    <input value="<?= $item['id_recommender'] ?>" name="users[]" id="checkbox<?= $item['id_recommender'] ?>" class="styled" type="checkbox">
                                    <label for="checkbox<?= $item['id_recommender'] ?>">
                                    </label>
                                </div>
                            </td>
                            <td><?= $item['recommender_firstname'] . ' ' . $item['recommender_lastname'] ?></td>
                            <td><?= $item['totals_points'] ?></td>
                            <td>

                                <?php foreach ($item['gamification_partition'] as $key => $value) : ?>
                                    <table>
                                        <tr>
                                            <td><?php echo ucfirst(str_replace("_", " ", $key)); ?></td>
                                            <td><?php echo $value; ?></td>
                                        </tr>
                                    </table>
                                <?php endforeach; ?>


                            </td>
                            <td><?= ucfirst(implode('<br />', str_replace("_", " ", $item['actions']))); ?></td>
                        </tr>                                
                    <?php endforeach; ?>
                </tbody>
            </table>
                 <input type="hidden" name="id" value="<?php echo $this->id_campaign ; ?>" />
             </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-default confirm_winner">Confirm Winners</button>
        </div>
    </div>

</div>
<script type="text/javascript">

    $('.confirm_winner').click(function () {
        $("form#campaign-winner").submit();
    })

</script>