    <!--main content start-->
    <section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper">
            <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Recharge Account
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>
                    <div class="panel-body">                        
                        <div class="text-center price-head">
                            <h1 class="color-terques"> Select a package from the list</h1>                            
                        </div>
                        <?php foreach ($this->packages as $package):?>
                        <div class="col-lg-3 col-sm-3">
                            <div class="pricing-table most-popular">
                                <div class="pricing-head">
                                    <h1> <?php echo $package['title'];?></h1>
                                </div>
                                <div class="pricing-quote">
                                    <?php echo $this->settings['curr_html_sign'][$package['currency']];?> <?php echo round($package['amount'], 2);?>
                                    <p><?php echo $this->translate->_("per_12_months");?></p>
                                </div>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check"></i> <?php echo $package['job_credits'];?> Jobs</li>
                                    <li><i class="fa fa-check"></i> <?php echo $package['search_credits'];?> Searches</li>
                                    <li><i class="fa fa-check"></i> <?php echo $package['description'];?></li>
                                </ul>
                                <div class="price-actions">
                                    <a href="/recharge/?id_package=<?php echo $package['id'];?>" class="btn">Purchase This Plan</a>
                                </div>
                            </div>
                        </div>
                        <?php endforeach;?>
                        <div class="col-lg-3 col-sm-3">
                            <div class="pricing-table">
                                <div class="pricing-head">
                                    <h1> <?php echo $this->translate->_("wia_home_title");?></h1>                                    
                                </div>                                                
                                <div class="price-actions fair">
                                    <a href="/wiafair#contact" class="btn btn-danger"><?php echo $this->translate->_("wia_home_exhibitor");?></a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="text-center price-head">
                            <h1 class="color-terques"> Or create a custom package</h1>                            
                        </div>
                        <form action="" method="get" class="price_configurator">
                            <div class="col-lg-2 col-sm-2">
                                <input id="job_credits" min="0" type="number" name="job_credits" placeholder="Select the jobs number"/>
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <input id="search_credits" min="0" type="number" name="search_credits" step="1" placeholder="Select the cv searches" />
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <input id="total_price" type="text" name="total_price" placeholder="0 &euro;" />
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <button type="submit" class="btn btn-primary" value="">Purchase This Plan</button>
                            </div>
                        </form>
                        <!--price end-->
                    </div>
                    <div class="space15">&nbsp;</div>
                    <div class="space15">&nbsp;</div>
                </section>
            </div>
        </div>
        </section>
    </section>