    <!--main content start-->
    <section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper">
            <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Bounties List
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>

                         </span>                        
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <div class="clearfix">
                                <div class="btn-group">
                                   
                                </div>
                                <div class="btn-group pull-right">
                                    
                                </div>
                            </div>
                            <?php if ($this->flash_messages[0] != ""):?>
                             <div class="space15"><hr /></div>
                             <div class="alert alert-block alert-success fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                <?php echo $this->translate->_($this->flash_messages[0]);?>
                             </div>
                             <hr />
                             <?php endif;?>
                            <div class="space15"><hr /></div>
                            <table class="table table-striped table-hover table-bordered" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Job</th>                                        
                                        <th>User</th>
                                        <th>Company</th>                                        
                                        <th>Amount</th>                                        
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>View Files</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ((array) $this->items as $item):?>
                                    <tr class="">
                                        <td><?php echo $item['id_bounty'];?></td>
                                        <td><?php echo $item['job'];?></td>
                                        <td><?php echo $item['name'];?></td>
                                        <td><?php echo $item['company'];?></td>
                                        <td><?php echo $item['amount'];?> <?php echo $this->settings['currencies'][1];?></td>                                                                                
                                        <td><?php echo $item['status'];?></td>                                 
                                        <td><?php echo date("d F Y, H:i", strtotime($item['date']));?></td> 
                                        <td><a class="link" href="/jobs/payments/bounty-files?id=<?php echo $item['id_bounty'];?>" data-target="#preview-model" data-toggle="modal">View files</a></td>                                              
                                        <td>
                                            <?php foreach ($this->settings['bounty_status'] as $status => $title):?>
                                            <?php if ($item['status'] != $status && $status != "initiated"):?>
                                            <a class="delete delete_item btn btn-<?php echo $this->settings['bounty_class'][$status];?> btn-xs" href="/confirm-bounty?id=<?php echo $item['id_bounty'];?>&status=<?php echo $status;?>"><?php echo $title;?></a>
                                            <?php endif;?>
                                            <?php endforeach;?>
                                        </td>
                                    </tr>                                
                                    <?php endforeach;?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        </section>
    </section>
</section>
