                            <?php $translate = Zend_Registry::get("Zend_Translate");?>
                            <form class="cmxform form-horizontal" id="commentForm" method="POST" action="" enctype="multipart/form-data">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3">Apply action</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->apply;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="lastname" class="control-label col-lg-3">Recommend action</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->recommend;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="email" class="control-label col-lg-3">Rate company action</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->rate;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3">Add job action</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->add_job;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3">Complete application</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->complete_application;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="type" class="control-label col-lg-3">Pay bounty action</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->pay_bounty;?>
                                    </div>
                                </div>                                                               
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?>
                                        <button class="btn btn-primary" type="submit">Save</button>
                                        <button class="btn btn-default" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>                            