<?php $translate = Zend_Registry::get("Zend_Translate");
$modelJobs = new models_Jobs;
?>
<div class="modal-body">
<form class="cmxform form-horizontal edit-campaign" enctype="multipart/form-data" id="commentForm" method="POST" action="/add">
    
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-6 brain-no-pad">
                <label for="title" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("campaign_title"); ?> <span class="cus-required">*</span><span class="custom-tooltip"><?php echo $translate->_("campaign_title_tooltip") ?></span></label>
                <?php echo $this->element->title; ?>
            </div>

            <div class="col-md-6 brain-no-pad">
                <label for="recommander" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("select_recommender"); ?> <span class="custom-tooltip"><?php echo $translate->_("select_recommender_tooltip") ?></span></label>
                <?php echo $this->element->recommenders ?>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-6 brain-no-pad">
                <label for="job" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("select_job"); ?> <span class="cus-required">*</span></label>
                <?php echo $this->element->jobs; ?>
            </div>

            <div class="col-md-6 brain-no-pad">
                <label for="bounty" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("bounty"); ?> <span class="cus-required">*</span></label>
                <?php echo $this->element->bounty; ?>
            </div>
        </div>
    </div>
    
    
    <div class="col-md-12">
        <div class="form-group row">
           <div class="col-md-6 brain-no-pad">
                <label for="cities" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("cities"); ?> <span class="custom-tooltip"><?php echo $translate->_("cities_tooltip") ?></span></label>
                <?php echo $this->element->cities;?>
            </div>

            <div class="col-md-6 brain-no-pad">
                <label for="bounty_file" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("bounty_file"); ?></label>
                <input id="job_upload_input" name="bounty_file" type="file" class="form-control form-control-file" />
                <br />
                <br />
                <br />
                <div id="image-job-ext" >
                    <img src="" alt="" height="60" width="60"><span onclick="removeJobPicture()" class="delete-edit-btn fix-delete-edit-btn"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-6 brain-no-pad">
                <label for="domain" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("departments"); ?> <span class="custom-tooltip"><?php echo $translate->_("departments_tooltip") ?></span></label>
                <?php echo $this->element->departments; ?>
            </div>

            <div class="col-md-6 brain-no-pad">
                <label for="gamified" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("actions_to_be_gamified"); ?> <span class="cus-required">*</span></label>
                <?php echo $this->element->gamification_actions; ?>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-6 brain-no-pad">
                <label for="campaign" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("campaign_duration"); ?> <span class="cus-required">*</span></label>
                <div class="custom-select-duration">
                    <?php echo $this->element->duration; ?>
                </div>
                
                <?php echo $this->element->id; ?>
                <?php echo $this->element->save_type; ?>
                <?php echo $this->element->real_save; ?>
                <!--<span class="icn"></span>-->
            </div>
        </div>
    </div> 
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-6 brain-no-pad">
                <label for="campaign" class="col-md-1 control-label brain-left-label"><?php echo $translate->_("campaign_description"); ?> <span class="cus-required"></span></label>
                    <?php echo $this->element->description; ?>
            </div>
        </div>
    </div> 
    </div>
<!--    <hr class=" hr" />-->
    <div class="modal-footer">
        <div class="row">
            <div class=" col-md-6">
                <div class="pull-left">
<!--                    <span class="promoted">Promoted</span>
                    <input type="checkbox" class="lcs_check check" name="is_promoted" <?php // echo ($this->campaign['is_promoted'] == 1) ? 'checked="checked"':'';?> />-->
                </div>

            </div>
            <div class=" col-md-6">

                <button type="submit" name="draft" class="btn btn-default  save-drft center"><span><?php echo $translate->_("save_as_draft"); ?></span></button>
                <button type="submit" name="active" class="btn btn-default save-act center"><span><?php echo $translate->_("save_and_activate"); ?></span></button>
            </div>
        </div>        
    </div>
</form>
<script>
$(document).ready(function()
{
    $(".save-drft").click(function()
    {
        $("#save_type").val(0);
        $("#real_save").click();
    });
    
    $(".save-act").click(function()
    {
        $("#save_type").val(1);
        $("#real_save").click();
    });
})
</script>