

<?php
$end = date('Y-m-d');
$start = date('Y-m-d', strtotime('-3 month'));
?>


<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">

<div id="wsdase" class="col-sm-12">
   <div class=" col-sm-6 ">
      <h3 class="b-title pull-left capitalized">
         Surname Name is on first position with 345 points collected
      </h3>
      <br>
      <h2 style="    margin-top: 40px;" class="b-title ">2 Campaigns get closer to the deadline</h2>
   </div>
</div>
<div class="col-sm-12">
   <div class="col-sm-7 pui">
      <p>General score</p>
      <p class="branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius">Campaigns results</p>
      <p style="background: transparent;"><a class="btn add-br sjdhft branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius" href="/add-campaign">Add campaign</a></p>
   </div>
   <div class="col-sm-5" style="display: flex">
      <p class="oui">From: </p>
      <input id="_start" onchange="fetch_leaderboard()" type="date" name="" value="<?php echo $start; ?>">
      <p class="oui">To: </p>
      <input onchange="fetch_leaderboard()" id="_end" type="date" name="" value="<?php echo $end; ?>">
      <button class="btn xsjdhft branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"><?php echo $this->translate->_('Export'); ?>
      </button>
   </div>
</div>
  
   <?php echo $this->result ?>
</section>