
<?php
$start = date('Y-m-d', strtotime('-3 month'));
$end = date('Y-m-d', strtotime('+3 month'));;
?>

<section id="main-content">
    <section class="wrapper iifuudh">

        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('Campaigns management'); ?>
                    </h3>
                </div>
                <div class=" col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3 pui">
                                <!--            --><?php //echo $this->translate->_('to'); ?>
                                <a class="btn xsjdhft branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"
                                   href="/add-campaign"><?php echo $this->translate->_('Add campaign'); ?></a>
                            </div>
                            <div class="col-sm-9" style="display: flex; padding: 2%;"><p class="oui"><?php echo $this->translate->_('between'); ?>: </p>

                                <input id="_start" onchange="campaign_report_function()" type="date" name="" value="<?php echo $start; ?>">
                                <p class="oui"> - </p>
                                <input onchange="campaign_report_function()" id="_end" type="date" name="" value="<?php echo $end; ?>">
                                <form id="export-campaign-form" method="POST" action="/campaigns/admin/export">
                                </form>
                                <button id="export-campaign" class="btn lala branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-border-color-buttonsing-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius">
                                    <?php echo $this->translate->_('export'); ?>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <?php echo $this->leaderboards ?>
            </div>
        </div>
    </section>
</section>




<script>
    var form = document.getElementById('export-campaign-form');
    document.getElementById("export-campaign").addEventListener("click", function () {
        $('<input />').attr('type', 'hidden')
            .attr('name', "startExport")
            .attr('value', $("#_start").val())
            .appendTo('#export-campaign-form');
        $('<input />').attr('type', 'hidden')
            .attr('name', "endExport")
            .attr('value', $("#_end").val())
            .appendTo('#export-campaign-form');
        form.submit();
        console.log('aaaaa');
    });
</script>



