<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <td>
        Hello {$user.firstname}, <br>
        <br>
        <br>
        <p>YSikeresen pályázott a következő állásra:  {$job.title} @ {$job.company_title}.</p> <p>Itt látható az alkalmazás állapota: Alkalmazáselőzmények
            Sok szerencsét és remélem, hogy hamarosan megkapja a kívánt munkát.
            <a style="color: #095556" onMouseOver="this.style.color='#666666'" onMouseOut="this.style.color='#095556'" href="{$settings.sitename}/profile#application">Application History</a></p>

        <p>Tartjuk a kapcsolatot,</p>

        <p><br>Töltse ki profilját<br>{$settings.sitename}</p>
        <center>
            <a class="button" style="background-color:{$bg_color}" target="_blank" href="{$subdomain_url}/login">Check your applications status</a
        </center>

        <p>&nbsp;</p>
    </td>
</table>

