<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Kedves {$user.firstname},
            <br /> &nbsp;
            <p>"{$candidate.firstname} {$candidate.lastname} jelentkezett  a {$job.title} in {$application.date}. dátummal , és most új státuszt kapott: {$status.title}.</p>
            <p>
                  Tekintse meg a jelölt profilját, és döntse el, hogy mi legyen a következő lépés a felvételi folyamatban, a jelölt megfelelő oszlopra költöztetésével.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}/users/admin/mycvs" style="background-color:{$bg_color}" target="_blank">A jelölt állapotának frissítése</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Készítse el saját tehetség-folyamát!</p>
        </td>
    </tr>
</table>