<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <td>
        Üdv {$name.name},<br>
        <br>
        <br>
        <a target="_blank" href="{$url}?track={$data.track}">{$job.title}</a> jelenleg nyitva van: @ {$job.company_title} cégnél. <br/><br/>
          Ha szeretné jelentkezni, csak annyit kell tennie, hogy regisztrál a {$job.company_title} hivatkozási platformon, és töltse fel önéletrajzát.
        <p>
              Ez egy automatizált átirányítási rendszer, ahol a barátaid ajánlhatnak üresedeéseket a cégüknél. Könyen, egy klikkes bejelentkezéssel jelentkezhet be.

        </p>
        Sok szerencsét,
        {$user.firstname} {$user.lastname}
        <br><br>
        <center>
            <a class="button" style="background-color:{$bg_color}" target="_blank" href="{$url}?track={$data.track}">Apply Now</a>
        </center>

        <p>&nbsp;</p>
    </td>
</table>