<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Kedves {$username},
            <br /> &nbsp;
            <p>Egy teljesen új kampány indult most: {$campaign}! </p>
            <table style="border:3px solid #ccc">
                <colgroup>
                    <col width="20%" style="color:#828282;border:3px solid #ccc">
                    <col width="80%" style="border:3px solid #ccc">
                </colgroup>
                <tbody>
                <tr>
                    <td class="righted padded bordered">Időszak</td>
                    <td class="lefted padded bordered"> {$start} - {$end}</td>
                </tr>
                <tr>
                    <td class="righted padded bordered">Részt vevő munkahelyek</td>
                    <td class="lefted padded bordered">{$jobs}</td>
                </tr>
                <tr>
                    <td class="righted padded bordered">Prémium</td>
                    <td class="lefted padded bordered">{$bounty}
                    </td>
                </tr>
                <tr>
                    <td class="righted padded bordered">szabályok</td>
                    <td>
                        {$rules} műveletek a kampányban, a nyertesek számában, a nyereményváltási időszakban, azaz
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <p>
                  Ossza meg az előléptetett munkahelyeket, és tekintse át a pályázókra vonatkozó kérelmeket, hogy növelje esélyeit a rendelkezésre álló bónuszok megnyerésére.
            </p><br/>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}" style="background-color:{$bg_color}" target="_blank">A népszerűsített munkahelyek megosztása</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Készítse el saját tehetségáramát! </p>
        </td>
    </tr>
</table>