<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Kedves {$username},
            <br /> &nbsp;
            <p>Gratulálunk! Ön tehetséges tehetségvadász A {$candidate} éppen meg lett jelölve mint felvett jelölt a {$job.title} munkára @ {$company} cégnél.</p>
            {$job_bounty}
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;"><br />
            <a class="button" href="{$subdomain_url}/profile#/rewards-view" style="background-color:{$bg_color}" target="_blank">Ellenőrizze a bónuszait</a>
        </td>
    </tr>
    <tr>
        <td align="center">
            <p>Készítse el saját tehetség-folyamát!</p>
        </td>
    </tr>
</table>