<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Kedves {$user.firstname},
            <br /> &nbsp;
            <p>A Friss benyomások számítanak. Kérjük, jegyezze le a (z) {$candidate.firstname} {$candidate.lastname} {$job.title} jelöltre vonatkozó gondolatait, amikor frissíti a jelölt toborzási állapotát {$status}.
            </p>
            <p>
                  A visszajelzés dokumentálva van, és a szerződtető menedzser számára is látható lesz.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}" style="background-color:{$bg_color}" target="_blank">Dokumentumok indoklása</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Készítse el saját tehetségáramát!</p>
        </td>
    </tr>
</table>