<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br />Szia {$firstname},
            <br /> &nbsp;
            <p>Gratulálunk az Ön tevékenységéhez! Előre halad - nézze meg az állapotát itt a <a style="color: #095556" onMouseOver="this.style.color='#666666'" onMouseOut="this.style.color='#095556'" href="{$subdomain_url}/profile#application">here</a> ifelvételi folyamatban.</p>
            <p>  Tekintse meg a jelölt profilját, és döntse el, hogy mi legyen a következő lépés a felvételi folyamatban, és a jelöltet a megfelelő oszlopra kell költöztetni.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
        </td>
    </tr>
    <tr>
        <td>
            <p>Építse fel a saját tehetség-folyamát!</p>
        </td>
    </tr>
</table>