<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Kedves {$username},
            <br /> &nbsp;
            <p>Kampánya megkezdődött!  </p>
            <table style="border:3px solid #ccc">
                <colgroup>
                    <col width="20%" style="color:#828282;border:3px solid #ccc">
                    <col width="80%" style="border:3px solid #ccc">
                </colgroup>
                <tbody>
                <tr>
                    <td class="righted padded bordered">Időszak</td>
                    <td class="lefted padded bordered"> {$start} - {$end}</td>
                </tr>
                <tr>
                    <td class="righted padded bordered">Munkák szerepelnek</td>
                    <td class="lefted padded bordered">{$jobs}</td>
                </tr>
                <tr>
                    <td class="righted padded bordered">Díj</td>
                    <td class="lefted padded bordered">{$bounty}
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <p>
                Alig várjuk, hogy a kampánya ranglistája napról napra nőjjön.
                  Mindig ellenőrizheti élő statisztikáit a ranglisták oldalán <a href="{$subdomain_url}/leaderboards">leaderboards</a>  </p><br/>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="{$subdomain_url}" style="background-color:{$bg_color}" target="_blank">Ossza meg a népszerűsített munkahelyeket</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Készítse el saját tehetség-folyamát</p>
        </td>
    </tr>
</table>