<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Kedves {$recommender.firstname},
            <br /> &nbsp;
            <p> Remek! Az Ön  <b>{$candidate.firstname} {$candidate.lastname}</b> jelöltje éppen jelentkezett <b>{$job.title}</b> munkára vonatkozik, az ön ajánlását követve.</p>
            <p>
                Egy rövid áttekintő űrlap kitöltésével növelje a jelöltje esélyeit, hogy alkalmazzák:
            </p>
            <img src="https://marketing-image-production.s3.amazonaws.com/uploads/9c132a2c142f7261a2d6336608842da6bb7922cec8518af521a316915fcceaafea7c76e09498ef14b0485884e906cff42936e1692f5e4368fcdc1ce590f30290.gif"/>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding: 10px;"><br />
            <a class="button" href="{$subdomain_url}/users/admin/rate?id={$id}" style="background-color:{$bg_color} !important" target="_blank">Értékelje a jelöltjét</a>
        </td>
    </tr>
    <tr>
        <td align="center">
            <p>Készítse el saját tehetség-folyamát!</p>
        </td>
    </tr>
</table>