<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;margin-bottom:20px">
    <tr>
        <td><br /> Kedves {$firstname},
            <br /> &nbsp;
            <p>Éppen úgy döntött, hogy  alkalmazza {$candidate.firstname} {$candidate.lastname} -t a {$job.title} munkakörbe.</p>
            <p>
                Itt az ideje elismerni és jutalmazni kollégáját, aki ezt lehetővé tette: {$recommender.firstname} {$recommender.lastname} megérdemel egy nagy „köszönöm”-öt a az Ön munkahelyének ajánlásáért.
            </p>
        </td>
    </tr>

    <tr>
        <td align="center" valign="top" style="padding: 10px;">
            <a class="button" href="mailto:{$recommender.email}?cc={$recruiter.email}, {$hiring_manager.email}&subject=Big%20Thank%20You%20for%20sharing{$job.title}%20job%20to%20your%20friend&body=Salut%20{$recommender.firstname}" style="background-color:{$bg_color}" target="_blank">küldjön el egy KÖSZÖNŐ e-mailt</a>
        </td>
    </tr>
    <tr>
        <td>
            <p>Készítse el saját tehetség-folyamát!</p>
        </td>
    </tr>
</table>