<?php $params = Zend_Controller_Front::getInstance()->getRequest()->getParams();?>
<?php $companyModel = new models_Company ;
$analytics = $companyModel->getAnalyticsId() ;
$heatmap = $companyModel->getHeatmap() ;

?>
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <meta name="viewport" content="width=device-width, user-scalable=no">-->
    <!-- End of Meta for SEO -->
    <meta property="og:title" content="<?= isset($this->job['title']) ? $this->job['title'] : '' ?>" />
    <meta property="og:description" content="<?= isset($this->job['role']) ? strip_tags($this->job['role']) : '' ?>" />
    <meta property="og:url" content="<?php echo APPLICATION_URL;?><?php echo Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();?>" />
    <meta property="og:image" content="<?php echo ($this->seo_image == "") ? APPLICATION_URL.'/resources/frontend/favico/favicon-96x96.png' : $this->seo_image;?>" />
    <meta property="og:type" content="website" />
    <meta property="og:author" content="Talentspotting" />
    <meta name='robots' content='index,follow'>
    <meta name='owner' content='TalentSpotting'>
    <meta name='url' content='<?php echo APPLICATION_URL;?><?php echo Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();?>' />

    <link rel="shortcut icon" href="/resources/admin/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/resources/admin/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/resources/admin/favicon.ico" />
    
    <script src="/resources/admin/js/jquery.js" type="text/javascript"></script>
<!--    <script src="/resources/admin/js/jquery.min.js" type="text/javascript"></script>-->


	<?php echo $this->headTitle(). "\n"; ?>
	<?php echo $this->headMeta(). "\n"; ?>	
	<?php echo $this->headStyle(). "\n"; ?>
	<?php echo $this->headLink(). "\n"; ?>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css" src="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css">

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css"
          src="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/resources/admin/css/theme/custom_dash.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="canonical" href="<?php echo $this->settings['sitename'];?>/"/>
    <link rel="stylesheet" href="https://metroapp.waio.ro/style.css">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" type="text/javascript"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js" type="text/javascript"></script>-->
<!--    <script src="/resources/admin/js/angular-animate.min.js" type="text/javascript"></script>-->
<!--    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.js"></script>
    <?php if (Zend_Auth::getInstance()->getIdentity()->type < 3):?>
    <!-- Google Analytics -->
    <!--immediately before the closing </head>-->
    <?php if (Zend_Registry::isRegistered("subdomain")):?>
    <?php $subdomain = Zend_registry::get("subdomain"); echo $subdomain['ga_code'];?>
    <?php else:?>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-50655521-4', 'auto');
      ga('send', 'pageview');
    
    </script>
    <?php endif;?>
    
    <!-- End Google Analytics -->
    
    
    <?php endif;?>
    
        <?php if($analytics != "") : ?>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<?php echo $analytics ?>"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', "<?php echo $analytics ?>");
        </script>
    <?php endif ;?>
    <?php if($heatmap != "") echo $heatmap ; ?>
    <?php echo $this->render("sublayouts/styles.phtml") ?>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1062377973856382',
                xfbml      : true,
                version    : 'v2.6'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>
<body>
<?php
echo $this->render("partials/logged/header.phtml");
?>
<div><?php echo $this->layout()->content. "\n"; ?></div>

<?php if (Zend_Auth::getInstance()->getIdentity()->type < 3):?>
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 956071788;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<!--<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/956071788/?value=0&amp;guid=ON&amp;script=0"/>-->
</div>
</noscript>
<?php endif;?>
<div class="modal fade" id="preview-modal" tabindex="" role="basic" aria-hidden="true"></div>
<?php
echo $this->render("partials/footer.phtml") ;
?>

<?php
echo $this->headScript(). "\n"
?>
</body>
</html>
