<div class="chat-body">
    <div>
        <h6>Talentspotting Chat</h6>
    </div>
    <div>
        <?php if(!empty($this->history)) : ?>
            <div class="answer load-more-center">
                <a href="javascript:;"
                   id="load-more"
                   data-from="<?php echo $this->me ?>"
                   data-to="<?php echo $this->id_user ?>">load more</a>
            </div>
            <?php foreach ($this->history as $key => $value ) : ?>
                <?php
                $side = "right";
                $image = $this->sitename.'/resources/files/user/'.$value['user_image'];
                $firstname = $value['user_firstname'];
                $lastname = $value['user_lastname'];
                if($value['from_user'] == Zend_Auth::getInstance()->getIdentity()->id)
                {
                    $side = "left";
                    $image = $this->sitename.'/resources/files/user/'.$value['me_image'];
                    $firstname = $value['me_firstname'];
                    $lastname = $value['me_lastname'];
                }



                if($value['image'] === ""){
                    $image = $this->sitename.'/resources/admin/images/no-picture.jpg';
                }
                ?>
                <div class="answer <?php echo $side ?>">
                    <div class="avatar">
                        <img src="<?php echo $image ?>" alt="User name">
                        <div class="status online"></div>
                    </div>
                    <div class="name"><?php echo ucfirst($firstname)  ?> <?php echo ucfirst($lastname) ?></div>
                    <div class="text">
                        <?php echo$value['message'] ?>
                    </div>
                    <div class="time"><?php echo $value['date'] ?></div>
                </div>
            <?php endforeach ; ?>
        <?php endif ; ?>
    </div>

    <div>
        <div class="answer-add">
            <input placeholder="Write a message"
                   id="message-value"
                   data-container="<?php echo $this->container ?>"
                   data-from="<?php echo $this->me ?>"
                   data-to="<?php echo $this->id_user ?>"
            >
            <span class="answer-btn answer-btn-1"></span>
            <span class="answer-btn answer-btn-2"
                  data-container="<?php echo $this->container ?>"
                  data-from="<?php echo $this->me ?>"
                  data-to="<?php echo $this->id_user ?>"
                  id="send-message"></span>
        </div>
    </div>
</div>

<script>
    $(document).ready(function()
    {
        var counter = 1 ;
        $(".chat").niceScroll();
        $('#load-more').on('click',function(){
            var id_user = $(this).data('to');
            $.ajax({
                url:'/users/index/get-conversation',
                type:"POST",
                data : {id_user:id_user,counter:counter},
                success : function(data){
                    data = JSON.parse(data);
                    $('.load-more-center').after(data.preview).fadeIn();
                    if(data.load == false) $('.load-more-center').remove();
                    counter +=1 ;
                    console.log('counter ',counter);
                    console.log('layout ',data);
                }
            })
        });
    })

    var input = document.getElementById("message-value");

    // Execute a function when the user releases a key on the keyboard
    input.addEventListener("keyup", function(event) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
            // Trigger the button element with a click
            document.getElementById("send-message").click();
        }
    });
</script>