<?php if(!empty($this->history)) : ?>
    <?php foreach ($this->history as $key => $value ) : ?>
        <?php
        $side = "right";
        $image = $this->sitename.'/resources/files/user/'.$value['user_image'];
        $firstname = $value['user_firstname'];
        $lastname = $value['user_lastname'];
        if($value['from_user'] == Zend_Auth::getInstance()->getIdentity()->id)
        {
            $side = "left";
            $image = $this->sitename.'/resources/files/user/'.$value['me_image'];
            $firstname = $value['me_firstname'];
            $lastname = $value['me_lastname'];
        }



        if($value['image'] === ""){
            $image = $this->sitename.'/resources/admin/images/no-picture.jpg';
        }
        ?>
        <div class="answer <?php echo $side ?>">
            <div class="avatar">
                <img src="<?php echo $image ?>" alt="User name">
                <div class="status online"></div>
            </div>
            <div class="name"><?php echo ucfirst($firstname) ?> <?php echo ucfirst($lastname) ?></div>
            <div class="text">
                <?php echo$value['message'] ?>
            </div>
            <div class="time"><?php echo $value['date'] ?></div>
        </div>
    <?php endforeach ; ?>
<?php endif ; ?>
