
<?php foreach ($this->styles as $key => $category) : ?>
    <div class="setting-element" style="padding: 10px;">
        <div class="label-settings"><?php echo $category['title'] ?>
            <div class="explanatory-paragraph">
                <?php echo $category['description'] ?>
            </div>
        </div>
        <div class="settings-fullw-col color-picker-form" style="padding: 5px;">
            <?php if(!empty($category['color'])) : ?>
            <?php foreach($category['color'] as $key => $value) : ?>

            <div class="c-pickers spaced left-float" style="margin: 10px 0px 10px 0px;">
                <input onChange="assign(this)"
                       type="color"
                       id="c.<?php echo $value['id'] ?>"
                       name="n.<?php echo $value['id'] ?>"
                       value="<?php echo $value['value'] ?>">
                <label for="branding_brand_colors_top_menu_background_color"><?php echo $value['name'] ?></label>
            </div>
            <?php endforeach ; ?>
            <?php endif; ?>
        </div>
    </div>
<?php endforeach;  ?>


<script>
    $(document).ready(function(){
        $('form#brand-form-container').on('submit',function(e)
        {
            e.preventDefault();
            var form = [];
            $("div.c-pickers > input[type='color']").each(function(){
                var i = {};
                i['class'] = $(this).attr('id')
                i['value'] = $(this).val() //<-- Should return all input elements in that specific form.
                form.push(i)
            });
            // console.log(form);
            $.ajax({
                url:"/companies/admin/save-brand",
                type:"POST",
                data:{data:form},
                success:function (data) {
                    $('form#brand-form-container').unbind('submit').submit();
                }
            })
        })
    })

    function assign(self) {
        var value = $(self).val();
        console.log(value);
        $(self).attr( 'value',value);
    }
</script>
