<?php $params = Zend_Controller_Front::getInstance()->getRequest()->getParams();?>
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="MKT2">   

    <link rel="shortcut icon" href="/resources/frontend/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/resources/frontend/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/resources/frontend/favicon.ico" />
    <script src="/resources/frontend/js/jquery.js" type="text/javascript"></script>
    
	<?php echo $this->headTitle(). "\n"; ?>
	<?php echo $this->headMeta(). "\n"; ?>	
	<?php echo $this->headStyle(). "\n"; ?>
	<?php echo $this->headLink(). "\n"; ?>    
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    
    <!-- Google Analytics -->
    <!--immediately before the closing </head>-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-50655521-4', 'auto');
      ga('send', 'pageview');
    
    </script>
    <!-- End Google Analytics -->
</head>
<?php echo $this->layout()->content. "\n"; ?>
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 956071788;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/956071788/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</body>
</html>
