<div class="row" style="width:100%;padding:5px;background: red;color: #FFF;font-family: 'Open Sans', sans-serif;">
    <div class="col-sm-12">
<!--        <div class="col-sm-12">--><?php //echo $this->translate->_('Before applying to any job, you need to'); ?><!--:</div>-->
        <div class="col-sm-12">Before applying to any job, you need to:</div>
        <div id="unique-error-sublayout-container">
        <?php foreach($this->errors as $i => $error) : ?>
            <div class="col-sm-12"><?php echo "(".($i+1).")" ." ". ucFirst($error) ;?></div>
        <?php  endforeach; ?>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('a.send-verification-email-class').attr('href',$('a.send-verification-email-class').attr('href')+window.location.href);
    })
</script>