<?php $params = Zend_Controller_Front::getInstance()->getRequest()->getParams();?>
<?php echo $this->doctype(). "\n" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<?php echo $this->headTitle(). "\n"; ?>
	<?php echo $this->headMeta(). "\n"; ?>
	<?php echo $this->headScript(). "\n"; ?>
	<?php echo $this->headStyle(). "\n"; ?>
	<?php echo $this->headLink(). "\n"; ?>
    
    <!-- Google Analytics -->
    <!--immediately before the closing </head>-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-50655521-4', 'auto');
      ga('send', 'pageview');
    
    </script>
    <!-- End Google Analytics -->
    
</head>
<body>

<?php echo $this->layout()->content. "\n"; ?>
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 956071788;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/956071788/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</body>
</html>
