<?php $params = Zend_Controller_Front::getInstance()->getRequest()->getParams();?>
<!DOCTYPE html >
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="apple-touch-icon" sizes="57x57" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/favicon-16x16.png">
        <meta name="msvalidate.01" content="3E58814C3F933706AC90A7087E598040" />
        <link rel="manifest" href="<?php echo APPLICATION_URL;?>/resources/frontend/favico/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="<?php echo APPLICATION_URL;?>/resources/frontend/favico/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <?php echo $this->headTitle(). "\n"; ?>
        <?php echo $this->headMeta(). "\n"; ?>
        <meta name='copyright' content='Brainspotting'>
        <meta name='language' content='<?php echo APPLICATION_LOCALE;?>'>        
        <meta name='Classification' content='Business'>
        <meta name='author' content='Brainspotting, hello@talentspotting.com'>
        <meta name='owner' content='iMatch'>
        <meta name='url' content='<?php echo APPLICATION_URL;?><?php echo Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();?>' />
        <!-- End of Meta for SEO -->
        <meta property="og:url" content="<?php echo APPLICATION_URL;?><?php echo Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();?>" />
        <meta property="og:image" content="<?php echo ($this->seo_image == "") ? APPLICATION_URL.'/resources/frontend/favico/favicon-96x96.png' : $this->seo_image;?>" />
        <meta property="og:type" content="website" />
        <?php if (strpos($_SERVER['HTTP_HOST'], "wia.mkt2.ro") !== false):?>
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
        <?php else:?>
        <meta name='robots' content='index,follow'>
        <?php endif;?>
        <?php echo $this->headStyle(). "\n"; ?>
        <?php echo $this->headLink(). "\n"; ?>
        <script src="https://apis.google.com/js/client.js"></script>
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700,300,600,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <?php if (Zend_Registry::isRegistered("subdomain")):?>
        <?php $subdomain = Zend_registry::get("subdomain");?>
        <link rel="alternate" href="<?php echo $_SERVER['HTTP_HOST'];?>" hreflang="<?php echo $subdomain['language_code'];?>" />
        <?php else:?>
        <link rel="alternate" href="iMatch.co" hreflang="en" />
        <?php endif;?>        
    
</head>
<body>
<!-- Google Analytics -->
<!--immediately before the closing </head>-->
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NXSQZQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NXSQZQ');</script>
<!-- End Google Tag Manager -->
<?php if ($params['module'] == 'default' && $params['action'] == 'index'):?>
<div id="gif-loader">
</div>
<?php endif;?>
<?php 
    echo (Zend_Auth::getInstance()->hasIdentity()) ? $this->render("partials/frontend/logged/header.phtml") : $this->render("partials/frontend/not-logged/header.phtml");
?>
<?php echo $this->layout()->content. "\n"; ?>
<?php //echo $this->render("partials/frontend/logged/footer.phtml");?>
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 956071788;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/956071788/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<?php echo $this->headScript(). "\n";?>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</footer>
<div class="modal fade" id="preview-modal" tabindex="-1" role="basic" aria-hidden="true"></div>