<script type="text/javascript">
    $(document).ready(function () {
        $("select.select2").select2();
        $('.check').lc_switch();
        // triggered each time a field changes status
        $('body').delegate('.lcs_check', 'lcs-statuschange', function () {
            var status = ($(this).is(':checked')) ? '1' : '0';
            console.log('field changed status: ' + status);
        });
    })
</script>
<div class="modal-content no_width_fix addstls">
    <div class="modal-header">
        <button type="button" class="close brain-close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-left"><?php echo $this->translate->_('add_new_campaign') ?></h4>
    </div>    
    <?php echo $this->form; ?>
</div>
<?php echo $this->js ; ?>
<script>
    
           function removeJobPicture() {
                var strconfirm = confirm("Are you sure you want to delete this picture?");
                if (strconfirm == true) {
//                    console.log(job_id);
                            var http = new XMLHttpRequest();
                            var url = "remove-campaign-picture";
                            var params = "id_campaign="+id_campaign;
                            http.open("POST", url, true);

                       //Send the proper header information along with the request
                       http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                       http.onreadystatechange = function () {//Call a function when the state changes.
                           if (http.readyState == 4 && http.status == 200) {
                               var result = JSON.parse(http.responseText);
                               if (result.msg == 1) {
                                   $("#job_upload_input").show();
                                   $("#image-job-ext").remove();
                               }

                           }
                       }
                       http.send(params);

                   }
               }
$(document).ready(function()
{
    
        var hasPicture = "<?php echo $this->hasPicture; ?>";
        var job_picture = "<?php echo $this->picture ?>";
       
        var pathname = "/resources/files/bounties/"+job_picture;
        if(hasPicture == 1) {
            $("#job_upload_input").hide();
            $("#image-job-ext > img").attr("src",pathname);
        } else {
            $("#image-job-ext").remove();
        }
        
    $(".save-drft").click(function()
    {
        $("#save_type").val(0);
        $("#real_save").click();
    });
    
    $(".save-act").click(function()
    {
        $("#save_type").val(1);
        $("#real_save").click();
    });
    
    
                $("body").on('click', '[data-dismiss="modal"]', function(e) 
                {
                    e.stopPropagation();
                       $('.select2-display-none').css({ "display" : "none"}) ;
                    $(".select2-drop-mask").click();

                });
                $("body").on('click', '[type="text"],#preview-modal,[class="select2-input"],[type="select"]', function(e) 
                {
                    e.stopPropagation();
                    $(".select2-drop-mask").click();


                });
})
</script>