<div class="modal-content center-block">
    <div class="modal-header" style="background: #FFF;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="text-align: left" class="modal-title br-title">Boost Campaign</h4>
    </div>
    <hr class="hr-popup" />
    <div class="modal-body">
        <form action="/ajax/index/boost" method="POST" class="ajaxify">
            <div class=" form-group">
                <label>Message</label>
                <textarea name="message" id="" class="form-control" cols="6" rows="10"></textarea>
            </div>
            <div class="form-group">
                <input name="id" type="hidden" value="<?php echo $this->id;?>" />
                <button class="btn btn-submit btn-popup" type="submit">Send Reminder</button>
            </div>
        </form>
    </div>
</div>