<div class="modal-content djjfug">
    <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Change Recommender</h3>
    </div>
    <div style="" flash-message="5000" ></div>
    <div class="modal-body flow">
        <div  class="col-md-12 flow mCustomScrollbar dllofofo" data-mcs-theme="dark" >
            <input type="text" placeholder="search ... " name="search" id="myInput" class="rec-search" />
            <table class="table table-bordered tbl-popup dataTable chg-recers"  id="dynamic-table">
                <thead>
                    <tr>
                        <th></th>
                        <th><?php echo $this->translate->_("title"); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ((array) $this->items as $id => $title): ?>
                        <tr>
                            <td class="ch-rec-tbl">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox<?php echo $id; ?>" name="check" class="styled table-check" value="<?php echo $id; ?>" type="checkbox"/>
                                    <label for="checkbox<?php echo $id; ?>">
                                    </label>
                                </div>
                            </td>
                            <td><?php echo $title; ?></td>                                                
                        </tr>                                
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class=" span4 pull-left">
            </div>
            <div class=" span4">
                <button class="btn btn-close" type="button" data-dismiss="modal" onclick="closeModal()">Cancel</button>
                <button class="btn btn-move" type="button" onclick="changeRecommender(<?php echo $this->id; ?>)">Change</button>
            </div>
        </div>
    </div>
</div>
<script>
    function closeModal()
    {
//    alert("a");
    }

    function changeRecommender(id)
    {
        if ($(".table-check:checked").length == 1)
        {
            var id_user = $(".table-check:checked").attr("id").split("checkbox");
            $.post("/ajax/index/change-recommender", {"id_bounty": id, "id_user": id_user}, function (data)
            {
                console.log(id_user);
                window.location.reload();
            }, 'json');
        } else
        {
            alert("Please select only one item!");
        }
    }
    $(document).ready(function () {
        var tabel = $("table.dataTable").DataTable({
            "filter": true,
            destroy: true,
            searching: true,
            "aaSorting": [[0, "desc"]],
//        "aoColumns": [{ "bSortable": false },{ "bSortable": false }],
            responsive: true,
            "oLanguage": {
                "sInfoEmpty": '',
                "sEmptyTable": "<span id='ro' style='display:none'>Nu exista date in tabel</span> <span id='en' style='display:none'>No data available in table</span>",
                "sInfo": "_START_ - _END_ of _TOTAL_",
                "sLengthMenu": "<select style='display:none' id='myDropDown' class='form-control selectpicker ro' data-hide-disabled='true' data-show-subtext='true' data-live-search='true'>" +
                        "<option id='stl' value='10'>10 randuri per pagina</option>" +
                        "<option id='stl2' value='25'>25 randuri per pagina</option>" +
                        "<option id='stl3' value='50'>50 randuri per pagina</option>" +
                        "<option id='stl4' value='100'>100 randuri per pagina</option>" +
                        "<option id='stl5' value='-1'>Toate</option>" +
                        "</select> <select style='' id='myDropDown' class='form-control selectpicker en' data-hide-disabled='true' data-show-subtext='true' data-live-search='true'>" +
                        "<option id='stl' value='10'>10 rows per page</option>" +
                        "<option id='stl2' value='25'>25 rows per page</option>" +
                        "<option id='stl3' value='50'>50 rows per page</option>" +
                        "<option id='stl4' value='100'>100 rows per page</option>" +
                        "<option id='stl5' value='-1'>All</option>" +
                        "</select>",
                "oPaginate": {
                    "sNext": "",
                    "sPrevious": ""
                },
            },
            "sDom": 'Rfrtlip',
            "sDom" : 'rCt<"footer dt-footer"><"bottom"ilp><"clear">',
        });
        var language = ['ro', 'en', 'fr', 'hu'];
        var lang = "<?php echo $this->lang; ?>";
        var index = language.indexOf(lang);
        if (index >= 0) {
            language.splice(index, 1);
        }
        window.onload = function () {
            $('span#' + lang).show();
            $('select.' + lang).show();
        };

        $('#myInput').on( 'keyup', function () {
            tabel.search( this.value ).draw();
        } );


    });
</script>
