<div class="modal-content center-block">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title br-title">Edit Campaigns Background</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <label class="semibold dodiiifussd">Color</label>
                <input type='text' id="flat" />
            </div>
            <div class="col-md-8">
                <label class="semibold">Image</label>
                <form action="" class="dropzone">
                </form>
            </div>
        </div>
        <div class="row top50 prev-brain">
            <div class="col-md-3">
                <div class="brain-cont-data dodiiifussddcf">
                    <h4 class="brain-cont-data-h dfgiiifussddcf">Preview</h4>
                    <p class="brain-cont-data-p">This area does not show the actual content on the homepage.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box"></div>
            </div>
            <div class="col-md-3"> <div class="box"></div></div>
            <div class="col-md-3"> <div class="box"></div></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right dfgiidf_">
                    <button class="btn btn-rs-def">Reset to Default</button>
                    <button class="btn btn-rs-sv">Save</button>
                </div>
            </div>
        </div>
        <!--        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
    </div>
</div>

<script type="text/javascript">
    $("form.dropzone").dropzone({
        url: "/file/post",
        dictDefaultMessage: "<div class='brain-msg'>Drag and Drop the image here or use the button below(minimum size 1200x800)</div>" +
            "<div>" +
            "<button class='btn btn-brain btn btn-rs-sv branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius'>" +
            "<span class='spn'>Select file</span></button></div>",
    });

    $("#flat").spectrum({
        flat: true,
        showInput: true,
        preferredFormat: "hex",
    });
</script>