<div class="modal-content center-block import_users_csv">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="row">
            <div class="col-sm-4">
                <h4 class="modal-title br-title">Import Users From CSV</h4>
            </div>
            <div class="col-sm-6 col-md-offset-1">
                <div class=" pull-right"><a href="/resources/files/import/example.csv" class="btn bzs branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
">Download example .CSV file</a></div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form action="/users/admin/import" class="dropzone" method="POST" enctype="multipart/form-data">
                </form>
            </div>
        </div>
        <div class="row top50">
            <div class="col-sm-12 dhhfyf">
                <form action="/users/admin/import" class="form-inline" role="form"  enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox2" type="checkbox" checked="">
                            <label for="checkbox2">
                                Ignore first line
                            </label>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <div  class="pull-right djjfhg">
                    <button  data-dismiss="modal" class="btn btn-rs-def">cancel</button>
                    <button class="btn btn-rs-sv branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
" onclick="$('.dropzone').submit();">Save</button>
                </div>
            </div>
        </div>
        <!--        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
    </div>
</div>

<script type="text/javascript">
    $("form.dropzone").dropzone({
        url: "/users/admin/import",
        method: "post",
        paramName: "file",
        dictDefaultMessage: "<div class='brain-msg' style='    margin: 100px auto auto auto;font-size: 13px;font-family: inherit;'>Drag and Drop the file here or use the button below</div>" +
            "<div>" +
            "<a href='javascript:;'>" +
            "<span class='spn btn btn-rs-sv branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius'>Select file</span>" +
            "</a>" +
            "</div>",
    });

    $("#flat").spectrum({
        flat: true,
        showInput: true,
        preferredFormat: "hex",
    });
</script>