<form class="cmxform form-horizontal edit-job" id="commentForm" method="POST" action="/edit-job" enctype="multipart/form-data">
<div  class="modal-content _uufufg">
    <div class="modal-header ">
        <button type="button" class="close brain-close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-left"><?php echo $this->translate->_("add_new_job"); ?></h4>
        <div class="bs-example">
            <ul class="" id="myTab">
                <li><a href="#description"><?php echo $this->translate->_("description"); ?></a></li>
                <li class="active" ><a href="#detail"><?php echo $this->translate->_("details"); ?></a></li>
            </ul>

        </div>
    </div>
    <div class="modal-body ">
        <div class="tab-content">
            <div id="detail" class="tab-pane fade in active">
                <?php echo $this->detail ?>
            </div>
            <div id="description" class="tab-pane fade">
                <div class="form-group col-sm-12">
                    <label for="description" class=" control-label"><?php echo $this->translate->_("description"); ?> <span class="cus-required">*</span></label>
                    <?php echo $this->detail->description ?>
                </div>
                
                <!--<textarea name="description" id="editor2" class="ckeditor" cols="70" rows="70"><?php echo $this->job['description'];?></textarea>-->
            </div>
        </div>
    </div>
    <hr />
    <div class="modal-footer ">
        <div class="row">
            <div class=" col-md-6">
                <div class="pull-left">
                    <span class="promoted">Pin To Top</span>
                    <input type="checkbox" class="custom-switch" <?php echo ($this->job['is_promoted'] == 1) ? "checked" : "" ?> name="is_promoted" />
                </div>
            </div>
            <div class="go_bottom col-md-6">
                <button type="button" class="btn btn-default brain-btn can-bt center " data-dismiss="modal"><span><?php echo $this->translate->_("cancel"); ?></span></button>
                <button type="submit" class="btn btn-default brain-btn save-bt center"><span><?php echo $this->translate->_("save"); ?></span></button>
            </div>
        </div>
    </div>
  
</div>
      </form>
    <?php echo $this->js ; ?>
    
    <script type="text/javascript">

        function removeJobSharePicture() {
            var strconfirm = confirm("Are you sure you want to delete this picture?");
            if (strconfirm == true) {
//                    console.log(job_id);
                var http = new XMLHttpRequest();
                var url = "/ajax/index/remove-share-picture";
                var params = "id_job="+job_id;
                http.open("POST", url, true);

                //Send the proper header information along with the request
                http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                http.onreadystatechange = function() {//Call a function when the state changes.
                    if(http.readyState == 4 && http.status == 200) {
                        var result =  JSON.parse(http.responseText);
                        if(result.msg == 1) {
                            $("#job_public_image").show();
                            $("#job-public-image-ext").remove();
                        }

                    }
                }
                http.send(params);

            }
        }
    
                function removeJobPicture() {
                var strconfirm = confirm("Are you sure you want to delete this picture?");
                if (strconfirm == true) {
//                    console.log(job_id);
                            var http = new XMLHttpRequest();
                            var url = "remove-picture";
                            var params = "id_job="+job_id;
                            http.open("POST", url, true);

                            //Send the proper header information along with the request
                            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                            http.onreadystatechange = function() {//Call a function when the state changes.
                                if(http.readyState == 4 && http.status == 200) {
                                    var result =  JSON.parse(http.responseText);
                                    if(result.msg == 1) {
                                         $("#job_upload_input").show();
                                          $("#image-job-ext").remove();
                                    }
                                    
                                }
                            }
                            http.send(params);

                }
            }
        
        

//    CKEDITOR.instances['editor2'].setData('');
    $(document).ready(function () {
        $("ul.select2-choices").click(function () {
            var mask = $(".select2-drop-mask").css("display");
            if(mask == "block") {
                $(".select2-drop-mask").click();
            } 
        })
        
        $("body").on('click', '[data-dismiss="modal"]', function(e) 
                {
                    e.stopPropagation();
                    $('.select2-display-none').css({ "display" : "none"}) ;
                    $(".select2-drop-mask").click();

                });
                $("body").on('click', '[type="text"],#preview-modal,[class="select2-input"],[type="select"]', function(e) 
                {
                    e.stopPropagation();
                    $(".select2-drop-mask").click();


                });
        
        
        
        var hasPicture = "<?php echo $this->hasPicture ; ?>";
        var job_picture = "<?php echo $this->picture ?>";

        var job_public_imageHasPicture = "<?php echo $this->job_public_image_hasPicture ; ?>";
        var job_public_imageJob_picture = "<?php echo $this->job_public_image ?>";
//console.log(job_public_imageJob_picture+"jooooob imageee");
        var job_public_image_pathname = job_public_imageJob_picture;
       
        var pathname = job_picture;


        if(job_public_imageHasPicture == 1) {
            $("#job_public_image").hide();
            $("#job-public-image-ext > img").attr("src",job_public_image_pathname);
            console.log(job_id);
        } else {
            $("#job-public-image-ext").remove();
        }


        if(hasPicture == 1) {
            $("#job_upload_input").hide();
            $("#image-job-ext > img").attr("src",pathname);
            console.log(job_id);
        } else {
            $("#image-job-ext").remove();
        }

        
        
        if ($('#editor2').length > 0) {
            CKEDITOR.replace('editor2', {
                height: 450,
        toolbar:
                [
                    {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                    {name: 'basicstyles', items: ['Bold', 'Italic']},
                    {name: 'tools', items: ['Maximize', '-', 'About']}
                ]
    });
    $.fn.modal.Constructor.prototype.enforceFocus = function () {
        modal_this = this
        $(document).on('focusin.modal', function (e) {
            if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length
                    // add whatever conditions you need here:
                    &&
                    !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select') && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
                modal_this.$element.focus()
            }
        })
    };
        }
        
//        $('.check').lc_switch();
//        // triggered each time a field changes status
//        $('body').delegate('.lcs_check', 'lcs-statuschange', function () {
//            var status = ($(this).is(':checked')) ? '1' : '0';
//            console.log('field changed status: ' + status);
//        });
        $("#myTab a").click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
        
       $('ul#myTab > li > a').on('click',function() {
           var description = $(this).attr('href');
           if (description == "#description") {
               console.log('add classes');
              $('.modal-body').addClass('no-pad');
              $('#description').addClass('no-pad');
           }else {
               console.log('remove classes');
              $('.modal-body').removeClass('no-pad');
              $('div#description').removeClass('no-pad');
           }
       })
       
//       $("#bounty").keypress(function() {
//            var dInput = this.value;
//            console.log(dInput);
//            if(!$.isNumeric(dInput)) {
//                $("#job_upload_input").attr("required","required");
//            } else {
//                 $("#job_upload_input").removeAttr("required");
//            }
//       });
    });
    
</script>
<script type="text/javascript">
    /* General rules for all the switches in demo 5 */
    new DG.OnOffSwitchAuto({
        cls:'.custom-switch',
        textOn:"ON",
        height:35,
        textOff:"OFF",
        textSizeRatio:0.35,
        listener:function(name, checked){
            document.getElementById("listener-text-table").innerHTML = "Switch " + name + " changed value to " + checked;
        }
    });
</script>