<div class="modal-content" style="margin-top: 120px;width: 800px;">
<div class="modal-header" >
    <h3 class="modal-title">Move to another project</h3>
</div>
<div style="" flash-message="5000" ></div>
<div class="modal-body">
    <div style="overflow: auto" class="col-md-12 mCustomScrollbar oofiguufggd" data-mcs-theme="dark" >
        <table class="table table-bordered tbl-popup"  id="dynamic-table">
            <thead>
                <tr>
                    <th></th>
                    <th><?php echo $this->translate->_("id"); ?></th>
                    <th><?php echo $this->translate->_("title"); ?></th>                                        
                    <th><?php echo $this->translate->_("company"); ?></th>
                    <th><?php echo $this->translate->_("start"); ?></th>
                    <th><?php echo $this->translate->_("end"); ?></th>
                    <?php if ($this->settings['app_type'] == 'hr'): ?>
                        <th><?php echo $this->translate->_("recommendations"); ?></th>
                    <?php endif; ?>
                    <th><?php echo $this->translate->_("views"); ?></th>
                    <th><?php echo $this->translate->_("applications"); ?></th>
<!--                    --><?php //if ($this->settings['app_type'] == 'hr'): ?>
<!--                        <th>--><?php //echo $this->translate->_("bounty"); ?><!--</th>                                        -->
<!--                    --><?php //endif; ?>
<!--                    <th>--><?php //echo $this->translate->_("promoted"); ?><!--</th>-->
<!--                    <th>--><?php //echo $this->translate->_("actions"); ?><!--</th>-->
                </tr>
            </thead>
            <tbody>
                <?php foreach ((array) $this->items as $item): ?>
                    <tr class="">
                        <td>
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox<?php echo $item['id']; ?>" class="styled" type="checkbox" ng-click="check(<?php echo $item['id']; ?>)" ng-change='updateIds()' ng-model="ids['<?php echo $item['id']; ?>']">
                                <label for="checkbox<?php echo $item['id']; ?>">
                                </label>
                            </div>
                        </td>
                        <td><?php echo $item['id']; ?></td>
                        <td><a class="link" href="/job-details/?id=<?php echo $item['id']; ?>"><?php echo $item['title']; ?></a></td>
                        <td><?php echo $item['company_title']; ?></td>
                        <td><?php echo date("d F Y", strtotime($item['start'])); ?></td>
                        <td><?php echo ($item['end'] != "0000-00-00") ? date("d F Y", strtotime($item['end'])) : "-"; ?></td>
                        <?php if ($this->settings['app_type'] == 'hr'): ?>
                            <td><?php echo $item['recommendations']; ?></td>
                        <?php endif; ?>
                        <td><?php echo $this->views[$item['id']]; ?></td>
                        <td><?php echo $this->applications[$item['id']]; ?></td>
<!--                        --><?php //if ($this->settings['app_type'] == 'hr'): ?>
<!--                            <td>--><?php //echo $item['bounty']; ?><!-- --><?php //echo $this->settings['currencies'][$item['id_currency']]; ?><!--</td>-->
<!--                        --><?php //endif; ?>
<!--                        <td>--><?php //echo ($item['is_promoted'] == 1) ? 'Yes' : 'No'; ?><!--</td>-->
<!--                        <td>    -->
<!--                            <a class="edit" href="/edit-job/?id=--><?php //echo $item['id']; ?><!--">Edit</a>-->
<!--                            --><?php //if (Zend_Auth::getInstance()->getIdentity()->type == 3): ?>
<!--                                <a class="delete delete_item" href="/delete-job/?id=--><?php //echo $item['id']; ?><!--">Delete</a>-->
<!--                            --><?php //endif; ?><!--                                            -->
<!--                        </td>-->
                    </tr>                                
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class=" span4 pull-left">
        </div>
        <div class=" span4">
            <button class="btn btn-close" type="button"
                    ng-click="close()">Cancel</button>
            <button class="btn btn-move" type="button"
                    ng-click="copyProject()">Move</button>
        </div>
    </div>

</div>
</div>
