<?php foreach ((array)$this->jobs as $job):?>
<div class="col-md-4 hp-body-single-offer col-sm-6">
    <div class="hp-offer-inner" itemscope itemtype="http://schema.org/JobPosting">
        <h2><a href="/<?php echo WebApp_Tools::createJobSlug($job);?>"><span itemprop="title"><?php echo WebApp_Tools::strTrim($job['title'], 43, "...", 15);?></span></a></h2>
        <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"><span class="location" itemprop="address" itemscope itemtype="http://schema.org/Postaladdress"><span itemprop="addressLocality"><h3><?php echo $job['location'][@key($job['location'])];?></h3></span></span></span>
        <a href="/company/<?php echo $job['company_slug'];?>"><img src="/constrain-image/?url=<?php echo base64_encode("/companies/original/".$job['company_logo']);?>&width=180&height=53&pos=left"  alt="<?php echo WebApp_Tools::getImageAlt("company_photo", array("job" => $job));?>"/></a>
        <h4><a href="/company/<?php echo $job['company_slug'];?>"><span itemprop="hiringOrganization" itemtype="http://schema.org/Organization"><span itemprop="name"><?php echo $job['company_title'];?></span></span></a></h4>
        <p itemprop="description"><?php echo WebApp_Tools::strTrim($job['tagline'], 105, null, 15, true);?></p>
        <hr />
        <ul>
            <li><a href="/recommend/<?php echo $job['slug'];?>?id=<?php echo $job['id'];?>&noredir" class="link" data-target="#preview-modal" data-toggle="modal"><i class="fa fa-thumbs-o-up"></i> <?php echo $this->translate->_("recommend");?></a></li>
            <li class="middle-btn"><a href="/share/<?php echo $job['slug'];?>" data-target="#preview-modal" data-toggle="modal" class="link"><i class="fa fa-share"></i> <?php echo $this->translate->_("share");?></a></li>
            <li><a href="/apply/<?php echo $job['slug'];?>?id=<?php echo $job['id'];?>&noredir" data-target="#preview-modal" data-toggle="modal" class="link"><i class="fa fa-check"></i> <?php echo $this->translate->_("apply");?></a></li>
        </ul>
    </div>
</div>
<?php endforeach;?>