<?php foreach ((array)$this->news as $item):?>
<a href="/news/<?php echo $item['slug'];?>.html" class="news-box">
    <div class="news-img">
        <img src="/constrain-image/?url=<?php echo base64_encode("/news/".$item['image']);?>&width=419&height=244" alt="<?php echo WebApp_Tools::getImageAlt("news_photo", array("news" => $item));?>" />
    </div>
    <h2><?php echo $item['title'];?></h2>
    <p><?php echo $item['description'];?></p>
</a>                                    
<?php endforeach;?>