<!-- Modal content-->
<div id="reminder-popup" class="modal-content fixing">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><?php echo $this->translate->_('send_reminder') ;?></h4>
    </div>
    <div class="modal-body">
        <form action="/reminder-campaign" method="POST">
            <div class=" form-group">
                <label><?php echo $this->translate->_('subject') ;?></label>
                <input name="subject" id="subject" class="form-control" />
            </div>
            <div class=" form-group">
                <label><?php echo $this->translate->_('message') ;?></label>
                <textarea name="message" id="message" class="form-control" cols="6" rows="10"></textarea>
            </div>
            <div class=" form-group">
                <label><?php echo $this->translate->_('share_by_email') ;?></label>
                <input type="hidden" class="form-control" name="email" value="<?php echo $this->email ?>" />
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-popup" type="submit"><?php echo $this->translate->_('send') ;?></button>
            </div>
        </form>
    </div>
</div>