<div class="modal-content center-block dllfk">
    <div class="modal-header dkkfjgi">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title br-title dllfkg"><?php echo $this->translate->_('add_new_user'); ?></h4>
    </div>
    <div class="modal-body dkkfjgi">
        <div class="row">
            <div class="col-md-12">
                <?php echo $this->form; ?>
            </div>
        </div>
    </div>
<!--    <div class="modal-footer" style="background: #FFF;">
        <div class="row">
            <div class="col-md-12">
                <div style="padding-right: 15px" class="pull-right">
                    <button data-dismiss="modal" class="btn btn-rs-def">cancel</button>
                    <button class="btn btn-rs-sv">Save</button>
                </div>
            </div>
        </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>-->
</div>

<script type="text/javascript">
    
    function customDrop() {
        var value = $('select.custom_departments_user').prev().find('.select2-search-field').find('input').val();
        var source = "departments";
         $.ajax({
                data : {value : value , source : source},
                method : "POST",
                url : "/ajax/index/custom-cities",
                success : function(data) {
                    console.log(data);
                    data = jQuery.parseJSON(data);
                    switch(data.source) {
                        case "cities" :
                              var option = new Option(data.title,data.id);
                              option.selected = true;
                              $("#cities").append(option);
                              $("#cities").trigger("change");
                            break;
                        case "skills" :
                              var option = new Option(data.title,data.id);
                              option.selected = true;
                              $("#skills").append(option);
                              $("#skills").trigger("change");
                            break;
                        case "departments" :
                                 var option = new Option(data.title, data.id);
                                 option.selected = true;
                                 $("#department").append(option);
                                 $("#department").trigger("change");
                                 break;

                         }

                     }
                 })
    }
    
    $(function() {
        $("select.custom_departments_user").select2({
        formatNoMatches: function () {
                    return "No Results Found <a onClick='customDrop()' href='javascript:;' class='btn btn-danger add-br pull-right'>Add New</a>";
        },
    });
    })
</script>