<div class="company-signin">
	<div class="company-first">
		<div class="container">
			<div class="row">				
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 sign-in-company col-md-offset-3">
					<h2><?php echo $this->translate->_("hello");?> <?php echo $this->user->firstname;?><br /><?php echo $this->translate->_("fill_in_twitter_details");?></h2>
					<form id="sign-in-company" method="POST" action="">
						<input type="text" class="form-control" name="firstname" placeholder="Firstname" value="<?php echo $this->user->firstname;?>"  required=""/>
						<input type="text" class="form-control" name="lastname" placeholder="Lastname" required="" />
						<input type="email" class="form-control" name="email" placeholder="Email" required="" />
						<input type="password" class="form-control" name="password" placeholder="Password" required="" autocomplete="off" />											                        						
						<button type="submit" value="login" class="btn btn btn-warning"><?php echo $this->translate->_("register");?></button>						
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="company-second">
		<div class="container">
		<h3><?php echo $this->translate->_("register_comp_1");?></h3>
		<p><?php echo $this->translate->_("register_comp_2");?></p>
    </div>
</div>
<div class="company-third">
</div>
</div>