﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4056_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1405px;
  height:996px;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:993px;
}
#u4056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:9px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:239px;
  height:34px;
  color:#FFFFFF;
}
#u4057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:235px;
  word-wrap:break-word;
}
#u4058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:949px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:1402px;
  height:949px;
}
#u4058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:55px;
  width:22px;
  height:22px;
}
#u4059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:55px;
  width:25px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:55px;
  width:21px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:31px;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:51px;
  width:1084px;
  height:30px;
}
#u4063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:54px;
  width:23px;
  height:22px;
}
#u4064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:54px;
  width:24px;
  height:22px;
}
#u4065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:61px;
  width:245px;
  height:16px;
}
#u4066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u4067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:55px;
  width:17px;
  height:20px;
}
#u4067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:58px;
  width:5px;
  height:6px;
}
#u4069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:64px;
  width:5px;
  height:6px;
}
#u4070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:71px;
  width:5px;
  height:6px;
}
#u4071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:60px;
}
#u4073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:1402px;
  height:59px;
}
#u4073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:43px;
}
#u4074 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:96px;
  width:81px;
  height:43px;
}
#u4074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-style:normal;
  font-size:20px;
}
#u4075 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:106px;
  width:1096px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-style:normal;
  font-size:20px;
}
#u4075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  word-wrap:break-word;
}
#u4077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u4078 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:102px;
  width:33px;
  height:32px;
}
#u4078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4079 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:104px;
  width:30px;
  height:30px;
}
#u4079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4080 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:110px;
  width:50px;
  height:14px;
  font-size:12px;
}
#u4080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4081 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:113px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:95px;
}
#u4083 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:940px;
  width:1408px;
  height:94px;
}
#u4083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u4084 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:947px;
  width:42px;
  height:42px;
}
#u4084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u4085 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:947px;
  width:42px;
  height:42px;
}
#u4085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u4086 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:947px;
  width:42px;
  height:42px;
}
#u4086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u4087 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:957px;
  width:251px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u4087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u4088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4088 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:957px;
  width:800px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u4089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u4089 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:899px;
  width:50px;
  height:41px;
}
#u4089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:24px;
}
#u4091 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:55px;
  width:973px;
  height:23px;
}
#u4091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4092 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:59px;
  width:921px;
  height:32px;
}
#u4092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  word-wrap:break-word;
}
#u4094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:753px;
  background:inherit;
  background-color:rgba(51, 54, 70, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:114px;
  height:753px;
}
#u4094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4096 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:239px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u4097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u4097 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:190px;
  width:50px;
  height:39px;
}
#u4097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4099 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:322px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u4100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u4100 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:280px;
  width:43px;
  height:37px;
}
#u4100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4102 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:408px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u4103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u4103 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:360px;
  width:43px;
  height:40px;
}
#u4103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u4106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u4106 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:705px;
  width:42px;
  height:42px;
}
#u4106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:581px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u4109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u4109 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:539px;
  width:43px;
  height:38px;
}
#u4109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:660px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u4112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u4112 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:619px;
  width:50px;
  height:38px;
}
#u4112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4114 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:499px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u4115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u4115 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:457px;
  width:43px;
  height:38px;
}
#u4115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
  background:inherit;
  background-color:rgba(58, 197, 217, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:700px;
  width:113px;
  height:76px;
}
#u4119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4121 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:753px;
  width:114px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u4122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u4122 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:708px;
  width:42px;
  height:42px;
}
#u4122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4123 {
  position:absolute;
  left:125px;
  top:157px;
}
#u4123_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1265px;
  height:704px;
  background-image:none;
}
#u4123_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1266px;
  height:705px;
}
#u4126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:704px;
}
#u4126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u4127 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:32px;
  width:76px;
  height:28px;
  font-size:20px;
  text-align:left;
}
#u4127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  white-space:nowrap;
}
#u4128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u4128 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:32px;
  width:80px;
  height:28px;
  font-size:20px;
  text-align:left;
}
#u4128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  white-space:nowrap;
}
#u4129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:44px;
}
#u4129 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:23px;
  width:55px;
  height:44px;
}
#u4129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4130 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:95px;
  width:268px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u4131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4132 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:212px;
  width:1190px;
  height:392px;
}
#u4133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:53px;
}
#u4133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
}
#u4134 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:0px;
  width:65px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4134_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:45px;
  word-wrap:break-word;
}
#u4135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:53px;
}
#u4135 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:184px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4135_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:164px;
  word-wrap:break-word;
}
#u4136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:53px;
}
#u4136 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:144px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4136_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:124px;
  word-wrap:break-word;
}
#u4137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:53px;
}
#u4137 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:0px;
  width:237px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4137_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:217px;
  word-wrap:break-word;
}
#u4138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:53px;
}
#u4138 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:0px;
  width:162px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4138_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:142px;
  word-wrap:break-word;
}
#u4139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:53px;
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:0px;
  width:131px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4139_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u4140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:53px;
}
#u4140 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:0px;
  width:115px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4140_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:95px;
  word-wrap:break-word;
}
#u4141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:53px;
}
#u4141 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:0px;
  width:107px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4141_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:87px;
  word-wrap:break-word;
}
#u4142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u4142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:45px;
  height:40px;
  text-align:left;
}
#u4142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
}
#u4143 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:53px;
  width:65px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u4143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u4144 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:53px;
  width:184px;
  height:40px;
  text-align:left;
}
#u4144_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:164px;
  word-wrap:break-word;
}
#u4145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u4145 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:53px;
  width:144px;
  height:40px;
  text-align:left;
}
#u4145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
}
#u4146 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:53px;
  width:237px;
  height:40px;
  text-align:left;
}
#u4146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u4147 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:53px;
  width:162px;
  height:40px;
  text-align:left;
}
#u4147_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u4148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
}
#u4148 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:53px;
  width:131px;
  height:40px;
}
#u4148_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u4149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u4149 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:53px;
  width:115px;
  height:40px;
}
#u4149_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u4150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u4150 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:53px;
  width:107px;
  height:40px;
}
#u4150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u4151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:45px;
  height:38px;
  text-align:left;
}
#u4151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
}
#u4152 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:93px;
  width:65px;
  height:38px;
  color:#666666;
  text-align:left;
}
#u4152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:38px;
}
#u4153 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:93px;
  width:184px;
  height:38px;
  text-align:left;
}
#u4153_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u4154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u4154 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:93px;
  width:144px;
  height:38px;
  text-align:left;
}
#u4154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u4155 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:93px;
  width:237px;
  height:38px;
  text-align:left;
}
#u4155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u4156 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:93px;
  width:162px;
  height:38px;
  text-align:left;
}
#u4156_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u4157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:38px;
}
#u4157 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:93px;
  width:131px;
  height:38px;
}
#u4157_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u4158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
}
#u4158 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:93px;
  width:115px;
  height:38px;
}
#u4158_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:95px;
  word-wrap:break-word;
}
#u4159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u4159 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:93px;
  width:107px;
  height:38px;
}
#u4159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u4160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:131px;
  width:45px;
  height:38px;
  color:#000000;
  text-align:left;
}
#u4160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4160_ann {
  border-width:0px;
  position:absolute;
  left:31px;
  top:131px;
  width:1px;
  height:1px;
}
#u4161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
}
#u4161 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:131px;
  width:65px;
  height:38px;
  color:#666666;
  text-align:left;
}
#u4161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:38px;
}
#u4162 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:131px;
  width:184px;
  height:38px;
  text-align:left;
}
#u4162_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u4163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u4163 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:131px;
  width:144px;
  height:38px;
  text-align:left;
}
#u4163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u4164 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:131px;
  width:237px;
  height:38px;
  text-align:left;
}
#u4164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u4165 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:131px;
  width:162px;
  height:38px;
  text-align:left;
}
#u4165_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u4166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:38px;
}
#u4166 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:131px;
  width:131px;
  height:38px;
}
#u4166_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u4167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
}
#u4167 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:131px;
  width:115px;
  height:38px;
}
#u4167_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:95px;
  word-wrap:break-word;
}
#u4168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:131px;
  width:107px;
  height:38px;
}
#u4168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u4169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:169px;
  width:45px;
  height:38px;
  color:#000000;
  text-align:left;
}
#u4169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
}
#u4170 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:169px;
  width:65px;
  height:38px;
  color:#666666;
  text-align:left;
}
#u4170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:38px;
}
#u4171 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:169px;
  width:184px;
  height:38px;
  text-align:left;
}
#u4171_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:164px;
  word-wrap:break-word;
}
#u4172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u4172 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:169px;
  width:144px;
  height:38px;
  text-align:left;
}
#u4172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u4173 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:169px;
  width:237px;
  height:38px;
  text-align:left;
}
#u4173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u4174 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:169px;
  width:162px;
  height:38px;
  text-align:left;
}
#u4174_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u4175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:38px;
}
#u4175 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:169px;
  width:131px;
  height:38px;
}
#u4175_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u4176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
}
#u4176 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:169px;
  width:115px;
  height:38px;
}
#u4176_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:95px;
  word-wrap:break-word;
}
#u4177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u4177 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:169px;
  width:107px;
  height:38px;
}
#u4177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u4178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:207px;
  width:45px;
  height:38px;
  text-align:left;
}
#u4178_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:25px;
  word-wrap:break-word;
}
#u4179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
}
#u4179 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:207px;
  width:65px;
  height:38px;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u4179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:38px;
}
#u4180 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:207px;
  width:184px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u4181 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:207px;
  width:144px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u4182 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:207px;
  width:237px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u4183 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:207px;
  width:162px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:38px;
}
#u4184 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:207px;
  width:131px;
  height:38px;
  font-size:11px;
}
#u4184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
}
#u4185 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:207px;
  width:115px;
  height:38px;
  font-size:11px;
}
#u4185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u4186 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:207px;
  width:107px;
  height:38px;
  font-size:11px;
}
#u4186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u4187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:45px;
  height:38px;
  text-align:left;
}
#u4187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
}
#u4188 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:245px;
  width:65px;
  height:38px;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u4188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:38px;
}
#u4189 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:245px;
  width:184px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u4190 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:245px;
  width:144px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u4191 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:245px;
  width:237px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u4192 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:245px;
  width:162px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:38px;
}
#u4193 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:245px;
  width:131px;
  height:38px;
  font-size:11px;
}
#u4193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
}
#u4194 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:245px;
  width:115px;
  height:38px;
  font-size:11px;
}
#u4194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u4195 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:245px;
  width:107px;
  height:38px;
  font-size:11px;
}
#u4195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u4196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:283px;
  width:45px;
  height:38px;
  text-align:left;
}
#u4196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
}
#u4197 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:283px;
  width:65px;
  height:38px;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u4197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:38px;
}
#u4198 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:283px;
  width:184px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u4199 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:283px;
  width:144px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u4200 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:283px;
  width:237px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u4201 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:283px;
  width:162px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:38px;
}
#u4202 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:283px;
  width:131px;
  height:38px;
  font-size:11px;
}
#u4202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
}
#u4203 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:283px;
  width:115px;
  height:38px;
  font-size:11px;
}
#u4203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u4204 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:283px;
  width:107px;
  height:38px;
  font-size:11px;
}
#u4204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u4205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:321px;
  width:45px;
  height:38px;
  text-align:left;
}
#u4205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
}
#u4206 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:321px;
  width:65px;
  height:38px;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u4206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:38px;
}
#u4207 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:321px;
  width:184px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u4208 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:321px;
  width:144px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u4209 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:321px;
  width:237px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u4210 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:321px;
  width:162px;
  height:38px;
  font-size:11px;
  text-align:left;
}
#u4210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:38px;
}
#u4211 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:321px;
  width:131px;
  height:38px;
  font-size:11px;
}
#u4211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
}
#u4212 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:321px;
  width:115px;
  height:38px;
  font-size:11px;
}
#u4212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u4213 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:321px;
  width:107px;
  height:38px;
  font-size:11px;
}
#u4213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
}
#u4214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:359px;
  width:45px;
  height:33px;
  text-align:left;
}
#u4214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u4215 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:359px;
  width:65px;
  height:33px;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u4215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
}
#u4216 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:359px;
  width:184px;
  height:33px;
  font-size:11px;
  text-align:left;
}
#u4216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:33px;
}
#u4217 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:359px;
  width:144px;
  height:33px;
  font-size:11px;
  text-align:left;
}
#u4217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:33px;
}
#u4218 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:359px;
  width:237px;
  height:33px;
  font-size:11px;
  text-align:left;
}
#u4218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:33px;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:359px;
  width:162px;
  height:33px;
  font-size:11px;
  text-align:left;
}
#u4219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:359px;
  width:131px;
  height:33px;
  font-size:11px;
}
#u4220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
}
#u4221 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:359px;
  width:115px;
  height:33px;
  font-size:11px;
}
#u4221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:33px;
}
#u4222 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:359px;
  width:107px;
  height:33px;
  font-size:11px;
}
#u4222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_ann {
  border-width:0px;
  position:absolute;
  left:1243px;
  top:208px;
  width:1px;
  height:1px;
}
#u4223_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:45px;
  height:45px;
}
#u4223 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:267px;
  width:35px;
  height:35px;
}
#u4223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4224_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:45px;
  height:45px;
}
#u4224 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:306px;
  width:35px;
  height:35px;
  -webkit-transform:rotate(354deg);
  -moz-transform:rotate(354deg);
  -ms-transform:rotate(354deg);
  transform:rotate(354deg);
}
#u4224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4225_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:45px;
  height:45px;
}
#u4225 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:344px;
  width:35px;
  height:35px;
  -webkit-transform:rotate(354deg);
  -moz-transform:rotate(354deg);
  -ms-transform:rotate(354deg);
  transform:rotate(354deg);
}
#u4225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4226_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:45px;
  height:45px;
}
#u4226 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:382px;
  width:35px;
  height:35px;
  -webkit-transform:rotate(354deg);
  -moz-transform:rotate(354deg);
  -ms-transform:rotate(354deg);
  transform:rotate(354deg);
}
#u4226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:39px;
  background:inherit;
  background-color:rgba(130, 190, 0, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u4227 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:145px;
  width:132px;
  height:39px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u4227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u4227_ann {
  border-width:0px;
  position:absolute;
  left:185px;
  top:141px;
  width:1px;
  height:1px;
}
#u4228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u4229 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:609px;
  width:100px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u4229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u4230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4230 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:630px;
  width:159px;
  height:16px;
  color:#666666;
}
#u4230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u4231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4232 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:145px;
  width:185px;
  height:37px;
}
#u4232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4232_input:disabled {
  color:grayText;
}
#u4233 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:146px;
  width:185px;
  height:37px;
}
#u4233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4233_input:disabled {
  color:grayText;
}
#u4234 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:146px;
  width:185px;
  height:37px;
}
#u4234_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4234_input:disabled {
  color:grayText;
}
#u4235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4236 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:146px;
  width:210px;
  height:38px;
}
#u4236_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4237 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:152px;
  width:25px;
  height:25px;
}
#u4237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4238 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:277px;
  width:20px;
  height:20px;
}
#u4238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4239 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:318px;
  width:20px;
  height:20px;
}
#u4239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4240 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:352px;
  width:20px;
  height:20px;
}
#u4240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4241 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:392px;
  width:20px;
  height:20px;
}
#u4241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4242 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:228px;
  width:20px;
  height:20px;
}
#u4242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:39px;
  background:inherit;
  background-color:rgba(130, 190, 0, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u4244 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:145px;
  width:47px;
  height:39px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u4244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4244_ann {
  border-width:0px;
  position:absolute;
  left:242px;
  top:141px;
  width:1px;
  height:1px;
}
#u4245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u4245 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:149px;
  width:33px;
  height:32px;
}
#u4245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4247 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:615px;
  width:111px;
  height:23px;
  color:#000000;
}
#u4247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u4248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4248 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:615px;
  width:108px;
  height:23px;
  color:#000000;
}
#u4248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u4249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u4249 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:619px;
  width:8px;
  height:16px;
}
#u4249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u4250 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:619px;
  width:8px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4251 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:615px;
  width:47px;
  height:25px;
}
#u4251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4252 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:619px;
  width:16px;
  height:16px;
}
#u4252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4253 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:619px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4255 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:279px;
  width:18px;
  height:18px;
}
#u4255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u4256 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:279px;
  width:20px;
  height:18px;
}
#u4256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4257 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:277px;
  width:20px;
  height:20px;
}
#u4257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4259 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:319px;
  width:18px;
  height:18px;
}
#u4259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u4260 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:319px;
  width:20px;
  height:18px;
}
#u4260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4261 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:317px;
  width:20px;
  height:20px;
}
#u4261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4263 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:354px;
  width:18px;
  height:18px;
}
#u4263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u4264 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:354px;
  width:20px;
  height:18px;
}
#u4264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4265 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:352px;
  width:20px;
  height:20px;
}
#u4265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4267 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:392px;
  width:18px;
  height:18px;
}
#u4267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u4268 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:392px;
  width:20px;
  height:18px;
}
#u4268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4269 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:390px;
  width:20px;
  height:20px;
}
#u4269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:39px;
  background:inherit;
  background-color:rgba(130, 190, 0, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u4270 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:145px;
  width:81px;
  height:39px;
  font-size:17px;
}
#u4270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u4271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u4273 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:664px;
  width:20px;
  height:18px;
}
#u4273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4273_ann {
  border-width:0px;
  position:absolute;
  left:117px;
  top:660px;
  width:1px;
  height:1px;
}
#u4274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4274 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:662px;
  width:20px;
  height:20px;
}
#u4274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4274_ann {
  border-width:0px;
  position:absolute;
  left:147px;
  top:658px;
  width:1px;
  height:1px;
}
#u4275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4275 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:663px;
  width:18px;
  height:20px;
}
#u4275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4275_ann {
  border-width:0px;
  position:absolute;
  left:71px;
  top:659px;
  width:1px;
  height:1px;
}
#u4276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
}
#u4276 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:664px;
  width:8px;
  height:18px;
}
#u4276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4276_ann {
  border-width:0px;
  position:absolute;
  left:86px;
  top:660px;
  width:1px;
  height:1px;
}
#u4277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4277 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:666px;
  width:109px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
