                            <script src="/resources/ckeditor/ckeditor.js" type="text/javascript"></script>
                            <script src="/resources/ckfinder/ckfinder.js" type="text/javascript"></script>
                            <form class="cmxform form-horizontal" id="commentForm" method="POST" action="">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3">Title</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->title;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3">Content</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->content;?>
                                    </div>
                                </div> 
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3">&nbsp;</label>
                                    <!-- <div class="col-lg-6">
                                        <h4><a href="/content/index/personalize" data-target="#preview-model" data-toggle="modal">Personalization options</a></h4>
                                    </div> -->
                                    <div class="col-lg-6">
                                        <div class="col-md-6">
                                            Firstname: <span class="add_personalize">[user.firstname]</span><br />
                                            Lastname: <span class="add_personalize">[user.lastname]</span><br />
                                            Email: <span class="add_personalize">[user.email]</span><br />
                                            Address: <span class="add_personalize">[user.address]</span><br />
                                            Company: <span class="add_personalize">[user.company]</span><br />
                                        </div>
                                    
                                    
                                        <div class="col-md-6" >
                                            Bank: <span class="add_personalize">[user.bank]</span><br />
                                            Account: <span class="add_personalize">[user.iban]</span><br />
                                            VAT No. / Personal Number: <span class="add_personalize">[user.cui]</span><br />
                                            Registration number: <span class="add_personalize">[user.j]</span><br />
                                            Bounty amount: <span class="add_personalize">[bounty.amount]</span><br />
                                            Company: <span class="add_personalize">[bounty.company]</span><br />
                                        </div>
                                    </div>
                                </div>                           
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?>
                                        <button class="btn btn-primary" type="submit">Save</button>
                                        <button class="btn btn-default" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>
                            <script>
                            CKEDITOR.replace('content',
                            {
                            	filebrowserBrowseUrl : '/resources/ckfinder/ckfinder.html',
                            	filebrowserImageBrowseUrl : '/resources/ckfinder/ckfinder.html?type=Images',
                            	filebrowserFlashBrowseUrl : '/resources/ckfinder/ckfinder.html?type=Flash',
                            	filebrowserUploadUrl : '/resources/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
                            	filebrowserImageUploadUrl : '/resources/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
                            	filebrowserFlashUploadUrl : '/resources/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'
                            });
                            </script>
                            <script>
                                
                                $( document ).on( "click",".add_personalize", function() {
                                    for(var instanceName in CKEDITOR.instances){
                                          var editor = CKEDITOR.instances[instanceName];
                                      }
                                   var content = editor.getData();
                                   editor.setData(content+' '+$(this).html());
                                });
                            
                            </script>