<div class="row" style="margin-bottom :10px">
    <div class="col-md-12" style="padding: 0;"><h1 class="tsp-title"><?php echo $this->translate->_('About us') ; ?></h1></div>
</div>
<div class="row">
    <div class="col-md-12" style="padding: 0;">
       <?= $this->job['about_us'] ; ?>
    </div>
</div>
