<div class="sticky-container" onclick="return false" class="job-recommend-box-applied-job job-sidebar-box">
    <a href="javascript:;" ><span><?php echo $this->translate->_('alrady_applied') ?></span></a>
</div>