<?php
$mContent = new models_Content;
$apply = $mContent->getApplyAcl('/apply-to-job');
?>
<div class="sticky-container" class="job-recommend-box-apply-job job-sidebar-box">
    <a data-step="1" data-intro="You will be redirected to edit your profile to validate your application"
       onclick="javascript:introJs()
       .setOption('showBullets', false)
       .setOption('showButtons', false)
       .start();redirect()"
       href="javascript:;"><span class="zappppy"><p class="zap-edit asdfaf sticky-category-title"><?php echo $this->translate->_('Apply'); ?></p>
            <?= $apply['icon'] ; ?>
        </span></a>
</div>

<script>
    function AddMinutesToDate(date, minutes) {
        return new Date(date.getTime() + minutes*60000);
    }

    function redirect() {
        var redirect = {};
        redirect['url'] = window.location.href;
        var now = new Date();
        var expire = new Date();
        expire.setMinutes(now.getMinutes()+5);
        redirect['expire'] = expire.getTime();
        localStorage.setItem("redirect", JSON.stringify(redirect));
        setTimeout(function () {
            window.location.href = "/profile?edit"
        },5000)
    }
</script>

