<?php
$mContent = new models_Content;
$apply = $mContent->getApplyAcl('/apply-to-job');
?>
<div class="sticky-container" class="job-recommend-box-apply-job job-sidebar-box">
    <a href="/login?apply=<?= $this->job['id'] ?>"><span class="zappppy"><p class="zap-edit asdfaf sticky-category-title"><?php echo $this->translate->_('apply'); ?></p>
        <?= $apply['icon'] ; ?>
        </span></a>
</div>

<style>

    .asdfaf {
        font-size: 24px;
        font-weight: 500;
        margin-top: 10px;
    }

    .asdfaf:hover {
        color:white;
    }

    .zap-edit{

        font-size: 24px;

        color: #3ac5d9!important;
    }

    .zap-edit:hover {
        color: white;
    }

    .job-recommend-box-apply-job {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 2px solid #7dcc93;
        text-align: center;
        border: 0px;
        color: #3ac5d9;

    }

    .job-recommend-box-apply-job:hover {
        cursor: pointer;
        background: #7dcc9303 !important;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

</style>
