<?php
$mContent = new models_Content;
$apply = $mContent->getApplyAcl('/apply-to-job');
?>
<div class="sticky-container" class="job-recommend-box-apply-job job-sidebar-box">
    <?php if($this->job['applied']) :  ?>
    <style>
        .zap-edit {color: #666 !important;}
    </style>
    <a href="javascript:;" ><span class="zappppy"><p class="zap-edit asdfaf sticky-category-title"><?php echo $this->translate->_('Applied'); ?></p>
            <?= $apply['icon'] ; ?>
        </span>
    </a>
    <?php else : ?>
        <a href="/apply/<?php echo $this->job['slug']; ?>?id=<?php echo $this->job['id']; ?>" job="/apply/<?php echo $this->job['slug']; ?>?id=<?php echo $this->job['id']; ?>" data-target="#preview-model" data-toggle="modal" ><span class="zappppy"><p class="zap-edit asdfaf sticky-category-title"><?php echo $this->translate->_('Apply'); ?></p>
                <?= $apply['icon'] ; ?>
        </span>
        </a>
    <?php endif; ?>
</div>

