<div class="row" style="margin-bottom :10px">
    <div class="col-md-12"><h1 class="tsp-title"><?php echo $this->translate->_('Win') ; ?>  <?php echo $this->translate->_('Campaign') ; ?>: <strong><?php echo ucfirst($this->job['campaign']['title']) ?></strong></h1></div>
</div>
<div class="row">
    <div class="col-md-4">

        <div id="" class="img-jb-ctner" style="background: url('<?= $this->job['campaign']['bounty_file'] ?>') center center no-repeat; background-size: cover; min-height: 150px;">
        </div>

    </div>
    <div class="col-md-8">
        <span><?php echo $this->translate->_('This job is included in') ; ?> <strong><?php echo ucfirst($this->job['campaign']['title']) ?></strong> <?php echo $this->translate->_('campaign and spcific actions will bring you special points in this') ; ?>
            <strong><a style="color:blue" href="/campaign-report?id=<?php echo $this->job['campaign']['id'] ?>"><?php echo $this->translate->_('campaign leaderboard') ; ?></a></strong> <?php echo $this->translate->_('between') ; ?>
            <strong><?php echo date('d-M-Y', strtotime($this->job['campaign']['start'])) ?></strong> <?php echo $this->translate->_('and') ; ?>  <strong><?php echo date('d-M-Y', strtotime($this->job['campaign']['end'])) ?></strong>.</span>
        <br><br>
        <span> <?php echo $this->translate->_('Win') ; ?>  <?php echo $this->translate->_('this campaign') ; ?><strong><?php echo ucfirst($this->job['win_title']) ?></strong>
            <?php echo $this->translate->_('by sharing its promoted jobs in your circles using Facebook, LinkedIn, Twitter, SMS, email, Whatsapp or any other channel you want. You will need at least') ; ?>
             <strong><?php echo $this->job['campaign']['minim_point_winner'] ?></strong> <?php echo $this->translate->_('points') ; ?>.
            <?php
            if($this->job['campaign']['bounty_title'])
            echo $this->translate->_('Campaign prizes is additional to the Guaranteed job-hire prize').'.';
            ?>
            <br><br>
    </div>
    <div class="col-md-12">
        <?php echo $this->translate->_('TIPS: build on your employer branding by sharing what drives you to be part of the') ; ?> <strong><?php echo ucfirst($this->job['company_title']) ?></strong>
        <?php echo $this->translate->_('team each day, with your friends') ; ?>. <?php echo $this->translate->_('Your drivers may inspire them to click on your shared job-links, view shared job details and most importantly apply to it') ; ?>.
        <?php echo $this->translate->_('Paying attention to campaign rewarded actions will increase your chances to win its prize') ; ?>.
        <br><br>
        <?php echo ucfirst($this->job['win_title']) ?> <?php echo $this->translate->_('Earn the following points for each action(s) during this campaign period') ; ?>:
        <br>
        <ol style="margin-left: 3%;" class="gamification-actions">
            <?php
                foreach ($this->job['campaign']['gamification_actions'] as $a){
                    if (substr($this->translate->_($a['title']),-1) == 's'){
                        $ac=rtrim($this->translate->_($a['title']),"s");
                    } else {
                        $ac=$this->translate->_($a['title']);
                    }
                    echo '<li class="tooltip">
                            <span class="tooltiptext">'.$a['explain'].'</span>
                            <strong>'.$a['points']. '</strong> '.$this->translate->_('points for every').' <strong>'.ucwords(str_replace("_"," ",$ac)).'</strong>
                        </li>';
                }
            ?>
            </ol>
<!--        <strong>--><?php //echo '<pre>',print_r($this->job['campaign'] ,1),'</pre>'; ?><!--</strong>-->
    </div>
    <div class="col-md-12">
        The winner(s) will be announced on <strong><?php echo date('d-M-Y', strtotime($this->job['campaign']['winner_announcement_date'])) ?></strong> and if
        you win, you'll get the campaign's prize - <strong><?php echo $this->job['campaign']['win_title'] ?></strong>
        <?php if ($this->job['campaign']['win_amount']>0){?>
         (<strong><?php echo $this->job['campaign']['win_amount'];?>
            </strong> <strong><?php echo $this->job['campaign']['currency'];?></strong>
            <strong><?php echo $this->job['campaign']['payment_type'];?></strong>)
        <?php }?>, by campaign prize reward date:
            <strong><?php echo date('d-M-Y', strtotime($this->job['campaign']['reward_redeem_date'])) ?></strong>.
        </span>
    </div>

    <div class="campaign-hire">
<!--        --><?php //if($this->job['bounty_title'] != "") : ?>
            <div class="on-hire-left">
                <div class="cao bounty"><i class="fas fa-bookmark"></i><p><?php echo $this->translate->_('On win') ; ?></p></div>
            </div>
<!--        --><?php //endif ;?>
    </div>
</div>
<div class="row">
<!--    <div class="col-md-6" style="text-align: left"><a href="/leaderboards">action points list</a></div>-->
<!--    <div class="col-md-6" style="text-align: right"><a href="/campaign-report?id=--><?php //echo $this->job['campaign']['id']?><!--">campaign leaderboard</a></div>-->
</div>