<div class="row" style="margin-bottom :10px">
    <div class="col-md-12"><h1 class="tsp-title"><?php echo $this->translate->_('Guaranteed Earn On Every Hired');?></h1></div>
</div>
<div class="row">
    <div class="col-md-4">
        <?php
        $bounty_image = "/resources/files/icons/u9582.png";
        if($this->job['bounty_file'])
        {
            $bounty_image = $this->job['bounty_file'];
        }
        ?>
        <div id="" class="img-jb-ctner"  style="background: url('<?= $bounty_image ?>') center center no-repeat; background-size: cover; min-height: 150px;">
            <?php if($this->job['bounty_title'] != "" && !is_null($this->job['bounty_title'])) : ?>
                <div class="on-hire-right">
                    <div class="cao1 bounty"><i class="fas fa-gift"></i><p><?php echo $this->translate->_('On hire');?></p></div>
                </div>
            <?php endif; ?>
        </div>

    </div>
    <div class="col-md-8">
        <strong><?php echo ucfirst($this->job['company_title']) ?></strong> <?php echo $this->translate->_('offers you');?> <strong><?php echo $this->job['campaign']['bounty_title'] ?></strong>
        <?php echo $this->translate->_('if you share this job among your friends that are not already invited by');?>
        <?php echo $this->translate->_('other colleagues and they get hired before job vacancies are fullfilled');?>.</span>
        <br><br>
        <span><?php echo $this->translate->_('If your candidate gets hired, you will automatically earn this job\'s bounty');?> <strong><?php echo $this->job['bounty_title'] ?></strong>
                <?php
                $currencies = array("EUR", "USD", "RON");
                $payments = array("Gross Pay", "Net Pay");
                if($this->job['bounty']>0) {
                    echo ', '.$this->translate->_('in total value of').' <strong> '. number_format($this->job['bounty']). ' '.$currencies[$this->job['bounty']['id_currency']].' '.$this->translate->_($payments[$this->job['bounty']['payment_type']-1]).'</strong>';
//                    echo '<pre>',print_r($this->job['bounty'],1),'</pre>';
            } ?>

            <?php echo $this->translate->_('by');?> <strong><?php echo date('d-M-Y', strtotime($this->job['campaign']['reward_redeem_date'])) ?></strong>.
        </span>
    </div>
</div>
<!--<div class="row">-->
<!--    <div class="campaign-hire">-->
<!--        --><?php //if($this->job['bounty_title'] != "") : ?>
<!--            <div class="on-hire-left">-->
<!--                --><?php //echo $this->render('index/details_layout/on_hire.phtml') ; ?>
<!--            </div>-->
<!---->
<!--        --><?php //endif ;?>
<!--    </div>-->
<!--</div>-->