
<div class="row" style="margin-bottom :10px">
    <div class="col-md-12"><h1 class="tsp-title"><?php echo $this->translate->_('description') ; ?></h1></div>
</div>
<div class="row">
    <div class="col-md-12">
        <?php echo $this->job['description']  ;?>
    </div>
</div>