<div class="row" style="margin-bottom :10px">
    <div class="col-md-12"><h1 class="tsp-title"><?php echo $this->translate->_('Job structure') ; ?></h1></div>
</div>
<div class="row">
    <div class="col-md-12">
        <?php
        $mContent = new models_Content ;
        foreach ($this->job['departments'] as $d) {
            echo '<div id="_deps_'.$d['id'].'">Departments: <strong>' . $d['title'] . '</strong><br></div>';
            foreach ($this->job['sub_departments'] as $sd) {
                $sub_dep = $mContent->getDepartmentBySubDepsId($sd['id']);
                if($sub_dep['id_department'] == $d['id'])
                {
                    echo '<div id="_deps_'.$sd['id'].'"> - - Sub-department: <strong>' . $sd['title'] . '</strong><br></div>';
                    foreach ($this->job['sub_sub_departments'] as $ssd) {
                        $sub_sub_dep = $mContent->getSubDepartmentBySubSubDepsId($ssd['id']);
                        if($sub_sub_dep['id_sub_department'] == $sd['id'])
                        {
                            echo '<div id="_deps_'.$ssd['id'].'"> - - - - - Sub-sub-department: <strong>' . $ssd['title'] . '</strong><br></div>';
                        }

                    }
                }

            }
        }


        foreach ($this->job['projects'] as $p) {
            echo 'Project: <strong>' . $p['title'] . '</strong>';
        }
        ?>
    </div>
</div>