<div class="row" style="margin-bottom :10px">
    <div class="col-md-12"><h1 class="tsp-title"><?php echo ucfirst($this->translate->_('requirements')) ; ?></h1></div>
</div>
<div class="row">
    <div class="col-md-12">
        <?php echo $this->job['requirements']; ?>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <i class="job-header-icon fas fa-boxes"></i>
        <?php foreach ($this->job['skills'] as $key => $skill): ?>
            <?php echo rtrim($skill['title'] . ', ',", "); ?>
        <?php endforeach; ?>
    </div>
</div>