<style type="text/css">

</style>
<?php
$job_image = "/resources/frontend/css/theme/images/starts.png";
if($this->job['company_logo'] != "")
{
    $job_image = ($this->job['company_logo']);
}
if($this->job['job_public_image'] != "")
{
    $job_image  = ($this->job['job_public_image']) ;
}
?>
<div class="">
    <div class="row">
        <div class="col-md-3">
            <div id="" class="img-jb-ctner" style="background: url('<?= $job_image ?>') center center no-repeat; background-size: cover; min-height: 150px;">
                <?php if($this->job['in_campaign']) :  ?>
                    <div class="on-win">
                        <div class="cao bounty"><i class="fas fa-bookmark"></i><p><?php echo $this->translate->_('On win');?></p></div>
                    </div>
                <?php endif; ?>
                <?php if($this->job['has_job_bounty']) : ?>
                    <div class="on-hire">
                        <div class="cao1 bounty"><i class="fas fa-gift"></i><p><?php echo $this->translate->_('On hire');?></p></div>
                    </div>
                <?php endif ;?>
            </div>
        </div>
        <div class="col-md-9">
            <div style="margin-bottom: 15px;"><h1 class="tsp-title"><?php echo $this->job['title'] ?></h1></div>
            <div style="margin-bottom: 5px;"><span><?php echo $this->translate->_('Updated on');?>:</span><strong><?php echo date('d/m/Y',strtotime($this->job['updated'])) ; ?></strong></div>
            <div style="margin-bottom: 55px;"><span><?php echo $this->translate->_('Expires on');?>:</span><strong><?php echo date('d/m/Y',strtotime($this->job['end'])) ; ?></strong></div>
            <?php if ($this->flash_messages[0] != ""): ?>
                <div class="alert alert-block alert-<?= $this->flash_messages[1] ?> fade in">
                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                </div>
            <?php endif; ?>
            <div class="row">
                <div class="col-md-2">
                    <div>
                        <i class="job-header-icon fas fa-map-marker-alt"></i>
                        <strong>
                        <?php foreach ($this->job['cities'] as $key => $city) : ?>
                            <?php  echo rtrim($city['title'].' ,',",") ; ?>
                        <?php endforeach; ?>
                        </strong>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <i class="job-header-icon fas fa-calendar-alt"></i>
                        <strong><?php echo $this->translate->_($this->job['job_periode']['title']); ?></strong>
                    </div>

                </div>
                <div class="col-md-2">
                    <div>
                        <i class="job-header-icon fas fa-clock"></i>
                        <strong><?php echo $this->translate->_($this->job['type']['title']); ?></strong>
                    </div>

                </div>
                <div class="col-md-2">
                    <div>
                        <i class="job-header-icon fas fa-level-up-alt"></i>
                    <strong><?php echo $this->translate->_($this->job['career_level']['title']); ?></strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <?php if(Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type != 9) : ?>
                    <div>
                        <?php if(!empty($this->job['recruiters'])) : ?>
                            <i class="job-header-icon fas fa-smile"></i>
                        <?php endif ?>
                        <?php
                        $recruiters = "";
                        foreach ($this->job['recruiters'] as $key => $value)
                        {
                            $recruiters .= $value['title'].', ';
                        }
                        $recruiters =  rtrim($recruiters,', ');
                        ;?>
                        <strong><?php echo $recruiters ?></strong>
                    </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
    
<!--    --><?php //echo '<pre>';print_r($this->job);die; ?>
    <div class="row">

        <div class="col-md-6" style="text-align: left">
            <?php if(!empty($this->job['previous_url'])) : ?>
            <a href="<?= $this->job['previous_url']['url'] ; ?>">
                <div> <i class="fas cls fa-arrow-circle-left"></i> </div>
                <?= $this->job['previous_url']['title'] ; ?>
            </a>
            <?php endif; ?>
        </div>


        <div class="col-md-6" style="text-align: right">
            <?php if(!empty($this->job['next_url'])) : ?>
            <a href="<?= $this->job['next_url']['url'] ; ?>">
                <div> <i class="fas cls fa-arrow-circle-right"></i> </div>
                <?= $this->job['next_url']['title'] ; ?>
            </a>
            <?php endif; ?>
        </div>


    </div>
</div>

<style>
    .cls {
        opacity: 0.6;
        font-size: 40px;
        color: #FEC452;
    }
    .cls:hover {
        opacity: 1;
    }
</style>