<?php if($this->job['in_campaign']) : ?>
<?php
    $jobs = [] ;
    $model = new models_Jobs();
    foreach($this->job['other_jobs_campaign'] as $job )
    {
        $current_job = $model->getJobById($job['id'],true,true);
        if(!empty($current_job)) $jobs[$current_job['id']] = $current_job;
    }

    $jobs = array_slice($jobs,0,5,true);
?>
<div class="row" style="margin-bottom :10px">
    <div class="col-md-12"><h1 class="tsp-title"><?php echo $this->translate->_('Other jobs in this campaign') ; ?></h1></div>
</div>
<div class="row">
    <?php foreach ($jobs as $job):  ?>
    <div class="col-md-3">
        <div class="card-profile">
        <div style="">
            <div class="card-topp">
                <?php if($job['has_job_bounty']) :?>
                     <div class="cao1 bounty"><i class="fas fa-gift"></i><p><?php echo $this->translate->_('On hire') ; ?></p></div>
               <?php endif ;  ?>
                <?php if($job['in_campaign']) :?>
                <div class="cao bounty"><i class="fas fa-bookmark"></i><p><?php echo $this->translate->_('On win') ; ?></p></div>
                <?php endif ;  ?>

            </div>
            <?php
            $image = ($job['in_campaign']) ? $job['campaign']['bounty_file'] : $job['job_public_image'];
            ?>
            <div style="background-image: url('<?= $image; ?>'); height:10em;  background-size: cover;   background-position: center;" class="card">
            </div>
            <h2 class="caomgiar"><strong><?= $job['title'] ; ?></strong></h2>

            <?php $cities = ""; foreach ($job['cities'] as $city) $cities .= $city['title'] .", ";  ?>
            <p class="caomgiar"><i class="fa fa-dribbble"></i> <strong><?php echo WebApp_Tools::display($cities, 16); ?></strong> </p>

            <?php $skills_txt = ""; foreach ($job['skills'] as $skills) $skills_txt .= $skills['title'] .", ";  ?>
            <p class="caomgiar"><i class="fa fa-skills"></i> <strong><?php echo @WebApp_Tools::strTrim($skills_txt, 14, "..."); ?></strong> </p>

            <div class="idk">
                <a data-target="#preview-modal" data-toggle="modal" href="<?= $job['apply'] ?>"><i class="far fa-edit"></i></a>
                <a onclick="addToFavorite(<?= $job['id'] ?>);return false;" class="'+is_favourite+'"><i class="fas fa-star"></i></a>

                <div class="_share"><a href="' +"blaa"+ '"><i class="fas fa-share-alt"></i></a><div class="social">
                        <a href="<?= $job['twitter_url'] ?>"><i class="fab fa-twitter"></i></a>
                        <a href="<?= $job['linkedin_url'] ?>"><i class="fab fa-linkedin"></i></a>
                        <a href="<?= $job['facebook_url'] ?>"><i class="fab fa-facebook-f"></i></a>
                        <a href="<?= $job['email_url'] ?>"><i class="fa fa-envelope"></i></a>

                    </div></div>

                <p class="poi"><a href="<?= $job['job_url'] ?>">More details</a></p>

            </div></div>
    </div>
    </div>
    <?php endforeach; ?>
</div>

<?php endif; ?>