<div onclick="window.location.href = '/login'" class="job-alert-box-recommend job-sidebar-box">
            <span class="job-recommend-icn">
                <a class="___white" href="/login"  data-target="#preview-model" data-toggle="modal" ><?php echo $this->translate->_('recommend_this_job'); ?></a>
            </span>
</div>