<div onclick="javascript:void(0)" class="job-alert-box-recommend job-sidebar-box">
            <span class="job-recommend-icn">
                <a class="___white" href="/recommend/<?php echo $this->job['slug']; ?>?id=<?php echo $this->job['id']; ?>"  data-target="#preview-model" data-toggle="modal" ><?php echo $this->translate->_("recommend_to_this_job"); ?></a>
            </span>
</div>