<input id="url" type="text" style="opacity: 0">
<?php
$favClass = ($this->job['in_favourite'] ? "job-fav-active" : "");
$mUser = new models_User;
$mJobs = new models_Jobs;
if (!Zend_Auth::getInstance()->hasIdentity()) {
    $apply = $this->render('index/details_layout/apply_redirect.phtml');
} else {
    $apply = $this->render('index/details_layout/apply_button.phtml');
}
if (!empty($this->error)) {
    $apply = $this->render('index/details_layout/apply_error.phtml');
}
if ($this->hasApplied) {
}

$recomment = $this->render('index/details_layout/recommend_button.phtml');
if (!Zend_Auth::getInstance()->hasIdentity()) $recomment = $this->render('index/details_layout/recommend_redirect.phtml');
$fav_link = !Zend_Auth::getInstance()->hasIdentity() ? 'href="/login"' : 'onClick="addToFavoriteJobDetails(' . $this->job["id"] . ')"';
$facebook_link = !Zend_Auth::getInstance()->hasIdentity() ? 'onclick="loginRedirect();"' : 'onclick="fb_share(this);"';
$linkedin_link = !Zend_Auth::getInstance()->hasIdentity() ? 'onclick="loginRedirect();"' : 'onclick="linkedin_share(this);"';
$twitter_link = !Zend_Auth::getInstance()->hasIdentity() ? 'onclick="loginRedirect();"' : 'onclick="twitter_share(this);"';
$love_trans = $this->translate->_("love");
$favorite = "<div id='favorite-container' class=\"sticky-container sticky-category-title\" class='add-to-favorite'>
<a $fav_link > 
 <p class='icon love $favClass'>$love_trans</p>
            <i class='icon fa fa-star $favClass'></i>
</a>
           
            </div>";

?>

<div class="col-md-4 job-sidebar <?php if (!empty($this->error)): echo 'job-application-alert'; endif; ?>">
    <?php foreach ($this->job_menu as $index => $menu) : ?>
        <?php if ($menu['link'] == "/apply-to-job") : ?>
            <?php echo $apply;
            continue; ?>
        <?php endif; ?>
        <?php if ($menu['link'] == "/recommend") : ?>
            <?php echo $recomment;
            continue; ?>
        <?php endif; ?>
        <?php if ($menu['link'] == "/add-to-favourite") : ?>
            <?php echo $favorite;
            continue; ?>
        <?php endif; ?>
        <?php if ($menu['link'] == "/share-job-upload-cv") : ?>
            <?php
            $link = Zend_Auth::getInstance()->hasIdentity() ? '/recommend/' . $this->job['slug'] . '?id=' . $this->job['id'] :
                "/login";

            $model_view = Zend_Auth::getInstance()->hasIdentity() ? 'data-target="#preview-model" data-toggle="modal"' : '';
            echo '<div class="sticky-container"><a title="Upload a friend\'s CV" href="' . $link . '"  ' . $model_view . ' >' . $menu['icon'] . '</a></div>';
            continue; ?>
        <?php endif; ?>
        <?php
        $social = (string)end(explode("-", $menu['link']));
//        echo $social;
        $social_row = $mUser->getChannelByTitle($social);
        if (!empty($social_row)) :
//            echo stripos($this->job['company_title'], "unicredit").' unicredit';
//            echo stripos($this->job['company_title'], "unicredit").' '.$this->job['company_title'].' '.$this->job_url;
            ?>


            <?php if (strtolower($social_row['title']) == 'facebook') : ?>
            <div class="sticky-container <?php if (strpos($this->job_url, "unicredit") !== false or strpos($this->job_url, "unicredit") !== false) {
                echo "hidden";
            } ?>" data-unique-url="<?php echo $this->job['social']['unique_facebook_url'] ?>" <?= $facebook_link; ?>
                 class="social" data="facebook">
                <button target="_blank" id="facebokkShare" title="Share this on Facebook"
                        class="facebook-link duueyrtod">
                    <?php echo $menu['icon']; ?>
                </button>
            </div>
            <?php continue; endif; ?>
            <?php if (strtolower($social_row['title']) == 'linkedin') : ?>
            <div class="sticky-container"
                 data-unique-url="<?php echo $this->job['social']['unique_linkedin_url'] ?>" <?= $linkedin_link; ?>
                 class="social" data="linkedin">
                <a id="linkedin-button" target="_blank"
                   data-url="<?php echo WebApp_Tools::createSharingUrl("{$this->job_url}", "linkedin", array("title" => $this->job['company_title'] . ":" . $this->job['title'], "description" => $this->job['zl'])) . '&utm_source=linkedin'; ?>"
                   href="javascript:;" title="Share this on Linkedin">
                    <?php echo $menu['icon']; ?>
                </a></div>
            <?php continue; endif; ?>
            <?php if (strtolower($social_row['title']) == 'twitter') : ?>
            <div class="sticky-container"
                 data-unique-url="<?php echo $this->job['social']['unique_twitter_url'] ?>" <?= $twitter_link ?>
                 class="social" data="twitter"><a id="twitter-button" target="_blank"
                                                  data-url="<?php echo WebApp_Tools::createSharingUrl("{$this->job_url}", "twitter") . '&utm_source=twitter'; ?>"
                                                  href="javascript:;" title="Share this on Twitter">
                    <?php echo $menu['icon']; ?>
                </a></div>
            <?php continue; endif; ?>

            <!--        --><?php //$logo = "<img style='max-width: 30px;' src='/resources/admin/css/theme/icons/".strtolower($menu['icon'])."'>";
            ?>
            <!--        --><?php //if($menu['icon'] != strip_tags($menu['icon'])) :
            ?>
            <?php $logo = $menu['icon'] ?>
            <!--        --><?php //endif;
            ?>

            <?php if (strtolower($social_row['title']) == 'whatsapp') : ?>
            <div class="sticky-container">
                <a class="dynamic-social" target="_blank" data-id-social="<?php echo $social_row['id']; ?>"
                   title="<?php echo 'Share by ' . $social_row['title']; ?>"
                   href="
                                              <?php
                   if (Zend_Auth::getInstance()->hasIdentity()) {
                       echo $social_row['url'] . '?text=' . rawurlencode($this->job_url . '&ts=' . uniqid(time()) . '&source=' . $social_row['id']) . '&utm_source=whatsapp';
                   } else {
                       echo '/login';
                   }
                   ?>">


                    <?php if (strpos($menu['icon'], '.svg') !== false) : ?>
                        <img class="pppoia" src="<?php echo '/resources/frontend/images/' . $menu['icon']; ?>"/>
                    <?php else : ?>
                        <?= $menu['icon']; ?>
                    <?php endif; ?>
                </a>
            </div>
            <?php continue; endif; ?>
            <?php if (strtolower($social_row['title']) == 'email') : ?>
            <div class="sticky-container">
                <a id="_email" class="dynamic-social" target="_blank" data-id-social="<?php echo $social_row['id']; ?>"
                   title="<?php echo 'Share by ' . $social_row['title']; ?>"
                   href="<?= $this->job['social']['email_url'] . '&utm_source=email' ?>"
                <span><i class="fas right-menu share fa-envelope"></i></span>
                </a>
            </div>
            <?php continue; endif; ?>

            <?php if (strtolower($social_row['title']) == 'sms') : ?>
            <div class="sticky-container">
                <a id="_email" class="dynamic-social" target="_blank" data-id-social="<?php echo $social_row['id']; ?>"
                   title="<?php echo 'Share by ' . $social_row['title']; ?>"
                   href="sms:&#38;body=<?php
                   if (Zend_Auth::getInstance()->hasIdentity()) {
                       echo WebApp_Tools::createJobSlug($this->job) .
                           '?track=' . md5(Zend_Auth::getInstance()->getIdentity()->id) .
                           "&ts=" . uniqid(time()) .
                           '&source=' . $mJobs->getSocilaMediaIdByType('sms') . '&utm_source=sms';
                   } else {
                       echo '/login';
                   }

                   ?>"

                </a>
                <?php echo($menu['icon']); ?>
            </div>
            <?php continue; endif; ?>

            <?php if (strtolower($social_row['title']) == 'link') : ?>
            <div class="sticky-container">
                <a id="_link" class="dynamic-social" target="_blank" data-id-social="<?php echo $social_row['id']; ?>"
                   title="<?php echo 'Share by ' . $social_row['title']; ?>"
                   href="<?php
                   if (Zend_Auth::getInstance()->hasIdentity()) {
                       echo WebApp_Tools::createJobSlug($this->job) .
                           '?track=' . md5(Zend_Auth::getInstance()->getIdentity()->id) .
                           "&ts=" . uniqid(time()) .
                           '&source=' . $mJobs->getSocilaMediaIdByType('link') . '&utm_source=link';
                   } else {
                       echo '/login';
                   }

                   ?>"

                </a>
                <?php echo($menu['icon']); ?>
            </div>
            <?php continue; endif; ?>


            <div class="sticky-container">
                <?php if ($menu['right_menu_order'] !== null) : ?>
                    <a onclick="dynamicShare(<?php echo $social_row['id']; ?>,this)" class="dynamic-social"
                       target="_blank" title="<?php echo 'Share by ' . $social_row['title']; ?>"
                       data-id-social="<?php echo $social_row['id']; ?>" title="<?php echo $menu['comments'] ?>"
                       href="<?php echo $social_row['url'] . '&utm_source=email' ?>">
                        <?php if (strpos($menu['icon'], '.svg') !== false) : ?>
                            <img class="pppoia" src="<?php echo '/resources/frontend/images/' . $menu['icon']; ?>"/>
                        <?php else : ?>
                            <?= $menu['icon']; ?>
                        <?php endif; ?>
                    </a>
                <?php endif; ?>
            </div>
        <?php endif; ?>


    <?php endforeach; ?>
</div>

<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 86
    px1s351ck420
    authorize: true
    //                  onLoad: onLinkedInLoad
</script>
<script type="application/javascript">
    function fb_share(obj) {
        homeShareSocialJobDetails(obj);
        FB.ui({
            method: 'feed',
            name: "<?php echo $this->company_title . " : " . $this->job_facebook_title ?>",
            link: "<?php echo $this->job_facebook_link . '&utm_source=facebook' ?>",
            picture: "<?php echo $this->job_company_logo ?>",
            caption: "<?php echo $this->job_caption ?>",
            description: "<?php echo str_replace('"', "'", $this->job_facebook_description) ?>"
        }, function (response) {
            console.log(response);
            //if (typeof response !== 'undefined') {
            //    // ajax call to save response
            //    var id_user = "<?php //echo Zend_Auth::getInstance()->getIdentity()->id ?>//"
            //    var link = document.location.href;
            //    var id_job = link.split('/')[4];
            //    var url = $(this).data('url');
            //    $.ajax({
            //        url: "/cshare",
            //        type: "POST",
            //        data: {id_user: id_user, id_job: id_job,url:"<?php //echo $this->job_facebook_link ?>//"}
            //    })
            //}
        });

    }

    jQuery(document).ready(function () {
        $('[data-id-social="17"]').addClass('hidden');

        $(".sticky-category-title").each(function () {
            // console.log($( this ).text());
            if ($(this).text() == 'Applied') {
                // console.log($( this ).text() );
                $(this).css('margin-left', '-8px');
            }
        });
        jQuery('.dynamic-social').on('click', function () {
            var id_social = $(this).data('id-social');
            var url = "<?php $model = new models_Jobs; echo $this->job_url . "&ts=" . uniqid(time()) . "&source="?>" + id_social;
            $('input#url').val(url);
            copyToClipboard(document.getElementById("url"));
            var id_user = "<?php echo Zend_Auth::getInstance()->getIdentity()->id ?>"
            var link = document.location.href;
            var id_job = link.split('/')[4];
            var url = url;
            $.ajax({
                url: "/cshare",
                type: "POST",
                data: {id_user: id_user, id_job: id_job, url: url}
            })
        })
    })

    function dynamicShare(id_share, ob) {
        console.log(id_share);
        var url = "<?php $model = new models_Jobs; echo $this->job_url . "&ts=" . uniqid(time()) . "&source="?>" + id_share;
        var elem = document.getElementById('url');

        console.log(url)
        var href = decodeURIComponent($(ob).attr('href'));
        var matches = href.match(/\bhttps?:\/\/\S+/gi);
        console.log(matches);
        if (matches && matches[0].indexOf("talentspotting") > -1) {
            // alert(matches[0])
            url = matches[0];
        }
        console.log(url)

        elem.value = url;
        console.log(elem.value);
        elem.select();
        document.execCommand("copy");
        // elem.value = url;
        copyToClipboard(document.getElementById("url"));
        var id_user = "<?php echo Zend_Auth::getInstance()->getIdentity()->id ?>"
        var link = document.location.href;
        var id_job = link.split('/')[4];
        var http = new XMLHttpRequest();
        var endpoint_url = '/cshare';
        var params = 'id_user=' + id_user + '&id_job=' + id_job + '&url=' + url;
        // var params = {'id_user' : id_user, 'id_job':id_job,'url='+url};
        http.open('POST', endpoint_url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function () {//Call a function when the state changes.
            if (http.readyState == 4 && http.status == 200) {
                // alert(http.responseText);
            }
        }
        http.send(params);
    }


    function linkedin_share(obj) {
        homeShareSocialJobDetails(obj);
        window.open($("a#linkedin-button").data('url'));
    }

    function twitter_share(obj) {
        homeShareSocialJobDetails(obj);
        window.open($("a#twitter-button").data('url'));
    }


    function PopupCenter(url, title, w, h) {
        // Fixes dual-screen position                         Most browsers      Firefox
        var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
        var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

        var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
        var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

        var left = ((width / 2) - (w / 2)) + dualScreenLeft;
        var top = ((height / 2) - (h / 2)) + dualScreenTop;
        var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

        // Puts focus on the newWindow
        if (window.focus) {
            newWindow.focus();
        }
    }

    function copyToClipboard(elem) {
        // create hidden text element, if it doesn't already exist
        var targetId = "_hiddenCopyText_";
        var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
        var origSelectionStart, origSelectionEnd;
        if (isInput) {
            // can just use the original source element for the selection and copy
            target = elem;
            origSelectionStart = elem.selectionStart;
            origSelectionEnd = elem.selectionEnd;
        } else {
            // must use a temporary form element for the selection and copy
            target = document.getElementById(targetId);
            if (!target) {
                var target = document.createElement("textarea");
                target.style.position = "absolute";
                target.style.left = "-9999px";
                target.style.top = "0";
                target.id = targetId;
                document.body.appendChild(target);
            }
            target.textContent = elem.textContent;
        }
        // select the content
        var currentFocus = document.activeElement;
        target.focus();
        target.setSelectionRange(0, target.value.length);

        // copy the selection
        var succeed;
        try {
            succeed = document.execCommand("copy");
        } catch (e) {
            succeed = false;
        }
        // restore original focus
        if (currentFocus && typeof currentFocus.focus === "function") {
            currentFocus.focus();
        }

        if (isInput) {
            // restore prior selection
            elem.setSelectionRange(origSelectionStart, origSelectionEnd);
        } else {
            // clear temporary content
            target.textContent = "";
        }
        return succeed;
    }

    function addToFavoriteJobDetails(id_job) {
        if ($('div#favorite-container > a > p').hasClass('job-fav-active')) {
            $('div#favorite-container > a > p').removeClass('job-fav-active')
            $('div#favorite-container > a  > i').removeClass('job-fav-active')
        } else {
            $('div#favorite-container > a > p').addClass('job-fav-active')
            $('div#favorite-container > a  > i').addClass('job-fav-active')
        }
        var http = new XMLHttpRequest();
        var endpoint_url = '/ajax/index/set-favorite';
        var params = 'id_job=' + id_job;
        http.open('POST', endpoint_url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function () {//Call a function when the state changes.
            if (http.readyState == 4 && http.status == 200) {
                // alert(http.responseText);
            }
        }
        http.send(params);
    }

    function homeShareSocialJobDetails(obj) {
        var id_job = "<?php echo $this->job['id'] ?>";
        // var social = getParameterByName('source',url);
        var user_type = {};
        user_type.logged = "<?php echo Zend_Auth::getInstance()->hasIdentity() ? 1 : 0 ?>"
        if (user_type.logged) {
            var id_user = "<?php echo Zend_Auth::getInstance()->getIdentity()->id  ?>";
        }


        var url = ($(obj).data('unique-url'));
        console.log(url + ' test')
        var http = new XMLHttpRequest();
        var endpoint_url = '/cshare';
        var params = 'id_user=' + id_user + '&id_job=' + id_job + '&url=' + url;
        // var params = {'id_user' : id_user, 'id_job':id_job,'url='+url};
        http.open('POST', endpoint_url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function () {//Call a function when the state changes.
            if (http.readyState == 4 && http.status == 200) {
                // alert(http.responseText);
            }
        }
        if (user_type.logged) {
            http.send(params);
        }


    }

    function loginRedirect() {
        window.location.href = "/login";
    }

    $('div[data="facebook"]').before('<div class=\'sticky-container sticky-category-title sharebtn\'><?php echo $this->translate->_('share') ?></div>');

</script>

<style>
    .sticky-category-title  {
        margin-top: 20px!important;
    }

    .sticky-container, .sticky-category-title  {
        font-size: 20px!important;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }

    .sharebtn{
        font-size: 24px;
        margin-top: 30px;
        /*color: #4cd44c;*/
    }

    .pppoia {
        /*filter: invert(92%) sepia(42%) saturate(1810%) hue-rotate(49deg) brightness(90%) contrast(83%);*/
        background: transparent;
        font-size: 25px;
        height: 25px;
        width: 25px;
    }

    @media screen and ( max-height: 900px ) {
        .job-sidebar {
            margin-top: 0;
        }

        .sharebtn {
            margin-top: 0em !important;
        }

        div.sticky-container {
            padding: 2px !important;
        }
    }


    .job-sidebar {
        margin-top: 74px;
        z-index: 9999999999;
        padding-top: 24px;

    }

    .job-application-alert {
        margin-top: 130px !important;

    }

    @media screen and ( max-height: 900px ) {


        .dropdown-menu {
            z-index: 99999999999;
        }

        .sharebtn {
            margin-top: 0em !important;
        }

        div.sticky-container {
            padding: 2px !important;
        }
    }

    @media screen and ( max-height: 650px ) {
        .sticky-category-title {
            margin-top: 0px !important;
        }

    }

    .job-detail-section {
        margin-right: 1 !important;
    }


</style>