<section id="main-content">
    <section class="wrapper iifuudh">
        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('Look & Feel'); ?>
                    </h3>
                </div>
                <div class=" col-sm-9"></div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <section class="wrapper main-dasboard-page">
                                <div class="smart-form left-float left-border" id="firstcolumn">
                                    <div class="column-header">
                                        <h2 class="col-title no-left-padding"><?php echo $this->translate->_('Customize your brand\'s look & feel'); ?></h2>
                                    </div> <!-- first column title -->

                                    <div> <!-- branding customization -->
                                        <form id="brand-form-container" method="POST" action="/companies/admin/add" enctype="multipart/form-data">
                                            <div class="setting-sub-section-company bordered">  <!-- online presence -->
                                                <div  class="setting-sub-section-wrapper section-label-settings" id="launch-date-settings"><?php echo $this->translate->_('Referral program launch date'); ?>
                                                    <div class="explanatory-paragraph">
                                                        <?php echo $this->translate->_('Set the date when your employees should start getting engagement notifications from your Talentspotting referral tool.'); ?>

                                                    </div>
                                                    <div class="settings-sfert-col top-margined">
                                                        <label for="launch_date">Date:
                                                            <input type="date" name="launch_date"  class="form-control" id="launch_date" value="<?php echo ($this->companie['launch_date'] == '') ? '' : $this->companie['launch_date']; ?>">
                                                        </label>
                                                    </div>
                                                    <div class="settings-sixth-col top-margined">
                                                        <label for="launch_time">Time:
                                                            <input type="time" name="launch_time"  class="form-control" id="launch_time" value="<?php echo ($this->companie['launch_time'] == '') ? '' : $this->companie['launch_time']; ?>">
                                                        </label>
                                                    </div>
                                                </div>
                                                <?php if(Zend_Auth::getInstance()->getIdentity()->type == 3) : ?>
                                                    <div  class="setting-sub-section-wrapper section-label-settings" id="launch-date-settings"><?php echo $this->translate->_('Referral program end'); ?>
                                                        <div class="explanatory-paragraph">
                                                            <?php echo $this->translate->_('Set the end date-time for this subdomain.'); ?>

                                                        </div>
                                                        <div class="settings-sfert-col top-margined">
                                                            <label for="launch_date">Date:
                                                                <input type="date" name="end_date"  class="form-control" id="end_date" value="<?php echo ($this->companie['end_date'] == '') ? '' : $this->companie['end_date']; ?>">
                                                            </label>
                                                        </div>
                                                        <div class="settings-sixth-col top-margined">
                                                            <label for="launch_time">Time:
                                                                <input type="time" name="end_time"  class="form-control" id="end_time" value="<?php echo ($this->companie['end_time'] == '') ? '' : $this->companie['end_time']; ?>">
                                                            </label>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                                <div  class="setting-sub-section-wrapper section-label-settings" id="open-company-settings">
                                                    <?php echo $this->translate->_('Company online presence'); ?>
                                                    <div class="explanatory-paragraph">
                                                        <?php echo $this->translate->_('Update your company\'s online presence updating website and social company pages.'); ?>

                                                    </div>
                                                </div>
                                                <div class="hidden settings-block left-bordered"  id="company-settings">
                                                    <div class="setting-element">
                                                        <div class="label-settings"><?php echo $this->translate->_('Company website'); ?></div>
                                                        <div class="settings-fullw-col">
                                                            <label for="website">
                                                                <input type="text" name="website" class="form-control" id="website" placeholder="https://website.ro" value="<?php echo ($this->companie['website'] == '') ? '' : $this->companie['website']; ?>">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings">

                                                            <?php echo $this->translate->_('Company LinkedIn page / showcase page'); ?>
                                                        </div>
                                                        <div class="settings-fullw-col">
                                                            <label for="linkedin">
                                                                <input type="text" name="linkedin" class="form-control" id="linkedin" placeholder="https://linkedin.com/company/your-page" value="<?php echo ($this->companie['linkedin'] == '') ? '' : $this->companie['linkedin']; ?>">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings">
                                                            <?php echo $this->translate->_('Company Facebook page'); ?>

                                                        </div>
                                                        <div class="settings-fullw-col">
                                                            <label for="facebook">
                                                                <input type="text" name="facebook" class="form-control" id="facebook" placeholder="https://facebook.com/company-page" value="<?php echo ($this->companie['facebook'] == '') ? '' : $this->companie['facebook']; ?>">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings">
                                                            <?php echo $this->translate->_('Company Youtube page'); ?>

                                                        </div>
                                                        <div class="settings-fullw-col">
                                                            <label for="youtube">
                                                                <input type="text" name="youtube" class="form-control" id="youtube" placeholder="https://youtube.com/company-channel" value="<?php echo ($this->companie['youtube'] == '') ? '' : $this->companie['youtube']; ?>">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings">
                                                            <?php echo $this->translate->_('Company Instagram page'); ?>

                                                        </div>
                                                        <div class="settings-fullw-col">
                                                            <label for="instagram">
                                                                <input type="text" name="instagram" class="form-control" id="instagram" placeholder="https://instagram.com/company-account" value="<?php echo ($this->companie['instagram'] == '') ? '' : $this->companie['instagram']; ?>">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings">
                                                            <?php echo $this->translate->_('Company Momentum page'); ?>

                                                        </div>
                                                        <div class="settings-fullw-col">
                                                            <label for="momentum">
                                                                <input type="text" name="momentum" class="form-control" id="momentum" placeholder="https://momentum.com/company-account" value="<?php echo ($this->companie['momentum'] == '') ? '' : $this->companie['momentum']; ?>">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings">
                                                            <?php echo $this->translate->_('Company Twitter page'); ?>

                                                        </div>
                                                        <div class="settings-fullw-col">
                                                            <label for="twitter">
                                                                <input type="text" name="twitter" class="form-control" id="twitter" placeholder="https://twitter.com/company-account" value="<?php echo ($this->companie['twitter'] == '') ? '' : $this->companie['twitter']; ?>">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  <!-- online presence -->

                                            <div class="setting-sub-section-jobs bordered"> <!-- branding colors -->
                                                <div  class="setting-sub-section-wrapper section-label-settings" id="open-branding-colors">
                                                    <?php echo $this->translate->_('Branded Colors'); ?>

                                                    <div class="explanatory-paragraph">

                                                        <?php echo $this->translate->_('Change how your admin/recruiters experience regarding jobs management in Talentspotting: adding new ones or editing existing ones.'); ?>
                                                        `
                                                    </div>
                                                </div>
                                                <div class="hidden settings-block left-bordered"  id="branding-colors">
                                                    <?php echo $this->color_picker ?>
                                                </div>
                                            </div> <!-- branding colors -->

                                            <div class="setting-sub-section-branding bordered"><!-- branded images -->
                                                <div  class="setting-sub-section-wrapper section-label-settings" id="open-branding-settings">
                                                    <?php echo $this->translate->_('Branded images'); ?>
                                                    <div class="explanatory-paragraph">
                                                        <?php echo $this->translate->_('Make your employees experience in Talentspotting be up to your brand\'s look & feel.'); ?>

                                                    </div>
                                                </div>
                                                <div class="hidden settings-block left-bordered"  id="branding-settings">
                                                    <div class="setting-element">
                                                        <div class="label-settings">
                                                            <?php echo $this->translate->_('Upload your brand\'s logo'); ?>
                                                            <div class="explanatory-paragraph">
                                                                <?php echo $this->translate->_('Update your company\'s logo displayed in Talentspotting homepage top menu.'); ?>

                                                            </div>
                                                            <div class="explanatory-paragraph italiced">
                                                                <?php echo $this->translate->_('Required dimensions: landscape 115 x 61 pixels.'); ?>

                                                            </div>
                                                        </div>
                                                        <div class="settings-fullw-col">
                                                            <label for="logo">
                                                                <input type="file" name="logo" class="form-control" id="logo" placeholder="browse image">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings">
                                                            <?php echo $this->translate->_(' Upload a default image for social share'); ?>

                                                            <div class="explanatory-paragraph">
                                                                <?php echo $this->translate->_("Update your company\'s default image used when recommender shares a job through a social channel"); ?>
                                                                
                                                            </div>
                                                            <div class="explanatory-paragraph italiced">
                                                            <?php echo $this->translate->_('Required dimensions: landscape 476 x 316 pixels.'); ?>

                                                            </div>
                                                        </div>
                                                        <div class="settings-fullw-col">
                                                            <label for="share">
                                                                <input type="file" name="share" class="form-control" id="share" placeholder="browse image">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings">
                                                            <?php echo $this->translate->_('Upload a new landing page image'); ?>
                                                            <div class="explanatory-paragraph">
                                                                <?php echo $this->translate->_('Update your company\'s landing page image displayed in Talentspotting homepage hero section.'); ?>

                                                            </div>
                                                            <div class="explanatory-paragraph italiced">
                                                                <?php echo $this->translate->_('Required dimensions: landscape 1600 x 600 pixels.'); ?>

                                                            </div>
                                                        </div>
                                                        <div class="settings-fullw-col">
                                                            <label for="landing">
                                                                <input type="file" name="landing" class="form-control" id="landing" placeholder="browse image">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings"><?php echo $this->translate->_('Your call to action on registration'); ?>

                                                            <div class="explanatory-paragraph">
                                                                <?php echo $this->translate->_('Update text from SIGNUP page when users create new accounts.'); ?>

                                                            </div>
                                                        </div>
                                                        <div class="settings-fullw-col">
                                                            <label for="register_text">
                                                                <input type="text" name="register_text" class="form-control" id="register_text" placeholder="Call to action"
                                                                       value="<?php echo ($this->companie['register_text'] == '') ? '' : $this->companie['register_text']; ?>">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings">
                                                            <?php echo $this->translate->_('Your call to action on login'); ?>
                                                            <div class="explanatory-paragraph">
                                                                <?php echo $this->translate->_('Update text from LOGIN page when users join your Talentspotting referral tool.'); ?>

                                                            </div>
                                                        </div>
                                                        <div class="settings-fullw-col">
                                                            <label for="signin_text">
                                                                <input type="text" name="signin_text" class="form-control" id="signin_text" placeholder="Call to action"
                                                                       value="<?php echo ($this->companie['signin_text'] == '') ? '' : $this->companie['signin_text']; ?>">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- branded images -->

                                            <div class="setting-sub-section-jobs bordered"><!-- jobs related -->
                                                <div  class="setting-sub-section-wrapper section-label-settings" id="open-jobs-settings"><?php echo $this->translate->_('Jobs related'); ?>
                                                    <div class="explanatory-paragraph">
                                                        <?php echo $this->translate->_('Change how your admin/recruiters experience regarding jobs management in Talentspotting: adding new ones or editing existing ones.'); ?>

                                                    </div>
                                                </div>
                                                <div class="hidden settings-block left-bordered"  id="jobs-settings">
                                                    <div class="setting-element">
                                                        <div class="label-settings"><?php echo $this->translate->_('Job skills dropdown in add job popup'); ?></div>
                                                        <div class="explanatory-paragraph settings-left-col">
                                                            <?php echo $this->translate->_("Switch ON if you want to include SKILLS dropdown in 'Add new job' page. Recruiter screening will be easier due to a more accurate score match of future candidates against job's selected skills."); ?>
                                                        </div>

                                                        <div class="settings-right-col">
                                                            <label class="switch" for="job_skills">
                                                                <input  class="styled table-check" name="job_skills" id="job_skills" type="checkbox"
                                                                    <?php echo ($this->companie['job_skills'] == 0) ? '' : 'checked'; ?>
                                                                >
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings">
                                                            <?php echo $this->translate->_("Job departments dropdown in add job popup"); ?></div>
                                                        <div class="explanatory-paragraph settings-left-col">
                                                            <?php echo $this->translate->_("Switch ON if you want to include DEPARTMENTS dropdown in 'Add new job' page. Recruiter's job management will be easier with ability to filter by department."); ?>
                                                            </div>

                                                        <div class="settings-right-col">
                                                            <label class="switch" for="job_departments">
                                                                <input  class="styled table-check" name="job_departments" id="job_departments" type="checkbox"
                                                                    <?php echo ($this->companie['job_departments'] == 0) ? '' : 'checked'; ?>
                                                                >
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  <!-- jobs related -->

                                            <div class="setting-sub-section-candidate bordered"> <!-- candidates experience -->
                                                <div class="setting-sub-section-wrapper section-label-settings" id="open-candidates-settings">
                                                    <?php echo $this->translate->_("Candidates experience"); ?>
                                                    <div class="explanatory-paragraph">
                                                        <?php echo $this->translate->_("Change how your future candidates register, complete their profile, view jobs or apply to your jobs."); ?>

                                                    </div>
                                                </div>
                                                <div class="hidden settings-block left-bordered"  id="candidates-settings">
                                                    <div class="setting-element">
                                                        <div class="label-settings"><?php echo $this->translate->_("Require Linkedin or CV"); ?></div>
                                                        <div class="explanatory-paragraph settings-left-col">
                                                            <?php echo $this->translate->_("Switch ON if you want to force candidates to apply after their LinkedIn profile is linked or CV is uploaded. Recruiter screening will be more relevant."); ?>
                                                            </div>

                                                        <div class="settings-right-col">
                                                            <label class="switch" for="signin">
                                                                <input  class="styled table-check" name="signin" id="signin" type="checkbox"
                                                                    <?php echo ($this->companie['signin'] == 0) ? '' : 'checked'; ?>
                                                                />
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings"><?php echo $this->translate->_("Allow CV upload when recommending"); ?></div>
                                                        <div class="explanatory-paragraph settings-left-col">
                                                            <?php echo $this->translate->_("Switch ON if you want your recommenders to upload friends' CV invited to apply for one of your company's jobs."); ?>
                                                        </div>
                                                        <div class="settings-right-col">
                                                            <label class="switch" for="upload_cv">
                                                                <input  class="styled table-check" name="upload_cv" id="upload_cv" type="checkbox"
                                                                    <?php echo ($this->companie['upload_cv'] == 0) ? '' : 'checked'; ?>
                                                                >
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="setting-element">
                                                        <div class="label-settings"><?php echo $this->translate->_("Set LinkedIn url import as mandatory"); ?></div>
                                                        <div class="explanatory-paragraph settings-left-col">
                                                            <?php echo $this->translate->_("Switch ON if you want your candidates to upload their CV before they apply to one of your company's jobs."); ?></div>
                                                        <div class="settings-right-col">
                                                            <label class="switch" for="import_linkedin">
                                                                <input  class="styled table-check" name="job_skills" id="import_linkedin" type="checkbox"
                                                                    <?php echo ($this->companie['import_linkedin'] == 0) ? '' : 'checked'; ?>
                                                                >
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- candidates experience -->
                                            <?php if(Zend_Auth::getInstance()->getIdentity()->type == 3) : ?>
                                                <div class="form-group hidden">
                                                    <label for="heatmap"><?php echo $this->translate->_("heatmap"); ?></label>
                                                    <textarea type="text" name="heatmap" class="form-control" id="heatmap">
                            <?php echo ($this->companie['heatmap'] == '') ? '' : $this->companie['heatmap']; ?>
                        </textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="footer">footer</label>
                                                    <textarea type="text" name="footer" class="form-control" id="footer">
                            <?php echo ($this->companie['footer'] == '') ? '' : $this->companie['footer']; ?>
                        </textarea>
                                                </div>
                                            <?php endif; ?>
                                            <input type="submit" value="Update My Talentspotting Look & Feel" class="btn btn-success form-control"/>
                                        </form>
                                    </div><!-- branding customization -->
                                </div>

                                <div class="smart-form left-float  left-border" id="secondcolumn"> <!-- preview second section -->
                                    <div class="column-header">
                                        <h2 class="col-title no-left-padding"><?php echo $this->translate->_("Preview"); ?></h2>
                                        <span class="glyphicon" id="update-preview">&#xe031;</span>
                                    </div> <!-- second column title -->
                                    <div id="preview_web">

                                    </div><!-- preview-web div -->
                                </div>
                            </section>
                            <?php if(Zend_Auth::getInstance()->getIdentity()->type == 3) : ?>
                                <section class="wrapper main-dasboard-page"> <!-- section editable css -->
                                    <!--mini statistics start-->
                                    <div class="row spaced-block">

                                        <?php foreach ($this->dashboard as $key => $style) : ?>
                                            <h3 class="behind"><?= $style['target'] ?></h3>
                                            <form id="<?= $style['target'] ?>" action="">
                                                <div class="col-md-12">
                                                    <div class="col-md-9">
                                                        <textarea class="form-control" rows="15" name="<?= $style['target'] ?>"><?= $style['style'] ?></textarea>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input style="margin-top: 15px;" class="form-control add-style" type="submit" name="<?= $style['target'] ?>" value="add Style" />
                                                    </div>
                                                </div>
                                            </form>
                                        <?php endforeach; ?>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <input type="submit" name="build" class="form-control btn-success" data-storage="<?= $style['target'] ?>" value="build styles" />
                                            </div>
                                        </div>

                                    </div>
                                </section>
                            <?php endif; ?>
                            <div class="hidden" id="homepage_preview">
                                <!DOCTYPE html>
                                <html lang="en">

                                <head>

                                    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                                </head>


                                </html>
                            </div><!--homepage_preview div hidden-->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>




<script type="text/javascript">
    function resizeDiv()
    {
        //var heights = window.innerHeight;
        var right = document.getElementById('secondcolumn').style.height;
        var left = document.getElementById('firstcolumn').style.height;
        if (left > 0)
        {
            document.getElementById('secondcolumn').style.height = left + 'px';
            console.log('div height' + window.innerHeight);
        } else {
            document.getElementById('secondcolumn').style.height = (window.innerHeight - 109) + 'px';
            console.log('screen height' + left);
        }



    }


    (function ($) {
        resizeDiv();
        var homepagePreview = document.getElementById('homepage_preview').innerHTML;

        document.getElementById('preview_web').innerHTML = homepagePreview;


        $('#update-preview').on('click', function () {
            location.reload();

        });

        $('#open-company-settings').on('click', function () {
            var obj_class = $('#company-settings').attr("class");
            console.log(obj_class);
            var found_class = obj_class.search("hidden");
            if (found_class > -1) {
                $('form .settings-block').addClass('hidden');
                $('#company-settings').removeClass('hidden');
                $('.setting-sub-section-company').removeClass(' bordered');
            } else {
                $('#company-settings').addClass('hidden');
                $('.setting-sub-section-company').addClass('bordered');
            }

        });
        $('#open-branding-settings').on('click', function () {
            var obj_class = $('#branding-settings').attr("class");
            console.log(obj_class);
            var found_class = obj_class.search("hidden");
            if (found_class > -1) {
                $('form .settings-block').addClass('hidden');
                $('#branding-settings').removeClass('hidden');
                $('.setting-sub-section-branding').removeClass(' bordered');
            } else {
                $('#branding-settings').addClass('hidden');
                $('.setting-sub-section-branding').addClass('bordered');
            }

        });
        $('#open-branding-colors').on('click', function () {
            var obj_class = $('#branding-colors').attr("class");
            console.log(obj_class);
            var found_class = obj_class.search("hidden");
            if (found_class > -1) {
                $('form.settings-block').addClass('hidden');
                $('#branding-colors').removeClass('hidden');
                $('.setting-sub-section-branding').removeClass(' bordered');
            } else {
                $('#branding-colors').addClass('hidden');
                $('.setting-sub-section-branding').addClass('bordered');
            }

        });
        $('#open-jobs-settings').on('click', function () {
            var obj_class = $('#jobs-settings').attr("class");
            console.log(obj_class);
            var found_class = obj_class.search("hidden");
            if (found_class > -1) {
                $('form .settings-block').addClass('hidden');
                $('#jobs-settings').removeClass('hidden');
                $('.setting-sub-section-jobs').removeClass(' bordered');
            } else {
                $('#jobs-settings').addClass('hidden');
                $('.setting-sub-section-jobs').addClass('bordered');
            }

        });

        $('#open-candidates-settings').on('click', function () {
            var obj_class = $('#candidates-settings').attr("class");
            console.log(obj_class);
            var found_class = obj_class.search("hidden");
            if (found_class > -1) {
                $('form .settings-block').addClass('hidden');
                $('#candidates-settings').removeClass('hidden');
                $('.setting-sub-section-candidate').removeClass(' bordered');
            } else {
                $('#candidates-settings').addClass('hidden');
                $('.setting-sub-section-candidate').addClass('bordered');
            }

        });
        $('input.add-style').on('click', function () {
            var name = $(this).attr('name');
            console.log(name);
            $('form#' + name).one('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                var data = $(this).serializeArray();
                var storage = $(this).find('input[type="submit"]').attr('name');
                data[0].name = storage;
                $.ajax({
                    url: "/companies/admin/add-styles",
                    type: "POST",
                    data: {storage: storage, style: data}
                })
                console.log(data);
                console.log(storage);
                return false;
            })
            $('form#' + name).trigger('click');
            return false
        });
        $('input[name="build"]').on('click', function () {
            var storage_build = $(this).attr('data-storage');
            $.ajax({
                url: "/companies/admin/build",
                type: "POST",
                data: {storage: storage_build}
            })
        })

    })(jQuery)
</script><!-- scripts -->