<section id="main-content">
    <section class="wrapper iifuudh">
        <div class="row">
            <div id="wsdase" class="col-sm-12">
                <div class=" col-sm-3 ">
                    <h3 class="b-title pull-left capitalized">
                        <?php echo $this->translate->_('settings'); ?>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <section class="mrg-btm">
                    <div class="panel-body bounties_page __djsdjfud">
                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <?php if ($this->flash_messages[0] != ""): ?>
                                <div class="space15"></div>
                                <div class="alert alert-block alert-success fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button>
                                    <?php echo $this->translate->_($this->flash_messages[0]); ?>
                                </div>
                                <hr />
                            <?php endif; ?>
                            <div class="space15"></div>
                            <section class="admin_page_wrapper dragdrop-dropTarget padding-all">
                                <div class="setting-section-box dragdrop-draggable clickable third" id="dock-first-icon">
                                    <div tabindex="0" role="button" aria-label="Manage security features" class="setting-section-area-label">
                                        <div>
                                            <a href="/brand">
                                                <div class="setting-section-icon look-icon">
                                                    <div class="tspMediumText label-title"><?php echo $this->translate->_('Look & Feel'); ?></div>
                                                    <div class="tspFadedDescriptionText label-title"><?php echo $this->translate->_('Manage platform branding elements: logo, share image, buttons, menus i.e.'); ?></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="setting-section-box dragdrop-draggable clickable third" id="dock-seccond-icon">
                                    <div tabindex="0" role="button" aria-label="Manage security features" class="setting-section-area-label">
                                        <div>
                                            <a href="/translate">
                                                <div class="setting-section-icon language-icon">
                                                    <div class="tspMediumText label-title"><?php echo $this->translate->_('language'); ?></div>
                                                    <div class="tspFadedDescriptionText label-title"><?php echo $this->translate->_('Manage platform language: relevant keywords, sections translation i.e.'); ?></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="setting-section-box dragdrop-draggable clickable third" id="dock-third-icon">
                                    <div tabindex="0" role="button" aria-label="Manage security features" class="setting-section-area-label">
                                        <div>
                                            <a href="/view-billing">
                                                <div class="setting-section-icon company-icon">
                                                    <div class="tspMediumText label-title"><?php echo $this->translate->_('company'); ?></div>
                                                    <div class="tspFadedDescriptionText label-title"><?php echo $this->translate->_('Manage company profile elements: legal entity, industry, contact person i.e.'); ?></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--div class="setting-section-box dragdrop-draggable clickable third" id="dock-forth-icon">
                                    <div tabindex="0" role="button" aria-label="Manage security features" class="setting-section-area-label">
                                        <div>
                                            <a href="/features">
                                                <div class="setting-section-icon features-icon">
                                                    <div class="tspMediumText label-title">Features</div>
                                                    <div class="tspFadedDescriptionText label-title">Manage platform features: use/hide referral functionalities i.e.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div-->

                                <div class="setting-section-box dragdrop-draggable clickable third" id="dock-fifth-icon">
                                    <div tabindex="0" role="button" aria-label="Manage security features" class="setting-section-area-label">
                                        <div>
                                            <a href="/users">
                                                <div class="setting-section-icon users-icon">
                                                    <div class="tspMediumText label-title"><?php echo $this->translate->_('users'); ?></div>
                                                    <div class="tspFadedDescriptionText label-title"><?php echo $this->translate->_('Look & Feel'); ?>Manage users: change user roles, upload current employees, i.e.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="setting-section-box dragdrop-draggable clickable third" id="dock-sixth-icon">
                                    <div tabindex="0" role="button" aria-label="Manage security features" class="setting-section-area-label">
                                        <div>
                                            <a href="/emails">
                                                <div class="setting-section-icon emails-icon">
                                                    <div class="tspMediumText label-title"><?php echo $this->translate->_('emails'); ?></div>
                                                    <div class="tspFadedDescriptionText label-title"><?php echo $this->translate->_('Manage email notifications: update content in each email template by role'); ?></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>