
<div class="_page">
	<h1> <a href="/settings">Settings</a>  > Language</h1>

	<div style="height: 10em">
		<div>
			<select onchange="make_request(this.value)" class="select" id="languageSelect">
			  <option value="1" <?php echo  APPLICATION_LOCALE =='en'?  'selected': '' ?>>English</option>
			  <option value="2" <?php echo  APPLICATION_LOCALE =='ro'?  'selected': '' ?>>Romanian</option>
			  <option value="3" <?php echo  APPLICATION_LOCALE =='fr'?  'selected': '' ?>>French</option>
			  <option value="4" <?php echo  APPLICATION_LOCALE =='hu'?  'selected': '' ?>>Hungarian</option>
			</select>
			<input id="search" onkeyup="make_request('', this.value)" onchange="offset=0;filterFunction()" placeholder="Search" type="" name="search">
			<input type="checkbox" value="0"> Set as default language<br><br>
			<div style="display: flex">
			<div><p id="tor1"></p></div>
			<div id="_tor2"><p id="tor2"></p></div>
		</div>
		</div>
		<div style="display: flex;margin-left: 2.2%;">
            <div class="lai">
                <p class="pouq">#</p>
            </div>
			<div class="keys"><p>Language term</p></div>
			<div class="keys" style="margin-right: 2%!important;"><p>Selected language translation</p></div>
		</div>
        <div class="oo">
            <button onclick="offset-=5;make_request()" class="btn btn-default">Prev</button>
            <button onclick="offset+=5;make_request()" class="btn btn-default branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius">Next</button>
        </div>
		<form>
			<div id="elements" class="_row"></div>
		</form>

	<button class="btn btn-default save branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius" onclick="send()">Save</button>

</div>

<style>

p {
    text-align: left;
    font-size: 19px;
    padding-left: 14px;
    padding-top: 3px;
}

.element-key input{
	cursor: not-allowed!important;
}


.item {
    height: 36.8px;
    border: 0.5px solid;
    padding-top: 6px;
    margin: 0;
    margin-left: -0.5px;
    background: white;
    min-width: 5.1em;
    z-index: 5;
    border-bottom: 0px;
    border: 0.1px solid #00000008;
}

.item :last-child {
    border-bottom: 0.5px solid;
}

#elements {
    max-height: 50vh;
    white-space: nowrap;
    width: 100%;
    margin-left: 2%;
    /* margin-top: 3.4em; */
    /* margin-left: 10.3em; */
    /* margin-right: 5em; */
}
.pouq {
    text-align: left;
    padding-top: 12px;
    margin-bottom: 12px;

}

#elements input, p {
    color: black;
}

.lai {
    height: 3.5em;
    width: 7.4em;
    border: 0.5px solid #0000000f;
    background-color: #ecf0f2!important;
    display: grid;
    margin-bottom: -44px;

}

.keys {
    padding: 0.4em;
    margin-left: 3px;
    /* position: absolute; */
    background-color: #ecf0f2!important;
    width: 50%;
    border: 0.1px solid ##0000000f;
    /* max-width: 38em; */
    /* margin-left: 7.3em; */
}

.oo button {
    width: 6em;

}

.oo {
    position: absolute;
    margin-top: 20em;
    width: 15em;
    right: 0;
}

.select {
	margin: 2%;
margin: 2%;
    height: 3em!important;
    width: 30%!important;}

.save {
    border: 2px solid;
    z-index: 1;
    position: fixed;
    padding-right: 1.5%;
    padding-left: 1.5%;
    margin-top: 43%;
    margin-left: 35%;
    background: cyan;
    width: 10em;
    top: 0;
    margin-right: 1%;
}

.element-key, .element-value {
	    width: 48%;
    margin-left: -1px;

}

.item:first-child {
    margin-top:3em;
}

#elements input {
    max-width: 100%;
    border: 1px solid rgba(151, 151, 151, 0.13) !important;
    min-width: 100%;
}

#tor1 {
	    margin-left: 8%;
	        position: absolute;

}

#_tor2 {
    margin-left: 73%;

}

h1 {
	font-size: 26px;
    padding: 2%;
}

#search {
    height: 35px;
    margin-left: 2%;
    padding-left: 1%;
    margin-top: 2%;
    height: 3em;
    width: 30%;
    float: right;
    margin-right: 2%;
}

._page {
	width: 85%;
    height: 100%;
    margin-top: 4%;
    margin-left: 15%;
}

.element {
    display: flex;
    /* max-width: 80em; */
    margin-left: 2.7em;
}

form {
    margin-left: 5.1em;
}

.flex {
	display: flex!important;
}


</style>

<script>
    jQuery.ajaxSetup({async:false});

var blank = 0;







function 	send()
{
	var d = "";

	var a = document.getElementById("elements");
	var len = a.childNodes.length;

	var pelements = [];

	var id_lang;
	var lang;
	id_lang = document.getElementsByClassName("select")[0].value;
	if(id_lang==1)
		lang="en";
	if(id_lang==2)
		lang="ro";
	if(id_lang==3)
		lang="fr"

	for(var i=0;i<len;i++)
	{
		var id = a.childNodes[i].id;
		var key = a.childNodes[i].childNodes[0].childNodes[0].value;
		var value = a.childNodes[i].childNodes[1].childNodes[0].value;
		var element = {key:key, value:value, id:id, id_lang:id_lang, lang:lang};
		pelements.push(element)
	}


	$.ajax({
        method: "POST",
        data: {},
        url: "save-languages",
        data: {languages:pelements},
        success: function (data) {
        }
    });
}

function createElement(key, value, id)
{
	if(value == "" || value == " " || !value)
      	blank++;


	var element = document.createElement("div");
	$(element).addClass("element");
	element.id = id;

	var element_key = document.createElement("div");
	var element_value = document.createElement("div");

	$(element_key).addClass("element-key");
	$(element_value).addClass("element-value");

	var input_key = document.createElement("input");
	var input_value = document.createElement("INPUT");

	input_key.value = key;
	input_value.value = value;
	input_key.type = "text";
	input_value.type = "text";
	input_key.setAttribute('disabled', '');

	$(element_key).append(input_key);
	$(element_value).append(input_value);

	$(element).append(element_key);
	$(element).append(element_value);

	$("#elements").append(element);
}

var offset = 0;

function make_request(id)
{
    document.getElementById("elements").innerHTML = "";
    document.getElementsByClassName("lai")[0].innerHTML =  "<p class=\"pouq\">#</p>"
	var id_l = $('#languageSelect').val();
	var search = document.getElementById("search").value;
	if(id)
		id_l = id;
		se_l = search;
	$("#elements").html("");
        $.ajax({
        method: "POST",
        data: {language: id_l,search:se_l},
        url: "get-translate",
        success: function (data) {
            //data = jQuery.parseJSON(data);
            fetch_elements(data)
        }
    });
}



function fetch_elements(elements)
{
	blank = 0;
	if(elements)
	    if(elements.length)
	        console.log(offset+'offset');
            for(var i=offset;i<5+offset;i++)
    {
                createElement(elements[i].key, elements[i].value, elements[i].id);
                var p = "<p class='item'>"+(i+1+offset)+"</p>";
                document.getElementsByClassName("lai")[0].innerHTML += p;
            }
	if(elements)
	    if(elements.length) {
            document.getElementById("tor1").innerText = elements.length + " Translated";
            document.getElementById("tor2").innerText = elements.length - blank + " To be translated";
            return ;
        }
    document.getElementById("tor1").innerText = 0 + " Translated";
    document.getElementById("tor2").innerText = 0 + " To be translated";


}


  	$(document).ready(function () {
  		document.getElementById("elements").style.height = $( window ).height();

		make_request();
	 })


</script>


    <style>
        ._page {
            height: 125vh;
        }
        #footer {
            bottom: 0;
            display: none;
        }
    </style>