/*=======================GLOBAL STYLES==========================*/

article,
aside,
details,
figcaption,
figure,
footer,
#header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    transition: all 0.25s ease 0s;
}

img {
    /*vertical-align: top;*/
}
html,body{
    height: 100%;
    min-height:100%;
}
body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    /*overflow: hidden;
*/
}

*:focus {
    outline: none;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    body {
        line-height: 26px;
    }
}

.feature-wrap span.grey-text{
    color:#6D6D6D;
}

/*-----------------CONTAINERS------------------*/

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}


/*----------------END CONTAINER----------------*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

sup,
sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: 0.5ex;
}

a {
    color: #1C789E;
    text-decoration: none;
}

a:focus {
    outline: none;
}

h1 {
    font-size: 42px;
    line-height: 50px;
    position: relative;
    /*margin: 20px 0 50px;*/
}

h2 {
    font-size: 24px;
    line-height: 38.4px;
    position: relative;
    margin: 10px 0;
}

h3 {
    font-size: 18px;
    line-height: 28.8px;
    position: relative;
    color: #1e1e1e;
    margin: 5px 0;
    letter-spacing: 1px;
}

@media screen and (max-width: 676px) {
    h1 {
        font-size: 23px;
        line-height: 32px;
        position: relative;
        margin: 20px 0 40px;
    }
}


/*---------------VERTICAL ALIGN=----------------*/

.vertical-center {
    height: 100%;
    white-space: nowrap;
}

.vertical-center:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%;
}

.vertical-center-wrap {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}


/*-------------END VERTICAL ALIGN=--------------*/


/*----------------Custom Select-----------------*/

.custom-select {
    padding: 0;
    margin: 0;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    z-index: 0;
    margin-bottom: 10px;
}

.custom-select:before {
    content: "";
    background: #ebebeb url('../files/icons/arrow-down.png') no-repeat center center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 1px solid #d9dde0;
}

.custom-select select {
    transition: none;
    font-size: 14px;
    padding: 4px 38px 4px 10px;
    border: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 1
}

input[type="text"], input[type="password"], input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select {
    font-family: 'Open Sans', sans-serif;
}

.select-placeholder .drop-placeholder {
    color: #afafaf;
}

.select-placeholder select option {
    color: #000;
    padding: 5px 8px;
}

select.select-placeholder-on {
    color: #afafaf;
}

select.select-placeholder-on:hover {
    color: #6a6a6a;
}

input[type="text"], input[type="password"] {
    font-family: 'Open Sans', sans-serif;
    color: #6a6a6a;
    font-size: 18px;
    line-height: 22px;
    padding: 14px 16px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    display: inline-block;
}

input[type="submit"] {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    padding: 14px 30px;
    border-radius: 3px;
    border: none;
    background-color: #00a6e0;
    display: inline-block;
}

.modal {
    z-index:9999;
}


/*--------------End Custom Select---------------*/


/*=====================END GLOBAL STYLES========================*/


/*=========================HEADER===============================*/

#preview-live {
    padding:9px 15px;
    font-size:18px;
    font-weight: 200;
}

#header {
    background: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.20);
    padding: 4px 0;
    position: relative;
}

#header .logo {
    float: left;
}


/*------------------Main Nav-------------------*/

#header .main-nav {
    float: right;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 0;
}

#header .main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#header .main-nav ul li {
    float: left;
}

#header .main-nav ul li + li {
    margin-left: 35px;
}

#header .main-nav a {
    display: inline-block;
    color: #4b4c4c;
    padding: 5px;
}

@media screen and (max-width: 767px) {
    #header .main-nav {
        /*display: none;*/
    }

    .modal-content {
        max-width:100%;
        width:100%;
    }

    .logo {
        max-width:100px;
        width:100%;
    }

    .logo a {
        display:block;
    }

    .logo a img {
        width:100%;
    }
}


/*----------------End Main Nav-----------------*/


/*----------------MOBILE NAV--------------------*/

.menu-trigger {
    display: none;
    float: right;
    font-size: 40px;
    color: #1e1e1e;
    cursor: pointer;
}

#mobile-nav {
    transition: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    display: none;
}

#mobile-nav ul {
    background: #00a6e0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 10px;
}

#mobile-nav ul li {
    padding: 5px;
}

#mobile-nav a {
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 15.6px;
    padding: 10px;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .menu-trigger {
        display: block;
    }
}


/*--------------END MOBILE NAV------------------*/


/*=======================END HEADER=============================*/


/*=========================FOOTER===============================*/

#footer {
    background: #2c3742;
    text-align: center;
    padding: 23px 0;
}

#footer p {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: #f8f8f8;
}


/*=======================END FOOTER=============================*/


/*====================SECTION FIND JOBS=========================*/

#find-jobs {
    background: url('../files/images/find-jobs-banner.jpg') no-repeat center top / cover;
    padding: 180px 0 168px;
}

#find-jobs h1 {
    text-align: center;
    color: #fff;
    font-size:32px;
    font-weight:200!important;
}

#find-jobs .form-wrap {
    text-align: center;
}

#find-jobs .search-wrap {
    display: block;
    margin: 0 auto 40px;
    max-width: 712px;
    width: 100%;
}

#find-jobs .custom-select select {
    min-width: 200px;
    max-width: 200px;
}

#find-jobs .custom-select-wrap {
    display: inline;
}

#find-jobs .custom-select-wrap + .custom-select-wrap {
    margin-left: 16px;
}

#find-jobs .search-wrap input[type="text"] {
    width: 512px;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 52px;
        border: 1px solid #ebebeb;
    border-right: 0px;
}

#find-jobs .search-wrap input[type="submit"] {
    width: 200px;
    float: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 52px;
}

@media screen and (max-width:1023px) {
    #find-jobs {
        padding: 10% 0 5%;
    }
}

@media screen and (max-width: 1124px) {
    .options-wrap.select-placeholder {
        margin: 0 auto;
        text-align: left;
        width: 712px;
    }
    #find-jobs .custom-select-wrap.select4 {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    #find-jobs .search-wrap input[type="text"] {
        width: 75%;
    }
    #find-jobs .search-wrap input[type="submit"] {
        width: 25%;
    }
    .options-wrap.select-placeholder {
        margin: 0 auto;
        text-align: left;
        width: 440px;
    }
    #find-jobs .custom-select-wrap.select3 {
        margin-left: 0;
    }
    #find-jobs .custom-select-wrap.select4 {
        margin-left: 16px;
    }
    #find-jobs .custom-select-wrap.select5 {
        margin-left: 0;
    }
}

@media screen and (max-width:540px) {
    #find-jobs .search-wrap input[type="text"] {
        width: 90%;
        margin-bottom: 20px;
        float: none;
        border-radius: 3px;
    }
    #find-jobs .search-wrap input[type="submit"] {
        width: 45%;
        float: none;
        border-radius: 3px;
    }
    .options-wrap.select-placeholder {
        width: 100%;
        text-align: center;
    }
    #find-jobs .custom-select-wrap {
        display: block;
    }
    #find-jobs .custom-select-wrap + .custom-select-wrap {
        margin-left: 0;
    }
}


/*==================END SECTION FIND JOBS=======================*/


/*===================SECTION INFO NUMBERS=======================*/

#info-numbers {
    background: #fff;
    position: relative;
    text-align: center;
}

#info-numbers:after {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #fff;
    content: "";
    display: block;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: 100%;
    transition: all 0.25s ease 0s;
}

#info-numbers .number-wrap {
    padding: 10px 0;
}

#info-numbers .item-wrap {
    display: inline-block;
    padding: 0 30px;
    text-align: left;
}

#info-numbers .item-wrap .item-number {
    display: inline-block;
    font-size: 50px;
    line-height: 60px;
    color: #00a6e0;
    margin-right: 18px;
    vertical-align: middle;
}

#info-numbers .item-wrap .item-text {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    color: #565656;
    text-transform: uppercase;
    vertical-align: middle;
}

@media screen and (max-width: 1060px) {
    #info-numbers .item-wrap .item-number {
        font-size: 40px;
        line-height: 50px;
        margin-right: 10px;
    }
    #info-numbers .item-wrap .item-text {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1000px) {
    #info-numbers .item-wrap {
        padding: 0 20px;
    }
    #info-numbers .item-wrap .item-number {
        font-size: 36px;
        line-height: 50px;
        margin-right: 10px;
    }
    #info-numbers .item-wrap .item-text {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 767px) {
    #info-numbers .item-wrap {
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }
    #info-numbers .item-wrap + .item-wrap {
        margin-top: 30px;
    }
    #info-numbers .item-wrap .item-number {
        font-size: 50px;
        line-height: 60px;
        margin-right: 0;
        width: 100%;
    }
    #info-numbers .item-wrap .item-text {
        font-size: 20px;
        line-height: 24px;
        width: 100%;
    }
}


/*=================END SECTION INFO NUMBERS=====================*/


/*=====================SECTION JOB LIST=========================*/

#jobs {
    background: #eaeaea;
    padding: 60px 0;
}

.job-list {
    list-style: none;
    padding: 0;
    margin: 0 -10px;
}

.job-list li {
    display: inline-block;
    float: left;
    width: 33.33%;
    padding: 20px 10px;
}

.job-list .job-wrap {
    padding: 20px 20px 0;
    border-radius: 4px;
    background: #fff;
}

.job-list .job-header {
    position: relative;
}

.job-list .job-comapany-logo {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: auto;
}

.job-list .job-title {
    display: inline-block;
    padding-left: 0px;
    width: 100%;
    height: 82px;
}

.job-list .job-title h2 {
    color: #565656;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    height: 40px;
}

.job-list .job-title .job-location {
    color: #565656;
    font-size: 14px;
    line-height: 20px;
}

.job-list .job-text {
    
    font-size: 13px;
    line-height: 18px;
    padding: 20px 0;
    vertical-align: bottom;
}

#reward-sum {
    color: #2F829F;
    font-size: 20px;
    font-weight: 700;

}

#reward-label {
    font-size: 20px;
}

.job-list .job-reward {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    border-top: 1px solid #dcdcdc;
    margin: 0 -20px;
}

.job-list .job-reward > p {
    margin: 12px 0;
}

.job-list .job-buttons {
    margin: 0 -20px;
    text-align: center;
}

.job-list .job-buttons a {
    display: inline-block;
    float: left;
    width: 50%;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding: 12px 0;
}

.job-list .job-buttons a.recommend {
    background: #ff8603;
    border-bottom-left-radius: 4px;
}

.job-list .job-buttons a.share {
    background: #00A6E0;
    border-bottom-right-radius: 4px;
}

@media screen and (max-width: 1023px) {
    .job-list li {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .job-list li {
        width: 100%;
    }
}


/*===================END SECTION JOB LIST=======================*/


/*=========================LANDING==============================*/


/*-----------Landing Custom styles--------------*/


/*.landing #header {
    background: transparent;
    border: none;
}
*/

.landing #header {
    margin-bottom: -90px;
}

.landing #header {
    margin-bottom: -90px;
}

.landing #header .main-nav a {
    color: #333;
}

.landing #mobile-nav ul {
    background: #fff;
}

.landing #mobile-nav a {
    color: #333;
}


/*---------End Landing Custom styles------------*/


/*======================SECTION LOGIN===========================*/

#remembermelogin {
    color:#6d6d6d;
    font-weight:300!important;
}

#log-in {
    background: url('../files/images/landing-banner.jpg') no-repeat center top / cover;
    padding: 220px 0 160px;
}

#feature-top {
    padding: 90px 0 0 0;
}

.sub-head {
    color: #6D6D6D;
    font-weight:300;
}

#log-in .box-login {
    background: rgba(255, 255, 255, .6);
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-weight:300;
}

#log-in .box-login .box-login-head h1 {
    color: #6D6D6D;
    font-size: 68px;
    line-height: 72px;
    font-weight: 500;
    margin: 0 0 20px;
}

#log-in .box-login .box-login-head h1 img,
#log-in .box-login .box-login-head h1 span {
    display: inline-block;
    vertical-align: middle;
}

#log-in .box-login .box-login-head h1 img {
    margin-top: 9px;
    width: auto;
    height: 100%;
}

#log-in .box-login .box-login-head p {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 55px;
}

#log-in .box-login .form-wrap {
    text-align: center;
}

#log-in .box-login .form-wrap .sign-in {
    font-size: 32px;
    line-height: 28px;
}

#log-in .box-login .form-wrap input[type="text"], #log-in .box-login .form-wrap input[type="password"], #log-in .box-login .form-wrap input[type="submit"] {
    max-width: 300px;
    width: 100%;
}

#log-in .box-login .form-wrap input[type="checkbox"]
{
    width: 18px;
    height: 18px;
    background: #fff;
}

#log-in .box-login .form-wrap input[type="submit"] {
    font-weight: 600;
    background: #00516d;
}

#log-in .box-login .form-wrap .username input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#log-in .box-login .form-wrap .password input {
    border-top: 1px solid #dcdcdc;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

#log-in .box-login .form-wrap .login-links-wrap {
    max-width: 300px;
    width: 100%;
    display: inline-block;
    margin-top: 15px;
}

#log-in .box-login .form-wrap .login-links-wrap a {
    font-size: 14px;
    line-height: 20px;
    color: #6D6D6D;
}

#log-in .box-login .form-wrap .login-links-wrap .log-linked {
    float: left;
}

#log-in .box-login .form-wrap .login-links-wrap .forgot-pass {
    float: right;
}

@media screen and (max-width: 1024px) {
    #log-in {
        padding: 140px 0 60px;
    }
}

@media screen and (max-width: 750px) {
    #log-in {
        padding: 210px 0 60px;
    }
    #log-in .box-login {
        border-radius: 0;
        padding: 20px;
    }
    #log-in .box-login .box-login-head h1 {
        color: #6d6d6d;
        font-size: 30px;
        line-height: 50px;
    }
    #log-in .box-login .box-login-head h1 img {
        height: 24px;
        margin-top: 4px;
    }
    #log-in .box-login .box-login-head p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }
    #log-in .box-login .form-wrap .login-links-wrap a {
        font-size: 12px;
        line-height: 20px;
    }
}


/*=====================END SECTION LOGIN========================*/


/*----Section Alternate with photo and text-----*/

.sections-item {
    direction: rtl;
    overflow: hidden;
}

.sections-item.leftText {
    direction: ltr;
}

.sections-item .image-text {
    white-space: nowrap;
}

.sections-item .image-text-wrap {
    display: inline-block;
    white-space: normal;
    width: 100%;
    max-width: 820px;
    /*overflow: hidden;*/
    vertical-align: top;
    padding: 0 10px;
}

.sections-item .image-text-wrap.image {
    padding-left: 30px;
}

.sections-item.leftText .image-text-wrap.image {
    padding-right: 30px;
}

.sections-item.leftText .image-text-wrap.image > img {
    float: right;
}

.sections-item .image-text-wrap {
    direction: ltr;
    width: 30%;
}

.sections-item .image-text-wrap + .image-text-wrap {
    width: 69%;
}

.sections-item .body-text-wrap {
    font-size: 16px;
    line-height: 26px;
    margin-top:10px;
}

.sections-item h2 {
    color: #1198d5;
    font-size: 60px;
    line-height: 72px;
    font-weight: 500;
    margin: 0 0 110px;
}

.sections-item h2 img,
.sections-item h2 span {
    display: inline-block;
    vertical-align: middle;
}

.sections-item h2 img {
    margin-top: 0px;
    width: auto;
    height: 100%;
}

@media screen and (max-width: 1264px) {
    .sections-item .image-text-wrap {
        padding-left: 40px;
    }
    .sections-item.leftText .image-text-wrap {
        padding-right: 40px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 1223px) {
    .sections-item .image-text-wrap {
        width: 27%;
    }
    .sections-item .image-text-wrap + .image-text-wrap {
        width: 72%;
    }
}

@media screen and (max-width: 960px) {
    .sections-item .image-text-wrap {
        width: 24%;
    }
    .sections-item .image-text-wrap + .image-text-wrap {
        width: 76%;
    }
    .sections-item h2 {
        margin: 0 0 60px;
    }
}

@media screen and (max-width: 767px) {
    .sections-item .image-text-wrap.image {
        display: none;
    }
    .sections-item.leftText .image-text-wrap {
        padding-right: 10px;
        padding-left: 10px;
    }
    .sections-item .image-text-wrap.text-wrap {
        width: 100%;
        max-width: none;
        padding-right: 10px;
        padding-left: 10px;
    }
    .sections-item h2 {
        margin: 0 0 40px;
    }
}

@media screen and (max-width: 540px) {
    .sections-item h2 {
        color: #1198d5;
        font-size: 34px;
        line-height: 62px;
        font-weight: 500;
        margin: 0 0 20px;
    }
    .sections-item h2 img {
        margin-top: 1px;
        height: 30px;
    }
}


/*--END Section Alternate with photo and text---*/


/*------------Justified icon list---------------*/

ul.justified-icon-list {
    list-style: none;
    margin: 0 0 90px;
    padding: 0;
    /*display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;*/
}

ul.justified-icon-list li {    
    display: inline-block;
    width: 14%;
    float: left;
}

ul.justified-icon-list li.icon-lins1 {
    text-align: left;
}

ul.justified-icon-list li.icon-lins2 {
    text-align: center;
}

ul.justified-icon-list li.icon-lins3 {
    text-align: right;
}

ul.justified-icon-list li img {
    width: 100%;
}


/*ul.justified-icon-list li + li {
    margin-left: 30px;
}*/

@media screen and (max-width: 1224px) {
    ul.justified-icon-list li {
        height: 154px;
    }
}

@media screen and (max-width: 960px) {
    ul.justified-icon-list li {
        height: 120px;
    }
    ul.justified-icon-list {
        margin: 0 0 40px;
    }
}

@media screen and (max-width: 767px) {
    ul.justified-icon-list li {
        height: 120px;
    }
    ul.justified-icon-list {
        margin: 0 0 40px;
    }
}

@media screen and (max-width: 540px) {
    ul.justified-icon-list {
        margin: 0 0 20px;
    }
    ul.justified-icon-list li {
        height: 80px;
    }
}


/*----------End Justified icon list-------------*/


/*---------List with image and text-------------*/

ul.links-list {
    list-style: none;
    padding: 0;
    margin: 60px 0 0;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
}

ul.links-list li {
    display: inline-block;
    float: left;
}

ul.links-list li.s1 {
    width: 160px !important;
}

ul.links-list li.s2 {
    width: 280px !important;
}

ul.links-list li.s3 {
    width: 330px !important;
}

ul.links-list li + li {
    
}

ul.links-list li img {
    margin-right: 10px;
    vertical-align: middle;
    float: left;
}

ul.links-list li a {
    color: #6a6a6a;
}

ul.links-list li.selected a {
    color: #1198d5;
}

@media screen and (max-width: 1100px) {
    ul.links-list {
        font-size: 18px;
        line-height: 22px;
    }
    ul.links-list li img {
        height: auto;
        width: 22px;
    }
}

@media screen and (max-width: 640px) {
    ul.links-list li {
        display: block;
    }
    ul.links-list li + li {
        margin-left: 0;
        margin-top: 20px;
    }
}


/*---------List with image and text-------------*/


/*=====================Section What it==========================*/

#what-is .text-wrap {
    padding-top: 50px;
    padding-bottom: 20px;
}

@media screen and (max-width: 960px) {
    #what-is.sections-item .image-text-wrap.image {
        height: 700px
    }
    #what-is.sections-item .image-text-wrap.image img {
        height: 100%;
        width: auto;
    }
    #what-is .text-wrap {
        padding-top: 80px;
    }
}

@media screen and (max-width: 767px) {
    #what-is .text-wrap {
        padding-top: 40px;
    }
}

@media screen and (max-width: 540px) {
    #what-is .text-wrap {
        padding-top: 30px;
    }
}


/*===================END Section What it========================*/


/*========================Recomand==============================*/

#recomand.sections-item {
    padding-top: 90px;
    padding-bottom: 90px;
    background: #f3f3f3;
}

#recomand h2 {
    margin-bottom: 40px;
}

@media screen and (max-width: 1100px) {
    #recomand h2 {
        color: #1198d5;
        font-size: 34px;
        line-height: 62px;
        font-weight: 500;
        margin: 0 0 20px;
    }
}

@media screen and (max-width: 960px) {
    #recomand.sections-item .image-text-wrap.image {
        height: 400px
    }
    #recomand.sections-item .image-text-wrap.image img {
        height: 100%;
        width: auto;
    }
    #what-is .text-wrap {
        padding-top: 80px;
    }
    
    .home-text
    {
        font-size: 12px;
    }
}


/*======================END Recomand============================*/


/*=======================END LANDING============================*/


.home-text
{
    width: 45%; 
    float:left; 
    margin-top: 9%;
    margin-right: 1%;
    text-align: right;
}

p.slick
{
    display: none;   
}

p.benefits
{
    display: none;
}

.slick-disabled
{
    opacity: 0.2;   
}

.slick-enabled
{
    opacity: 1 !important;   
}

.slick-prev, .slick-next
{
    display: none !important
}

ul.social-share, ul.social-share li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.social-share li
{
    float: left;
    margin-right: 5px;
    padding: 12px 30px 19px 57px;
    cursor: pointer;
}

ul.social-share li a
{
    color: #fff;
}

ul.social-share li.facebook
{
    background: url("/resources/frontend/images/facebook.png") no-repeat top center;    
}

ul.social-share li.linkedin
{
    background: url("/resources/frontend/images/ln.png") no-repeat top center;    
}

ul.social-share li.twitter
{
    background: url("/resources/frontend/images/twitter.png") no-repeat top center;    
}

ul.social-share li.gplus
{
    background: url("/resources/frontend/images/gplus.png") no-repeat top center;    
}
.modal-content
{
    width: 800px;
}

.icon-lins img
{
    width: 100%;
}

.ajaxify input, .ajaxify textarea
{
    border: 1px #00516d solid;
}

.ajaxify label
{
    font-size: 14px;
}

a.dropdown-toggle img
{
    /*width: 25px;*/
}

ul.dropdown-menu li
{
    margin-left: 2px !important;
    width: 100%;
}

ul.dropdown-menu li i
{
    margin-right: 4px;
}

.btn-info
{
    background-color: #0e8bb6;
    border-color: #0e8bb6;
}

.btn-info:hover, .btn-info:focus
{
    background-color: #393b3a;
    border-color: #393b3a;
}

.feature-wrap
{
    font-size: 14px;
}

.feature-wrap img
{
    float: left;
    margin-right: 1%;
    width: 14%;
}

.feature-wrap span
{
    float: left;
    margin: 0;
    padding: 0;
    width: 85%;
    height: 189px;
    overflow-y: hidden;
}

.feature-wrap span.visible
{
    height: auto;
}

a.view-more
{
    color: #0e8bb6;
    text-decoration: none;
    margin-top: 5px;
}

a.view-more:hover
{
    color: #393b3a;
    text-decoration: underline;
}

ul.level1 li a.active
{
    text-decoration: underline;
}

.social-sharing ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social-sharing ul li
{
    list-style-type: none;
    float: left;
    margin-right: 10px;
}

.box-filters
{
    background: rgba(255, 255, 255, .8);
    background: rgba(0, 0, 0, 0.23);
    padding: 30px 10px 30px 10px;
}

#find-jobs .custom-select select {
    border:1px solid #ebebeb;
}

.modal-content, p.modal-title, .modal-body strong, .modal-body h3
{
    font-size: 14px;
}

.modal-content input
{
    font-size: inherit !important;
    font-family: inherit !important;
    color: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    padding: inherit !important;
    border: 1px solid #ccc;
    
    background-color: inherit !important;
    
}
@font-face {
    font-family: semibold;
    src: url(OpenSans-Semibold.ttf);
}
    .box-login-head h2:nth-child(2) {
    /*display: none;*/
}
.fa-bars:before{
    color:#fff;
}
@media all and (min-width: 540px) and (max-width: 1050px){
    .mobile-login{
        height: 96%;
    }
    #log-in{
        height: 100%;
    }
}