@import url(https://fonts.googleapis.com/css?family=Roboto:500,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import "variables.less";
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }

@my-font : 'Open Sans', sans-serif; 
.my-font { font-family: 'Open Sans', sans-serif;}
.alert-success {
    .border-radius(0px);
}
.my-green-button {
    &:hover , &:focus , &:active {
        background:#7dcc93;
        color: #FFF;
    }
    margin : 5px;
    text-align: center ;
    display: block;
    background:#7dcc93;
    width:127px;
    padding: 11px;
    .my-font;
    top: 30px;
    .border-radius(4px);
    color : #FFF;
    span {
        .my-font ;
        font-size:14px;
        color:#ffffff;
        text-align:center;
    }
}
.no-pad-lft{
    padding-left: 0px;
}
.no-pad-rgt{
    padding-right: 0px;
}
.ats-txt-left {
    text-align: left;
}
span.ats_candidate {
    font-family:OpenSans;
    font-size:16px;
    color:#5b5b5b;
    text-align:left;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
}
.ats-mycsv-table {
    /*width: auto !important;*/
}
.table .checkbox {
    margin-left: 0px; 
}
table.ats-mycsv-table {
    box-shadow : none !important;
    .border-radius(0px);
    border:0px !important;
}
.radio, .checkbox {
    margin-bottom: 10px !important;
}
.ats-image {
    .border-radius(50%);
    width: 82px;
    height: 82px;
}
.ats-tbl-caname {
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    color:#515151;
    text-align:left;
}
h4.ats-app-history {
    .my-font;
    font-size:16px;
    color:#5b5b5b;
    text-align:left; 
}
.ats-job-app {
    .my-font;
    font-size:10px;
    color:#515151;
    text-align:left;
}
.ats-up-cv-txt {
    .my-font;
    font-size:9px;
    color:#a3a3a3;
    text-align:left;
}
.ats-job-position {
    .my-font;
    font-size:10px;
    color:#515151;
    text-align:left;
    font-weight: 600;
}
.ats-job-position-time {
    .my-font;
    font-size:10px;
    color:#515151;
    text-align:left;
}
div.div-ats-change-status {
    position: relative ;
    a.ats-change-status {
        &:hover , &:focus , &:active {
            background:#7dcc93;
            color: #FFF;
        }
        
        background:#7dcc93;
        width:127px;
        padding: 11px;
        .my-font;
        position: absolute;
        top: 30px;
        .border-radius(4px);
        color : #FFF;
        span {
            .my-font ;
            font-size:14px;
            color:#ffffff;
            text-align:center;
        }
    }
}

#header_ {
    background : #FFFFFF;
    div.row {
        text-align:center;
        font-family: 'Open Sans', sans-serif;
        font-size:14px;
        color:#ffffff;
        .ats-can {
            background:#F9F9F9;
            color : #6F6F6F;
            min-height: 93px;
            span {
                font-size:20px !important;
                color : #6F6F6F;
            }
        }
        .ats-app {
            background:#F9F9F9;
            color : #6F6F6F;
            min-height:93px;
                   span {
                font-size:20px !important;
            color : #6F6F6F;
            }
        }
        .ats-log {
            background:#F9F9F9;
            color : #6F6F6F;
            min-height:93px;
                   span {
                font-size:20px !important;
            color : #6F6F6F;
            }
        }
    }
}
.ats-content-1 {
    padding-left : 0px ;
    div {
        &:first-child {
            text-align: left ;
            text-align:left;
            h3 {
                font-size:18px;
                .my-font;
                color:#515151;
            }
        }
        
        &:nth-child(2){
            text-align: left ;
            text-align:left;
            span {
                font-size:12px;
                color:#515151;
                text-align:left;
                .my-font;
            }
        }
        &:last-child {
            text-align: left ;
            text-align:left;
            span {
                  font-size:12px;
                color:#515151;
                text-align:left;
                .my-font;
            }
        }
    }
}
nav#profile-skills {
    ul {
        padding-left : 0px;
        li {
            list-style: none;
            float: left;
            background: #3ac5d9;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            padding: 4px 10px;
            margin: 3px;
            color: #FFF;
            .my-font;
            /*font-weight: 600;*/
            font-size: 14px;
        }
    }
}
.download-pdf {
    content: "";
    display: inline-block;
    background-image: url(/resources/frontend/css/theme/icons/download-pdf.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 42px;
    margin-right: 20px;
}
.linkedin-download-pdf {
    content: "";
    display: inline-block;
    background-image: url(/resources/frontend/css/theme/icons/linkdiniconcv.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 42px;
    margin-right: 20px;
}
.ats-education {
    text-align: left ;
    h4 {
        .my-font;
        font-size:10px;
        color:#515151;
        text-align:left;
        font-weight: 600;
        margin: 0px;
    }
    p{
        .my-font ;
        font-size:10px;
        color:#515151;
        text-align:left;
        margin: 0px;
    }
    span{
        .my-font ;
        font-size:10px;
        color:#515151;
        text-align:left;
    }
}
.ats-viewed {
    text-align: center;
    color: #FFF;
    background:#F9F9F9;
            color : #6F6F6F;
    height:93px;
    span {
        font-size: 20px !important;
            color : #6F6F6F;
    }
}
.ats-note {
    background:#feffcc;
}
.ats-btn-green {
    .my-green-button;
}
.row-with-n-pad {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-left: 0px;
    margin-right: 0px;
    /*padding-bottom: 15px;*/
    background: #FFF;
}
a.ats-job-link:hover {
    text-decoration: underline;
}
.modal-dialog {
    .modal-content {
        width:100% !important;
        .modal-content {
        width:100% !important;
        }
    }
    
}
.ats-np-left {
    padding-left: 0px !important;
}
.txt-right {
    text-align: right;
}
    #myModalAts {
        .btn-primary {
            background-color: #7dcc93 !important ;
        }
        .btn-primary-custom {
            background-color: #3ac5d9 !important ;
        }
        margin: 200px auto !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        .modal-content {
            width : 100% !important;
            .modal-header {
                padding: 19px 20px 20px !important;
                    .modal-title {
                        margin: 0 !important;
                        font-family: 'Open Sans',sans-serif !important;
                        font-size: 16px !important;
                        color: #5b5b5b !important;
                        text-align: left !important;
                        font-weight: 400 !important;
                    }
                
            }
            .modal-body {
                    padding: 19px 20px 20px !important;
                    .row {
                         margin-left: 0px !important; 
                         margin-right: 0px !important; 
                         .col-md-12 {
                             padding-left: 0px;
                         }
                    }
                    .ats-status-close {
                        background: #FFFFFF;
                        color: #7dcc93;
                        .border-radius(4px);
                        .my-font;
                        font-size:14px;
                        border: 2px solid #7dcc93;
                        display: block;
                        &:hover, &:focus , &:active {
                        background: #FFFFFF;
                        color: #7dcc93;
                        .border-radius(4px);
                        .my-font;
                        font-size:14px;
                        }
                    }
                    .ats-status-save {
                        background: #7dcc93;
                        color: #FFFFFF;
                        .border-radius(4px);
                        .my-font;
                        font-size:14px;
                        border: 2px solid #7dcc93;
                        display: block;
                        &:hover, &:focus , &:active {
                        background: #7dcc93;
                        color: #FFFFFF;
                        .border-radius(4px);
                        .my-font;
                        font-size:14px;
                        }
                    }
            }
            .modal-footer {
                
            }
        }
    }
    .ettsysettyru {
        background: #DFE4EB ;
        div.col-md-1 {
            padding-top:30px;
            padding-bottom:30px;
            
            div.dropdown {
                button {
                    background-color: #3ac5d9;
                }
            }
        }
    }
    
    .dropdown-menu-skills {
        height: 400px;
        overflow: scroll;
    }
    
    .hide_dp {
        display: none !important;
    }
    .show_dp {
        display: inline-block !important;
    }
    .odiyertr {
        position: relative;
    }
    .siidur77r {
        position: absolute;
        z-index: 222;
    }
    ._eeuri {
        select {
            background : #3ac5d9;
            color: #FFF; 
            border: 1px solid #3ac5d9;
            option {
                margin: 40px;
                background: #FFF;
                color: #000;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
            }
        }
        
    }
    .table-bordered tbody tr:hover {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid #000000;
        /*transform: scale(1.1);*/
        cursor: pointer;
    }
    
    .select-style {
        border: 1px solid #ccc;
        width: 120px;
        border-radius: 3px;
        overflow: hidden;
        background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
    }

    .select-style select {
        padding: 5px 8px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
    }

    .select-style select:focus {
        outline: none;
    }
    .div-l-login {
        border-radius: 3px;
        background: #3ac5d9;
        color: #FFF;
        text-align: center;
        a{
            display: block;
            position: relative;
            top: 10px;
            color : #FFF ;
        }
    }
    
    div#note {
        position: relative;
       
    }
    img.add-note {
        position: absolute;
        right: 30px;
        bottom:15px;
        &:hover {
            cursor: pointer;
        }
    }
    .note-close {
        margin-right: 20px;
        padding: 9px 12px !important;
        padding: 10px;
        text-align: center;
        display: block;
        background: #7dcc93;
        padding: 11px;
        font-family: 'Open Sans',sans-serif;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        color: #FFF;
    }
    .note-save {
        padding: 9px 12px !important;
        padding: 10px;
        text-align: center;
        display: block;
        background: #7dcc93;
        padding: 11px;
        font-family: 'Open Sans',sans-serif;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        color: #FFF;
    }
    .add_personalize {
        background:#3ac5d9;
        height:24px;
        color: #FFF ;
        font-size:10px;
        text-align: center;
        .border-radius(2px);
        padding: 5px 15px 5px 15px;
        margin:15px;
            display: block;
    float: left;
    margin: 5px;
    }
    .see-more-ang {
        font-family: 'Open Sans',sans-serif;
        font-size:12px;
        color:#8e8e8e;
        h4{
            text-align:right ; 
        }
       
    }
    
    button:hover {
        cursor: pointer !important;
    }
    a:hover {
        cursor: pointer !important;
    }
    .note-close , .note-save {
        cursor: pointer;
    }
    
    .ats-jb-details{
        font-family: semibold;
        font-size: 20px;
        color: #333333;
        line-height: 19px;
        margin-top: 35px;
    }
    span.search-brain {
        background: #7DCC93;
        border-radius: 2px;
        width: 42px;
        height: 42px;
        padding: 10px;
    }
    
    table.ats-mycsv , .ats-candidadate-tbody ,app-table-height > tr > th{
        background: #FFF !important;
    }
    thead.app-table-height > tr > th{
        background: #FFF !important;
    }
    .fiigruytfsd {
        background: transparent ;
    }
    .sppsdod99d8f {
        padding: 20px;
    }
    .banned {
        background: #000101 !important;
        color : #FFF !important;
    }
    ._50table {
        width: 50% !important;
    }
    .hired {
        background: #7dcc93 !important;
        color: #FFF !important ;
    }
    
    