<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><?php echo $this->translate->_("contact");?> </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal ajaxify" method="POST" type="alert" action="/contact-form-ngo" enctype="multipart/form-data">                
                        <div class="form-group ">
                            <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("name");?></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" required="" name="name" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("email");?></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="email" required="" name="email" />
                            </div>
                        </div>                            
                        <div class="form-group ">
                            <label for="firstname" class="control-label col-lg-3">NGO</label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" required="" name="company" />
                            </div>
                        </div>       
                        <div class="form-group ">
                            <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("message");?></label>
                            <div class="col-lg-9">
                                <textarea name="message" class="form-control" required="" rows="5"></textarea>
                            </div>
                        </div>                                                                                                                                     
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-6">
                                <?php echo $this->element->id;?>
                                <button class="btn btn-warning" type="submit"><?php echo $this->translate->_("send");?></button>
                                <button class="btn btn-default close-modal" type="button"><?php echo $this->translate->_("cancel");?></button>
                            </div>
                        </div>                           
                    </form>
                </div>                
            </div>  
        </div>      
    </div>
</div>