<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Bounty Documents Personalization Options</h4>
            
            
        </div>
        <div class="modal-body">
            <div class="row">
                <h5><?php echo $this->translate->_("firstname");?>: [user.firstname]</h5>
                <h5><?php echo $this->translate->_("lastname");?>: [user.lastname]</h5>
                <h5><?php echo $this->translate->_("email");?>: [user.email]</h5>
                <h5><?php echo $this->translate->_("address");?>: [user.address]</h5>
                <h5><?php echo $this->translate->_("company");?>: [user.company]</h5>
                <h5><?php echo $this->translate->_("bank");?>: [user.bank]</h5>
                <h5><?php echo $this->translate->_("iban");?>: [user.iban]</h5>
                <h5><?php echo $this->translate->_("cui");?>: [user.cui]</h5>
                <h5><?php echo $this->translate->_("j");?>: [user.j]</h5>
                <h5><?php echo $this->translate->_("bounty_amount");?>: [bounty.amount]</h5>
                <h5><?php echo $this->translate->_("bounty_company");?>: [bounty.company]</h5>                
            </div>
        </div>      
    </div>
</div>