<?php
$bootstrap = Zend_Controller_Front::getInstance()->getParam('bootstrap')->getOptions();
$class = 'container';
if(Zend_Auth::getInstance()->hasIdentity()) {


    $modelJobs = new models_Jobs;
    $modelUser = new models_User;
    $how_it_works = $modelUser->getHowItWorks()['status'];

    $applications = $modelJobs->getCurrentApplications();
    $notifications = $modelJobs->getCurrentNotifications();
    $notification = $modelJobs->getCurrentNotification();
    $payments = $modelJobs->getCurrentPayments();
    $tooltipViews = $modelJobs->getTooltipViews();
    if (Zend_Auth::getInstance()->getIdentity()->type == 3) {
        $tooltipViews = 4;
    }

    $class = 'top-nav';
}
?>
<body>
<!-- Google Tag Manager -->
<!-- immediately after the opening <body> tag -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WSS4NW"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start':
                new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WSS4NW');</script>
<!-- End Google Tag Manager -->
<section id="container">
    <header id="header-that-i-want-to-hide" class="header fixed-top clearfix dash_yystd branding-navbar-background-color branding-navbar-text">

        <div class="<?= $class ?> clearfix nav-bar-signin">

            <?php if(Zend_Auth::getInstance()->hasIdentity()) echo $this->render("partials/header_components/languages.phtml") ?>

            <?php if($how_it_works) : ?>
                <?php echo $this->render("partials/header_components/how_it_works.phtml") ?>
            <?php endif ; ?>

            <?php if(Zend_Auth::getInstance()->hasIdentity()) : ?>
                <?php echo $this->render("partials/header_components/top_right_navs.phtml") ?>
            <?php else : ?>
                <?php echo $this->render("partials/header_components/login.phtml") ?>
            <?php endif ; ?>

        </div>

        <div class="sidebar-toggle-box">
            <i class="fa fa-bars mobmenu <?php echo (Zend_Auth::getInstance()->hasIdentity()) ? "user-logged" : 'user-guest' ?>"></i>
        </div>
    </header>
    <aside class="header_top">
        <?php echo $this->render("partials/header_components/logo.phtml") ?>
        <?php if(Zend_Auth::getInstance()->hasIdentity()) : ?>
            <?php echo $this->render("partials/logged/sidebar.phtml") ?>
        <?php endif ; ?>
    </aside>
</section>