<?php
$mContent = new models_Content ;
$sidebarMenu = $mContent->getUserMenu();
//$controller = $this->getRequest()->getControllerName();
$action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
$route = str_replace("_","-",Zend_Controller_Front::getInstance()->getRouter()->getCurrentRouteName());
?>
<div id="sidebar" class="nav-collapse">
    <div class="leftside-navigation branding-left-menu">
        <ul class="sidebar-menu" id="nav-accordion">

            <?php if(!empty($sidebarMenu)) : ?>
                <?php foreach($sidebarMenu as $index => $item) : ?>
                    <li class="<?php echo (!empty($item['submenu'])) ? 'sub-menu' : '' ; ?>">
                        <a <?php echo ($route == str_replace("/","",$item['link']) || $action == str_replace("/","",$item['link'])) ? ' class="active"' : ''; ?> href="<?php echo $item['link'] ?>">
                            <?php echo $this->translate->_($item['icon']); ?>
                            <span><?php echo ucfirst($this->translate->_(strtolower($item['label']))); ?></span>
                        </a current-menu="<?php echo $item['current_menu']; ?>">
                        <?php if(!empty($item['submenu'])) : ?>
                            <ul class="sub">
                                <?php foreach($item['submenu'] as $index => $subMenu) : ?>
                                    <li<?php echo ($this->current_sub_menu == $subMenu['current_menu']) ? ' class="active"' : ''; ?>>
                                        <a href="<?php echo $subMenu['link'] ; ?>">
                                            <?php echo $this->translate->_($subMenu['icon']); ?>
                                            <span><?php echo $this->translate->_(($subMenu['label'])); ?></span>
                                        </a>
                                    </li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif ; ?>
                    </li>
                <?php  endforeach; ?>
            <?php endif ; ?>

        </ul>
    </div>
</div>
