!--ats-->
<!--main content start-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
<section ng-app="myApp" ng-controller="jobs_details" ng-init="init()" id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;'; ?>">
    <section class="wrapper mycsv candidates _eeuri">
        <div class="row hidden-xs ettsysettyru">
            <div class=" col-sm-5 ">
                <h3 class="b-title pull-left m-tp-md ats-jb-details">
                    <?php echo $this->job['title'] ?>
                </h3>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <select ng-model="filterItem" ng-options="item.title for item in skilluri">

                </select>

            </div>
            <div class="col-md-1">
                <select ng-model="filterStatus">
                    <option value="{{k}}" ng-repeat="( k , v ) in st" ng-selected="{{k == statusIndex}}">{{v}}</option>
                </select>
                <!--<element ng-repeat="( k , v ) in st">{{k}} => {{v}}</element>-->
            </div>
            <div class="col-md-1 odiyertr">
                <div class="div-l-login">
                    <a ng-click="changeClass()" class="last-login" href="javascript:;"><span class="l-login">Last Login</span></a>
                    <date-picker format-date="formatDate"
                                 parse-date="parseDate"
                                 class="siidur77r"
                                 style="{{dp_class}}"
                                 on-date-selected="closeDropdown()"
                                 ng-model="date">
                    </date-picker>
                    <input style="opacity:0" ng-model="date">
                </div>

            </div>
            <!--            <div class="col-md-1">
                            <select data-show-subtext="true" data-live-search="true" ng-model="filterJobs" ng-options="item.title for item in jobs">

                            </select>
                        </div>-->
            <!--            <div class="col-md-1">
                             <select ng-model="filterDepartments" ng-options="item.title for item in departments">

                            </select>
                        </div>-->
            <div class="col-md-1">
                <span id="ser" class="search-brain" style="padding: 0px;width:0px">
                    <i class="glyphicon glyphicon-search _ttdydt55d4 branding-border-color-buttons branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius"></i>
                </span>
            </div>

        </div>
        <div class="row">
            <div  class="col-sm-12 no-pad">
                <div id="filter-area" class="filter-dbl kjdhfg" ><?php echo $this->form ?></div>
            </div>
            <div class="col-sm-12 no-pad">
                <div id="search-cont" class="_kkdjdhf" style="display:none">
                    <label>Search</label>
                    <input ng-model="searchbox" type="text" id="searchbox" class="form-control">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <section class="panel" >
                    <div class="panel-body fiigruytfsd">

                        <div class="row">
                            <div class="col-md-3 no-pad-rgt">
                                <!--                                <span class="ats_candidate"><?php echo $this->translate->_("ats_candidates"); ?></span>-->
                                <table class="ats-mycsv-table table table-bordered _0iir8r0">
                                    <thead class="app-table-height">
                                    <tr>
                                        <th>
                                            <?php echo $this->translate->_("ats_candidates"); ?>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="ats-candidadate-tbody" style="display: block;overflow-y: auto;{{tbody_height}}">
                                    <tr  ng-repeat="candidate in candidates | filter:customFilter | filter:filterDate | filter:filterStatusFunction | filter:filterJobsFunction | filter:filterDepartmentsFunction | filter:searchbox" class="{{candidate.is_banned}} {{candidate.is_hired}}" data-target="{{candidate.email}}">
                                        <td ng-click="getCandidateInfo(candidate.id)">
                                            <div class="checkbox checkbox-primary">
                                                <input value="{{candidate.id}}"  name="options[]" id="checkbox{{candidate.id}}" class="styled" type="checkbox" ng-model="active" ng-change="change(candidate.id, active)">
                                                <label for="checkbox{{candidate.id}}">
                                                </label>
                                            </div>

                                        </td>
                                        <td class="_50table" ng-click="getCandidateInfo(candidate.id)"> <a ng-cloak  href=""><span class="ats-tbl-caname {{candidate.is_banned}} {{candidate.is_hired}}">{{candidate.firstname}}</a></span></td>
                                        <td class="_50table" ng-click="getCandidateInfo(candidate.id)"> <a ng-cloak href=""><span class="ats-tbl-caname {{candidate.is_banned}} {{candidate.is_hired}}">{{candidate.lastname}}</span></a></td>
                                        <td>
                                            <div ng-if="candidate.id_parent > 0">
                                                <img src="/resources/admin/css/theme/ats/images/star.png" alt="recommended" />
                                            </div>

                                        </td>
                                    </tr>
                                    <!--<tr class="ats-height-fix" style="height : {{tbody_height}}px"></tr>-->
                                    </tbody>
                                </table>
                                <div class="row row-with-n-pad app-buton-action">
                                    <h4>Actions</h4>
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <a class="ats-btn-green" href="" ng-click="applicantsCahngeStatus()"><span>Change Status</span></a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="ats-btn-green" ng-click="atsHmMailing()" href=""><span>Send to HM</span></a>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <a ng-click="atsMailing()" class="ats-btn-green" href=""><span>Send Mail</span></a>
                                        </div>
                                        <div class="col-md-6">
                                            <a ng-click="exportcvs()" class="ats-btn-green" href=""><span>Export Cv's</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="header_" class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 ats-can">
                                        <h4>Source</h4>
                                        <span ng-cloak>{{candidate.recommender_name}} {{candidate.recommender_lname}}</span>
                                    </div>
                                    <div class="col-md-4 ats-app">
                                        <h4>Aplications:</h4>
                                        <span ng-cloak>{{candidate.application}}</span>
                                    </div>
                                    <div class="col-md-4 ats-log">
                                        <h4>Last Login:</h4>
                                        <span ng-cloak>{{candidate.last_login}}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12"> <div flash-message="3000" ></div></div>
                                    </div>
                                    <div class="col-md-6">
                                        <class class="row">
                                            <div class="col-md-6 ats-txt-left">
                                                <img ng-cloak ng-if="candidate.image" class="ats-image" src="/resources/files/user/{{candidate.image}}" alt="{{candidate.firstname}}" />
                                                <img ng-if="!candidate.image" class="ats-image" src="/resources/frontend/images/no-picture.jpg" alt="{{candidate.firstname}}" />
                                            </div>
                                            <div class="col-md-6 ats-content-1">

                                                <div>
                                                    <h3 ng-cloak>{{candidate.firstname}} {{candidate.lastname}}</h3>
                                                </div>
                                                <div>
                                                    <span ng-cloak>{{candidate.email}}</span>
                                                </div>
                                                <div>
                                                    <span ng-cloak>{{candidate.phone}}</span>
                                                </div>
                                            </div>
                                        </class>
                                    </div>
                                    <div class="col-md-6">


                                        <div class="div-ats-change-status">
                                                <a data-hash="{{candidate.email}}"
                                                   unique-app-id="{{application_job.job_application_id}}"
                                                   id-job="{{application_job.id}}"
                                                   ng-click="changeApplicationStatus()"
                                                   class="ats-change-status"
                                                   href="javascript:;"><span>change status</span>
                                                </a>


                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="ats-app-history">Foreign Languages</h4>
                                        <p ng-cloak class="ats-job-app">{{language_no_data}}</p>
                                        <div ng-cloak>
                                            <p class="ats-job-app">
                                                <element>
                                                    {{language}}
                                                </element>

                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <h4 class="ats-app-history">Aplications and status history</h4>
                                        <p ng-cloak class="ats-job-app">{{applications_no_data}}</p>
                                        <div ng-cloak ng-repeat="application in applications">
                                            <p class="ats-job-app">
                                                <a ng-click="getJobaStatus(application.job_application_id)" class="ats-job-link" href="javascript:;">
                                                    <element ng-if="application.modified_id > 0">
                                                        Job : {{application.title}} - ( Status : {{application.application_status}} - {{application.updated_application}} by {{application.modified_user}})
                                                    </element>
                                                    <element ng-if="application.modified_id == null">
                                                        Job : {{application.title}} - ( Application Date : {{application.application_date}})
                                                    </element>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12" ng-if="status_history.length > 0">
                                        <a href="javascript:;" class="see-more-ang" data-toggle="collapse" data-target="#demo"><h4 class="ats-app-history">See More </h4></a>
                                        <!--<button type="button" class="btn btn-info" >Simple collapsible</button>-->
                                        <div id="demo" class="collapse">

                                            <div ng-cloak ng-repeat="application in status_history">
                                                <p class="ats-job-app">
                                                    <a ng-click="getJobaStatus(application.job_application_id)" class="ats-job-link" href="javascript:;">
                                                        <element ng-if="application.modified_id > 0">
                                                            Job : {{application.title}} - ( Status : {{application.application_status}} - {{application.updated_application}} by {{application.modified_user}})
                                                        </element>
                                                        <element ng-if="application.modified_id == null">
                                                            Job : {{application.title}} - ( Application Date : {{application.application_date}})
                                                        </element>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="ats-app-history">Emails history</h4>
                                        <p ng-cloak class="ats-job-app">{{emails_no_data}}</p>
                                        <div ng-cloak ng-repeat="email in emails">
                                            <p class="ats-job-app">
                                                <a ng-click="showHistoryEmail(email.id)" class="ats-job-link" href="javascript:;">
                                                    <element>
                                                        Mail : {{email.subject}} - ( {{email.date}} ) - by {{email.firstname}} {{email.lastname}}
                                                    </element>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12" ng-if="email_history.length > 0">
                                        <a href="javascript:;" class="see-more-ang" data-toggle="collapse" data-target="#demo__"><h4 class="ats-app-history">See More </h4></a>
                                        <!--<button type="button" class="btn btn-info" >Simple collapsible</button>-->
                                        <div id="demo__" class="collapse">
                                            <div ng-cloak ng-repeat="e in email_history">
                                                <p class="ats-job-app">
                                                    <a ng-click="showHistoryEmail(e.id)" class="ats-job-link" href="javascript:;">
                                                        <element>
                                                            Mail : {{e.subject}} - ( {{e.date}} ) - by {{e.firstname}} {{e.lastname}}
                                                        </element>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clea-fix"></div>

                                <hr />
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 class="ats-app-history">Skills</h4>
                                        <p ng-cloak class="ats-job-app">{{skills_no_data}}</p>
                                        <nav id="profile-skills">
                                            <ul>
                                                <li ng-cloak ng-repeat="skill in skills">{{skill.title}}</li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="col-md-4">

                                        <div class="row">
                                            <element ng-cloak ng-if="candidate.linkedin_link != null ">
                                                <div class="col-md-6">
                                                    <div><a class="linkedin-download-pdf" target="_blank" href="{{candidate.linkedin_link}}"></a></div>
                                                    <div><span class="ats-up-cv-txt">Linkedin Profile</span></div>
                                                </div>
                                            </element>
                                            <element ng-cloak ng-if="candidate.file != null ">
                                                <div class="col-md-6">
                                                    <div><a class="download-pdf" target="_blank" href="/ajax/index/read-file?cv={{candidate.file}}"></a></div>
<!--                                                    <div><a class="download-pdf" target="_blank" href="/resources/files/cv/{{candidate.file}}"></a></div>-->
                                                    <div><span class="ats-up-cv-txt">Uploaded CV</span></div>
                                                </div>
                                            </element>

                                        </div>
                                    </div>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="ats-app-history">Job History</h4>
                                        <p ng-cloak class="ats-job-app">{{positions_no_data}}</p>
                                        <div ng-cloak ng-repeat="position in positions">
                                            <h4 class="ats-job-position">{{position.title}} @ {{position.company}}</h4>
                                            <p class="ats-job-position-time">{{position.start}} -
                                                <element ng-if="position.is_curent == 1">Present</element>
                                                <element ng-if="position.end ==  null">Present</element>
                                                <element ng-if="position.is_curent != 1">{{position.end}}</element>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="ats-app-history">Education</h4>
                                        <p ng-cloak class="ats-job-app">{{educations_no_data}}</p>
                                        <div ng-cloak class="ats-education" ng-repeat=" education in educations">
                                            <h4>{{education.title}}</h4>
                                            <p>{{education.field}}</p>
                                            <span>{{education.start}} - {{education.end}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2 ats-viewed">
                                <h4>Status:</h4>
                                <span ng-cloak>{{status}}</span>
                            </div>
                            <div class="col-md-2 ats-note">
                                <div id="note" >
                                    <div class="row" style="background: #FEFFE5; height: {{height}}px;overflow-y: scroll; overflow-x: hidden;padding-bottom:70px !important;">
                                        <div ng-cloak class="col-md-12" ng-repeat="n in note">
                                            <br />
                                            <br />
                                            <div>
                                                <strong>Recruiter : </strong> <span>{{n.firstname}} {{n.lastname}}</span>
                                                <br />

                                                <div ng-switch="n.general">
                                                    <div ng-switch-when="0">
                                                        <strong>Job : </strong> <span>{{n.title}}</span>
                                                    </div>
                                                    <div ng-switch-default>
                                                        <strong>Generale Note :</strong>
                                                    </div>
                                                </div>
                                                <div ng-switch="n.file">
                                                    <div ng-switch-when="null">
                                                    </div>
                                                    <div ng-switch-default>
                                                        <div><strong>file : </strong> <span><a target="_blank" href="/resources/files/notes/{{n.file}}">{{n.file}}</a></span></div>
                                                    </div>
                                                </div>
                                                <strong>Date : </strong> <span>{{n.date}}</span>
                                                <br />
                                            </div>
                                            <br />
                                            <div style="word-wrap: break-word;margin-bottom: 70px">
                                                {{n.note}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <element ng-if="show_add_note == '1'">
                                    <img ng-cloak style="top:{{note_add_height}}px" class="add-note" data-hash="{{candidate.email}}" ng-click="addNote()" id="add-note" src="/resources/admin/css/theme/ats/images/group_2.png" alt="" />
                                </element>

                            </div>
                        </div>





                        <div class="adv-table">
                            <div class="clearfix">
                            </div>
                            <div class="space15">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
</section>

<script>
    var arr = [];
    $("#checkboxAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
        arr = $.map($('input:checkbox:checked'), function (e, i) {
            return +e.value;
        });

    });
    var $checkboxes = $('td input[type="checkbox"]');
    $checkboxes.change(function () {
        arr = $.map($('input[type="checkbox"]:checked'), function (e, i) {
            return +e.value;
        })
    });


    $("#delCandidates").click(function () {


        if (confirm(trans_key['confirm_delete_user'])) {
            $.ajax({
                type: "POST",
                url: "delete-candidates",
                data: {"id": arr},
                success: function () {
                    location.reload();
                }
            })
        }

    });

    var language = ['ro', 'en', 'fr', 'hu'];
    var lang = "<?php echo $this->lang; ?>";
    var index = language.indexOf(lang);
    if (index >= 0) {
        language.splice(index, 1);
    }
    var allow = false;
    window.onload = function () {
        allow = true;
        $('span#' + lang).show();
        $('select.' + lang).show();

    };
    $("._oue66ety").on('click', function () {
        if (allow == false)
            return false;
    })
</script>