<?php
    $errors = $this->element->getMessages();

    if (!empty($this->email_confirmed)) {
        echo '<p class="message message-success bottom-spaced">' . $this->translate('login-email-confirmed-activation-message') . '</p>';
    }

    if (!empty($this->no_account_or_invalid)) {
        echo '<p class="message message-error bottom-spaced">' . $this->translate('login-no-account-or-invalid-message') . '</p>';
    }

    if (!empty($this->credentials_incorrect)) {
        echo '<p class="message message-error bottom-spaced">' . $this->translate('login-incorrect-credentials-message') . '</p>';
    }

    if (!empty($this->login_error_auth)) {
        echo '<p class="message message-error bottom-spaced">' . $this->translate('message-error') . '</p>';
    }

    if (!empty($this->isError)) {
        echo '<p class="message message-error bottom-spaced">' . $this->translate('message-error') . '</p>';
    }

    if (!empty($errors)) {
        echo '<p class="message message-error bottom-spaced">';
        echo !empty($errors['email']) ? ($this->translate('email') . ': <span class="normal">' . strtolower(@implode(', ', @$errors['email'])) . '.</span><br />') : '';
        echo !empty($errors['password']) ? ($this->translate('password') . ': <span class="normal">' . strtolower(@implode(', ', @$errors['password'])) . '.</span><br />') : '';
        echo '</p>';
    }
?>

<form action="/index/login" method="post" novalidate="novalidate">
    <div class="form-part js-field-container">
        <label for="email" class="form-label"><?php echo $this->translate('email'); ?></label>
        <input type="email" name="email" id="email" class="form-field js-auto-focus" required="required" data-email="true" autocapitalize="off" autocorrect="off" />
    </div>
    <div class="form-part js-field-container">
        <label for="password" class="form-label"><?php echo $this->translate('login-password'); ?></label>
        <input type="password" name="password" id="password" class="form-field" required="required" data-rule="min-length-5" />
    </div>

    <div class="form-btns form-btns-links clear">
        <div class="flleft txt-left">
            <a href="/index/lost-password#content"><?php echo $this->translate('login-lost-password'); ?></a><br />
            <a href="/index/register#content"><?php echo $this->translate('login-register'); ?></a>
        </div>
        <button class="sprite btn"><?php echo $this->translate('login-btn'); ?></button>
    </div>
</form>