<?php
	$errors = $this->element->getMessages();

	if (!empty($this->isError)) {
		echo '<p class="message message-error bottom-spaced">' . $this->translate('message-error') . '</p>';
	}

	if (!empty($errors)) {
		echo '<p class="message message-error bottom-spaced">';
		echo !empty($errors['email']) ? ($this->translate('email') . ': <span class="normal">' . strtolower(@implode(', ', @$errors['email'])) . '.</span><br />') : '';
		echo '</p>';
	}
?>

<form action="<?php echo Zend_Controller_Front::getInstance()->getRequest()->getRequestUri(); ?>#content" method="post" novalidate="novalidate">
	<div class="form-part js-field-container">
		<label for="email" class="form-label"><?php echo $this->translate('email'); ?></label>
		<input type="email" name="email" id="email" class="form-field js-auto-focus" required="required" data-email="true" autocapitalize="off" autocorrect="off" />
	</div>

	<div class="form-btns form-btns-links clear">
		<div class="form-btns-link"><a href="/#content"><?php echo $this->translate('lost-password-login'); ?></a></div>
		<button class="sprite btn"><?php echo $this->translate('lost-password-btn'); ?></button>
	</div>
</form>