<?php
    $this->element->name->setAttribs(array('class' => 'form-field js-auto-focus', 'id' => 'register-name', 'autocorrect' => 'off'));
    $this->element->email->setAttribs(array('class' => 'form-field', 'id' => 'register-email', 'required' => 'required', 'data-email' => 'true', 'autocapitalize' => 'off', 'autocorrect' => 'off'));
    $this->element->password->setAttribs(array('class' => 'form-field', 'id' => 'register-password', 'required' => 'required', 'autocapitalize' => 'off', 'autocorrect' => 'off', 'data-rule' => 'min-length-5'));
    $this->element->password_confirm->setAttribs(array('class' => 'form-field', 'id' => 'register-password-confirm', 'autocapitalize' => 'off', 'autocorrect' => 'off', 'data-match' => 'register-password'));
    $this->element->timezone->setAttribs(array('class' => 'form-field', 'id' => 'register-timezone', 'required' => 'required'));

    $errors = $this->element->getMessages();

    if (isset($this->result) && !$this->result) {
        echo '<p class="message message-error bottom-spaced">' . $this->translate('message-error') . '</p>';
    }

    if (isset($this->result) && $this->result) {
        echo '<p class="message message-success bottom-spaced">' . $this->translate('register-confirm-email-message') . '</p>';
    }

    if (!empty($errors)) {
        echo '<p class="message message-error bottom-spaced">';
        echo !empty($errors['name']) ? ($this->translate('name') . ': <span class="normal">' . strtolower(@implode(', ', @$errors['name'])) . '.</span><br />') : '';
        echo !empty($errors['email']) ? ($this->translate('email') . ': <span class="normal">' . strtolower(@implode(', ', @$errors['email'])) . '.</span><br />') : '';
        echo !empty($errors['password']) ? ($this->translate('login-password') . ': <span class="normal">' . strtolower(@implode(', ', @$errors['password'])) . '.</span><br />') : '';
        echo !empty($errors['password_confirm']) ? ($this->translate('register-password-confirm') . ': <span class="normal">' . strtolower(@implode(', ', @$errors['password_confirm'])) . '.</span><br />') : '';
        echo !empty($errors['timezone']) ? ($this->translate('register-timezone') . ': <span class="normal">' . strtolower(@implode(', ', @$errors['timezone'])) . '.</span><br />') : '';
        echo '</p>';
    }

    if (!isset($this->result) || !$this->result) {
?>

<form action="<?php echo Zend_Controller_Front::getInstance()->getRequest()->getRequestUri(); ?>#content" method="post" novalidate="novalidate">
    <div class="form-part js-field-container">
        <label for="register-name" class="form-label"><?php echo $this->translate('name'); ?></label>
        <?php echo $this->element->name; ?>
    </div>
    <div class="form-part js-field-container">
        <label for="register-email" class="form-label"><?php echo $this->translate('email'); ?></label>
        <?php echo $this->element->email; ?>
    </div>
    <div class="form-part js-field-container">
        <label for="register-password" class="form-label"><?php echo $this->translate('login-password'); ?></label>
        <?php echo $this->element->password; ?>
    </div>
    <div class="form-part js-field-container">
        <label for="register-password-confirm" class="form-label"><?php echo $this->translate('register-password-confirm'); ?></label>
        <?php echo $this->element->password_confirm; ?>
    </div>
    <div class="form-part js-field-container">
        <label for="register-timezone" class="form-label"><?php echo $this->translate('register-timezone'); ?></label>
        <?php echo $this->element->timezone; ?>
    </div>

    <div class="form-btns form-btns-links clear">
        <button class="sprite btn"><?php echo $this->translate('register-btn'); ?></button>
    </div>
</form>

<?php } ?>