  <form id="searchForm" method="POST" action="/home">
                  <?= $this->element->search ?>
  </form>

<script type="text/javascript">
    $(document).ready(function(){
        var $search = $("#search");
            var search_value = $search.val();
            if(search_value !== "") {
                $search.addClass("show");
            } else {
                $search.removeClass("show");
            }
            
    })
</script>