<?php $option = $this->element->getDecorator('ViewScript')->getOptions();
    $id_company = $option[0]["id_company"];
?>
<form id="upForm" action="/upload" method="POST" autocomplete="off">

    <div class=" form-group">
        <label for="firstname">First Name</label>
        <?php echo $this->element->firstname; ?>
    </div>
    <div class=" form-group">
        <label for="lastname">Last Name</label>
        <?php echo $this->element->lastname; ?>
    </div>

    <div class=" form-group">
        <label for="country">Country</label>
        <?php echo $this->element->country; ?>
    </div>

    <div class=" form-group">
        <label for="country">County</label>
        <?php echo $this->element->county; ?>
    </div>

    <div class=" form-group">
        <label for="location">City</label>
        <?php echo $this->element->location; ?>
    </div>

    <div class=" form-group">
        <label for="job_title">Job Title</label>
        <?php echo $this->element->job_title ?>
    </div>

    <div class=" form-group">
        <label for="lastjob_lifetime">Nr. of months on last job</label>
        <?php echo $this->element->lastjob_lifetime ?>
    </div>

    <div class=" form-group">
        <label for="company">Company</label>
        <?php echo $this->element->company ?>

    </div>


    <div class=" form-group">
        <label for="skills">Main Field Of Experience</label>
        <?php echo $this->element->skills ?>
    </div>

    <div class=" form-group">
        <label for="education">Education</label>
        <?php echo $this->element->education ?>

    </div>

    <div class=" form-group">
        <label for="foreign_language">Foreign Language</label>
        <?php echo $this->element->foreign_language ?>

    </div>
    
    <div class="form-group">
                    <a class="tms-cls" href="/terms-condition" data-target="#myModal" data-toggle="modal" >
                        <label for="terms" class="terms-chkb">Terms & Conditions</label></a>
                        <input class="form-control" type="checkbox" name="terms" checked required="required"/>
                </div>
    <div id="register-btn signin-mobile">
        <input type="submit" value="Complete Registration" class=" register-btn btn btn-default signin signinbutton custom_signinbutton" />
    </div>
    
</form> 

<script>
//    $(document).ready(function() {
//        $("select.select2").select2();
//    });
    </script>