                            <form class="cmxform" id="commentForm" method="POST" action="/edit-user">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <div>
                                            <label for="firstname" class="control-label"><?= $this->translate->_('firstname') ; ?></label>
                                            </div>
                                        <div>
                                                <?php echo $this->element->firstname; ?>
                                        </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <label for="lastname" class="control-label"><?= $this->translate->_('lastname') ; ?></label>
                                                <?php echo $this->element->lastname; ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ats ats-right">
                                        <div class="form-group ">
                                            <label for="email" class="control-label col-lg-3"><?= $this->translate->_('email') ; ?></label>
                                                <?php echo $this->element->email; ?>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ats">
                                        <div class="form-group ">
                                            <label for="phone" class="control-label col-lg-3"><?= $this->translate->_('phone') ; ?></label>
                                                <?php echo $this->element->phone; ?>
                                        </div> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 ats-12">
                                        <div class="form-group ">
                                            <label for="type" class="control-label"><?= $this->translate->_('type') ; ?></label>

                                                <?php echo $this->element->type; ?>
 
                                        </div>   
                                    </div>
                                </div>
                                <div id="recruter" class="row">
                                    <div class="col-md-12 ats-12">
                                    <p>
                                        <?= $this->translate->_('rec_add_txt') ; ?></p>
                                    </div>
                                </div>
                                <div id="hiring" class="row">
                                    <div class="col-md-12 ats-12">
                                        <p><?= $this->translate->_('hm_add_txt') ; ?> </p>
                                    </div>
                                </div>
                              
                               
                               
                                <?php if (Zend_Auth::getInstance()->getIdentity()->type == 3):?>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label"><?= $this->translate->_('company') ; ?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->id_company;?>
                                    </div>
                                </div>
                                <?php endif;?> 
                                
                                <div id="recruter-jobs" class="row">
                                    <div class="col-md-12 ats-12">
                                        <div class="form-group ">
                                            <label for="address" class="control-label"><?= $this->translate->_('jobs') ; ?></label>
                                                <?php echo $this->element->jobs; ?>
                                        </div>  
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 ats-12">
                                        <div class="form-group ">
                                            <label for="address" class="control-label"><?= $this->translate->_('department') ; ?></label>
                                                <?php echo $this->element->department; ?>
                                        </div>  
                                    </div>
                                </div>
                                                             
                                   

                                <div class="form-group">
                                    <div class="col-lg-offset-9 col-lg-3 ats-btn" style="    text-align: right;">
                                        <?php echo $this->element->id;?>
                                     
                                        <button class="btn btn-cancel" class="close" data-dismiss="modal" type="button"><?= $this->translate->_('cancel') ; ?></button>
                                           <button class="btn btn-submit" type="submit"><?= $this->translate->_('save') ; ?></button>
                                    </div>
                                </div>
                            </form>