
<?php $translate = Zend_Registry::get("Zend_Translate");
?>

<section class="panel">
    <header class="panel-heading">
        <?php echo $translate->_("billing"); ?>
<!--                        <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down"></a>
         </span>                        -->
    </header>
    <div class="panel-body">
        <div class="">
            <?php // echo $translate->_("add_billing_info"); ?> 

            <div class="space15"></div>
            <div class="tab-content">
                <div id="billing" class="tab-pane fade in active">

                    <form class="cmxform form-horizontal" id="BillingForm" method="POST" action="">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6 brain-no-pad">
                                    <label class=" control-label brain-left-label"><?php echo $translate->_("company_name"); ?></label>
                                    <?php echo $this->element->company_name ?>
                                </div>

                                <div class="col-md-6 brain-no-pad">
                                    <label class=" control-label brain-left-label"><?php echo $translate->_("bank_name"); ?></label>
                                    <?php echo $this->element->bank_name ?> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6 brain-no-pad">
                                    <label class=" control-label brain-left-label"><?php echo $translate->_("tva_code"); ?></label>
                                    <?php echo $this->element->tva_code ?>
                                </div>

                                <div class="col-md-6 brain-no-pad">
                                    <label class=" control-label brain-left-label"><?php echo $translate->_("iban"); ?></label>
                                    <?php echo $this->element->iban ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6 brain-no-pad">
                                    <label class=" control-label brain-left-label"><?php echo $translate->_("registration_number"); ?></label>
                                    <?php echo $this->element->registration_number ?>
                                </div>

                                <div class="col-md-6 brain-no-pad payment">
                                    <label class=" control-label brain-left-label"><?php echo $translate->_("payment_method"); ?></label><br />
                                    <div class="radio radio-primary">
                                        <input type="radio" name="payment_method" id="bank" value="1" checked>
                                        <label for="bank" class="doofif">
                                            Bank
                                        </label>
                                        <input type="radio" name="payment_method" id="paypal" value="2">
                                        <label for="paypal" class="doofif">
                                            Paypal
                                        </label>
                                        <input type="radio" name="payment_method" id="other" value="3">
                                        <label for="other" class="doofif">
                                            Other
                                        </label>
                                        <?php // echo $this->element->payment_method ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6 brain-no-pad">
                                    <label class=" control-label brain-left-label"><?php echo $translate->_("address"); ?></label>
                                    <?php echo $this->element->address ?>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>  
        </div>
    </div>
    <div class=" panel-footer">
        <button type="submit" class="btn btn-save branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
 pull-right"><?php echo $translate->_("save"); ?></button>
    </div>
</section>

<script type="text/javascript">
    (function ($) {
        $('button').on('click', function () {
            var data = $('#BillingForm').serialize() ;
            console.log(data);
        })

    })(jQuery);
</script>