
<?php $translate = Zend_Registry::get("Zend_Translate");
$option = $this->element->getDecorator('ViewScript')->getOptions();
?>

<section class="panel company_billing">
    <header class="pannel-header company-icon icon-lefted uppercase">
        <?php echo $translate->_("company"); ?>
<!--                        <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down"></a>
         </span>                        -->
    </header>
    <div class="panel-body">
        <div class="">
            <?php // echo $translate->_("add_billing_info"); ?> 

            <div class="space15"></div>
            <div class="tab-content">
                <div id="billing" class="tab-pane fade in active">

                    <form class="cmxform form-horizontal" id="CompanyForm" method="POST" action="/users/admin/company">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label  class=" control-label brain-left-label"><?php echo $translate->_("company_name"); ?></label>
                                    <?php echo $this->element->title ?>
                                </div>
                                <div class="form-group">
                                    <label  class=" control-label brain-left-label"><?php echo $translate->_("country"); ?></label>
                                    <?php echo $this->element->id_country ?>
                                    <span class="brain-back-drop branding-border-color-buttons
 
branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"><i class="caret"></i></span>
                                </div>
                                <div class="form-group">
                                    <label  class=" control-label brain-left-label"><?php echo $translate->_("city"); ?></label>
                                    <?php echo $this->element->id_city ?>
                                    <span class="brain-back-drop branding-border-color-buttons
 branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"><i class="caret"></i></span>
                                </div>
                                <div class="form-group">
                                    <label  class=" control-label brain-left-label"><?php echo $translate->_("industry"); ?></label>
                                    <?php echo $this->element->id_industry ?>
                                    <span class="brain-back-drop branding-border-color-buttons
 branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"><i class="caret"></i></span>
                                </div>
                                <div class="form-group">
                                    <label  class=" control-label brain-left-label"><?php echo $translate->_("track_timeline"); ?></label>
                                    <?php echo $this->element->track_timeline ?>
                                     <span class="brain-back-drop branding-border-color-buttons
 branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
"><i class="caret"></i></span>
                                </div>
                                  <div class="form-group padding_left">
                                        <label  class=" control-label dolldkf" ><?php echo $translate->_("bsp_bounty"); ?></label>

                                        <div class="checkbox checkbox-success">
                                            <?php echo $this->element->brainspotting_bounty ?>
                                            <label for="brainspotting_bounty">
                                                <?php echo $translate->_("bsp_bounty_"); ?>
                                            </label>
                                            <br />

                                           



                                        </div>
                                    </div>
                                <?php if(Zend_Auth::getInstance()->getIdentity()->type == 3) :?>
                                 <div class="form-group">
                                    <label  class=" control-label brain-left-label"><?php echo $translate->_("analytics"); ?></label>
                                    <?php echo $this->element->analytics ?>
                                </div>
                                
                                <div class="form-group padding_left">
                                        <label  class=" control-label dolldkf" ><?php echo $translate->_("Notification"); ?></label>

                                        <div class="checkbox checkbox-success">
                                            <?php echo $this->element->notification ?>
                                            <label for="checkbox3">
                                                <?php echo $translate->_("All admin receive mail on job apply"); ?>
                                            </label>
                                            <br />





                                        </div>
                                    </div>
                                <?php endif; ?>
<!--                                <div class="form-group">
                                    <label class=" control-label brain-left-label"><?php echo $translate->_("company_logo"); ?></label>
                                    <div id="logo" class="dropzone fix-mrgtp"></div>
                                </div>-->

                                <div class="form-group padding_left">
                                    <div class="form-group">
                                        <label class=" control-label brain-left-label">About us <a class="skkdif" href="/default/admin/about-us" data-target="#myModal" data-toggle="modal">Edit</a></label><br><br>
                                        <div class="terms-setting-wrapper">
                                            <?php echo htmlspecialchars_decode($option['about_us']) ; ?>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label  class=" control-label brain-left-label"><?php echo $translate->_("contact_person"); ?></label>
                                    <?php echo $this->element->contact_person ?>
                                </div>
                                <div class="form-group">
                                    <label  class=" control-label brain-left-label"><?php echo $translate->_("email"); ?></label>
                                    <?php echo $this->element->email ?>
                                </div>
                                <div class="form-group">
                                    <label  class=" control-label brain-left-label"><?php echo $translate->_("phone"); ?></label>
                                    <?php echo $this->element->phone ?>
                                </div>
                                <div class="form-group">
                                    <label  class=" control-label brain-left-label"><?php echo $translate->_("terms_and_Conditions"); ?> <a class="skkdif" href="/edit-terms" data-target="#myModal" data-toggle="modal"><?php echo $translate->_("edit"); ?></a></label><br /><br />
                                    <div class="terms-setting-wrapper">
                                        <?php echo htmlspecialchars_decode($option['content']) ; ?>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label  class=" control-label brain-left-label"><?php echo $translate->_("how_it_works"); ?> <a class="skkdif" href="/default/admin/edit-works" data-target="#myModal" data-toggle="modal"><?php echo $translate->_("edit"); ?></a></label><br /><br />
                                    <div class="terms-setting-wrapper">
                                        <?php echo htmlspecialchars_decode($option['how-it-works']) ; ?>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-6 fllfkg">
                                    <!--<div id="cover" class="dropzone"></div>-->
                                    <div class="form-group padding_left">
                                        <label  class=" control-label dolldkf" ><?php echo $translate->_("who_can_also_apply"); ?></label>

                                        <div class="checkbox checkbox-success">
                                            <?php echo $this->element->allow_employee_apply ?>
                                            <label for="checkbox2">
                                                <?php echo $translate->_("recommenders_employees"); ?>
                                            </label>
                                            <br />

                                           



                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label  class=" control-label dolldkf"><?php echo $translate->_("who_can_also_recommend"); ?></label>

                                        <div class="checkbox checkbox-success">
                                            <?php echo $this->element->allow_candidate_recommend ?>
                                            <label for="checkbox1">
                                                <?php echo $translate->_("candidates"); ?>
                                            </label>
                                            <br />

                                           <?php echo $this->element->allow_external ?>
                                            <label for="checkbox">
                                                <?php echo $translate->_("allow_external"); ?>
                                            </label>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->

                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                </div>  
            </div>
        </div>
        <div class=" panel-footer dkkfjg">
            <button type="submit" id="comany" class="btn btn-save branding-border-color-buttons
 branding-brand-button-background-color branding-brand-button-border-style branding-brand-button-border-width branding-brand-button-border-width branding-brand-button-text branding-brand-button-border-color branding-brand-button-border-radius
 pull-right"><?php echo $translate->_("save"); ?></button>
        </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        Dropzone.autoDiscover = false;
        Dropzone.options.myAwesomeDropzone = false;
        $("#logo.dropzone").dropzone({
            url: "/file/post",
            dictDefaultMessage: "<div class='brain-msg'><p>Drag and Drop the image here or use the button below</p><p>You logo needs a resolution of minim 600 x 315</p></div><div><button class='btn btn-brain'><span class='spn'>Select file</span></button></div>",
        });
        $("#cover.dropzone").dropzone({
            url: "/file/post",
            dictDefaultMessage: "<div class='brain-msg'><p>Drag and Drop the image here or use the button below</p><p>Cover info should be 848 x 140px</p></div><div><button class='btn btn-brain'><span class='spn'>Select file</span></button></div>",
        });

    });
    (function ($) {
        $('#comany').on('click', function () {
            var data = $('#CompanyForm').serialize();
            console.log(data);
        });
    })(jQuery);



</script>