            <form class="form-horizontal ajaxformprofile" method="POST" type="alert" action="/edit-company-alert" enctype="multipart/form-data">                
                <div class="form-group ">
                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("reccurence");?></label>
                    <div class="col-lg-6">
                        <?php if ($this->element->id->getValue() == 1):?>
                        <?php echo $this->element->applicants_alert;?>
                        <?php else:?>
                        <?php echo $this->element->applicants_status;?>
                        <?php endif;?>
                        <div class="clearfix"></div>
                    </div>
                </div>                                                                                                                            
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-6">
                        <?php echo $this->element->id;?>
                        <button class="btn btn-primary" type="submit"><?php echo $this->translate->_("save");?></button>
                        <button class="btn btn-default close-modal" type="button"><?php echo $this->translate->_("cancel");?></button>
                    </div>
                </div>
            </form>