                            <?php $translate = Zend_Registry::get("Zend_Translate");?>
                            <form class="cmxform form-horizontal" id="commentForm" method="POST" action="" enctype="multipart/form-data">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3">Title</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->title;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="lastname" class="control-label col-lg-3">Country</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->id_country;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="email" class="control-label col-lg-3">City</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->id_city;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3">Industry</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->id_industry;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3">Linkedin ID</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->linkedin_id;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3">Short Description</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->description;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3">Long Description</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->long_description;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="type" class="control-label col-lg-3">Email</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->email;?>
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <label for="password" class="control-label col-lg-3">Phone</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->phone;?>
                                    </div>
                                </div>     
                                <div class="form-group ">
                                    <label for="password" class="control-label col-lg-3">Type</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->company_type;?>
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <label for="password" class="control-label col-lg-3">Specialities</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->specialities;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="password" class="control-label col-lg-3">Founded</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->founded;?>
                                    </div>
                                </div>  
                                <?php if (Zend_Auth::getInstance()->getIdentity()->type == 3):?>
                                <div class="form-group ">
                                    <label for="phone" class="control-label col-lg-3">Status</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->status;?>
                                    </div>
                                </div>     
                                <?php endif;?>
                                <div class="form-group ">
                                    <label for="address" class="control-label col-lg-3">Image</label>
                                    <div class="col-lg-6">
                                        <input type="file" name="logo" id="logoCompany" class="form-control" /><br />
                                        <?php if ($this->element->logo->getValue() != ""):?>
                                        <img src="/resources/files/companies/list/<?php echo $this->element->logo->getValue();?>" id="company_logo" />
                                        <?php else:?>
                                        <img src=""  id="company_logo" class="hidden" />
                                        <?php endif;?>
                                        
                                        <p><?php echo $translate->_("upload_image_info_company");?></p>
                                    </div>
                                </div>         
                                <div class="form-group ">
                                    <label for="address" class="control-label col-lg-3">Cover Photo</label>
                                    <div class="col-lg-6">
                                        <input type="file" name="cover_1" id="" class="form-control" /><br />
                                        <?php if ($this->element->cover_1->getValue() != ""):?>
                                        <img src="/resources/files/companies/cover/<?php echo $this->element->cover_1->getValue();?>" id="cover_1" class="img-responsive" />
                                        <?php else:?>
                                        <img src=""  id="cover_1" class="hidden" />
                                        <?php endif;?>
                                        
                                        <p><?php echo $translate->_("upload_cover_info");?></p>
                                    </div>
                                </div>      
                                            
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?>
                                        <?php echo $this->element->redir;?>
                                        <button class="btn btn-primary" type="submit">Save</button>
                                        <button class="btn btn-default" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>                 
                            <script>
                            var newCKEdit_long_description  = CKEDITOR.replace('long_description', {
                                toolbarGroups: [
                                    { name: 'clipboard', groups: [ 'clipboard', 'undo' ]},
                            		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                                    { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align' ]}
                            	]
                            });
                            </script>           