
<?php $translate = Zend_Registry::get("Zend_Translate");?>
<form class="cmxform form-horizontal" id="commentForm" method="POST" action="/edit-template">
    <div class="">
        <div class="form-group ">
            <label for="type" class="control-label"><?php echo $translate->_("direction");?></label>
            <div class="">
                <?php echo $this->element->direction; ?>
            </div>
        </div>
    </div>

    <div class="">
        <div class="form-group ">
            <label for="type" class="control-label"><?php echo $translate->_("status");?></label>
            <div class="">
                <?php echo $this->element->status; ?>
            </div>
        </div>
    </div>

    <div class="">
        <div class="form-group ">
            <label for="phone" class="control-label"><?php echo $translate->_("subject");?></label>
            <div class="">
                <?php echo $this->element->subject; ?>
            </div>
        </div>
    </div>
    <div class="">
        <div class="form-group ">
            <label for="gender" class="control-label"><?php echo $translate->_("content");?></label>
            <div class="">
                <?php echo $this->element->content; ?>
            </div>
        </div>
    </div>


<!--    <div class="col-sm-12">-->
<!--        <div class="col-sm-6">-->
<!--         -->
<!--            <div class="form-group ">-->
<!--                <label for="lastname" class="control-label">--><?php //echo $translate->_("type");?><!--</label>-->
<!--                <div>-->
<!--                    --><?php //echo $this->element->type; ?>
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group ">-->
<!--                <label for="lastname" class="control-label">--><?php //echo $translate->_("frequency");?><!--</label>-->
<!--                <div>-->
<!--                    --><?php //echo $this->element->frequency; ?>
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group ">-->
<!--                <label for="type" class="control-label">--><?php //echo $translate->_("direction");?><!--</label>-->
<!--                <div class="">-->
<!--                    --><?php //echo $this->element->direction; ?>
<!--                </div>-->
<!--            </div> -->
<!--<!--            <div class="form-group ">-->
<!--                <label for="type" class="control-label">Email</label>-->
<!--                <div class="">-->
<!--                    --><?php //echo $this->element->email; ?>
<!--                </div>-->
<!--            </div> -->
<!--<!--            <div class="form-group ">-->
<!--                <label for="type" class="control-label">From</label>-->
<!--                <div class="">-->
<!--                    --><?php //echo $this->element->from; ?>
<!--                </div>-->
<!--            </div> -->
<!--            <div class="form-group ">-->
<!--                <label for="type" class="control-label">--><?php //echo $translate->_("status");?><!--</label>-->
<!--                <div class="">-->
<!--                    --><?php //echo $this->element->status; ?>
<!--                </div>-->
<!--            </div> -->
<!--        </div>-->
<!--        <div class="col-sm-6">-->
<!--            <div class="form-group ">-->
<!--                <label for="" class="control-label">--><?php //echo $translate->_("title");?><!--</label>-->
<!--                <div class="">-->
<!--                    --><?php //echo $this->element->title; ?>
<!--                </div>-->
<!--            </div> -->
<!--            <div class="form-group ">-->
<!--                <label for="phone" class="control-label">--><?php //echo $translate->_("subject");?><!--</label>-->
<!--                <div class="">-->
<!--                    --><?php //echo $this->element->subject; ?>
<!--                </div>-->
<!--            </div> -->
<!--            <div class="form-group ">-->
<!--                <label for="gender" class="control-label">--><?php //echo $translate->_("content");?><!--</label>-->
<!--                <div class="">-->
<!--                    --><?php //echo $this->element->content; ?>
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="col-lg-12">
        <hr />
        <div class="form-group">
            <div class="col-lg-offset-8 col-lg-4" style="text-align: right">
                <?php echo $this->element->id; ?>
                <button class="btn btn-cancel"  data-id="<?php echo $this->element->id->getValue() ; ?>" data-dismiss="modal" type="button">Cancel</button>
                <button class="btn btn-submit" type="submit"><?php echo $translate->_("save");?></button>
            </div>
        </div>
    </div>
</form>
<script>

    CKEDITOR.replace('content', {
        height: 250,
        toolbar:
            [
                {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                {name: 'basicstyles', items: ['Bold', 'Italic']},
                {name: 'tools', items: ['Maximize', '-', 'About']}
            ]
    });
//
//    CKEDITOR.replace('description', {
//        height: 250,
//        toolbar:
//            [
//                {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
//                {name: 'basicstyles', items: ['Bold', 'Italic']},
//                {name: 'tools', items: ['Maximize', '-', 'About']}
//            ]
//    });


</script>
<script>
    
    // $( document ).on( "click",".add_personalize", function() {
    //     for(var instanceName in CKEDITOR.instances){
    //           var editor = CKEDITOR.instances[instanceName];
    //       }
    //    var content = editor.getData();
    //    editor.setData(content+' '+$(this).html());
    // });

</script>