                            <form class="cmxform form-horizontal" id="commentForm" method="POST" action="">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo $this->translate->_("company");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->title;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="lastname" class="control-label col-lg-3"><?php echo $this->translate->_("cui");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->cui;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="email" class="control-label col-lg-3"><?php echo $this->translate->_("j");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->j;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3"><?php echo $this->translate->_("address");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->address;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3"><?php echo $this->translate->_("bank");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->bank;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="type" class="control-label col-lg-3"><?php echo $this->translate->_("firstname");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->firstname;?>
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <label for="password" class="control-label col-lg-3"><?php echo $this->translate->_("lastname");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->lastname;?>
                                    </div>
                                </div>     
                                <div class="form-group ">
                                    <label for="phone" class="control-label col-lg-3"><?php echo $this->translate->_("phone");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->phone;?>
                                    </div>
                                </div>     
                                <div class="form-group ">
                                    <label for="address" class="control-label col-lg-3"><?php echo $this->translate->_("email");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->email;?>
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <label for="gender" class="control-label col-lg-3"><?php echo $this->translate->_("payment_method");?></label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->payment_method;?>
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?>
                                        <button class="btn btn-primary" type="submit">Save</button>
                                        <button class="btn btn-default" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>