                            <form class="cmxform form-horizontal" id="commentForm" method="POST" action="">
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3">Firstname</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->firstname;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="lastname" class="control-label col-lg-3">Lastname</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->lastname;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="email" class="control-label col-lg-3">Email</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->email;?>
                                    </div>
                                </div>
                                <?php if (Zend_Auth::getInstance()->getIdentity()->type == 3):?>
                                <div class="form-group ">
                                    <label for="id_company" class="control-label col-lg-3">Company</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->id_company;?>
                                    </div>
                                </div>
                                <?php endif;?>                                
                                <div class="form-group ">
                                    <label for="type" class="control-label col-lg-3">Type</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->type;?>
                                    </div>
                                </div>                                   
                                <div class="form-group ">
                                    <label for="phone" class="control-label col-lg-3">Phone</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->phone;?>
                                    </div>
                                </div>     
                                <div class="form-group ">
                                    <label for="address" class="control-label col-lg-3">Address</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->address;?>
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <label for="gender" class="control-label col-lg-3">Gender</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->gender;?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="description" class="control-label col-lg-3">Other info</label>
                                    <div class="col-lg-6">
                                        <?php echo $this->element->description;?>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?>
                                        <button class="btn btn-primary" type="submit">Save</button>
                                        <button class="btn btn-default" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>