
<?php $translate = Zend_Registry::get("Zend_Translate");
?>
<style type="text/css">
    .select2-container {
        padding: 0px;
    }
    .select2-choices {
        background-image: none !important;
    }
    .text-left-lbl {
        text-align: left !important ;
        font-family:semibold;
        font-size:14px;
        color:#333333;
        line-height:19px;
        text-align:left;
    }
    .select2-search-choice {
        background:#3AC5D9;
        padding: 6px 28px 3px 5px;
        margin: 5px 0 3px 5px;
        width:auto;
        height:28px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
    .select2-container-multi .select2-choices .select2-search-choice {
        padding: 6px 28px 3px 5px;
        margin: 5px 0 3px 5px;
    }
 
</style>
<form class="cmxform form-horizontal" id="BillingForm" method="POST" action="">

    <div class="col-sm-6 brain-no-pad">
        <label class=" control-label brain-left-label text-left-lbl"><?php echo $translate->_("cities"); ?></label>
        <?php echo $this->element->cities ?>
    </div>


    <div class="col-sm-6 brain-no-pad">
        <label class=" control-label brain-left-label text-left-lbl"><?php echo $translate->_("filter_skills"); ?></label>
        <?php echo $this->element->skills ?>
    </div>
    <div class="col-sm-6 brain-no-pad">
        <label class=" control-label brain-left-label text-left-lbl"><?php echo $translate->_("experience"); ?></label>
        <?php echo $this->element->experience ?>
    </div>


    <div class="col-sm-6 brain-no-pad">
        <label class=" control-label brain-left-label text-left-lbl"><?php echo $translate->_("_department"); ?></label>
        <?php echo $this->element->department ?>
    </div>

    <!--    <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-6 brain-no-pad">
                    <label class=" control-label brain-left-label"><?php echo $translate->_("tva_code"); ?></label>
    <?php echo $this->element->tva_code ?>
                </div>
    
                <div class="col-md-6 brain-no-pad">
                    <label class=" control-label brain-left-label"><?php echo $translate->_("iban"); ?></label>
    <?php echo $this->element->iban ?>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-6 brain-no-pad">
                    <label class=" control-label brain-left-label"><?php echo $translate->_("registration_number"); ?></label>
    <?php echo $this->element->registration_number ?>
                </div>
    
                <div class="col-md-6 brain-no-pad payment">
                    <label class=" control-label brain-left-label"><?php echo $translate->_("payment_method"); ?></label><br />
                    <div class="radio radio-primary">
                        <input type="radio" name="payment_method" id="bank" value="1" checked>
                        <label for="bank">
                            Bank
                        </label>
                        <input type="radio" name="payment_method" id="paypal" value="2">
                        <label for="paypal">
                            Paypal
                        </label>
                        <input type="radio" name="payment_method" id="other" value="3">
                        <label for="other">
                            Other
                        </label>
    <?php // echo $this->element->payment_method ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-6 brain-no-pad">
                    <label class=" control-label brain-left-label"><?php echo $translate->_("address"); ?></label>
    <?php echo $this->element->address ?>
                </div>
            </div>
        </div>-->

</form>

<script type="text/javascript">
    (function ($) {
        $('button').on('click', function () {
            var data = $('#BillingForm').serialize();
            console.log(data);
        })

    })(jQuery);
</script>
