<section id="main-content" style="<?php echo (Zend_Auth::getInstance()->hasIdentity() && Zend_Auth::getInstance()->getIdentity()->type > 1) ? '' : ' margin-left: 0 !important;';?>">
        <section class="wrapper">
<!--mini statistics start-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading"><?php echo $this->translate->_("edit_scoring_points");?></header>
                    <div class="panel-body">
                        <div class=" form">
                            <?php $translate = Zend_Registry::get("Zend_Translate");?>
                            <form class="cmxform form-horizontal" id="commentForm" method="POST" action="" enctype="multipart/form-data">
                                <?php foreach ($this->settings['gamification']['actions'] as $key => $value):?>
                                <div class="form-group ">
                                    <label for="firstname" class="control-label col-lg-3"><?php echo ucwords(str_replace("_", " ", $value));?></label>
                                    <div class="col-lg-6">
                                        <input name="<?php echo $value;?>" type="text" class="form-control" value="<?php echo $this->data[$value];?>" required="" />
                                    </div>
                                </div>
                                <?php endforeach;?>                                                                                          
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <?php echo $this->element->id;?>
                                        <button class="btn btn-primary" type="submit">Save</button>
                                        <button class="btn btn-default" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>                            
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
        </section>
    </section>

</section>