
<li id="header_notification_bar" class="dropdown">                        
    <a  data-toggle="dropdown" class="dropdown-toggle dash_uurtt" href="#">
        <i class="fas fa-comments"></i>
        <span class="badge bg-warning"><?php echo count($this->notification); ?></span>
    </a>
    <ul class="dropdown-menu extended notification">
        <span class="notification-caret"></span>
        <li><p class="red"><?php echo sprintf($this->translate->_("msg_total_notifications"), count($this->notification)); ?></p></li>
        <?php foreach ((array) $this->notification as $key => $notification): ?>
            <li class="dash_ttrrer">
                <div class=" clearfix">
                    <span class=" notify-day"><?php echo $notification['date'] ?></span>
                    <?php if ($notification["image"] == "") : ?>
                        <img src="/resources/frontend/images/no-picture.jpg" alt="<?php echo $notification['firstname'] ?>" class=" notify-image dash_tdsf" />
                    <?php else : ?>
                        <img src="/resources/files/user/<?php echo $notification["image"] ?>" alt="<?php echo $notification['firstname'] ?>" class=" notify-image dash_tdsf" />
                    <?php endif; ?>
                    <a href="/users/admin/rate?id=<?php echo base64_encode($notification['id']); ?>">
                        <div class="noti-info">
                            <p class=" notify-type"><?php echo $this->translate->_($notification['message']); ?></p>
                            <p><strong><?php echo $notification['firstname'] ?> <?php echo $notification['lastname'] ?></strong></p>
                            <p><?php echo $notification['job_title'] ?></p>
                        </div>
                    </a>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
</li>